[2016-09-20 20:49] Tratcher commented on #268
Disabling dynamic compression via web.config is also relevant to ASP.NET Core, have you tried it?

[2016-09-20 21:01] mythz commented on #268
Beautiful, works a treat!

Had no idea we could still use Web.config in .NET Core, thx 👍

[2016-09-20 21:01] #268 closed

[2016-09-20 21:15] Tratcher commented on #268
All the stuff in system.webServer is for IIS, not ASP.NET, so it applies regardless. Only the system.web section was ASP.NET 4 specific.

[2016-09-20 22:28] Horsefight commented on #255
Did you find a solution to this?  Having the same problem

Cheers

[2016-09-20 22:34] Tratcher commented on #255
@Horsefight what does your published site layout look like?

[2016-09-20 22:37] Horsefight commented on #255
Are you wondering about anything in particular?  Everything seems to be in the wwwroot (i.e. the assemblies and the web.config, not the views).  I have unix, win, win7-x64 and win7-x86 in the wwwroot/runtimes folder

[2016-09-21 00:03] pan-wang commented on #266
I tried hosting asp.net core application on Win7 using IIS. It works after installing https://support.microsoft.com/en-us/kb/2533623 mentioned in https://github.com/dotnet/core-setup/issues/191. If you uses UNC, please make sure the identity of the application pool does have the access right to the corresponding share.

[2016-09-21 09:16] andersnm commented on #266
When App_Offline.htm is present in the root folder, the server returns the string "The service is unavailable." (HTTP status code 503) and not the contents of App_Offline.htm.

If I rename App_Offline.htm, our app runs fine (as served by Krestrel?). The FREB was captured with App_Offline.htm in place.

I have assumed we're seing a "real" 503 where some underlying service being unavailable, f.ex li

[2016-09-21 18:12] Tratcher opened #269 "ASP.Net 1.0 Core app - HTTP Error 502.3 - Bad Gateway in AspNetCoreModule ErrorCode: 0x80072efe"
_From @gradom on September 21, 2016 17:59_

I'm working on a .Net Core project for 4 months already. If I work in the "Debug" mode the application runs successfully  and publishing functions correctly. I published my project like the guidline on the asp.net core documentary: [https://docs.asp.net/en/latest/publishing/iis.html](url)

After starting the IIS, the application runs approximatily 5 sec.

[2016-09-21 18:22] pan-wang commented on #266
When you put app_offline.htm, you saw "The service is unavailable" from **remote** machine, right?
This is by-design as for security purpose IIS does not flow the error details. If you want to remote client see the 503 error details, you need to follow this blog to turn on detailed error. https://blogs.msdn.microsoft.com/benjaminperkins/2012/06/10/displaying-detailed-error-messages-in-iis/

[2016-09-21 18:56] halter73 commented on #245
@KLuuKer did you ever get around to testing the app without it being behind IIS? Are you able to get a memory dump from the application process when it is behaving poorly?

[2016-09-21 20:14] andersnm commented on #266
As described in the blog, I went to "Error Pages" in IIS, selected "Edit Feature Settings..." and changed from "Custom Error Pages" to "Detailed Errors". And now App_Offline.htm shows. Thanks for that tips.

I had expected App_Offline.htm would serve to all users without special configuration (in IIS 7.5?).

This basically solves the issue for me: Ultimately it doesn't matter what message is shown

[2016-09-21 23:10] Tratcher commented on #199
At least part of this is caused by the renderer in WelcomePage. https://github.com/aspnet/Common/pull/152. I'll get that fixed and re-test. wac-a-mole...

[2016-09-22 08:42] #267 closed

[2016-09-22 11:32] KLuuKer commented on #245
@halter73 i grabbed a azure vm and let our production load hit kestrel directly but to many request were slow or just took to long
so we had to abort it

[2016-09-22 17:54] dcarl1 commented on #252
@ZombiesWithCoffee I'm having the exact same issue except I'm using NET46 instead of ASPNET Core so I don't have the "Microsoft.NETCore.App" dependency.

Also, I've turned on stdoutlogging however the files are empty. Web.config looks fine:

`<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCor

[2016-09-22 18:00] ZombiesWithCoffee commented on #252
I don't see anything obvious yet.  You said that you had stdOutLog enabled, but you posted web.config with

        stdoutLogEnabled="false"

[2016-09-22 18:02] dcarl1 commented on #252
Ah sorry about that, I've been pushing a ton to try and debug this. It was enabled, and it does create the stdOutLog files but they are completely empty. Trying with the runtime piece right now to see if it does anything.

[2016-09-22 18:11] ZombiesWithCoffee commented on #252
A completely random untested shot in the dark...  Try fixing it like I fixed mine.  Replace

              "Microsoft.AspNetCore.Mvc": "1.0.1",

With

              "Microsoft.AspNetCore.Mvc": { "version": "1.0.1", "type": "platform" },

[2016-09-22 18:27] dcarl1 commented on #252
Good thought, but that seems to just break the public with a null reference error here:

C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Publishing.targets(149,5): Error : Object reference not set to an instance of an object.

`    <Publish
      RuntimeToolingDirectory ="$(SDKToolingDirectory)"
      ProjectFolder="$(MSBuildProjectDirectory)"
      Project="$(K

[2016-09-22 19:26] dcarl1 opened #270 "502.5 - Process Failure 0x80004005 Azure .NET 4.6"
ASP.Net MVC Core Application running on .NET 4.6 (full framework). Everything works locally, but when publishing to Azure via one click publish the following error occurs with the standard 502.5 - Process Failure message:

`Failed to start process with commandline '"D:\home\site\wwwroot\WebUI-New.exe" ', ErrorCode = '0x80004005'.`

I've enabled STDOut logging, it creates the log files - however th

[2016-09-22 19:27] moozzyk commented on #252
Did you check eventLog? Since stdoutLog is created I assume AspNetCoreModule is trying to do something so it should write failures to eventLog. Have you also tried running the application directly? - go to the folder where the application is published and try running it directly (I assume it will actually work - if it failed you would see something in the stdoutLog). Remember that IIS runs as a di

[2016-09-22 19:30] dcarl1 commented on #252
@moozzyk Yep. See:

https://github.com/aspnet/IISIntegration/issues/270

It's Azure so I don't really have any permission options AFAIK.

[2016-09-22 19:59] muratg commented on #270
When you run it locally, do you run Kestrel directly, or behind IIS?

[2016-09-22 20:04] dcarl1 commented on #270
@muratg Behind IIS Express using VS 2015 "run".

I did just try a dotnet run and got a different exception. I will research that a bit and report back.

[2016-09-22 20:57] dcarl1 commented on #270
Two more things:

- Using dotnet publish and IIS under Windows 10 x64 works fine (local computer)

- I published to a brand new azure website just to see, same result.

[2016-09-22 21:15] muratg commented on #270
Thanks @dcarl1. A couple more questions
- How do you deploy to Azure?  Kudu (git) or WebDeploy (VS)?
- If you're doing WebDeploy based deployment, can you make sure you're pushing 32-bit app? Azure App Service currently only supports 32-bit apps.

[2016-09-22 21:53] moander commented on #179
Installing redist for Visual Studio 2015 solved the problem for me on Windows Server 2012 R2

http://download.microsoft.com/download/8/c/b/8cb4af84-165e-4b36-978d-e867e07fc707/vc_redist.x64.exe

[2016-09-22 22:35] dcarl1 commented on #270
@muratg Thank you for the help!

I'm deploying via WebDeploy (VS). So I went down the 64/32bit road already a bit - it was indeed deploying a 64bit app, but I swapped the Azure setting to run 64bit apps - does this not work?

Anyways, I got it to deploy as a 32bit application:

**Project.JSON changes**

[code]

[code]

This allowed me to select 'win7-x86' as a target runtime in the publish profile

[2016-09-23 16:42] muratg commented on #270
I recommend trying to remove win7-x64 from the runtimes section.

65 bit ASP.NET Core apps are not supported on Azure Web Sites as of yet (even if you configure it on the portal.)  You shouldn't need to deploy .NET Core libs or SDK -- they're already installed on the server.

So recommendation -- make your app 32bit only, make sure it builds locally, and deploy.

Let me know how it goes!

[2016-09-23 17:47] moozzyk commented on #270
This is definitely true :trollface:

[2016-09-23 23:56] dcarl1 commented on #270
@muratg Just gave that a shot with no change. Work's locally but not on the server.

I'm starting to think this is related to something specific to our app rather then a config issue.

The first thing that comes to mind is app.config. We have a service reference in a different project that is expecting an app.config for its endpoint configuration. What are the chances that is causing Azure issues?

[2016-09-26 15:52] muratg commented on #270
@pan-wang do you know what this particular error code is?

[2016-09-26 22:45] saf-itpro opened #271 "JQuery in a View page stops working after ASP.NET MVC Core is puplished to IIS"
In my ASP.NET MVC Core project, the JQuery in the following view works fine on VS2015 (that uses IIS Express). But when the same app is published to IIS on the **same** developer machine (Windows 10) , it's not working. The JQuery code in the view below removes the $ and comma symbols from the input in `<td>@Html.EditorFor(r => r[i].SaleAmount, new { htmlAttributes = new { @class = "saleAmt" } })<

[2016-09-26 23:05] Tratcher commented on #271
@NTaylorMullen @rynowak? Maybe he's missing a publish setting in project.json?

[2016-09-27 01:06] pan-wang commented on #270
This 502.5 error means the service cannot started. Does you app read some config file itself? Could you please check whether the file was deployed to the right folder? The .exe must be in the same folder as the web.config per your web.config file.

[2016-09-27 02:10] NTaylorMullen commented on #271
@saf-itpro could you provide a simple repro project?

[2016-09-27 05:33] pan-wang commented on #269
It seems your app crashed and thus IIS logged 502 to windows event log. After crash, IIS will try to start your app process again for new request. This is why you saw some process start success.
For Stdout log warning, please make sure the folder 'logs' does exist. IIS won't create the folder for you.  If the folder does not exist, you will see that warning.

[2016-09-27 05:47] pan-wang commented on #261
I assume you call http://dns-or-hostname:8080  remotely. Be default, IIS disable error details for remote request. if you want detailed error message flew to remote client, you need to config iis custom error setting.  see this blog https://blogs.msdn.microsoft.com/rakkimk/2007/05/25/iis7-how-to-enable-the-detailed-error-messages-for-the-website-while-browsed-from-for-the-client-browsers/

[2016-09-27 06:51] gencebay commented on #261
Thanks! That takes care of that.

[2016-09-27 12:49] saf-itpro commented on #271
@NTaylorMullen I've added an UPDATE section in my post above. I'm working on creating a simple repo project for you, as well.

[2016-09-27 12:52] saf-itpro commented on #271
@Tratcher  I followed [this article](https://weblog.west-wind.com/posts/2016/Jun/06/Publishing-and-Running-ASPNET-Core-Applications-with-IIS) to publish the app to IIS.
**Could you please point out** where and what publish settings in project.json I need to change?

[2016-09-27 16:49] GuardRex commented on #266
@pan-wang Do you want to address this in https://docs.asp.net/en/latest/hosting/aspnet-core-module.html#asp-net-core-module-app-offline-htm ?

Safe: Explain that remote clients will receive a 503 Service Unavailable remote error page when the `app_offline.htm` file is in place, while local clients will receive the `app_offline.htm` page ... and leave it at that.

Less safe: Explain the bit about t

[2016-09-27 17:28] pan-wang commented on #266
It seems when user puts app_offline.htm, he does want pass the content to the remote client. I think we should change ANCM code to flow the content without asking user to config IIS error page setting.  If you all agree, I will add this into vNext release. @GuardRex @Tratcher @andersnm  @Shirhatti

[2016-09-27 17:40] GuardRex commented on #266
Cool, thx @pan-wang. @Rick-Anderson @spboyer let me know if we need something temporary there. I can add a "safe" explanation from my comment above if you like ... or maybe this issue isn't being raised enough to sweat it.

[2016-09-27 18:23] blowdart commented on #266
I'd be ok with serving the contents because in a lot of host environments won't let you set custom 503 remote errors. Also this would match the behaviour on asp.net 4.5 (I believe)

[2016-09-28 06:50] dcarl1 commented on #270
So... this was just a dumb little error (as most things that take several days to fix are).

In the app.config I had this line:

[code]

[2016-09-28 06:51] #270 closed

[2016-09-28 13:32] comburo opened #272 "Installing .NET Core 1.0.1 Windows Server Hosting fails with error 0x80072f76"
I'm installed the .NET Core 1.0.1 Windows Server Hosting on a VM, but it keeps failing with:
0x80072f76 - Unspecified error.

I've inlcuded the install log file.

[dd_DotNetCoreWinSvrHosting__20160928152049.txt](https://github.com/aspnet/IISIntegration/files/498142/dd_DotNetCoreWinSvrHosting__20160928152049.txt)

[2016-09-28 14:40] GuardRex commented on #272
I think that's the VC++ redist. Try a manual install from https://www.microsoft.com/en-us/download/details.aspx?id=53840 and run the installer again.

[2016-09-28 15:40] comburo commented on #272
Yes, that fixes it.
This was on a Windows Server 2012 R2 VM. Shouldn't the installer at least tell the user this is a required dependency and offer a link where to download it from?

[2016-09-28 15:48] GuardRex commented on #272
@joeloff will prob be able to say. This comes up from time-to-time, mostly when the machine doesn't have an Internet connection. The installer was fetching the VC++ redist from the Internet, so that would go sideways with no connection.

I currently have this listed in the Publish to IIS doc's Common Errors section, but I don't have it in the ANCM doc at https://docs.asp.net/en/latest/hosting/aspn

[2016-09-28 15:54] joeloff commented on #272
The VC redist requirement is a 3rd level dependency that comes from the CLI installer. The ideal fix is that the CLI that ships with the server bundle should have an embedded copy of the vc redist. I'll raise this again.

[2016-09-28 15:57] GuardRex commented on #272
@joeloff ... then I'll hold off on sweating a doc update anywhere. I'll keep an eye out for an issue where you're working on bundling it.

[2016-09-28 16:01] comburo commented on #272
@GuardRex: The thing is, the VM does have a working internet connection. So if the installer wanted to download the VC++ redist, it should have been able to.

I got instructions on this package from https://docs.asp.net/en/latest/publishing/iis.html
That page also links to the page you mentioned and I viewed that as well.

I found the page through googling (https://www.google.nl/search?q=install+a

[2016-09-28 16:04] comburo commented on #272
Just noticed @joeloff comment. Which makes it kind of ironic, since I didn't even want to install the full Core framework, just the IIS handler. I'm creating a self-contained application, so I was looking for a download of just the ACNM. I did found how to do this, by providing a command-line parameter to the installer, but a separate download is much more easy to discover in my opinion.

[2016-09-28 16:09] joeloff commented on #272
@GuardRex It won't be a change we'll make. It will have to come from the CLI owners, but I'll raise the issue with them again. The alternative is that we simply add it to the hosting bundle, which might be simpler.

[2016-09-28 16:11] GuardRex commented on #272
@joeloff Ok, I'll keep an eye out either way so I'll know if I need to beef-up those two docs.

@comburo

Interesting. There is another failure scenario at play then.

Thanks for letting me know on the docs you visited. I have it in the Common Errors section but not in the ANCM doc, and the language of a failure may have changed since I wrote that bit.

I'm going to wait and see how @joeloff fares

[2016-09-28 16:21] muratg commented on #270
Glad to hear!

[2016-09-28 16:50] Tratcher commented on #272
There was an issue recently with the redist download link embedded in the .NET Core 1.0.1 installer. I'm told they're rebuilding the installer. https://github.com/dotnet/cli/issues/4190

[2016-09-28 16:57] joeloff commented on #272
The CLI was rebuilt and we're rebuilding the server hosting bundle. The CLI installer was using an FWLINK to locate the VC redist. When VS shipped it's latest update (3.5), the FWLINK was updated so on clean installs the CLI will fail because it's expecting an older copy of the VC redist and the file hash no longer matches.

The fix only addresses the file hash issue, the VC redist is still an ext

[2016-09-28 19:40] saf-itpro commented on #271
@NTaylorMullen Per your request, I've added a simple repo project [here](https://github.com/saf-itpro/DeploymentIssue). You'll need to change connection string in `StartUp.cs` and `appsettings.json` files. The View that has `Jquery` code in question is: `Views\DbRelated\SalesAmount.cshtml`

[2016-09-28 20:20] rockdalegreen opened #273 "IIS 502.5 Error"
I tried to publish my dotnetcore web api appliction to IIS and got IIS502.5 error.

I create my REST api following this doc
https://docs.asp.net/en/latest/tutorials/first-web-api.html

I can run it within Visual Studio then call the REST service successfully.

I can also run it in command line
dotnet todoapi.dll and call the REST service successfully.

But when I publish and deploy to the IIS serv

[2016-09-28 20:52] moozzyk commented on #273
Probably dotnet is not on the %PATH% or you did not restart your server after adding dotnet folder to the system wide %PATH%

[2016-09-28 23:10] NTaylorMullen commented on #271
@saf-itpro I gave your repro a shot. I was able to publish and run via Kestrel directly (`dotnet DeploymentIssue.dll`) but ran into unrelated issues when trying to boot the application with IIS. I didn't want to setup a DB so tried to use LocalDB with IIS. Wholllle host of other problems to tackle there.

I'd be willing to invest more time if you were to modify your reproduction steps to not inclu

[2016-09-29 01:51] saf-itpro commented on #271
@NTaylorMullen Thank you for trying. But the issue is related to Db (Jquery removes formatting from user input before input is submitted to Db). How you think I should try without using Db? Or, maybe, you mean create a repo with LocalDb instead, correct?

[2016-09-29 03:38] Tratcher commented on #271
Jquery doesn't directly interact with the database, it goes through an MVC controller. It would help if you could stub out the controllers with static data so we don't need the database piece.

[2016-09-29 06:01] MarkOsborneMS commented on #237
I hit this problem after upgrading from 1.0.0-rc1-update2 to 1.0.0-preview1-002702. Running `nuget locals all -clear` fixed the problem for me too.

[2016-09-29 12:17] rockdalegreen commented on #273
Hmm, I checked my system path, dotnet is there.
![image](https://cloud.githubusercontent.com/assets/22506599/18953454/86b9f40e-861c-11e6-9400-c175123b9260.png)

also I can run dotnet.exe in command line
![image](https://cloud.githubusercontent.com/assets/22506599/18953496/c3fec33a-861c-11e6-87a1-00bcada7b72d.png)

and successfully access the REST API from REST Client
![image](https://cloud.githubu

[2016-09-29 13:56] shanepask commented on #245
We had this issue and it wasnt IIS related, we managed to recreate by holdind Ctrl+F5 on chrome.

Our setup was to call an API service using an HttpClient, this seemed to create persisted connection to the API that caused it to grind to a halt and the thread count to rise.

Investigation revealed that the underlying connections seem to remain open until a response was generated even if the connect

[2016-09-29 15:04] gradom commented on #269
Thank's for your assisting response. The solution regarding the logging issue helped me a lot. I was able to log the error in the app and so I managed to sort out the problem.

[2016-09-29 19:08] moozzyk commented on #273
I actually think this is this: https://github.com/aspnet/IISIntegration/issues/256 (which is IIS cannot find dotnet.exe and hence 0x8007002 which is FILE_NOT_FOUND)

[2016-09-29 22:57] saf-itpro commented on #271
@Tratcher  and @NTaylorMullen It seems the issue is related to two submit buttons (for different purposes) for the same POST action in my app. When I hit one submit button I'm posting back all of the data in the form and the model expressions are actually bound to the model state with that posted data. In my repo app with one submit button the Jquery issue is working fine. So, I may have to either

[2016-09-29 22:57] #271 closed

[2016-09-30 01:50] GuardRex commented on #273
@moozzyk It's a similar result if the AppPool user identity can't access it, right? I think that was one of the failure scenarios that had a similar behavior to what @rockdalegreen reports.

[2016-09-30 03:03] muratg opened #276 "1.1.0-preview1"

[2016-09-30 03:03] #276 closed

[2016-09-30 14:51] rockdalegreen commented on #273
I am sorry I could not get back to you guys earlier. After I restart my machine. Everything works fine now.  Thank you for your help.

[2016-09-30 21:36] #273 closed

[2016-09-30 22:32] moozzyk commented on #273
@GuardRex - I don't think so. @danroth27 hit permissions issues yesterday and AFAIR the HRESULT was different.

[2016-10-01 00:24] GuardRex commented on #273
@moozzyk I'll prob need to revise the troubleshooting advice on that one on my next doc review. My plan is to break it on every common error and confirm the exception messages and the advice.

I was planning to wait a bit more for 1.1 to land so that I can deal with the  MSBuild/csproj changes at the same time that I address the common errors section, unless I hear this is important to do now from

[2016-10-01 00:42] Rick-Anderson commented on #273
No hurry

[2016-10-02 13:27] rave1502 opened #277 "Publish fail with "Could not load file or assembly 'Microsoft.DotNet.ProjectModel""
In Visual Studio 2015 Update 3, create any "Net Core Web Application (.Net Framework)" project. While publishing it on azure we get the following error:
**_Could not load file or assembly 'Microsoft.DotNet.ProjectModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified._**

project.lock.json has following entry
[code]
 Fresh boilerplate p

[2016-10-03 10:01] KLuuKer commented on #245
@Tratcher  @DamianEdwards @pan-wang @halter73 guys can we please get some private unsupported beta builds, we are recycling the app pool every 30 minutes its getting crazy

[2016-10-03 15:33] wpostma commented on #245
I had a strange "IIS falls over" occur today where the entire app pool broke at startup, and the app pool didn't even start.

[2016-10-03 17:22] natemcmaster commented on #277
@rave1502 this likely means there was an error restoring your project.json file. What is in your project.json file? Are you using NuGet.config to point to custom sources? Which version of dotnet-cli are you using? (run `dotnet.exe --info`)

Also, try deleting `%USERPROFILE%/.nuget/packages/.tools/Microsoft.AspNetCore.Server.IISIntegration.Tools` and restoring again.

[2016-10-03 17:26] moozzyk commented on #273
I think common errors are related to runtime while MSBuild is design time + publishing. As a result I don't think the common errors section will be much different from what it looks like now. I also think that it may be easier to review if the two are done separately.

[2016-10-03 17:30] GuardRex commented on #273
The advice on some of them involves checking things in the project that might change ... e.g., `buildOptions` and `publish-iis` tooling. There are only a few of them. It will be a little easier on my scheduling if I block out two days and just concentrate on the doc exclusively. I'm a little buried in :heart: Xamarin :heart: code at the moment.

[2016-10-03 17:47] Tratcher commented on #199
I can no longer reproduce this after fixing the issue in the Welcome page. @koistya let us know if you're able to reproduce this with pages other than hose from the Diagnostics components.

[2016-10-03 17:47] #199 closed

[2016-10-03 17:57] rave1502 commented on #277
@natemcmaster following dotnet-cli is in use on my system:

[code]
On my machine there was one old project created with dotnet 2015 update 1 or 2 was working fine, so did a quick file diff, the following line has done the trick:
[code]
The original project.json has only this entry:

[code]

I guess `"imports": "portable-net45+win8+dnxcore50"` was missing.

[2016-10-03 18:01] natemcmaster commented on #277
You should not need "imports" for preview2. The original project.json entry is the correct syntax for the latest version of the tool. See https://docs.asp.net/en/latest/publishing/iis.html#publish-iis-tool.

[2016-10-03 18:11] rave1502 commented on #277
@natemcmaster Ok. deleting and restoring package `%USERPROFILE%/.nuget/packages/.tools/Microsoft.AspNetCore.Server.IISIntegration.Tools` helped. I am able to publish profile now.

Thanks for your help.

[2016-10-03 18:12] #277 closed

[2016-10-03 21:49] halter73 commented on #245
https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json Is the nightly feed. A memory dump from when an app is in a bad state would be helpful for finding the root cause.

[2016-10-03 22:12] pan-wang commented on #245
@shirhatti could you please help to pass the ANCM private bits?

[2016-10-03 22:13] pan-wang commented on #266
the change has been checked in

[2016-10-04 10:24] deadZedd commented on #252
I have the same 502.5 error (when using dotnet461), heres a repro:

File > new ASP.NET Core 1 > Empty project

Build > Publish > Azure with default settings > Outputs Hello world! correctly

Change project.json to contain:

[code]

And remove "Microsoft.NETCore.App" reference. (This is the same as starting a new blank Core 1 project on .Net Framework)

Build > Publish > Azure with default settings

[2016-10-04 10:48] ZombiesWithCoffee commented on #252
When publishing, do you have 'Remove additional files at destination' checked in the 'Settings' area of the publish window?

I literally went into my azure server and deleted every single assembly one at a time.  Was the only way I got around the 502.5 error.

[2016-10-04 11:04] deadZedd commented on #252
@ZombiesWithCoffee ive tried with a checked "remove additional" files for all my slots with a clean core 1 project without luck. From you suggestion ive created a new webapp in azure and publishing to that works, so I obviously cant trust the "remove files" option. How did you clean you server? Via ftp?

[2016-10-04 11:18] ZombiesWithCoffee commented on #252
I'm embarrassed to say that I went into 'Server Explorer' via Visual Studio and manually deleted the files one at a time.  It was therapeutic.  I'm positive that there is a much better way to do it.

[2016-10-04 16:15] danjford opened #278 "User.Identity.Name is null"
Hi,

When running my application in Visual Studio 2015, I can access my User's Name by using User.Identity.Name.

However, when I publish my application using `dotnet publish -c release` and run the resulting `.exe` from the publish folder, my application loads but `User.Identity.Name` is null which causes issues in parts of the system.

On publish my project has the same config as [aspnet/Javascr

[2016-10-04 16:38] moozzyk commented on #252
I found that when you change frameworks in your project.json and republish the application to Azure (the same location/slot) the publish tool won't replace dlls at the target location if the names are the same. As a result you end up with stale dlls and you application won't work because after you have changed the framework it needs different versions. So yes, if you change the target framework yo

[2016-10-04 17:12] Tratcher commented on #278
Windows auth requires IIS/Express (or WebListener). When you run the exe directly from the folder it does not run IIS/Express, only Kestrel. Also, launchsettings only apply inside of VS. Run your site in IIS with WindowsAuth enabled.

[2016-10-04 17:20] danjford commented on #278
Ok, but the user also seems to be null on the `Windows 2008 R2` server where the Authentication settings have been set up to have `Windows Authentication: Enabled` and `Anonymous Authentication: Disabled`

[2016-10-04 17:22] Tratcher commented on #278
Inside IIS you mean?

[2016-10-04 17:24] danjford commented on #278
In the IIS Manager, yes.

[2016-10-04 17:29] Tratcher commented on #278
Make sure `forwardWindowsAuthToken="false"` is enabled in the web.config
https://github.com/aspnet/JavaScriptServices/blob/dev/templates/Angular2Spa/web.config#L12

[2016-10-04 17:32] danjford commented on #278
This is what my web.config looks like:

[code]

[2016-10-04 21:39] natemcmaster commented on #258
This work is mostly done. @vijayrkn touched up the code from #260. Additional work tracked on aspnet/aspnetpublishtargets.

[2016-10-04 21:39] #258 closed

[2016-10-04 22:27] GuardRex commented on #266
@pan-wang The documentation matches the change you made ...

... so I think we're all good there.

[2016-10-04 22:55] pan-wang commented on #266
@GuardRex Agreed.

[2016-10-05 17:35] danjford commented on #278
Have had a further look and this may have been caused by configurations in another library affecting this, I will investigate further.

[2016-10-06 09:19] KLuuKer commented on #245
@halter73 i have a dump with about 100+ active requests (iis perf counter)
send me a DM on https://twitter.com/KLuuKer

i will give a onedrive link and a password for the zip that has the dump

[2016-10-10 13:36] mkosieradzki opened #279 "AppPool recycling or stopping does not perform graceful shutdown"
Whenever application pool is stopped or recycled - process is terminated without graceful shutdown.

I have noticed that graceful shutdown has been introduced for scenarios including app_offline ( #20, #81  ) . However not for simple app pool recycle. This is a problem because scheduled server restart or even simple recycling are preventing graceful shutdown logic.

I am fully aware that web appli

[2016-10-10 18:20] tom-cognify opened #280 "IIS integration issue - 500 error"
I have an ASP.NET Core MVC app that works fine on several win 2012 R2 servers. I just added a 3rd server to our farm and it only shows blank screen, returning 500 internal server error.  There are no errors in the windows event log and the stdout logging shows the process starting normally

Hosting environment: Production
Content root path: C:\inetpub\wwwroot\myapp
Now listening on: http://localho

[2016-10-10 18:27] Tratcher commented on #280
Have you tried turning on application/disk logging (`stdoutLogEnabled=”true”`, log folder) or the DeveloperExceptionPage (see Diagnostics)?

[2016-10-10 18:37] tom-cognify commented on #280
I do have stdoutLogEnabled, it just shows the app starting up normally, I included the log entry above...
I'll have to redeployed a Debug build to use the DeveloperExceptionPage...Is there some specific way to use that? or just deploy and see if I get different behavior with that enabled?

[2016-10-10 18:40] Tratcher commented on #280
DeveloperExceptionPage should render a detailed error rather than a blank 500 page

[2016-10-10 18:54] tom-cognify commented on #280
I redeployed a debug build, but I'm still seeing in my log that it thinks the Hosting environment is Production, how do I set this?

[2016-10-10 19:01] Tratcher commented on #280
DeveloperExceptionPage doesn't directly depend on the environment, are you checking the environment in the Startup (like the template app)?
You have to an environment variable `ASPNETCORE_ENVIRONMENT=Development`. One of the easier places to do this is in the web.config http://stackoverflow.com/a/39903673/2588374

[2016-10-10 19:07] tom-cognify commented on #280
yes, I did have it conditionally adding it for development...I just pulled it out so it always adds it in startup. I also set the environment variable to development, but still same behavior. Looking at the response headers on the 500, it does say it is coming from Kestrel...

[2016-10-10 19:10] Tratcher commented on #280
Hmm, let's try something different. Is the ConsoleLogger enabled in your app?
https://github.com/aspnet/BasicMiddleware/blob/dev/samples/ResponseCompressionSample/Startup.cs#L71-L74
Then check the log file.

[2016-10-10 19:19] tom-cognify commented on #280
I found it...I was calling app.UseSession() before app.UseDeveloperExceptionPage(), I switched the order and then starting getting errors. Data Protection Keys are configured on a file share and the new server did not have access to the share.

its always the little things that get you :)

Thanks so much for your help.

[2016-10-10 21:52] #280 closed

[2016-10-11 11:01] andersnm opened #281 "IIS 7.5 + App_Offline.htm rapid rename - app not always reloading"
I have twice seen our app won't come back properly after quickly moving App_Offline.htm in and out of the app root, f.ex when updating a single dll or aborting a deployment. The workaround is simple, but still an annoyance.

This is an ASP.NET Core 1.0 RTM app targeting net451 hosted on Windows 2008 R2/IIS 7.5/ANCM. ANCM was installed with "DotNetCore.1.0.1-WindowsHosting.exe OPT_INSTALL_REDIST=0"

[2016-10-11 15:19] Tratcher commented on #281
@pan-wang this may be related to the issue with loading the config for the wrong site.

[2016-10-11 21:05] pan-wang commented on #235
as scanning the variables are quite expensive, I changed the order of importing the environment variables, i.e., import user defined one first and then system ones. This will allow user to overwrite the system ones. The fix was checked in. It will be available at next release.

[2016-10-11 21:15] pan-wang commented on #279
changed the process shutdown logic. It will try the best effort to send ctr-c signal to the backend process before recycling.

[2016-10-11 21:24] pan-wang commented on #214
On 64bit Windows OS, you have both 32-bit and 64-bit ANCM binaries installed. Running 32-bit apppool should not be a problem. Some people did see 32bit apppool failure after OS upgrade. This is due to a bug inside IIS/OS upgrade.That is 32-bit ANCM as well as other IIS OOB binaries got removed from wow64 follder after OS upgrade.

[2016-10-11 21:53] mkosieradzki commented on #279
WOW, thanks @pan-wang, that's really big for me! I was sure it's more by-design issue! When can we expect the new module version to be available in official channel?

[2016-10-12 08:23] halter73 commented on #245
@KLuuKer I sent you a DM. Did you see it?

[2016-10-12 08:50] KLuuKer commented on #245
@halter73 yes, gave you a reply
sorry i didn't see it sooner twitter isn't great at showing you have unread messages

[2016-10-12 11:44] KLuuKer commented on #245
@halter73 please keep the dump need to know as it can contain private data that should not be shared

[2016-10-12 16:54] #231 closed

[2016-10-12 16:55] Tratcher commented on #231
@pakrym can you check WebListener as well?

[2016-10-13 23:25] halter73 commented on #245
@KLuuKer Do you have a VS ultimate license? If so, I highly recommend taking a look at your minidump using [VS's Debug Managed Memory feature](https://msdn.microsoft.com/en-us/library/dn342825.aspx?f=255&mspperror=-2147217396#Anchor_4). If not, you can use WinDbg and Sos with the !dumpheap and !clrstack commands to get the same info, but far less conveniently.

If you do this, I would first take a

[2016-10-14 07:06] KLuuKer commented on #245
@halter73 I would have never guessed that my code would get "deadlocked" by threadpool starvation.
I have made some emergency hotfixes to the code and it's running super now, no more "hangs" with 0% cpu.

The Parallel Stacks window one of the many many options in visual studio i totally forgot about, yes looking at it made it very clear where the problem was in my code.

Thank you very much for th

[2016-10-14 08:33] b0bi79 opened #283 "ASP.NET Core 1.0.1 on IIS fails with HTTP Error 502.5 - Process Failure"
Hello.
I get HTTP Error 502.5 - Process Failure. After added disableStartUpErrorPage="true" stdoutLogEnabled="true" in the web.config, I get HTTP Error 502.3 - Bad Gateway.
Windows event log: Process was created with commandline '"C:\inetpub\wwwroot\VernoPortal\Verno.Reports.Web.exe" ' but either crashed or did not reponse within given time or did not listen on the given port '13417', ErrorCode =

[2016-10-14 14:31] csharmath commented on #245
@KLuuKer @halter73 @DamianEdwards @davidfowl

First of all, really interesting thread - love to see how it unfolded and resolved.

I've seen struggles like this many times in various situations and it feels like that the analysis of IIS/ASP.NET hang or high CPU is often seen as black magic requiring "complex / hard to remember" tools such as windbg so many won't do it / won't invest the time they

[2016-10-14 17:30] Tratcher commented on #283
https://docs.asp.net/en/latest/publishing/iis.html#common-errors
https://docs.asp.net/en/latest/hosting/aspnet-core-module.html#asp-net-core-module-configuration-examples

[2016-10-14 23:11] Tratcher commented on #75
Closing this as it appears to be an external issue with WindowsIdentity or WinHttpHandler. See dotnet/corefx#9996. We can revisit it if they conclude otherwise.

[2016-10-14 23:11] #75 closed

[2016-10-14 23:16] divega opened #285 "Json Serializer ReferenceLoopHandling Issue?"
_From @chrisckc on October 5, 2016 6:35_

Hi,
I think i may have found an issue when using ReferenceLoopHandling.Error (which seems to be the default), in an MVC Web Api that i am working on. In my scenario i tried loading an entity and its related set of nested entities using the .Include() syntax. I then outputted the set of nested entities in the controller and did not see the result i expected

[2016-10-14 23:16] divega commented on #285
_From @gdoron on October 5, 2016 6:41_

It really has nothing to do with EF.
You can mimic the same thing with arrays and"normal" instances.

[2016-10-14 23:16] divega commented on #285
_From @chrisckc on October 5, 2016 17:10_

Indeed you can but that's not the point, it may well have nothing to do with EF, more likely just MVC, i don't know enough about it to comment any further on that.
The point is that JsonConvert.SerializeObject correctly throws an exception but MVC seems to be swallowing it and outputting an OK status code with a truncated Json representation which surely

[2016-10-14 23:16] divega commented on #285
@glennc does the last comment sound familiar?

[2016-10-14 23:16] divega commented on #285
Just to follow up on this: The reason I pinged @glennc is that he had mentioned to me some issue in ASP.NET Core (which was presumably already fixed in recent builds) could cause this exception to be swallowed, and I was reminded of that by this paragraph:

CC @rynowak as well in case it rings a bell for him.

Other than this, @gdoron already correctly mentioned that this is not really an issue wi

[2016-10-14 23:16] divega commented on #285
_From @chrisckc on October 10, 2016 21:23_

So this won't be an issue in v1.1 meaning i will see an exception rather than partial a Json representation?
When is v1.1 due to be released?

[2016-10-14 23:16] divega commented on #285
@chrisckc I talked to @glennc in person. The issue with the exception being swallowed is actually still being worked on: https://github.com/aspnet/IISIntegration/issues/39.

[2016-10-14 23:16] divega commented on #285
_From @chrisckc on October 11, 2016 2:36_

Thanks @glennc, I noticed your comment in the issue you just referenced, i just want to add that i am developing and running my .NetCore WebApi experimental app on a Mac using VSCode.
I really like the new cross platform abilities!

The project was generated using the yeoman aspnet WebApi template (2 or 3 weeks ago), default config using Kestrel etc.
This

[2016-10-14 23:16] divega commented on #285
@chrisckc so if I understand what you are saying, you suspect this could be an outstanding issue with Kestrel? Similar issues were previously discussed in https://github.com/aspnet/KestrelHttpServer/issues/341#issuecomment-155245802 but they are believed to be resolved. Definitively create a new issue or comment in one of the existing issues in one of those repos (whichever seems the most appropri

[2016-10-14 23:16] divega commented on #285
_From @halter73 on October 11, 2016 19:30_

@chrisckc I think part of the problem is that the exception that is occurring happens after your controller action returns it's ActionResult.

For efficiency reasons, `return Ok(dogs);` doesn't block waiting for `dogs` to be serialized or for the response to be written, so by the time the exception is thrown during serialization it's too late for an exce

[2016-10-14 23:16] divega commented on #285
_From @chrisckc on October 12, 2016 1:18_

@glennc yes, my understanding is that when running the app in VSCode on a Mac the requests just go direct to Kestrel rather than proxied through IIS when using VS 2015 on windows. Ill provide a demo soon.

@halter73 I am using the developer exception page but it only seems o pickup out of band exceptions so doesnt see exceptions inside the controller meth

[2016-10-14 23:16] divega commented on #285
_From @glennc on October 12, 2016 18:22_

@chrisckc Your understanding is correct. You aren't being proxied when you just run from the terminal on your Mac. So the IIS issue isn't biting you here.

[2016-10-14 23:16] divega commented on #285
_From @chrisckc on October 13, 2016 5:15_

Ok, here is a repo that demonstrates the issue, no EF in this, just an in-memory objects implementation based on the TodoApi from the aspnet documentation with a few extras.

[https://github.com/chrisckc/TodoApiDemo](https://github.com/chrisckc/TodoApiDemo)

Refer to the notes in readme.md to see how to reproduce the issue.

@halter73 I forgot i was using

[2016-10-14 23:16] divega commented on #285
_From @halter73 on October 13, 2016 23:40_

The likely issue with the DeveloperExceptionPage for this exception is that it happens after a response is partially written. At that point it isn't possible to write a developer exception page since the response is already corrupted.

[2016-10-14 23:16] divega commented on #285
_From @chrisckc on October 14, 2016 0:25_

Just cloned my demo repo to my Windows VM and found that the behaviour is the same, with the same output in the console log.
Note that VS2015 is unable to restore the packages, seems to be due to issue: `dotnet/cli/issues/4248`
so you have to use `dotnet restore` from the command line instead.

@halter73 I think that writing the response before it is know

[2016-10-14 23:16] divega commented on #285
_From @halter73 on October 14, 2016 0:26_

@chrisckc I tried your TodoAPI demo. It looks like you are indeed running into aspnet/IISIntegration#39. If you hit Kestrel directly, you get an invalid response. When I tested I had Kestrel running directly on port 5000 and IIS running on port 12345.

This is what I see when calling the `Invoke-WebRequest` powershell commandlet on both endpoints:

![imag

[2016-10-14 23:16] divega commented on #285
@halter73 is it actionable though? I would like to move this issue to a repo where it can be addressed. Any clue where it should belong?

[2016-10-14 23:16] divega commented on #285
_From @halter73 on October 14, 2016 0:33_

@divega  https://github.com/aspnet/IISIntegration/issues/39 is actionable. I think that's the biggest issue brought up and should be fixed ASAP.

It can certainly see how it can be problematic, but as you mention it's a trade off. For small objects it probably would make sense to pre-serialize, but we've had customers send multi-megabyte JSON objects in w

[2016-10-14 23:16] divega commented on #285
_From @chrisckc on October 14, 2016 0:43_

@halter73 I can confirm i have just observed the same behaviour you described running on Windows, the response shows an error in chrome dev console from Kestrel but not IIS.

I checked the chrome developer console on my Mac and can also see the ERR_INCOMPLETE_CHUNKED_ENCODING, i had not noticed that before as i have been using postman on my Mac (no fiddle

[2016-10-14 23:16] divega commented on #285
_From @chrisckc on October 14, 2016 0:52_

@halter73 @divega  Ideally i would like the behaviour to be configurable, maybe on a per controller basis so at least we have the option for complete reliability. For small payloads i suspect the performance difference will be negligible, large payloads should not be an issue in theory as a well designed Api should not be attempting to send large payloads

[2016-10-14 23:16] divega commented on #285
_From @halter73 on October 14, 2016 21:45_

@chrisckc

This isn't a per-controller configuration, but it looks like https://www.nuget.org/packages/Microsoft.AspNetCore.Buffering/ might give you what you're looking for. This won't cause the exception to be raised from inside the Action method, but this will allow for the response to be rewritten to a 500 (whith the DeveloperExceptionPage if that's

[2016-10-14 23:19] divega commented on #285
I moved this to live alongside #39 based on @halter73's comments and to prevent further spamming on the EF repo :smile:

I assume you will want to close it as a duplicate.

[2016-10-14 23:33] Tratcher commented on #285
Yes, this is a duplicate of #39. Also, the JSON serializer shouldn't be closing out the brackets in exception scenarios. Is there a separate MVC issue for that?

[2016-10-15 13:16] b0bi79 commented on #283
@Tratcher Thanks Chris. By common-errors guide I shoud call the .UseIISIntegration and .UseUrls() extension method positioned before the .UseIISIntegration(). Here my middleware:
[code]
And I have issue only on Windows Server 2008 R2. On my develop computer with Win7 IIS works fine.

[2016-10-16 21:24] davidfowl commented on #245
An analyzer might help identify some bad coding patterns earlier as well (like using Task.Result 😄).

[2016-10-17 05:37] robertmclaws commented on #245
@shanepask FYI HttpClient is a static instance internally, so if you are not reusing the instance, or calling Dispose() on it (as all Microsoft's docs tell you to do, so don't feel bad), you're likely running into this issue: http://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

How we solved it was to use DI to inject a shared HttpClient instance into all of my controllers. Then, before

[2016-10-17 14:54] TheDenys opened #286 "Painfully slow server performance on ASP.NET Core 1.0.1 in IIS"
ASP.NET Core application targeting .NET 4.5.2 is performing very poorly on Windows Server 2012R2 running under IIS.

[2016-10-17 15:00] rynowak commented on #286
Can you share more information about what you mean by *performing very poorly*? Specifically what kind of performance data are you looking at.

 I'm afraid we can't investigate this without an example of the app in question and a description of what the client is doing.

[2016-10-17 15:03] rynowak commented on #285
JSON serialization in MVC is JSON.NET, we don't control what it does :laughing:

[2016-10-17 15:29] TheDenys commented on #286
Every page takes ~30 seconds to load. I left the About page pretty much untouched from the template generated by Visual Studio, end even it loads about 30 seconds.
First page load takes even longer - ~45 seconds.

Here's web config:
`<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule"

[2016-10-17 17:56] Tratcher commented on #285
Filed https://github.com/aspnet/Mvc/issues/5413 to deal with the MVC/JSON issue. Closing this one out.

[2016-10-17 17:56] #285 closed

[2016-10-17 19:04] alex-gausman opened #287 "Installing .NET Core 1.0.1 Windows (Server Hosting) fails with error 0x80070643"
Hello,

I'm trying to install .NET Core 1.0.1 Windows Server Hosting on Windows Server 2012 R2, but keeps failing with error code 0x80070643. Tried many things: checked SYSTEM permissions on C:\ProgramData, ran the .NET Repair Tool, installed VC++ Redist. Nothing seems to have worked. Has anyone else encountered this error?

Attaching the log: [log.txt](https://github.com/aspnet/IISIntegration/fil

[2016-10-17 20:31] #287 closed

[2016-10-17 20:32] alex-gausman commented on #287
Realized the issue was caused because of our shared IIS config.

[2016-10-17 22:59] chrisvanderpennen commented on #35
I've been able to consistently reproduce this with ASP.Net Core Module v7.1.1967.0 by publishing https://github.com/chrisvanderpennen/ancm-crash-repro to Server 2008 R2 in an app pool configured for:

* No Managed Code
* Idle timeout 0 minutes
* Scheduled recycle 1 minute
* All other settings at default

and repeatedly fetching the response as it recycles.

[2016-10-18 00:24] pan-wang commented on #35
@chrisvanderpennen  I will give a try of you repro steps and then update the thread

[2016-10-18 08:53] TheDenys commented on #286
Hi Ryan,
The super slow page load happens only when i visit pages from the **same machine**.
I tried to access web pages and WebAPI endpoints from a remote machine and response time is just normal (under 1 second). I tried on 2 identical machines with Server 2012R2. I was not able to gain W2K8 machine for tests. On development machine with Win7 x64 the site performs with no issues. Looks like a sp

[2016-10-18 08:53] #286 closed

[2016-10-18 13:26] rockdalegreen opened #288 "Question: Passing through caller windows credential?"
Hi, All:
We are creating a dotnetcore REST web api that hosted in IIS. A wpf client will be calling this REST Web API. Also, this REST web API needs to call a couple "traditional" WCF services and ASMX services.  this REST web api needs to know caller's credential and pass that information to the WCF/ASMX services.  But I somehow could not get this working.  Here is a similar question asked https:

[2016-10-18 15:03] davidfowl commented on #288
Settings in the system.Web section don't apply to ASP.NET Core. @Tratcher wrote up a summary here:

https://github.com/aspnet/IISIntegration/issues/75#issuecomment-230927600

You also need to set `forwardWindowsAuthToken=true` in web.config.

[2016-10-18 21:49] JunTaoLuo opened #289 "publish-iis on 1.1.0 runtime"
Since we didn't anticipate any changes to the dotnet tool publish-iis, we have removed it from this repo and do not plan to ship any newer package in the future. However, when upgrading web applications to netcoreapp1.1 with all 1.1.0 dependencies, restoring for the publish-iis tool and trying to use it will fail and output the message.
[code]

 This is because the publish-iis tool itself has a de

[2016-10-18 21:53] muratg commented on #289
@natemcmaster thoughts?

[2016-10-18 21:57] natemcmaster commented on #289
We should releasing a version for the 1.1 runtime. The people who will hit this are people trying .NET Core for the first time. There is like a 0% chance they'll figure out how to [install the 1.0.0 shared framework.](https://github.com/dotnet/cli/blob/7da6ee032572b796e2b0d9c6a89072fdf6e060fd/scripts/obtain/dotnet-install.ps1#L32-L34)

[2016-10-18 23:54] natemcmaster commented on #289
Resolved in #290.

[2016-10-18 23:54] #289 closed

[2016-10-19 07:36] arthis commented on #283
Same thing here. Running dotnet  myLibrary.dll works fine

[2016-10-19 10:21] BillDines opened #291 "I can't get the recycleOnFileChange element in web.config to work"
I want IIS to restart my asp.net core app if my appsettings.myEnvironment.json file changes.  I think this should be possible using the recycleOnFileChange element in my web.config file as follows:

[code]

Unfortunately this doesn't seem to have any effect.  I can't find much in the way of documentation or samples for using recycleOnFileChange.  Should it be working?  If so, what am I doing wrong

[2016-10-19 13:42] rockdalegreen commented on #288
Ok, It took me sometime but I finally figured out.
First issue, this.User.Identity and HttpContext.User.Identoty returns null.
When I switch AspNetCore.Mvc, AspNetCore.Routing from 1.0.1 back to 1.0.0. It is working. Not sure what changes in the new version causes the problem. Here is the dependencies part of the project.json file.

Not working one:

  "dependencies": {
    **"Microsoft.AspNetCore

[2016-10-19 16:28] GuardRex commented on #291
@shirhatti has implied that `recycleOnFileChange` is nop in https://github.com/aspnet/Docs/issues/1965

[2016-10-19 16:31] davidfowl commented on #288
I'm like 98.6% sure that changing the dependencies from 1.0.1 to 1.0.0 had nothing to do with it.

[2016-10-19 16:43] GuardRex commented on #283
@b0bi79 Since the process is created but the app doesn't respond, the issue will probably be within the app startup/configuration. You can confirm your IIS/ANCM is configured and working well with a test app (e.g., https://github.com/aspnet/cli-samples/tree/master/HelloMvc).

Side Note: The HTTP Platform Handler is depreciated. It won't hurt anything (probably) to leave it on there, but HPH is not

[2016-10-19 16:50] GuardRex commented on #287
@alex-gausman Thanks for reporting this. I made a note of it for possible inclusion in the next update to the Common Errors section of the Publishing to IIS doc.

[2016-10-19 17:55] shirhatti commented on #291
Yeah. `recycleOnFileChange` currently just no-ops. The element remains a part of the schema to prevent us from breaking existing applications.

[2016-10-19 18:09] GuardRex commented on #291
@BillDines `reloadOnChange` won't help?
[code]

[2016-10-20 07:36] BillDines commented on #291
Oh well, that explains it!  @GuardRex - I could probably implement what I need with reloadOnChange, its just much harder work.  I am using the Options pattern and I think I'd have to do quite a lot of work to refresh my options objects after reload - something I'd hoped to avoid!

[2016-10-20 08:10] BillDines commented on #291
Thanks @GuardRex - I had seen you can use a callback.  I'll see if I can do something in the callback that works nicely with DI and IOptions<T>...

[2016-10-20 08:51] b0bi79 commented on #283
I solved this issue by removing DotNetCore, httpPlatformHandler_amd64, .NET 4.6.2 and reinstalled this. But instead .NET 4.6.2 I installed .NET 4.6.1

[2016-10-20 08:51] #283 closed

[2016-10-20 15:51] muratg commented on #291
It would be nice to update the docs @danroth27

[2016-10-20 16:48] danroth27 commented on #291
@muratg Could you please open an issue in the aspnet/Docs repo with the details of what you want added to the docs?

[2016-10-20 16:57] GuardRex commented on #291
It's in the section at https://github.com/Microsoft/Docs-1/blob/master/aspnet/aspnetcore/fundamentals/configuration.md#using-the-built-in-sources

It only says that ...

[2016-10-20 16:59] muratg commented on #291
https://github.com/aspnet/Docs/issues/1990 tracking doc work

[2016-10-22 07:41] HADB commented on #252
Here's my problem and my solution:
Problems:
1. After upgrade Microsoft.NETCore.App to 1.0.1, I get 502.5 error when I use iis express.
2. Change Microsoft.NETCore.App to 1.0.0, everything is OK.
3. Publish to my server, both 1.0.1 and 1.0.0 are OK.

Solution:
Install [.NET Core 1.0.1 - VS 2015 Tooling Preview 2](https://go.microsoft.com/fwlink/?LinkID=827546) in my computer.

Now I can work with

[2016-10-24 19:30] pranavkm opened #292 "[Test] Modify tests to consume the newest build of ANCM"
Related to https://github.com/aspnet/ServerTests/issues/46

Once aspnet/AspNetCoreModule#20 is done, we'll need to modify IISExpress tests to run using the most recent build of ANCM package from the feed.

[2016-10-25 16:42] chrisckc commented on #285
@divega I have tried the AspNetCore.Buffering middleware and it does indeed result in the developer exception page showing when the reference loop is encountered. However i want to return a Json representation of an error rather than html, which i was achieving using an exception filter.

When using the AspNetCore.Buffering middleware , the exception filter still does not fire so it looks like I w

[2016-10-25 18:38] arthis commented on #283
Pb solced, I had to restart iis after installation of asp.net core module.

On Thu, Oct 20, 2016 at 10:51 AM +0200, "Rozhkov Alexey" <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #283<https://github.com/aspnet/IISIntegration/issues/283>.

-
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/aspnet/IISIntegra

[2016-10-25 20:46] Tratcher commented on #285
@chrisckc shouldn't an exception in this scenario be limited to a development issue? E.g. there was something wrong with your model and it could never be serialized. In this case DeveloperExceptionPage is an appropriate debug tool and the response format is less of a concern.

In production exceptions should not be blindly returned to the client as they could leak significant amounts of informatio

[2016-10-25 22:07] chrisckc commented on #285
@Tratcher  In an ideal world yes, but in practice you see exceptions occurring in production apps when they shouldn't....   please remember that the model i used is just a very simple example.

When supporting an App in production it is very useful to be able to capture extended error information via a debug mode on the client which can tell the server to provide more info. I have found this to be

[2016-10-25 22:51] halter73 commented on #285
@chrisckc Note that the exception handler should be wired up before the response buffering. Then if there's an uncaught exception, the response buffering middleware should have cleared the buffer by the time the exception handler runs.

You'll probably also want to check `HttpContext.Response.HasStarted`, because if that's true it means something has disabled buffering (perhaps by calling `Respons

[2016-10-26 07:41] davenewza opened #293 "1.0.0-preview3-final release notes?"
`1.0.0-preview3-final` of `Microsoft.AspNetCore.Server.IISIntegration.Tools` was pushed to [NuGet ](https://www.nuget.org/packages/Microsoft.AspNetCore.Server.IISIntegration.Tools/)earlier this week. I am unable to find release notes on this.

Should we be updating our tooling?

[2016-10-26 16:49] Tratcher commented on #293
This was part of the 1.1.0-preview1 release: https://github.com/aspnet/IISIntegration/releases/tag/rel/1.1.0-preview1

You only need to update your tools if you are updating your runtime to 1.1.0-preview1.
https://blogs.msdn.microsoft.com/webdev/2016/10/25/announcing-asp-net-core-1-1-preview-1/

[2016-10-26 16:51] moozzyk commented on #293
Here are the release notes: https://github.com/aspnet/IISIntegration/releases/tag/rel/1.1.0-preview1. If your target 1.1.0-* I would recommend using preview3 version. Technically, even if your application targets 1.1.0 runtime and you have 1.0.0 runtime installed preview2 version will continue to work using 1.0.0 runtime (while the application will use 1.1.0 runtime) but I think it's best to keep

[2016-10-26 18:56] Sebazzz opened #294 "IIS appears to be buffering the entire HTTP request"
A problem I'm facing is that the IIS module seems to be buffering the entire HTTP request before passing it to the application. Current scenario is large file upload, using a file of, for example 4GB. Complete application can be [found here](https://github.com/Sebazzz/IFS).

Upload code is [quite trivial](https://github.com/Sebazzz/IFS/blob/83785fe4090a8f59fe428bb01cb812fc7e8ba005/src/IFS.Web/Core

[2016-10-26 20:36] Tratcher commented on #294
I don't think the buffering is in IIS, I think it's in the ASP.NET Multipart Form reader.

It looks like you're model binding to an UploadModel containing an IFormFile, correct? This file is uploaded using a multipart form, correct? MVC can't model bind a IFormFile without reading the entire request body first. Here's an example that shows how to stream a multipart upload:
https://github.com/aspne

[2016-10-27 04:48] #293 closed

[2016-10-27 05:17] chuchuva commented on #226
Can you make it to 'just work' with msdeploy.exe and Azure? If I understand correctly the web site needs to be restarted to prevent file locking. `-enableRule:AppOffline` works but the whole website is offline for few minutes which is not a great user experience especially given that we deploy few times per day.

See also http://stackoverflow.com/q/40276582/14131

[2016-10-27 14:51] GuardRex commented on #293
@moozzyk @Rick-Anderson Currently, we have ...
[code]
... in the Publish to IIS doc.

Update it there (aspnet/Docs) to `1.0.0-preview3-final`?

Is there any point to updating Microsoft/Docs-1, since that section will either change dramatically or be removed completely for the 1.1 release?

[2016-10-27 14:53] Tratcher commented on #293
Is there a branch of the docs for 1.1-pre?

[2016-10-27 14:54] GuardRex commented on #293
Not that I'm aware of ... they told me to commit to master of `Microsoft/Docs-1`.

[2016-10-27 14:57] GuardRex commented on #293
![capture](https://cloud.githubusercontent.com/assets/1622880/19772399/b87e0e42-9c2b-11e6-9e99-663eb63d5bb1.PNG)

[2016-10-27 16:48] moozzyk commented on #293
@GuardRex - I guess it would be nice to be more general and say that it is good practice to make sure that tools target the same runtime as the application. In case of 1.1 runtime preview3 is the version.

[2016-10-27 16:55] GuardRex commented on #293
@moozzyk ok ... gotcha.

Do the old docs (aspnet/docs) need the update tho?

My instruction from @Rick-Anderson was to only submit PR's to Microsoft/Docs-1. Since that might not land for customers until 1.1 and that whole section will possibly get major changes later, I'm wondering if this should be held off for now?

[2016-10-27 16:57] Tratcher commented on #226
@chuchuva maybe, but all magic comes with a cost. Previous versions of ASP.NET did some complicated shadow copying to work around the file locking problems.

[2016-10-27 16:58] Tratcher commented on #293
Please wait. We don't want to confuse customers with preview bits in the 1.0 docs.

[2016-10-27 17:05] GuardRex commented on #293
I just asked b/c we already have ...
[code]
... in the current doc. If that's ok, we're all good.

[2016-10-27 17:11] Tratcher commented on #293
That's correct for 1.0.0 runtime packages.

[2016-10-27 17:42] Rick-Anderson commented on #293
@GuardRex  I hope we have this repo converted to .MD in the next couple of days.

[2016-10-27 18:15] Tratcher commented on #8
This issue was moved to aspnet/AspNetCoreModule#23

[2016-10-27 18:15] #8 closed

[2016-10-27 18:47] Tratcher commented on #31
This issue was moved to aspnet/AspNetCoreModule#24

[2016-10-27 18:50] #35 closed

[2016-10-27 18:51] Tratcher commented on #39
This issue was moved to aspnet/AspNetCoreModule#26

[2016-10-27 18:51] #39 closed

[2016-10-27 18:52] Tratcher commented on #92
This issue was moved to aspnet/AspNetCoreModule#27

[2016-10-27 18:52] #92 closed

[2016-10-27 18:53] Tratcher commented on #160
This issue was moved to aspnet/AspNetCoreModule#28

[2016-10-27 18:53] #160 closed

[2016-10-27 18:54] Tratcher commented on #161
This issue was moved to aspnet/AspNetCoreModule#29

[2016-10-27 18:54] #161 closed

[2016-10-27 18:55] Tratcher commented on #196
This issue was moved to aspnet/AspNetCoreModule#30

[2016-10-27 18:55] #196 closed

[2016-10-27 18:55] Tratcher commented on #203
This issue was moved to aspnet/AspNetCoreModule#31

[2016-10-27 18:55] #203 closed

[2016-10-27 18:57] Tratcher commented on #228
This issue was moved to aspnet/AspNetCoreModule#32

[2016-10-27 18:57] #228 closed

[2016-10-27 18:58] #240 closed

[2016-10-27 18:59] #266 closed

[2016-10-27 19:00] #279 closed

[2016-10-27 19:00] Tratcher commented on #281
This issue was moved to aspnet/AspNetCoreModule#33

[2016-10-27 19:00] #281 closed

[2016-10-27 19:54] Sebazzz commented on #294
I think you're right, my bad. ASP.NET MVC reads the form at least several times before it even ends up in the controller. Apparently there is no other way other than to implement middleware (or a route handler) directly.

Thanks for the pointers.

[2016-10-27 19:54] #294 closed

[2016-10-29 09:00] persiandeveloper opened #295 "Publish to IIS does not work"
Hi

I have already seen thah somebody asked a question (https://github.com/aspnet/IISIntegration/issues/243) when doplying to IIS, he gets error as below: "Exception calling ".ctor" with "1" argument(s):"
But  with following configuration and installed tools, still can not publish ang get the same error :

[code]

and Publlish xml as below :

[code]

Web Deploy 3.6 Installed
Visual Studio 2015
IIS

[2016-10-30 11:49] jakkaj commented on #252
Removing the files worked for me too - the problem occurs when you change target frameworks between publishes.

You can easily delete all files using Kudu. Go to a CMD prompt, CD in to the wwwroot folder and type del /S * - that will delete all the old files :)

[2016-10-31 16:22] moozzyk commented on #295
/cc @vijayrkn

[2016-10-31 16:31] vijayrkn commented on #295
you don't need to set this unless you are hand editing the msdeployUrl in the pubxml - `<UseMSDeployServiceURLAsIs>true</UseMSDeployServiceURLAsIs>`

In all normal cases, publish process should normalize this url.

[2016-10-31 19:00] persiandeveloper commented on #295
@vijayrkn
I removed it and still getting the error  :
"An error occurred during publish.
Exception calling ".ctor" with "1" argument(s): "Invalid URI: The format of the URI could not be determined.""

[2016-11-01 14:41] leo9223 commented on #14
Asp.net core still not working under virtual directory in IIS

[2016-11-01 16:53] Tratcher commented on #14
@leo9223 virtual directories or sub applications? These are commonly confused. Sub applications should work but there's no support for virtual directories.

[2016-11-02 05:12] leo9223 commented on #14
@Tratcher Both !
both are not working not on IIS10 neither on IIS8.5

[2016-11-02 05:51] leo9223 commented on #14
@Tratcher However different webconfigs working for IIS10 and IIS8.5

**on IIS10 app works with this setting**
<aspNetCore processPath=**"dotnet"** arguments=".\myApp.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />

**on IIS8.5 app works with this setting**
<aspNetCore processPath=**"C:\Program Files\dotnet\dotnet.exe"** arguments=".\myApp.dll" stdoutLo

[2016-11-02 05:56] Tratcher commented on #14
Your IIS 10 machine probably has dotnet on the system path, where your other machine doesn't. Did you restart the second machine after the install?

[2016-11-02 07:59] leo9223 commented on #14
@Tratcher I just restarted the IIS not the machine, let me check. Thank you

[2016-11-02 15:52] GuardRex commented on #14
@leo9223 Just for future reference, @pan-wang advised for the docs that you should be able to avoid a restart if you execute `net stop was /y` followed by `net start w3svc`.

[2016-11-02 20:48] muratg commented on #239
Closing this as no code changes expected in IISIntegration repo.

[2016-11-02 20:48] #239 closed

[2016-11-02 20:49] muratg commented on #255
@Horsefight Could you share the folder structure of the published app?

[2016-11-02 20:49] muratg commented on #272
Closing as "external".

[2016-11-02 20:49] #272 closed

[2016-11-02 20:53] muratg commented on #292
Let's give it a shot in 1.1.0.  If we can't plan and finish the work, we can move it out to 1.2.0.

[2016-11-02 21:57] Tratcher commented on #292
Complication: The ANCM repo / nupkg does not support Win7. The real MSIs are built from a private repo with Win7 support.

[2016-11-03 06:55] Sharpeli commented on #167
Is there any update on enabling logging to azure blob?

[2016-11-03 07:04] GuardRex commented on #167
@Sharpeli There is no built-in logging implementation. There are implementations though with Azure sinks. Serilog has DocumentDB and Table Storage sinks. Log4Net has an Azure Blob piece.

https://github.com/serilog/serilog/wiki/Provided-Sinks
http://stemarie.github.io/log4net.Azure/

[2016-11-03 07:22] Sharpeli commented on #167
@GuardRex  Thanks GuardRex, looks like the log4net is incompatible with .net core. Is there any workround to make the built-in “ILoggerFactory” or "Diagnostics.Trace" can log to azure blob for asp.net core app ?

[2016-11-03 07:36] GuardRex commented on #167
@purekrome says on Slack to check out NLog. He says they use it quite a lot with great success, and it has an Azure Blob Storage sink.

- https://github.com/nlog/nlog/wiki/Targets
- http://stackoverflow.com/questions/23518078/store-nlog-generated-logs-to-azure-blob-storage-in-seperate-columns
- http://stackoverflow.com/questions/35058029/how-to-integrate-nlog-to-write-log-to-azure-streaming-log
ht

[2016-11-03 07:48] PureKrome commented on #167
Disclaimer:
- I've never logged to Azure Blob storage before.
- I love using nLog
- I now use Serilog with an nLog sink (with various targets as required) :)

[2016-11-03 16:45] Eilon commented on #167
I believe that's what https://github.com/aspnet/AzureIntegration/ does - it wires up logging along with Serilog and pushes log data to tables/blobs/wherever.

[2016-11-03 16:50] GuardRex commented on #167
There isn't much in the way of guidance tho for the new package. cc/ @Rick-Anderson @danroth27 @spboyer

[2016-11-04 02:31] Sharpeli commented on #167
Thanks all, I've found an simple trick for azure app ,see https://github.com/aspnet/Logging/tree/dev/src , just add the package "Microsoft.Extensions.Logging.AzureAppServices": "1.0.0-preview1-final" and update related dependencies,
 add the azure diagnostics in startup.cs like this :
 loggerFactory.AddAzureWebAppDiagnostics();   // for default setting.
or
loggerFactory.AddAzureWebAppDiagnostics(n

[2016-11-05 04:47] gustyn commented on #255
Sorry for taking so long to respond.  I forgot I had this posted....

In any case I fixed this by placing the following entry in my web.config file at the root directory of the site:
`   <aspNetCore processPath=".\xxx.xxx.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" forwardWindowsAuthToken="false" />`

My folder structure is as follows
root-
- all my binary

[2016-11-05 07:49] buddalasunil999 commented on #14
I have the problem.. I want to add ASP.NET Web API application (Admin) under ASP.NET Core website (Test) as shown in the image below. But the admin doesn't work because of the corehandler. How do I ask the corehandler to just work with the root application but not the applications inside it.
![image](https://cloud.githubusercontent.com/assets/2284522/20028517/10d4227e-a399-11e6-9022-7c22e5a5fc91.p

[2016-11-05 12:19] Tratcher commented on #14
@buddalasunil999 Web.Config files are inherited by child apps. inside your admin web.config in the handlers section you can remove the aspNetCore handler that was added in the parent site.

[2016-11-05 21:56] buddalasunil999 commented on #14
Yeah just figured it out.. it's inherting the handler, added remove handler to child config and started working. Thanks

[2016-11-07 17:59] muratg commented on #235
@pan-wang @shirhatti is this good to close?

[2016-11-07 18:14] shirhatti commented on #235
Yes. This was fixed in [v1.0.1969](https://github.com/aspnet/AspNetCoreModule/releases/tag/1.0.1969)

[2016-11-07 18:14] #235 closed

[2016-11-08 23:05] Tratcher commented on #292
Hosting workaround for the Win7 issue: https://github.com/aspnet/Hosting/commit/4064b42a19d1f19f887a3f9b0688e8616889b93a
Prototype: https://github.com/aspnet/IISIntegration/commit/907301bd4a26c306c1b3ac6b68370e129ce0bb02
Waiting for the new package structure: https://github.com/aspnet/AspNetCoreModule/issues/37

[2016-11-09 16:47] asadsahi commented on #252
Thanks @jakkaj this trick worked for me too. I didn't even changed target framework, but was still having this problem during continuous deployments. Lets see how long this works now.

[2016-11-09 20:44] jakkaj commented on #252
Perhaps differing versions on your dev machine to Azure?

[2016-11-10 04:25] Tratcher opened #297 "Standardize the test site cross-target layout"
The functional tests have three configurations, CLR, CoreClr Standalone, and CoreClr Portable. These are set up in two test sites. This site layout and naming is reversed from what we do in ServerTests and MusicStore, causing confusion when making changes across the projects. Update the test sites in this repo to match the other repos layout & naming.

[2016-11-10 08:11] mejje opened #298 "EPIPE broken pipe"
This error is being logged to stdout on Azure from time to time:

`info: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
      Request starting HTTP/1.1 GET http://thelogbook.eu/fonts/pe-icon-7-stroke/css/helper.css
info: Microsoft.AspNetCore.StaticFiles.StaticFileMiddleware[2]
      Sending file. Request path: '/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css'. Physical path: 'D:\home\site\wwwro

[2016-11-10 08:28] davidfowl commented on #298
This is a dupe of https://github.com/aspnet/KestrelHttpServer/issues/1182

[2016-11-10 08:28] #298 closed

[2016-11-11 01:33] olegburov opened #300 "Show how to use Azure Web App Log Streaming with ASP.NET Core."
Hi Guys,

I'm straggling to make the Azure Web App Log Streaming works with ASP.NET Core application. I tried it based on both .NET Framework and .NET Core, with ASP.NET Core 1.0 and 1.1 Preview-1, using `System.Diagnostics.Trace` and `ILogger/ILoggerFactory`. It just doesn't work for me.

At the same time, it works perfectly with old-fashioned ASP.NET 4 using the example @shanselman showed in the

[2016-11-11 02:50] Tratcher commented on #300
This issue was moved to aspnet/Docs#2146

[2016-11-11 02:50] #300 closed

[2016-11-12 12:36] gencebay commented on #245
I have a example repo for similar issue we encountered
[Net Core Small Load](https://github.com/gencebay/NetCoreSmallLoadRepro)
Thanks!

[2016-11-12 12:37] gencebay commented on #210
I have a example repo for similar issue we encountered
[Net Core Small Load](https://github.com/gencebay/NetCoreSmallLoadRepro)
Thanks!

[2016-11-17 10:03] mythjuha opened #301 "Issues shutting down site in IIS. An attempt was made to access an exiting process"
Taking the site down to do a publish causes the site's .exe process to stay hanging in a blocked state. Trying to kill the process with processhacker shows the error 'An attempt was made to access an exiting process'.

This error is discussed in the trouble shooting section of the asp.net core website, how to publish to IIS. But none of 2 reasons shown there are valid for my project

[code]

[2016-11-17 18:03] Tratcher commented on #301
Is this with 1.0 or 1.1 (just released this week)?

[2016-11-17 18:16] mythjuha commented on #301
1..0.1. Prepped the update to 1.1 today, will push it to the server tomorow. Really hopes this fixes the issue because it results in long downtimes of the site, often needing a full reboot of the server (and thus affecting other sites as well}.

[2016-11-17 19:10] skorunka opened #302 "Microsoft.AspNetCore.Server.IISIntegration.Tools 1.1.0-preview4-final is not compatible with net462"
Microsoft.AspNetCore.Server.IISIntegration.Tools 1.1.0-preview4-final is not compatible with net462 (.NETFramework,Version=v4.6.2). Package Microsoft.AspNetCore.Server.IISIntegration.Tools 1.1.0-preview4-final supports: netcoreapp1.0 (.NETCoreApp,Version=v1.0)

What should version should I include when working with Asp.NET Core 1.1.0 ?

[2016-11-17 19:41] Tratcher commented on #302
@natemcmaster ?

[2016-11-17 19:48] natemcmaster commented on #302
Can you share a repro? I'm guessing you've listed the package in the wrong section. Tools packages should be installed into the "tools" section of 'project.json', not 'dependencies'. See https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#publish-iis-tool

[2016-11-20 15:27] luisgoncalves commented on #302
I had the same problem when running on .NET 4.6.2 after updating all the packages to version 1.1.0 (and the corresponding previews for tools). After removing the `project.lock.json` files and running `dotnet restore` again, I was able to `dotnet publish`. Not sure what cause the incoherence... Hope this helps.

[2016-11-20 16:46] skorunka commented on #302
@luisgoncalves : yes, it actually resolved my issue as well

[2016-11-20 16:46] #302 closed

[2016-11-21 22:27] muratg commented on #301
Assigning to @JunTaoLuo for investigation.

[2016-11-22 00:05] JunTaoLuo commented on #301
@mythjuha have you tried the latest releases of 1.1 and ANCM? Also, can you elaborate on how your application is hosted and how you are shutting down the app to publish an update?

[2016-11-22 08:18] mythjuha commented on #301
@JunTaoLuo I'll get back on the issue on thursday due to lack of time. I've already updated to 1.1, but havent tried any update since. What's ANCM?

The site is hosted on IIS in its own application pool, and targets the full .net framework.

I usually try to publish through visual studio, with the following publish settings:
`    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployPublishMe

[2016-11-22 14:23] Tratcher commented on #301
ANCM: AspNetCoreModule

[2016-11-22 23:56] #292 closed

[2016-11-23 22:26] #297 closed

[2016-11-24 09:04] mythjuha commented on #301
Ok, the issues still persist with 1.1.

I took a few screenshots the publish error in visual studio, and the task manager and event viewer on the server.

![screenshot_1](https://cloud.githubusercontent.com/assets/3154195/20592327/1f14b4fa-b22d-11e6-98bc-700bd7f3159c.png)
Publish fails after creating the App_Offline.html

![screenshot_2](https://cloud.githubusercontent.com/assets/3154195/20592341/

[2016-11-24 10:37] mythjuha commented on #301
Not sure if it's related, but:

 In the above screenshots you'll see multiple instances of the file Paulo.Web.exe. But in the description of the process, one still has the .exe while the other hasn't. It's always the process without the .exe in the description that keeps handing.

[2016-11-25 14:35] MarkEMedlin opened #305 "DotNet Core 1.1 - IIS 7.5 - Intermittent 502.3 Response"
I have an application using Angular2 and Dotnet Core 1.1 that accepts an HttpPost and responds with the results.  It works fine when I run it using Kestrel alone.  However, when I publish to IIS I get intermittent 502.3 responses.

I have upgraded dotnet to release 1.1.  I've added some logging and the MVC writes show the client session as being disconnected when this problems occurs.  There is no

[2016-11-25 22:33] Drawaes opened #306 "Add environment variables for external information"
Is it possible to add environment variables to allow the hosted application to understand the external address that IIS is exposing for the hosted application. This information is available from the HttpContext.Request but only once you have a request. An example of how you can do this in a "traditional asp.net" application

[code]

[2016-11-25 22:39] Tratcher commented on #306
This belongs in the new AspNetCoreModule repo.

[2016-11-25 22:44] Drawaes commented on #306
Noted
https://github.com/aspnet/AspNetCoreModule/issues/46

[2016-11-25 22:44] #306 closed

[2016-11-28 16:23] shirhatti commented on #301
@mythjuha What version of ANCM are you using?

[2016-11-28 18:45] GuardRex commented on #272
@joeloff I have two error exceptions in the log now for when the VC++ isn't installed.

My testing shows 0x80072efd ... but @comburo shows 0x80072f76 in this issue.

Should I list them both in the common errors entry of Pub IIS?

[2016-11-28 19:28] mythjuha commented on #301
@shirhatti Each time i've upgraded the project to the latest asp.net core, we've also updates the server with the latest available host bundle. So this should be 1.1 as well.

[2016-11-28 19:39] shirhatti commented on #301
Try this
`[System.Diagnostics.FileVersionInfo]::GetVersionInfo("C:\WINDOWS\System32\inetsrv\aspnetcore.dll").FileVersion`

[2016-11-28 20:23] GuardRex commented on #269
@gradom I'm reviewing issues for a Publish to IIS doc update, and I'm curious about what the underlying issue was with the app. Did you find out the exact cause of the crash?

[2016-11-29 07:12] satauros commented on #301
FileVersion = 7.1.1970.0 (same as Product version)

[2016-11-29 18:46] pan-wang commented on #301
ANCM sends a ctr-break signal to gracefully shutdown user's process. in this case, the process is in exiting state but never fully terminated per the error message "'An attempt was made to access an exiting process'". This looks wired. Could you please share a repro so that we can debug it in-house?

[2016-11-29 20:11] Tratcher commented on #305
@cesarbs can you take a look?

[2016-11-29 20:30] cesarbs commented on #305
Will do.

[2016-11-29 21:36] cesarbs commented on #305
@MarkEMedlin The connection id for the reset messages are different than those of the writes to a disconnected client. Can you send us a full log of the issue happening on the same connection?

Also, can you provide more instructions on how to repro this? Is the post coming from a form submit, or from an XMLHttpRequest?

[2016-11-29 22:37] MarkEMedlin commented on #305
It's an XMLHttpRequest using Angular2 Http.post.

Here are fresh logs with matching session ids:

2016-11-29 17:25:24.202 -05:00 [Information] Executing ObjectResult, writing value "Microsoft.AspNetCore.Mvc.ControllerContext".
2016-11-29 17:25:24.203 -05:00 [Information] Executed action "Sensors.Controllers.ProbeController.PerformProbe (sensors)" in 35433.5077ms
2016-11-29 17:25:24.203 -05:00 [Deb

[2016-12-01 06:03] saf-itpro opened #307 "HTTP Error 502.5 - Process Failure after copying ASP.NET Core 1.1 to another machine"
I upgraded my ASP.NET Core app from 1.0 to 1.1 following procedures from Official ASP.NET site. The app runs fine on its original location on Windows 10 (upgraded from win 7). But when I copied the app on another machine (Win 7) that also has latest VS2015-Update3 installed and installed [NET Core 1.0.1 tools Preview 2 ](https://www.microsoft.com/net/core#windowsvs2015), the app compiles fine but

[2016-12-01 09:58] mythjuha commented on #301
@pan-wang : Any way to contact you / send the repo without posting it here?

On a sidenote: publishing from visual studio failed even before attempting to write the files due to an account issue of the wep deploy user. Having fixed this we now get the more logical 'publish failed do to file in use error'. In the event viewer of the server, i also found the following log:

A process serving applica

[2016-12-01 17:58] moozzyk commented on #307
You need to instal 1.1 runtime on the other machine. You can install it from here: https://www.microsoft.com/net/download/core (make sure to select Current and not LTS to get 1.1)

[2016-12-01 21:04] jamespedid opened #308 "Cannot load DLL at runtime when publishing with Visual Studio 2015."
Hello, I'm not sure if this is the appropriate place for this, but I can't seem to find much information about an issue that I am having.

A quick description: I have three projects: a class library, an executable, and an asp.net core server rigged up to run the .NET 4.5.2 framework. (By rigged up, I mean this is created from the template provided to visual studio 2015.)

The ASP.NET core applicat

[2016-12-02 09:15] Uffman commented on #252
My problem:
Upgrade ASP.NET Core WebAPi to 1.1.0
If I publish to Azure from VS trough Publish action everything is OK.
If I user Visual Studio Team Service Build and Release I get HTTP Error 502.5 - Process Failure.
I found out the problem is in web.config.
When published trough Visual Studio:
`<aspNetCore processPath="dotnet" arguments=".\Cvetlicarna.Web.dll" stdoutLogEnabled="true" stdoutLogFile

[2016-12-02 15:15] saf-itpro commented on #307
@moozzyk Thank you for coming to my rescue. It's working now.

[2016-12-02 15:15] #307 closed

[2016-12-02 18:51] moozzyk commented on #252
You are hitting a known issue where 1.1 runtime is not installed on VSTS agents. See this comment for resolution: https://github.com/aspnet/Hosting/issues/892#issuecomment-263407934

Same issue described here: https://github.com/aspnet/Home/issues/1842

/CC @muratg

[2016-12-04 22:22] sturlath commented on #14
@Tratcher you say "there's no support for virtual directories.".  After I saw this comment I have searched everywhere to have it confirmed without finding anything on it, except in comments from you.

Are you saying I will **have to set up a new site** and deploy there?

So the setup below will never work because posservice is a virtual directory?
<img width="285" alt="fyrirspurn" src="https://clo

[2016-12-05 04:55] Tratcher commented on #14
Yes, if you made the posservice level a sub-application and pointed it at your ASP.NET Core app then it should work. Also remove the nested posservice/api and /posservice/api/v1 sub-applications definitions, they'll mess up your routing. Any segments marked as a sub-application get moved from HttpContext.Path to HttpContext.PathBase and Rout only operates on Path.

[2016-12-05 07:58] mupedersen commented on #245
We had a similar issue in an aspnet core (.net full framework) solution. Calling the application start page from **two** machines would degrade performance to a very low level - fx loading css, js and image bundles would take +60 seconds. Once it was in the degraded performance state, it would stay there until running:

net stop was /y
net start w3svc

The start page only does a single db lookup (

[2016-12-05 08:44] Uffman commented on #252
Tnx @moozzyk
reverting to:
`"Microsoft.AspNetCore.Server.IISIntegration.Tools": "1.0.0-preview2-final"`
worked

[2016-12-05 17:29] shirhatti commented on #301
@mythjuha Can you upload your repo to some file sharing site (Dropbox, OneDrive) and email me the link? I'll share it with the team. My email address is on my GitHub profile.

[2016-12-05 17:46] Matasx opened #309 "IIS url rewrite with custom provider routing to Asp.Net core applications hosted by AspNetCoreModule"
Hi,

I am facing following scenario:
- Business case: routing customer aliases specified in URL to correct application version, e.g.:
   - /customer1/request -> /1.0.0/request
   - /customer2/request -> /1.0.5/request
   - /customer3/request -> /1.0.0/request
- I am hosting multiple **Asp.Net Core** applications **side by side** via AspNetCoreModule on IIS (it uses pool 'No Managed Code')
   - Eac

[2016-12-05 17:58] GuardRex commented on #309
I'm not sure about exposing the re-written URL to the client, as I haven't had a chance to play with this yet, but check on URL Rewriting Middleware and see if that would help ...

https://github.com/aspnet/BasicMiddleware/tree/dev/src/Microsoft.AspNetCore.Rewrite
https://github.com/aspnet/BasicMiddleware/tree/dev/samples/RewriteSample

[2016-12-05 18:09] Matasx commented on #309
@GuardRex I thought this was intended for url manipulation inside Asp.Net Core application.
What I need is ability to route url to different application (other than the one doing url rewriting). Is that really possible just with rewrite middleware?

[2016-12-05 18:19] GuardRex commented on #309
Perhaps so in your case. I haven't had a chance to play with it yet. I'm interested in how this prob will be solved. One of the MS devs will come in to help; but I'll be back at my desk within three hours, and I'd like to repro your problem here.

[2016-12-05 19:38] GuardRex commented on #309
Thinking along the lines of a sub app approach, where maybe the middleware is receiving the requests at the root app and farming them out to the appropriate sub app. .... just spitball'in   on it.

[2016-12-05 22:44] GuardRex commented on #309
Testing shows that the middleware is capable of redirecting to subapps ...

![capture](https://cloud.githubusercontent.com/assets/1622880/20905552/f2fed70c-bb09-11e6-80e4-2e75abdc1240.PNG)

[code]

... but, of course, that doesn't preserve the Url. The middleware is not capable of rewriting to subapps AFAICT.

[2016-12-05 23:09] cesarbs commented on #305
@MarkEMedlin One more thing: what browser are you sending the request from?

[2016-12-05 23:33] cesarbs commented on #305
@MarkEMedlin I haven't been able to repro your issue so far. Would you be able to narrow down the parts of your app where you see the issue and share a repro app? That would be very helpful.

[2016-12-06 17:28] asadsahi commented on #252
Azure deployment happened successfully, but running app gives following error:

![image](https://cloud.githubusercontent.com/assets/3470892/20936079/230f9fce-bbd9-11e6-98c8-58bd8990fb70.png)

I haven't upgraded to new csproj yet and running using project.json with .net core 1.1 framework and targetting following sdk in global.json to force it to use this version:

[code]

No idea what this error m

[2016-12-06 17:56] ZombiesWithCoffee commented on #252
That's the ONLY thing I could get with it.  After a week, I finally abandoned the full .NET Framework and trying to switch to core, and I am still down.

[2016-12-06 17:58] dcarl1 commented on #252
@asadsahi Turn on STDOUT logging and see if anything pops up in there, also check all the Azure logs. I've seen that happen before and its usually due to something crashing in the startup class.

[2016-12-06 18:23] ZombiesWithCoffee commented on #252
Thanks for the reminder dcarl1.

Try this
            var webHost = new WebHostBuilder()
                .CaptureStartupErrors(true)
                .UseSetting("detailedErrors", "true")
                .UseKestrel()
                .UseContentRoot(Directory.GetCurrentDirectory())
                .UseIISIntegration()
                .UseStartup<Startup>();

            // For debugging startup err

[2016-12-06 18:30] cesarbs commented on #305
@MarkEMedlin Can you try removing the `[HttpPost("{probe}")]` attribute and check if your problem persists?

[2016-12-06 18:54] MarkEMedlin commented on #305
I see the behavior consistently in Chrome 54.0.2840.99 and Firefox 49.0.2.  I will try it in IE as well.

I removed the HTTPPost and got the same results.

I will try to put together a small application that recreates the behavior and post it.  It may be the end of the week before I get it posted though.

[2016-12-06 19:00] MarkEMedlin commented on #305
This happens most often when the post takes a while to respond with results.

[2016-12-06 19:34] cesarbs commented on #305
Where are you seeing the 502.3 errors? Does the browser show an error page, or are you seeing them in a network trace or log?

[2016-12-06 19:55] MarkEMedlin commented on #305
I get the returned page with a status code of 502.  My application does not display the HTML. It simply examines the status code.

When I look at my log files it shows my application trying to return the results, but the writes all show a write to a disconnected client.

One other thing of note, I always see the 502.3 after the 2 minute timeout.  When I look at the log files of my application it i

[2016-12-06 21:53] GuardRex commented on #252
The startup errors one is :sparkles: auto-magical :sparkles: ...

https://github.com/aspnet/IISIntegration/blob/e4cf12017b90a28379650987b58c3d77cdb2a5cb/src/Microsoft.AspNetCore.Server.IISIntegration/WebHostBuilderIISExtensions.cs#L49

[2016-12-06 21:56] GuardRex commented on #252
[Sorry ... thought I pasted the wrong link there for a sec.]

The `CaptureStartupErrors()` is automatically done under `UseIISIntegration()` ...

https://github.com/aspnet/IISIntegration/blob/e4cf12017b90a28379650987b58c3d77cdb2a5cb/src/Microsoft.AspNetCore.Server.IISIntegration/WebHostBuilderIISExtensions.cs#L49

[2016-12-06 21:58] dcarl1 commented on #252
@ZombiesWithCoffee I should mention we are using the full .NET framework on Azure with 1.1 (xproj not csproj). Didn't really change anything other then package versions.

So far no issues. Deployment went out last night so we will see if those CGI errors show up again.

[2016-12-06 22:00] ZombiesWithCoffee commented on #252
I'm extremely happy for you @dcarl1 !  I had absolutely no luck and eventually had to delete and recreate my app services.  And I'm still down!

@GuardRex, thanks for the update! I'll remove that from my startup code.

[2016-12-06 22:02] dcarl1 commented on #252
@ZombiesWithCoffee Post your project.json if you want, I can diff it with mine see if anything sticks out.

[2016-12-06 22:06] ZombiesWithCoffee commented on #252
All I am getting at this time is the terribly generic error

       The specified CGI application encountered an error and the server terminated the process.

I believe that this problem is related to the issue, that publishing doesn't show the "Entity Framework Migrations" option.  Thanks for the offer to help though!

https://forums.asp.net/t/2111466.aspx?Publishing+doesn+t+show+the+Entity+Frame

[2016-12-06 22:10] dcarl1 commented on #252
That error just means Kestrel has crashed (or timed out. I've seen it on super long requests). You might have to dig into the stdout and Azure logging but there should be another error somewhere.

Unfortunately we use EF6 and an adapter and do all migrations through SQL so I can't help there :( Best of luck.

[2016-12-06 22:23] asadsahi commented on #252
@dcarl1 @ZombiesWithCoffee , thanks for pointing out enabling the errors. My issue was a runtime error, which wasn't happening during dev or even in production build locally. Only when I was deploying to azure. Here is the code:

[code]
So, I added UseSqlServer in options, but the "Microsoft.EntityFrameworkCore.SqlServer": "1.1.0",package wasn't added. So this was causing a runtime error, and only

[2016-12-07 18:34] ElvisHalil opened #310 "Stuck on deploying to IIS"
I am having a difficult time trying to deploy my asp.net core (full .net framework 4.6) to my local IIS.

I have installed the .Net Core Windows Hosting module (version 1.0.0 RC 2) and I have followed all steps from https://docs.microsoft.com/en-us/aspnet/core/publishing/iis and I constantly get the same result which is:

This site can’t be reached

testwebsite’s server DNS address could not be fo

[2016-12-07 18:42] ElvisHalil commented on #310
I feel like this may be important too, my current installed core components:

![installedcore](https://cloud.githubusercontent.com/assets/6643233/20981501/3760bfd2-bc72-11e6-9e56-2a7603b541f5.png)

[2016-12-07 21:13] ElvisHalil commented on #310
I removed the host name in IIS and I can now reach the application.  I am closing this for now as I keep troubleshooting to attempt to deploy my actual application.

Reference: https://forums.iis.net/post/2024442.aspx

[2016-12-07 21:13] #310 closed

[2016-12-07 22:13] MarkEMedlin commented on #305
I haven't been able to recreate the behavior in a less complex application.

Do you know of additional debug tracing I can enable in my larger application?

[2016-12-07 22:46] cesarbs commented on #305
One more thing to try: move `"api/[controller]"` to the `HttpPost` attribute (remove `"{probe}"`).

It's weird that you're seeing a 502 error page from IIS since this is an async request. You shouldn't be seeing something like this unless you were actually navigating to `api/Probe`.

[2016-12-07 22:53] cesarbs commented on #305
Also, the 2 minute timeout is from ANCM disconnecting from Kestrel because it hasn't received any data in that time. Could your code be taking that long to generate a response?

[2016-12-07 23:56] MarkEMedlin commented on #305
I think the timer is it.  That's one of the first things I checked.  I must have missed it in the logs though.  It's clearly disconnecting 2 minutes after the post.  The POST response is then written a few seconds later in the log.

There are times when my application has to wait for resources on another machine.  That explains why it's intermittent.  Now I have a good reason to dig into SignalR.

[2016-12-07 23:59] cesarbs commented on #305
@MarkEMedlin No worries :) Glad that we found out what was wrong.

[2016-12-07 23:59] #305 closed

[2016-12-08 14:47] MarkEMedlin commented on #305
I increased the ASP.NET Core Module timeout as a workaround.  The setting is "requestTimeout".

https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core-module

[2016-12-09 18:48] moozzyk commented on #252
See: https://github.com/aspnet/Home/issues/1842#issuecomment-265951372

[2016-12-09 23:27] Tratcher commented on #309
@pan-wang @shirhatti ?

[2016-12-10 00:49] shirhatti commented on #309
@Matasx Does editing your ApplicationPool from 'No Managed Code' to load a version of the CLR solve your problem?

[2016-12-10 15:41] RLaptev commented on #201
I’m experiencing the same issue on ASP.NET Core 1.1 RTM
This is a production site running on Windows 2008R2 with all the latest patches. There are no failed request in  AspNetCoreModule stdout log.
For example, I see the following successful entry in the stdout:
`Request finished in 347.108ms 200 text/html; charset=utf-8 `
And a corresponding 502 error response in IIS log:
`2016-12-10 03:47:14 76.

[2016-12-10 16:24] pan-wang commented on #201
Could you please take a look at windows event log to see if there's any ANCM event error or process restart?
If possible, could you please provide a simple repro so that we can investigate it in-house?

Thanks

Pan

Sent from my Windows 10 phone

From: RLaptev<mailto:notifications@github.com>
Sent: Saturday, December 10, 2016 7:41 AM
To: aspnet/IISIntegration<mailto:IISIntegration@noreply.github.c

[2016-12-10 16:55] RLaptev commented on #201
In windows log I only see info messages like the one below:
`Process '7188' started successfully and is listening on port '13240'.`
It appears every hour as I have IIS recylce memory pool every hour due to the following [issue](http://stackoverflow.com/questions/40791138/aspx-net-core-random-502-error-on-iis-server).

I'm not sure how to setup a simple repro for you. This is in production site. Is

[2016-12-10 19:41] GuardRex commented on #309
Might be possible to do something like this with the proxy middleware (https://github.com/aspnet/Proxy by @mikaelm12). Could possibly set the host on the fly from the incoming request (i.e., the "customer" in the Url).

[2016-12-11 03:55] RLaptev commented on #201
Here is an example of a random 502.3 produced by a static PDF file.
See lines 1463, 1464
[fr000001.pdf](https://github.com/aspnet/IISIntegration/files/644222/fr000001.pdf)

[2016-12-11 05:41] pan-wang commented on #201
Is your application hosted on Azure Antares or a server ? Which version (file version) of ANCM was used?

The error started at 1462

    1462. GENERAL_FLUSH_RESPONSE_END
    BytesSent="0", ErrorCode="An operation was attempted on a nonexistent network connection.  (0x800704cd)"
I am not sure why the flush failed. if you fully control the server, is it possible for you to apply private, set a brea

[2016-12-11 22:10] RLaptev commented on #201
The site is hosted on our own dedicated server.
The current version of aspnetcore.dll is 7.1.1967.0, but apparently the latest release is 7.1.1969.0
Were there any fixes between version 1967 and 1969 that could help us? I will schedule and upgrade overnight.
If the upgrade doesn't help, can you please steer me in the right direction on how I can produce a dump when 502 is returned? Is there online

[2016-12-12 16:59] RLaptev commented on #201
Upgrade to 7.1.1970.0 didn't help. Still seeing multiple 502.3 errors
Attached is the latest example of the random 502.3 error for a static image.
[fr000011.pdf](https://github.com/aspnet/IISIntegration/files/646615/fr000011.pdf)

[2016-12-13 01:11] RLaptev opened #311 "Random 502.3 errors"
I started reporting this problem in issue #[201](https://github.com/aspnet/IISIntegration/issues/201), but because it’s already closed, I’m opening a new one.
We have a dedicated Windows 2008R2 server with IIS7.5 and ASP.NET Core 1.1 RTM (ANCM  v7.1.1970.0) running production site for 3 weeks now.
There are two issues all linked to a random 502.3 error:

**Issue 1.** The site would be up and runni

[2016-12-13 04:49] Tratcher commented on #311
@pan-wang

[2016-12-13 18:59] ricklove commented on #252
Wow, this killed my productivity for a whole day. This thread did not help me specifically, but it was the best one that I could find in searching. I wanted to leave my findings here in case others find it and need a different option:

I created a new project with VS and it published fine. So, I started copying files over to see if I could introduce the error. Nope, the new project published just

[2016-12-13 19:29] ZombiesWithCoffee commented on #252
I did the same thing @ricklove .  I finally had to break down for the 6th time and recreate the project from scratch to finally get it to work again.  So it's definitely not a code issue.

I wish my problem was a simple as the global.json file.  Mine are the same.

[2016-12-13 19:33] ricklove commented on #252
Definitely a very frustrating experience after having no problems publishing with this project and then all of a sudden it blew up. It had been about a month since I had published with this project (but never had a problem with it) and I may have updated other projects and maybe the VS tooling or something.

The project was originally a RC2 project and is now at 1.0.1. I was just happy it worked a

[2016-12-14 07:23] xing-zheng commented on #207
@GuardRex
It works for me, Thank you.

PS: 2016-12-14
downloaded package is Microsoft Visual C++ 2015 Redistributable (x64) - 14.0.24215 witch follow your link.

[2016-12-14 11:03] joacar opened #312 "Infinite redirect loop"
Everything worked well this morning but then there were some errors with, well just everything related to developing .net core web app.

Targeting netcoreapp1.1 and using Auth0 as idp/ids. IISIntegration is 1.1.0.

When I try to authenticate I get into a redirect loop. I have `AllowAnonymous` on the login action (worked fine without it this morning) but its not even getting called (breakpoint insi

[2016-12-14 14:27] Tratcher commented on #312
Remove automatic challenge from cookie auth.
https://github.com/aspnet/Security/issues/1062

[2016-12-14 15:15] joacar commented on #312
Thanks 👍

[2016-12-14 19:49] pan-wang commented on #311
could you please use Message Analyzer (https://www.microsoft.com/en-us/download/details.aspx?id=44226)  to capture the network traffic between ANCM and Kestrel? This will tell us what the response was sent by Kestrel caused 502.3 error.

[2016-12-15 02:21] RLaptev commented on #311
@pan-wang - please see attached screenshot from Message Analyzer. Is this is what you need? It's Local Network Traffic with 502 filter on Summary column. I assume it shows only traffic between IIS and the client.  Do I need special setup in order to capture traffic between ANCM and Kestrel?

![502-screenshot](https://cloud.githubusercontent.com/assets/12072954/21209618/4b64e75c-c243-11e6-88cb-c639

[2016-12-15 03:30] pan-wang commented on #311
I strong suspect those two requests triggered timeout for the connection between IIS/ANCM and Kestrel. the default request timeout is 2 minutes. The time Elapsed for those two requests are 2 minutes. you may want to investigate why Kestrel could not finish the request within 2 minutes. As a workaround you can increase the request timeout value in web.config.

Thanks

Pan

_________________________

[2016-12-15 03:42] RLaptev commented on #311
@pan-wang  Yes, the screenshot shows an example of IIS connection timeout after 2 minutes. However, according to the logs these requests never arrived to Kestrel. There are absolutely no entries in Kestrel stdout log for these timeout requests.
Any other suggestions?

[2016-12-15 04:03] pan-wang commented on #311
Do you have detailed network log between IIS and Kestrel? This log will tell us who dropped the request?

Sent from my Windows 10 phone

From: RLaptev<mailto:notifications@github.com>
Sent: Wednesday, December 14, 2016 7:42 PM
To: aspnet/IISIntegration<mailto:IISIntegration@noreply.github.com>
Cc: pan-wang<mailto:pan-wang@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [aspne

[2016-12-15 04:11] RLaptev commented on #311
I think I don’t have this log. Do I need to use Message Analyzer for that?  If yes, then that is what I was asking in my previous question - how do I configure Message Analyzer to track messages between  IIS and Kestrel?

Thanks.

[2016-12-15 06:09] Tratcher commented on #311
You need to set up Message Analyzer to track the loopback adapter.

[2016-12-15 18:33] RLaptev commented on #311
Ok, i did that. Here is another screenshot:

![502-screenshot3](https://cloud.githubusercontent.com/assets/12072954/21236963/0c9e8162-c2cb-11e6-8c36-674845a528b4.png)

I see 2 minutes 502 request between client and IIS, and the next line is what seems like a successful request to Kestrel at port 31520. I'm reading this correctly? Why IIS then returning 502???

[2016-12-15 19:13] Tratcher commented on #311
That shows that IIS sent the request to Kestrel, but it doesn't show a response. The request appears to be stuck in your application somewhere, and IIS aborts the request after 2 minutes.

[2016-12-15 19:21] RLaptev commented on #311
I'm reading the last two lines as a reply from Kestrel to IIS, port 31520 to 49803.
Request for IIS to Kestrel is line 3 from the bottom, port 49803 to 31520.
All my other successful requests/replies to Kestrel look similar to the last 3 lines.

[2016-12-15 19:28] pan-wang commented on #311
The tcp reply length is 0. I don’t think it is a valid http response. Something is wrong.

Sent from my Windows 10 phone

From: RLaptev<mailto:notifications@github.com>
Sent: Thursday, December 15, 2016 11:22 AM
To: aspnet/IISIntegration<mailto:IISIntegration@noreply.github.com>
Cc: pan-wang<mailto:pan-wang@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [aspnet/IISIntegratio

[2016-12-15 19:30] Tratcher commented on #311
Those are just ACK for receiving the request, it's not sending the response yet.

[2016-12-15 19:35] RLaptev commented on #311
Ok, assuming that is what's happening. Where do I look next?
Thank you.

[2016-12-15 19:40] Tratcher commented on #311
Is that request for a static or dynamic resource? If it's dynamic then i'd suggest debugging the generation code. If it's static then we may need to capture a process dump and look deeper in the server.

[2016-12-15 19:45] RLaptev commented on #311
The example I provided is for completely static resources. This randomly happens to images/js/css files but sometimes MVC views.
Can you please point me to the instructions on how to capture this dump? I assume it needs to be done when IIS encounters 502 error?

[2016-12-15 19:48] Tratcher commented on #311
@halter73 can you let @RLaptev know what you'd need to debug a hung request in kestrel?

[2016-12-15 21:50] halter73 commented on #311
I haven't seen any logs from the .NET process. If you enable the most verbose logging like [shown here](https://gist.github.com/halter73/1442401de3d9b2c8330ba0083f07cfc9) and capture the logs corresponding to the same time frame as the 502, that might help us determine what's going on.

[2016-12-16 01:25] RLaptev commented on #311
I only have the Information level logging enabled. I will enable Trace level tonight and will report my findings tomorrow. Maybe LogLevel.Debug is good enough? I wish there was a way to add timestamp to stdoutLogFile, is there?

Thanks

[2016-12-16 09:16] mythjuha commented on #301
Very carefully i'll say the issue 'might' be resolved. Last few updates been without issues. I modified access to the application folder to allow 'everyone' read access (didn't look into detail yet which user might have needed read access that was blocked previously). If i find the time i'll try to get more details.

[2016-12-16 11:18] Matasx commented on #309
@shirhatti no it is not possible (when talking about IIS rewrite) since it specifically requires to any url rewrites (and I am talking about rewrites, no redirects) to happen withing the same application pool (which needs to be 'no managed code' since I am hosting Asp.Net core applications).

@GuardRex thanks for all the suggestions, I am going to review now.

[2016-12-16 17:15] gradom commented on #269
@GuardRex Yes, I found out the issue. In the Startup.cs I tried to create a default user subsequently, the application tried to build a connection to the database but the connection string was incorrect. Secondly,  I only got a KERNELBASE error in the event log because of the missing stdout-logfile. I fixed the error through to recreating the stdout-file.

[2016-12-16 20:28] halter73 commented on #311
@RLaptev You can use serilog instead of console logging. Instead of using stdout, you can write the same logs with time stamps straight to a log file.

[Here's a blog post descrying how to set up Serilog](https://nblumhardt.com/2016/10/aspnet-core-file-logger/).

[2016-12-16 20:31] RLaptev commented on #311
@halter73 Thank you, I already configured nLog for this. I'm now trying to find relative information in the log so I can show it here.

[2016-12-19 16:37] bsafta opened #313 "Installing .NET Core 1.0.3 Windows Server Hosting fails with error 0x80070570"
I have tried to install .NET Core 1.0.3 Windows Server Hosting on multiple machines, but it keeps failing with:
0x80070570 - The file or directory is corrupted and unreadable

I've downloaded the file from [here](https://go.microsoft.com/fwlink/?linkid=837808), the link is included in the [downloads section](https://www.microsoft.com/net/download/core#/runtime) for .NET Core.

I have included the

[2016-12-19 17:02] krswope commented on #245
@KLuuKer

Can you give an example of something that you changed that cleared this up for you like "change this to this?"  I am having a similar issue where IIS is just getting locked up at around 500 concurrent users on my api and then it just dies.  Anything you can share would be amazing.  Thanks!

[2016-12-19 18:19] RLaptev commented on #311
Over the weekend IIS logged 460 errors with 502 status. All errors contained “An operation was attempted on a nonexistent network connection.” The error in IIS would look like so:

[code]

I can see from the IIS log that content of the JS file (as an example) is being transmitted and then IIS throws 502 error due to “nonexistent network connection.” I think client/browser just disconnects before f

[2016-12-19 20:21] Tratcher commented on #313
@joeloff

[2016-12-20 05:58] RLaptev commented on #311
Tonight we had 25 timeout (after 2 minutes) 502.3 errors in IIS log. Like the one below:

ModuleName="AspNetCoreModule", Notification="EXECUTE_REQUEST_HANDLER", HttpStatus="502", HttpReason="Bad Gateway", HttpSubStatus="3", ErrorCode="2147954402", ConfigExceptionInfo=""

According to ASP.NET Core logs these requested were never received by Kestrel! There are absolutely no entries in the asp.net lo

[2016-12-20 08:50] KLuuKer commented on #245
@krswope i recommend you try the managed debugger feature in VS used by halter73  https://github.com/aspnet/IISIntegration/issues/245#issuecomment-253668589
it is really easy to track the thread pool starvation problem with

i had timer's ticking that started async HttpClient requests, so i just increased the interval they where ticking at.
after that worked i started to build a better way that di

[2016-12-20 16:19] krswope commented on #245
@KLuuKer thanks for the response.  I'm using VS 2015 Enterprise so that Managed Memory Feature is different.  I'm having trouble trying to nail down where the issue is happening.  Any tips on that would be great.  I have some stopwatches that I kick off before like this:
`apiWatch.Start();
 HttpResponseMessage response = await client.GetAsync(getwhatever);
 apiWatch.Stop();`

Perhaps I should take

[2016-12-20 23:42] pan-wang commented on #311
frequently recycle IIS worker process is not a good idea as it will kill long running request and introduce cold start latency. You claimed that the timeout requests were never received by Kestrel. Do you have network traffic log to prove it? Could you please collect network traffic log so that we can isolate the root cause. I am really curious about where the request got lost.

[2016-12-21 00:12] KLuuKer commented on #245
@krswope sorry i meant the "Parallel Stacks window"
it shows all of the stack's in parallel grouping by the stacks that are the same with a count

[2016-12-21 00:50] RLaptev commented on #311
I thought that recycling so often is not a good idea, but I have no other way of keeping out site running.
I don’t have the network logs for the timeouts from yesterday, but I think the log will look identical to the screenshot I posted 5 days ago:
![502-screenshot3](https://cloud.githubusercontent.com/assets/12072954/21236963/0c9e8162-c2cb-11e6-8c36-674845a528b4.png)
Does the above log tell you a

[2016-12-21 18:05] pan-wang commented on #311
the above log tell us ANCM forwarded the request to Kestrel successfully but did not receive the response.
If it is still true for your latest case, it indicates a bug in Kestrel. The cause of packet lost may due to out of resource, e.g., queue is full or out of thread, I guess. We need a dump of the Kestrel process to analyze it.
I am not sure about whether other 502 error is caused by client dis

[2016-12-23 15:58] Matasx commented on #309
@GuardRex Hi, finally I was able to create working solution using the proxy middleware, although I had to change its implementation a bit for ability to change path as well (not only host part). Nevertheless I am a bit **concerned about performance**. At this point any request must go down folllowing path:
1) Initial request hits IIS
2) AspNetCoreModule translates the request and calls kestrel pro

[2016-12-23 16:21] pan-wang commented on #309
Is it possible for you to use iis url rewrite module directly https://www.iis.net/downloads/microsoft/url-rewrite?

Sent from my Windows 10 phone

From: Martin<mailto:notifications@github.com>
Sent: Friday, December 23, 2016 7:58 AM
To: aspnet/IISIntegration<mailto:IISIntegration@noreply.github.com>
Cc: pan-wang<mailto:pan-wang@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re:

[2016-12-23 16:26] GuardRex commented on #309
@pan-wang ... at the same host address? I don't think that's possible is it?

@Matasx The only other thing that jumps to mind would be one of the Layer 7 switches out there, but I'm sure you know, those appliances get really pricey really fast. eBay might be a good source tho.

[2016-12-23 16:31] Matasx commented on #309
@GuardRex It would be cheaper for us to create custom IIS module that would handle routing to multiple Asp.Net Core self-hosted apps.

[2016-12-23 16:33] GuardRex commented on #309
@Matasx Yeah ... I hear you on that.

I still have these apps setup from that testing I did before. I'll try to use the IIS module and see if it can rewrite to the subapps. I'll ping back the result in a bit.

[2016-12-23 16:45] Matasx commented on #309
@GuardRex IIS rewrite module can be used to rewrite tu .Net Core subapps, just make sure you use some custom plugin to do the rewrite (because I need to reach DB for the rules) - and that is the issue as it needs to be "no managed code pool" and therefore you cannot use .Net IIS rewrite custom plugin ... I do not mind much if it could be done in native code instead of .Net IIS Rewrite custom plugi

[2016-12-23 17:24] GuardRex commented on #309
@Matasx I don't have a custom plugin, but since the ordinary module works ... and if you can't use the [DbProvider built-in](https://www.iis.net/learn/extensions/url-rewrite-module/using-custom-rewrite-providers-with-url-rewrite-module), then I guess you could write a custom module to do it.

Anyway ... the test here was successful. The IIS module can rewrite to a subapp and mask the Url. [Ignore

[2016-12-23 17:27] GuardRex commented on #309
I guess my question is ... Why can't the DbProvider work in your setup?

[2016-12-23 17:31] Matasx commented on #309
@GuardRex Because DbProvider (or any other, even custom plugin for IIS Rewrite) is **managed code**. If you use IIS rewrite to Core app, you must use "**No** managed code" pool and managed plugin stops working.

[2016-12-23 17:43] GuardRex commented on #309
Not according to my test ... but it might be simpler than what you need to do. I set the `rewrite_root` app (thus AppPool for all three apps) to managed code. It works either way.

![capture4](https://cloud.githubusercontent.com/assets/1622880/21459580/f791e210-c904-11e6-8a53-98f582679928.PNG)

[2016-12-23 17:44] pan-wang commented on #309
It is NOT mandatory to switch IIS application pool to “no managed code”. You can host classic Asp.Net application with the core app inside the same apppool.

Sent from my Windows 10 phone

From: Martin<mailto:notifications@github.com>
Sent: Friday, December 23, 2016 9:32 AM
To: aspnet/IISIntegration<mailto:IISIntegration@noreply.github.com>
Cc: pan-wang<mailto:pan-wang@hotmail.com>; Mention<mailto

[2016-12-23 17:46] GuardRex commented on #309
Goes back to original ? then: DbProvider. It should :sparkles: just work:tm: :sparkles:

[2016-12-23 17:51] Matasx commented on #309
Wow that is strange, I tried to use managed pool for Core app but IIS just ignored the AspNetCore handler then ... I will retry once I get back to the office on Tuesday. Thanks for now. I will let you know.

[2016-12-23 18:04] Matasx commented on #309
Ok I have tested it now and it works. Meaning that I have just spent whole week on an issue that does not exists. Yay me.

**Thanks a lot guys for your time and effort, appreciated!**

[2016-12-23 18:04] #309 closed

[2016-12-23 21:16] geeeyetee commented on #238
Another cross ref issue (see comments regarding on-premises products being similarly affected):
https://github.com/Microsoft/vsts-tasks/issues/1607

[2016-12-26 15:07] nil4 commented on #146
A generic [dotnet CLI tool for XDT transforms](https://github.com/nil4/dotnet-transform-xdt) is available for both project.json-based and MSBuild/csproj-based projects that enables config transformations. [A couple of sample projects](https://github.com/nil4/xdt-samples/) demonstrating Web.config transformations at publish time are also available.

[2016-12-28 23:02] dkent600 commented on #221
Same thing is happening to me.  I _don't_ have a web.config in my project --  `publish-iis` is generating the web.config on its own.  But each time I run `publish-iis` it adds another instance of the name of the dll to the `arguments` attribute of `aspNetCore`.

[2016-12-29 13:53] Matasx commented on #309
I would like to add one final note and that is this does not work with .Net Core Windows hosting 1.0.1, but it works with version 1.1.0 (it will be probably filed somewhere, but I wasn't searching ...)

[2016-12-29 17:52] moozzyk commented on #221
I don't think it is possible for publish-iis to append anything if there is no web.config file since it is writing the config from scratch. Please note that publish-iis reads config from the publish folder and not the application folder so even if you did not have web.config in your application and you publish to a target folder it will create one. If you publish again to the same folder, because

[2016-12-29 18:23] dkent600 commented on #221
@moozzyk Indeed it happens when you publish more than once in a row.  Yes, deleting would be the work-around.  I was hoping that `publish-iis` would have an option to delete everything in the destination before publishing, but haven't been able to find it.  (Haven't in fact been able to find *any* docs on the command-line arguments for that command.)

[2016-12-29 18:32] GuardRex commented on #221
@dkent600 I probably could have (or *should have*) provided some more detail here: https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#publish-iis-tool

... and I would do so, except that the `publish-iis` tool is going away with the move to MSBuild/csproj. Soon, that section is going to change over to address how `Microsoft.NET.Sdk.Web` handles `web.config`.

[2016-12-31 01:46] nvivo commented on #313
Any updates on this? I'm having exactly the same problem and this is preventing us to deploy new servers with asp.net core.

1. Got a new Windows Server 2016 VM on AWS.
2. Tried to install `DotNetCore.1.0.3_1.1.0-WindowsHosting.exe` from `https://www.microsoft.com/net/download/core#/runtime`) and got the same error as above.
3. Per issue #207 I tried to install VC++ Redist from http://go.microsoft

[2017-01-02 19:07] nilavghosh commented on #252
I commented the sdk version from global.json in the solution and the deployment to azure started working fine.

[code]

[2017-01-03 18:09] muratg commented on #238
@vijayrkn any ideas on the above?

[2017-01-03 18:16] vijayrkn commented on #238
Could be related to this bug - https://github.com/aspnet/Home/issues/694#issuecomment-270175753.

A recent change in ANCM made app_offline case sensitive.

[2017-01-03 19:58] rnagpal commented on #238
@vijayrkn I was hoping that setting EnableMSDeployAppOffline as True in my .pubxml should take care of that. Can you point me to specific instructions on how to achieve this using app_offline.htm?

[2017-01-03 20:04] vijayrkn commented on #238
When this property is set EnableMSDeployAppOffline' msdeploy drops App_Offline.htm during publish time and removes it after publish. Ideally ASP.NET Core module should take care of bringing the site down when this file is dropped.

In the latest release of ANCM(ASP.NET core module), it looks for a case-sensitive app_offline.htm. Because of this, setting EnableMSDeployAppOffline wont bring down the

[2017-01-04 04:22] RLaptev commented on #311
I thought I will update my findings so far. Our site is image heavy. All images are just static photos served by StaticFiles middleware. I noticed that most of the time IIS timeouts were for the images, so I setup a new IIS site just to serve images (no asp.net core). The result – no timeouts! ASP.NET Core still runs our main site but all images/photos are from a different IIS site/URL. I have bee

[2017-01-04 19:03] pan-wang commented on #311
AspNetCoreModule does not distinguish static file or dynamic content. It just forwards the request and flows the response. if you saw permanent 502 error, I strongly doubt it is application issue. For static contents, just as what you did, the best practice is to host them on a different IIS application/site, as IIS has been optimized a lot for this scenario. Will update you about client disconnec

[2017-01-06 18:51] GuardRex opened #314 "Need a tip on location for httpTracing traces"
Researching for https://github.com/aspnet/Docs/issues/2367

Activating `httpTracing` with ...
[code]
I wish they would state the location of the traces explicitly in https://www.iis.net/configreference/system.webserver/httptracing, but the doc doesn't say.

I'm expecting them to be elsewhere than the failed request tracing traces ... I know where those are. I don't see what I'm looking for in the

[2017-01-06 19:06] Tratcher commented on #314
@pan-wang @shirhatti ?

[2017-01-10 02:34] steveoh opened #315 "IIS Application Route 404"
I am publishing my first asp.net core app to IIS 8.5. I have followed the directions on  https://docs.microsoft.com/en-us/aspnet/core/publishing/iis

Install .net core windows server hosting bundle
https://aka.ms/dotnetcore_windowshosting_1_1_0

Stop and start www publishing service

[code]

Run `dotnet publish -c Production` on core app to create publish folder
You can rename the publish folder a

[2017-01-10 18:11] Tratcher commented on #315
If the application created as `api` then your route definition should not include `/api` at the begging. `/api` is moved from the Path to the PathBase so you don't need to include it in all of your routes. Try `[HttpGet("~/search/{facilityNumber}/{featureId}")]`. Not sure you need the ~ either.

@rynowak

[2017-01-10 18:32] steveoh commented on #315
Yes, I realized that this morning. I added an exception handler instead of the missing yeoman generator error route that was to home/error that was 404ing and it's an issue with appsettings.json and getting a sql connection string.

[code]

[2017-01-10 18:32] #315 closed

[2017-01-10 21:05] szubajak commented on #255
Did you solve it?

[2017-01-10 22:06] moozzyk commented on #255
The issue must have been that publish-iis did not run and have not updated/created the config accordingly.

[2017-01-10 22:15] Horsefight commented on #255
Nah, from memory I needed to explicitly include the references to my environment specific files

a la
  "publishOptions": {
    "include": [
      "wwwroot",
      "Views",
      "MoverAppInstall",
      "Areas/**/Views",
      "appsettings.json",
      "appsettings.SystemTest.json",  <- this guy
      "web.config"
    ]
  },

[2017-01-11 18:49] muratg commented on #308
@jamespedid did you figure this out? It looks like you can simplify your deployment a bit, I assume you already did :)

[2017-01-12 09:20] CMircea commented on #313
In the meantime I recommend downgrading to 1.0.1 and installing the 1.0.1 server runtime from: https://download.microsoft.com/download/F/6/E/F6ECBBCC-B02F-424E-8E03-D47E9FA631B7/DotNetCore.1.1.0-WindowsHosting.exe

(link from Chocolatey package source)

[2017-01-12 19:48] pan-wang opened #316 "Graceful shutdown does not work on Win7"
For graceful shutdown, ANCM sends ctrl-C signal to backend Kestrel process. The later should do cleanup  and terminate after receiving the signal. When debugging other issues, I found this graceful shutdown failed on Win7 but worked on Win10, while ANCM did send the ctrl-C  signal successfully.

[2017-01-13 03:25] jamespedid commented on #308
I did not and I switched to a non-core application, and that is what we went with.

[2017-01-13 03:25] #308 closed

[2017-01-15 10:37] nvivo commented on #313
I should note that this appears to be fixed. The installer on the download page was replaces and the new version is working for me. It seems the official download page points to the same one recommented by @CMircea.

[2017-01-18 15:31] aL3891 opened #317 "Webdeploy parameter file support/tool"
Hello,
I've been working on deploying a asp.net core app to azure via webdeploy (in vsts) recently and I think the tooling could be improved here, in particular with respects to webdeploy and its parameter file syntax.

The [current docs](https://docs.microsoft.com/en-us/aspnet/core/publishing/vsts-continuous-deployment) recommends simply zipping up the publish contents and this works fine if you

[2017-01-18 17:39] moozzyk commented on #317
/cc @vijayrkn
I think a better repo to report this is https://github.com/aspnet/websdk. This is also a new home for the publish-iis tool which was converted to an MSBuild task (https://github.com/aspnet/websdk/tree/dev/src/Publish/Microsoft.NETCore.Sdk.Publish.Tasks)

[2017-01-18 17:45] vijayrkn commented on #317
We have added support for adding parameters file for web deploy publish. https://github.com/aspnet/websdk/blob/dev/src/Publish/Microsoft.NET.Sdk.Publish.Targets/netstandard1.0/PublishTargets/Microsoft.NET.Sdk.Publish.MSDeploy.targets#L237

The next VS 2017 release should have this.

[2017-01-18 23:36] aL3891 commented on #317
aha nice to see it coming! also I didn't know they opened up the websdk repo, that's great!

[2017-01-18 23:37] #317 closed

[2017-01-19 18:43] GuardRex opened #318 "Can web.config be simpler for docs samples?"
I was thinking about using the IISIntegration repo sample `web.config` for docs samples. Since docs samples will set the project SDK to `Sdk.Web` and `Sdk.Web` can add `processPath` and `arguments` with appropriate values, it would simplify `web.config` quite a bit to go with ...

[code]
Would that be acceptable for docs samples with `Sdk.Web`?

[2017-01-19 19:37] Tratcher commented on #318
The samples should use what's generated by the default templates where appropriate. Note there's a tooling work item to not require a web.config by default, it would only be added as part of publish.

[2017-01-19 19:46] #318 closed

[2017-01-20 22:59] JunTaoLuo commented on #316
Issue has been resolved, an Windows API behaves slightly differently on Win7. Fix will be in ANCM. Thanks @pan-wang for investigating!

[2017-01-20 22:59] #316 closed

[2017-01-24 03:36] Ku4nCheang commented on #311
Got a same issue of serving a large static file. In my case, it is a mp4 file with 15Mb size. It caused 502 bad gateway. Look into the log file. It showed these requests were not finished. It just keep receiving new request for the static file.

**HTML5 video tag for display a video**
Some requests showed a strange response. The server tried to serve a file but never response successfully. It need

[2017-01-24 11:10] ImageQC opened #319 "Unable to load DLL 'sni.dll' fix means you cannot start remote debugger"
[#264](https://github.com/aspnet/IISIntegration/issues/264) proposes a solution to the problem of IIS not loading sni.dll by adding type: platform to the Microsoft.NETCore.App dependency in project.json.

    "Microsoft.NETCore.App": {
      "version": "1.1.0",
      "type": "platform"
    },

I understand this enforces resolution of the dependency on the deployed platform rather than just during

[2017-01-24 17:44] moozzyk commented on #319
Adding `"type": "platform"` means that you no longer publish the runtime with your application but use the runtime installed on the target machine. Windows Azure App Service is running 32-bit machines so it could not load 64-bit sni.dll to the process. When you started publishing without the runtime it started using the 32-bit runtime installed on the target machine. I guess you need to start 32-b

[2017-01-24 18:17] JunTaoLuo commented on #301
@mythjuha @pan-wang are there still issues that need investigation here?

[2017-01-25 05:59] #164 closed

[2017-01-25 05:59] #232 closed

[2017-01-25 10:29] mythjuha commented on #301
@JunTaoLuo Depends on how you look at it. My issues were resolved by giving 'everyone' read access to the folder. I still didn't look into which user was trying to read the folder but wasn't allowed.

However, as a developer it might be worth investigating to prevent this issue, as to me it seems pretty severe. There are no errors, no messages, nothing pointing towards the reason why shutting down

[2017-01-28 12:44] ImageQC commented on #319
Thanks for the clarification about type:platform - I'm a bit new to all this. I've done some further investigation using the Kudu debugger (activate by clicking my website URL from Azure Portal and then altering the URL in the browser by adding .SCM before azurewebsites.net). The application settings for my WebApp on Azure include platform 64 bit.

- When I deploy with Microsoft.NetCore.App type :

[2017-01-29 08:02] ImageQC commented on #319
**ANSWER to my original post:**

In order to run the remote debugger you just need to **change the Azure architecture platform setting to 32 bit** (find in Azure Portal, WebApp, Application Settings). I'm not sure why this should matter, but it does.

Other settings in the Azure Portal are remote debugging on and (in my case) Visual Studio 2015. I built and deployed with Debug - Any CPU configurat

[2017-01-29 08:02] #319 closed

[2017-01-31 10:19] MitchDart opened #320 "Authorize Attribute causing 401 in IIS but 302 in Kestrel"
When hitting an authorized endpoint I am receiving a 401 error instead of being redirected back to Login screen. This however correctly happens when running on Kestrel stand alone.

Here is my relevant Startup.cs code

            app.UseIdentity();

            // Adds IdentityServer
            app.UseIdentityServer();

            app.UseIdentityServerAuthentication(new IdentityServerAuthentica

[2017-01-31 10:42] MitchDart commented on #320
Needed to update Aspnet Core to 1.1

[2017-01-31 10:42] #320 closed

[2017-02-02 12:17] lukaszkrzywizna commented on #240
Is this issue was resolved?
I've got the same problem when I want to send AcceptWebSocketAsync() with subprotocol parameter thus I can't make connection between JS websocket and server. It works fine without IISExpress.
I'm using the last version of IISIntegration (1.1.0) and WebSockets.Server (0.1.0).

[2017-02-02 19:45] natemcmaster opened #321 "Upgrade to VS 2017"

[2017-02-03 18:17] muratg commented on #313
@bsafta Let us know if you still have issues.

[2017-02-03 18:17] #313 closed

[2017-02-03 18:17] #312 closed

[2017-02-03 18:20] muratg commented on #311
@cesarbs Could you take a look? We can move the bug if necessary.

[2017-02-03 18:21] muratg commented on #314
@shirhatti could you follow-up?

[2017-02-03 18:21] muratg commented on #314
This issue was moved to aspnet/AspNetCoreModule#65

[2017-02-03 18:22] #314 closed

[2017-02-03 18:32] cesarbs commented on #311
@muratg Will do.

[2017-02-03 19:40] #321 closed

[2017-02-03 20:10] Tratcher commented on #240
WebSockets.Server (0.1.0)? That's really outdated. Can you repro this with the current sample app?
https://github.com/aspnet/WebSockets/blob/dev/samples/EchoApp/Startup.cs

[2017-02-03 21:32] cesarbs commented on #311
This smells of https://github.com/aspnet/KestrelHttpServer/issues/1278, which will be fixed in 1.1.1.

@RLaptev Do you pass the `context.RequestAborted` cancellation token to any writes done by your app? This would explain why you see the issue on views sometimes. StaticFiles uses that token, which is why it's affected by the deadlock.

Do you have a test environment where you're able to generate

[2017-02-04 05:27] pan-wang commented on #240
if my memory is correct, this was fixed . Have you try ANCM with ASP.NET Core v1.1 release?

________________________________
From: Chris R <notifications@github.com>
Sent: Friday, February 3, 2017 3:10:48 PM
To: aspnet/IISIntegration
Cc: pan-wang; Assign
Subject: Re: [aspnet/IISIntegration] subprotocol is not returned in WebSocket Upgrade / Accept Response (#240)

WebSockets.Server (0.1.0)? That'

[2017-02-06 11:48] lukaszkrzywizna commented on #240
@Tratcher I'm talking about AspNetCore.WebSockets.Server and the last version of nuget package is 0.1.0 (https://www.nuget.org/packages/Microsoft.AspNetCore.WebSockets.Server/). EchoApp sample is inappropriate because it uses overload of AcceptWebSocketAsync() without subprotocol parameter.  Connection succeed when I want to create websocket connection without any subprotocols. However when I crea

[2017-02-06 17:14] Tratcher commented on #240
AspNetCore.WebSockets.Server is obsolete, it was replaced by AspNetCore.WebSockets https://www.nuget.org/packages/Microsoft.AspNetCore.WebSockets/

I recommended the EchoApp because it has the latest dependencies. It should be easy enough to add a sub-protocol there for testing.

[2017-02-07 20:44] lukaszkrzywizna commented on #240
Ok, I've changed package to Microsoft.AspNetCore.WebSockets v1.0.0 - still the same situation, but when I've installed VS 2017 RC everything started to work properly. I'm guessing that was caused by replacing IISExpress with new version included in VS 2017.

[2017-02-08 05:28] RLaptev commented on #311
The cancellationToken.ThrowIfCancellationRequested is only used in one class - custom UserStore that implements IUserStore, IUserPasswordStore, IUserLoginStore, IUserPhoneNumberStore, IUserTwoFactorStore, IUserSecurityStampStore interfaces.
Sorry, no test enviroment.

[2017-02-08 06:35] halter73 commented on #311
@RLaptev  You don't even need to use context.RequestAborted directly. Simply using the StaticFiles middleware could cause the issue described in aspnet/KestrelHttpServer#1278 since it uses the CancellationToken.

You mentioned in https://github.com/aspnet/IISIntegration/issues/311#issuecomment-270292002 that the StaticFiles middlware could be the problem. You may have been right.

[2017-02-08 09:29] bsafta commented on #313
I've downloaded once again ".NET Core 1.0.3 Windows Server Hosting" and it was successfully installed without any issues.

[2017-02-08 23:29] pan-wang commented on #311
@RLaptev In my test, I did find that a 502 error will be logged to IIS log if client dropped connection.

[2017-02-09 22:53] glennc commented on #311
Moving to discussion until something falls out that is actionable or we close it.

[2017-02-09 23:25] krs99 commented on #311
Hello

I have exactly the same issue, we are trying to go around for a few days but no result.
![502-server-error](https://cloud.githubusercontent.com/assets/25674288/22807470/66e1f5d6-ef27-11e6-824f-7d98d54c3b42.png)

Server environment Windows 2012R2 Standard, core ASPNET 1.1.0, IIS 8.5

We have four website, two of them has a short video file from 200KB to 10MB and the other two are not.

The p

[2017-02-10 02:12] RLaptev commented on #311
@krs99 - as workaround you can setup a separate website in IIS that just serves static files (no .Net), e.g. media.xyz.com and serve all your video files from that site. That is what I did for ours.

[2017-02-10 02:20] halter73 commented on #311
@krs99 @RLaptev's workaround should fix your issue if it's the same (and it definitely looks like it could be). Once 1.1.1 is release (or 1.0.3), it shouldn't be necessary.

[2017-02-10 11:21] thisissubbuster opened #323 "502.3 bad gateway errors couple of hours after deployment"
I deployed an asp.net core 1.0 webapi service to Azure web app in Standard tier. It works fine for a couple of hours. But starts throwing **502.3 bad gateway** errors after that. Restarting the web app again fixes it. But it again behaves the same after some time. We deploy the service from VSTS. Please help

[2017-02-10 15:39] GuardRex commented on #323
Have you checkout out related issues and comments like https://github.com/aspnet/IISIntegration/issues/311, https://github.com/aspnet/IISIntegration/issues/269, and https://github.com/aspnet/IISIntegration/issues/245#issuecomment-242541999? You might have a different problem, but it's worth a read if you haven't seen it. Search the open & closed issues with "502.3" to get them to come up.

[2017-02-11 02:49] krs99 commented on #311
@RLaptev - From the beginning I created separate subdomain for media(media.mydomain.pl) but unfortunately I did not notice that it was assigned to the same app pool as the main domain. When I separate app pool for subdomain and domain it's start working without error 502. Thank you for help.

[2017-02-11 09:00] thisissubbuster commented on #323
Checked them out but still having the same issue. Let me know if you want to have a look at my files

[2017-02-13 11:28] salmankhann opened #325 "Unable to install Aspnet Core Hosting"
Hello, I'm having difficulties installing Aaspnet Core Hosting. I've installed the VC++ redis but I'm still having the same problems. The final line of the log is as follows

[1B0C:1C8C][2017-02-13T15:19:09]i301: Applying execute package: DotNetRedistLts_x64, action: Install, path: C:\ProgramData\Package Cache\118CFAEC70E70968D79D4E75A965113C4C3AF815\packages\DotNetCore.1.0.1-Runtime-x64.exe, argu

[2017-02-13 17:49] Tratcher commented on #325
@joeloff @shirhatti

[2017-02-13 20:00] krs99 commented on #311
Despite the fact that I served static file from subdomain (separate app pool) after three days when website worked well, error 502 reappeared.

[2017-02-14 16:04] joeloff commented on #325
@salmankhann The first package to be installed is the .NET Core runtime. There should be separate log file for that inside your %temp% folder. There was an issue at one point where the C++ redists that the .NET Core installer used were older that what people had installed on their machines, causing it to fail as it attempted to downgrade it. The .NET Core logs will be useful to troubleshoot this i

[2017-02-14 20:07] BrianVallelunga commented on #323
I'm also having severe issues with an ASP.NET Core 1.1 app running .NET Core on Azure. Everything is fine, but then we'll suddenly have a huge spike in threads being used and the server will throw 502 errors.

Here's a screenshot of a good instance and a bad instance:

![dotnet threads](https://cloud.githubusercontent.com/assets/351190/22946763/5e4d7b6e-f2c6-11e6-8233-b4323b6dcd8f.PNG)

Here's the

[2017-02-14 20:18] nemenos commented on #311
I have the same problem, serving dynamic content. I can reproduce the issue, there a call that lasts almost 5-6 seconds that every 6-7 times I run it, the aspnet core process crashes and tries to start again.

[2017-02-14 20:19] Tratcher commented on #323
@halter73?

[2017-02-14 21:09] techgeek03 opened #327 "Install .NET Core Windows Server Hosting bundle on Windows Server Core"
Hello,
I'm trying to install .NET Core Windows Server Hosting bundle on docker using the official microsoft/iis:windowsservercore. Here is my docker file

`FROM microsoft/iis:windowsservercore

RUN mkdir C:\build
COPY DotNetCore.1.1.0-WindowsHosting.exe /build

RUN dism /online /enable-feature /all /featurename:IIS-WindowsAuthentication /featurename:IIS-HttpCompressionDynamic

RUN msiexec /package

[2017-02-14 21:33] Tratcher commented on #327
@shirhatti

[2017-02-14 21:41] shirhatti commented on #327
I'm trying to repro this now.

[2017-02-15 07:21] salmankhann commented on #325
@joeloff thanks for your help. You were right, I had to install VC++ and then .NetCore Runtime and then the hosting package. I guess if you could have one package containing it all, then it would be a much smoother process.

Also, https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#install-the-net-core-windows-server-hosting-bundle does not state that both VC++ and .NetCore Runtime is nece

[2017-02-15 07:21] #325 closed

[2017-02-15 07:32] toblea commented on #311
I have sort of the same problem. Though I have the following scenario (also in production and customers are beginning to discover it):
Windows 2008R2 server with IIS7.5 and ASP.NET Core 1.1:

This works just fine all day, every day:
`Client -> Load Balancer -> IIS -> Kestrel`

This fails _every time_ with "502 - web server received an invalid response while acting as a gateway or proxy server":
`C

[2017-02-15 20:33] GuardRex commented on #325
@salmankhann

The hosting bundle installer installs the VC++ redist, .NET Core runtime, and the .NET Core Library, and that is stated in the section you linked (Step 1, 2nd sentence). I might be misunderstanding what you're saying there when you say "... does not state that ..." What were you looking for it to say?

There is an occasional issue when a machine doesn't have an Internet connection to

[2017-02-16 06:30] nemenos commented on #323
Yes, we have same issue and I need them fixed asap, or find a workaround.
Hoping it's the problem fixed in 1.1.1... ETA?

[2017-02-16 10:16] salmankhann commented on #325
@GuardRex I think there's been a miscommunication. Based on @joeloff 's first comment,

I thought that I needed to manually install the Core Runtime based on the comment above. Which when I did, complained about VC++ which I also installed, and then installed the Core Runtime and then the Hosting Package Manually. I didn't know that the Runtime was installed automatically by the Hosting Package. L

[2017-02-16 16:12] GuardRex commented on #325
Great idea! This problem doesn't come up very often; but when it does, it's rather painful for the developer :boom: :cry:. People don't always get down to the bottom of the doc to see the Common Error.

I put in https://github.com/aspnet/Docs/pull/2783 to cover it. Thanks.

[2017-02-16 23:55] halter73 commented on #323
@BrianVallelung @nemenos  The increasing number of threads might have been caused by a [deadlock in Kestrel](https://github.com/aspnet/KestrelHttpServer/issues/1365#issuecomment-280164319). The best way to verify this is to to take a memory dump and use [VS's Debug Managed Memory Feature](https://github.com/aspnet/IISIntegration/issues/245#issuecomment-253668589) to take a look at the parallel sta

[2017-02-17 11:52] thisispaulsmith commented on #323
We're experiencing exactly the same issue. If 1.1.1 fixes it then it can't come soon enough.

[2017-02-23 04:25] krugerm commented on #311
I am seeing exactly the same behaviour, except we're hosting our site on an Azure app service.

[2017-02-23 07:26] nemenos commented on #311
@krugerm yes, I'm on azure app service too, and it's the biggest problem we have at the moment. we need it to be released asap!

[2017-02-24 02:36] damccull commented on #252
Just an FYI for anyone finding this error. My problem causing it was because I use Kestrel with HTTPS in my startup and provide it a development key. That key doesn't exist on azure and never will, so it throws an exception. I solved it by the following technique:

[code]

This allows me to run kestrel in https locally, but use IIS for https when deployed to Azure without throwing any missing file

[2017-02-24 19:00] JunTaoLuo commented on #301
Without a repro, we are not able to investigate further into this issue so I'll close this issue for now. @mythjuha please reopen this issue if there is a repro you can provide.

[2017-02-24 19:00] #301 closed

[2017-02-26 23:57] krs99 commented on #311
We also need release asap. Is there any information about release date?

[2017-02-27 03:47] zemien opened #332 "Invalid runtimeconfig.json error and error 502.5"
This is on my development environment:
Server: Windows Server 2016 Standard
dotnet --version is 1.0.0-preview2-1-003177
ANCM installed

I first got this error with my projects (one API and one webapp) that are on Microsoft.NETCore.App 1.1.0. I then reproduced this error easily with the default VS2015 webapp template, which uses Microsoft.NETCore.App 1.0.1.

I've confirmed running Kestrel manually

[2017-02-27 18:40] halter73 commented on #311
It will be released with [VS 2017 on March 7th](https://launch.visualstudio.com/).

[2017-03-02 19:27] hannmtz85 commented on #227
I am having the same problem, i have an `IdentityServer4` project. It's deployed to Azure and i am getting this error continuously.

[2017-03-03 11:12] vineus opened #333 "Support relative output dir on dotnet publish-iis"
As it is done in a regular `dotnet publish`: https://github.com/dotnet/cli/issues/3679

that would be great :-)

[2017-03-03 15:55] GuardRex commented on #333
@vineus These bits reside over in the `websdk` repo: https://github.com/aspnet/websdk/issues

[2017-03-03 16:18] vineus commented on #333
@GuardRex : ticket opened here: https://github.com/aspnet/websdk/issues/142

Thanks!

[2017-03-03 16:18] #333 closed

[2017-03-09 01:51] MienDev commented on #227
The same problem, also `IdentityServer4` project.  deployed with docker image.

[2017-03-09 09:10] dhjf commented on #311
Hi. Can anyone confirm that the new release fixed the issue described here? We have a similar issue, getting 502.3's after a while on a service with long response times. It still happens after upgrading to 1.1.1 though...

[2017-03-10 08:02] toblea commented on #201
@RLaptev What do the _request_ headers look like?
I get the same error when the request headers contain a X-Forwareded-For with **a comma**:
`X-Forwarded-For: <proxy_ip>,<local_ip>`

[2017-03-14 01:01] cesarbs commented on #323
1.1.1 is now out there. Anyone still experiencing the hang?

[2017-03-14 15:57] harrdou opened #335 "Client certificate support partially breaks after updating to System.Net.Http 4.3.1"
I ran into  [this](https://github.com/dotnet/corefx/issues/11100) issue with Microsoft.Extensions.Configuration.AzureKeyVault the after upgrading to Visual Studio 2017. Upgrading my web application  to use System.Net.Http 4.3.1 solved that problem, but it introduced a new one with the IIS Integration.

With System.Net.Http 4.3.1, I am seeing the client certificate forwarded correctly with some req

[2017-03-14 19:05] Tratcher commented on #335
Are you sure those files are requested over https?

[2017-03-14 21:55] felipebueno opened #336 "HTTP Error 502.5 when deploying from Jenkins Server after upgrade to 1.0.1. Works OK when deploying from my laptop"
Hi!

We upgraded our app to asp.net core 1.0.1 yesterday. Everything was working ok in development but then I triggered a deploy from our Jenkins server to Azure's App Service .

IIS throws Error 502.5 when the deploy is made by our Jenkins server:
![deploy_jenkins](https://cloud.githubusercontent.com/assets/241271/23923536/cc7d6362-08e5-11e7-9f43-a7f1de0adb2c.png)

But if I deploy from my laptop

[2017-03-15 17:17] harrdou commented on #335
Yes, but I've also confirmed that the client certificate is actually missing from the request; so it's not an issue with the IISIntegration middleware. It seems these requests are originating from the Visual Studio debugger as part of its integration with IE for debugging JavaScript. It looks like the newer tooling doesn't consistently use the same TLS session as the actual application pages: some

[2017-03-15 17:17] #335 closed

[2017-03-17 22:51] Tratcher commented on #336
Event logs?

[2017-03-21 18:07] ofersagi opened #339 "requests are not always logged in IIS"
i managed to reproduce a situation when a request to iis that was routed through aspnetcore module to aspnetcore app was not written to IIS log file.

this happend when an exception was thrown inside a background task that the main code was waited to complete.

in order to reproduce:

        Task<IActionResult>[] taskList = new Task<IActionResult>[numberOfThreadTasksRequired];

loop twice or more

[2017-03-21 18:21] Tratcher commented on #339
I think you're missing a few lines of code. Can you fill it in so we're sure what you're doing?

[2017-03-21 18:29] ofersagi commented on #339
the basic idea is demonstrated. just make some list of tasks and wait on them. then do the bad thing inside.

[2017-03-21 21:54] #336 closed

[2017-03-23 08:22] ofersagi commented on #339
reproduced it again today. can send a fiddler archive + iis + aspnetcore log files privately.
actually the subject should be IIS logs are not being written consistently. sometimes requests are just not logged even after IISRESET new reqeusts are being logged while some requests wasn't logged.

[2017-03-23 18:18] jbagga opened #343 "Clr and CoreClr functional tests failing"
The following functional tests are failing on the CI (primarily on Win7, 2008 and 2012)

- [`HelloWorldTests.HelloWorld_IISExpress(runtimeFlavor: Clr, architecture: x64, applicationBaseUrl`](https://github.com/aspnet/IISIntegration/blob/dev/test/Microsoft.AspNetCore.Server.IISIntegration.FunctionalTests/HelloWorldTest.cs#L28)
[Failure details](http://aspnetci/project.html?projectId=XPlat&testNameI

[2017-03-23 18:25] pranavkm commented on #343
Might have been addressed by https://github.com/aspnet/IISIntegration/commit/cdadfd48d0fc8b6d16a0067e5865a76f8ec05c75

[2017-03-23 18:28] JunTaoLuo commented on #343
Yea looks like an actual issue with tests, not flakiness.

[2017-03-23 23:04] bboshoven opened #344 "Https request reported as http in the httpcontext.request"
I'd like to start of by saying that I'm not sure if the issue is related to the IISIntegration-repo or asp.net at all, although I think it's most likely.

### Setup
I have a Windows 2012 R2 Standard server running IIS 8.5 running the latest ASP.NET Core Module running a asp.net core website (targetted: win7-x64 and net462) with a letsencrypt certificate.

The main function:
[code]

The middlewares

[2017-03-23 23:17] Tratcher commented on #344
This is most likely caused by issues with x-forwarded-proto and related headers. See https://github.com/aspnet/Docs/issues/2384.

Can you show the headers for the affected requests?

[2017-03-24 14:30] bboshoven commented on #344
Added the headers.

Normal browser request:
[code]

Google Pagespeed Insights:
[code]

[2017-03-24 15:40] Tratcher commented on #344
There's an extra value in the X-Forwarded-For header. You need to disable RequireHeaderSymmetry https://github.com/aspnet/BasicMiddleware/blob/a641231f663f5ead72ebb84cac7fbd4f012af64d/src/Microsoft.AspNetCore.HttpOverrides/ForwardedHeadersOptions.cs#L74

[2017-03-24 16:27] bboshoven commented on #344
You are right, although I needed to add the relevant ForwardedHeaders as well.

So adding the following code resolves this issue (Startup.cs -> Configure) (fyi for people running into the same problem):

[code]

Closing this issue, thanks for the help.

[2017-03-24 16:27] #344 closed

[2017-03-24 17:07] Tratcher commented on #344
UseForwardedHeaders is already included by UseIISIntegration. You can configure its options in ConfigureServices.
https://github.com/aspnet/IISIntegration/blob/adcc6e8d7bfd9d9c27920ac04a4e93eaaaf22564/samples/IISSample/Startup.cs#L19

[2017-03-24 20:45] jbagga commented on #343
Https_HelloWorld_NoClientCert(runtimeFlavor: CoreClr, architecture: x64, applicationBaseUrl is still failing on Win2012 Universe
http://aspnetci/viewLog.html?buildId=192569&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

@pranavkm @JunTaoLuo

[2017-03-24 21:07] JunTaoLuo commented on #343
Hmm that was passing until our noon build. Taking a look now.

[2017-03-24 21:28] pranavkm commented on #343
Might be the change to Hosting that's tripping this.

[2017-03-27 17:53] JunTaoLuo commented on #343
This was fixed in https://github.com/aspnet/IISIntegration/pull/345.

[2017-03-27 17:53] #343 closed

[2017-03-27 21:24] HarelM commented on #226
Magic or not, It worked well. I kinda miss it now after the migration to ASP.NET core...

[2017-03-27 21:28] HarelM opened #346 "PUT and DELETE issue on IIS"
I have the following issue which I don't know how to solve (might be stupid but still...).
I want to publish to a server.
When using .Net Core publish to file system a web.config file is generated (I don't have it before publishing as far as I can tell).
But now I need to be able to add the following lines to it otherwise DELETE and PUT won't work.
[code]
But I'm not sure how to achieve this. I do

[2017-03-27 21:50] davidfowl commented on #339
`Task<IActionResult>[] taskList = new Task<IActionResult>[numberOfThreadTasksRequired];`

What sorta code did you write that ended up with a list of `IActionResult`? Are you implementing custom child actions or something?

[2017-03-27 22:03] JunTaoLuo commented on #346
The `web.config` file is added (or modified if you already have one) to your publish output. You can add the required configuration in your own `web.config` in your project directory. See https://github.com/aspnet/IISIntegration/tree/4334fe19f29827d2a12830e0332164e991328076/samples/IISSample for a sample with a `web.config`

[2017-03-27 22:42] HarelM commented on #346
Is there a way to do it in the code? I have moved all the configuration out of web.config to the startup class.
Is this the only way? is it possible to do it with msbuild task? I kinda like how empty and simple the web.config file is. also I have a appsetting.json file as well, keeping two files is confusing...

[2017-03-27 22:43] Tratcher commented on #346
No, IIS configuration must remain in web.config.

[2017-03-27 22:49] Tratcher opened #348 "Implement an IHostingStartup"
Implement IHostingStartup and add the HostingStartupAttribute so we can remove UseIISIntegration from default templates. ANCM will set ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.AspNetCore.Server.IISIntegration and Hosting will load and add IIS.

[2017-03-27 23:55] shirhatti commented on #348
Sanity check question. Append to `ASPNETCORE_HOSTINGSTARTUPASSEMBLIES` instead of set it?

[2017-03-28 00:05] Tratcher commented on #348
Yes, ANCM should append to it.

[2017-03-28 17:40] ofersagi commented on #339
it's sorta bulk operation over some other api/action.

[2017-03-28 18:38] #348 closed

[2017-03-31 20:34] anurse opened #350 "Need appveyor build"
I realize we may not be able to run the functional tests, but this repo needs an appveyor build that compiles and runs unit tests (if any) at least.

[2017-04-05 19:53] BrianVallelunga commented on #323
My issues seem mostly resolved. I ended up having to switch to the full framework due to needing Azure Service Bus support. We've been running ASP.NET Core + Full Framework for a couple of weeks without issue.

[2017-04-05 22:52] efvincent commented on #286
@TheDenys did you find out what the root cause was in your situation? It sound a lot like what I've got happening today. Same versions, except in an Azure App Service - but essentially IIS with a very similar web.config.

[2017-04-06 04:40] qazq opened #351 "ASP.NET Core Web API + Kestrel + IIS response time is slow"
I publish my Web API application to IIS server 8.5 (running on Windows Server 2012), but the performance is not good. If I run Web API by `dotnet myapi.dll` (pure Kestrel Http Server), the performance is good.

**Client to IIS**
![client-to-iis](https://cloud.githubusercontent.com/assets/997727/24737819/3bb2ab3a-1ac4-11e7-993f-b1e29e8a9a12.PNG)

**Client to Kestrel**
![client-to-kestrel](https://c

[2017-04-06 06:17] seanvree commented on #35
I JUST started to have this issue. Uninstalled RC1. Can't seem to find the latest version of .net version checker?

[2017-04-06 08:51] Tratcher commented on #351
This issue was moved to aspnet/AspNetCoreModule#87

[2017-04-06 08:51] #351 closed

[2017-04-06 15:33] Tratcher opened #352 "UseIISIntegration should set IServerAddresses.PreferHostingUrls"
When running behind IIS ANCM should override any Kestrel endpoint configuration by setting PreferHostingUrls
https://github.com/aspnet/IISIntegration/blob/c420addfca0b3ea421cfb2131cae28c4ac556a80/src/Microsoft.AspNetCore.Server.IISIntegration/WebHostBuilderIISExtensions.cs#L54

This can clean up some ugliness from Program.Main:
https://github.com/aspnet/Security/blob/2d7cd6038fea34b84084685648ac9d

[2017-04-06 19:45] shirhatti commented on #352
Especially given the fact we are injecting UseIISIntegration, this makes me a little uncomfortable. Anything we can do to improve discoverability around this behavior?

[2017-04-07 20:55] JunTaoLuo commented on #352
@shirhatti The servers will log if server addresses are used to override the endpoint configurations. We can have UseIISIntegration log that it's setting the PreferHostingUrls flag. Other than that, I can only think of updating docs to make this behaviour more clear.

[2017-04-07 21:04] TheDenys commented on #286
Hi Vincent,

It must have been some glitch. After reboot the site worked ok.

On Apr 6, 2017 00:52, "Eric Vincent" <notifications@github.com> wrote:

[2017-04-08 01:10] derekgreer commented on #81
For anyone who happens upon this thread in the future, it should be noted that there are versions of the .Net Core Module that only respect all lower case "app_offline.htm".  (see comments here: https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core-module).  There is mention of this being fixed in the latest version, but it isn't clear which version.

[2017-04-08 01:16] shirhatti commented on #81
It was fixed in [Version 1.0.1971](https://github.com/aspnet/AspNetCoreModule/releases/tag/1.0.1971).

[2017-04-11 20:52] #352 closed

[2017-04-12 19:37] GomesNayagam commented on #295
only filesystem works which uses dotnet publish command and that too sometime need to pass runtime argument

[2017-04-13 13:47] thiagospassos commented on #207
Awesome!! Thanks @GuardRex

[2017-04-14 00:26] milenvk commented on #327
It works if instead of RUN msiexec /package... you directly execute as in:
**RUN C:\build\DotNetCore.1.1.0-WindowsHosting.exe /quiet /install**

[2017-04-19 12:53] JaCraig commented on #226
Agreed with @HarelM. We've run into issues with this from our automated deployments to just end user experience. We've gone from deploying about 10 times a day with the old MVC to maybe a daily deployment at night and accepting that the people using the Core app are going to be annoyed when we take it offline. While not a show stopper, it's added friction towards Core adoption.

[2017-04-19 15:19] laksh-parab opened #357 "HTTP Error 502.5 - Process Failure"
I have asp.net core api and i have hosted this application in IIS. When i access api in broswer i see error in the browser

when i check event viewer, i see below error

I am able to run my API in Kestrel using **"dotnet api.dll"** command at command prompt without any issue.  So there is no issue with application startup.
On the production server; where this error is occurring; i have installed *

[2017-04-19 15:31] 1amirjalai commented on #111
I have an issue regarding x-forward-proto any help would be appreciated

i have whatever has been said on this issue thread but nothing is happening

my issue on stackoverflow

http://stackoverflow.com/questions/43492923/asp-net-core-parameter-count-mismatch-between-x-forwarded-for-and-x-forwarded-pr

[2017-04-19 15:34] laksh-parab commented on #357
dang it..it was my mistake. My IIS web site was pointing to C:\MyFolder instead of C:\MyFolder\Api
 so closing issue

[2017-04-19 15:34] #357 closed

[2017-04-19 15:54] Tratcher commented on #111
See RequireHeaderSymmetry https://github.com/aspnet/BasicMiddleware/blob/6c5f812d77d2e43b0a7c49a50d238f51a9eb665f/src/Microsoft.AspNetCore.HttpOverrides/ForwardedHeadersOptions.cs#L74

[2017-04-20 04:45] 1amirjalai commented on #111
@Tratcher  I'm going to make RequireHeaderSymmetry  false

[2017-04-20 09:55] 1amirjalai commented on #111
I made RequireHeaderSymmetry false but nothing happens still i get the error. i'm going to read the code asap

[2017-04-20 10:03] mikes-gh commented on #111
Here is my working config

In ConfigureServices
[code]

In   Configure
[code]

Hope this helps

[2017-04-20 14:16] antonGritsenko opened #358 "Anonymous user identity"
With IIS we can set identity for application pool account and **for anonymous user**, so access we can use low privilege account for anonymous access. This really helpful to protect apps with anonymous access allowed in local networks (based on Active Directory permissions). But this doesn't work in case of Kestrel and integration with IIS. Any plan to implement this and any way to workaround this

[2017-04-20 14:54] Tratcher commented on #358
It's worth noting that IISIntegration does not do any impersonation for you, even for authenticated users. All actions are performed with the app pool identity unless you do explicit impersonation.

How do your permissions to differ between the app pool and your anonymous identities? Does anonymous get more, or less?

[2017-04-20 15:04] antonGritsenko commented on #358
I know. But I can use impersonation manually in ASP.NET Core. So it will be great to transfer anonymous identity to Kestrel somehow.

Of course. Anonymous user usually very stricted account, but pool account had access to network, local files etc.

[2017-04-20 15:36] Tratcher commented on #358
Is there anything stopping you from doing the impersonation directly in the app?

@blowdart

[2017-04-20 15:49] Tratcher commented on #358
@shirhatti

[2017-04-20 15:57] antonGritsenko commented on #358
OK, may be I have to explain a scenario. For instance, we have app that had access to some data. All data are stored in database\remote location etc that can be accessed only with valid active directory account. No problem here, we just setup application pool account with required AD permissions and it works fine.
But now we have to protect all other thing from being executed from this account, so

[2017-04-20 16:06] Tratcher commented on #358
This would require a change to our overall impersonation story (or lack there of).

[2017-04-20 16:08] antonGritsenko commented on #358
So it's hard from your side to "emulate" this by just pass-through the anonymous context like you did for Windows Authentication? I thought it's almost the same :(

[2017-04-20 16:19] Tratcher commented on #358
The WindowsAuth user is passed through and assigned to HttpContext.User, but it's not impersonated. Do you do the impersonation yourself?

It may be possible to flow the anonymous user config from IIS to HttpContext.User, but impersonating that user would still be a separate concern.

[2017-04-20 16:29] antonGritsenko commented on #358
Yes, we did it manually. I do not expect automatic impersonation.

This's exactly what I'm talking about. But that must be WindowsIdentity object to able to impersonate.

[2017-04-20 16:45] Tratcher commented on #358
@pan-wang @shirhatti I think this is actually an ANCM request. I don't think anything would have to change in IISIntegration.

[2017-04-20 17:13] shirhatti commented on #358
The IUSR account has a well-known SID that is consistent across all OSes. Forgive my naivety, but can you not just use this identity when doing the impersonation manually? Why do you need ANCM to flow this identity?,

[2017-04-20 17:16] antonGritsenko commented on #358
Because IUSR rarely used in case of AD world. We almost always change it to some domain account (see case 2 from [comment above](https://github.com/aspnet/IISIntegration/issues/358#issuecomment-295790327))

[2017-04-20 18:05] shirhatti commented on #358
This issue was moved to aspnet/AspNetCoreModule#92

[2017-04-20 18:05] #358 closed

[2017-04-25 04:46] danroth27 opened #361 "App hangs on first request if both SSL in Kestrel and IISIntegration are enabled"
If I enable both SSL in Kestrel and IISIntegration the app hangs on the first request when I run it in VS using IIS Express:

[code]

[2017-04-25 04:46] danroth27 commented on #361
@Tratcher

[2017-04-25 06:51] 1amirjalai commented on #111
no i still get
Parameter count mismatch between X-Forwarded-For and X-Forwarded-Proto.

SourceContext
Microsoft.AspNetCore.HttpOverrides.ForwardedHeadersMiddleware

@mikes-gh my config is exactly like yours

[2017-04-25 16:17] Tratcher commented on #361
@halter73 @JunTaoLuo @natemcmaster From a quick debugging on Dan's machine, it looks like PreferHostingUrls isn't working as expected.

[2017-04-25 16:40] davidfowl commented on #361
We have a test for it right?

[2017-04-25 16:43] natemcmaster commented on #361
https://github.com/aspnet/KestrelHttpServer/blob/566a587126a1a091f05dba2804d5baf6ecea4118/test/Microsoft.AspNetCore.Server.Kestrel.FunctionalTests/AddressRegistrationTests.cs#L258-L285

[2017-04-25 17:44] Tratcher commented on #361
The ordering in Hosting is wrong. UseIISIntegration sets the option in ConfigureServices (or HostingStartupAssemblies), but WebHost reads the option before that. The fix is to read the option directly from config rather than via options, like we do for the urls.

[2017-04-25 17:48] Tratcher commented on #361
@JunTaoLuo Can you file a new bug in Hosting, and add an integration test in this repo?

[2017-04-26 19:02] #323 closed

[2017-04-29 13:30] 1amirjalai opened #363 "An exception was thrown while deserializing the token."
System.Security.Cryptography.CryptographicException: The key {xxxxxxxx} was not found in the key ring.

Im running asp.net core on a webfarm using redis as dataprotection.
after getting error like this from redis
 Timeout performing EVAL, inst: 9, queue: 1448, qu: 0, qs: 1448, qc: 0, wr: 0, wq: 0, in: 65536, ar: 0, clientName: xxxx
 i opt in to make redis thread safe using this code

[code]
and in

[2017-04-29 13:53] Tratcher commented on #363
This issue was moved to aspnet/EntityFramework#8335

[2017-04-29 13:53] #363 closed

[2017-04-29 13:54] Tratcher commented on #363
This issue was moved to aspnet/DataProtection#228

[2017-05-02 23:32] NLI-KelbyHunt opened #364 "Windows Authentication with Anonymous Authentication"
Basically I am trying to have both options enabled for these cases:

1. Allow anonymous user to make a POST with login information to an API login controller than writes a JWT token back to the body after manual authentication.
2. Allow windows users to browse to the MVC application through a browser, using their windows identity to authenticate. (They don't see this happen, a.k.a pass-through aut

[2017-05-03 04:53] jruckert commented on #364
Yes, we are currently running this same setup (Anonymous, Windows Auth with Kerberos). The key is that you need to separate out the authentication from the authorisation

[2017-05-03 09:21] razzemans opened #365 "ASP.NET Core 1.1 app suddenly serves 500 errors"
We have a few .NET Core 1.1 applications running in production on Azure (web app). We're usually running on multiple instances. Quite frequently (depending on load, it can happen at least once every day or once every 2 weeks) an instance will suddenly start serving 500 errors exclusively, failing rather badly with a simple black-on-white page:

`The specified CGI application encountered an error a

[2017-05-03 15:26] NLI-KelbyHunt commented on #364
@jruckert Do you know of any examples that are publicly available that you speak of? I'm not quite understanding what you mean by separating the authentication from authorization.

[2017-05-03 16:18] Tratcher commented on #365
1. Check the event logs, though they likely say the process crashed.
2. Enable console logging in your app, then enable stdout logging in AspNetCoreModule.

[2017-05-03 17:17] razzemans commented on #365
1. The eventlog just shows meaningless data to me, like this (not sure if this is during the actual issue)

[code]

2. Yes I figured I have to enable that. I will during the next release, which is most likely Monday. Hope to get some more info then.

[2017-05-04 02:05] jruckert commented on #364
Try something like:

- Create/Inject your own authorisation logic - ours is contained within our own IAuthoriseResourceService (e.g. performs the .IsInRole checkes etc)

then decorate your MVC Controllers with the
`
[TypeFilter(typeof(AuthoriseResourceProvider), Order = -1)]
public class BaseController : Controller
{
}
`

`using Microsoft.AspNetCore.Mvc;
 using Microsoft.AspNetCore.Mvc.Filters;

[2017-05-04 16:04] NLI-KelbyHunt commented on #364
@jruckert Is that the only route I can take?

I am confused why I have an attribute available `[AllowAnonymous]` and it doesn't work out of the "box". I posted here because I felt this was an IIS issue not allowing me to use both Windows Authentication and Anonymous Authentication. The behavior acts like Anonymous authentication overwrites Windows Authentication. Is that intended? Why can I not fi

[2017-05-04 18:48] Tratcher commented on #364
@HaoK an AuthZ question for you.

[2017-05-04 18:48] Tratcher commented on #364
This may help: https://github.com/aspnet/Security/issues/1062

[2017-05-11 16:58] 1amirjalai commented on #365
I have faced the same problem and i have logged everything i mean everything i couldn't find anything

[2017-05-11 17:32] razzemans commented on #365
I am still working with Azure support on this issue. They have identified that we use too many outbound connections. Which is quite strange as we are using components correctly (e.g .singleton HttpClient, injecting DbContext as scoped, just as described in docs everywhere). We also never had this issue in .NET 4.5 projects.

Even when having too many outbound connections I think it shouldn't fail

[2017-05-11 20:25] DeveloperUniversity opened #368 "The specified framework 'Microsoft.NETCore.App', version '1.1.2' was not found."
After 6 weeks of successful continuous deployments to Azure WebApp (Websites), now I can't get anything to work.  I was getting IIS 502.5 errors and found that it was probably a version incompatibility.  Based on the advice in several threads, I added a web.config and turned on stdout logging and got this:

` The specified framework 'Microsoft.NETCore.App', version '1.1.2' was not found.`
`  - Che

[2017-05-11 20:26] wags opened #369 "502.5 errors (error code 0x800705b4) after app runs for a while"
Hi,
I have been chasing this issue for several days now. The scenario seems to align with [this section](http://jakeydocs.readthedocs.io/en/latest/publishing/iis.html#iis-integration-middleware-not-implemented-or-useurls-after-useiisintegration) of the documentation, but my attempts at fixing it have been unsuccessful so far.

I have a fairly basic web application, let's call it Rover, deployed to

[2017-05-11 20:36] wags commented on #368
In your `.csproj` file, are you targeting a specific version in `TargetFramework` and `RuntimeFrameworkVersion`? Also, have your package reference versions been bumped up to `1.1.2`?

You should be able to keep it at 1.1.1 with `<TargetFramework>netcoreapp1.1</TargetFramework>` and `<RuntimeFrameworkVersion>1.1.1</RuntimeFrameworkVersion>`.

[2017-05-11 20:40] DeveloperUniversity commented on #368
@wags

@wags
@wags In my csproj I have the following:

`
  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
  </PropertyGroup>
`

However, I do not have a `<RuntimeFrameworkVersion>` at all.  Is that what I need to do?
Thank you!!!

[2017-05-11 20:42] Tratcher commented on #369
@pan-wang for debugging steps.

[2017-05-11 20:47] muratg commented on #368
@DeveloperUniversity Yes, you'll need to do that too. Azure App Service doesn't yet have 1.1.2, and once they have it, this workaround will not be required.

[2017-05-11 20:52] wags commented on #368
@muratg can it be problematic if the `Microsoft.AspNetCore.X` and `Microsoft.Extensions.X` packages get ahead of the runtime version? I'm assuming no if it is a minor version difference but wanted to double-check.

[2017-05-11 21:16] muratg commented on #368
@wags In this case, it's not even a minor version difference, just a patch version difference. Wouldn't be a problem.  We roll ASP.NET Core packages without a runtime patch at times.

[2017-05-11 21:42] DeveloperUniversity commented on #368
@muratg @wags Two final questions ...

1) Where can I go to learn more about versioning in .Net Core and specifically with ASP.NET MVC Core, how @wags knew to go to the csproj, etc.?  I want to be able to diagnose things like this in the future and I think I'm missing some important piece of knowledge here.

2) Any experience on how long it typically takes for the Azure Web Apps (Websites) team to

[2017-05-11 22:17] j-arya commented on #368
FYI:
I encountered the similar error due to Microsoft.NETCore.App getting upgraded to 1.1.2 (upgraded while updating NuGet packages);
As part of work around, rolling back to "Microsoft.NETCore.App": { "version": "1.1.1"} in Project.json does help fix the issue

My Environment Details:
- VS2015 Community Edition
- Asp.Net Core Web App
- Running on Windows 10

Note:
- Work around Not applicable if u

[2017-05-11 22:17] Lutando commented on #365
I am currently expiriencing the same issue using NetCore App 1.1. Our Asp Net Core application sounds similar to @razzemans as we have a singleton CosmosDB client that serves all our outbound connections for query.

I have looked at https://github.com/aspnet/IISIntegration/issues/311, https://github.com/aspnet/IISIntegration/issues/269, and https://github.com/aspnet/IISIntegration/issues/245#issue

[2017-05-12 09:43] jozefizso opened #370 "ASP.NET Core app crashed on Windows 7 IIS periodically"
We run ASP.NET Core 1.0 app on Windows 7 SP1 machine using IIS. The application crashes from time to time.

[code]

[2017-05-12 13:55] wags commented on #368
@DeveloperUniversity for me, it has been an iterative process. The .NET Core project development is definitely moving fast, and changing. For example, I had familiarity with the `.csproj` file because it was involved in a fairly significant change to .NET Core tooling. Earlier versions of .NET Core used a file called `project.json` to keep track of dependencies, versions, targets, etc.

I end up r

[2017-05-12 16:57] Roblinde commented on #368
@muratg any timeline on when Azure App Service will have 1.1.2? Running into the same issue.

[2017-05-12 16:59] DeveloperUniversity commented on #368
Also, *if* I wanted to roll back to 1.1.1, would I simply need to change the csproj -- everywhere there's a 1.1.2 change it to 1.1.1?

![1-1-2-rollback](https://cloud.githubusercontent.com/assets/19307883/26008447/6f618ac0-370a-11e7-9fd7-45f562364c33.png)

[2017-05-12 17:06] wags commented on #368
Yes, that's correct. You also have `Microsoft.AspNetCore.Mvc` in there at version `1.1.3`. That's an example of how the various patch versions are still compatible, like @muratg mentioned.

BTW, I love your project name :wink:

[2017-05-12 17:26] muratg commented on #368
@Roblinde I believe the Azure rollout of the patch is scheduled for next week, though I don't have the exact dates.  @davidebbo?

[2017-05-12 17:32] Roblinde commented on #368
Next week is excellent!

Is it expected for Azure to lag on official releases like this? It makes it sort of dangerous to deploy if it's going to respond with a 502 after every minor release...

[2017-05-12 17:33] davidebbo commented on #368
It's already partially deployed (e.g. try in West US 2). It will complete Tuesday at the latest, but hopefully sooner.

And we'll work to avoid/minimize this situation in the future :)

[2017-05-12 17:35] davidebbo commented on #368
See also http://stackoverflow.com/a/43924403/111888

[2017-05-12 17:38] Roblinde commented on #368
Great @davidebbo thank you.

[2017-05-12 17:44] Tratcher commented on #370
This issue was moved to aspnet/AspNetCoreModule#96

[2017-05-12 17:45] #370 closed

[2017-05-12 21:03] muratg commented on #105
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:03] #105 closed

[2017-05-12 21:04] muratg commented on #139
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:04] #139 closed

[2017-05-12 21:04] muratg commented on #158
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:04] #158 closed

[2017-05-12 21:04] muratg commented on #168
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:04] #168 closed

[2017-05-12 21:04] muratg commented on #170
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:04] #170 closed

[2017-05-12 21:05] muratg commented on #177
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:05] #177 closed

[2017-05-12 21:22] muratg commented on #207
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:22] #207 closed

[2017-05-12 21:23] muratg commented on #210
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:23] #210 closed

[2017-05-12 21:23] muratg commented on #214
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:23] #214 closed

[2017-05-12 21:23] muratg commented on #220
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:23] #220 closed

[2017-05-12 21:24] muratg commented on #221
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:24] #221 closed

[2017-05-12 21:25] #238 closed

[2017-05-12 21:26] muratg commented on #245
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:26] #245 closed

[2017-05-12 21:26] muratg commented on #255
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:26] #255 closed

[2017-05-12 21:26] muratg commented on #256
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:26] #256 closed

[2017-05-12 21:27] muratg commented on #261
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:27] #261 closed

[2017-05-12 21:27] muratg commented on #269
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:27] #269 closed

[2017-05-12 21:27] muratg commented on #278
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:27] #278 closed

[2017-05-12 21:28] muratg commented on #288
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:28] #288 closed

[2017-05-12 21:28] muratg commented on #291
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:28] #291 closed

[2017-05-12 21:28] muratg commented on #295
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:28] #295 closed

[2017-05-12 21:28] muratg commented on #311
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 21:28] #311 closed

[2017-05-13 00:06] davidebbo commented on #368
We have accelerated the deployment of 1.1.2 and 1.0.5 to App Service and it is now complete. So the workaround below should no longer be needed by anyone.

Apologies for the inconvenience this has caused.

@muratg, can you close?

[2017-05-13 00:20] muratg commented on #368
Thanks @davidebbo! Closing this bug, but if folks hit other issues, they should log another one.

[2017-05-13 00:20] #368 closed

[2017-05-15 12:36] 1amirjalai commented on #245
can someone please tell me how to create a dump file?
should i use adplus so on what condition should the dump be generated?
what other tools can i use for generating dump and examining them?

[2017-05-15 15:39] muratg commented on #245
@1amirjalai, on Windows?  Please take a look at https://technet.microsoft.com/en-us/sysinternals/dd996900.aspx

[2017-05-16 09:35] assafY commented on #252
@nilavghosh you saved my life. Thanks.

[2017-05-18 08:30] zhangpeng-kooboo commented on #311
Too bad, I had a similar issue, getting a lot of 502 errors on Azure web app for a heavy load. No static contents API only. I did a upgrade from 1.0.1 to 1.1.0 seem no luck because we are using Visual Studio 2015. From @dhjf 's comment seem we have to upgrade to Visual Studio 2017 for 1.1.1.

[2017-05-18 11:20] rsheptolut commented on #368
@davidebbo I wouldn't agree that the workaround is no longer needed by **anyone**.

Not every app is deployed to Azure. I haven't used Azure once in my life :) I had the same issue today just because I've updated Visual Studio 2017 to version "15.2". After publishing the same unchanged app (that only has `<TargetFramework>netcoreapp1.1</TargetFramework>` but no `<RuntimeFrameworkVersion>` to a rem

[2017-05-18 16:18] muratg commented on #311
@zhangpeng-kooboo you don't NEED to update to VS 2017 for 1.1.1.  Just update your references in your project file.

[2017-05-18 16:20] muratg commented on #368
@rsheptolut We have some plans in place to prevent this type of failure going forward, at least in the 2.x train.  @livarcocc would have more information.

[2017-05-18 16:33] livarcocc commented on #368
Correct. We actually have a PR out right now for 2.0 and if/when we need to do this again in 1.0, we will port the fix there as well.

[2017-05-18 20:36] Tratcher opened #371 "Only register the auth handler based on the environment variable"
https://github.com/aspnet/AspNetCoreModule/issues/82
ANCM now has an environment variable (ASPNETCORE_IIS_HTTPAUTH=Anonymous;Basic;Windows or None.) indicating if windows auth is enabled. Only register the auth handler if windows or basic are enabled, or if the variable is not found (back compat).

This will make the default-to-only-handler more useful by not registering an unneeded handler (e.g.

[2017-05-22 21:32] JunTaoLuo opened #373 "Re-enable standalone functional tests"
Currently blocked on https://github.com/aspnet/Hosting/issues/1082

[2017-05-23 12:51] zhangpeng-kooboo commented on #311
@muratg thks, but after I upgraded to 1.1.1, still does not help. every-time when I send a traffic 300 requests per second to azure web app I saw a lot of '502.3 bad gateway "The specified CGI application encountered an error and the server terminated the process. It's hard to say is it a issue within .NET Core, or Azure web app does not support that.

'.
`30.	URL_CACHE_ACCESS_START	RequestURL="/p

[2017-05-23 13:34] guymalka opened #374 "iis 10 on win server 2016"
im setting new empty ( just the site visual studio create for me ) web site on the iis
and receive error 500.19
any help

[2017-05-23 16:33] muratg commented on #311
@zhangpeng-kooboo Are you able to reproduce locally?  i.e. on your machine, run the app and apply the same load?  It could well be an app scalability issue.

[2017-05-23 17:59] halter73 commented on #311
@zhangpeng-kooboo A 502.3 usually means that the web app took 2 minutes or longer to respond. Looking at the [ASP.NET logs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging) instead of the IIS logs, might help you track down which requests are taking too long to get responses and perhaps why.

[2017-05-23 21:03] pan-wang commented on #311
It is not the timeout case per the freb log. The Error code 2147954429 ( WININET_E_CANNOT_CONNECT
A connection with the server could not be established). Something is wrong with the backend process which did not pick up the connection (deadlock?). You need to check the Kestrel log.

[2017-05-24 14:35] grokky1 commented on #368
I agree with @rsheptolut about always specifying a `<RuntimeFrameworkVersion>`. And I think it's bad practice not to use it.

When our systems go to production, they are completely tested and signed-off *for a specific version of everything*. We don't "pull latest sources" for .NET or npm packages and runtimes, or whatever, we hardcode the versions of all packages used by the system - because then

[2017-05-24 20:06] FlorianRainer commented on #214
I have tested some cases, but not all today on Win 10 (IIS 10) with Asp.Net Core 1.1 (Default Web Application Template from VS 2017)

If i Compile it for AnyCpu and set the ApplicationPool to 64 bit it works, if i change the pool to 32 bit the app will not start. i have done some testing back in time https://github.com/aspnet/IISIntegration/issues/214#issuecomment-229756588 for full framework (4.6

[2017-05-25 12:16] bgever commented on #177
@muratg So no standalone installer is in the works? We need to have the standalone installer (MSI from the cache as mentioned above) for an important customer (big bank) as well. We can't suggest them to use that hacky way. ;-)

[2017-05-25 15:26] GuardRex commented on #177
@bgever You can get it (standalone) from the hosting bundle installer. See the Note in https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#install-the-net-core-windows-server-hosting-bundle

[2017-05-25 16:05] bgever commented on #177
@GuardRex Awesome, thanks!

For completeness, here's the note from that page:

[2017-05-28 01:22] 1amirjalai commented on #311
im on 1.1.2 but still have this issue :(

[2017-05-30 18:12] Tratcher commented on #371
@muratg we should do this for preview3

[2017-05-30 18:57] halter73 commented on #311
@1amirjalai To clarify, this issue tracked one specific cause for 502.3 timeout errors: a [deadlock in SocketOutput](https://github.com/aspnet/KestrelHttpServer/pull/1324) fixed in 1.0.3 and 1.1.1.

Any bug that causes a request to take two or more minutes to complete, either in application or framework code, can cause a 502.3. That's why I recommend looking an ASP.NET and application logs: to see

[2017-06-01 08:30] zhangpeng-kooboo commented on #311
@halter73 Thks, seem our MongoDB could not handle so many requests at a very short period. I will double check more details on our side.

[2017-06-01 12:29] foragerr commented on #245
@veccsolutions [This page](https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.server.kestrel.kestrelserveroptions#Microsoft_AspNetCore_Server_Kestrel_KestrelServerOptions_ThreadCount) also says threadcount is clamped between 1 and 16, which probably means setting it to 1000 only gives you 16 threads?

[2017-06-05 11:43] LoisOrtiz commented on #125
Skincare Panama To keep your skin in good shape, be sure to exfoliate a minimum of three times per week. Try using a facial scrub. Use a moisturizing exfoliant if you have sensitive skin. You can get rid of dirt in pores if you exfoliate. The more you add exfoliating into your regimen, the nicer your skin will look.

https://vimeo.com/220189520

[2017-06-05 17:23] muratg commented on #365
Assigning to @Tratcher for investigation.

[2017-06-05 17:31] Tratcher commented on #365
Having a high thread count implies a resource deadlock. The best way to investigate is with a process dump so we can see where those threads are stuck. We recently investigated an issue like this in https://github.com/aspnet/DataProtection/issues/233.

[2017-06-05 22:46] #371 closed

[2017-06-06 07:40] razzemans commented on #365
I will try to get a dump next time I run into this issue. Quite sure I can't use windbg on Azure but I hope the default Azure memory dump will be enough.

[2017-06-06 08:09] razzemans opened #378 "Microsoft.AspNetCore.Diagnostics FileLoadException (in use) after Azure web app restart"
Last night our Azure web app restarted (automatically) and didn't come back online. It failed with an Application Startup Error. Looking at the stdout logs, the only error I could see on one of our two instances was:

[code]

The eventlog has an entry around the same time:

[code]

On another note, I can see this error quite often in the eventlog, a couple of times in the past few weeks. It might

[2017-06-06 08:14] 1amirjalai commented on #365
i got several dump files over a week it seems related to partial views and viewcomponents and idistributedcache
Threads are waiting in my case for

 I'm not sure still because in release mode  i can't access local arguments and variables and i'm not a pro at windbg but still i'm examining the problem.
i'm doing further analysis

[2017-06-06 08:35] Lutando commented on #365
Just an update from my side. We had rogue threading issues that were fixed with some subtle changes to our production code.

It required some memory leak analysis to find out. While I'm sure this problem still persists for others in this issue thread, mine was caused by application code and not from its dependency libraries.

[2017-06-06 10:10] Tratcher commented on #365
@1amirjalai can you share the call stack?

[2017-06-06 10:49] 1amirjalai commented on #365
here is the !clrstack. there is a distributed-cache which wraps a partial view which wraps a viewcomponent which makes an async query using dapper.

[code]

[2017-06-06 10:59] Tratcher commented on #365
@rynowak
Microsoft.AspNetCore.Mvc.Rendering.HtmlHelperPartialExtensions.Partial(Microsoft.AspNetCore.Mvc.Rendering.IHtmlHelper, System.String, System.Object, Microsoft.AspNetCore.Mvc.ViewFeatures.ViewDataDictionary)+3c

https://github.com/aspnet/Mvc-Private/blob/34e4fbf92df2d181b441bbbde598b68d4f33d8b4/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Rendering/HtmlHelperPartialExtensions.cs#L234

[2017-06-06 11:45] 1amirjalai commented on #365
@Lutando  what steps did you take in order to analyze memory leak?
 did you used any special software?
 i'm using dotmemory from jetbrains but i don't see any memory leak.

[2017-06-07 16:37] Tratcher commented on #365
Is there something about _Areas_Article_Views_Article_Index_cshtml that should be changed from calling Partial to PartialAsync?

[2017-06-08 04:26] 1amirjalai commented on #365
@Tratcher

inside one of the html.partial is a call to

 `@await Component.InvokeAsync("ArticleDetailMostViewdArticles")`

should html.partial be changed to html.partialasync  in this case?

[2017-06-08 04:44] Tratcher commented on #365
Sounds good to me, but I don't know those layers. Did you try it?

[2017-06-08 05:04] 1amirjalai commented on #365
no i didn't try it.
i just commented out the invokeasync section, so that i can find a fix for the issue.

but i can't reproduce the issue on development env so it's a bit confusing and i can't find where the problem is.

the code is simple something like this

[code]

[2017-06-08 06:03] 1amirjalai commented on #365
@Tratcher

[here ](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Rendering/HtmlHelperPartialExtensions.cs) html.partial calls html.partialasync at last.

i don't think changing partial to partialasync would change anything

[2017-06-08 08:29] cihadsevim opened #381 "Web.config Problem"
Hello everyone,
I've got a web.config file which contains only rewrite rule for http to https. I use web.config file for HTTPs redirection  because Google and Facebook can not fetch data from site when I use a middleware for it.

My problem is, when I publish the application to my host. Visual Studio overwrites on web.config file so, I lose these rules.

How can I keep my web.config file?

[2017-06-08 12:02] razzemans commented on #365
We just ran into the issue again but it resolved itself it seems. I was unable to do a dump. However, the sdout logs show connection errors:

[code]

Still hope to get more useful information soon.

[2017-06-08 14:29] Tratcher commented on #381
That's worth investigating...

@BillHiebert @moozzyk Isn't the web.config publish supposed to be additive?

Does publish work if you include the aspnetcore section in your web.config?
[code]

[2017-06-08 15:51] 1amirjalai commented on #365
I had a similar error today

`System.IO.IOException: Error -4077 ECONNRESET connection reset by peer ---> Microsoft.AspNetCore.Server.Kestrel.Internal.Networking.UvException: Error -4077 ECONNRESET connection reset by peer --- End of inner exception stack trace --- at Microsoft.AspNetCore.Server.Kestrel.Internal.Http.SocketInput.CheckConnectionError() at Microsoft.AspNetCore.Server.Kestrel.Interna

[2017-06-08 17:18] moozzyk commented on #381
AFAIR adding aspnetCore related things was additive. I am not sure if it has changed or something else is happening now. I think @vijayrkn would now.

[2017-06-08 17:22] vijayrkn commented on #381
The behavior should be same as before. There has been some reports on the values getting overwritten.

Here is the bug tracking the issue.
https://github.com/aspnet/websdk/issues/115

As a work-around, IsTransformWebConfigDisabled property can be set to true and web.config transform wont get called.

[2017-06-08 17:34] moozzyk commented on #381
The handler [will always be added](https://github.com/aspnet/websdk/blob/dev/src/Publish/Microsoft.NET.Sdk.Publish.Tasks/WebConfigTransform.cs#L44-L48) if it is missing. The problem @cihadsevim reports is that his rewrite rules are removed from web.config which should not happen.

[2017-06-08 17:38] vijayrkn commented on #381
Could it be possible that the local web.config is not getting copied and because of this a new web.config is always created.

@cihadsevim  can you try setting this property (IsTransformWebConfigDisabled  to true ) in the pubxml and see if the source web.config is getting published?

[2017-06-08 22:45] cihadsevim commented on #381
Let me explain it fully.

Using middleware for non-www or http-to-https redirect are no good for Google and Facebook scaping. I've tested Facebook with URL Linter tool, Google's Structured Data Testing Tool. Both can not crawl the page. I am not sure but the main problem seems first response needs to stop processing.

So, I tought using a web.config can be a solution. Defining "*" term for match u

[2017-06-08 22:56] vijayrkn commented on #381
@cihadsevim Can you confirm if you have this in the web.config locally, is the rewrite rule getting overwritten during publish?

[code]

[2017-06-09 09:21] cihadsevim commented on #381
@vijayrkn No it does not. The .exe or dll directive is writing to appendlin eby VS2017 which is awsome.

[2017-06-09 16:17] vijayrkn commented on #381
Can we close this issue then?

[2017-06-10 12:03] cihadsevim commented on #381
Using <match url="(.*?)" /> with web.config does not work for redirect. Seems there is a bug or something else.

[2017-06-11 12:40] li2008kui commented on #252
问题解决了！
原因是升级.NET Core版本后引起的问题。
查看你的xxx.runtimeconfig.json文件
[code]

[2017-06-13 12:12] cihadsevim commented on #381
That problem is still going on with Visual Studio 2017 and ASPNET Core 1.1

[2017-06-13 16:21] vijayrkn commented on #381
/cc @BillHiebert

[2017-06-14 15:25] cvetyab opened #384 "DotNetCore.1.0.3_1.1.0-WindowsHosting.exe is not recognized as an internal or external command"
Hi guys I am trying to deploy a new self hosted .net core app to windows server 2012 R2 where we have multiple other .net 4 applications and following the instructions on Microsoft docs site: https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#install-the-net-core-windows-server-hosting-bundle  but when I ran the following
 DotNetCore.1.0.3_1.1.0-WindowsHosting.exe OPT_INSTALL_LTS_REDIST=0

[2017-06-14 16:32] GuardRex commented on #384
You're **not** doing anything wrong ... *I AM!* lol .... There was an update, so the command now is ...
[code]
I'll get a PR in to update those docs quickly! Thanks for pointing this out.