[2016-05-16 21:56] GuardRex commented on #175
@Eilon I know. I'm asking about a Gitter for IISIntegration where I can have IIS-related chats with cats. Home is ok ... but it can get busy with general chats. No prob if this doesn't work out. I made a #iis channel at Slack. The only prob with Slack is that it has this barrier to entry: They have to get a Slack account, so it's not quite as user-friendly getting into it; whereas, the GH sign-in

[2016-05-16 22:00] GuardRex commented on #175
@Eilon btw -- I was planning to "hang out" in there and just see how it goes. I'm not "royalty" of course, but it's not like anyone would go there and it would be completely dead. If nobody ever shows up in such a Gitter room, it could always be shutdown later. I just wanted to see if you'd be up for an experiment with it.

[2016-05-17 02:22] GuardRex commented on #175
Nevermind. I think we're good without this.

[2016-05-17 02:22] #175 closed

[2016-05-17 05:50] Eilon commented on #175
@GuardRex ah ok, I was just mentioning it in case you hadn't seen it. We're having some discussions on how to optimize some of the communications. We have GitHub, Gitter, JabbR, Slack, various semi-private mailing lists, and I'm sure all kinds of other things. Clearly we need a new chat/message system that will unify all those other systems 😄

[2016-05-17 16:30] muratg commented on #105
Latest AspNetCoreModule is now part of Server installers. You can also download the server MSI from: https://www.microsoft.com/net/download.  Search for "**Windows (Server Hosting)**". This includes .NET shared runtime as well as latest ANCM.

[2016-05-17 16:33] muratg opened #177 "Latest AspNetCoreModule installer is now part of Server installer"
Latest AspNetCoreModule is now part of Server installers. You can download the server MSI from: https://www.microsoft.com/net/download.  Search for "**Windows (Server Hosting)**". This includes .NET shared runtime as well as latest ANCM.

[2016-05-17 16:45] benaadams commented on #105
@muratg what's the nano server deploy method for ANCM?

[2016-05-17 16:51] grahamehorner commented on #105
@benaadams +1

[2016-05-17 17:00] GuardRex commented on #105
@muratg @benaadams Unfortunately, manual AFAIK ... install locally ... move module and schema file to the server ... (yuck). Whether it becomes a Nano package or not, the bundle installer isn't going to work for me ...

Any news on the module becoming OSS? I was told that it was making its way through the gauntlet of approvals needed. My plan was to compile and deploy my own module, as I don't wan

[2016-05-17 17:02] shirhatti commented on #105
@benaadams we are working on an .appx installer for Nano that has not yet landed. For the time being, you'll need to install ANCM on a full server, copy the DLL and schema for the module and edit the applicationHost.config to include this module. Let me try and write this up by today afternoon

[2016-05-17 17:08] GuardRex commented on #105
@benaadams Also in the blog post ... http://blog.guardrex.com/#install-the-aspnetcoremodule ... one dev said it works. I haven't found the time to confirm, b/c I need to get the IIS packages bit fixed in the post: AFAICT one still needs to use an `unattend.xml` file to install IIS packages. I hope to get back to it shortly; however, the ANCM bits of the post I think are correct.

[2016-05-17 17:09] muratg commented on #105
@benaadams Currently you'll need to manually copy the files over for Nano installation. AFAIK, you'll need to copy the dll to `C:\windows\system32\inetsrv` and the schema to `C:\windows\system32\inetsrv\config\schema`

cc @pan-wang & @victorhurdugaci

[2016-05-17 17:11] muratg commented on #105
@GuardRex re OSS ANCM... unfortunately no firm date yet, but the goal is to open it up.

[2016-05-17 17:55] nil4 commented on #105
@muratg please consider publishing the ASP.NET Core Module installer separately. Here's my scenario: I am working on a new application, targeting net461, but trying to keep it compatible with netcoreapp1.0. However, I will not be able to deploy .NET Core pre-release bits to production.

Today the IIS module is bundled with the .NET Core server hosting package, although the previous version (0.8) w

[2016-05-17 18:10] Tratcher commented on #105
@nil4 We're investigating ways to make the installer more flexible for environments like yours.

[2016-05-17 18:32] moozzyk opened #178 "AspNetCoreModule should set content type when serving app_offline.htm"
Currently when AspNetCoreModule does not set content type at all when serving app_offline.htm which  can result in this: https://cloud.githubusercontent.com/assets/1438884/15302651/ec3c58d6-1b68-11e6-9f26-a28fee642c7e.png

[2016-05-18 10:16] PeterJakubik opened #179 "ASP.NET Core RC2 support for Windows Server 2008 RC2?"
Hi
I created an empty RC2 WebApp and it runs ok on windows 7.

In project.json I have
`"Microsoft.AspNetCore.Server.IISIntegration": "1.0.0-rc2-final",`

in Main.cs
`var host = new WebHostBuilder().UseKestrel().UseContentRoot(Directory.GetCurrentDirectory()).UseIISIntegration().UseStartup<Startup>().Build();
            host.Run();
`

I want to deploy the app to Windows 2008 R2 server.
The install

[2016-05-18 16:19] GuardRex commented on #179
@PeterJakubik Yes, your server is supported. I'm going to attempt to repro your issue now.

[2016-05-18 17:14] muratg commented on #179
cc @joeloff @pan-wang

[2016-05-18 17:18] joeloff commented on #179
Wonder if this is related to the rename we did for the files.

[2016-05-18 17:18] joeloff commented on #179
@PeterJakubik can you share the installation logs?

[2016-05-18 17:19] GuardRex commented on #179
I'm unable to repro "Error 0x80070002" here with a fresh Azure 2008R2 VM.

[2016-05-18 17:26] joeloff commented on #179
As for the Windows version, ANCM requires VersionNT to be >= 6.1. Windows Server 2008 is 6.0. We do support Server 2K8 R2 (you can find a list of version numbers [here](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724832(v=vs.85).aspx))

We only do the version check for ANCM.

[2016-05-18 17:59] muratg commented on #178
@pan-wang Could you have a look?

Also, maybe someone from WebDeploy team should look into default app_offline.html file... I'm not convinced it should have an xml tag.

[2016-05-18 18:00] muratg commented on #176
@pan-wang Is `web` a reserved name in IIS/ANCM?

[2016-05-18 18:03] muratg commented on #171
@Tratcher What's the impact with the debugging experience?

cc @shirhatti

[2016-05-18 18:08] moozzyk commented on #178
There is already an item for this: https://github.com/aspnet/Tooling-Internal/issues/576

[2016-05-18 18:11] Tratcher commented on #171
It's difficult to debug your shutdown code because the process gets terminated.

[2016-05-18 19:00] PeterJakubik commented on #179
If you still need the installation log, let me know your e-mail address, and l will mail it to you

[2016-05-18 19:32] joeloff commented on #179
@PeterJakubik  You can just drag/drop the log into the comment

[2016-05-18 20:29] PeterJakubik commented on #179
[dotnet-core-100rc2-windowshosting.txt](https://github.com/aspnet/IISIntegration/files/271350/dotnet-core-100rc2-windowshosting.txt)

[2016-05-18 20:46] joeloff commented on #179
@PeterJakubik looks like the error is originating from running the .NET Core runtime installer.

Could you look at your %temp% folder and see if there's a log file starting with Microsoft.NET_CORE or something along those lines.

The .NET Core runtime does bring in the C++ redist as well. I don't see any obvious blocks in the .NET Core runtime, but it carries three separate installers itself so it

[2016-05-18 20:51] Tratcher commented on #140
Plan:
- Add an option to ForwardedHeadersMiddleware to disable the count check: https://github.com/aspnet/BasicMiddleware/issues/37
- Have UseIISIntegration check if it's running in Azure and disable the count check by default.

In parallel we'll investigate with Azure Web Sites to see if they can improve their setting of these headers.

[2016-05-18 20:57] PeterJakubik commented on #179
I looked at the server and it has only VS C++ 2005 redist package installed.
Which C++ redist version requires the handler?

[Microsoft_.NET_Core_1.0.0_RC2_-_Runtime_(x64)_20160518224752.txt](https://github.com/aspnet/IISIntegration/files/271389/Microsoft_.NET_Core_1.0.0_RC2_-_Runtime_.x64._20160518224752.txt)

[2016-05-18 21:04] joeloff commented on #179
It's accessing http://download.microsoft.com/download/8/c/b/8cb4af84-165e-4b36-978d-e867e07fc707/vc_redist.x64.exe (I believe the VS2015 redist)

According to the runtime installer, it fails to download the redist

[23C8:20D0][2016-05-18T22:48:14]e000: Error 0x80072efd: Failed to send request to URL: http://go.microsoft.com/fwlink/?LinkID=615460&amp;clcid=0x409, trying to process HTTP status code

[2016-05-18 21:55] PeterJakubik commented on #179
I installed the VS 2015 redist x64 from first link and I can install the dotnet core windows hosting successfully.
The RC2 works on 2K8 R2 Server

Thank you @joeloff

[2016-05-18 21:55] #179 closed

[2016-05-18 22:07] GuardRex commented on #179
@Rick-Anderson @shirhatti Do we need to explicitly call out the need for VC++ 2015 x64 for 2008R2 when that is (AFAIK) on 2008R2 by default? Even if not, do we want to add this to the Troubleshooting section? My plan would be to go and repro the way I did before with the other exceptions to get the correct entries for the section (i.e., I'd like to adhere to the same layout we have there now for '

[2016-05-18 22:13] moozzyk commented on #147
Fixed in 152c11394ee4628a8ef5e9f423c54315a4870ef0

[2016-05-18 22:13] #147 closed

[2016-05-19 05:52] sovaska commented on #176
Facing same problem when project name includes "Web", in my case project name is Transfer.Web

[2016-05-19 08:11] mikes-gh opened #181 "Invalid Child Element aspnetcore in web.config in RC2 final"
I know this is cosmetic ....

![schema issue](https://cloud.githubusercontent.com/assets/16208742/15386796/97d54c18-1da1-11e6-8756-ae70ea2acb17.png)

[2016-05-19 08:12] davidfowl commented on #181
This is pretty annoying. It's a tooling issue though.
/cc @BillHiebert @sayedihashimi

[2016-05-19 08:16] mikes-gh commented on #181
I did think about posting it there but that repo doesnt get much :heart: .  Do you want me to move it?

[2016-05-19 08:32] davidfowl commented on #181
Yap

[2016-05-19 08:36] mikes-gh commented on #181
This issue was moved to aspnet/Tooling#501

[2016-05-19 08:36] #181 closed

[2016-05-19 12:24] Tragetaschen opened #182 "SignalR 2.2 doesn't support Server Sent Events when running through IIS Express in VS"
After creating aspnet/Tooling#359 and reading through #7 / #105, I was under the expression that with RC2, running in IIS Express shouldn't buffer the responses sent to the client. However in my application that's using SignalR 2.2.0 when using Server Sent Events, the browser waits for five seconds before falling back to Long Polling. The way I understand things, this indicates that there is some

[2016-05-19 13:09] Morcatko opened #183 "publish-iis fails on x86 - Could not load type 'System.ConsoleColor'"
`dotnet publish-iis` fails on x86 with
[code]

I reproduced it on two machines with Windows X x86 (x64 works fine)

STR:
- dotnet new
- edit project.json. Add
[code]
- dotnet restore
- dotnet publish-iis

I am using default nuget, so the versions of everything are RC2/Preview1
x64 works fine

[2016-05-19 13:11] Weboholics opened #184 "Combination wwwroot/Views and IIS Express doesn't work in RC2"
We have a folder in wwwroot named Views, containing static css files and images. The css files are not longer accessible under the folder Views, but other css/javascript under wwwroot are accessible. The problem seems to be related to the fact that this folder is named Views.
It did work in RC1, but stopped working in RC2.  It works when not using IIS Express.

[2016-05-19 14:24] Morcatko commented on #176
I have a Project.WebSite and it works fine. Can be repro only when it ends with Web?

[2016-05-19 17:19] moozzyk commented on #183
Does it work if you use correct imports as shown [here](https://github.com/aspnet/Announcements/issues/169)? After changing the imports please clear your caches before restoring with `nuget.exe locals -clear all`

[2016-05-19 17:22] GuardRex commented on #183
I thought it was `nuget locals all -clear`

[2016-05-19 17:23] moozzyk commented on #184
Can you post a small repro?

[2016-05-19 17:25] GuardRex commented on #183
I can see it's going to be one of those days! :smile:

@moozzyk Did you join Slack? I don't see you over there. The reason I mention it on this issue is that I'm working on additional docs for IIS, including info about the `publish-iis` tooling. If you have a few minutes, I hope to get your feedback at some point. It's in the #iis channel.

[2016-05-19 17:48] GuardRex commented on #179
@Rick-Anderson @shirhatti @danroth27 I'm going to investigate this further later today and open a discussion item in Docs with my findings.

[2016-05-19 17:58] PeterJakubik commented on #179
I believe my issue was that the admin that tried to install the asp handler has limited internet connectivity for security reasons. The installer failed to download  required redist  package  from internet

[2016-05-19 18:04] joeloff commented on #179
I see. We have several nested levels of installers. The ServerHosting EXE contains the embedded .NET Core Runtime EXE and ANCM. However, the .NET Core runtime EXE doesn't embed the VC redists and will always go on line for that.

[2016-05-19 18:16] kspearrin commented on #176
Renamed my project to `Web2` and it works fine now.

[2016-05-19 18:38] muratg commented on #183
Let us know if you still have issues after fixing the imports!

[2016-05-19 18:38] #183 closed

[2016-05-19 18:41] muratg commented on #184
@moozzyk Assigning to you for further investigation.

[2016-05-19 18:59] BillHiebert commented on #176
It does seem to be related to ANCM or Kestrel. I can create and run an MVC5\Webform application with the name web.

[2016-05-19 19:28] #71 closed

[2016-05-19 19:34] #46 closed

[2016-05-19 19:56] pan-wang commented on #176
I don't think Web is a reserved keyword in either IIS and IISExpress. Will look at it.

[2016-05-19 20:05] pan-wang commented on #137
This was fixed.

[2016-05-19 20:19] Morcatko commented on #183
Thanks, It works now.

[2016-05-19 20:21] moozzyk commented on #184
I created a new web app with VS created a Views folder and put an image there. I referenced the image from the Index.cshtml like this: `    <img src="~/Views/Untitled.png" alt="ASP.NET" class="img-responsive" />` and it worked.
@Weboholics - you need to provide more details about your scenario, ideally a repro.

[2016-05-19 21:58] Tratcher commented on #137
@pan-wang in which version?

[2016-05-20 00:12] moozzyk commented on #167
davidebbo commented 7 minutes ago • edited
Today, when git deploying an app to Azure, you end up with this in web.config:

<aspNetCore processPath="dotnet" arguments=".\AspNetCoreRC2.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
To enable logging (including streaming), you need to change it to:

<aspNetCore processPath="dotnet" arguments=".\AspNetCo

[2016-05-20 00:18] davidebbo commented on #167
_Repasting my comment as your formatting got corrupted (should delete yours to avoid duplication)_

Today, when git deploying an app to Azure, you end up with this in `web.config`:

    <aspNetCore processPath="dotnet" arguments=".\AspNetCoreRC2.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />

To enable logging (including streaming), you need to chang

[2016-05-20 14:28] Weboholics commented on #184
We finally found the cause of the problem. Our Razor "Views" folder had a web.config file containing a BlockViewHandler, removing it solved the issue. The current project has been migrated from a RC1 version.The web.config file was an artifact from an earlier version.
[code]

[2016-05-20 16:42] moozzyk commented on #184
Glad you were able to figure this out!

[2016-05-20 16:42] #184 closed

[2016-05-20 18:18] tuespetre commented on #158
@danroth27 @davidfowl @blowdart

What about the 'bin' folder? Chatting with @guardrex, we're seeing that it appears to be a default 'hidden segment' configured in IIS -- and while static files and view templates technically aren't binaries, that could offer a more secure 'easy default' for IIS deployments. What do you think? Publish outputs into a bin folder with a sibling web.config that points i

[2016-05-20 18:21] GuardRex commented on #158
Let's also consider the guidance to remove the IIS static file module from
either the app or server.
On May 20, 2016 1:18 PM, "Derek" <notifications@github.com> wrote:

@danroth27 <https://github.com/danroth27> @davidfowl
<https://github.com/davidfowl> @blowdart <https://github.com/blowdart>

What about the 'bin' folder? Chatting with @guardrex
<https://github.com/guardrex>, we're seeing that it a

[2016-05-20 18:25] blowdart commented on #158
Wait, why are views being served anyway? .cshtml should be in the unsafe list.

[2016-05-20 18:26] blowdart commented on #158
Removing the IIS module sounds like a good idea, if the hoster supports it, and that section isn't locked :)

[2016-05-20 18:30] GuardRex commented on #158
@blowdart right ... if they can do it. Otherwise, they will prob only have one option .... the workaround that moves web.config back to wwwroot.

[2016-05-20 18:30] tuespetre commented on #158
@blowdart I was commenting more about "those other files that aren't binaries" being deployed into the bin folder.

[2016-05-20 21:29] GuardRex commented on #158
For the unofficial Slack #iis channel "IIS Hotline! Links, Notes & Tips," I say ...

[2016-05-20 21:48] moozzyk commented on #167
The setting.json based logging mechanism uses .NET tracing - so it's tracing from the application. Here we are talking about IIS capturing whatever was written to standard output and dumping it to a file. Very useful for troubleshooting issues (e.g. startup) but probably not as much for application logging. Application can configure logging and decide to log elsewhere in which case these entries w

[2016-05-21 03:04] RickyLin opened #185 ""The system cannot find the file specified." - DotNetCore.1.0.0.RC2-WindowsHosting.exe"
my co-worker tried to run DotNetCore.1.0.0.RC2-WindowsHosting.exe in our Windows Server 2012 R2 server that doesn't have internet access. He got this error:

![screen shot 2016-05-21 at 10 56 30 am](https://cloud.githubusercontent.com/assets/1393989/15446012/618895e0-1f43-11e6-9072-9959d86e0f75.png)

here's the log file:

[code]

Any ideas?

Thanks

[2016-05-21 03:32] Tratcher commented on #185
Duplicate of https://github.com/aspnet/IISIntegration/issues/179#issuecomment-220170056

[2016-05-22 17:33] AR1ES commented on #158
What about URL rewrite?
Condition `IsFile` does not work, because it does not match the physical path.
My rule:
[code]

[2016-05-22 17:48] GuardRex commented on #158
@AR1ES I don't have too much experience with needing to mod the default behavior with regard to trailing slashes; but having said that, I take it you aren't interested in going with route options ...
[code]

[2016-05-22 18:55] AR1ES commented on #158
@GuardRex These options are responsible only for the links on the site but not for real redirects. Of course I can write a few lines of code for this purpose. But I'm sure it's not the only problem, which is caused by the change of the app root folder. And I would like to use the standard IIS capabilities.

[2016-05-22 19:05] GuardRex commented on #158
@AR1ES I haven't had to achieve the type of redirects that you're going for here ... I don't even understand what you're trying to achieve. My recommendation is to open an issue over in https://github.com/aspnet/IISIntegration/issues and hit up The Honorable Mr. Chris @Tratcher, Esq. :sunglasses:, who can provide more assistance than I on this one.

[2016-05-22 21:45] lruckman commented on #176
Can confirm creating a new project in RC2 (net461) and naming it Web causes this in VS. Was not the case in RC1. This happen in both brand new projects and those converted from RC1.

[2016-05-22 22:02] Eilon opened #186 "Clean up package metadata and pre-Core references"
# NuGet package metadata
The `project.json` file of every shipping NuGet package has two properties that must be non-empty:
1. description
2. tags

## Description guidance

Description should be at least something like this:
  "description": "ASP.NET Core MVC view rendering features. Contains common types used in most MVC applications as well as view rendering features such as view engines, views,

[2016-05-23 05:52] GuardRex commented on #186
@Eilon I know this is for your folks, but not in the new `packOptions > tags`?

[2016-05-23 07:23] Eilon commented on #186
Ah, well, yes, my instructions are out of date by a few weeks 😄

[2016-05-23 16:22] Tratcher commented on #102
Latest proposal: Have ANCM filter out the DEBUG request if the debugger is attached.

[2016-05-23 16:23] Tratcher commented on #102
An auto-start option (https://github.com/aspnet/IISIntegration/issues/161) may also remove the need for the DEBUG request.

[2016-05-23 16:24] Tratcher commented on #140
IsAzure check: https://github.com/aspnet/DataProtection/blob/8503e161d061fa230b00ba58d6801d7f906356ce/src/Microsoft.AspNetCore.DataProtection/Repositories/FileSystemXmlRepository.cs#L158-L162

[2016-05-23 16:38] BillHiebert commented on #102
To make this work we would need to change the way we launch the debugger to attach to IIS Express first (so ANCM filters the debug verb), and then send the debug request and have the debugger attach to the spawned process

[2016-05-23 18:58] shirhatti commented on #29
Win HTTP doesn't support fast loopback.

[2016-05-23 18:58] #29 closed

[2016-05-23 19:03] troydai opened #187 "HttpsTests consistently failed on Windows 2008"
Test:
[code]

Failure:
[code]

Test:
[code]

Failure:
[code]

[2016-05-23 20:58] shirhatti commented on #137
Fixed in 7.1.1965.0

[2016-05-23 20:58] #137 closed

[2016-05-23 21:09] benaadams commented on #29
:crying_cat_face:

[2016-05-23 21:21] pan-wang commented on #176
this is bug in ANCM. When resolving the site path, it simply takes the sub string from the app path using the site name and did not consider the app path may already contains string as 'WebRoot' and "AppHost". Will fix it.

[2016-05-23 23:08] Tratcher commented on #140
Fixed in nightly dev builds.

[2016-05-23 23:08] #140 closed

[2016-05-24 02:15] PinpointTownes commented on #140
Hum, why not just disabling symmetry by default for all environments?

The errors caused by the lack of symmetric (e.g invalid `redirect_uri` during an OIDC request) are really hard to debug, specially since the log message associated with this error is not helpful at all and requires a high level of verbosity: `Failed to parse forwarded [header]`.

[2016-05-24 03:20] YaoaY opened #190 "Sub-App cannot add duplicate collection entry with name 'aspNetCore'(500.19)"
Windows Server 2012 R2
IIS 8.5

Website - Default WebApplication Project (ASP.NET Core 1.0 RC2)
      |
      |-  subapp1 - Default WebApplication Project (ASP.NET Core 1.0 RC2)

Website is ok,but the subapp1 get a 500.19 error:

![issue002](https://cloud.githubusercontent.com/assets/8706312/15491054/7f1a2cc8-219f-11e6-88db-6e42315b5522.png)

![issue003](https://cloud.githubusercontent.com/assets/

[2016-05-24 03:42] Tratcher commented on #190
This is normal behavior for IIS modules. There are two parts to the web.config data. The handlers section only needs to be added for the root site. The `aspNetCore` options should be specified per site.

[2016-05-24 06:43] #190 closed

[2016-05-24 07:53] EricSch commented on #105
What is the scenario to support Windows Authentication on IIS with RC2?
Do I have to use Kestrel or WebListener? How to setup? Didn't find anything actual in the doc.
Thanks for any help

[2016-05-24 08:08] davidfowl commented on #105
2 options:

- Use IIS Express/IIS and turn on Windows Authentication.
- Use WebListener configuring NTLM/Kerberos (whatever you need).

[code]

[2016-05-24 08:25] EricSch commented on #105
@davidfowl  Thank you for answering.

[code]
`

I have the following setups (Server 2012 R2 / IIS):
- Kestrel
- Windows Authentication enabled
- forwardWindowsAuthToken="true"
--> Identity is set, but only for the first client connected, for all other clients, they have the same identity like the first one

or:
- WebListener (configured by using arguments=".\MyApp.dll server=WebListener" in web.co

[2016-05-24 08:48] davidfowl commented on #105
Pick the one you want to use. I'm not sure why you're using both servers. If you're running on IIS, use IIS.

[2016-05-24 09:09] EricSch commented on #105
On the server is get:
`Failed to start process with commandline 'dotnet .\My.dll server=WebListener', Error Code = '0x8007065f'.`

So why does the same command work in a command line? Are in a hosted environment not multiple arguments allowed?

@davidfowl I was using both servers, because I had problems debugging with WebListener in Visual Studio. Will try changing it to WebListener per default.

[2016-05-24 09:20] EricSch commented on #105
With WebListener i have the following error:
`Failed to start process with commandline 'dotnet .\My.dll', Error Code = '0x8007065f'.`

Same error code. What does it mean?

[2016-05-24 09:34] davidfowl commented on #105
WebListener doesn't work with IIS. If you're using IIS then use Kestrel.

[2016-05-24 09:41] EricSch commented on #105
Great, then how to use Windows Authentification? Kestrel doesn't work.

[2016-05-24 09:45] davidfowl commented on #105
Let's go back to this:

- Windows Authentication enabled
- forwardWindowsAuthToken="true" --> Identity is set, but only for the first client connected, for all other - clients, they have the same identity like the first one

So the problem you're seeing is the identity is incorrect? But Windows Auth *is* working, right?

[2016-05-24 10:05] EricSch commented on #105
Yes, Windows Auth is working.

Problem:
I'm connecting initially with User A to the server. Identity is set for User A. Now I'm connecting with User B from a different machine to the server. Identity is still User A.

[2016-05-24 16:04] davidfowl commented on #105
@EricSch can you file a new bug with that information?

[2016-05-24 17:08] Tratcher commented on #140
We'll consider it if this comes up in most environments. For now we're using the most secure settings by default.

[2016-05-24 23:10] JunTaoLuo commented on #187
Seems like it's an issue with outdated tooling. I updated VS on the agent and grabbed the latest tooling along with ANCM, IISExpress... and the tests are passing now. I'll turn the tests back on.

[2016-05-24 23:35] JunTaoLuo commented on #187
tests re-enabled, closing.

[2016-05-24 23:35] #187 closed

[2016-05-25 00:41] anwalkers opened #192 "Issue: URL Rewrite using web.config is broken in RC2"
I have tried moving the web.config to and fro and cannot get the URL rewrite to work in IIS Express from Visual Studio 2015. If there was middleware to perform what is spelled out in the web.config snippet I could punt on the web.config and selfhost. Maybe someone can point me in that direction to solve our problem.

We need to use Angular 1.x HTML 5 routing in our application and this is how we h

[2016-05-25 01:14] troydai commented on #187
thanks, @JunTaoLuo

[2016-05-25 02:06] nil4 commented on #177
@muratg are there any plans to publish a separate installer for AspNetCoreModule only? The use case here is a server hosting multiple apps, where only stand-alone (self-contained) apps should be deployed. To avoid apps accidentally relying on the share runtime being available, no .NET Core bits will be deployed to the server. ANCM, however, needs to be installed in IIS.

[2016-05-25 03:26] muratg commented on #177
@nil4 We're considering different options. I think the current investigation is having check boxes on the installer to selectively install components, but no decision has been made yet.

cc @joeloff

[2016-05-25 04:21] joeloff commented on #177
That would require a custom bootstrapper application that can interface with the Burn engine. It will be more than one week's worth of work.

[2016-05-25 07:50] road42 opened #193 "Error -4092 EACCES permission denied on WS2012R2+IIS"
Hi, we get an "502 - Web server received an invalid response while acting as a gateway or proxy server." error with a ASP.NET Core RC2 default project app.

Server is Windows Server 2012 R2 with IIS installed as shown on docs.asp.net.

![apppool](https://cloud.githubusercontent.com/assets/3525089/15531944/70a92b1c-225d-11e6-812b-52835fec1276.png)

EventLog:

`Failed to start process with commandli

[2016-05-25 08:30] dotcom9 commented on #177
@nil4 I believe there already is a standalone installer. Links [here](https://github.com/aspnet/Announcements/issues/164).

[2016-05-25 09:23] nil4 commented on #177
@dotcom9 those links point to version 0.8 of ANCM, which is already out-of-date (version 0.9.1965 is currently bundled with the Server Hosting RC2 installer). The version bundled with the RTM release is likely to be revved up again, so at this point I think the links in the announcement are more confusing than helpful.

[2016-05-25 12:56] Tratcher commented on #193
Please share your Program.Main, it's probably an issue with how you set up urls.

[2016-05-25 13:07] road42 commented on #193
[code]

[2016-05-25 13:10] road42 commented on #193
I also tested on a local Windows 10/IIS10 without any issues.

[2016-05-25 14:31] Tratcher commented on #193
Actually, I think this is a duplicate of https://github.com/aspnet/IISIntegration/issues/176.

[2016-05-25 15:59] GuardRex commented on #177
@joeloff Would it be a lot easier to zip the module and schema file and shoot them into blob storage for our access, similar to the way the .NET Core Binaries are provided? For the handful of people (relatively speaking) who will be interested in deploying them themselves, that should be fine.

[2016-05-25 16:02] GuardRex commented on #192
I'm going to ping @Ciel on Slack, who may have a solution for this.

[2016-05-25 16:34] Tratcher commented on #177
@GuardRex The installer does more than drop files:
- The module needs to be added to the applicationhost.config
- The handlers section in the applicationhost.config needs to be unlocked
- x86 vs x64
- Enables servicing / windows update

[2016-05-25 16:49] GuardRex commented on #177
I know that. I can do that myself (except the last one). It's not a different process than what we do now with Nano TP5.

[2016-05-25 16:55] nil4 commented on #177
There is in fact an installer for *just ANCM* that, insofar as I tested, does most (all?) the things that @Tratcher listed above.

On my machine, I found it under *C:\Documents and Settings\All Users\Package Cache\{A0845055-ED2B-41CF-B799-A5765C485F29}v0.9.1965\packages\aspnetcoremodule_x64_en_rc2_14.msi* after installing the Preview1 tooling.

The issue is really that there is no "official" downl

[2016-05-25 17:08] GuardRex commented on #177
The thing I like about zipped content is that I can't run an MSI on Nano, so it would be more convenient to just be able to have the files (`aspnetcore_schema.xml` and `aspnetcore.dll`) available. No biggie ... I can just go on pulling them locally.

I have a suspicion, too, that if a package is made available for Nano that it will be the full bundle, which I don't want. I have a feeling that my f

[2016-05-25 17:44] road42 commented on #193
I think, you're right. The page was hosted under: http://app.sgr.lan/WebApp1 the same site under: http://xxx.sgr.lan/WebApp1 works.

[2016-05-25 17:45] ciel commented on #192
I'll take a look at this when I get home this evening, sure. I'm using
angular extensively with RC2. I know I've got a working demo of this in one
of my projects somewhere.
On May 25, 2016 11:13 AM, "Luke Latham" <notifications@github.com> wrote:

[2016-05-25 17:54] ciel commented on #192
I'm not at a computer right now, but looking at your sample have you tried using "^(.*)$" as the match url? And of course, you can confirm that you've got html5mode active?

[2016-05-25 17:57] #193 closed

[2016-05-25 19:04] anwalkers commented on #192
I haven't tried the regex  "^(.*)$". Any links to your examples would be great!

[2016-05-25 21:06] Tratcher commented on #161
We plan to use this feature to replace the DEBUG request (#102) VS currently sends to start the process. When that happens remove the DEBUG filter from IISMiddleware.

[2016-05-25 21:07] Tratcher commented on #102
We've opted to have the middleware filter out this request for v1.0. Post 1.0 the plan is to replace the DEBUG request with #161 (auto-start).

[2016-05-25 21:07] #102 closed

[2016-05-25 23:30] Tratcher commented on #176
Root cause: ANCM had a bad IndexOf on the string `Machine\WebRoot\AppHost\<sitename>\<appname>\...`. Any project who's name is a subset of those values will get the wrong PathBase and crash Kestrel on launch. E.g. Web, App, Host, Machine, Root, etc..

[2016-05-26 04:15] DreamingDevs commented on #176
My project was named ```CarSolution.Identity.Web``` and I am also facing the same problem. So having ```web``` might be the problem?

[2016-05-26 05:51] road42 commented on #176
As you see in #193 it also fails when the url is something like "http://app.whatever.tld/SaveProjectNameHere"

[2016-05-26 06:03] muratg commented on #192
@anwalkers Were you able to verify the regex suggested by @ciel?

[2016-05-26 06:05] muratg commented on #185
@RickyLin Let us know if the link @Tratcher's comment doesn't work for you.

[2016-05-26 06:14] RickyLin commented on #185
Sorry, I forgot this issue. My co-worker installed "vc_redist.x64.exe" but still had some problem, the "dotnet" is not in the "path". I didn't know what problem he had. But finally I uninstalled WindowsHosting.exe and installed .NET Core Runtime and ASP.NET Core Module with their own installers respectively. But I believe "vc_redist.x64.exe" should be installed first, then the other 2 installers.

[2016-05-26 06:15] #185 closed

[2016-05-26 08:17] EricSch commented on #105
@davidfowl  After setting up a sample project without having the issue, I reviewed our project and found a logical error caused by injection in our code. Thanks for your time.

[2016-05-26 14:29] mjeson commented on #122
What are values for the LAUNCHER_PATH and LAUNCHER_ARGS [mentioned](https://docs.asp.net/en/latest/migration/rc1-to-rc2.html) in the new web.config ?

Been getting [error](http://stackoverflow.com/questions/37463186/asp-net-core-1-0-rc2-what-are-launcher-path-and-launcher-args-mentioned-in-web) when deploying the published files.

[2016-05-26 14:31] Tratcher commented on #176
@road42 That was because you set your root site name to `APP`. The url didn't matter.

[2016-05-26 14:35] mjeson commented on #122
What are values for the LAUNCHER_PATH and LAUNCHER_ARGS [mentioned ](https://docs.asp.net/en/latest/migration/rc1-to-rc2.html) in the new web.config ?

Been getting [error](http://stackoverflow.com/questions/37463186/asp-net-core-1-0-rc2-what-are-launcher-path-and-launcher-args-mentioned-in-web) when deploying the published files to IIS 8.5 (2012 R2). I dont see any executable in the published fil

[2016-05-26 15:08] GuardRex commented on #122
@mjeson To use the `publish-iis` tooling. See the `tools` and `scripts` sections of `project.json` in the samples at: https://github.com/aspnet/cli-samples

To manually setup the `web.config`, see the IISIntegration sample at: https://github.com/aspnet/IISIntegration/tree/dev/samples/IISSample

[2016-05-26 15:11] anwalkers commented on #192
@muratg I have not. I am on a deadline and have turned HTML5 routing off temporarily. Will tackle this when I get to the Azure WebApp deployment step. Hoping @ciel will have a link to an example along the way.

That said, any progress on getting IIS Express from VS 2015 to pay attention to URL rewriting in the web.config?

[2016-05-26 15:16] road42 commented on #176
@Tratcher Ah sorry this wasn't clear enough. Thank you.

[2016-05-26 16:41] moozzyk commented on #122
%LAUNCHER_PATH% and %LAUNCHER_ARGS% are used by VS. publish-iis tool (if configured) will override them when you publish your application.

[2016-05-26 20:53] pan-wang commented on #178
this will be fixed in next release

[2016-05-26 20:58] Tratcher commented on #178
@pan-wang please add the `Done` label to issues when you've checked in the fix. We'll plan to verify and close them.

[2016-05-27 15:29] anwalkers commented on #192
I tried the following code in my Startup.cs to do middleware URL rewrite. It works fine for the base URL, but **does not** support deep links into an AngularJS 1.x application with HTML5 routing **enabled**. It **does** work with HTML5 routing **disabled**.

Works:
Base URL: `http://localhost:5000`
API: `http://localhost:5000/api/someApi`
Library or resource: `http://localhost:5000/lib/library.js`

[2016-05-27 16:00] muratg commented on #192
@Tratcher thoughts on why this may have regressed?

cc @pan-wang

[2016-05-27 17:22] mjeson commented on #122
Thank you for your help @GuardRex and @moozzyk . I have my deployment working now. Here are my findings (also posted in stackoverflow).

After several hours dealing with them, I found there are **two** web.configs that we need to deal with: `src\ProjectName\wwwroot\web.config` and `src\ProjectName\web.config` . If you dont have the latter, VS2015 publish will generate one for you with %LAUNCHER_PA

[2016-05-27 17:27] moozzyk commented on #122
I don't think you need the config in the wwwroot - as per https://github.com/aspnet/Announcements/issues/173  the web.config was moved to approot. If you configure publish-iis in your project.json like this: https://github.com/aspnet/cli-samples/blob/master/HelloMvcApi/project.json#L21-L29. You won't have to deal with `%LAUNCHER_*%` values - they will be taken care of for you.

[2016-05-27 18:15] mjeson commented on #122
Thank you @moozzyk . You are awesome! I am missing that snippet from project.json. It works as expected now.

[2016-05-27 21:48] Tratcher opened #196 "Logs are not created if the log folder does not exist"
The templates set `stdoutLogFile=".\logs\stdout"` by default, but do not include a logs directory in the project. ANCM will not create log files unless the logs directory already exists. ANCM should create the directory.

[2016-05-27 22:32] #186 closed

[2016-05-29 07:12] anwalkers commented on #192
I have published a simple sample app to this repository.

`https://github.com/anwalkers/AngularUrlRewriteAspNetCore1`

This site is a vanilla ASP.Net Core 1 RC2 project using one MVC route to an index.cshtml as the root page for the site. It does not have the mapWhen function or static html in the wwwroot directory. It is checked in a **broken** state. You can switch it back to **non-HTML5** mode

[2016-05-29 18:03] GuardRex commented on #196
Great idea in the specified case, but it's also related to a side-issue with `dotnet cli` in that if we create a `Logs` folder in the app and include it for publishing in `publishOptions > include`, it will not appear in published output without a dummy file in it. https://github.com/dotnet/cli/issues/1396 cc/ @piotrpMSFT @blackdwarf

The possible problem here is that devs may want to put the logs

[2016-05-29 23:10] nil4 commented on #146
Well, it took a bit longer than expected, but I got the initial port working: [GitHub repo](https://github.com/nil4/dotnet-transform-xdt) and [NuGet package](https://www.nuget.org/packages/Microsoft.DotNet.Xdt.Tools/).

There are a few rough spots noted down as known issues (mainly diagnostics), but it's working well enough for my main use cases. Hopefully it will be useful for someone else too. F

[2016-05-29 23:48] davidfowl commented on #146
@nil4 Why do you have the tool in both the tools section and dependencies section? Is it also used at runtime?

[2016-05-30 20:10] nil4 commented on #146
@davidfowl good question! While I was developing locally, I used `dotnet pack` to create the tool NuGet package and had a test project where I was installing it to test (using a local folder as NuGet source, before the package was published to NuGet). Not because I particularly enjoyed this setup, but https://github.com/dotnet/cli/issues/3239.

If I *didn't* add the package to the `dependencies` s

[2016-05-31 13:02] martincostello commented on #176
I've just come across this issue when deploying an update to a site running RC2 (which was already RC2) when accessing it at ```http://{name}.azurewebsites.net/```. Is this falling foul of the same issue because of the ```web``` in ```azurewebsites```?

[2016-05-31 14:50] Tratcher commented on #176
@martincostello I don't think so, it has worked for others on azurewebsites.net.

[2016-05-31 14:55] martincostello commented on #176
@Tratcher I've been playing around with this, and I _think_ I've actually narrowed it down to there being RC1 and RC2 bits in the same wwwroot folder after the "delete existing files" option wasn't used when publishing the site. However, I've no idea what change triggered it suddenly making a difference. Deleting every file in wwwroot in Azure, re-publishing and restarting the site fixed the probl

[2016-05-31 17:37] moozzyk commented on #167
We decided to overwrite the outpath always to "\\?\%home%\LogFiles"  when publishing for Antares since the stdoutLog should be used for diagnostic purposes and the folder always exists.

[2016-05-31 17:49] davidebbo commented on #167
`%home%\LogFiles\Application` might be a better choice. By default, when looking at log streams in VS, that's the only folder that gets looked at. So if you don't write there, most people will get confused (VS allows changing this, but it's an advanced setting).

[2016-05-31 19:09] csmith93 commented on #179
@joeloff: Does that mean there's no way to install it without having an internet connection? If so, are there any plans to provide windows hosting without this requirement?

I'm trying to evaluate it in a environment that's intranet only.

[2016-05-31 19:25] davidebbo commented on #167
@moozzyk please discuss with @glennc, as he's working on a separate logging provider which would likely conflict with this. His approach will grow better into supporting storage logging and more advanced features.

[2016-05-31 19:27] joeloff commented on #179
@csmith93 Let me follow up on this. The only real solution for this would be for the outer bundle (Server Hosting) to carry the VC redist, that way when the .NET Core portion runs it will find that it's already installed.

[2016-05-31 19:31] csmith93 commented on #179
@joeloff, thanks!

[2016-05-31 21:55] moozzyk commented on #167
@davidebbo - as I said before - stdoutLogOutput is not for logging it is just for diagnosing (mostly startup) issues. It's especially useful to troubleshoot issues which happen even before we have a logger at all. Configuring a console logger and using stdoutLogOutput to log to a file is not a substitute for a file logger.
As for the path - we have always used `%home%\LogFiles\` - feels a bit late

[2016-05-31 22:06] davidebbo commented on #167
I'm not sure I quite buy this argument. The fact is that by default apps are configured with:

    loggerFactory.AddConsole(Configuration.GetSection("Logging"));

Such that anything they log using `ILogger` will go there, for the lifetime of the console app (and not just the startup sequence).

Point is that if this is enabled and so is @glennc's logger, we will end up writing the same content und

[2016-05-31 22:25] moozzyk commented on #167
Why would applications in production log to the Console? How do you even read it when you run in Antares (let's say AspNetCoreModule does not have stdoutLog feature)?

stdoutLog is a IIS/AspNetCoreModule feature and not AspNet's and you only turn it on when you need to diagnose things - it's unstructured and you may and will get additional spew not related to your application at all (e.g. when the

[2016-05-31 22:33] davidebbo commented on #167
As long as users keep that off in Azure Web Apps and primarily use the new logger, I guess we're fine. And this will probably be the guidance, with the exception of diagnosing startup condition. If some *does* turn it on, then they will get duplicate stream, but hopefully this will be rare.

[2016-05-31 22:41] moozzyk commented on #167
Agreed.

[2016-05-31 23:42] moozzyk commented on #167
Fixed in 31a6a12

[2016-05-31 23:42] #167 closed

[2016-06-01 15:28] anwalkers commented on #192
@muratg @Tratcher @pan-wang @ciel  Any progress or discussion on this issue?

[2016-06-01 16:55] GuardRex commented on #167
TL;DR: ANCM console logging :sparkles: just works :sparkles: in spite of its accidental existence and lack of support. However, it shouldn't be used probably because 3rd party logging implementations only require a little more effort to install and configure for a much longer list of logging features.

I used the "anti-pattern" for six months here successfully relying upon the ANCM-generated log w

[2016-06-01 17:00] moozzyk commented on #167
https://github.com/aspnet/Logging/issues/441

[2016-06-01 17:14] pan-wang commented on #119
This looks a little bit annoying for end user. this was limited by CreateProcess but can be workaround. Will fix it.

[2016-06-01 17:33] videege opened #198 "Question: can IIS host an old-style ASP.NET app under a web site running an ASP.NET Core application?"
I have a web site up and running in IIS hosting an ASP.NET Core app (well, to be precise, it's running on rc1-update2).  This works fine.  I am trying to host a sub-application using ASP.NET MVC 5 under this site.  It has a separate app pool, but it seems like Kestrel is intercepting all requests to the sub-app's URL and then returning a 404 for the application.

This sort of feels like Issue #14

[2016-06-01 19:09] videege commented on #198
Sorry, fixed this myself - I used the solution in #113 but I needed to have `<remove name="httpplatformhandler"/>` for it to work.

[2016-06-01 19:09] #198 closed

[2016-06-01 21:23] Tratcher opened #199 "Appends random bytes to the HTML document"
_From @koistya on May 31, 2016 13:46_

![image](https://cloud.githubusercontent.com/assets/197134/15686347/83f2d1d0-2778-11e6-9e14-18e1b4dd4f8f.png)

![image](https://cloud.githubusercontent.com/assets/197134/15676398/b18e97f2-274e-11e6-910f-dd37c3ca6659.png)

##### `Startup.cs`

[code]

##### `web.config`

[code]

##### `project.json`

[code]

(testing in Azure Web Apps, hitting F5 - sometimes it

[2016-06-01 21:23] Tratcher commented on #199
This is caused by BrowserLink. You can comment it out in your Startup.
https://github.com/aspnet/Mvc/issues/4671

[2016-06-01 21:23] Tratcher commented on #199
_From @koistya on May 31, 2016 17:3_

Hm, but I don't have BrowserLink anywhere in my code.

[2016-06-01 21:23] Tratcher commented on #199
Good point... is there a utf-8 BOM in the static file?

[2016-06-01 21:23] Tratcher commented on #199
Or is it the welcome page?

[2016-06-01 21:23] Tratcher commented on #199
_From @koistya on May 31, 2016 17:17_

@Tratcher take a look here https://tarkus2.azurewebsites.net (it's a welcome page generated by `app.UseWelcomePage()`). You need to refresh the page several times because it doesn't reproduce in a consitent manner.

[2016-06-01 21:23] Tratcher commented on #199
Interesting. That's exactly the same symptom we got from the BrowserLink bug, but you don't have that enabled.

[2016-06-01 21:23] Tratcher commented on #199
Do you see this with any other pages, or just with the WelcomePage?

[2016-06-01 21:23] Tratcher commented on #199
_From @koistya on May 31, 2016 17:55_

I haven't seen this issue with `app.Run(async (context) => { await context.Response.WriteAsync(...); })`. Haven't tried ASP.NET Web Pages or MVC yet.

[2016-06-01 21:26] Tratcher commented on #199
This appears to be caused by the dynamic compression module in IIS Express. Commenting out the `httpCompression` section in the `.vs\config\applicationhost.config` file gets rid of the BOM chars.

@pan-wang can you investigate why this is happening?

[2016-06-01 21:27] Tratcher commented on #199
Note this reproduces with the WelcomePageSample: https://github.com/aspnet/Diagnostics/blob/dev/samples/WelcomePageSample/Startup.cs

[2016-06-02 16:42] pan-wang commented on #173
this is a per request issue. If we check whether debugger is attached for each request, there will be significant performance cost. There is a simple workaround that user can change the request time out value at the web.config.

[2016-06-02 17:38] Tratcher commented on #173
What's the % overhead per request for checking if the debugger is attached?

[2016-06-02 22:40] muratg commented on #199
:eyes:

[2016-06-03 21:52] Tratcher commented on #192
I was able to repro this using just the UrlRewrite samples here:
http://www.iis.net/learn/extensions/url-rewrite-module/creating-rewrite-rules-for-the-url-rewrite-module
(against ANCM rather than Asp.Net 4).

I see two issues:
- Kestrel receives the request, but the url has not been modified.
- Kestrel's response is not forwarded to the client, the client only receives an empty 200 response (Conte

[2016-06-03 21:57] pan-wang opened #200 "Need a more meaningful 502 error page for process start failure"
In case ANCM cannot start backend process for whatever reason(e.g., wrong processPath value), a 502 error page was returned to client without any debugging/actionable hint. We may need to improve this error page for ANCM only to help debugging experience.

[2016-06-06 06:17] itayit opened #201 "RC2 - 502.3 On IIS Request Log for requests that end with 200 on kestrel log"
We have two servers in production environment hosting a website in kestrel behind IIS.
the sites are running on ASP Core RC2 and see about 100K-200K requests per day.
around 3-5% of the hrrp requests fail according to iis log with 502.3 error.
I enabled kestrel logging (by adding stdoutLogEnabled="true" in web.config for aspnetcore module)
and see that the same requests complete with OK(200) on ke

[2016-06-06 21:56] Tratcher commented on #201
@pan-wang can you investigate?

[2016-06-06 23:09] WhittenMike807 commented on #192
Has anyone found a work around?

[2016-06-06 23:09] ciel commented on #192
Unfortunately I haven't
On Jun 6, 2016 6:09 PM, "Michael Whittenburg" <notifications@github.com>
wrote:

[2016-06-06 23:10] Tratcher commented on #192
I did find one where you can change `type="Rewrite"` to `type="Redirect"`, but I doubt that's relevant to you here.

[2016-06-07 17:05] pan-wang commented on #178
this has been fixed and will be included in next release

[2016-06-07 18:32] pan-wang commented on #201
My guess is that when ANCM parsing the response from Kestrel, it always assume the first line is the status line and start with empty space. This assumption may not always hold. Could you please share a repro so that I can test it with instrumented assembly?

[2016-06-07 19:42] pan-wang commented on #119
this was fixed

[2016-06-07 19:44] pan-wang commented on #192
Looking at it now

[2016-06-08 05:22] itayit commented on #201
we dont manage to repro on staging env only in production. also  this error is not repeated for a specific set of requests but happen sparsely

[2016-06-08 15:56] anwalkers commented on #192
FYI... Found this project with some middleware to solve the url rewrite problem.  Something like this would make a nice addition to ASP.Net Core 1.

https://github.com/BrainCrumbz/AWATTS/tree/master/src/WebPackAngular2TypeScript/Routing

[2016-06-08 16:27] pan-wang commented on #192
this is a bug in aspnetcore module. The fix will be included for next release.

[2016-06-08 17:02] Tratcher commented on #192
@pan-wang can you provide a brief explanation please?

[2016-06-08 21:47] Tratcher opened #203 "IIS custom error pages do not work with ANCM"
The IIS custom error page feature allows IIS to provide/replace the response body for specific status codes. By default it will do this for 401,403,404,405,406,412,500,501,502.  However, this does not work with ANCM/Kestrel, all configured error pages are bypassed and the original body from the application is returned to the client.

Questions:
- Do we want to support IIS custom error pages with A

[2016-06-08 23:03] Tratcher commented on #203
Note we see the same behavior in Azure.

[2016-06-09 11:57] Jargon64 commented on #192
@anwalkers I'm trying to see if I can get that middleware implemented into my project as a workaround but appears to be for RC1. Did you try it with an RC2 project?

@pan-wang Don't suppose you know when this release is expected to drop?

[2016-06-09 12:21] WhittenMike807 commented on #192
I was able to use this as a quick workaround.

routes.MapRoute("spa-routes", "{*anything}", new { controller = "Home", action = "Index" });

[2016-06-09 16:29] Jargon64 commented on #192
@WhittenMike807 I think this is working for me (have run into the next hurdle while upgrading to RC2).

Are there any known pitfalls of taking this approach?

[2016-06-09 16:31] WhittenMike807 commented on #192
I haven't encountered any issue so far. Seems like a "ok" fix for now

[2016-06-09 16:52] Tratcher commented on #203
@blowdart

[2016-06-10 06:10] dolly22 opened #204 "AspNetCoreModule status code when serving app_offline.htm"
Is it possible to configure status code returned by AspNetCoreModule? It returns **200 OK** which has it's issues.

For example when serving static assets through CDN configured with origin pull, app_offline.htm page content may be cached when 200 OK is returned.

Classic ASP.NET returns **503 Service Unavailable** when serving app_offline.htm requests.

[2016-06-10 16:32] Tratcher commented on #204
@pan-wang, this should be changed.

[2016-06-10 18:44] pan-wang commented on #201
let me add more logs to windows event log for this "The parameter is incorrect. (0x80070057)" error as warning so that we can figure out what happened with the response received from backend.

[2016-06-10 21:13] Tratcher commented on #200
Reminder: Set the charset. Right now Chrome guesses the wrong encoding and the page renders full of replacement characters.

[2016-06-10 21:21] Tratcher commented on #200
[code]

[2016-06-11 16:37] GuardRex commented on #203
I vote for making this an opt-in feature. I enjoy keeping as much server-ish work within Kestrel as possible ... even secretly hoping that Kestrel could get the needed features to make it a full-fledged, standalone server for WS one day.

If you made this an opt-out feature, it feels like that would be leaning in the opposite direction. I hope every decision that comes down to choosing default beh

[2016-06-12 11:21] jordanwallwork opened #205 "dotnet publish-iis looking for web.config in wrong place?"
I'm having trouble getting `dotnet publish-iis` to run correctly.

To publish my project I'm using:

    dotnet publish ./src/RetailGuardian.Web/ -o ./code_drop/RetailGuardian.Web --runtime dnet452

and I've set a postpublish script in my `project.json`:

    "scripts": {
        "postpublish": "dotnet publish-iis --publish-folder %publish:OutputPath% --framework %publish:FullTargetFramework%"

[2016-06-13 14:31] JohnGalt1717 commented on #192
FYI, this also blows up and prevents debugging from starting. (works fine in production)

    <rewrite>
      <rules>
        <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^localhost(:\d+)?$" negate="true" />

[2016-06-13 14:56] GuardRex commented on #205
Will be tracked at https://github.com/dotnet/cli/issues/3528

[2016-06-13 16:59] moozzyk commented on #205
Closing as a dupe.

[2016-06-13 16:59] #205 closed

[2016-06-13 19:57] #204 closed

[2016-06-14 20:26] Tratcher commented on #119
@pan-wang I see that processPath and arguments were fixed, but stdoutLogFile was not.

[2016-06-14 20:28] #178 closed

[2016-06-14 20:31] #176 closed

[2016-06-14 20:48] WhittenMike807 commented on #192
@Tratcher Why is this closed? Has it been updated/fixed?

[2016-06-14 20:51] Tratcher commented on #192
Yes, this has been fixed for the upcoming release.

[2016-06-14 20:53] WhittenMike807 commented on #192
@Tratcher Just so I can plan. You have a rough idea on when the next release will be by chance?

[2016-06-14 21:07] Tratcher commented on #192
https://github.com/aspnet/Home/wiki/Roadmap

[2016-06-14 21:30] Tratcher commented on #196
Also fix the path logic so the `.\` isn't required, and so that even any empty path works.
https://github.com/aspnet/IISIntegration/issues/119#issuecomment-226005524

[2016-06-14 21:30] #119 closed

[2016-06-14 22:01] twilliamsgsnetx commented on #192
Can you elaborate on fixed? Will it continue to work exactly the way it has previously with RC1? Getting used to 'fixed with side effects' and just want to be sure.

[2016-06-15 00:51] PleasantD commented on #105
How does IIS interact with the core app with regards to monitoring and restart?
Does setting the apppool to always running and using the `applicationInitialization` module still work?
Is there anyway to get notified about apppool/site restarts and shutdowns (and maybe delay them while processing is still happening)?

[2016-06-15 01:03] GuardRex commented on #105
@PleasantD See: https://github.com/aspnet/IISIntegration/issues/161

[2016-06-15 12:56] bruno-garcia opened #206 "Serving App_Offline.htm returns HTTP Status Code 200"
Support to App_Offline.html was added via aspnet/IISIntegration#81
I'm using it with RC2 and it works fine. Files are unlocked and I'm able to redeploy the app.

On .NET 2.0, dropping App_Offline.htm would be served with a status code 404.
That was changed (Fixed?) to 503 on .NET 4.0, but now (on my unmanaged app pool) running AspNetCoreModule, the file is served with a status code 200.

I've trie

[2016-06-15 14:37] cherici-simone commented on #176
I migrate a solution from RC1 to RC2 and one of the projects was named "Web". I rename it (both name and folder) but I'm still get the same error. Are there "strange" steps to rename a projects?

[2016-06-15 15:50] muratg commented on #176
@cherici-simone what was the new name?

[2016-06-15 15:58] Tratcher commented on #206
This has already been changed to 503. https://github.com/aspnet/IISIntegration/issues/204. There isn't a workaround available, you'll have to wait for the RTM release.

[2016-06-15 15:58] #206 closed

[2016-06-16 07:35] cherici-simone commented on #176
I try "Site" but nothing...then I try..."aaa" but the error persist. I try
with a new project and perform the same rename without success. I also
change folders, namespace, launchSettings.json and also rename the solution

On Wed, Jun 15, 2016 at 5:50 PM, Murat Girgin <notifications@github.com>
wrote:

--
Simone Cherici

[2016-06-16 07:42] martincostello commented on #176
@cherici-simone Is this in Azure? I had issues with a RC1 -> RC2 migration in Azure because there were things left in the site folder for RC1 that created strange conflicting behaviour. Deleting the RC1 remnants via FTP fixed it.

[2016-06-16 12:35] housten opened #207 "Can't install .NET Core Windows Server Hosting bundle"
I tried to install the .NET Core Windows Server Hosting bundle on one of our windows server 2008 r2 servers. The install failed; I suspect it is because the server does not have access to the internet.

I found a closed issue here that led me to believe it could be because it needs to install the VC++ 2015 redistributable which I downloaded and attempted to install. However it fails too because it

[2016-06-16 14:24] Tratcher commented on #207
@joeloff?

[2016-06-16 14:26] Tratcher commented on #207
Related: https://github.com/aspnet/IISIntegration/issues/179#issuecomment-220170056

[2016-06-16 15:13] GuardRex commented on #207
@housten Let me clarify regarding your attempt to install the redist ... you were unable to install from the download from https://www.microsoft.com/en-us/download/details.aspx?id=48145 ?

[2016-06-16 15:48] nasheayahu opened #208 "500 Internal Server Error - Unable to locate a project.json at 'E:\WebASP.NET.Core\'."
Hi,
I already posted a issue on "[Publishing to IIS](https://docs.asp.net/en/latest/publishing/iis.html)" about getting a "502.3 Bad Gateway" and was instructed to publish my project here.  I had to create another solution because the project was within another solution with multiple projects.

In doing so after publishing it to IIS on a Windows Server R2 2012 to test it again I get this error:

5

[2016-06-16 16:53] Tratcher commented on #208
See https://github.com/aspnet/UserSecrets/issues/62. You can't use UserSecrets in IIS. Your project is set up to only include UserSecrets in Development so you just need to set your environment to Production after publishing (which should be the default). See ASPNETCORE_ENVIRONMENT.

[2016-06-16 17:36] nasheayahu commented on #208
Hi, thanks for the reply, this is my development server, one mention putting the in the "content section" which folder is he referring too, the Views?

[2016-06-16 18:51] #208 closed

[2016-06-17 07:08] housten commented on #207
Yes, @GuardRex, I was unable to install using the package at that link.

@Tratcher #179 is the closed case I refered to that gave me the idea that the VC++ redistributable could be the issue. I followed the advice and links there in my attempts to get the install working.

[2016-06-21 16:42] muratg commented on #200
I believe this is done.

[2016-06-21 16:42] #200 closed

[2016-06-21 19:33] ShadowDancer opened #210 "AspNetCoreModule hangs under heavy load"
### Title

AspNetCoreModule hangs under heavy load when I am trying to crawl my website with around 1 000 000 urls.
### Functional impact

Server starts normally, talks to first 6000 or so requests, and then returns 502 on all subsequent requests (even when I stop crawler). DebugDiag doesn't show anything suspicious. There is plenty of available memory (server has 32 Gb, application uses < 2 Gb).

[2016-06-21 23:52] pan-wang commented on #174
current code loads the file content into a buffer. if the file size is 0, the load is marked as failed and therefore no process shutdown will be triggered. Will fix it in next release.

[2016-06-22 23:47] jruckert commented on #75
@muratg any luck on fixing this issue?

[2016-06-27 14:25] himadrinath opened #211 "HTTP Error 502.3 - Bad Gateway (Error Code 0x80072ee2)"
In my solution i have 2 projects. one of them is netstandard1.5  class library containing Db Models and DbContext Classes and i named it [project].Core

![project core](https://cloud.githubusercontent.com/assets/12247490/16382340/0bf53778-3c9e-11e6-8c51-4d4caea11a19.png)

in my other Core Web Application i named it [project].Web and added my [Project].Core Reference.

![project web](https://cloud.

[2016-06-27 17:08] moozzyk commented on #211
0x80072EE2 is ERROR_WINHTTP_TIMEOUT. Looks to me that for whatever reason the application take a long time to start and the AspNetCoreModule is timing out trying to start the application. To confirm you can check event log - AspNetCoreModule writes startup errors there. You can also turn on stdOutLogging in your web.config to see what is happening. You may want to take a look at [my post](https://

[2016-06-27 17:27] himadrinath commented on #211
@moozzyk  thanks you. right now i am going to investigate using your post and i will get back to u with result. thanks again......

and another thing i have to say that when i cutting down my table number in my database its working fine. but when i using all my table in my database only then the problem arriving.

[2016-06-27 17:55] moozzyk commented on #211
@himadrinath - once you get more details and you confirm your issue is related to database you may want to file a new issue in the EntityFramework repo.

[2016-06-27 17:58] himadrinath commented on #211
@moozzyk i will do that. once i get the reason...

[2016-06-27 20:43] GuardRex opened #212 "RTM Windows Server Hosting bundle?"
Is there a new link that I can embed in the [Publishing to IIS](https://docs.asp.net/en/latest/publishing/iis.html#install-the-net-core-windows-server-hosting-bundle) doc?

cc/ @Rick-Anderson

[2016-06-27 20:48] GuardRex opened #213 "publish-iis code block change for RTM?"
@moozzyk

Do I need to make an RTM update for the `publish-iis` code block in [Publishing to IIS](https://docs.asp.net/en/latest/publishing/iis.html#application-configuration)? It currently appears as ...
[code]

cc/ @Rick-Anderson

[2016-06-27 20:51] moozzyk commented on #213
Yes. The version should be `1.0.0-preview2-final` and the imports should no longer be needed.

[2016-06-27 20:52] GuardRex commented on #213
Thanks! I'll get that change in with the update for the hosting bundle link (if there is one).

[2016-06-27 20:52] #213 closed

[2016-06-27 21:19] Rick-Anderson commented on #212
@shirhatti ?

[2016-06-27 21:26] GuardRex commented on #212
Is this it?

 https://go.microsoft.com/fwlink/?LinkId=817246

From Q&A @danroth27 at https://blogs.msdn.microsoft.com/dotnet/2016/06/27/announcing-net-core-1-0/

[2016-06-27 21:28] Andriy-Kulak commented on #179
I am getting the same error and I already have VS2015 redis installed. This is frustrating because I can't get my app into production as a result which I am trying to do by the end of this week. When I try to "repair" redis, I am unable to finish the process and get the log attached. I also attached the Server Hosting install log for reference. Does anyone have any suggestions on how to rsolve thi

[2016-06-27 21:32] GuardRex commented on #212
That looks correct. I'm putting in the PR now for the link update and the `publish-iis` tool code block update.

[2016-06-27 21:32] #212 closed

[2016-06-27 21:37] joeloff commented on #179
@Andriy-Kulak Have you tried repairing the VC redists (both x86 and x64)? What's the version for these that show in Add/Remove Programs?

[2016-06-27 21:48] Andriy-Kulak commented on #185
Hi @RickyLin ! I am having the same issue. Can you specify where is the WindowsHosting.exe file and which links did you install the Core Runtimes and Core Module from?
Thanks!

[2016-06-28 01:24] Andriy-Kulak commented on #179
@joeloff When I try to repair the redis, the loading stops and I get the log attached in my first post (second one from the top). I have multiple versions of redis (2015, 2013 and 2012). Should I delete all of them and install the latest stable version or can that cause trouble with two other apps that are currently running on this server?

[2016-06-28 01:34] joeloff commented on #179
@Andriy-Kulak Just try repairing the 2015 ones first. There's a quirk in the 2015 redists that shipped with Update 3 where they remove a registry key that .NET CLI relies on to detect them. The result is that it thinks it's not installed and then tries to install an older version.

[2016-06-28 06:53] GuardRex commented on #185
@Andriy-Kulak The hosting bundle for RTM can be downloaded from https://go.microsoft.com/fwlink/?LinkId=817246

[2016-06-28 07:08] himadrinath commented on #211
@moozzyk after installing 1.0.0 (Tools Preview 2) the problem automatically solved. i think may be the problem is EntityFramework related not IISIntegration. before Db migration takes couple of mins and now its take couple of sec. Thanks for u replies. i read your post and its help me to understand asp core startup and how iis and Kestrel working together and process the request. thanks again

[2016-06-28 07:08] #211 closed

[2016-06-28 16:03] Andriy-Kulak commented on #179
@joeloff The repair doesn't work because when I try to install either the redis or the DotNet Core Windows hosting, I am getting the same error (below). I didn't see many ways to fix this issue except to reinstall the entire OS, which I am not going to do. In My Services, Windows Installer is set to "Manual" which is the appropriate type according to this article: [here](http://www.techpayee.com/f

[2016-06-28 16:10] PeterJakubik commented on #179
Could you look at your %temp% folder and see if there's a log file starting with Microsoft.NET_CORE ?

[2016-06-28 18:22] pan-wang commented on #174
This was fixed

[2016-06-28 18:27] #174 closed

[2016-06-28 18:39] Tratcher commented on #35
A similar issue was fixed in the ANCM 1.0 release where the process may crash if the app pool was stopped while it still had outstanding requests.  Please try the new module and let us know if you can still reproduce the issue.

Note we have not had any positive or negative reports about this issue in any ANCM release yet.

[2016-06-28 18:42] Tratcher commented on #201
1.0 has now been released, please try it and let us know if you are still having issues and if you get additional log data.

[2016-06-28 18:45] Tratcher commented on #160
RE: https://github.com/aspnet/HttpAbstractions/issues/371

[2016-06-28 18:54] pan-wang commented on #210
could you please provide a repro so that I can take a look at it?

[2016-06-28 18:59] Tratcher commented on #210
This sounds a lot like port exhaustion. A server is only configured for 5000 ports by default, and once they are gone it can take up to two minutes to recycle them. This can be raised to 65534. See https://support.microsoft.com/en-us/kb/196271

[2016-06-28 19:09] joeloff commented on #207
The server hosting bundle will install the .NET runtime which in turn will attempt to download and install the VC++ redists.

Have you tried this [link](https://www.microsoft.com/en-us/download/details.aspx?id=51682)

The logs seem to indicate that it failed to validate the authenticode signatures, but it might be a result of not being able to reach the server to download the files.

[2016-06-28 19:37] FlorianRainer opened #214 "Problems with 32 bit AppPool on 64 bit HostSystem"
I have installed the DotNetCore.1.0.0-WindowsHosting.exe on my Windows 10 (x64) Workstation.
I have compiled the WebApplication Example (Visual Studio 2015 Update 3) its a "netcoreapp1.0" deployed as release build for Target Runtime "Any".

If i configure a IIS (not iisexpress) ApplicationPool to use x64 it runs without Problems.
if i try to run the AppPool as x86 the page ends up with a 503 error

[2016-06-28 19:43] Tratcher commented on #214
What did the event logs say?

[2016-06-28 19:50] FlorianRainer commented on #214
The Eventlog has 5 Warnings from "WAS" EventID 5139 then it stopps with an Error EventID 5002.

But i was able to reproduce it with HttpPlatformHandler on a other machine with RC1 there i get a error from httpPlatformHandler.dll

Error on Loading from Modul-DLL  C:\WINDOWS\system32\inetsrv\httpPlatformHandler.dll.
The Data have not correct Information. 7E000000.

Maybe a similar problem already on

[2016-06-28 20:17] FlorianRainer commented on #214
Maybe related to this issue?
https://github.com/dotnet/cli/issues/3684

[2016-06-28 20:44] itayit commented on #201
Thanks Chris.

Guys please put the rc2->rtm upgrade on our dev roadmap for stuc. Once done
lets switch back from nginx to iis as our reverse proxy and see if problem
repeats

On Jun 28, 2016 15:43, "Chris R" <notifications@github.com> wrote:

having issues and if you get additional log data.

[2016-06-29 01:53] Andriy-Kulak commented on #179
@PeterJakubik I don't see any log files in my published directory nor my C:/Temp folder. Anywhere else I can look?

[2016-06-29 01:59] joeloff commented on #179
%temp% should map to AppData\Local\Temp in your user folder.

[2016-06-29 14:04] Andriy-Kulak commented on #179
@joeloff @PeterJakubik I don't see any Microsoft.NET_CORE file there.

[2016-06-29 14:09] PeterJakubik commented on #179
In C:\Users\<LOGGEDON_USER_NAME>\AppData\Local\Temp should be a file beginning with Microsoft_.NET_Core_1.0.0_RC2_-_Runtime_(x64)....

[2016-06-29 15:17] JGeerWM opened #215 "Failed to start process with commandline 'D:\home\site\wwwroot\Web.exe ', Error Code = '0x80004005'."
I am trying to publish a web app to Azure, but I keep getting the error 'The specified CGI application encountered an error and the server terminated the process.' when I go to the site.

The logs tell me that Azure failed to start the process with error code '0x80004005'.

I've tried changing my web.config to hard code a path to my exe as some have suggested, but this does not work.

The project

[2016-06-29 15:28] GuardRex commented on #215
@JGeerWM That exception might be associated with https://docs.asp.net/en/latest/publishing/iis.html#missing-net-framework-version

[2016-06-29 15:34] GuardRex commented on #210
@Tratcher @pan-wang This seems like it would be uncommon ... uncommon enough not to sweat it for the `Publishing to IIS` doc. Is that correct?

If this issue came up several more times though, then perhaps it would be worthy of listing in the Troubleshooting section there.

[2016-06-29 15:45] hikalkan opened #216 "Microsoft.AspNetCore.Server.IISIntegration.Tools does not support .NET 4.6.1"
I got this error. And as I check, nuget package only supports .NETCoreApp 1.0 https://www.nuget.org/packages/Microsoft.AspNetCore.Server.IISIntegration.Tools

Is that normal?

[2016-06-29 15:45] JGeerWM commented on #215
The web app is published by right-clicking on the project in Visual Studio and selecting 'Publish'.  Next, I chose a publish target of Microsoft Azure App Service.  I'm expecting that this will take care of the dependencies for me.

My Web.config looks like this:
`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="

[2016-06-29 15:50] GuardRex commented on #215
Your `tools` section contains old tools packages and imports shouldn't be necessary. I believe they are all `1.0.0-preview2-final` now ... e.g. ...
[code]

[2016-06-29 15:51] JGeerWM commented on #215
I have:

            .UseIISIntegration()
            .UseUrls("http://localhost:80")

[2016-06-29 15:52] ShadowDancer commented on #210
@GuardRex I think that increasing port number is fairly easy to find. It's mentioned when you google error code (in decimal, there are no docs for hex error code as returned by IIS).

I'm not sure if that was the cause though. Running netstat -a show far less than 5000 ports open. Also when TIME_WAIT connections end I should be able to make new request (in other words, after some time pool should

[2016-06-29 15:52] GuardRex commented on #215
Reverse that. `IISIntegration()` needs to overwrite the Url, so it should go after `UseUrls()`

[2016-06-29 15:55] GuardRex commented on #215
... and for additional info `stdoutLogEnabled="false"` can be set to `true`. The `publish-iis` tool will mod the path to the log file for you. You only need to set the value to `true` in your `web.config`. Logs will show up in the `LogFiles` folder in Azure Apps.

[2016-06-29 16:03] JGeerWM commented on #215
I've reordered UserUrls() and IISIntegration().  I also set stdoutLogEnabled to true.
The CGI error has gone away, but now I am getting a server error 500.
My logs show:
`Process '9336' started successfully and is listening on port '6589'.`
`Warning: Could not create stdoutLogFile \\?\D:\home\site\wwwroot\logs\stdout_408_201662915587.log, ErrorCode = -2147024893.`

[2016-06-29 16:04] GuardRex commented on #215
Hum .... cc/ @moozzyk ... that's the wrong path, but the `publish-iis` tooling should have set that AFAIK.

[2016-06-29 16:05] JGeerWM commented on #215
what is the correct path?
my web.config has `stdoutLogFile=".\logs\stdout"/`

[2016-06-29 16:06] GuardRex commented on #215
No, it's to `\\?\%home%\LogFiles\` ...

https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IISIntegration.Tools/WebConfigTransform.cs#L88

[2016-06-29 16:08] GuardRex commented on #215
You're prob manually setting it now ... to something like `\\?\%home%\LogFiles\stdout.log` ... hopefully it will get past that issue ... hopefully the app will spring to life.

[2016-06-29 16:11] GuardRex commented on #215
... actually ... ooops! I need more :coffee:. Leave off the `.log` ... the module will timestamp and add the extension for you. You would merely set the path to ...
[code]

[2016-06-29 16:11] JGeerWM commented on #215
I changed my web.config to be:
`<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\"/>`
I still get server 500 errors, but nothing is logged except
`Process '14776' started successfully and is listening on port '8813'.`

[2016-06-29 16:17] GuardRex commented on #215
500-series exceptions are generally associated with app issues ... much less frequently with the reverse-proxy setup. Are you able to run the app locally?

[2016-06-29 16:17] JGeerWM commented on #215
I tried to use a remote debugger and get the error that a 32-bit debugger can't be used for a 64-bit process.

[2016-06-29 16:17] JGeerWM commented on #215
Yes, it runs locally using the web.exe

[2016-06-29 16:20] GuardRex commented on #215
Just to confirm good `web.config` settings, can you dig the `web.config` out of your published output (out of the `bin` folder) and paste it in here. I'm concerned that because the log file path was not being set by the `publish-iis` tool that it also didn't configure the `processPath` and `arguments` correctly.

[2016-06-29 16:23] JGeerWM commented on #215
My bin folder doesn't have a web.config, only a Web.exe.config.  Is there another publish path?

[2016-06-29 16:28] Tratcher commented on #210
@GuardRex @ShadowDancer This looks like a stress issue and we've got someone looking into it. We'll let you know what we find. No point in adding it to the doc until we understand it.

[2016-06-29 16:29] GuardRex commented on #215
hum ... @moozzyk built that tooling and knows Azure Apps inside and out. One of the others will jump on now ... my almost total focus on .NET Core apps on Azure VM's limits my knowledge at this point.

[2016-06-29 16:29] JGeerWM commented on #215
I added `app.UseDeveloperExceptionPage();` to my release startup configuration and I now get the following error `Can not find assembly file dotnet-razor-tooling.exe at 'D:\home\site\wwwroot\refs,D:\home\site\wwwroot\'`

[2016-06-29 16:34] ShadowDancer commented on #210
I may share memory dumps of w3wp and eventually my application.

[2016-06-29 16:48] JGeerWM commented on #215
I finally got it to work by creating a new empty project in VS 2015 Update 3 and copying the project.json settings over:
`{
    "userSecretsId": "aspnet-Gtpx.Cloud.A360.Web-76e99f43-c835-4129-ab3d-6787be147544",

    "dependencies": {
        "Microsoft.AspNetCore.Authentication.Cookies": "1.0.0-rc2-final",
        "Microsoft.AspNetCore.Diagnostics": "1.0.0-rc2-final",
        "Microsoft.AspNetCor

[2016-06-29 16:50] GuardRex commented on #215
I suggest leaving this open until @moozzyk or one of the others comes into it. Going back to `rc2` is ok but not ideal of course. I'm sure they can help you get it running with RTM or determine if there is an issue to address.

[2016-06-29 16:50] moozzyk commented on #216
You probably reference the tool from the "dependencies" section. This tool should only be referenced from the tools section. Remove the reference to Microsoft.AspNetCore.Server.IISIntegration.Tools from the dependencies section and make sure your tools section looks like this:

[code]

[2016-06-29 16:50] JGeerWM commented on #215
I'll leave it open until I hear from the others.

[2016-06-29 16:55] GuardRex commented on #215
One thing I find interesting in your OP is that you received a `0x80004005` for what looks like it was a reversed `.UseIISIntegration()` and `.UseUrls()` ... I was expecting a `-2147023829` for that. I'll keep an eye on it and re-run that test here.

[2016-06-29 17:04] moozzyk commented on #215
@JGeerWM @GuardRex the path is not tweaked correctly because the tool is preview1. The change always overwrite it when publishing to Antares is in preview2 so for RC2 projects it needs to be set manually to `\\?\%home%\LogFiles\stdout"

[2016-06-29 17:07] moozzyk commented on #215
@JGeerWM in your original project json I see you have mismatched tools version. Your project is targeting 1.0.0 but tools are targeting 1.0.0-preview1-final. I believe this might be the issue causing razor failures. You need to change version of tools to `1.0.0-preview2-final`

[2016-06-29 17:10] GuardRex commented on #215
... and afaik you should be able to drop the imports from all of the tools, so you can just give them this format ...
[code]
Although I don't have direct knowledge on all of them, I did see team members removing `imports` from many of them. Of course, it will fail to restore if any `imports` are required.

[2016-06-29 17:12] moozzyk commented on #215
Yes, imports for tools should not be needed. They were needed for RC2 since Newtonsoft.Json did not support netstandard. Version 9.0.1 now do support netstandard and all the packages moved to use this version.

[2016-06-29 17:15] Tratcher commented on #215
Microsoft.VisualStudio.Web.CodeGeneration.Tools is the only one that still needs imports.

[2016-06-29 17:19] JGeerWM commented on #215
NuGet suggests an update to "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",

[2016-06-29 17:29] JGeerWM commented on #215
I would expect that NuGet should be able to apply its updates to the project and the project.json would be correct.  As it is, when I let NuGet do its thing, the project.json is full of squiggly lines:
![image](https://cloud.githubusercontent.com/assets/1354573/16462042/1a2e7cb6-3df5-11e6-83f9-9d96974dd0ec.png)

[2016-06-29 17:37] moozzyk commented on #215
Don't do it - looks like and issue with NuGet https://github.com/aspnet/Home/issues/1601#issuecomment-228859726

[2016-06-29 17:47] moozzyk commented on #215
Sorry, I thought it were tools. Non-tools should be at "1.0.0", .Tools should be at `1.0.0-preview2-final`. We just confirmed with @DamianEdwards that updating .Tools packages using NuGet UI it will break your project.json (it will remove the tool from the `tools` section and insert a new version to `dependencies` which is incorrect - even though some tools need to be in the `dependencies` section

[2016-06-29 18:02] JGeerWM commented on #215
I think I'll just leave things be until NuGet can put the correct files in place.  This is what I get when manually editing the file:

`    Package Microsoft.DotNet.ProjectModel.Loader 1.0.0-preview2-003121 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Microsoft.DotNet.ProjectModel.Loader 1.0.0-preview2-003121 supports: netstandard1.6 (.NETStandard,Version=v1.6)
    Pack

[2016-06-29 18:16] azhoshkin opened #217 "Microsoft.AspNetCore.Server.IISIntegration.Tools 1.0.0-preview2-final fails on Win10 x64"
Steps to reproduce:
 * Open VS
 * Create default Core ASP.Net project
 * When deps was restored run dotnet publish-iis.
Error:
[code]

Works with
[code]
and works with WinServer2008 x64

project.json+project.lock.json https://gist.github.com/azhoshkin/d7e3f3a0cb1b3b9a09f7d8806cc969c4

Any workarounds for preview2?

[2016-06-29 20:26] pan-wang commented on #210
@ShadowDancer   please do let me know once you have a dump or a repro step.
You do raise a good question about detecting the health of Kestrel process and under which condition IIS/Asp.NetCore Module should recycle the Kestrel process. Today, IIS does allow user to set apppool  recycle policy based on memory usage or time.

[2016-06-29 20:55] moozzyk commented on #217
Your project.json and project.lock.json seems correct. However when tools are restored they create their own project.lock.json. For preview2 this file should be here: %USERPROFILE%\.nuget\packages\.tools\Microsoft.AspNetCore.Server.IISIntegration.Tools\1.0.0-preview2-final\netcoreapp1.0, Can you add it to the gist?
I am a bit surprised that 1.0.0-preview3-* worked - what feeds do you use? Can you

[2016-06-29 21:03] moozzyk commented on #217
Also, do you have global.json? If so, how it looks like?

[2016-06-29 21:04] moozzyk commented on #215
@JGeerWM - what in your global.json?

[2016-06-29 21:09] hikalkan commented on #216
Thank you very much. It fixed the problem.

[2016-06-29 21:09] #216 closed

[2016-06-29 21:25] muratg commented on #214
@pan-wang Does our installer install both 32-bit and 64-bit versions of ANCM? How can @FlorianRainer verify that he has 32-bit version on the disk?

[2016-06-29 21:31] muratg commented on #75
@blowdart Any other recommendations? Not sure how to repro this...

[2016-06-29 21:40] azhoshkin commented on #217
Hi @moozzyk!

project.lock.json for tools added to the gist as tools.project.lock.json

My Nuget.config in AppData:
[code]
Yeah, that's one thing I forgot to touch... Helped removing Nuget.config above, but looks really strange, does not see any wrong sources here (local source is empty folder).

I've closed the issue as it solved, but keep the gist for a couple of days. @moozzyk thank you!

[2016-06-29 21:40] #217 closed

[2016-06-29 21:55] azhoshkin commented on #217
In addition to post above. Looks like package was cached from another source and another project that I tested first:
[code]

[2016-06-29 22:15] moozzyk commented on #217
That's probably it...

[2016-06-30 11:39] ShadowDancer commented on #210
@pan-wang How can I share it with you? There is no private messaging so far. There is sensitive data in that dump.

[2016-06-30 13:29] housten commented on #207
Yes, I did.use that link too @joeloff.

For now this isn't slowing me down as I got help from Ops to install. They have the permissions needed to temporarily open up as necessary.

[2016-06-30 13:36] JGeerWM commented on #215
My solution doesn't contain a global.json.  The project was added to an existing solution.  I created a new project and it contains a global.json with this content:
`{
  "projects": [ "src", "test" ],
  "sdk": {
    "version": "1.0.0-preview1-002702"
  }
}`

[2016-06-30 14:15] JGeerWM commented on #215
I looked at the documentation for this file and it doesn't cover the sdk element in the JSON.
https://docs.microsoft.com/en-us/dotnet/articles/core/tools/global-json#projects
Since my solution builds, I wonder if this is file required.

[2016-06-30 14:38] twilliamsgsnetx commented on #192
My URL rewriting is still broken with the RTM release. Wasn't this intended to be fixed?

[2016-06-30 15:06] Tratcher commented on #192
@twilliamsgsnetx yes this was fixed in the 1.0 version of AspNetCoreModule. Have you've installed the new tooling?

[2016-06-30 15:27] twilliamsgsnetx commented on #192
@Tratcher I have uninstalled all my previous .NET Core stuff and installed all the new versions, including visual studio tooling.

Could IIS Express be utilizing an older version still somehow? How do I validate my version?

[2016-06-30 17:02] FlorianRainer commented on #214
I have tested a bit and i may have a interesting hint for you.
i have added `net46` to `frameworks` and have builded the application, same story, it runs with x64 and app pool stops with x86, then i compiled with `platform` `x86` and same result here, cant start the app pool.

but net46 produces a .exe file and i have started it by doubleclicking it, normaly Kestrel starts on port 5000. but with t

[2016-06-30 17:10] moozzyk commented on #215
This file is not required. However if this file exists you will use the version of sdk (think: cli) from the file. Using preview1 cli to handle rtm projects may break in various ways.

If you are targeting rtm the sdk version should be `"1.0.0-preview2-003121"` or just remove the file and therefore use the latest version installed. (`dotnet --version` will show you what version you are actually us

[2016-06-30 17:13] moozzyk commented on #214
Looks like it is trying to load 64-bit libuv into 32-bit process.

[2016-06-30 17:21] #215 closed

[2016-06-30 17:22] Tratcher commented on #192
Look in (MySolution)\.vs\config\applicationhost.config and find `<add name="AspNetCoreModule" image="%IIS_BIN%\aspnetcore.dll" />`. If it says `%IIS_BIN%\aspnetcore.dll` you should be fine. This maps to `C:\Program Files (x86)\IIS Express\aspnetcore.dll` who's file version should be 7.1.1967.

[2016-06-30 17:46] twilliamsgsnetx commented on #192
Yes. Mine is set that way, and my file is the version you specified.

For clarification, my project's web.config is as follows

[code]

And my wwwroot config that has the url rewriting logic is as follows:

[2016-06-30 18:00] FlorianRainer commented on #214
i checked the project.lock.json `targets` > `.NETFramework,Version=v4.6` > `Libuv/1.9.0`
shows me
[code]
in `runtimeTargets`

the problem is the `libuv.dll` in my deploy output folder (deploy with vs2015 file system) is not the x32 dll (size 228kb) its the x64 dll 271kb

if i copy the x86 dll from .nuget to my output its working.

but none then less im not able tu run the same publishing output on

[2016-06-30 18:05] JGeerWM commented on #215
When I add the sdk from above, I get the build error:

[2016-06-30 18:11] JGeerWM commented on #215
I found this information on the https://dot.net/core web site that tells me I missed a step:

[2016-06-30 18:26] moozzyk commented on #215
Update3 does not contain ASP.NET Core Web Tooling. This is why you need to _then download the .NET Core for Visual Studio official MSI Installer._

[2016-06-30 19:01] FlorianRainer commented on #214
Update:
I have tested some combinations of compiled applications and following result:

The `AspNetCoreModule` is not the causing the problem, it works on x86 and x64 BUT it has one feature missing, if the app pool is configured as 32bit it dont cares, it starts the application if compliled for `AnyCpu` on x64 if OS is 64 bit and x86 on 32 bit.

**Results for 64 Bit Windows:**
Compile x64 + AppPoo

[2016-06-30 19:24] JGeerWM commented on #215
I've installed the latest ASP.NET Core Web Tool and I can get the project to run locally with the Web.exe, however, when I go to publish the app to Azure I get the following error:

System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.DotNet.ProjectModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.
File name:

[2016-06-30 21:06] Tratcher commented on #214
A lot of this comes from kestrel running out of process. The AppPool bitness setting applies to the worker process and AspNetCoreModule, but the sub process AspNetCoreModule launches to run Kestrel can have any bitness it wants.

[2016-06-30 22:32] Tratcher commented on #192
@ZestyBread can you try this?

[2016-06-30 22:39] ZestyBread commented on #192
The web.config file doesn't exist in wwwroot anymore. Try combining the two together like:
[code]

[2016-06-30 23:03] Tratcher commented on #210
@ShadowDancer upload it somewhere non-public (e.g. OneDrive) and e-mail me the link. See https://github.com/tratcher

[2016-07-01 03:58] twilliamsgsnetx commented on #192
@ZestyBread Consolidating to my web.config in the main project as you suggested, my entire app breaks. The client files aren't served properly and angular simply doesn't load.

The rewrite section is specifically what seems to be causing it. I comment that out and everything is fine, except the inability to refresh the site on an angular router URL properly.

I hope I'm not the only one experienci

[2016-07-01 10:50] ShadowDancer commented on #210
@Tratcher
Done. By the way - I made more tests on my side and after removing some HttpClient and task related code application do not hang anymore.

[2016-07-01 17:15] Tratcher commented on #192
Ah, I know what's wrong here. We moved web.config and the app base dir, so rules with file constraints like `matchType="IsFile"` are looking in the wrong directory.

Workaround: for IIS you can move the web.config back to the wwwroot dir. https://github.com/aspnet/IISIntegration/issues/164

Real solution: @ZestyBread is writing a url-rewrite middleware so we can move this directly into Asp.Net.

[2016-07-02 22:58] 303248153 opened #219 "Random 502 cgi gateway error when response 304 then flush response"
First I found this problem with my project, sometime static files will return 502 with cgi gateway error.
Today I do a diggup, to reproduce this problem you needs:

- Host asp.net core application on IIS, if you run with kestrel only, this problem won't happen.
- Response 304, only 304 cause this problem.
- Explict flush the response
- Do the request parallel

I uploaded a minimal reproduce projec

[2016-07-03 22:40] nil4 commented on #177
Update for RTM. The ASP.NET Core Module MSI can be found at *C:\Documents and Settings\All Users\Package Cache\\{4ADC4F4A-2D55-442A-8655-FBF619F94A69}v1.0.1967\packages\aspnetcoremodule_x64_en_rc2_39.msi*

[2016-07-04 21:35] hallatore opened #220 "Performance issue when running IIS+Kestrel"
Running ASP.NET Core under IIS results in less than halved performance, and w3wp uses more CPU than the dotnet process by just proxying requests.

Repro: https://github.com/hallatore/aspnetintegration_performance
Tested on Windows 10 IIS and .NET Core 1.0.

1 worker with 1 connection:
Kestrel: 9806 req/s
IIS+Kestrel: 3865 req/s

1 worker with 10 connections:
Kestrel: 38828 req/s
IIS+Kestrel: 17408

[2016-07-05 00:07] CIPop opened #221 "dotnet publish-iis keeps adding the app name to web.config"
Following https://docs.asp.net/en/latest/publishing/iis.html:

I'm using the Getting started project and have the following `project.json`:

[code]

If I call the following four times:
`dotnet publish`

The web.config will have the following line (note that the app name keeps getting added):

`<aspNetCore processPath="dotnet" arguments=".\aspnetcoreapp.dll .\aspnetcoreapp.dll .\aspnetcoreapp.dll .

[2016-07-05 10:32] radenkozec opened #222 "Hosting problem ASP.NET Core 1.0 on IIS"
I am getting this error when I am trying to host ASP.NET Core 1.0 app on IIS:
Failed to start process with commandline '"dotnet" ".\Musashi.Web.dll"', ErrorCode = '0x80004005'.

[2016-07-05 12:21] radenkozec commented on #222
Some leftovers from conversion from RC2 to RTM caused this.

[2016-07-05 12:21] #222 closed

[2016-07-05 14:13] radenkozec opened #223 "ASP.NET Core 1.0 on IIS - HTTP Error 502.3 - Bad Gateway"
I am running my .NET Core 1.0 app on IIS successfully. When I redirect to some controller I am getting error:
[code]

No way to get any info.
I have tried to enable logging stdoutLogFile (no error logged).
In Event log nothing useful.

Cannot get any error info and I know it is something long running causing timeout.

[2016-07-05 16:01] GuardRex commented on #221
Try
[code]

[2016-07-05 16:30] blowdart commented on #75
As I said, DNX doesn't do impersonation, because it's now a separate process. Cast the User object to a WindowsIdentity and then use the WindowsIdentity [Impersonate](https://msdn.microsoft.com/en-us/library/system.security.principal.windowsidentity.impersonate(v=vs.110).aspx) method.

[2016-07-05 16:54] Tratcher commented on #220
@SajayAntony

[2016-07-05 16:54] Tratcher commented on #220
@DamianEdwards

[2016-07-05 17:28] Tratcher commented on #210
Interesting, so it may have been a hang in the application, not ANCM.

[2016-07-05 17:44] moozzyk commented on #221
publish-iis tries to preserve arguments and is replacing only %LAUNCHER_ARGS%. So, if your web.config is already set up correctly you probably should disable publish-iis in the postpublish script.

One thing that I am a bit surprised is that you have many `.\aspnetcore.dll`. publish-iis works only on the web.config file that was already published so I would expect at most one extraneous `.\aspnetc

[2016-07-05 18:23] ShadowDancer commented on #210
Or update to RTM...

[2016-07-05 19:13] SajayAntony commented on #220
ANCM does add a well known overhead and the plain text or echo scenarios amplifies the affect similar to NGNIX. Do you need IIS in your scenario?

[2016-07-05 19:17] DamianEdwards commented on #220
We are aware of the overhead added by the ASP.NET Core Module (ANCM) and have plans to improve this moving forward. As @SajayAntony points out, any type of reverse-proxying will have an overhead. However, as of 1.0 we still recommend that kestrel **not** be directly exposed to the internet due to it not containing mitigations for common types of DOS and other attacks.

[2016-07-05 19:29] hallatore commented on #220
It's more of a feature request than a bug @SajayAntony and @DamianEdwards.

I'm testing around with Azure app service and found the overhead for IIS to be rather large. Note that the repro-app is mvc with razor views, a plaintext echo would be cheating.

What are the future plans for IIS+Kestrel performance? Especially if ANCM is going to be the asp.net core driver for Azure app services.

[2016-07-05 20:57] Tratcher commented on #219
This seems to be a Kestrel issue. Updated repro code:
[code]

I saw the same behaviors with both the DefaultVersion and ThreadPoolVersion repro methods.  If I start the site with just Kestrel then the browser will make many parallel requests but only the first 8 will complete, the remainder time out. If I launch IIS Express then most of the requests complete, but 1/10 fail with a 502.

[2016-07-05 20:57] Tratcher commented on #219
This issue was moved to aspnet/KestrelHttpServer#952

[2016-07-05 20:57] #219 closed

[2016-07-05 21:08] Tratcher commented on #223
How are you doing the redirect?

[2016-07-05 22:23] muratg commented on #75
@Tratcher will try to write a sample demonstrating Windows auth + delegation.

[2016-07-05 22:25] muratg commented on #192
Closing this one. https://github.com/aspnet/BasicMiddleware/issues/43 is tracking the middleware work.

[2016-07-05 22:25] #192 closed

[2016-07-05 23:56] GuardRex opened #224 "What is the switch for the ANCM-only install"
@Tratcher

@shanselman and @DamianEdwards just said on the Standup (7/5) that there is a switch that can be provided when invoking the hosting bundle installer from the command line that will only install the ANCM. Do you know/can you say what the switch is?

[2016-07-06 05:59] radenkozec commented on #223
When I click standard login button or register from using standard Identity provider I am getting this error. I suspect it is related to communication with database.

[2016-07-06 07:00] radenkozec commented on #223
@Tratcher Managed to resolve issue.
Seen in Eventlog that IIS user don't have permissions to write in logs folder. After assigned permissions seen that database connection string was wrong.

Problem was that I had assign database logger as well that writes error to database.
Somehow it tried to log this error to database and stack in infinitive loop -> stackoverflow exception.
This caused 502.3 Ba

[2016-07-06 07:00] #223 closed

[2016-07-06 16:26] Tratcher commented on #223
Config files are not watched by default, you need to recycle to pick up changes.

[2016-07-06 16:30] Tratcher commented on #224
@joeloff @pan-wang ?

[2016-07-06 16:31] GuardRex commented on #224
Ah! He just provided the answer in https://github.com/aspnet/Home/issues/1454#issuecomment-230818177 .... `OPT_INSTALL_REDIST=0`

[2016-07-06 16:31] #224 closed

[2016-07-06 16:31] joeloff commented on #224
Run the server installer and pass OPT_INSTALL_REDIST=0 to disable installing the .NET redist.

[2016-07-06 19:07] dazinator commented on #164
This issue is probably related, I perhaps should have created it here: https://github.com/aspnet/Home/issues/1645#issuecomment-230870188

[2016-07-06 22:34] Tratcher commented on #75
Notes:
- WindowsIdentity.ImpersonationLevel is always None.
- WindowsIdentity.AuthenticationType throws when run under IIS, but not for express:
[code]
`windowsIdentity.Impersonate()` is not available in Core, use `WindowsIdentity.RunImpersonated(windowsIdentity.AccessToken, ...)` instead.

RunImpersonated works, but delegation does not. There appears to be something wrong with how the identity is

[2016-07-07 07:40] radenkozec commented on #223
@Tratcher I have noticed that. That is different when you compare it with previous versions of ASP.NET MVC hosted on IIS. Hope you will improve this in some upcoming versions.

[2016-07-07 09:24] antonGritsenko opened #225 "IISExpress: .NET 4.5 and .net core incompatibility"
I've found a very strange bug.
I have couple old projects that using .NET 4.5 and IISExpress for debugging. Also I have .net core 1.0 installed on same machine.
The .net core projects works fine.
But when I try to start debugging for old .NET 4.5 using IISExpress the issexpress process crashed, and I got this in event log:

I found this conversation on stackoverflow, looks like similar issue.
http

[2016-07-07 10:54] karldodd commented on #105
Sorry to be a bit off-the-topic but related:

What is the Nginx equivalent for `.UseIISIntegration()`? Will there be a `UseNginxIntegration()`? I failed to find useful information in https://docs.asp.net/en/1.0.0/publishing/linuxproduction.html

[2016-07-07 11:15] grahamehorner commented on #105
@karldodd I'm trying to understand your thoughts around this UseNginxIntegration() ? and I'm unsure what your after with regards this ?

Nginx is a reserve proxy which is/has been recommended by members of the aspnetcore team as a frontend for production; AFAIW kestrel/aspnet is not hosted/integrated in the same way as IIS; Nginx forwarding requests & provides load balancing etc.  and thus .net co

[2016-07-07 12:11] radenkozec opened #226 "IIS -> Lock .NET Core application DLL file"
When I try to overwrite .NET Core application DLL file using FTP on production IIS server file is locked and it cannot be overwritten.

To deploy new version I need to stop application in IIS to release lock, then overwrite.
It is not possible to deploy without stopping application.

[2016-07-07 12:13] radenkozec opened #227 "An exception was thrown while deserializing the token.The antiforgery token could not be decrypted."
I have deployed .NET Core application to production IIS Server. When I try to login this exception is thrown:
`An exception was thrown while deserializing the token.The antiforgery token could not be decrypted.`

On my local IIS server, and locally everything works fine.
This exception only occurs once when I first try login.
After I logout and try again it disappears.
I don't have two anti-forger

[2016-07-07 16:28] Tratcher commented on #223
There are ways to do it, it's just not automatic because you now get to choose what kind of config sources to use and where they are. 1. you can have the config file itself reload if changed, but you'd still have to re-read the values from IConfiguration. 2. AspNetCoreModule has a recycleOnFileChange section where you can ask it to watch specific files. See https://docs.asp.net/en/latest/hosting/a

[2016-07-07 16:30] Tratcher commented on #225
@BillHiebert @pan-wang ?

[2016-07-07 16:33] Tratcher commented on #226
See app_offline.htm: https://docs.asp.net/en/latest/hosting/aspnet-core-module.html#asp-net-core-module-app-offline-htm

[2016-07-07 16:53] Tratcher commented on #225
Recommendation: Update the tooling: http://stackoverflow.com/a/38251109/2588374

[2016-07-07 17:45] Tratcher commented on #75
ImpersonationLevel and AuthenticationType work if you impersonate the user first.

There may not be an issue with ANCM, I'm not able to get delegation working for my Asp.Net 4 site on the same server.

[2016-07-07 21:17] GuardRex opened #228 "Permissions error difficult to discover from ANCM response/logging"
Originally reported by @wc-matteo on Slack ...

## Steps to reproduce
1. Create a user.
2. Explicitly deny the user permissions for `dotnet.exe` at `c:\Program Files\dotnet`.
3. Create a portable app and setup in IIS with the AppPool identity set to the user created.

## Expected  behavior
**Browser:** 500.19 - Internal Server Error (or perhaps a general 500)
**Application Log:** Failed to start p

[2016-07-07 21:42] GuardRex commented on #226
If you end up desiring a PowerShell way of doing it, you can use the IIS Admin cmdlets: https://technet.microsoft.com/en-us/library/ee790599.aspx
[code]

[2016-07-08 06:07] karldodd commented on #105
@grahamehorner We already set up Nginx+Kestrel and it is working for the most part, but `httpContext.Connection.RemoteIpAddress` is not working. So I am looking for something like UseNginxIntegration() which fills in these fileds from http headers.

[2016-07-08 16:43] Tratcher commented on #105
Would UseNginxIntegration do anything more than UseForwardedHeaders?

[2016-07-08 20:04] sergioadh commented on #215
I'm interesed in the web.config from the output, it was never actually added to the conversation. My case is that publish-iis tool is not configuring the processPath and arguments correctly, it leaves them with the %LAUNCHER_PATH% and %LAUNCHER_ARGS% variables, if I manually edit those after publishing it will work. I've also experienced the missing Microsoft.DotNet.ProjectModel but even if that c

[2016-07-08 20:11] moozzyk commented on #215
It means that publish-iis actually did not run. The error with missing Microsoft.DotNet.ProjectModel can be most likely fixed by clearing your NuGet caches with `nuget.exe locals -Clear all`.

[2016-07-08 21:04] sergioadh commented on #215
That fixed it, clearing NuGet cache removed the ProjectModel error and now publish-iis runs correctly. Thanks!

[2016-07-08 21:33] Tratcher commented on #75
I've got it working using Asp.Net Core on .NET 4.6. Note there's a known bug with RunImpersonated in 4.6 (https://github.com/dotnet/cli/issues/1365#issuecomment-184822817), you need to use Impersonate instead.

I'm still trying to track down the issue with .Net Core. Not sure if it's an issue with WindowsIdentity or HttpClient.

[2016-07-08 23:29] Tratcher commented on #75
Theory: WinHttpHandler (HttpClient) on .NET Core is not honoring the impersonated WindowsIdentity.

[2016-07-09 05:18] Eilon opened #229 "Fix wording/casing in command line tool output"
In these lines: https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IISIntegration.Tools/Program.cs#L17-L18
Change from `Asp.Net` to `ASP.NET`.

And also change:
`IIS Publisher for the Asp.Net Core web applications`
To something like:
`IIS Publisher for ASP.NET Core applications`

[2016-07-11 07:41] radenkozec commented on #226
Thanks for explanation @Tratcher .
@GuardRex I cannot do it because it is shared hosting enviroment and don't have permission to stop AppPool

[2016-07-11 23:32] Tratcher commented on #75
Filed a CoreFx issue to track further investigation:
https://github.com/dotnet/corefx/issues/9996

[2016-07-13 13:16] c-s-n opened #231 "Work around UnauthorizedAccessException for WindowsIdentity.get_AuthenticationType on IIS"
### Title
A `System.UnauthorizedAccessException` occurs when accessing `System.Security.Principal.WindowsIdentity.WindowsIdentity.AuthenticationType` getter on IIS, breaking the Windows Authentication of IISIntegration.

### Functional impact
When using Windows Authentication, any time the `Microsoft.AspNetCore.Server.IISIntegration.AuthenticationHandler.AuthenticateAsync` method is called, which

[2016-07-13 17:16] Tratcher commented on #231
Alternative solutions:
- Fix WindowsIdentity to not throw from AuthenticationType. This violates a .NET design guideline: "X AVOID throwing exceptions from property getters."
https://msdn.microsoft.com/en-us/library/ms229006(v=vs.110).aspx

- Or return AuthenticationHandler.User without checking the AuthenticationType. We're only using it for the Description anyways. Compare context.Authentication

[2016-07-15 05:58] aplocher commented on #214
Having same issue here.  I've loaded VS "15" Preview 3, along with Visual Studio 2015.  My "Enable 32 bit" app pools with .NET 4.6 aren't working and I get the 403 error and it auto-stops my app pool.  Is there a workaround for this?  I haven't used .NET Core yet, but can I uninstall it without affecting the rest of VS "15" and 2015?  My priority is getting up and running with .NET 4.6/32bit app p

[2016-07-15 06:03] aplocher commented on #214
Ok, immediately after my last comment I tried disabling the "Enable 32 bit" option, and it seems to be working fine.  Not sure why I was under the impression we had to run with that turned on.  Maybe something has changed in our app (or IIS/ASP.NET) since I last attempted that...  Crisis averted

[2016-07-15 17:41] GuardRex opened #232 "Head-check on one app per AppPool"
Raised on Slack by @wpostma.

This was discussed ages ago, but I can't find the original issue. What is the current guidance on assigning multiple apps to a single AppPool?

I'm asking from the technical perspective ... not best practices. I think everyone is well aware of the best practices implications (e.g., app isolation, security, settings isolation, etc.). Is there any technical reason with

[2016-07-15 18:49] wpostma commented on #69
This is not working in rtm. Opening new issue.

[2016-07-15 18:54] Tratcher commented on #69
"IsFile" conditions are the only part that we know have issues, depending on your project layout. They assume the files are in the same folder as the web.config.

[2016-07-15 19:24] wpostma commented on #69
I'm having issues trying to use the IIS extension "URL rewrite" to rewrite URLs.  The results when trying to have more than one dotnet core application within a single app pool,  and using URL rewrite rules, is  HTTP 500.19 error, either Cannot add duplicate collection entry of type 'add' with unique key attribute 'name' set to 'aspNetCore', or that it can't find web.config).   I assumed it might

[2016-07-15 19:26] Tratcher commented on #69
See https://github.com/aspnet/BasicMiddleware/issues/43#issuecomment-233044629

[2016-07-15 21:09] jamurthy opened #233 "ASP.Net Core 1.0.0 Install failed on Windows 2012 R2"
[dd_DotNetCoreWinSvrHosting__20160715135325.txt](https://github.com/aspnet/IISIntegration/files/366847/dd_DotNetCoreWinSvrHosting__20160715135325.txt)

Machine OS Version: Windows 2012 R2
System Type: Server, Stand-alone, Terminal Server, DataCenter

[2016-07-15 21:32] joeloff commented on #233
Looks like the .NET Core redist is failing:

[1BF0:58A0][2016-07-15T13:53:56]i301: Applying execute package: DotNetRedist_x64, action: Install, path: C:\ProgramData\Package Cache\0953E863F28809901663BD86B0150EAE977A31F4\packages\DotNetCore.1.0.0-Runtime-x64.exe, arguments: '"C:\ProgramData\Package Cache\0953E863F28809901663BD86B0150EAE977A31F4\packages\DotNetCore.1.0.0-Runtime-x64.exe" /quiet /nor

[2016-07-15 21:41] jamurthy commented on #233
This machine is in an isolated domain with no access to internet. Can we install the C++ redists manually? I fso, could you give me those?

[2016-07-15 22:14] joeloff commented on #233
You can download the required redist from here: http://go.microsoft.com/fwlink/?LinkID=615460&amp;amp;clcid=0x409

[2016-07-15 22:41] jamurthy commented on #233
thanks

[2016-07-15 22:41] #233 closed

[2016-07-17 15:10] wpostma commented on #232
A side question on the one app per app pool thing is, if you did have two apps per pool, how could you tell which dotnet process whas for which app?  The "title" in project.json does not end up as the "Description" in the task manager, and dotnet has no equivalent to the java "jps" that can list process IDs with their actual assembly names or assembly descriptions.

It seems it is also almost esse

[2016-07-17 18:48] GuardRex commented on #232
If there is one AppPool and multiple apps, they would share the same process. You could determine the process id for each AppPool by using `appcmd`. http://www.iis.net/learn/get-started/getting-started-with-iis/getting-started-with-appcmdexe
[code]
Example output:
[code]

[2016-07-18 04:33] GuardRex commented on #232
You could also get it programatically ...
[code]

[2016-07-18 12:20] szelpe opened #234 "Published ASP.NET Core app doesn't work on IIS"
My ASP.NET Core web application works fine when I use it with `dotnet run`, but after publishing the website using Visual Studio and set up IIS to host the published artifact it only shows blank screen, returning 500 internal server error. Running `dotnet run` on the published artifact still works fine, the error only occurs if I try to run under IIS. I've followed the docs: https://docs.asp.net/e

[2016-07-18 12:31] Tratcher commented on #234
This looks like a known issue with the header parser:
https://github.com/aspnet/HttpAbstractions/issues/659

It doesn't work well with extra commas. Any idea who's adding those?

[2016-07-18 12:31] Tratcher commented on #234
Ported from https://github.com/aspnet/KestrelHttpServer/issues/984

[2016-07-18 13:58] gregkalapos opened #235 "AspNetCoreModule – setting environment variables in web.config causes double entries with the same key (instead of overwriting existing ones)"
## Environment

Windows 10, IIS with AspNetCoreModule hosting an Asp.NET Core application on top of full framework.
## Steps to reproduce

Let’s say there are some existing environment variables already set on the system. In our case these were COR_ENABLE_PROFILING and COR_PROFILER. See screenshot.

![setenvvar](https://cloud.githubusercontent.com/assets/1091853/16917027/1bf7e342-4d00-11e6-8d41-f3

[2016-07-18 14:04] Tratcher commented on #235
Which one do you see in effect inside the process? The one from web.config should mask the system one, right?

[2016-07-18 14:12] gregkalapos commented on #235
Yes, that is what I would expect, but in my case the system wide setting wins. And btw. when I use my own bat file Process Explorer shows only 1 entry (so in that case it is really overwritten).

And another question: I guess all this is done by the aspnetcore module. Is that also opensource? I would look into that...

[2016-07-18 14:58] szelpe commented on #234
Thanks Tratcher for the answer. Isn't the `X-Forwarded-For` header added by the ASP.NET Core IIS Module? I don't know why does it add an additional comma.

[2016-07-18 15:06] Tratcher commented on #234
Try using Fiddler or similar to capture the headers before they get to IIS.

[2016-07-18 15:14] szelpe commented on #234
Captured the request send to IIS, this is just a regular HTTP request sent by my chrome browser.

[code]

[2016-07-18 15:22] Tratcher commented on #234
That `X-Original-Forwarded-For` header is really fishy. Is there anything else running in your IIS pipeline?

@pan-wang this isn't something ANCM adds, right?

[2016-07-18 15:30] szelpe commented on #234
Sure, I have a few sites running under IIS.

[2016-07-19 22:40] Tratcher opened #236 "Move PathBase from Kestrel to Middleware"
Right now UseIISIntegration takes the ASPNETCORE_APPL_PATH and adds it to the prefix registered with Kestrel so that Kestrel will split the path and path base. @davidfowl doesn't like the path base feature in Kestrel because it does not reject request from other paths.  Assuming the feature gets removed, UseIISIntegration should handle the path logic via middleware instead.

Create a new middlewar

[2016-07-19 22:46] Tratcher commented on #236
RE: https://github.com/aspnet/Hosting/issues/815

[2016-07-21 17:04] riegelj opened #237 "RTM iis publish fails"
If I use preview2-final for Microsoft.AspNetCore.Server.IISIntegration.Tools I receive an error on publish
C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Publishing.targets(149,5)" Error Could not load file or assembly 'Microsoft.DotNet.ProjectModel, Version=1.0.0.0 ...

If I try to load it using Nuget I get an error that it does not support the 4.5.1 framework

[2016-07-25 19:15] muratg opened #238 "Update application files without stopping IIS"
_From @mojtabakaviani on July 14, 2016 10:32_

Now, when I want update application file on IIS server. show error that the action can't be completed because the folder or a file in it is open in another program. and must stop IIS and copy/paste file and then start IIS.

_Copied from original issue: aspnet/KestrelHttpServer#970_

[2016-07-25 19:15] muratg commented on #238
_From @moozzyk on July 14, 2016 17:31_

AspNetCoreModule supports app offline feature. You drop the app_offline.htm file which will make IIS stop your application (and serve the contents of the app_offline.htm file) then you can update your app. Once you are done you remove the app_offline.htm file. WebDeploy does this for you when you publish to Azure. I think it does not do this when publishing

[2016-07-25 19:15] muratg commented on #238
_From @vijayrkn on July 14, 2016 17:43_

If you are using a "filesystem" profile to publish (which has `<WebPublishMethod>FileSystem</WebPublishMethod>`), then you need to add
`<EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>` to support app_offline. While publishing to Azure, this property is automatically added to your pubxml.

[2016-07-25 19:15] muratg commented on #238
_From @GuardRex on July 14, 2016 17:51_

Cross ref issues ...
https://github.com/aspnet/IISIntegration/issues/226
https://github.com/aspnet/Home/issues/694

[2016-07-25 19:20] muratg opened #239 "On Azure deployment, getting "Unable to bind to http://localhost:9410 on the IPv6 loopback interface.""
_From @kirk-marple on July 20, 2016 16:50_

On the first time I deployed my .NET Core Web API to Azure, I noticed this in my logs.

Obviously just a warning, but it's binding to localhost while on Azure, which seemed a little odd, so I thought I'd ask about it.

From global.json:
        "version": "1.0.0-preview2-003121"

And I'm using 'net452' frameworks.

[code]

_Copied from original issue: as

[2016-07-25 19:20] muratg commented on #239
_From @davidfowl on July 20, 2016 17:7_

To azure using what? Azure app service?

[2016-07-25 19:20] muratg commented on #239
_From @kirk-marple on July 20, 2016 17:9_

Correct, yeah.  Azure App Service.  Freshly created a new App Service, and published from VS.

[2016-07-25 19:20] muratg commented on #239
_From @davidfowl on July 21, 2016 6:48_

What does your Program.Main look like

[2016-07-25 19:20] muratg commented on #239
_From @vmykhaylovskiy on July 21, 2016 8:5_

I'm getting the same warning message on Azure App service. I'm using 'net46' frameworks with 1.0.0-preview2-003121 sdk.

Here is what my Program.Main looks like.
[code]

[2016-07-25 19:20] muratg commented on #239
_From @kirk-marple on July 21, 2016 15:12_

Same here... just the default from the template.

[code]

[2016-07-25 19:20] muratg commented on #239
_From @davidfowl on July 21, 2016 15:58_

Which default template? Are you saying, the default template for ASP.NET Core ( .NET Framework) with no changes doesn't work on azure websites?

[2016-07-25 19:20] muratg commented on #239
_From @kirk-marple on July 21, 2016 16:3_

Using Templates/Visual C#/.NET Core/ASP.NET Core Web Application (.NET Core), and selecting Web API.

It's not that it doesn't work, the Web API runs fine on Azure, after publishing.

I just noticed that warning in the log data, and thought it may be an concern, even though it doesn't affect the functionality of the Web API.

[2016-07-25 19:20] muratg commented on #239
_From @davidfowl on July 21, 2016 16:5_

Are you running .NET Core or .NET Framework? You mentioned that you were using net452. Why did you pick .NET Core if that's the case?

[2016-07-25 19:20] muratg commented on #239
_From @kirk-marple on July 21, 2016 16:14_

Right now, using the .NET Core project.json model (see attached example), but running net452 framework.  Started this project last year during early DNX days, and been focusing on net452 for a stable baseline before going back and migrating to .NET Core runtime.   The new project model works great, so didn't want to have to redo everything if we went to

[2016-07-25 19:20] muratg commented on #239
_From @halter73 on July 22, 2016 0:50_

@kirk-marple Kestrel binding to localhost is expected since Azure App Services [use IIS as a reverse proxy in front of Kestrel](https://docs.asp.net/en/latest/fundamentals/servers.html#servers-and-commands) on the same "machine". IIS uses an available port (in this case 9410) to communicate to Kestrel.

All the way until RC2, we would only try to bind to the

[2016-07-25 19:46] Tratcher commented on #239
Open questions:
- Why does [::1] binding fail in Azure App Services?
- Why does ANCM prefer connecting to 127.0.0.1? [::1] has been the preferred loopback address since Vista.

We want to avoid binding to a different address than then one ANCM will try first or we'll incur a delay at the start of every connection.

[2016-07-25 21:19] muratg commented on #239
@davidebbo Could you look into @Tratcher's question re [::1] binding on Antares?

[2016-07-25 21:21] muratg commented on #237
@JunTaoLuo Could you investigate?

[2016-07-25 21:22] muratg commented on #237
@riegelj What's the exact version of .NET Framework and .NET CLI you are using?

(For CLI, you can do `dotnet --version`)

[2016-07-25 21:24] muratg commented on #236
@davidfowl How much do you care about this?

cc @JunTaoLuo heads-up :)

[2016-07-25 21:32] muratg commented on #234
@szelpe Where are you running your app?  Is there a proxy configured?  Are there other IIS modules installed on the server?

@pan-wang Do you know anything in IIS could be adding the comma there?

[2016-07-25 21:36] riegelj commented on #237
1.0.0-preview2-003121

Framework  4.5.1

Also note we are using x86  not 64 bit

From: Murat Girgin [mailto:notifications@github.com]
Sent: Monday, July 25, 2016 5:22 PM
To: aspnet/IISIntegration <IISIntegration@noreply.github.com>
Cc: riegelj <jeffr@pobox.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/IISIntegration] RTM iis publish fails (#237)

@riegelj <https://github.com/rieg

[2016-07-25 21:39] muratg commented on #225
@antonGritsenko Did using the final tooling work?

[2016-07-25 21:42] muratg commented on #227
@radenkozec Are you using the same hostname between your local IIS server and remote IIS server?

[2016-07-25 21:47] antonGritsenko commented on #225
@muratg yes, latest available. BTW, forgot to mention, The issue occurs only if two projects (4.5 and core) are in same solution.
And I have found the workaround (really crazy): delete $(SolutionDir)\.vs\config\applicationhost.config before switch to debug an another project. In this case VS re-creates it with default for current project settings.

[2016-07-25 21:49] muratg commented on #228
@pan-wang Could you take a look? We can sure create better error logs.

cc @shirhatti

[2016-07-25 22:36] Tratcher opened #240 "subprotocol is not returned in WebSocket Upgrade / Accept Response"
_From @rposener on April 27, 2016 20:51_

the following JS:
 `var exampleSocket = new WebSocket("ws://" + window.location.host, "test");`
 when accepted by:
 `WebSocket webSocket = await httpContext.WebSockets.AcceptWebSocketAsync("test");`
 does not include the header value:
 `Sec-WebSocket-Protocol:test`

even though it should per spec.

_Copied from original issue: aspnet/WebSockets#79_

[2016-07-25 22:36] Tratcher commented on #240
_From @muratg on April 28, 2016 16:40_

Tentatively putting this in 1.0.0. We'll investigate after RC2 ships.

[2016-07-25 22:36] Tratcher commented on #240
_From @tmds on April 28, 2016 16:50_

@rposener what server are you using?

[2016-07-25 22:36] Tratcher commented on #240
_From @rposener on April 28, 2016 17:1_

As best I understand it's kestral hosted within IISExpress (project is targeting dnx451 and dnxcore50) currently for rc1-update2

[2016-07-25 22:36] Tratcher commented on #240
_From @tmds on April 28, 2016 17:59_

What should happen:
the value you give in AcceptWebSocketAsync should be set in the WebSocketAccept context [here](https://github.com/aspnet/HttpAbstractions/blob/3a97a6bdfdcc3787bf4b68cecdf277588de5ee76/src/Microsoft.AspNetCore.Http/Internal/DefaultWebSocketManager.cs#L60).
Then read from the context [here](https://github.com/aspnet/WebSockets/blob/0f9e4eba02

[2016-07-25 22:36] Tratcher commented on #240
Does it work if you run Kestrel directly without IISExpress?

[2016-07-25 22:36] Tratcher commented on #240
_From @rposener on April 29, 2016 21:22_

Yes, works fine once IISExpress is removed from the mix.  Is there a way to allow that to pass through?

[2016-07-25 22:36] Tratcher commented on #240
We'll have to investigate. @pan-wang, can you take a look?

[2016-07-25 22:36] Tratcher commented on #240
_From @muratg on July 25, 2016 22:4_

@anurse Does SignalR use subprotocol in websockets?

[2016-07-25 22:41] Tratcher commented on #225
@BillHiebert sounds like a tooling bug.

[2016-07-25 22:49] BillHiebert commented on #225
this should just work with final tooling.

[2016-07-25 22:55] antonGritsenko commented on #225
@BillHiebert by "final" you mean future RTM or "latest available" (Preview2)?

[2016-07-25 23:02] BillHiebert commented on #225
Preview2

[2016-07-25 23:04] antonGritsenko commented on #225
Will play around again, thanks

[2016-07-26 07:16] szelpe commented on #234
I tried to run the app on a Windows 8 machine, no proxy configured. Also tried running on a Windows Server 2012, same results. There are a few IIS modules installed, like URL Rewrite and ARR.

[2016-07-26 17:02] pranavkm opened #241 "Use ConditionalFacts to skip tests at runtime"
Our CI build configurations skip IISIntegration tests for xplat test pass today. This results in the tool (which can run xplat) not getting any test coverage. We should instead use ConditionalFact to skip WIndows only tests.

[2016-07-26 17:03] davidebbo commented on #239
Not sure, might be a sandbox thing. If you have a simple repro (using a [repo](https://github.com/projectkudu/kudu/wiki/Using-a-git-repo-to-report-an-issue)), we can probably verify.

[2016-07-26 17:05] muratg commented on #241
Agreed, the publish tool tests should run across the board while the middleware tests should run only on Windows SKUs.

[2016-07-26 17:06] muratg commented on #239
cc @mikeharder

[2016-07-26 17:28] Tratcher commented on #241
Note a few of the negative tests should run x-plat.

[2016-07-27 15:26] Tratcher opened #242 "UseIISIntegration should delay setting urls"
Today it's a common mistake for callers to reverse UseIISIntegration and UseUrls, breaking their app in IIS/Express and Azure.

Proposal, rather than having UseIISIntegration set the url [immediately](https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IISIntegration/WebHostBuilderIISExtensions.cs#L39), set it later when Build is called (e.g. inside the [ConfigureServ

[2016-07-27 17:26] JunTaoLuo commented on #237
@riegelj I am not able to reproduce this locally using our released tooling on a `net451` project. Can you provide a link to your project or a minimum repro? Also, I would try clearing your package and HTTP caches and see if the problem persists.

[2016-07-27 17:42] halter73 commented on #242
Seems like a good idea. Today, you can check whether UseIISIntegration is activated in Program.Main() by checking whether whether the urls setting was changed after calling it. Technically, changing when we change the urls settings is breaking, but it probably won't affect too many apps.

It would be nice if there was still an easy workaround to figure out if the app is running behind IIS in Progr

[2016-07-27 17:44] Tratcher commented on #242
What would you do in Main if you did detect IIS?

Checking for the environment variables directly may be better. Or we could provide an IsRunningInIIS API.

[2016-07-27 17:59] halter73 commented on #242
To disable Kestrel connection filters that are replaced by IIS modules perhaps. Admittedly it's probably not common to use a single code base to deploy with and without IIS, so I don't think this would break (m)any people.

[2016-07-27 18:57] riegelj commented on #237
I have Microsoft .Net Core Tools (Preview 2) 14.1.20624.0 is that the latest?

[2016-07-27 19:11] JunTaoLuo commented on #237
Yes

[2016-07-28 11:23] riegelj commented on #237
I removed the lock files. NOTE: It says the publish succedes, but if I look in the build output I see the error below and I get a http Error 502.5 - Process error.

json file tools section:
  "tools": {
    "Microsoft.AspNetCore.Razor.Tools": {
      "version": "1.0.0-preview2-final",
      "imports": "portable-net45+win8"
    },
    "Microsoft.AspNetCore.Server.IISIntegration.Tools": {
      "ver

[2016-07-28 18:45] GuardRex commented on #237
@riegelj See advice at https://github.com/aspnet/IISIntegration/issues/215#issuecomment-231460410

... also, you can drop the `imports` in your tools section. If there is anything else amiss, put up your project as a GH repo for us to see.

[2016-07-28 18:50] riegelj commented on #237
A vanilla solution which fails the same way and does not have imports in the tools section was already uploaded. Please se the zip in my previous post.

[2016-07-28 18:53] GuardRex commented on #237
I think if you clear your caches out, you might be able to get past that exception: Try a `nuget locals all -clear`.

I can't open the ZIP here due to security restrictions.

[2016-07-28 19:27] riegelj commented on #237
How do I run that? From command line nuget says unknown command: 'locals' from package manager console it doesn't work either

[2016-07-28 19:52] GuardRex commented on #237
oh, yeah ... you need it. You can get an installer at Nuget.org: https://www.nuget.org/

[2016-07-28 19:53] GuardRex commented on #237
If you click just the link for `latest nuget.exe` ... it will give you the latest one directly (the .exe).

[2016-07-28 20:16] riegelj commented on #237
Thanks that did the trick works now :)

[2016-07-28 20:41] JunTaoLuo commented on #237
Thanks @GuardRex! Just a note that although nuget.exe is convenient, you don't need it to clear your cache. You can just manually delete your package cache, `~\.nuget\packages`, and http-cache, `%LocalAppData%\Nuget\v3-cache`.

[2016-07-28 20:41] #237 closed

[2016-07-28 20:44] Tratcher commented on #231
Note WebListener probably has the same issue.

[2016-07-29 16:24] AndrewPlusTen commented on #179
I have the same problem installing the DotNetCore.1.0.0-WindowsHosting.exe as my AWS server does not have internet access and I am told by my server admins that it won't be able to get internet access.

[Microsoft_.NET_Core_1.0.0_-_Runtime_(x64)_20160729105956.log.txt](https://github.com/aspnet/IISIntegration/files/390959/Microsoft_.NET_Core_1.0.0_-_Runtime_.x64._20160729105956.log.txt)

Looking a

[2016-07-29 16:28] AndrewPlusTen commented on #207
I have the same problem installing the DotNetCore.1.0.0-WindowsHosting.exe as my AWS server does not have internet access and I am told by my server admins that it won't be able to get internet access.

[Microsoft_.NET_Core_1.0.0_-_Runtime_(x64)_20160729105956.log.txt](https://github.com/aspnet/IISIntegration/files/390961/Microsoft_.NET_Core_1.0.0_-_Runtime_.x64._20160729105956.log.txt)

Looking a

[2016-07-29 16:30] joeloff commented on #207
Take a look at https://www.microsoft.com/en-us/download/details.aspx?id=48145. You should be able to download it from there

[2016-07-29 16:32] GuardRex commented on #179
This one? https://www.microsoft.com/en-us/download/details.aspx?id=48145

[2016-07-29 16:35] AndrewPlusTen commented on #207
That is the one I have been downloading and installing. It is version 14.23**026** and The Core install is looking for something >= 14.23**506**

After it can't find the newer version it tries to install that.

![2016-07-29 10_32_41-vc_redist x64 exe properties](https://cloud.githubusercontent.com/assets/20728058/17255802/00a79882-5578-11e6-9195-810c112d128f.png)

[2016-07-29 16:41] AndrewPlusTen commented on #207
I could be wrong but this is what I am following in the log files. I will try the installer file from the link it is trying to download from but that is 14.0.24212:

[0964:0750][2016-07-29T10:59:56]i000: Setting numeric variable 'VCRedist_KeyExists' to value 1
[0964:0750][2016-07-29T10:59:56]i000: Setting string variable 'VCRedist_KeyValue' to value 'v14.0.23026.00'
[0964:0750][2016-07-29T10:59:56

[2016-07-29 16:42] GuardRex commented on #207
Yep ... there's a prob here. That official installer is "old," but it was only published a little over two weeks ago.

![capture](https://cloud.githubusercontent.com/assets/1622880/17255985/164040dc-5581-11e6-9624-812bb40932cd.PNG)

@joeloff I have the version (.23506) on my system from somewhere. Do you think they made a boo-boo in the download center.

[2016-07-29 16:44] GuardRex commented on #207
http://go.microsoft.com/fwlink/?LinkID=615460&amp;clcid=0x409

downloads .24212

[2016-07-29 16:45] AndrewPlusTen commented on #207
Everything installed. Thanks for the help. Now to get my app working!

[2016-07-29 16:47] GuardRex commented on #207
@joeloff Let me know what you want to do about the installer link. I have the "old" one in the Publish to IIS doc (.23026).

[2016-07-29 21:04] shirhatti commented on #201
@itayit Were you able to repro this in 1.0.0?

[2016-08-02 13:29] d13cd2 opened #243 "Error Publishing to IIS"
We're having a problem publishing our web app to IIS.
We've even tried just creating a blank NETcore web app and we're still getting the same issue.

When performing a web deployment we are getting the following error:

Exception calling ".ctor" with "1" argument(s): "Invalid URI: The format of the URI could not be determined."

Any ideas?

[2016-08-02 16:08] muratg commented on #243
What version of ASP.NET Core, VS/WebDeploy, etc?  Are you able to deploy an ASP.NET4 apps without issues?

[2016-08-02 16:13] d13cd2 commented on #243
ASP.NET core 1.0.0
Web Deploy 3.6
VS 2015

Here's our project.json:
{
  "dependencies": {
    "AspNet.Security.OpenIdConnect.Server": "1.0.0-beta6-final",
    "Microsoft.AspNetCore.Authentication": "1.0.0",
    "Microsoft.AspNetCore.Authentication.JwtBearer": "1.0.0",
    "Microsoft.AspNetCore.Authentication.OpenIdConnect": "1.0.0",
    "Microsoft.AspNetCore.Diagnostics": "1.0.0",
    "Microsoft.A

[2016-08-02 21:51] twilliamsgsnetx opened #244 "Site published to IIS returning 404 for API urls"
My site is serving static content just fine, but when I try to access the API urls, it returns 404 errors. Not sure where to begin looking for this. Having trouble finding the process id so I can do remote debugging and finding the cause. Any thoughts?

[2016-08-03 00:00] twilliamsgsnetx commented on #244
So I figured out the issue. My production setup was from RC1, and my site was pointing to wwwroot instead of the root like it required back then(at least for my site).

I pointed it to the root, and now things work. Hope my suffering helps another at some point.

[2016-08-03 00:00] #244 closed

[2016-08-03 09:21] jruckert opened #245 "Kestrel + IIS is falling over with a small load in production with RTM"
We are currently experiencing an issue in production (after upgrading from DNX to RTM) when our Web API is
- loaded with around 10 req/second
- Some calls are taking > 2 second with sometimes over 1mb in a payload.
- Our average API timing and payload would be < 1 second and around 30kb of data.

It seems that sometimes when the larger API get queued whilst processing the smaller requests it overw

[2016-08-03 09:23] jruckert commented on #245
We are also planning on running the load tool wrk for a few larger API's > 2 seconds and large JSON response payload to see if we can replicate this issue if this would help.

[2016-08-03 10:18] jruckert commented on #245
From the IIS Performance Counters:

5:20pm - thread count started growing dramatically
5:40pm - access issues to website first reported
5:50pm - IIS Application Pool stopped and started, and thread count drops

Process counters for P… refer to the NetCore process.
Process counters for w… refer the IIS w3wp worker process.

![iisw3wp-threadcount](https://cloud.githubusercontent.com/assets/4064588/1

[2016-08-03 10:42] BOT-Man-JL opened #246 "Get 502.5 with Running the Sample"
On my *Windows Server 2012*,
- I firstly installed the **[.NET Core Windows Server Hosting buddle](https://go.microsoft.com/fwlink/?LinkId=817246)**;
- and then **download the [sample](https://github.com/aspnet/IISIntegration/tree/dev/samples/IISSample)** to the Server;
- and then used this line:
```<aspNetCore processPath="dotnet" arguments=".\IISSample.dll" stdoutLogEnabled="false" stdoutLogFile

[2016-08-03 11:58] radenkozec commented on #227
@muratg  No I haven't run anything on production server.
Just deployed application to IIS.
No I am not using same hostname. I deployed app to production IIS server and got temporary URL to access it. Later I will point live domain to it. Haven't changed or touched hosts file.

[2016-08-03 15:54] muratg commented on #227
You'll need to run the script I shared above on your production IIS server to enable encryption.

[2016-08-03 15:56] GuardRex commented on #246
No ... the hosting bundle is all you need for hosting.

You said you "download the sample to the Server" ... Did you publish (compile) it first? ... then move the assets from the `publish` folder to the server?

If so, did you explicitly follow the guidance at https://docs.asp.net/en/latest/publishing/iis.html, including restarting IIS or the server after installing the hosting bundle?

[2016-08-03 16:00] GuardRex commented on #244
Cross reference: https://docs.asp.net/en/latest/migration/rc1-to-rtm.html

[2016-08-03 16:14] GuardRex commented on #243
btw - You can drop the `"commands"` section ... that's gone now.

Your publishing target is a well-formed Uri, correct? I'm thinking along the lines of ...
[code]
as seen in https://github.com/aspnet/vsweb-publish/issues/45. Apparently, it chokes on Uri's it can't parse (e.g., perhaps when there is no protocol on the Uri).

[2016-08-03 18:09] wpostma commented on #245
I am having a similar problem.  Nowhere near that level of load.  3 tiny dotnet apps, on a server that also has an SQL Server 2016 instance.

I get about 6 seconds of 404 errors, followed by a permanent 502.5 condition, that lasts until I do a stop on w3svc and then start it again.  Restarting app pools is not sufficient.

http://stackoverflow.com/questions/38613615/dotnet-process-inside-iis-crash

[2016-08-04 01:50] BOT-Man-JL commented on #246
@GuardRex :+1: Thank you very much, it was my first time to publish ASP.NET web app, and I made so many mistakes.

Sorry for skipping this step... (I suppose that IIS will compile for us 😭 )

I indeed read this article carefully many times, but the **assets** is a bit confusing... I suppose.

A thousand apologies for posting this here...

[2016-08-04 01:50] #246 closed

[2016-08-04 01:56] ZhangYuef commented on #246
**All is well**

[2016-08-04 02:23] GuardRex commented on #246
@BOT-Man-JL

Great! I'm happy to hear its working now.

I'll be revising parts of the Publishing to IIS doc for the 1.0.1 release. I'll take a look at that line (step #1), and step #3, and see if I can craft some language that makes it more clear.

[2016-08-04 06:30] radenkozec commented on #227
@muratg Not sure why this is needed? This is very complicated for me. I am on shared hosting provider. I am pretty sure that it will refuse to execute scripts on his servers. This has not been needed on previous version on ASP.NET MVC.

[2016-08-04 06:49] davidfowl commented on #227
Your shared hosting provider installed the ASP.NET Core module right? This is another thing that needs to be setup by hosters of ASP.NET Core.

[2016-08-04 08:02] radenkozec commented on #227
I will try to ask. I will re-open this if not works after step you mentioned.

[2016-08-04 08:08] d13cd2 commented on #243
That was it exactly.  Thanks!

[2016-08-04 08:08] #243 closed

[2016-08-04 14:48] KLuuKer commented on #245
Looks like i may also have the same issue,
we finished converting our framework 4.6 mvc 5 to core mvc 1
our traffic monthly is about:
- unique visitors 250.000
- uncached requests 1.300.000

Our setup:
- Dotnet Core RTM (1.0.0)
- Webhosting pack (1.0.0) installed
- Windows Server 2012 R2 (all patches installed)
- **HTTP** (tls is getting offloaded on a different machine)
- **Anonymous authenticati

[2016-08-04 14:53] KLuuKer commented on #245
@shanselman  @DamianEdwards
sorry to @ you like this, but we are letting people hit our old mvc 5 app until this can be fixed
and so we cant deploy new code in the mean time (saas e-commerce app and our customers are getting angry)

[2016-08-04 15:08] saf-itpro opened #247 "http error 500.19 - internal server error iis 10 after copying ASP.NET Core project to another machine"
![capture](https://cloud.githubusercontent.com/assets/10931726/17407080/000175b8-5a34-11e6-85df-66fdf0ac884b.PNG)
**Source Machine A**: Windows 10 (upgraded from Win 7)
**Destination Machine B**: Windows 10 (upgraded from Win8.1)
**Technologies**: ASP.NET Core 1.0, Visual Studio 2015 Update-3.1
Whenever I copy an ASP.NET Core Code First project from Machine A to Machine B the project builds fine b

[2016-08-04 15:17] Tratcher commented on #247
Did you delete the .vs folder? It contains VS temp files with absolute paths in them, so it's best to delete it if your project is not in the same path on the new machine. You'll get the same issue copying the project to a different folder on the same machine.

[2016-08-04 15:24] saf-itpro commented on #247
@Tratcher No, I did not delete that folder and yes my destination folder has a different path. Thank you for describing the cause of the problem. This should resolve the issue without the workaround I mentioned above.

[2016-08-04 16:56] muratg commented on #245
cc @SajayAntony @sivagms

[2016-08-04 16:58] muratg commented on #245
@KLuuKer Could you share the logs?

[2016-08-04 17:23] pan-wang commented on #245
Could anyone provide a repro so that I can take a look at it?
404 error is generated by Krestral.
502 means IIS could not start the Krestral process. For this error, please take a look at windows event log. It usually gives some error code indicating the root cause of starting failure.
Please also try enabling IIS FREB log which might help to identify the root cause.

[2016-08-04 19:11] KLuuKer commented on #245
@muratg can you give me your email here or dm via twitter to https://twitter.com/KLuuKer

[2016-08-04 19:49] wpostma commented on #245
I have set up an indentical system to the one that is falling over on my W2012R2 vm, on an azure vm, but it's using Windows Server 2016 TP5 on the azure VM, and if it reproduces for me, I'll get access to any MS employee who needs it.  Right now I'm running exactly the same setup as the local VM that failed, except without using the IIS URL Rewrite extension.     If no reproduce, I'll add back in

[2016-08-04 19:55] wpostma commented on #245
@pan-wang  How do I enable IIS FREB for this context?   I don't know what to enter for "Specify Content to Trace" prompt in iismgr. All contents? Then 502 error?
![freb](https://cloud.githubusercontent.com/assets/1833470/17416380/da76c082-5a5b-11e6-988a-4eb40c279197.png)

[2016-08-04 21:59] KLuuKer commented on #245
Just making this clear: i am running kestrel\mvc core 1 using the full framework 4.6 because of legacy bits

[2016-08-04 22:19] jruckert commented on #245
Also the spin up time for our process due to the large dependency injection requirement is approx 5 seconds before IIS can access it. Would this affect things?

[2016-08-05 00:07] pan-wang commented on #245
IIS will log the start and failure of Kestrel process to windows event log. In case of 502 error, this log will be most important source to help identifying the root cause of the failure.  If possible, please do take a look at it and share it.

@jruckert IIS has a timeout setting on Kestrel process starting, default is 2 minutes.
@wpostma Yes, you can choose all contents and your current FREB sett

[2016-08-05 05:36] GuardRex commented on #245
Ping @tuespetre ... and I ... have an interest in your (@pan-wang) comment on multiple apps per pool, as @tuespetre is doing it in staging, and the green dino here is :chicken: too chicken :chicken: to try it at all. :smile:

@pan-wang, there is no GH issue we can track on for that, correct?

[2016-08-05 07:46] KLuuKer commented on #245
From what i have seen on my server, sometimes it starts up correctly getting hit with real user traffic and after a while it starts getting slower, later it just slows to a crawl and then just stops and i get timeouts

If at that moment I recycle the apppool or manually stop iis (iisreset /stop) and start iis (iisreset /start)
i still keep getting timeouts

when it starts giving timeouts (before a

[2016-08-05 07:54] KLuuKer commented on #245
@jruckert @wpostma do you also some code like mine above?
or just normal async await code with allot of HttpClient calls to a different machine?

[2016-08-05 08:04] jruckert commented on #245
I'm having a similar experience where it seems to gets slower but it also sometimes recovers. As we are only hosting Web api controllers I'm not 100% sure if all client calls are using the approach you have outlined.

[2016-08-05 08:09] KLuuKer commented on #245
TL;DR its **not** the end users\browsers that are using that code i am

that is the code that i have in my frontend server (kestrel\iis) that is getting hit with browser requests
and since i have a n-tier system the frontend (my code) is using that piece of code to hit a different machine my backend server (web api 2\mvc5\iis\EF6) and that grabs it from the database and returns it

[2016-08-05 12:47] KLuuKer commented on #245
Is there some way of limiting the amount of concurrent request in iis?
I would like to try to see if limiting the amount of simultaneous request can temporarily fix the problem.

[2016-08-05 16:10] KLuuKer commented on #245
so i removed that old  `return Task.Run(async () => {  // work here  }.Result; ` code and......
it did NOT help as soon as the users started hitting the site again hard it began to crawl to a halt again
so no luck there

[2016-08-05 16:15] GuardRex commented on #245
@KLuuKer You might get some good info if you PerfView the app before and after it goes into :snail: mode.

[2016-08-05 16:36] davidfowl commented on #245
@KLuuKer IIS limits concurrent requests to 5000 by default.

Has anyone collected a profile or process dump? Where is the CPU time spent? Also is we shine using IIS + Kestrel?

[2016-08-05 17:05] wpostma opened #248 "Can we get documentation on sub-application support in .net core?"
It seems that deploying  sub-applications in IIS, with .net core 1.0 are not documented.

Sub-apps are referenced elsewhere in other issues:
https://github.com/aspnet/IISIntegration/issues/190

There's no full working example and no IIS configuration and example code or docs for it yet.  Or if there is, my google-fu is failing me.

[2016-08-05 17:07] wpostma commented on #248
Here's where I think that docs might have existed:
https://docs.asp.net/en/latest/publishing/iis.html

[2016-08-05 17:07] muratg commented on #245
Folks, could someone also try to use a single app per app pool to see if this is the culprit?  @pan-wang is working on better supporting this in a future release of AspNetCoreModule, but perhaps this could be the work-around for now.

[2016-08-05 17:14] GuardRex commented on #248
Good idea for the sample, and I'll put this on my list for the next Publishing to IIS doc update, which is coming soon.

[2016-08-05 17:23] KLuuKer commented on #245
@davidfowl yes i am using IIS (win 2012r2 fully patched) + kestrel
anyway to lower that (dont mind machine wide) but keeping the queue big?

@muratg i am using **single** app per app pool

also the strange thing is i dont see big cpu usage (or 25% because its a quadcore box) more like below 10% total cpu usage

[2016-08-05 17:26] Tratcher commented on #245
Can anyone share an app that reproduces the issue for us to investigate directly?

[2016-08-05 17:31] KLuuKer commented on #245
i tried making a repro app but failed (will try again)

@wpostma how is your repro going?

[2016-08-05 17:31] pan-wang commented on #245
This post lists a way to viewing long running IIS request inside InetMgr https://technet.microsoft.com/en-us/library/cc732518(v=ws.10).aspx. You can also use perfmon to monitor IIS perf counters such as Active Requests under W3SVC_W3WP. The max number of active requests is 5000. Once this max is reached, IIS will not server new quest. Could you please open perfmon to take a look at this IIS perf c

[2016-08-05 17:37] muratg commented on #248
This issue was moved to aspnet/Docs#1764

[2016-08-05 17:37] #248 closed

[2016-08-05 19:28] Tratcher commented on #39
@rynowak, @glennc said you keep running into this as a response truncation issue?

[2016-08-05 20:16] glennc commented on #39
@rynowak When using IIS the problem of JSON.NET throwing on circular models is exacerbated by the ANCM not severing the connection appropriately.

I can use HTTPClient to grab data from a web api in my controller and send that to a view, and not know that anything is broken if I don't have much data. In my case it was happily showing a single result on my page, and leaving out the rest. I didn't e

[2016-08-05 22:56] jruckert commented on #245
I'm still working on a repro and using wrk as the load simulator.

[2016-08-06 09:34] KLuuKer commented on #245
@jruckert are you able to repro it using wrk on the full app? and are you now just cutting down the code to where the problem is?

[2016-08-06 10:04] jruckert commented on #245
I think it is a combo of a couple of simultaneous  heavy calls with a couple of short calls.  I'm in the process of rerunning the IIS logs as this is our best chance of reproducing. We are hosting approx 1200 api's and the consumer base is well over 20 million so the sooner we get to the root cause the better.

[2016-08-06 10:18] jruckert commented on #245
BTW I'm unfortunately unable to simulate this in production every day due to the existing load failing over every day. I have no roll back plan as we have committed to dotnet cli 12 months ago.. So I'm reliant on the IIS logs to replay load. As we are publishing government records back to 1800 this is a major issue.

[2016-08-06 16:42] davidfowl commented on #245
Does anyone have a process dump? That might help as well.

[2016-08-09 14:46] KLuuKer commented on #245
I took another try at running our production traffic trough kestrel\mvc core
but it crashed again here are some things i noticed

cpu usage on sql, backend, frontend (this runs mvc core) machines is below 10%
tcp connections on the frontend are below 2000 total (including those waiting for timeouts) so no ephemeral port are exhausted

it seems to be a combination of request, just allot of GET requ

[2016-08-09 15:28] ahjephson opened #249 "AspNetCoreModule install failed when shared config is enabled."
AspNetCoreModule install failed when shared config is enabled.

CAQuietExec: Unlocked section "system.webServer/handlers" at configuration path "MACHINE/WEBROOT/APPHOST".
CAQuietExec: ERROR ( hresult:80070005, message:Failed to commit configuration changes.

CAQuietExec:

Access is denied.
CAQuietExec:

)

[2016-08-09 19:38] DamianEdwards commented on #245
@KLuuKer can you paste your `Startup.cs`, `project.json', & `web.config` files here? Pls ensure you're not using the Console logger in production, as that takes a global lock on every log message. Configure something like Serilog to log to a text file for in-app logging and just have startup errors go through console out to the configure txt log via `web.config`.

[2016-08-09 20:12] KLuuKer commented on #245
@DamianEdwards you are not going to like this, i don't either and i want to clean it up eventually (you know when i will get "around" to do it).

i should be on gitter when you read this message

web.config - https://gist.github.com/KLuuKer/2ddc14ee76c259efdd020a9e76cb204e
program.cs - https://gist.github.com/KLuuKer/d5da65927244174a70083eb8a4334b58
project.json - https://gist.github.com/KLuuKer/d

[2016-08-10 13:13] jruckert commented on #245
@davidfowl We have a process dump of the issue how can we get this to you??

[2016-08-10 14:22] KLuuKer commented on #245
@DamianEdwards i switched to Serilog and removed console log, its still has the same 0% cpu and a ton of request pouring in getting timed out

[2016-08-10 21:15] muratg commented on #225
@antonGritsenko If you still have this issue, please file a bug in aspnet/tooling.

[2016-08-10 21:15] #225 closed

[2016-08-10 21:19] muratg commented on #234
@szelpe Any idea what might be messing up with the headers? Did you get any Fiddler traces?

[2016-08-10 21:20] muratg commented on #235
@pan-wang Any updates on this?

[2016-08-10 21:23] muratg commented on #236
Let's copy the feature to the middleware and keep the one in Kestrel, because removal would be a breaking change in 1.1.

Let's remove the one in Kestrel in 2.0. @JunTaoLuo, could you file a bug in 2.0.0 milestone in Kestrel?

[2016-08-10 21:25] muratg commented on #239
@mikeharder Could we provide @davidebbo a repro? I think you had reported this problem in the past.

[2016-08-10 21:29] muratg commented on #245
@jruckert Could you upload it to onedrive or similar and share a link?

[2016-08-10 21:30] #247 closed

[2016-08-10 21:30] muratg commented on #249
@shirhatti @pan-wang Did you guys want to do this in 1.1?

[2016-08-10 21:36] jruckert commented on #245
@muratg I am assuming this process dump has the potential to contain confidential customer information. I can put up on a secure download site.  Can someone DM me at twitter.com/jruckert

[2016-08-10 22:24] muratg commented on #245
@jruckert Couldn't send a DM because you're not following me on Twitter. :)  However, you can email me at mgirgin  @  microsoft  .  com.

[2016-08-10 22:55] pan-wang commented on #245
@KLuuKer did you check IIS active request counter when the hanging happened?

[2016-08-11 08:44] KLuuKer commented on #245
@DamianEdwards tested again this time also removed\disabled the timers and the websocketclient i have in there, same problem

@pan-wang request monitoring looked like this
![request-monitoring-privacy-stripped](https://cloud.githubusercontent.com/assets/12729178/17583262/4b7a935e-5fb0-11e6-9002-44e2aa69996c.png)

[2016-08-11 09:00] jruckert commented on #245
I have been able to reproduce the issue consistently within our test environment and using wrk as the load tester. As it's a large code base what would you recommend the next step is to provide a public repo?

[2016-08-11 09:04] jruckert commented on #245
It is definitely a load issue and related to a long running query.  We see that the dotnet process hovers around 100% CPU after about 5 seconds although SQL is only running at 5% after an initial burst. It seems that it's still trying to process something but it stops calling SQL after a while.

[2016-08-11 09:09] KLuuKer commented on #245
@jruckert so with your problem the process is stuck at 100%? because mine is that its stuck at 0% and it looks like its waiting for some lock somewhere

yeah public repo would be very helpful because Microsoft can then do all the profiling and dumping they want, so start stripping out some of the code that is not touched, repo again, make a backup of the stripped version, and keep stripping\repoin

[2016-08-11 14:05] KLuuKer commented on #245
today we tried running on azure windows server 2016 TP 5 that also didn't help
we tried with a quad core and a single core machine

on the quad core it looked good but after a hour or so
and the single core machine was good for 2 hours

the both ended up taking really long for each request and they started to timeout
again with next to nothing cpu usage (total usage below 5%)

[2016-08-11 19:58] jruckert commented on #245
Also what should i expect when running the following:

wrk -t5 -c50 -d60s https://webapithatisquick

wrk -t5 -c50 -d60s https://webapithatisslow

When i run the top command, the site works fine

When i run the bottom command, the site hangs and does not recover unless i recycle the app pool.

Would this be expected behaviour?

[2016-08-11 19:59] jruckert commented on #245
@muratg Is it best that I log a premier support ticket on this as the customer is not the happiest in the world at the moment.

[2016-08-11 20:13] davidfowl commented on #245
@jruckert You should do that as well. Github isn't the same as customer support. We're looking into it but you should use as many channels as you have at your disposal.

[2016-08-11 20:45] davidfowl commented on #245
Are you using EF?

[2016-08-11 20:52] pan-wang commented on #245
@KLuuKer
Could you please take a look at the Active Requests counter like this one?
![image](https://cloud.githubusercontent.com/assets/18172635/17604243/d1097e5e-5fc9-11e6-838e-66184e204a28.png)
If the active request counter value is 5000 and w3wp does hang, it could be a bug in IIS code for your scenario. I need a either a dump or a repro to investigate the root cause.

[2016-08-11 21:36] jruckert commented on #245
@davidfowl yes we are using EF heavily.

[2016-08-11 21:55] davidfowl commented on #245
@jruckert do you have any idea what query is? If you remove those queries, do things start working?

/cc @rowanmiller

[2016-08-11 22:03] jruckert commented on #245
Yes we are only hosting Web api's so we can determine the query but I know some are very complex.  The long query (join and grouping)  from the Web api  takes about 4 seconds.  If we use a more simpler e.g. quicker query less than a second then we can load it up more so.  I'm not sure if the EF is processing a lot of things in memory though this is something that I will have to chase down.

[2016-08-12 09:36] jruckert commented on #245
Below are some stats for stress testing the API /api/LongRunningApi

Note that a single call (non-optimized) took about 10 seconds and used 50% of available CPU on a server with dual core 2.1GHz processors.

The Web.Config is configured with a RequestTimeout of 120 seconds.   However, the NET Core process keeps running (Duration NET Core process was stressed) even after the IIS timeout, so there i

[2016-08-12 16:08] KLuuKer commented on #245
So it looks like my slow request for images (that need to be resized) are causing all other requests that are fast to wait, and to fill up the request queue

[2016-08-12 19:51] mikeharder commented on #239
@davidebbo: Repro at https://github.com/mikeharder/AspNetCoreAppService.  This is our default ASP.NET Core template with stdout logging enabled.

After you deploy and browse to the app, it will create a log file starting with "stdout" under D:\home\LogFiles, which shows the IPv6 binding exception:

[code]

On Windows or Linux, when IPv6 is "disabled", apps can still bind to IPv6 sockets without er

[2016-08-15 21:16] KLuuKer commented on #245
yes it is definitely a bunch of slow request making all the other request wait in line to get processed
i have put a simple cache around my image resizing logic and when its all warmed up it runs super fast
but get 60~90+ active request's and o boy it slows to a crawl

[2016-08-15 21:23] Tratcher commented on #245
Now that we have some idea of the scenario, have you tried it again with just Kestrel? We'll see if it's an issue with Kestrel or IIS/ANCM.

[2016-08-15 21:32] KLuuKer commented on #245
@Tratcher will try tomorrow UTC+01:00 so no time for fun stuff today

[2016-08-16 00:43] veccsolutions commented on #245
I thought I would mention (and add more information) that I too am having the same issues but with a slightly different setup. The 502's will stop after the long running requests stop and I don't need to restart the app pool. While it's paused I get random 404's. I'm able to reproduce it on demand, I just have to send in about 30-40 long running requests at the same. Not sure if it matters, the so

[2016-08-16 00:45] #242 closed

[2016-08-16 17:00] muratg commented on #245
We're looking at @jruckert's process dump, though in the meantime, could someone try and see if they can reproduce the issue without AspNetCoreModule (i.e. without IIS)?

[2016-08-16 17:41] shirhatti commented on #235
@muratg We will fix this in 1.1.0

An environment variable defined in `web.config` will take precedence over the system environment variable

[2016-08-16 22:32] veccsolutions commented on #245
While running the solution without IIS I was able to reproduce the same timings that I posted but not the 404's and 502's. I'm not sure if this helps, but it's more information. While it's taking forever, pressing Ctrl+C doesn't kill the process.

[2016-08-17 01:50] JunTaoLuo commented on #236
Removal of Kestrel feature tracked in https://github.com/aspnet/KestrelHttpServer/issues/1050

[2016-08-17 03:58] #236 closed

[2016-08-17 07:31] davidfowl commented on #245
Ctrl+C lets requests unwind gracefully for some period of time before tearing things down. So if you have long running requests it would hang for a little.

[2016-08-17 13:10] ardacetinkaya opened #252 ""HTTP Error 502.5 - Process Failure" asp.net core error in Azure"
Hi;
I just deployed my asp.net core app to azure which I developed in mac os x. It is successfully build and run on my local environment.

But when I browse the app on Azure site, I got the following error.

![screen shot 2016-08-17 at 3 58 31 pm](https://cloud.githubusercontent.com/assets/4550197/17737018/80d6113a-6493-11e6-8ed7-b265267159d6.png)

I checked the link in error https://docs.asp.net/

[2016-08-17 13:16] ardacetinkaya commented on #252
I have also below properties for project.json

[code]

[2016-08-17 15:07] Tratcher commented on #252
Check your event logs in D:\home\Logfiles\EventLog.xml
RE: https://blogs.msdn.microsoft.com/puneetgupta/2014/09/24/azure-website-siteextension-to-view-eventlogs/

[2016-08-17 16:21] veccsolutions commented on #245
Good to know. Would that be why sometimes when I stop the app pool the dotnet process doesn't terminate right away?

[2016-08-17 16:22] muratg commented on #245
cc @yuwaMSFT

[2016-08-17 16:42] muratg commented on #39
@shirhatti Is the change not in ANCM? Why assign it back to @Tratcher

[2016-08-17 17:41] shirhatti commented on #39
Repro app https://github.com/shirhatti/ConnectionCloseRepro

[2016-08-17 17:42] shirhatti commented on #39
@muratg I'll assign it to @jhkimnew to further investigate

[2016-08-19 14:48] petersonfs commented on #179
I installed the VS 2015 redist x64 from link (http://download.microsoft.com/download/8/c/b/8cb4af84-165e-4b36-978d-e867e07fc707/vc_redist.x64.exe) and I can install the dotnet core windows hosting successfully.

The correct version is: 14.0.23918

The RC2 works on 2K12 R2 Server

Thank you @joeloff

[2016-08-19 15:33] joeloff commented on #179
@petersonfs Glad to hear it worked!

[2016-08-22 22:10] shirhatti commented on #249
@jhkimnew Can you investigate?

[2016-08-22 22:16] shirhatti commented on #203
@muratg This was by design. We don't see enough people asking for this to be done.
I'm leaving this issue open to gather feedback, but right we don't plan on changing behavior

[2016-08-22 22:17] shirhatti commented on #201
Closing. Feel free to re-open if you are able to repro this issue

[2016-08-22 22:17] #201 closed

[2016-08-22 22:24] shirhatti commented on #173
We don't have concrete % overhead since we haven't protoyped it. However, we are confident there will be a perf impact looking at the code path.
Since there are multiple config changes required (see also #171), we think it's best to document it in a debugging document.

[2016-08-22 22:24] #173 closed

[2016-08-22 22:24] shirhatti commented on #171
Same as #173

[2016-08-22 22:24] #171 closed

[2016-08-22 22:28] shirhatti commented on #35
@jhkimnew Can you try and repro this issue?

[2016-08-23 11:33] jugglingthebits opened #253 "802 Bad Gateway when request takes > 2 minutes"
I am runnning an aspnet core 1.0 app (on .net framework, not dotnet core) behind an IIS 8.5 on Windows Server 2012 R2.

Now, while web app and services work, I have one service that often takes 3-4 minutes until it returns with an 200 OK. I have logging enabled and the framework reports that a 200 OK is sent. However, IIS returns 802 Bad Gateway around 2 minutes after the request was sent.

I assu

[2016-08-23 15:00] Tratcher commented on #253
Set See requestTimeout in the web.config. See:
https://docs.asp.net/en/latest/hosting/aspnet-core-module.html#configuring-the-asp-net-core-module

[2016-08-23 16:40] wpostma commented on #245
I have successfully reproduced a similar issue, and have created a VM on azure and can give credentials to log in remotely to anybody from MS who wants to have a look.

1.  created one IIS app pool and deployed MULTIPLE apps to the same pool because it seemed the only way to make url rewriting work.
2.  The apps work, although they don't auto start, they start manually when you access them via the

[2016-08-24 08:58] MortenChristiansen opened #254 "Enable Windows authentication"
I have enabled Windows authentication in my website and it works when running in IIS Express. In IIS, however, the `ControllerBase.User` is a `ClaimsPrincipal` instead of a `WindowsPrincipal` which it is in Express.

I have set `"windowsAuthentication": true` and `"anonymousAuthentication": false` in `launchSettings.json` and `forwardWindowsAuthToken="true"` in `web.config`.

This whole issue migh

[2016-08-24 09:29] jugglingthebits commented on #253
Thanks for the link! Works perfectly.

Closing this issue.

[2016-08-24 09:29] #253 closed

[2016-08-24 10:22] Tratcher commented on #254
Launchsettings only apply in visual studio, they are not published as part of your app. For IIS, auth should be configured in the management UI or web.config.

[2016-08-24 10:39] MortenChristiansen commented on #254
Ah, the missing part was that I needed to add the Windows Authentication feature to Windows and enable it in IIS.

[2016-08-24 10:39] #254 closed

[2016-08-24 18:54] jhkimnew commented on #249
This is by design.

ANCM setup uses the local system account of the machine and if the system account does not have the access permission to the share path which is used by the IIS shared configuration, it skip configuring ANCM settings to the applicationhost.config on the share path directory because it ran into the access denied error.

Generally, we don’t recommend to install any IIS oob projec

[2016-08-24 21:41] ahjephson commented on #249
If it is by design then that is fine. The  installer is not providing adequate feedback to the user as to why the install failed.

[2016-08-24 23:48] muratg commented on #249
@shirhatti @pan-wang @jhkimnew Is it possible to detect and provide better feedback while installing? Or should we just document this?

[2016-08-25 00:04] jhkimnew commented on #249
I think we need to document this. I already asked Sourabh about that.
I’d like to inform that the ANCM setup program is supposed be called only when installing the .Net Core bundle packages, which means that it will run in silent mode and users won’t be able to see any error.

From: Murat Girgin [mailto:notifications@github.com]
Sent: Wednesday, August 24, 2016 4:48 PM
To: aspnet/IISIntegration <I

[2016-08-25 00:06] shirhatti commented on #249
Created a bug on the docs repo to track this

[2016-08-25 08:17] gregkalapos commented on #235
But why isn’t this part open source? Or I just did not find it?

[2016-08-25 16:02] muratg commented on #249
Cool, thanks folks!

[2016-08-25 16:02] #249 closed

[2016-08-25 16:03] muratg commented on #235
@gregkalapos ANCM will be open source soon.

[2016-08-25 21:12] natemcmaster commented on #245
We've done some investigation of the repros and memory dumps. So far, we haven't found one single bug causing IIS + Kestrel to fall down.  Rather, it appears the downfall is 'death by a thousand papercuts'.

I've gathered a list of some of the issues we've found, some already alluded to in responses above. The issues range from user code to low-level IIS issues. This is by no means an exhaustive l

[2016-08-26 19:23] wpostma commented on #245
Does IIS try more than once to restart the app or having picked the wrong working directory does it sit there and not retry?

[2016-08-26 20:56] pan-wang commented on #245
ANCM will try to start Krestrel for every request if the process has not been started yet. I looked at the log and noticed that a wrong application physical path was used for starting Krestrel for some cases under stress. This may relate to your scenario that you use url-rewrite to redirect the requests which will recreate a child request. Under stress, IIS may resolve wrong root context to the pa

[2016-08-30 02:49] veccsolutions commented on #245
Well, I found a workaround, at least the hanging stopped anyways. In program.cs, where we call .UseKestrel, I set it to use 1000 threads for the kestrel server. 1000 is way more than I will need at a given time and haven't tried lower values. I have yet to get it to hang after that change. I'm now pushing 100+ requests at a time with no issues or slow downs. Digging through the code it looks like

[2016-08-30 22:49] Tratcher opened #255 "IIS Cannot find web.config when publishing a .netcore with only .net46"
_From @gustyn on August 30, 2016 22:37_

This code is similar to issue #801 but slightly different.....

When I publish my .net46 MVC project using the ASP.NET Core Web Application (.NET Framework) template i get a HSC500 error.  When viewing the streaming logs I can see the message:

[code]

my project.json file is as follows:

[code]

_Copied from original issue: aspnet/Hosting#845_

[2016-08-30 23:38] gustyn commented on #255
Sorry, forgot to mention it was published to Azure

[2016-09-02 18:28] ferdelfino opened #256 "HTTP Error 502.5 - Process Failure"
Hi, I'm having a problem with a portable app hosted on IIS.  If I start it from command line it works but IIS cannot do it,
The event viewer shows this error -> Failed to start process with commandline '"dotnet" .\WebApps.dll', ErrorCode = '0x80070002'.
I've went through the list of possible causes here (https://docs.asp.net/en/latest/publishing/iis.html#common-errors) and everything looks good.
T

[2016-09-02 21:15] GuardRex commented on #256
@Tratcher @shirhatti @moozzyk After chatting with @t-delff on Slack, I thought it might be along the lines of https://github.com/aspnet/IISIntegration/issues/228, but there don't seem to be any obvious access problems for the App Pool identity in this case. I suggested to @t-delff to open here for additional discussion.

[2016-09-02 22:04] moozzyk commented on #256
0x80070002 is file not found. Maybe use process monitor which file it is trying to access and can't find? In the early days IIS in some cases could not find schema for HttpPlatformHandler and we figured it out this way.

[2016-09-02 22:10] GuardRex commented on #256
@t-delff Your `web.config` is at the app base path (same folder as the app's DLL), correct? https://docs.asp.net/en/latest/hosting/directory-structure.html

[2016-09-02 22:11] t-delff commented on #256
Yes, both web.config and app.dll are on the root folder and the same used for the Virtual inside the Web Site

[2016-09-02 22:16] GuardRex commented on #256
Do you have two `web.config` files at play then? If so, the sub-app `web.config` shouldn't have a `<handlers>` section.

[2016-09-02 22:22] t-delff commented on #256
No, the web site don't have a web.config.  I tried to use a website first but then I moved to a virtual.

[2016-09-02 22:24] GuardRex commented on #256
Oh, ok. Just checking.

You could look and confirm based on what @moozzyk said and just make sure the schema file (`aspnetscore_schema.xml`) for the module is in position ...

![capture](https://cloud.githubusercontent.com/assets/1622880/18219781/020d62ee-7132-11e6-99bd-40689693767f.PNG)

[2016-09-02 22:28] t-delff commented on #256
Yes, it's in place
![image](https://cloud.githubusercontent.com/assets/21087258/18219866/711ff21c-7143-11e6-98ad-7ae41c04d304.png)
Should I check for a value inside it?

[2016-09-02 22:45] GuardRex commented on #256
Prob not the issue ... 3KB is the correct file size.

Other than what @moozzyk said about trying to figure out what it can't find with Process Monitor (a method that I'm not familiar with), I don't see why a file not found would occur.

You might want to try setting up the app as a self-contained app, which would eliminate firing the `dotnet` command directly:

1. Take `"type": "platform"` off of

[2016-09-02 22:51] moozzyk commented on #256
I said in our case it was the schema file but I didn't think it was the case here since the error message you got was already from AspNetCoreModule so IIS must have loaded AspNetCoreModule correctly. What I tried to say was that you can use the same technique to figure out what file it is not able to load and this should give you a hint where to look.

[2016-09-02 23:07] GuardRex commented on #256
@moozzyk A side note to this issue but a good point to check for the next update to the Publish to IIS doc. I'd like to see what happens when the schema file is missing/corrupt (unloadable) and perhaps add that to the common errors.

@t-delff There is another general troubleshooting step that can sometimes clear a strange issue. In this case if the file that cannot be found has something to do wit

[2016-09-02 23:11] moozzyk commented on #256
@GuardRex - why would schema be missing  and why would it be a common error? You can probably already follow a common sense guideline like "if ANCM is not working correctly reinstall ANCM". The tricky part is to figure out the "ANCM is not working part" (vs. application misconfiguration)

[2016-09-02 23:16] GuardRex commented on #256
Point taken. I'm always looking for ways to make that section just a little bit better, but true, that's too exotic of an issue to sweat.

Also, ^^ my note above can't directly help (although not bad for @t-delff to see) when `dotnet` can run his app from the command line. There isn't much else tho, is there? ... The module ... the schema file ... the `web.config` ... the `dotnet` command ... and

[2016-09-02 23:22] moozzyk commented on #256
permissions - IIS runs as a different user

[2016-09-02 23:32] GuardRex commented on #256
ah ... gotcha ... then perhaps something similar to #228 after all.

@t-delff Word from a :pray: server god :pray: is Process Monitor. This holiday weekend, don't forget to sacrifice a case of :beer: to @moozzyk! :smile:

I'm not familar with the approach, but a quick search turns up several explanations along the lines of http://www.codeproject.com/Articles/560816/Troubleshooting-dependency-resol

[2016-09-03 01:14] moozzyk commented on #256
Start proc mon. Stop capturing events (Ctrl + E). Filter by process name - my guess you will need w3wp.exe and dotnet.exe. Clear events (Ctrl +X). Start capturing events (Ctrl + E). Make a request to your app. Once it fails stop capturing events (Ctrl + E). Review the events. Inspect ones whose status is FILE NOT FOUND - you should see in the details what file it is trying to access and whether th

[2016-09-03 01:29] moozzyk commented on #256
One more thought. Have you actually changed the global %PATH% to include the folder where `dotnet.exe` lives *and* restarted the server with iisreset.exe? Maybe the file that cannot be found is just the dotnet.exe and this is because it is not on the %path%? Note that you need to reset IIS hard for the change to %PATH% to be picked up.

[2016-09-05 12:39] philmh-isams commented on #239
Is there a workaround for this exception?
[code]

[2016-09-05 18:21] t-delff commented on #256
@moozzyk, after reading your comment about hard reset on IIS I realized that the server wasn't restarted by IT so I requested it. Then, bingo, problem solved!
Thank you and also thanks to @GuardRex, you were really helpful with the issue.

[2016-09-05 18:33] GuardRex commented on #256
I didn't think that would be a prob because it ran from the command line without the full path to `dotnet.exe`; however, I think @moozzyk is going to say that this has more to do with IIS picking it up than being able to access `dotnet` from the command line.

I need to add the line ...

to the troubleshooting suggestions for the **Incorrect proecessPath, missing PATH variable, or dotnet.exe acces

[2016-09-06 16:27] #241 closed

[2016-09-06 17:14] Tratcher commented on #241
Why was this closed?

[2016-09-06 17:20] pranavkm commented on #241
@pakrym said this works xplat today without having to do any work.

[2016-09-06 18:10] moozzyk commented on #256
@GuardRex _I didn't think that would be a prob because it ran from the command line without the full path to dotnet.exe_ :arrow_right:  https://github.com/aspnet/IISIntegration/issues/256#issuecomment-244508991 (after dash)

[2016-09-06 19:26] halter73 commented on #239
@philmh-isams The error is benign, so I would just ignore the warning for now. If you were configuring the endpoint directly using `UseUrls()`, I would recommend changing "localhost" to "127.0.0.1". If you absolutely must work around this, something like the following would work:

        public static void Main(string[] args)
        {
            var hostBuilder = new WebHostBuilder()

[2016-09-06 21:02] Tratcher commented on #255
What does your site layout look like?

[2016-09-06 22:28] pan-wang commented on #240
ANCM code assumes IIS websocket module will add this sub protocol and thus does not add it for perf optimization. It seems this assumption is wrong. Will fix it in next release.

[2016-09-07 08:57] philmh-isams commented on #239
@halter73 Thank you for your reply. You are right, I don't need to do it, but someone else finding this thread might - so thank you for that.

I will continue to ignore the issue. At first, I thought it was the reason for my service on Azure failing, but it was another configuration issue.

[2016-09-07 19:07] gilgenast commented on #256
I’ve went through all the items contained in #common-errors section, still was getting 0x80070002 error with an empty log file.  No problems when running from command line using Application Pool account. I was restarting IIS server all the time. The last resort was to reboot the Windows Server. Voilà, it works!!!

[2016-09-07 19:09] ferdelfino commented on #256
That's exactly what happened to me, only Windows restart fixed it!

[2016-09-07 19:15] GuardRex commented on #256
@gilgenast @ferdelfino We'll need a clarification from @moozzyk.

[2016-09-07 21:30] muratg commented on #239
@davidebbo @mikeharder Any updates on Antares investigation?

[2016-09-07 21:34] muratg commented on #252
@ardacetinkaya Can you also share the `web.config` file in your publish path?  `publish-iis` modifies that file (or is supposed to modify it)

[2016-09-07 21:36] davidebbo commented on #239
Sorry, no. Can you start internal thread so I can loop in people who know more about this and are not on GitHub? Thanks.

[2016-09-07 21:57] muratg commented on #239
@davidebbo done.

[2016-09-07 22:45] moozzyk commented on #256
I think that restarting IIS from the management console does not cut it. If `iisreset` did not work then I don't know - I did observe that the changes to the global %PATH% were not picked up until I restarted IIS with `iisreset` but I did not have to reboot the box.

[2016-09-07 23:07] GuardRex commented on #256
I read a little on it, and it seems that one possible negative outcome of the command-line IISReset is how it shuts down services that don't shut themselves down in a timely fashion when the utility is run, which can lead to config changes not getting saved properly.

The options are ...
* Test thoroughly and see if iisreset and/or console work to preserve these options for admins if either or bot

[2016-09-07 23:35] pan-wang commented on #256
IIS worker process w3wp.exe is a child process of windows WAS service. If user wants w3wp to pick up some newly added PATH value, we always recommend user to do "net stop WAS" and then "net start w3svc". See this KB https://support.microsoft.com/en-us/kb/236166. Could you please address more about "config changes not getting saved properly"

[2016-09-07 23:42] GuardRex commented on #256
From this one: https://support.microsoft.com/en-us/kb/286196

Not that that is a problem specific to this situation. It just caught my eye that IISReset had an effect on IIS that was different than `net stop/net start` as they discuss in the workaround.

If you think it best that the guidance just say "restart the server," then I'm all good with that. Just let me know which way you want to go with

[2016-09-08 00:49] pan-wang commented on #256
iisreset is not supported on windows 7 and above per https://technet.microsoft.com/en-us/library/dd364067(v=ws.10).aspx. The recommendation is to call net stop and net start or reboot the server.

[2016-09-08 00:56] GuardRex commented on #256
Ah ... gotcha.

So the conclusion is to modify that doc language to say either (a) restart the server, or (b) execute `net stop` and `net start` from the command-line.

Are the commands more specific than that? i.e. ... `net stop iisadmin /y` and then `net start w3svc`, or it is just literally `net stop` and `net start`?

[2016-09-08 03:24] moozzyk commented on #256
Thanks @pan-wang. I did not know that.

[2016-09-08 16:44] muratg opened #258 "Msbuildify tools"
### Microsoft.AspNetCore.Server.IISIntegration.Tools
  - Expect to run via MSBuild

### TODO
  - Fork tools repos to `rel/1.0.0-preview3` branches for "October" release. Dev branches will continue to be used for 1.1 release.
  - Use desktop msbuild to start our work until the new msbuild is ready for   consumption

### Notes
  - [This](https://github.com/aspnet/Coherence-Signed/issues/375) tracks

[2016-09-08 17:34] ardacetinkaya commented on #252
@muratg you can close this issue,after some check I found the problem which is related with my configuration.

[2016-09-08 17:34] #252 closed

[2016-09-08 17:44] pan-wang commented on #256
@GuardRex IIS7 and above have totally different configuration system compared with IIS6 and below.   Most content in the KB https://support.microsoft.com/en-us/kb/286196  is not applied to IIS7 and above, e.g.,  some services got renamed and some got deleted.   Back to your question, we should recommend specific command "net stop was /y" to stop iis services (automatically including w3svc) and the

[2016-09-08 18:29] GuardRex commented on #256
@pan-wang Cool. Is it ok to leave 'restart the server' as an option?

How about language like this for the instruction in the doc ...

... and in troubleshooting ...

[2016-09-12 17:14] Tratcher opened #261 "ASP.NET Core 1.0 app_offline.htm IIS 8.5 hosting with AspNetCoreModule"
_From @gencebay on September 4, 2016 20:34_

ASP.NET Core 1.0 App on hosting IIS 8.5 with AspNetCoreModule but during **msdeploy** that puts **app_offline.htm** (as I want) to the root path of application then each request getting only plain-text content of the **app_offline.htm** file. It doesn't seem to send Content-Type header to the browser. Its working on the IE but not the others! (webkit ba

[2016-09-12 17:14] Tratcher commented on #261
Duplicate of https://github.com/aspnet/IISIntegration/issues/178, which should have been fixed for 1.0

[2016-09-12 17:14] Tratcher commented on #261
_From @muratg on September 7, 2016 21:24_

@gencebay Are you using the latest AspNetCoreModule?

[2016-09-12 17:14] Tratcher commented on #261
_From @gencebay on September 8, 2016 9:24_

.NET Core and AspNetCoreModule versions:

![netcorestackdetails](https://cloud.githubusercontent.com/assets/879469/18344077/8d5c663e-75be-11e6-93f5-5906dab0c542.PNG)

[2016-09-12 17:14] Tratcher commented on #261
_From @gencebay on September 8, 2016 10:0_

When I uninstall .NET Core SDK Preview 2 and just remain .NET Core 1.0.0 Runtime then worked. Its getting right page for http://localhost:8080 but its getting **The service is unavailable** (as plain text) for http://hostname:8080 when app_offline.htm in root path!

[2016-09-12 17:14] Tratcher commented on #261
http://localhost:8080 and http://hostname:8080 are different from IIS's perspective. What's your actual binding in IIS? Does http://hostname:8080 work without the app_offline.htm?

[2016-09-12 17:14] Tratcher commented on #261
_From @gencebay on September 8, 2016 16:9_

IIS binding is type:http port:8080 yes it is working without the app_offline.htm on http://hostname:8080

[2016-09-12 17:14] Tratcher commented on #261
I cannot repro this with IIS 10.

[2016-09-12 17:14] Tratcher commented on #261
_From @gencebay on September 8, 2016 21:19_

For your information, my release management steps are:

$(Build.DefinitionName) = Api
`dotnet publish -c Release -f net46 -o %cd%\bin\$(Build.DefinitionName)`

`msdeploy -verb:sync -source:contentPath=%cd%\bin\$(Build.DefinitionName)\ -dest:package=$(buildFullPath)\$(Build.DefinitionName).zip -declareParam:name="IIS WebApplication Name",defaultValue="$(

[2016-09-13 08:35] iwasdavid commented on #252
@ardacetinkaya what was the issue with your configuration? I'm having the same problem.

[2016-09-15 10:35] KLuuKer commented on #245
Even with 1.0.1 and the ThreadCount set to 500 it still happens in production
i am more then happy to try beta builds

[2016-09-15 17:06] videege opened #262 "AspNetCoreModule throws 500 error for requests that specify relative quality in the Accept header"
### IIS & IIS Express return a 500.0 response for a request that specifies a q=# in the Accept header

### Functional impact
Causes all requests to fail mysteriously with a 500 response generated by the AspNetCoreModule.

### Minimal repro steps
Finally found this cause of some mysterious 500 errors we were seeing in our APIs.  If you specify an Accept header to any API request, such as:

`text/ht

[2016-09-15 17:10] Tratcher commented on #262
What makes you think this is an AspNetCoreModule issue? Does it reproduce if you run Kestrel independently?

[2016-09-15 17:11] videege commented on #262
To be honest, I'm not sure - it could be a Kestrel issue (I will run some tests now).  I assumed it was the module issue because I don't see the error with RC1 apps running under the HttpPlatformHandler module.  Also, this error appears to occur before any application or Kestrel code is invoked.

[2016-09-15 17:14] videege commented on #262
Well, it looks like you're right.  Running directly under Kestrel I can see that the error is in there:

[code]

[2016-09-15 17:18] videege commented on #262
Sorry, looks like I should be filing an issue in the Mvc repo.  Thanks for pointing me in the right direction.

[2016-09-15 17:18] #262 closed

[2016-09-15 17:18] Tratcher commented on #262
Looks like a duplicate of https://github.com/aspnet/Mvc/issues/5150

[2016-09-16 14:41] sam-wheat opened #263 "500 error when trying to access sub-application"
Hi, I wrote up  a ticket on IIS.Net but after looking there a bit I think this is the more appropriate place.
Would you guys  mind taking a look?  I'm probably missing some config item - a push in the  right direction will be much appreciated.

http://forums.iis.net/t/1233590.aspx?500+error+when+trying+to+access+sub+application

[2016-09-16 16:14] Tratcher commented on #263
If you set your ASPNETCORE_ENVIRONMENT to Development you will get a more detailed error page.

[2016-09-16 17:23] ZombiesWithCoffee commented on #252
I upgraded to asp.net core 1.0.1 today and this started appearing for me.

I'd assume that it might have something to do with the project.json file.  I wonder if we need to add a new line to the 'runtimes' section.

    "runtimes": {
        "win10-x64": {}
    },

[2016-09-16 17:48] ardacetinkaya commented on #252
@iwasdavid my problem is about application path that I do the deployment. There was wrong binaries.

@ZombiesWithCoffee I am not sure but .NET Core in Azure might be still 1.0.0

[2016-09-16 18:01] muratg commented on #252
@ZombiesWithCoffee if @ardacetinkaya's comment doesn't help, please share your web.config (in the publish path).

[2016-09-16 18:23] ZombiesWithCoffee commented on #252
Will do muratg,

I've been posting to my Azure website nearly daily with updates without any issue.  Once I upgraded to 1.0.1 this morning, I now only get **HTTP Error 502.5 - Process Failure**.  Uninstalling only made things worse.

web.config

'<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNe

[2016-09-16 18:30] moozzyk commented on #252
Either you showed web.config before publishing or publish-iis failed (should print an error). These:
`processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%"` should be replaced with the actual values.

[2016-09-16 18:34] ZombiesWithCoffee commented on #252
You're right.  I showed the 'before' web.config - I was sitting here editing my post at least 20 times to get the formatting right.

Here is the post process web.config

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore pr

[2016-09-16 18:40] moozzyk commented on #252
This config looks good. Check the Azure equivalent of event log. Also, enable std out logging (by flipping `stdoutLogEnabled` to `true` and check the contents of the stoud file. You should get some details as to what is happening.

[2016-09-16 19:28] ZombiesWithCoffee commented on #252
Excellent suggestion on the stdoutLogEnabled.

I'm finally seeing *something*.

         fail: Microsoft.EntityFrameworkCore.Query.Internal.SqlServerQueryCompilationContextFactory[1]
         An exception occurred in the database while iterating the results of a query.
      System.TypeInitializationException: The type initializer for 'System.Data.SqlClient.TdsParser' threw an exception. ---> Syst

[2016-09-16 19:30] moozzyk commented on #252
I wonder if it is a bitness issue. @divega will know more.

[2016-09-16 19:41] muratg commented on #252
Yeah I suspect @moozzyk is correct. Azure Websites do not support 64 bit apps currently. I recommend trying out 32 bits

[2016-09-16 19:45] ZombiesWithCoffee commented on #252
Err, I've been posting my site on Azure since asp.net core went live.  Why does an upgrade to 1.0.1 break it?

[2016-09-16 21:44] pan-wang commented on #245
@KLuuKer  I have an ANCM private addressing the child request and some other issues. This private may help if you used urlrewrite module. If you want to give a try, please let me know.

[2016-09-16 21:50] pan-wang commented on #261
Was the app_offline.htm file really uploaded to application targeted folder? What kind of file system was used by the UNC file server?

[2016-09-16 22:21] ZombiesWithCoffee commented on #252
So @moozzyk or @muratg, does anyone have any suggestions on how to get my website back up and running again?  This version 1.0.1 is an absolute development killer.

[2016-09-16 22:32] moozzyk commented on #252
/cc @bricelam

[2016-09-16 22:51] pan-wang commented on #228
ANCM calls CreateProcess() to launch Krestrel. It logs the error code from GetLastError() in case of CreateProcess failed. In this case, GetLastError()  returns 0x80070002 and no way for ANCM to figure out the real root cause. I will update the 502.5 error page to include this failure scenario and hope it will help.

[2016-09-16 22:55] GuardRex commented on #228
Thanks @pan-wang.

I'll leave this one in the Publish to IIS doc troubleshooting where it is.

[2016-09-17 00:33] divega commented on #252
@saurabh500 see https://github.com/aspnet/IISIntegration/issues/252#issuecomment-247686538. Any changes in SqlClient in 1.0.1 that could cause issues with loading sni.dll again?

[2016-09-17 00:35] saurabh500 commented on #252
@divega No changes from Data team for 1.0.1 to SqlClient

[2016-09-17 01:11] divega commented on #252
Thanks @saurabh500. @muratg should we reactivate this or create a new issue? Also, do you think this could be an issue with the shared framework?

It has been reported also at https://blogs.msdn.microsoft.com/webdev/2016/09/13/asp-net-core-sept-2016-patch/#comments

[2016-09-17 01:56] sam-wheat commented on #263
Thank you Tratcher!!!

[2016-09-17 01:56] #263 closed

[2016-09-17 06:44] gencebay commented on #261
Yes the app_offline.htm file exactly uploaded to the application folder. Interesting part is that http://localhost:8080 is working with the app_offline.htm (html and page rendering are ok) but http://<dns-or-hostname>:8080 does not work that only getting "service unavailable" as plain text. UNC file server is Windows Server 2012 and default file system used we don't have any customization for it.

[2016-09-17 07:27] KLuuKer commented on #245
@pan-wang  I am not using the urlrewrite module, but i would love to give it a try non the less
you can DM me on https://twitter.com/KLuuKer for the link
any specific instructions about installing the private and installing a new public version when it comes out?

[2016-09-17 12:28] ZombiesWithCoffee commented on #252
Could it have something to do with the new "runtimes" requirement in project.json?  I had to add it just to get 1.0.1 to run locally.  Is there a different runtime for Azure?

        "runtimes": {
            "win10-x64": {}
        },

When I browse my website on Server Explorer, I see

        /Files/runtimes/win
        /Files/runtimes/win7-x64
        /Files/runtimes/win7-x86

[2016-09-18 13:33] ZombiesWithCoffee opened #264 "Upgrade to 1.0.1 produces: Unable to load DLL 'sni.dll'"
I'm writing an ASP.NET Core Web Application with EF Core.  I've published to Azure about every other day without a problem until I upgraded to 1.0.1

This is a continuation of the discussion from
[https://github.com/aspnet/IISIntegration/issues/252#issuecomment-247737733](url)

The log files are reporting the issue twice.

- Microsoft.EntityFrameworkCore.Query.Internal.SqlServerQueryCompilationCon

[2016-09-18 15:35] ZombiesWithCoffee commented on #264
Part of my frustration here is that I am unable to revert back to 1.0.0 successfully.  My website is now down.

Restoring my project.json file back let's me view home pages and login pages, but any page that has any database manipulation shows

`info: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
      Request starting HTTP/1.1 GET http://safeinvestigation.azurewebsites.net/
warn: Microsoft.Asp

[2016-09-18 20:12] ysilvestrov commented on #252
I have the same issue; does anyone have any suggestions to fix it?

[2016-09-18 20:17] ZombiesWithCoffee commented on #252
I'm trying something out, I hope to let you know in 30 more mins.

[2016-09-18 20:28] ZombiesWithCoffee commented on #252
I finally figured out the issue!  When you upgraded your app, your 'Microsoft.NETCoreApp' setting in your project.json was changed to

`        "Microsoft.NETCore.App": "1.0.1",`

This generated an error message that told us to change the project file to include a runtime section.  So I changed mine to this after reading several posts.

`"runtimes": {
    "win10-x64": {}
},`

The **correct** answe

[2016-09-18 20:32] ZombiesWithCoffee commented on #264
I have discovered the upgrade error and the fix.

With v1.0.0, the project.json file had the following entry.
`    "Microsoft.NETCore.App": {
      "version": "1.0.0",
      "type": "platform"
    },`

When upgrading to v1.0.1, it was changed to

`        "Microsoft.NETCore.App": "1.0.1",`

I fixed the issue by going back to the original format.

`    "Microsoft.NETCore.App": {
      "version": "1

[2016-09-18 20:42] #264 closed

[2016-09-18 21:01] ysilvestrov commented on #252
@ZombiesWithCoffee Thanks, it works now!

[2016-09-19 09:22] Inrego commented on #179
Just chiming in to say that I had installation problems too. After looking at this issue, I manually installed the VS 2015 redist linked here, and then the installation worked.

[2016-09-19 14:40] andersnm opened #266 "AspNetCoreModule returns "The service is unavailable." on IIS 7.5"
Hi!

We have two servers "staging" and "live" running an ASP.NET Core RC1 application currently using HttpPlatformHandler. Our app has run fine for months on RC1.

"Staging": Windows Server 2012, IIS 8
"Live", Windows Server 2008 R2, IIS 7.5

Now we have updated our app to RTM and want to deploy-

First we installed AspNetCoreModule and deployed our RTM-updated app on staging, this went really smo

[2016-09-19 16:57] pan-wang commented on #261
So app_offline feature does work. For http://:8080, I think this is because you did not give the hostname. The webclient/browser may use other default hostname (or empty) than localhost. You can use netmon to capture the network traffic to see which host name  was really used.

[2016-09-19 17:17] NormanMann opened #267 ".NET Core 1.0.1 Windows Server Hosting Bundle Installation failed -0x80070490"
I just tried installing the Microsoft .NET Core 1.0.1 Windows Server Hosting Bundle on two different Windows 2012 Servers. Both attempts failed with Error "Element not found"

[log.txt](https://github.com/aspnet/IISIntegration/files/480669/log.txt)

I downloaded from here: https://go.microsoft.com/fwlink/?LinkID=827547

[2016-09-19 18:56] Tratcher commented on #267
@mikeharder does this look like the same corfx installer issue you were seeing?

[2016-09-19 18:59] mikeharder commented on #267
@Tratcher, @NormanMann: Yes.  Here's the main issue which includes a workaround:

https://github.com/dotnet/cli/issues/4190

[2016-09-19 19:14] Tratcher commented on #266
@pan-wang?

[2016-09-19 20:41] pan-wang commented on #266
Did the Krestrel process start? Could you please take a look at Windows event log to see whether there is anything suspicious?

[2016-09-19 22:03] shirhatti commented on #266
@andersnm Can you share your FREB logs as well?

[2016-09-19 22:51] shirhatti commented on #199
@jhkimnew Can you look into this?

[2016-09-20 09:07] ph1ll commented on #231
For the record, the underlying issue is the fact that `WindowsIdentity.AuthenticationType` makes a win32 call to `LsaGetLogonSessionData`

http://referencesource.microsoft.com/#mscorlib/system/security/principal/windowsidentity.cs,19b8c53c3eacbf53

MSDN page for LsaGetLogonSessionData states "To retrieve information about a logon session, the caller must be the **owner of the session** or a **loca

[2016-09-20 10:00] andersnm commented on #266
There are no suspicious entries in the Windows event log / Event Viewer.

Here is a fresh FREB log requesting from the site with App_Offline.htm in place:
http://pastebin.com/aPY50tK8 (expires in a month)

After further testing, I have found the following;

1. My report above is likely what happens when the "Server Service" is stopped: My guess is ANCM fails with "Service unavailable." and zero hi

[2016-09-20 19:42] mythz opened #268 "Using Kestrel with IISIntegration in IIS Express buffers, preventing SSE from working"
I'm seeing different behavior when running [Kestrel self-hosting](https://github.com/ServiceStackApps/NetCoreApps/blob/master/src/ChatSelfHost/Program.cs) (which doesn't buffer) vs running [Kestrel with IIS Integration](https://github.com/ServiceStackApps/NetCoreApps/blob/master/src/Chat/Program.cs) which seems to buffer 1 write.

When running with `IISIntegration()`, in order to flush what was pr

[2016-09-20 20:26] pan-wang commented on #266
If app_offline.htm exists in the application root folder, ANCM will set the response status to 503. So 503 is expected instead of a surprise here. Did the content inside app_offline.htm file server? Was the FREB log captured with app_offline.htm presented?  Was Krestrel process created if you rename the app_offline.htm.
You mentioned "server service", could you please be more specific about the se