[2015-09-26 16:20] Tratcher opened #1 "Implement a full authentication handler"
To enable mixed anonymous and windows auth the PlatformHandlerMiddleware must implement the IAuthenticationHandler contracts for Authenticate, Challenge, and Forbidden. Open questions:
- Should it be 'automatic', always processing the incoming identity and always responding to Challenges? This may need to be configurable.
- How can it know what auth is enabled in IIS? This may need to be configure

[2015-09-27 05:20] Tratcher opened #2 "[HttpPlatformHandler]: Forward common headers from reverse proxy"
_From @davidfowl on September 11, 2015 16:11_

This bug is to track the work that needs to happen so that items forwarded from httpplatformhandler show up in the user's application.

There are several parts to this:

- Windows Auth (coming soon)
- Client certs (not yet available)
- Https scheme

We could do some of it in middleware (like WindowsAuth) but that would mean it wouldn't work out of the

[2015-09-27 05:20] Tratcher commented on #2
Also of interest are the remote ip & port and the reverse proxy public IP & port. I'd recommend doing it all in middleware.

Eventually we'll need the TLS token binding.

[2015-09-27 05:20] Tratcher commented on #2
_From @davidfowl on September 11, 2015 16:41_

I think scheme is the only one we'd want to support by default.

[2015-09-27 05:20] Tratcher commented on #2
HttpPlatformHandler needs to forward them all, it's up to the app how many forwarders they check.

[2015-09-27 05:20] Tratcher commented on #2
_From @davidfowl on September 11, 2015 17:13_

We'll let the user experience drive that. This is our new ootb experience for IIS and it can't be degraded in obvious ways. We'll discuss it in the design meeting

[2015-09-27 05:20] Tratcher commented on #2
A few other interop questions:
100-continue support
http/2 termination (should just work, it happens in http.sys)
client disconnects

[2015-09-27 05:20] Tratcher commented on #2
_From @davidfowl on September 15, 2015 3:43_

We decided to make this a separate middleware `UseHttpPlatformHandler()`. The middleware may reuse the forwarding middleware as the Http platform handler uses some of the standard headers `X-Forward-For` and `X-Forward-Proto`.

This middleware also needs to handle windows auth via the `X-IIS-WindowsAuthToken` header. The value is a hex value that repre

[2015-09-27 05:20] Tratcher commented on #2
_From @rubenprins on September 16, 2015 17:39_

What about nested applications/child paths? Is that still something that will be supported out of the box? Or will we need to configure the application's base path (a.k.a. `~/`) manually?

[2015-09-27 05:20] Tratcher commented on #2
_From @davidfowl on September 16, 2015 17:51_

Won't be supported out of the box. I haven't tried it myself with the platform handler.

[2015-09-27 05:20] Tratcher commented on #2
@Eilon @muratg Let's create a new repo for this: `IIS` or `IISIntegration`. I think it will just replace Helios in the build hierarchy.

[2015-09-27 05:20] Tratcher commented on #2
@davidfowl  repo name?

[2015-09-27 05:20] Tratcher commented on #2
_From @davidfowl on September 27, 2015 5:7_

@Tratcher move this bug over

[2015-09-28 23:14] #2 closed

[2015-09-29 06:27] Kagamine opened #5 "When will the Microsoft.AspNet.IISPlatformHandler be published to aspnetvnext feed"

[2015-09-29 06:30] davidfowl commented on #5
When the build passes. It requires a newer "not yet release" version of the HttpPlatformHandler anyways so it won't do anything in the short term.

[2015-09-29 06:32] #5 closed

[2015-09-30 02:24] Kagamine opened #6 "Unable to run the sample with iis express"
![image](https://cloud.githubusercontent.com/assets/2216750/10182990/5b2e053e-675d-11e5-8d8f-90d55b1de16d.png)

[code]

[2015-09-30 15:42] Eilon commented on #6
Helios (the previous IIS integration stuff) no longer works with IIS. Which packages are you using in the project.json?

[2015-09-30 16:12] Tratcher commented on #6
The beta7 tooling does not work with HttpPlatformHandler. We should have updated tooling out in a week or so.

[2015-09-30 18:04] Tratcher opened #7 "Clarify response wire protocol details, buffering, chunked, content-length, etc."
When proxying behind IIS/Express there are a few un-expected side-effects. We need to at least document these, but also consider how to work around them if needed. See the affected tests in Universe\ServerTests\test\ServerComparison.FunctionalTests\ResponseTests.cs
1. Buffering vs streaming - what buffering is done by the platform handler or by default IIS scenarios? How can be enable full streami

[2015-09-30 18:04] Tratcher commented on #7
@davidfowl

[2015-09-30 23:28] #6 closed

[2015-10-05 16:39] Tratcher opened #8 "AspNetCoreModule doesn't work with WebListener/Http.Sys"
Right now all the tests run with Kestrel. When I briefly tried WebListener some of the test cases failed. The logs showed WebListener starting fine, but it never served any requests and HttpPlatformHandler kept re-starting the back-end process until it gave up.

I've seen it work when published to full IIS, so it might be a test setup issue.

[2015-10-06 10:24] jruckert opened #9 "Kerberos Authentication Question"
Hi,

A couple of questions:

1. Will the platform handler be able to support Kerberos Authentication?
2. Will we be able to configure CORS support (specifically the un-authenticated OPTIONS request, before hitting authentication - as per https://fetch.spec.whatwg.org/#cors-preflight-fetch)?

Cheers,
Jonathan

[2015-10-06 15:32] Tratcher commented on #9
1. Yes it should, Kerberos is handled by the IIS native auth module. There shouldn't be any significant changes from how it works today with .NET 4.5.
2. After I implement #1 you'll be able to enable mixed auth (Anonymous & Negotiate/NTLM/Negotiate/Kerberos). This should allow you to process anonymous CORS requests but then require authorization for other endpoints like MVC controllers.

[2015-10-06 22:21] jruckert commented on #9
Thanks @Tratcher for the information.

I am still a little bit confused about how you intend to implement/configure the mixed auth scenario.

Will we have to configure the authentication in both IIS and the middleware?

1. Configure IIS for both "Windows Auth" + "Anonymous" and,
2. Configure the middleware early on the piece to allow both "Windows" and "Anonymous".

Will there be a policy builder

[2015-10-08 08:17] jruckert opened #11 "Latest HTTPHandler 1.1"
Hi,

 When do you expect we can try out the latest HTTP Handler 1.1 with your new forwarders/configuration?

Cheers,
Jonathan

[2015-10-08 08:20] GuardRex commented on #11
Roadmap timing for beta8 (currently October 12) is here: https://github.com/aspnet/Home/wiki/Roadmap

[2015-10-08 08:22] #11 closed

[2015-10-08 16:01] Tratcher commented on #9
I plan to plug it into the existing authentication framework used in the aspnet/security repo. That framework separates authentication from authorization. This middleware will be responsible for authentication (e.g. getting you a windows identity), but then you'll use the authorization framework (e.g. the [Authorize] attribute and policies) to decide if that user gets access to specific content.

[2015-10-08 18:13] muratg commented on #7
@Tratcher we can move out if needed.

[2015-10-12 20:40] hishamco opened #12 "[Suggesstion] Rename IIS -> Iis"
According to the framework guidelines IIS should be rename to Iis. For example ```IISPlatformHandlerMiddleware``` will be renamed to ```IiSPlatformHandlerMiddleware```, in fact this is the case in other aspnet repos such as ```HttpAbstraction``` instead of ```HTTPAbstraction```
/cc @Tratcher

[2015-10-12 21:37] Tratcher commented on #12
I agree in principal, but it looks terrible. At this point IIS the common name of the product, it's no longer considered an acronym for Internet Information Services.

[2015-10-13 03:43] Eilon commented on #12
I believe we always spell out IIS in caps.

[2015-10-13 03:43] #12 closed

[2015-10-13 03:50] davidfowl commented on #12
-1

[2015-10-13 05:47] hishamco commented on #12
Yep @Tratcher @Eilon it's always spell out IIS in caps, but that's the same things in ```Http``` and ```Xml```

[2015-10-14 16:18] #1 closed

[2015-10-14 16:18] #9 closed

[2015-10-15 20:07] Tratcher opened #14 "IIS virtual directories"
When we're spun up behind IIS / HttpPlatformHandler how do we know what the virtual directory is? We need this to correctly set PathBase in the app. Ideally we'd set PathBase as part of the initial server address configuration, but at that point we're only given the port via environment variable.
@davidfowl

[2015-10-15 20:17] davidfowl commented on #14
Should handle that based on the path passed into server.urls

[2015-10-15 20:46] Tratcher commented on #14
Yes, but how do you get that information from IIS to server.urls? Right now we only get the port.

[2015-10-16 15:32] brockallen opened #15 "Make it easier to disable windows auth"
The reverse proxy feature is quite useful on its own, and the windows authentication feature is windows specific. Also, I might want the reverse proxy from IIS, but not want windows authentication to be passed along.

Consider this into 2 different middlewares. Perhaps: UseWindowsAuthentication and UseReverseProxy.

I guess the UseIISPlatformHandler could stay and just encapsulate the two?

[2015-10-16 15:35] brockallen commented on #15
Looks like some of the forwarded headers code is already here:

https://github.com/aspnet/BasicMiddleware/tree/dev/src/Microsoft.AspNet.HttpOverrides

[2015-10-16 15:52] Tratcher commented on #15
UseOverrideHeaders is already the reverse proxy middleware you're asking for. This middleware only handles forwarders supported by httpplatformhandler.

The Windows auth components can be disabled in the options. Note that forwarding windows auth is really a httpplatformhandler option in web.config. If that's enabled then you need to consume it to avoid leaking handles.

[2015-10-16 16:26] brockallen commented on #15
The authentication handler is being registered and run regardless of the flag.

I can send an invalid handle value in the headers it will trigger the creation of a WindowsIdentity and presumably throw (this is in the UpdateUser method).

[2015-10-16 18:18] GuardRex opened #16 "IIS-HttpPlatformHandler-Kestrel app not processing POST's"
In reference to an app that I just refactored ([steps listed here](https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294)) from IIS-Helios (beta7) to IIS-HttpPlatformHandler (beta8), GET is processed properly (e.g., the Contact view loads) ...
[code]
... but POST is resulting in a 404 (e.g., POST to the Contact controller fails) ...
[code]
IIS is seeing the POST, from the IIS log ...

[2015-10-16 19:04] MaxxDelusional commented on #16
Do you need to add `app.UseIISPlatformHandler();` to you Startup.cs?

For what it's worth, my log also says "Now listening on: http://localhost:2256", but my app is working fine in IIS.

[2015-10-16 19:12] GuardRex commented on #16
@MaxxDelusional I just tried it ... same result ... 404 when POST'ing back to that controller.

Your POST's are working ok?

btw- I didn't even know about the `Microsoft.AspNet.IISPlatformHandler` package ... it would cool if someone from the team could say when that package is required. The app seems to run fine (without that package and including POST's) when run locally.

[2015-10-16 19:19] GuardRex commented on #16
Ok, I see it now ... Microsoft.AspNet.IISPlatformHandler is described. It is required beyond loading the app for forwarding windows auth, scheme, and client ip.

https://github.com/aspnet/Templates/issues/189

Anyway ... still work'in this POST-404 problem.

[2015-10-16 19:22] MaxxDelusional commented on #16
@GuardRex Yep, I tested my POSTS and they are working. I honestly didn't know what `UseIISPlatformHandler` did, I just saw it in the new template, so I thought it was required.

I'm wondering if it has something to do with `[ValidateAntiForgeryToken]`. Could you try removing that attribute and see if it works.

[2015-10-16 19:31] GuardRex commented on #16
@MaxxDelusional That's good. It's just me then.

I tried without Antiforgery, but it didn't fix it. Not surprising really, since I would think the Antiforgery cookie and header bits come after the pipeline gets back to the controller. This is acting like it can't find the POST route. I'll try putting a different controller and view up and see if this is just isolated to that one Contact Us webform

[2015-10-16 19:38] GuardRex commented on #16
@MaxxDelusional Yeah, so another [HttpPost] controller in the Home controller did work. This is a route problem apparently with that one controller. I'll keep digging.

[2015-10-16 20:53] GuardRex commented on #16
Does `IActionResult` affect the route in some way?

`async Task<string>` WORKS :+1: ... 200 OK
[code]
`async Task<IActionResult>` does NOT :-1: work ... 404!
[code]
`IActionResult` does NOT :-1: work ... 404!
[code]

[2015-10-16 22:07] Tratcher commented on #15
Fair, the windows auth stuff could be further disabled. How about `Options.EnableWindowsAuthentication = false`?

[2015-10-16 22:09] GuardRex commented on #16
Two separate issues found here ... I'm going to close, open a separate issue on each, and reference back to this issue in each.

[2015-10-16 22:09] #16 closed

[2015-10-16 22:10] GuardRex opened #17 "HttpPlatformHandler/Kestrel: HttpContext.Connection.RemoteIpAddress not working"
Following: https://github.com/aspnet/IISIntegration/issues/16

I'm using Google RECAPTCHA on this contact form, and I think I used to have ...
[code]
... in the beta7 version of this app. For the beta8 upgrade, that `Context` went away, but it seemed cool with `HttpContext` ...
[code]
... but that's throwing a null reference exception. Is this a "Luke not handling the contexts correctly" problem o

[2015-10-16 22:12] Tratcher commented on #17
` app.UseIISPlatformHandler();` should set RemoteIpAddress.

[2015-10-16 22:13] brockallen commented on #15
Yea, the more I was thinking about it, I guess it doesn't make sense to split this up since there other middleware give reverse proxy support. I guess the reason I suggested it in the first place is because this MW doesn't use the other.

As for the windows auth -- yes, something to really disable it so none of that code runs would be appreciated. Thx.

[2015-10-16 22:14] GuardRex opened #18 "HttpPlatformHandler/Kestrel: Losing the response when creating an SslStream"
Following: https://github.com/aspnet/IISIntegration/issues/16

I'm using my [custom mail server code](https://github.com/dotnet/corefx/issues/1006#issuecomment-96300051) (reason: `System.Net.Mail` isn't done yet for .NET Core) with my Contact Us form of this app.

If I run this controller/view, it runs and returns the view up to ...
[code]
... but if I take that one more step to the `SslStream`, i

[2015-10-16 22:15] GuardRex commented on #17
I have the `app.UseIISPlatformHandler();` in the app with the package in place. Is there anything else I rundown on this for you?

[2015-10-16 22:17] Tratcher commented on #17
You could show your startup class.

[2015-10-16 22:22] GuardRex commented on #17
[code]

[2015-10-16 22:34] Tratcher commented on #17
Looks fine. I recommend setting a break point here: `ctx.Response.Headers.Remove("Server");` where it should be easy to verify the state of your request. E.g. dump the request headers and Connection properties to see what's available.

[2015-10-16 23:08] Tratcher commented on #18
Your startup referenced over at https://github.com/aspnet/IISIntegration/issues/17#issuecomment-148849686 shows you using `app.UseExceptionHandler("/error");`. If there is an exception then this will try to re-execute with a path /error, but if nothing handles requests on that path you will get a 404. Make sure you have an MVC route for /error.

[2015-10-16 23:27] GuardRex commented on #18
Old app: I revamped all of that error handling in later apps. I fixed it ... it was a simple route problem. Thanks for spotting that.

If I just go with the developer exception page on the server, it comes back ...
[code]
The package is ...
[code]
... which turns out to be `4.0.0-beta-23409` when loaded. This worked in beta7 (dnxcore50). Should I close and re-open in CoreFx?

[2015-10-16 23:35] Tratcher commented on #18
double check your published output to make sure all the packages are there.

[2015-10-16 23:36] GuardRex commented on #18
It's there ...

![capture](https://cloud.githubusercontent.com/assets/1622880/10555431/dc436bda-7434-11e5-9228-ba60497b022b.PNG)

[2015-10-16 23:39] GuardRex commented on #18
looks right ...

![capture](https://cloud.githubusercontent.com/assets/1622880/10555444/257cc3d2-7435-11e5-91d3-a8519d63a712.PNG)

[2015-10-16 23:58] GuardRex commented on #17
Here's what I see stopping at that line and inspecting headers and connection:
[code]
... but both `ctx.Connection.LocalIpAddress` and `ctx.Connection.RemoteIpAddress` were null.

On IIS Express, `ctx.Connection.RemoteIpAddress` correctly shows `{::1}`.

[2015-10-17 00:07] Tratcher commented on #17
Ah, IPAddress.TryParse is probably choking on the port. https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNet.IISPlatformHandler/IISPlatformHandlerMiddleware.cs#L80-L96

It should probably split out the port and set it to Connection.RemotePort.

[2015-10-17 00:09] GuardRex commented on #17
Cool. I'll just drop the RECAPTCHA stuff for now and watch for an update here.

[2015-10-17 02:34] GuardRex commented on #18
Since `System.Net.Security` is a CoreFx package, I'll move this over there.

[2015-10-17 02:34] #18 closed

[2015-10-19 02:05] davidfowl commented on #14
We'd need to restructure a bit. It can be setup in the M.A.Hosting.json file.

[2015-10-19 21:48] Tratcher commented on #14
Depends on https://github.com/aspnet/KestrelHttpServer/issues/214

[2015-10-20 01:00] Tratcher opened #19 "Add WebSocket functional tests"
_From @Sharpiro on October 19, 2015 17:29_

IHttpUpgradeFeature "IsUpgradableRequest" is never true in IIS Express profile, but works when running from kestrel via default "web" profile.  Likely an issue with: ```"Microsoft.AspNet.IISPlatformHandler": "1.0.0-beta8"```

Repro:

Create an empty web application from the asp.net 5 templates.  Add the following lines of code inside ```app.Run``` inside

[2015-10-23 08:57] ddotlic commented on #16
@GuardRex I'm actually seeing the same issue as you (GET works but POST doesn't).

Our action returns `Task<IActionResult` and we get 404 (like you).

Did you ever get to the bottom of this? We're using released beta8 and everything else works just fine.

[2015-10-23 09:12] ddotlic commented on #16
@GuardRex False alarm, the error is actually banal - we do not have a route for "/error" (yet it is configured right there in `Startup.cs`) and there **was** an error (and rather early in the process).

Logs finally helped me understand where the issue was, just had to turn it on in web.config: new publish already creates `logs` next to the `approot` and `webroot` but doesn't enable it.

[2015-10-23 14:43] Sharpiro commented on #19
I use 2 different machines currently, 1 running Windows 7, 1 running Windows 10.  I've actually noticed that this issue does not occur on my windows 10 machine, but it does occur on my Windows 7 machine.  They are both using the same dnx install and beta 8.

[2015-10-23 14:59] Tratcher commented on #19
@Sharpiro Windows7 did not support websockets for IIS/Express or WebListener. Kestrel works, but only if you use it directly without proxying through IIS.

[2015-10-23 15:34] Sharpiro commented on #19
On both my Windows 7 and Windows 10 machine I am using IIS 10.0 Express, so it seems like the functionality should be identical when debugging from VS 2015.

If this is in fact just a limitation of Win 7, then you can go ahead and close this as there isn't much anyone can do

[2015-10-23 15:48] Tratcher commented on #19
Yes it's an OS limitation. I'll keep this item open until we at least add some tests for we sockets behind httpplatformhandler.

[2015-10-23 23:31] Tratcher commented on #14
Workaround: put your app in a app.Map("/vdir" ...
https://github.com/aspnet/Hosting/issues/416#issuecomment-149046552

[2015-10-24 10:23] davidfowl commented on #7
@Tratcher Let's get a meeting with the http platform handler guys to go over this after we verify all of the behaviors.

[2015-10-24 10:25] davidfowl opened #20 "Application Shutdown via IApplicationLifetime should be graceful when behind HttpPlatformHandler"
More details to come...

[2015-10-24 23:07] Schlurcher commented on #8
Can confirm this is happening with 1.2 on full IIS 8 on Server 2012. Backend keeps restarting until IIS gives up and serves a 502 Bad Gateway.

[2015-10-28 20:37] Tratcher opened #24 "The IIS config may be locked if ASP.NET 4 is not installed"
The Asp.Net 4.5 installer unlocks IIS’s system.webServer/handlers section. However if you don’t install that component then the section remains locked and you can’t enable HttpPlatformHandler. Should the HttPlatformHandler msi unlock that section?
https://github.com/aspnet/Docs/pull/551/files#diff-62465270a6cd44f684f23a2a1ca872c9R64

[2015-10-28 20:39] davidfowl commented on #24
Yes it should

[2015-10-28 20:43] rramachand21 commented on #24
handlers section is never locked - whats the machine configuration?

[2015-10-28 20:51] Tratcher commented on #24
As far as I know it's locked for any default windows install if you do not also install ASP.NET 4. Several people have reported this recently: https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294

[2015-10-28 23:49] Schlurcher opened #25 "NTLM / Negotiate show up as authentication providers"
Don't know if this belongs here or in Templates.
With the latest rc1 bits NTLM and Negotiate show up as external auth schemes.

![unbenannt](https://cloud.githubusercontent.com/assets/973681/10806492/0e67437a-7dd6-11e5-91c3-aca0b413b1c1.PNG)

I had a look at the source of Templates, but from what I could see nothing related has changed.

In the end I removed them like this:
[code]

Is this the rig

[2015-10-29 15:55] Tratcher commented on #25
That works. There's a separate work item to make it easier to completely disable the windows auth support https://github.com/aspnet/IISIntegration/issues/15

[2015-11-02 11:48] rubenprins commented on #14
Please don't require us to hard code the IIS vdir in external config files, like M.A.Hosting.json, when IIS and HttpPlatformHandler already know this.

Just pass this information on for example in an environment variable, like %HTTP_PLATFORM_VDIR%, so you can say

[code]

[2015-11-02 12:05] davidfowl commented on #14
@rubenprins That fix is coming. This is a workaround until the fix is available. We're working with the httpPlatformHandler team to fix bugs found in beta8 and rc1.

[2015-11-04 16:23] Tratcher opened #27 "Forward client certificates"
If IIS accepts a TLS client certificate then HttpPlatformHandler should forward it on to us. This could be done as a base64 encoded header that is then unpacked by the middleware upon request from the ITlsConnectionFeature.

[2015-11-04 22:52] benaadams opened #29 "Confirm HttpPlatformHandler uses Fast TCP Loopback"
[Fast TCP Loopback](
http://blogs.technet.com/b/wincat/archive/2012/12/05/fast-tcp-loopback-performance-and-low-latency-with-windows-server-2012-tcp-loopback-fast-path.aspx) hopefully will be coming to libuv https://github.com/libuv/libuv/issues/489

[2015-11-06 12:54] davidfowl commented on #27
For Azure websites - https://azure.microsoft.com/en-us/documentation/articles/app-service-web-configure-tls-mutual-auth/#special-considerations-for-certificate-validation

[2015-11-07 06:24] ala53 opened #30 "IIS: Wildcard + URL in route results in configuration error"
[code]

If that route is called with `/Important/http://github.com`, it works on Kestrel but errors on IIS (at least through auto-deploy azure).
The error is:
Config Error: Cannot read configuration file
Config File: \\?\D:\home\site\wwwroot\Important\http:\web.config
...claiming the physical path is
Physical Path: D:\home\site\wwwroot\Login\http:\github.com

In short form, ASP.net doesn't hook th

[2015-11-07 08:31] davidfowl commented on #30
Check your web.config and see if forwardWindowsAuthToken=false is set, if it is, remove it and try deploying again.

[2015-11-07 21:41] ala53 commented on #30
It is not. The contents of web.config are:
[code]

[2015-11-07 22:19] davidfowl commented on #30
set stdoutLogEnabled=true and take a look at the logs. Also take a look at the event log.xml and see if there's anything interesting in there.

[2015-11-10 19:14] Tratcher opened #31 "Forward TLS token binding"
http://tools.ietf.org/html/draft-popov-token-binding-00
http://tools.ietf.org/html/draftbalfanz-https-token-binding-00
http://www.ietf.org/proceedings/91/slides/slides-91-uta-2.pdf
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Features/ITlsTokenBindingFeature.cs
Win10+

[2015-11-10 21:19] Tratcher opened #32 "DNX Beta-8 Publish HttpPlatformHandler cannot be found. This error is random"
_From @CarlosFreire on November 10, 2015 21:11_

The description for Event ID 1001 from source HttpPlatformHandler cannot be found. Either the component that raises this event is not installed on your local computer or the installation is corrupted. You can install or repair the component on the local computer.

If the event originated on another computer, the display information had to be saved w

[2015-11-10 21:21] Tratcher commented on #32
Is something actually failing or are you just seeing odd output in your machine's event logs?  That message looks like what you'd get if you installed the VS beta8 tooling (which includes HttpPlatformHandler for IISExpress), but did not install the full HttpPlatformHandler for IIS.

[2015-11-11 17:50] Tratcher opened #33 "HttpPlatformHandler forwards the path un-escaped, breaks for `?`"
When HttpPlatformHandler forwards the request path and query, it uses the un-escaped path and the original escaped query. This causes a few issues:

1. Query - If there is an escaped `?` (%3F) in the original path it is un-escaped and forwarded. The back-end server (kestrel, weblistener) then interprets this as the query separator, breaking both path and query. There is no workaround.
2. Backslash

[2015-11-11 18:03] Tratcher commented on #33
FYI @davidfowl @halter73

[2015-11-12 22:28] Tratcher opened #34 "[HttpPlatformHandler] termination of child process causes termination of parent process"
_From @tuespetre on November 12, 2015 0:43_

Specific example: running the dnx-watch command. When you save changes to a file, dnx-watch terminates its child dnx process and starts a new one, but by the time dnx-watch has recorded that to stdout (which does show in the logs) the HttpPlatformHandler terminates the dnx-watch process and starts a new one.

_Copied from original issue: aspnet/Hosting#

[2015-11-12 22:28] Tratcher commented on #34
_From @muratg on November 12, 2015 0:55_

@Tratcher Where's the best place to log this?

[2015-11-12 22:31] Tratcher commented on #34
@davidfowl What did we settle on for the file monitoring story for HttpPlatformHandler?

[2015-11-12 23:45] davidfowl commented on #34
This sound unrelated. What os was this? Does tweaking the timeouts on the platform handler work?

[2015-11-13 04:45] tuespetre commented on #34
This is in Windows 10, IIS 10. The startup timeout is something ridiculous like an hour (I think that was set in the web.config by tooling) and the request time limit is the default of two minutes, but I have found that this happens even within two minutes.

I wrote a hokey C++ thing that spins off a process (`CMD /C ECHO something`) and then waits for 30 seconds before writing a message and exiti

[2015-11-13 16:09] ivanmartinvalle opened #35 "w3wp.exe crashes when AppPool is stopped"
OS: Windows 7
IIS: 7.5.7600.16385
Visual Studio 2015
Project: default Web API template (using beta8 dependencies)
Runtime: dnx-clr-win-x64.1.0.0-beta8

We are able to start and run an ASP.NET application within an IIS site just fine. However, if we manually stop the corresponding AppPool via the IIS Manager UI, w3wp crashes with the following message:
[code]

When attaching to the process to debug

[2015-11-13 16:34] GuardRex commented on #32
I'm seeing this too in my logs; however, I can't trace it specifically to stopping and restarting AppPools (either for an old beta7-Helios app or a beta8-HttpPlatformHandler app). I'll poke around a bit more and see if I can figure out a pattern. btw- The apps seem to run fine AFAIK.

[2015-11-13 16:37] GuardRex commented on #35
I can't reproduce this either with a beta7-Helios app or a beta8-HttpPlatformHandler app on WS 2012 (IIS 8) [apps are dnxcore50 x64]. Logs show nothing when stopping and restarting AppPools on my test apps.

I do see https://github.com/aspnet/IISIntegration/issues/32 in the logs; however, I'm not getting that one everytime the AppPool is (manually) started. It seems more intermittent in nature.

[2015-11-13 17:34] tuespetre commented on #34
Here is an example of one of the logs:

[code]

[2015-11-13 17:39] GuardRex commented on #32
@Tratcher Ok ... I see when I'm getting this now. It's not with a manual stop/start of the AppPool, its with my little `msdeploy.bat` script that I hook from the VS PS publish script to publish with MSDeploy. The script looks like this ...
[code]
... and either that first (stop) command is causing it or the last (start) command is causing it. Yields ...
[code]
... however, the deployment succeeds

[2015-11-13 17:54] sayedihashimi commented on #32
Did you see the doc at https://docs.asp.net/en/latest/publishing/iis.html?

[2015-11-13 17:56] GuardRex commented on #32
@sayedihashimi ... You mean me? I am Luke.

[2015-11-13 18:02] GuardRex commented on #32
@sayedihashimi I /cc'ed you because I thought if MSDeploy commands trigger this log entry, if MSDeploy makes it into a later version of VS publish, and something is amiss you might want to hear about it.

[2015-11-13 18:13] ivanmartinvalle commented on #32
@GuardRex I can definitely reproduce this message without deploying. All I have to do is start the AppPool manually (after it has been stopped) AND hit the site.

Yeah, the site definitely runs fine with the message though. It's just the stopping of the AppPool that is causing me issues (the process is dying, as mentioned in #35 ).

[2015-11-13 18:16] GuardRex commented on #32
@ivanmartinvalle Interesting ... I can't get it to log that way. Very interesting. Well ... at least it isn't breaking us. btw- What flavor of IIS are you on? My tests were with IIS 8 (WS 2012 ... not R2).

[2015-11-13 18:20] ivanmartinvalle commented on #32
#35 describes my situation.

OS: Windows 7
IIS: 7.5.7600.16385

[2015-11-13 20:06] sayedihashimi commented on #32
The HttpPlatformHandler requires IIS 8+ I believe.

[2015-11-13 20:10] GuardRex commented on #32
We have Windows 2008 R2 (IIS 7.5) in the official doc. Perhaps that should be changed?

/cc @Rick-Anderson

[2015-11-13 20:11] sayedihashimi commented on #32
Yes we may want to add a note that it currently requires IIS 8+

cc @Rick-Anderson

[2015-11-13 20:15] Tratcher commented on #32
@sayedihashimi HttpPlatformHandler v1.2 is already working on Win7/R2. Some of the tooling may not have caught up yet though.

[2015-11-13 20:48] sayedihashimi commented on #32
Ok sorry for the confusion then. Tooling shouldn't have any dep on IIS versions.

[2015-11-13 21:29] GuardRex commented on #32
So just to recap where we are:

@CarlosFreire reported it but wasn't specific about a trigger.
@ivanmartinvalle has it happening after restarting the AppPool and hitting the site's endpoint.
I was just able to manually get it the same way (I didn't hit the endpoint the first time). The log is unremarkable ...
[code]

[2015-11-14 16:00] djmoody commented on #17
Is the fix for this likely to make it into RC1? We have a site which we would like to take live when RC1 is released but it uses this for geo-location purposes.

[2015-11-14 20:14] Tratcher commented on #17
No, this didn't make it into RC1. However it should be pretty easy to work around. Here's the existing code: https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNet.IISPlatformHandler/IISPlatformHandlerMiddleware.cs#L80-L96
The fix should only be a few lines. If you get to it before we do feel free to send a PR.

[2015-11-14 20:53] GuardRex commented on #17
@Tratcher Until the team gets to it (unless, as you say, someone jumps in with a PR), isn't the best practice when only having the headers to look for `HTTP_X_FORWARDED_FOR`. If that isn't there, then just take whatever `REMOTE_ADDR` has?

[2015-11-14 21:27] GuardRex commented on #17
@Tratcher btw - Maybe this changed when the move to Kestrel took place, but I'm not seeing `::1` running locally. Is that normal/expected?

[2015-11-14 23:40] GuardRex commented on #17
Kind'a dumb ... but until this gets squared away ...
[code]

[2015-11-15 03:19] Tratcher commented on #17
IPv6? `[::1]:2345`
Also note that the header HttpPlatforHandler sets is `X-Forwarded-For`.

[2015-11-15 03:28] GuardRex commented on #17
@Tratcher Ah, yes, thanks for mentioning the `X-Forwarded-For`.

I didn't check the spec yet on `Request.Headers[]` and contend with casing. I'll make a mod to it if needed later tonight. I'm just trying to hack-up some crap to make things work ok for testing.

I wasn't getting **any** IP header in Fiddler for local requests. Maybe Fiddler is the wrong way to look, but I thought when I did this ea

[2015-11-15 08:33] GuardRex commented on #17
@Tratcher So casing doesn't matter ... null header does ... then there's a mess of non-standard ones. I didn't look into great detail or know if I have them all. I saw https://tools.ietf.org/html/rfc7239 and a few SO posts. I think this hacks it pretty good ... until you cats do a real number on it.

NOTE: I didn't fully test this ... use at your own risk!
[code]

[2015-11-15 12:26] JonghoL commented on #17
tiny fix

private static void UpdateRemoteIp(HttpContext httpContext)
        {
            var xForwardedForHeaderValue = httpContext.Request.Headers.GetCommaSeparatedValues(XForwardedForHeaderName);
            if (xForwardedForHeaderValue != null && xForwardedForHeaderValue.Length > 0)
            {
                IPAddress ipFromHeader;
                var portSeparateLength = xForwardedForHe

[2015-11-15 16:51] GuardRex commented on #17
@JonghoL Did you test? Does it work for IPv6? This one is on SO ...
[code]
http://stackoverflow.com/questions/22596037/ipaddress-tryparse-returns-false/22596060#22596060

[2015-11-16 05:43] JonghoL opened #36 "Response Header(Server)"
ASP.NET Beta8

Windows Server 2012 R2 Datacenter
IIS 8.5
Application Pool(.NET CLR version - No Managed Code)
Install HttpPlatformHandler

Http Response OK
Headers
 [expected] Server : Microsoft-IIS/8.5
 [actual] Server : Kestrel

Is it correct?

[2015-11-16 17:25] muratg commented on #36
It looks correct to me... what do you think, @Tratcher?

[2015-11-16 17:28] muratg commented on #17
@JonghoL do you plan to send a PR?  Otherwise @pakrym should be able to look into this.

[2015-11-16 17:42] GuardRex commented on #17
Is `X-Forwarded-For` going to become `Forwarded` now because that's the RFC? It's probably more of an `HttpPlatformHandler` team question ... just curious.

[2015-11-16 19:58] Tratcher commented on #17
@GuardRex, interesting, we'll take a look.

[2015-11-16 20:02] Tratcher commented on #36
That's expected now. IIS is acting as a reverse proxy to Kestrel. If you don't want it to say Kestrel then your app can do `httpContext.Response.Headers.Remove("Server");`.

[2015-11-16 20:02] #36 closed

[2015-11-16 21:46] Tratcher commented on #32
@rramachand21?

[2015-11-16 22:17] Tratcher commented on #35
@rramachand21?

[2015-11-16 23:00] GuardRex commented on #36
@JonghoL Just as an add-on to that. This was recommended to me earlier and works quite well. I place it immediately before the `app.UseMvcWithDefaultRoute();` ...
[code]

[2015-11-16 23:05] Tratcher commented on #36
[code]

[2015-11-16 23:07] GuardRex commented on #36
Oh, even better. Thanks.

[2015-11-17 10:35] benaadams commented on #29
/cc @davidfowl @Tratcher @halter73

[2015-11-17 15:59] ivanmartinvalle commented on #35
I'm like 90% sure the cause of this error is the fact that we are running on IIS 7.5. We just tried everything on a Windows 10 box (which has IIS 10) and everything worked beautifully. The [HttpPlatformHandler download page](http://www.iis.net/downloads/microsoft/httpplatformhandler) shows that there is IIS 7.5 support, but [this comment](https://github.com/aspnet/IISIntegration/issues/32#issuecom

[2015-11-17 16:08] avanderhoorn commented on #7
Any chance anyone knows what the current buffer size is?

[2015-11-18 18:49] tuespetre commented on #34
For what it's worth, rc1 makes it all the way to the second `Application started` before being terminated:

[code]

I'm chalking that up to the great work of the ASP.NET team on the performance side of things ;)

[2015-11-18 19:13] #17 closed

[2015-11-18 22:19] #25 closed

[2015-11-18 22:24] Tratcher commented on #19
Kestrel doesn't have built in WebSockets, it depends on Microsoft.AspNet.WebSockets.Server. For layering reasons we can't reference that package from this repo. We could use WebListener to test with. We could also write the functional tests in the WebSocket repo.

[2015-11-19 06:58] Tratcher commented on #34
https://github.com/tuespetre/dnx-watch-iis/blob/master/README.md

[2015-11-19 20:02] Tratcher opened #39 "AspNetCoreModule needs to abort failed responses"
https://github.com/aspnet/KestrelHttpServer/issues/341#issuecomment-155245802

If the back-end server fails while writing out the response body (after the first 8kb) and closes/resets the connection, platform handler does not correctly fail the response to the client.

For a chunked request that fails sometime before the final chunked terminator the handler mistakenly adds the missing terminator.

[2015-11-19 22:51] Tratcher commented on #7
@avanderhoorn My testing shows the buffer is 8kb.

[2015-11-20 00:56] avanderhoorn commented on #7
Huge thanks!

On Thursday, November 19, 2015, Chris R <notifications@github.com> wrote:

[2015-11-20 17:49] Tratcher opened #40 "How do we fall through IIS when using IISPlatformHandler?"
_From @dealdiane on November 20, 2015 10:12_

Now that ASPNET 5 runs on kestrel only how do we fall through IIS? There used to be an `app.RunIISPipeline()` but I couldn't find this anywhere anymore.

I hope this was not forgotten. https://github.com/aspnet/Hosting/issues/323

_Copied from original issue: aspnet/Hosting#491_

[2015-11-20 17:49] Tratcher commented on #40
_From @davidfowl on November 20, 2015 14:28_

You don't fall through IIS anymore. It's a reverse proxy

[2015-11-20 17:49] Tratcher commented on #40
_From @dealdiane on November 20, 2015 17:16_

Yes, that's what I thought actually. I've tried serving static files through IISExpress and expected it to just work without adding `app.UseStaticFiles` but it doesn't seem to just work. If I remove the IISPlatformHandler module, static files work (with compression which what I've configured).

How do we take advantage of IIS's feature like static comp

[2015-11-23 20:27] muratg commented on #30
@ala53 Could you provide us a simplified repro code?

[2015-11-23 20:28] muratg commented on #35
@rramachand21 is this fixed?

[2015-11-24 21:04] #15 closed

[2015-11-25 09:07] leak commented on #35
Got the same issue here.

aspnet 1.0.0-rc1-final clr     x86          win
Windows Server 2008 R2 Standard (fully patched)
IIS 7.5.7600.16385

Crash occures when stopping the apppool.

Callstack:

 	kernel32.dll!@BaseThreadInitThunk@12()  + 0x12 bytes
 	ntdll.dll!___RtlUserThreadStart@8()  + 0x27 bytes
 	ntdll.dll!__RtlUserThreadStart@8()  + 0x1b bytes

Parallel Stacks:

![parallel_stacks](https://

[2015-11-25 11:21] muratg commented on #35
Thanks for the info, @leak

[2015-11-25 21:43] ala53 commented on #30
Hello
As requested: https://github.com/ala53/iis-error-sample
It is hosted here: http://zsb-test-123.azurewebsites.net/

Unfortunately, the initial post is wrong. It isn't a problem with IIS on all systems. It only occurs when using the Visual Studio auto deploy to azure.

See here: http://zsb-test-123.azurewebsites.net/this-will-work-fine.com and http://zsb-test-123.azurewebsites.net/http://this-

[2015-11-25 21:46] muratg commented on #30
@Tratcher

[2015-11-25 21:53] ala53 commented on #30
The entire issue can be reproduced via this:
[code]

[2015-12-02 20:37] davidfowl opened #42 "Remove caption from NTLM so it doesn't show up on the sign in page"

[2015-12-03 22:28] muratg commented on #30
@BrennanConroy Can you investigate?

[2015-12-03 22:30] muratg commented on #40
Let's test this to see the behavior and either document it or change it.

[2015-12-04 00:32] GuardRex commented on #40
@Tratcher If you're busy and need a worker bee, I'm happy to help. but btw --- IIS static and dynamic compression are working in IIS 8/8.5 AFAIK according to my testing. I can take another look if you like.

[2015-12-04 17:04] Tratcher opened #44 "Sub-applications within IIS don't work anymore"
_From @Fosol on December 4, 2015 17:3_

I used to be able to publish an aspnet 5 beta 7 web application as a sub-application.  Since I'm upgrading to rc1-final I am no longer able to do it.

Here is the error I get when I attempt to call the sub-application within IIS.

I can of course publish to a separate root IIS application and it will work, but of course that breaks the whole architecture of

[2015-12-04 17:15] Tratcher commented on #44
@ajaybhargavb You got this working right? Can you share your findings?

[2015-12-05 11:32] dealdiane commented on #40
@GuardRex I'm interested on how you got it working.

What I've tried so far is:

1. Create a new web project in Visual Studio using the "Empty" template
2. Add a static file in /www.
3. Publish and setup an IIS website
4. Try access the static file from a browser - This bit doesn't work even if you explicitly set the static file handler before or after the `HttpPlatformHandler`. If you uncomment `

[2015-12-05 17:32] GuardRex commented on #40
@dealdiane Good morning ... a few quick, simple things ...

When you typed "/www," you meant "/wwwroot," right?
You have the `"Microsoft.AspNet.StaticFiles": "1.0.0-rc1-final",` package in place, correct?
The application is responding normally otherwise, correct? I mean is it returning MVC views normally?

As for the order of the statements (or even the presence of `app.UseIISPlatformHandler();`),

[2015-12-05 17:59] dealdiane commented on #40
@GuardRex Yes, sorry I mean /wwwroot. You see, I purposely left out installing `Microsoft.AspNet.StaticFiles` because I didn't want Kestrel to serve the static files for me. I wanted IIS to take care of it and use its built-in features (specifically static compression here) and you're right if I add in `Microsoft.AspNet.StaticFiles` and `app.UseStaticFiles`, all my static files get returned but wi

[2015-12-05 18:20] GuardRex commented on #40
@dealdiane It should be working on reverse proxyed content. This is with Kestrel and the static files package. Here's a Fiddler shot showing that I'm asking for gzip compression and getting a gzipped response of a `robots.txt` file. The response header for the `Content-Encoding` is being added there by IIS on the way out.

![capture](https://cloud.githubusercontent.com/assets/1622880/11609349/5cb5

[2015-12-05 18:24] GuardRex commented on #40
@dealdiane ... and forgive me if you already did all of that. I re-read your post, and it seems perhaps you may have confirmed it wasn't working. If that's the case, I'd look more carefully at the IIS-side of things. I'm sure you set IIS static compression, too, in the IIS Manager. If it's all configured correctly and still broken, then I'm sort of out out ideas. Except if you do put up a repo, I

[2015-12-05 19:15] Tratcher commented on #40
IIS's dynamic compression works with reverse proxied content, but it's static compression doesn't.

I think one way to make IIS handle static files by default is to update this line of the web.config
`<add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />` so that not all paths or verbs are forwarded to Kestrel. This may be easier said than do

[2015-12-05 19:26] GuardRex commented on #40
Ah, yes, I see.

![capture](https://cloud.githubusercontent.com/assets/1622880/11609674/14f7dfe0-9b42-11e5-9f9f-4be0cf0d1e39.PNG)

![capture2](https://cloud.githubusercontent.com/assets/1622880/11609679/5c0a75fa-9b42-11e5-8501-428b6a022581.PNG)

... and maybe something inside the Handler Mappings along those lines ...

![capture3](https://cloud.githubusercontent.com/assets/1622880/11609703/eeec4cc

[2015-12-07 06:17] zhengchun opened #45 "HTTP 502.3 Bad Gateway running on the IIS with HttpPlatformHandler(1.2)"
I'm sorry,i known this issue already discussing at [ASPNET-Home#1000](https://github.com/aspnet/Home/issues/1000) or at [ASPNET-Hosting#364](https://github.com/aspnet/Hosting/issues/364),but it still can't help me how to running correct.

I'm testing run a `HelloWeb` project that in the `v1.0.0-rc1-update1` version and it can running correct on `dnu web` command,when publish(dnu publish command) a

[2015-12-07 06:18] davidfowl commented on #45
Anything interesting in `..\logs\stdout.log`?

[2015-12-07 06:20] zhengchun commented on #45
NO,there are no any log to output,it's  a empty folder.

[2015-12-07 06:54] zhengchun commented on #45
hi,@david,i found a error message in windows event viewer:

[code]

[code]

it's looks missing some components?

[2015-12-07 07:03] zhengchun commented on #45
i setted a permission for the logs folder and get a `Maximum rapid fail count per minute of '10' exceeded` error in the event viewer window.

[2015-12-07 07:05] davidfowl commented on #45
Whats in the log file now?

[2015-12-07 07:08] zhengchun commented on #45
` "dnx.exe"' is not recognized as an internal or external command, operable program or batch file`

[2015-12-07 07:14] davidfowl commented on #45
@zhengchun Try publishing from visual studio instead of from the command line. It looks like you are running into several problems:

- Permissions aren't setup properly
- You didn't publish the runtime
 - As a result of not publishing the runtime the dnx.exe can't be found (because it's normally in the user profile and the identity your app pool is running under can't find it)

[2015-12-07 07:26] davidfowl opened #46 "[Dotnet CLI]: IIS Hosting big rocks"
With the upcoming CLI changes, we need to change how IIS launches the application. Since commands are going away, the application will be the main entry point. Here's the example `web.config`:

In dev

[code]

After publish

[code]

### During development

We could look at keeping the pattern and changing the names of the env variables to be more generic:

[code]

Another option would be to put th

[2015-12-07 07:30] zhengchun commented on #45
Hi,@david,it can working using visual studio instead of the command line,thanks.

`HTTP 502.3 Bad Gateway` that  not just don't have install a HttpPlatformHandler,and also missing permission will also cause this error.Thanks.

[2015-12-07 07:39] #45 closed

[2015-12-07 15:30] Tratcher commented on #46
Isn't this a Tooling task?

[2015-12-07 16:18] GuardRex commented on #46
Nit (unless this is changing, too): The file extension for the log file is added automatically.

[2015-12-07 16:36] muratg commented on #46
@Tratcher At least the environment var names would need to be updated with this approach on the runtime.  Also I'm not sure if we modify web.config after publish for HttpPlatformHandler sections but this change seems to require that as well. Tooling will be impacted too.

[2015-12-07 16:37] davidfowl commented on #46
It's mostly a templates work item actually and tooling. We should just decide where what we want to try.

/cc @BillHiebert

[2015-12-07 20:05] Tratcher commented on #44
I think the trick was to only include
[code]
in the base application's web.config. IIS Web.Configs are hierarchical, so your sub apps are inheriting the handlers section. Hence the error about duplicates.

[2015-12-07 22:54] BrennanConroy commented on #30
This is an Antares issue, I have contacted them to see if they can resolve it.

[2015-12-07 22:54] #30 closed

[2015-12-07 22:56] Tratcher commented on #30
Note this also repros with Asp.Net 4 on azure web sites.

[2015-12-09 14:04] Fosol commented on #44
We did this.  The subapplication will only throw 404s from that point on.

This is a bug or a change that requires information to implement.

[2015-12-09 15:22] Tratcher commented on #44
See the temporary Map workaround https://github.com/aspnet/IISIntegration/issues/14#issuecomment-150716529

[2015-12-09 16:16] Fosol commented on #14
I don't understand the workaround.

Are you saying we need to configure the sub-application within the parent application. Essentially copying the Configure method of the sub-application into the parent?

[2015-12-09 16:22] Tratcher commented on #14
Sup-apps have different paths (e.g. /subapp/controller/foo) which breaks routing. The workaround is to use Map("/subapp"... In your sub app to remove the extra path segment.

[2015-12-10 22:58] BrennanConroy commented on #42
41cd7bf45ecbe5c310b8f627d987c0bb913f692b

[2015-12-10 22:58] #42 closed

[2015-12-14 18:53] MaximRouiller commented on #20
Any workaround on this? Can we catch and event when a process is being closed?

[2015-12-15 23:09] devtai commented on #35
Any update on this ?
I have latest version (1.2.1959) of HttpPlatformHandler 1.2 installed.  Restarting appPool (64bit) or website in IIS 7.5 Windows 7 crashes w3wp.exe.

[2015-12-15 23:39] Tratcher commented on #35
We'll resume work on platform handler at the start of January.

[2015-12-22 23:23] #44 closed

[2015-12-29 18:36] muratg commented on #19
Yeah, I think writing the tests in WebSockets repo makes more sense.

[2016-01-02 08:34] jijiechen commented on #45
@zhengchun  I hope my comment [ASPNET-Hosting#466](https://github.com/aspnet/Hosting/issues/466#issuecomment-168372853) could help, you may have a try.

[2016-01-04 22:32] muratg commented on #19
This issue was moved to aspnet/WebSockets#67

[2016-01-04 22:32] #19 closed

[2016-01-05 12:59] theonlylawislove opened #51 "IHttpConnectionFeature is null for Windows 7 (IIS 8), but works on Windows 10."
Is this expected? Bug?

[2016-01-05 14:35] davidfowl commented on #51
Can you provide more details? Do you have a sample that we can run? Something on github would be best

[2016-01-05 15:19] Tratcher commented on #51
At least package versions and startup code please.

[2016-01-05 20:52] Tratcher commented on #35
This may have been fixed in a patch to platformhandler v1.2.

[2016-01-05 21:09] Tratcher commented on #40
Note: this can only be achieved with IIS handler mappings.

[2016-01-06 16:11] Tragetaschen commented on #7
Just a quick summary from aspnet/Tooling#359:

This largely affects SignalR (in this case 2.2) hosted within ASP.NET 5 for example on Azure, since the only viable transport option is Long Polling. Without further tweaks, this fallback is only chosen by a client after a five second timeout.

[2016-01-06 17:42] Tratcher commented on #32
Note: The event log message "The description for Event ID 1001 from source HttpPlatformHandler cannot be found. Either the component that raises this event is not installed on your local computer or the installation is corrupted. You can install or repair the component on the local computer." may show up on machines that are using IIS Express without installing the HttpPlatformHandler msi. This is

[2016-01-06 17:53] GuardRex commented on #32
The last instances I see of this in a couple of my logs are: In a 2012R2 log was 12/6. In a 2012 log was 1/6 ... actually just 20 minutes ago. The server-side cause is still under investigation?

[2016-01-07 05:00] davidfowl opened #52 "Add UseIISPlatformHandler extension method to IWebApplicationBuilder"
See https://github.com/aspnet/Hosting/pull/553. Here's what the entry point would look like:

[code]

UseIISPlatformHandler sets the appropriate server.urls entry for the port and base path. These are baked into hosting today.

[2016-01-07 06:05] theonlylawislove commented on #51
https://github.com/theonlylawislove/temp-aspnet-IISIntegration-issues-51

When running through IIS, I get "No connection feature..." as the response to the request.

[code]

[2016-01-07 18:24] glennc commented on #52
I assume this is part of the outcome from yesterdays hours of discussion?

[2016-01-07 18:25] davidfowl commented on #52
Yap

[2016-01-07 19:27] GuardRex commented on #51
https://github.com/aspnet/HttpAbstractions/issues/309

[2016-01-07 19:30] theonlylawislove commented on #51
@GuardRex, as far as I can tell, that change was not made. Correct? I'm not sure what your trying to say.

[2016-01-07 19:42] Tratcher commented on #51
Kestrel didn't populate IHttpConnectionFeature in rc1, but UseIISPlatformHandler would read the x-forwarded-for header and populate it for you. There's a known issue with UseIISPlatformHandler in rc1 where it may fail if the x-forwarded-for address included a port (https://github.com/aspnet/IISIntegration/commit/8ee803d255650b341fb4c278480a54ea308e4bf5). Have your application display the request h

[2016-01-07 23:17] Tratcher commented on #52
If you call it UseIISPlatformHandler for both IWebApplicationBuilder and IApplicationBuilder it's going to be very confusing to document. How about UseIISPlatformHandlerUrl?

[2016-01-08 21:21] moozzyk opened #55 "publish-iis tracking list"
- [ ] ~~find a better name (this tool just tweaks the web.config rather than publishing anything)~~
 - [ ] ~~add `--version` switch~~
 - [x] wwwroot can be renamed via the webroot parameter in hosting.json or command line
 - [x] add option to publish for Azure (similar to what [dnu publish](https://github.com/aspnet/dnx/blob/819a6e603b0f43ef1a9da539ecc8ecc29a16bdbc/src/Microsoft.Dnx.Tooling/Publis

[2016-01-09 06:24] theonlylawislove commented on #51
New output:
[code]

[2016-01-09 06:28] theonlylawislove commented on #51
Any recommendations for a work around? Should I parse this header myself, and add my own ```IHttpConnectionFeature``` implementation in some middlware?

[2016-01-09 06:33] davidfowl commented on #51
@Tratcher is that fixed in RC2? or RC1-update1?

@theonlylawislove you could copy the code from the new IISPlatformHandler middleware if you're on RC1.

[2016-01-09 06:43] GuardRex commented on #51
Is this it? https://github.com/aspnet/BasicMiddleware/blob/d1a0edb87ea4f24403c9b7273db41a4bfcab6e96/src/Microsoft.AspNet.HttpOverrides/OverrideHeaderMiddleware.cs#L50

OR ... you could try this ...https://github.com/aspnet/IISIntegration/issues/17#issuecomment-156790265 which will probably get you hacked, broke, fired, and prosecuted! :smile:

[2016-01-09 07:08] theonlylawislove commented on #51
Here is a quick piece of middleware that fixed this issue, in case someone needs it fixed pronto.

[code]

Register it *before* you register ```UseIISPlatformHandler```.

[2016-01-11 19:05] glennc opened #57 "Platform Handler cannot log to streaming logs location"
There appears to be some bug in the platform handler that stops it from redirecting console output to the right location for streaming logs to work. The team have agreed that it is a bug they should just fix, but I don't know when that will actually happen.

[2016-01-11 20:19] Tratcher commented on #51
@davidfowl @GuardRex Yes, that logic was fixed and moved to OverrideHeadersMiddleware.

[2016-01-11 20:59] Fosol opened #58 "Not able to get it running in IIS"
I've got a Development environment setup and running with IIS, however I've recently attempted to publish to a QA environment and it won't work within IIS.

After I publish I can run the web application with the command line "web.cmd".  I just can't get IIS to give me anything at all.  I've set IIS up the same way as the Development environment (as far as I can tell).

Is there a list of steps to

[2016-01-11 21:19] Fosol commented on #58
Looks like I need to uninstall IISPlatformHandler and then delete all web sites and web applications in IIS.

Then reinstall and reconfigure...

[2016-01-11 21:19] #58 closed

[2016-01-11 23:43] GuardRex commented on #58
@Fosol It's not fully updated for RC2, but if you want additional info, check my comment at https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294. If you get stuck, ping me back, and I'll see if I can help.

[2016-01-12 09:40] leak commented on #35
Is this patch available to be tested? The version mentioned by @devtai still crashes for me.

[2016-01-12 22:23] fermaem opened #63 "HttpContext.Connection.IsLocal returns true when hosted in an Azure webapp"
Discovered on version 1.0.0-rc2-16357.

Following #17 and its fix, `HttpContext.Connection.IsLocal` returns `true` when ran a local computer.

Unexpectedly, it also returns `true` when hosted in an Azure web app.

**Note:** In order to test this, I've patched the kudu generated `deploy.cmd` script to target a different dnx runtime and changed the `dnu restore` sources

[2016-01-12 22:25] Tratcher commented on #63
https://github.com/aspnet/IISIntegration/pull/43

[2016-01-13 17:18] #52 closed

[2016-01-13 20:46] GuardRex commented on #52
@Tratcher Is it safe to remain on a current runtime (`-rc2-16357` at MyGet nightly) for this change with `Hosting` package(s) declared `-rc2-*`? In addition to the extension in `Main`, what needs to be done on the runtime/packaging dependencies side (if anything)?

[2016-01-13 21:43] Tratcher commented on #52
Microsoft.AspNet.Hosting rc2-16219 and later. Microsoft.AspNet.IISIntegration rc2-16132 and later. You'll need to update both packages at the same time as there is a conflict between the new and old behavior.
It's hard to say what build of DNX works with specific versions of other packages without testing.

[2016-01-13 21:49] GuardRex commented on #52
@Tratcher Thx. Apparently I've been ok with runtime `dnx-coreclr-win-x64.1.0.0-rc2-16343`, but I'll upgrade that later today. I've always had my packages set to `-rc2-*`, so I'm :cake: on that.

[2016-01-13 22:03] s093294 commented on #14
[code]
I havent been able to get the workaround to work with an app configuration above.

[2016-01-13 22:23] esargent opened #64 "azure hosting help"
I got my app published to Azure but I'm getting that dreaded 502.3 Bad Gateway error. However after reading through everything I can find, which mostly relates to beta8/rc1 I think I'm having a slightly different problem where my app is starting just fine, even serving static files (apparently from stdout).
Everything I read here about this says this means you have the wrong version of the IISPlat

[2016-01-13 22:50] Tratcher commented on #14
Updated workaround with the latest RC2 packages (https://github.com/aspnet/IISIntegration/issues/52#issuecomment-171444840).

The next version of HttpPlatformHandler (1.3?) will provide the base path via HTTP_PLATFORM_APPL_PATH and UseIISPlatformHandlerUrl will apply it. Until that version is released you can add HTTP_PLATFORM_APPL_PATH to the environment variables section of the httpPlatform web.

[2016-01-13 23:08] Tratcher commented on #27
Requires a new release of HttpPlatformHandler (v1.3?)

[2016-01-13 23:09] Tratcher commented on #7
The next version of HttpPlatformHandler (v1.3?) has disabled its internal buffering.

[2016-01-13 23:11] Tratcher commented on #33
Fixed by the next version of HttpPlatformHandler (v1.3?)

[2016-01-13 23:19] Tratcher commented on #64
@halter73, @cesarbs?

[2016-01-14 01:28] halter73 commented on #64
As a workaround, you can probably do something like:

    // ...
    using Microsoft.AspNet.Http.Features;
    using Microsoft.AspNet.Server.Kestrel;
    // ...

    public class Startup
    {
        public void Configure(IPplicationBuilder app, ...)
        {
            var ksi = app.ServerFeatures.Get<IKestrelServerInformation>();
            ksi.ThreadCount = 1;
            // ...

I'll be in

[2016-01-14 04:44] avanderhoorn commented on #7
Great to hear. When is the rough eta for it to drop?

[2016-01-14 17:53] esargent commented on #64
That fixed it. Can't wait to understand more what was happening!!

[2016-01-14 18:57] Tratcher opened #67 "Remove X-IIS-WindowsAuthToken"
This changed between HttpPlatformHandler v1.2 and 1.3 form X-IIS-WindowsAuthToken to MS-PLATFORM-HANDLER-WINAUTHTOKEN. Remove the old one after RC2.
https://github.com/aspnet/IISIntegration/pull/66

[2016-01-15 00:57] villanus opened #69 "Will URL rewriting still work?"
Just curious if going through IIS can we still use URL rewrite rules?

[2016-01-15 02:32] davidfowl commented on #69
Yes you can, here's an example https://github.com/aspnet/live.asp.net/blob/dev/src/live.asp.net/wwwroot/web.config#L8

[2016-01-15 16:29] tuespetre commented on #14
@Tratcher :beers:

All y'all winning at life and such

[2016-01-15 16:32] s093294 commented on #14
I also got my stuff working with a little help from @davidfowl

[2016-01-15 21:49] Tratcher commented on #63
https://github.com/aspnet/HttpAbstractions/issues/536

[2016-01-15 21:49] #63 closed

[2016-01-15 23:31] Tratcher commented on #24
Actual error message: "This configuration section cannot be used at this path. This happens when the section is locked at a parent level. Locking is either by default (overrideModeDefault="Deny"), or set explicitly by a location tag with overrideMode="Deny" or the legacy allowOverride="false"."

[2016-01-15 23:50] Tratcher commented on #64
This issue was moved to aspnet/KestrelHttpServer#582

[2016-01-15 23:50] #64 closed

[2016-01-15 23:53] #40 closed

[2016-01-15 23:55] #51 closed

[2016-01-16 00:11] #69 closed

[2016-01-19 11:21] mrsheepuk commented on #35
We're also seeing this on IIS7.5 - is the updated HttpPlatformHandler available to test anywhere?

[2016-01-19 11:28] davidfowl commented on #35
@mrsheepuk What version do you have installed?

[2016-01-19 12:01] mrsheepuk commented on #35
It's v1.2.1958.

[2016-01-19 17:08] muratg commented on #35
@rramachand21 what's the version that has the fix? Where's the download?

[2016-01-19 18:21] rramachand21 commented on #35
The fix is in v1.2.1959 -- http://go.microsoft.com/fwlink/?LinkId=690721

[2016-01-20 12:11] mrsheepuk commented on #35
I've upgraded on one of our test servers and I'm still seeing the same errors:

[code]

[2016-01-20 12:17] mrsheepuk commented on #35
I don't know if it's any help, but here's the crash details from Windows Error Reporting:

[code]

[2016-01-20 23:05] Tratcher opened #71 "Ignore startup timeouts if the debugger is attached"
HttpPlatformHandler has a startup time limit for how long it will wait for the back-end process to accept requests. Then it kills the process and tries again up to 10 times. However, if we want to debug anything at startup we usually exceed these limits so we have to override them with `startupTimeLimit="3600"`.

Proposal: HttpPlatformHandler should ignore this time limit while the debugger is att

[2016-01-20 23:07] Tratcher commented on #71
Note the startup process for VS F5 is to:
1) launch IIS express
2) Make a DEBUG request to the web site so get it started
3) Attach to the process

@BillHiebert

[2016-01-20 23:12] Tratcher commented on #71
Rumor has it this was fixed back in the 10/21 release. Needs verification.

[2016-01-21 18:44] pakrym commented on #34
This is expected behavior, development scenario will be fixed by https://github.com/aspnet/dnx-watch/issues/47

[2016-01-21 18:44] #34 closed

[2016-01-21 21:51] muratg commented on #67
Why RTW?

[2016-01-21 21:53] Tratcher commented on #67
Compat bridge. Otherwise you have to update HttpPlatformHandler and AspNet in lockstep.

[2016-01-21 22:24] muratg commented on #8
Moving this to Backlog as we will be in RC2 ask mode very soon.  If you feel strongly about this issue, please ping me.

[2016-01-21 22:26] muratg commented on #35
@rramachand21 Can you have a look?

[2016-01-21 22:49] muratg commented on #46
@davidfowl Is it OK to close on IISIntegration and file in Tooling repo instead?

[2016-01-21 22:51] davidfowl commented on #46
No leave it for now. When we get something working end to end then we can close it.

[2016-01-21 23:07] muratg commented on #46
Is there a tooling WI tracking the work on their side?

@BillHiebert?

[2016-01-22 09:15] leak commented on #35
Just to be clear: 1.2.195**9** does **not** contain the fix.

I installed this very version at 26.10.2015 and the MSI packet linked by @rramachand21 above says "Content created 21.10.2015".

So if there is really a fix to this issue somewhere it has not been released yet.

[2016-01-22 10:14] mrsheepuk commented on #35
I can confirm what @leak has said there - I downloaded the installer from the link provided by @rramachand21 on 19/01/2016 and installed it, it upgraded my installed version from .1958 to .1959, but the issue appears unchanged and identical to before - so either the fix doesn't work, or it isn't in 1959.

[2016-01-22 12:15] jruckert opened #75 "Question: Windows Authentication + Delegation"
Hi All,

 Traditionally when we want to setup impersonation/delegation we would usually setup the apppool credentials with a SPN (associated with the http/<iisurl>) + turn on impersonation under the web.config file.

In the new world, we have done the same regarding the SPN and http/<iisurl> (NOTE: This url is different from the Kestrel hosting.json server.url)

We have tried every permutation und

[2016-01-22 15:20] Tratcher commented on #75
/cc: @blowdart

Your analysis is mostly accurate. Let me fill in some blanks.

The authentication is happening in IIS so you do need the SPN configured there. However the impersonation there is irrelevant as we are running out of process. The identity is passed to the back-end process through a special [handshake](https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNet.IISPlatformHa

[2016-01-22 19:01] muratg commented on #20
@davidfowl For RC2 ask mode?  Or postpone?

cc @DamianEdwards

[2016-01-22 20:30] rramachand21 commented on #35
I will check

[2016-01-22 21:31] jruckert commented on #75
Thanks for your guidance, this clarifies a lot of my thinking, so in theory though if I wanted all operations to be delegated, would a valid approach be to create some middleware to perform this impersonation operation for all requests? (Thinking about this as I write this, I'm thinking its not valid as we are interested in outbound impersonation to another service, not the inbound request?)

I su

[2016-01-22 21:34] Tratcher commented on #75
@blowdart, I'll defer to you on this one.

[2016-01-22 21:43] blowdart commented on #75
Assuming the identity flows async and to background tasks that would work, however it may not be what you want to be honest. Error handling would now run elevated and that's usually not a good idea, especially if threads abort and things hang around for a while.

So if I were recommending an approach it would be to wrap only the code that requires it in an impersonation call, and ensure that you c

[2016-01-22 22:01] jruckert commented on #75
Thanks!

[2016-01-22 23:57] jruckert commented on #75
Sorry last question, will we need a SPN for the dnx.exe process for the specific port that it is listening on?

[2016-01-23 00:00] Tratcher commented on #75
No, there is no authentication being processed in the dnx.exe, that all happens in IIS and is handed off to us.

[2016-01-23 09:55] jruckert commented on #75
I've done everything that has been recommended so far, and still not delegation of rights.

I'm running under both Anonymous and Windows Auth (due to a CORS being a requirement).

I'll attempt to send a stack trace/wireshark etc, as this is not working.

[2016-01-24 22:22] rramachand21 commented on #35
@mrsheepuk I setup a windowsn 7 VM and tried to repro this and I cannot repro.. Could you please give me exact repro steps ? Thanks.

[2016-01-24 22:25] mrsheepuk commented on #35
I'll do that first thing tomorrow (UK time) @rramachand21 - I believe we're
using Windows Server 2008 R2 but I'll confirm that tomorrow. In any case,
it's definitely IIS 7.5.

On Sun, 24 Jan 2016 at 22:23 Ranjith Ramachandra <notifications@github.com>
wrote:

[2016-01-25 00:14] Eilon commented on #57
@Tratcher should this be assigned to you? Right now a ghost is working on this :smile:

[2016-01-25 00:18] muratg commented on #35
@rramachand21 Did you try 32 bit and 64 bit versions?

[2016-01-25 00:19] muratg commented on #57
@Eilon I believe the fix is in HttpPlatformHandler, and Ranjith is working on it.  This is a tracking bug to ensure we'll verify it once it's done.

We can probably remove "Working" tag though :)

[2016-01-25 02:38] rramachand21 commented on #35
yeah, i tried 32bit and 64bit versions.

[2016-01-25 02:45] Eilon opened #76 "502 Bad Gateway - can we get a stack trace / exception?"
Copied from https://github.com/aspnet/Mvc/issues/3967

------------------

From @joshmouch:

Sometimes when I write bad code, DNX/MVC/ASP.NET 5 will stop responding correctly (either with the expected page or else with the DeveloperException page), and instead, give me a 502 Bad Gateway.  Up until now, I think this has always been when there is a StackOverflowException (i.e. an infinite loop somew

[2016-01-25 11:14] mrsheepuk commented on #35
OK here's our setup in full @rramachand21 - if you need any further info do shout:

* Windows Server 2008 R2 Standard, with Service Pack 1.
* We have 2 DNX / Kestrel hosted websites installed as an applications on sub-directories of the Default Web Site - in our case, the addresses are: http://localhost/ms/ and http://localhost/data/
* As this is the only thing on our test server, they're set to u

[2016-01-25 20:50] rramachand21 commented on #35
Thanks, would you be able to share the applications as is with their respective web.config ?

[2016-01-25 21:07] mrsheepuk commented on #35
Unfortunately not, they're proprietary, but I'll see if I can cut them down
to just startup.cs and web.config and see if it still does the same. Will
report back shortly!

On Mon, 25 Jan 2016 20:51 Ranjith Ramachandra <notifications@github.com>
wrote:

[2016-01-25 21:48] rramachand21 commented on #35
that will be great.. thank you.

[2016-01-25 22:34] jmzagorski commented on #35
should I be concerned about this? my app is going into production next week. Thanks.

[2016-01-25 22:46] mrsheepuk commented on #35
In our case, it's causing event log entries which are getting propagated
out to our alerting systems, but it's not causing any actual problems per
sé. The app pool recycle still happens, and the app starts again when the
next request comes in, so it's a problem of noise.

The only concern I'd have is if there's some sort of unclean shutdown
happening and your app has some sort of resources open th

[2016-01-25 22:49] Tratcher commented on #35
Note you'll never be able to guarantee clean shutdown as process crashes are always possible. But yes, reducing the noise would be good.

[2016-01-26 11:37] DavidR91 commented on #14
Just to clarify here - does this workaround function on its own, like this:

	<httpPlatform processPath="..\approot\web.cmd" arguments="" stdoutLogEnabled="false" stdoutLogFile="..\logs\stdout.log" startupTimeLimit="3600">
	      <environmentVariables>
	        <environmentVariable name="HTTP_PLATFORM_APPL_PATH" value="testbed" />
	      </environmentVariables>
	</httpPlatform>

or does it need to

[2016-01-26 14:03] Tratcher commented on #14
That should be `value="/testbed"`, and yes it should work with HttpPlatformHandler 1.2 and our latest RC2 packages. This should replace the Map workaround.

[2016-01-26 14:36] tuespetre commented on #14
Thanks for together providing a visible, valid example, @DavidR91 and @Tratcher

[2016-01-26 17:16] mrsheepuk commented on #35
[W3WPTestPublished.zip](https://github.com/aspnet/IISIntegration/files/105334/W3WPTestPublished.zip)

OK I've just reproduced the issue using the setup described above with the attached published site. The code I used to create the published site is available [in this repo](https://github.com/mrsheepuk/W3WPCrashTest) and published using the following dnu command:

[code]

I created a new app pool,

[2016-01-26 19:05] rramachand21 commented on #35
Thanks, trying it out now.

[2016-01-26 21:46] Tratcher commented on #71
Fixed in the next release of HttpPlatformHandler (v1.3?).

However, we've got some tooling work to do on our side. When we switch to the .NET CLI we'll loose our DNX MITM that waits for the debbugger to attach before running user code. Tentative theory is for VS to replace this with it's own debug launcher that starts the back-end process suspended, waits for the debugger to attach, and then resum

[2016-01-29 00:36] Tratcher commented on #8
Ok, now we understand why it doesn't work, and it won't any time soon.

HttpPlatformHandler starts the back-end process (dnx.exe). Then it opens a socket and tries to connect to the specified port. When that succeeds it cross checks the process that opened the port with it's list of child processes. If it finds a mismatch then it assumes it has a port conflict and it ends all of it's child process

[2016-01-29 19:09] aholmes commented on #17
This appears to still be an issue. I have an empty ASP.NET project for which I started debugging by clicking "IIS Express" in Visual Studio. When accessing the local URL in Chrome, `context.Connection.RemoteIpAddress` is set correctly to `::1`. When I test with curl (`curl -i http://localhost:50588`), the address is `null`.

 With chrome, the `X-Forwarded-For` header is set to `[::1]:51760`. With

[2016-01-29 19:11] Tratcher commented on #17
RC1 or RC2? In RC2 the IP forwarders logic has been moved from UseIISPlatformHandler to UseForwardedHeaders.
https://github.com/aspnet/BasicMiddleware/blob/dev/samples/HttpOverridesSample/Startup.cs#L13

[2016-01-29 19:15] aholmes commented on #17
I see ... is this possibly an issue with the ASP.NET template for Visual Studio? The code linked is for AspNetCore, which is not present in my project.

[2016-01-29 19:33] Tratcher commented on #17
VS contains RC1 templates and you should use RC1 packages with them. Converting to RC2 is more than just changing the package references. https://github.com/aspnet/Announcements/issues/144

[2016-01-29 19:45] aholmes commented on #17
Thanks, I appreciate the explanation.

[2016-02-01 09:19] grzech1983 opened #79 "Running ASP.NET 5 RC1 on Windows Web Server 2008 R2 - 502.3 error"
Hello,

I'm managing mixed 2008 R2, 2012 and 2012 R2 hosting environment managed by WebsitePanel control panel. I've started interesting in testing and adding possibility to run ASP.NET 5 RC1 and later versions (when they will be released). I've installed the same set of software httpPlatformHandler 1.2 and AspNet5.ENU.RC1_Update1.exe package on every system. On each system I'm publishing the same

[2016-02-01 21:46] Tratcher commented on #57
The fix is available and we're working on the validation.

[2016-02-02 22:18] muratg commented on #75
@pakrym Could you attempt a repro for this issue?

[2016-02-02 22:20] muratg commented on #76
@joshmouch could you provide a basic repro app?

[2016-02-02 22:33] moozzyk commented on #76
If this is about http platform handler - turn on logging in the web.config and you should get log files in the `stdoutLogFile` folder.

e.g. `<httpPlatform processPath="..\HelloMvc.exe" stdoutLogEnabled="true" stdoutLogFile="..\logs\stdout.log" startupTimeLimit="3600" />`

[2016-02-03 23:08] Tratcher commented on #20
Design: HttpPlatformHandler will define a new opt-in web.config setting "signalShutdown=true" (verify name). When set, it will send a Ctl+C & Ctl+Break to the back-end process and wait for a given timeout for the process to shut itself down. If the timeout expires then the process will be forcefully terminated.

This feature is being developed as part of the app offline deployment scenario.

[2016-02-03 23:19] Tratcher opened #81 "Support app_offline.htm"
- Deployer uploads app_offline.htm (case insensitive)
 - HPH serves app_offline.htm for any new incoming requests
- HPH signals process shutdown (SignalR, WebSockets) (opt-in web.config: signalShutdown=true ?)
 - Ctl+C https://msdn.microsoft.com/en-us/library/ms683155(v=vs.85).aspx
 - Ctl+Break? Can Hosting receive both of these? Break might be more correct.
 - General feature for graceful shutdow

[2016-02-03 23:27] Tratcher commented on #81
Hosting already supports Ctl+C and Ctl+Break.

[2016-02-04 01:47] muratg commented on #81
Cool, thanks for checking!

[2016-02-04 01:50] muratg commented on #81
Note for HPH side:  CreateProcess will need to be called the right way with the flag `CREATE_NEW_PROCESS_GROUP ` as specified in the [msdn article](https://msdn.microsoft.com/en-us/library/ms683155%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396)

[2016-02-04 02:50] GuardRex commented on #81
HPH will be checking periodically for the presence of this file? I wish checking for the file file could be disabled in options for `app.UseIISPlatformHandler()`.

[2016-02-04 03:43] moozzyk commented on #81
@GuardRex - why?

[2016-02-04 03:54] GuardRex commented on #81
Perf concern ... How often does HPH have to check for the file? Is it inconsequential (i.e., milliseconds spent every several seconds ... i.e., that's no "concern" to be concerned about)?

[2016-02-04 03:55] PureKrome commented on #81
@moozzyk

- Some people might _never_ want to push up an `app_offline.hml` so why waste the cpu check(s) (yes, micro opt).
- Security. disable the option for a rogue person to throw the site offline by just uploading a single file with some hacker message, etc.

[2016-02-04 04:12] moozzyk commented on #81
@GuardRex - Perf concern - I would assume that platform handler will not poll but be notified about changes. Not sure how much overhead it would add but IIS already monitors changes to the web.config file and I don't think this is causing perf issues.

@PureKrome - > Security. disable the option for a rogue person to throw the site offline by just uploading a single file with some hacker message,

[2016-02-04 04:13] GuardRex commented on #81
Perfect! ...... concern withdrawn.

[2016-02-04 04:35] Tratcher commented on #81
@GuardRex On a related note, HPH is configured exclusively via the web.config. There's nothing you/we can do once the app has launched. UseIISPlatformHandler and similar just consume things provided by HPH.

[2016-02-04 04:37] GuardRex commented on #81
@Tratcher I see. Just asking. I'm good.

[2016-02-04 10:54] grzech1983 commented on #79
Maybe this report should be moved or created under different category/project like https://github.com/aspnet/Hosting ?

[2016-02-04 16:51] sayedihashimi commented on #81
Retry loop on deletefile?

When VS is used we will pass the `appoffline` flag to MSDeploy. We will also pass a flag to retry 5 times by default. So the flow is that msdeploy will drop the app_offline.htm file, start uploading files from the client, and then delete the app_offline.htm. If there is a problem during the publish it will retry automatically. In some cases if the web server is taking to

[2016-02-04 17:11] Tratcher commented on #79
This is the right place. We're still getting used to HttpPlatformHandler and it's various error cases. Here is one of the better writeups sofar: https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294

Have you confirmed that dependency?

[2016-02-04 18:38] muratg commented on #67
Moving back to RC2 because of the recent schedule changes. If needed, we'll move it out again.

[2016-02-04 20:46] grzech1983 commented on #79
Hello,

thanks for responding. I saw somewhere else (maybe StackOverflow) mentioning about Visual C++ Redistributable and I've it installed for x64 and x86 with version 11.0.61030.0. I was trying to set app pool to x64 (since by default I'm using 32bit app pools), setting pool user with more permissions (even Administrator), setting it to no managed code too. Every try ended with error:

Error Sum

[2016-02-04 20:58] dallancarr commented on #79
Hope this is not the Webdav issue

[2016-02-04 21:53] Tratcher commented on #79
`0x80070005 (E_ACCESSDENIED)` sounds like a permissions issue. Is there a matching event in the EventViewer?

[2016-02-05 09:17] grzech1983 commented on #79
Nope. There are only 20 event log Application errors with content:

[code]

[2016-02-05 11:14] grzech1983 commented on #79
One comment which looks similar to my issue is here:

https://github.com/aspnet/Hosting/issues/466#issuecomment-168372853

with info:

[code]

but I'm not sure where I should specify this option since whole process is being made from VS where I'm importing publishing profile and publish app using WebDeploy directly to IIS server.

[2016-02-05 14:42] Tratcher commented on #79
They're referring to the command line steps for publishing. What are your actually publishing steps? Using VS to publish to the file system, with a specific runtime (who's bitness matches your app-pool), and clearing the contents of the output dir. Then copy that output to the web server, set permissions, etc..

[2016-02-05 18:29] moozzyk commented on #79
One way to troubleshoot issues when the application can be start as the current user and won't start with IIS is to try to start application as a different user who does not have all dev settings set. Just publish the app to a folder accessible to everyone (or just use the same folder you published for IIS) and start a cmd using the runas command and try to start the application.

[2016-02-08 18:26] muratg commented on #39
@Tratcher is this still pending?

[2016-02-11 12:07] niclasebs commented on #79
I am not sure if this is going to help, I was however struggling to find the cause of an exception like that when I published a new version of my vnext app to IIS, w3wp.exe was crashing and event log gave me this: HttpPlatformHandler: "The description for Event ID 1000 from source HttpPlatformHandler cannot be found".

This occurred when I changed the web command in my project.json from:
`"web": "

[2016-02-11 12:12] Tratcher commented on #79
@niclasebs The lack of WebListener support is a known issue: https://github.com/aspnet/IISIntegration/issues/8

[2016-02-11 21:20] moozzyk commented on #55
It is now completed.

[2016-02-11 21:20] #55 closed

[2016-02-12 09:48] grzech1983 commented on #79
It looks like I will have to update my 2008 systems to 2012 R2. I should done this long time ago anyway.

[2016-02-12 14:06] mrsheepuk commented on #35
@rramachand21 Did you have any luck reproducing this?

[2016-02-16 19:42] sharabiania opened #86 "Cannot get remote IP Address when using IIS 7.5"
Using the code below, `RemoteIpAddress` is always `null` when deploying the _ASP.Net 5_ application on _IIS 7.5_.

`var test1 = HttpContext.Features.Get<IHttpConnectionFeature>();`

`var test2 = HttpContext.Connection.RemoteIpAddress;`

**Note** My IIS is running on a VM.

[2016-02-16 19:46] Tratcher commented on #86
https://github.com/aspnet/IISIntegration/issues/17

[2016-02-16 19:54] sharabiania commented on #17
The link provided for the work around is broken:

[https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNet.IISPlatformHandler/IISPlatformHandlerMiddleware.cs#L80-L96](url)

Page not found

[2016-02-16 19:56] GuardRex commented on #17
You can try this until you get to RC2 ... if you're **brave** ...
[code]

[2016-02-16 20:00] Tratcher commented on #17
@GuardRex That's way overkill

[2016-02-16 20:03] GuardRex commented on #17
@Tratcher I know ... HPH (under RC1?) doesn't forward them anyway, right? The list was from a survey of possible IP headers from various platforms. I'll delete the comment.

[2016-02-16 22:23] Tratcher commented on #17
HPH 1.2 with RC1 forwards x-forwarded-for and x-forwarded-proto. There was a bug that we couldn't parses the x-forwarded-for if it had a port, which is most of what your workaround code was for.

[2016-02-17 15:37] galmok commented on #14
I tried adding the environmentVariables element to web.config source file, but dnu publish removes it when inserting DNX_PATH and DNX_ARGS. I tried with dnu rc2-16357. I guess this requires a post-publish modification.

[2016-02-18 20:58] vijayrkn opened #87 "publish-iis fails when there are no files in wwwroot folder"
dotnet publish does not create the wwwroot folder if there are no files in the wwwroot folder. When publish-iis runs, it needs to add the web.config to the wwwroot folder and it fails when the folder is not present.

e.g:
Configuring the following project for use with IIS: 'd:\dotnet\web\KWebDemo\KWebDemo\src\KTestingDemo\bin\Debug\dnxcore50\win7-x64\'
No web.config found. Creating 'd:\dotnet\web\

[2016-02-23 18:24] moozzyk commented on #87
Fixed with https://github.com/aspnet/IISIntegration/commit/90763b60a5806ab3a91bd8baa63fa5cd4b3c7300

[2016-02-23 18:24] #87 closed

[2016-02-24 11:56] dotcom9 commented on #79
I'm trying to get an ASP.NET Core (RC1) application running on an IIS virtual application in Windows 10, and I am getting the 502.3 error mentioned in this ticket. I also get the same Event Viewer messages `The description for Event ID 1000 ...`. I have tried configuring the HTTP_PLATFORM_APPL_PATH environment variable from the httpPlatformHandler configuration in web.config, but that has no effec

[2016-02-24 19:17] wmerifield commented on #14
this is what we refer to as a FON! a F#^%$#K UP OF NOTE! Have tried every single one of the fixes mentioned here and elsewhere ...6 hours & still no end in sight! Have no idea what the heck you blokes are doing that side but its not working for the rest of us plebs!

[2016-02-29 13:20] skyflyer commented on #14
There seems to be a lot of confusion about this feature, so I suggest we get some troubleshooting tips on how to see what's going on behind the scenes. My situation:

1. Deploy fresh MVC 6 app (with ASP.NET and Web Tools 2015 (RC1 Update 1)) to a new site: Works
1. Deploy another fresh MVC 6  app to a virtual directory (does not work (HTTP 500 error, no details)
1. Deploy fresh MVC 6 app under a n

[2016-02-29 17:22] dotcom9 commented on #14
This is causing me one hell of a headache! Is there any workaround with Asp.Net Core RC1 and HttpPlatformHandler 1.2, or nothing until the next releases?

[2016-02-29 17:40] tuespetre commented on #14
@dotcom9:

With RC1 all you should need to do is wrap the contents of `Startup.Configure` with `app.Map("/virtual-path-name", ...)`.

@skyflyer:

- Deployment under a virtual root (if you're talking Web Deploy) works just the same as ever. Say your root site is `www.example.com` and your virtual application is named `my-virtual-app`, you will deploy to `www.example.com\my-virtual-app`. App nesting

[2016-02-29 20:37] skyflyer commented on #14
@tuespetre,

1. so you're saying IIS will be relegated to proxying kestrel?
1. regarding app nesting: you're right. I've been [hitting a bug](https://github.com/aspnet/KestrelHttpServer/issues/449) before that I couldn't get a trace on (I've since installed the error reporting pages to IIS).

[2016-02-29 22:38] tuespetre commented on #14
@skyflyer:

Pretty much, which is a good thing IMO.

[2016-02-29 22:41] haydenmc commented on #81
:+1:

[2016-03-01 06:41] s093294 commented on #14
I have been successfully deploying RC1 apps to separate virtual directories. Just haven't had the time to share the setup and was thinking that it all would change with RC2. But since it has not come out yet, i will try share here.

## Install DNVM (if needed on build server)
![image](https://cloud.githubusercontent.com/assets/2718591/13419300/2ad660d2-df7d-11e5-8a26-30891d66d636.png)

the script

[2016-03-01 07:13] s093294 opened #91 "509 after deployment on first request"
It seems to me that after a deployment to azure website with RC1, the first request always get a 500 error. Has anyone been able to confirm the same?

The error information logged was:
[code]

[2016-03-01 13:40] dotcom9 commented on #14
@tuespetre thanks

[2016-03-03 14:19] benaadams opened #92 "[Investigate] Use entire loopback address space for proxying"
Rather than using a single loopback address (e.g. 127.0.0.1) can the entire loopback address space be used? (e.g. 127.0.0.1 -> 127.255.255.255) which may bump the available ephemeral ports from 16k to 16M * 16k = 256Bn ports and prevent port exhaustion.

Note: I don't know if this will be a simple change to get working; or if it would work?

Also don't know if the entire address space works with f

[2016-03-03 17:10] SajayAntony commented on #92
This makes sense. These are internal connections and I'm not sure the limits of this integration yet.
/cc @davidso Platform handler should support large number of connections, over the ephemeral port limits.

[2016-03-03 17:42] Tratcher commented on #92
Note it's not really up to HttpPlatformHandler, it's a question for WinHttp.

[2016-03-03 17:45] SajayAntony commented on #92
@Tratcher good point. I think we just need to know if we set ourselves up to a hard limit based on MaxUserPorts or not when behind a proxy like IIS.

[2016-03-04 08:04] SajayAntony commented on #92
@benaadams @taoliseki I don't know if this possible. Even after binding the local socket to different IP's and with different outbound IPs. looks like the loopback address resources fall into the same bucket.
Connect fails at around the 65k limit.

[code]

This is the pattern
[code]

[2016-03-04 09:48] benaadams commented on #92
@SajayAntony interesting... and a bit weird. Might be something to take up with the Windows networking team? In theory it should work; but I've never seen it suggested as a solution yet (was mostly hoping)

[2016-03-04 09:53] benaadams commented on #92
Ipv4 loopback is essentially an is high bit set test; Ipv6 decided this was a mistake as it reserved so much space (16M ip addresses) and only has a single address for loopback. However in this situation if it worked with the full address space it could be an advantage

As ports reservation is the quad pair SRC_IP:PORT<->DST_IP:PORT

[2016-03-08 10:00] gemehendrix commented on #30
I'm also getting issue. The character causing the problem appears to be the colon.

[2016-03-08 12:21] Scarat opened #93 "Wrong processPath attribute value in published web.config for project name containing dot"
Published web.config processPath attribute has wrong value when project folder contains dot. My project name is "MyProject.Api" which is then transformed by Path.ChangeExtension to "MyProject.exe". It should be "MyProject.Api.exe" because thats the name of the executable.

https://github.com/aspnet/IISIntegration/blob/dev/src/dotnet-publish-iis/PublishIISCommand.cs#L56

Current approach works only

[2016-03-08 20:00] Tratcher commented on #91
Can you share the final web.config file that ended up on the server?

[2016-03-08 20:05] Tratcher commented on #79
That workaround only applies to the latest RC2 packages. For RC1 use the Map workaround instead. https://github.com/aspnet/IISIntegration/issues/14#issuecomment-171451445

[2016-03-09 06:38] s093294 commented on #91
So, the error page is very much correct. There is no web.config at app0. so there might not be any direct issue with the hosting bits.

I need to figure out how a /demos/demo1 request ends up at the app for / .

The apps deployed is simple app.useFileServer() apps.

Next time the server have been idling for a bit i will try to monitor the request abit better to see if I get anything from there.

[2016-03-09 17:52] #93 closed

[2016-03-09 19:09] DamianEdwards opened #95 "Make the extension method for WebHostBuilder do everything required to correctly set up default app to work in IIS"
Right now, an app needs to configure itself in 3 places for IIS integration:
- Dependency and post-publish script in `project.json`
- Call to add IIS integration during `WebHostBuilder` phase in `Program.cs`
- Call to add HTTP forwarders & IIS integration middleware in `Startup.cs`

This is too many places. I'd like us to remove the need for any code in `Startup.cs` for IIS integration by default.

[2016-03-09 19:09] DamianEdwards commented on #95
ping @muratg @moozzyk @Tratcher

[2016-03-09 19:33] moozzyk commented on #95
@DamianEdwards  - `dotnet-publish-iis can't be renamed` to `Microsoft.AspNetCore.Server.IISIntegration.Tools`. Dotnet tools (and therefore the packages) have to start with `dotnet-` prefix

[2016-03-09 19:34] DamianEdwards commented on #95
I don't believe that is true, or at least will continue to be. The dispatching logic looks for assemblies in referenced packages without regard to the package name itself.

[2016-03-09 19:35] DamianEdwards commented on #95
By that I mean, we'd need the package name to be different to the tool assembly name.

[2016-03-09 19:42] moozzyk commented on #95
I will try it but I think I tried it originally and I could not make it work.

[2016-03-09 19:42] muratg commented on #95
@DamianEdwards do you want to rename all the other tool packages as well?  I'll start a thread about the rename of the other package + the extension method.

cc @Eilon

[2016-03-09 19:56] DamianEdwards commented on #95
@muratg if we prove this works, then yes. I think we should standardize on a ".Tools" suffix for our tools packages, e.g. Microsoft.AspNetCore.Razor & Microsoft.AspNetCore.Razor.Tools

[2016-03-10 18:38] Tratcher commented on #67
Merged with #96

[2016-03-10 18:38] #67 closed

[2016-03-14 17:08] mrsheepuk commented on #35
Any updated @rramachand21 ?

[2016-03-14 18:58] muratg commented on #91
Closing per the last comment

[2016-03-14 18:58] #91 closed

[2016-03-14 18:59] muratg commented on #79
@dotcom9 Were you able to make this work in Win 2008?

[2016-03-14 19:00] muratg commented on #92
AspNetCoreModule folks will be doing some investigation on this (and other possible perf improvements)

[2016-03-14 19:01] muratg commented on #86
Dup https://github.com/aspnet/IISIntegration/issues/17

[2016-03-14 19:01] #86 closed

[2016-03-14 19:02] muratg commented on #76
No repro. @joshmouch if you still have issues, please either re-open or file a new bug here with a minimal repro.

[2016-03-14 19:02] #76 closed

[2016-03-14 19:23] benaadams commented on #92
Listening on multiple ports is another option; isn't as good of one though; as its eating up the ports, so would be bad in a dense cluster of services/sites

[2016-03-16 20:41] Tratcher commented on #20
Implemented via https://github.com/aspnet/IISIntegration/issues/81, no setting required.

[2016-03-16 20:42] moozzyk commented on #20
:clap: for "no setting required"

[2016-03-16 20:51] muratg commented on #20
Nice!

@Tratcher I assume you forgot to close. :)

[2016-03-16 20:51] muratg commented on #20
Oh perhaps you're waiting for the full verification before closing. :)

[2016-03-17 20:13] theryjo commented on #35
My team is having this issue as well.  We are observing it with 1.0.0-rc1-update1 on Windows 2008 R2 but not on Windows 2012 R2.  It is triggered by IIS reset as well as occurring intermittently during normal operation of the MVC6 app.

Any updates?  We have some difficult decisions ahead and appreciate any info.

[2016-03-18 16:37] Tratcher commented on #39
I tested with private builds and the behavior has improved, but it is still intermittently incorrect, especially if only a small amount of data has been sent before the back-end connection closes.

[2016-03-18 21:27] #95 closed

[2016-03-23 06:08] NTaylorMullen opened #102 "Prevent users breakpoints from being hit twice on debug"
Today when a users debugs their application via IISExpress (F5 in VisualStudio) their site gets hit with two requests (breakpoints get hit twice). One debug request to start the application, and then a second from the started web browser.

I believe VisualStudio currently sends the first request with verb "Debug". "Debug" seems too generic (in my opinion) to be baked directly into IISIntegration.

[2016-03-23 06:23] Eilon commented on #102
cc @blowdart because presumably we'd need to ensure that this is safe for a deployed site.

Once we're sure we have a solid design for this, we can assign.

[2016-03-23 12:48] blowdart commented on #102
Oh is that why this is happening? I noticed that a couple of weeks back. This might be better addressed by getting VS to behave properly. I'm leery of adding new verbs, especially when folks might not be running under IIS Express

[2016-03-23 13:10] blowdart commented on #102
Rather than add another verb could we not change the Command header that's sent from IIS so we know we can ignore it if necessary?

I don't think IISIntegration should support DEBUG by default. It's one of those verbs that should be blocked by default.

[2016-03-23 17:22] NTaylorMullen commented on #102
/cc @BillHiebert

[2016-03-25 08:55] davidfowl opened #104 "Publish tool tests fail on OSX"
[code]

/cc @moozzyk does this matter?

[2016-03-25 17:49] moozzyk commented on #104
@davidfowl it doesn't but it shouldn't fail. I will take a look at this.

[2016-03-25 22:21] Tratcher opened #105 "HttpPlatformHandler has been replaced by ASP.NET Core Module"
## Background

In beta8 and rc1 ASP.NET Core Applications hosted in IIS employed a native IIS module, HttpPlatformHandler v1.2, to forward requests to the ASP.NET Core Kestrel Server.
## What's Changing?

Going forward we're moving to the ASP.NET Core Module, a new native IIS module, to forward requests to Kestrel.
## Why?

We have added Asp.Net specific features, where HttpPlatformHandler was a g

[2016-03-25 22:51] Tratcher commented on #7
This as been fixed in AspNetCoreModule v0.8: https://github.com/aspnet/IISIntegration/issues/105.

The only un-expected behavior remaining is that specifying `Connection: close` from Kestrel closes the connection between Kestrel and IIS but not the connection between IIS and the client. That's appropriate per the protocol, so we'll leave it.

[2016-03-25 22:51] #7 closed

[2016-03-25 22:52] Tratcher commented on #14
This as been fixed in AspNetCoreModule v0.8: https://github.com/aspnet/IISIntegration/issues/105.

[2016-03-25 22:52] #14 closed

[2016-03-25 22:53] Tratcher commented on #20
This as been fixed in AspNetCoreModule v0.8: https://github.com/aspnet/IISIntegration/issues/105.

[2016-03-25 22:53] #20 closed

[2016-03-25 22:53] Tratcher commented on #24
This as been fixed in AspNetCoreModule v0.8: https://github.com/aspnet/IISIntegration/issues/105.

[2016-03-25 22:53] #24 closed

[2016-03-25 22:53] Tratcher commented on #27
This as been fixed in AspNetCoreModule v0.8: https://github.com/aspnet/IISIntegration/issues/105.

[2016-03-25 22:53] #27 closed

[2016-03-25 22:53] Tratcher commented on #32
This as been fixed in AspNetCoreModule v0.8: https://github.com/aspnet/IISIntegration/issues/105.

[2016-03-25 22:53] #32 closed

[2016-03-25 22:54] Tratcher commented on #33
This as been fixed in AspNetCoreModule v0.8: https://github.com/aspnet/IISIntegration/issues/105.

[2016-03-25 22:54] #33 closed

[2016-03-25 22:55] Tratcher commented on #81
This as been fixed in AspNetCoreModule v0.8: https://github.com/aspnet/IISIntegration/issues/105.

[2016-03-25 22:55] #81 closed

[2016-03-26 00:47] poke commented on #105
Will the older HttpPlatformHandler still be supported for later releases of ASP.NET Core? I know that it was already difficult for some people to get their hosters support the HttpPlatformHandler. I was actually hoping for the functionality to eventually merge into IIS itself so an additional module that you need to install wasn’t necessary. This fork now suggests the inverse, that the functionali

[2016-03-26 00:49] NickCraver commented on #105
+1 on the change, I think this allows for much better separation of concerns and ASP.Net improvements down the road.

Might I make a suggestion only tangential to this actual change? It feels very odd to be using a string in `.UseServer()` when we're having to reference the namespace already, doesn't it?

It seems like there should be another overload to `.UseServer()`, or a convenience `.UseKestr

[2016-03-26 06:31] robertmuehsig commented on #105
By having a seperate module it feels like ASP.NET Core is somewhat special. I liked the general idea of just having one module and it doesn't matter whats behind it.
Those added features doesn't sound very asp.net specific.
Was the general HttpHandler a performance bottleneck?

[2016-03-26 09:59] skystedt commented on #105
Will ASP.NET Core Module be made open source?

[2016-03-26 11:44] ArieJones commented on #105
Can we get some further details on what manual web.config manipulation may be needed beyond what was addressed above?

[2016-03-26 16:10] Tratcher commented on #105
@poke HttpPlatformHandler will not be directly supported past the RC1 release. i.e. RC2 switches over and we'll remove the old code as soon as we get AspNetCoreModule deployed to Azure Web Sites.

That said, it wouldn't be hard for someone to maintain the HttpPlatformHandler support as a community project, there's [not that much too it](https://github.com/aspnet/IISIntegration/blob/dev/src/Microso

[2016-03-26 16:19] Tratcher commented on #105
@robertmuehsig no we haven't added a lot yet, we wanted to get the initial transition out of the way first. Performance is one area we're already experimenting with.

[2016-03-26 16:25] Tratcher commented on #105
@skystedt We want it to be open source. Not sure how long the paperwork will take...

[2016-03-26 16:48] davidfowl commented on #105
It's going to be OSS :smile:

[2016-03-26 21:12] Eilon commented on #105
Yes, we have plans to make it OSS - hopefully won't be too long before that happens.

[2016-03-28 14:01] oryol commented on #105
Idea of removing any hard linking between new ASP .Net and IIS was cool. Currently it looks like we can't use generic HPH and we need "workaround" module for ASP .Net specific things. So we introduce linking between ASP .Net and IIS again. May be we can do it in some generic way so *nothing* in IIS will be ASP .Net specific and *nothing* in ASP .Net web app will be IIS specific?

[2016-03-28 15:50] Eilon commented on #105
@oryol completely divorcing ASP.NET Core from IIS wasn't a goal. The goal was to ensure that ASP.NET Core is not *strictly* tied to IIS, which it certainly isn't. Ultimately every web server has some "contract" for loading other systems (e.g. ASP.NET, Node, PHP, etc.). In order to get the best performance from a system, it's often valuable to have a server-specific integration point, and that's wh

[2016-03-28 16:39] oryol commented on #105
I thought that we will get something like (already classic) backend / frontend server separation. Where all ASP .Net stuff will be **only** in the Kestrel and we will be able to use any web server as "frontend" server (IIS, nginx or any other) without any downsides. But currently it looks like IIS still will be "main" server for ASP .Net and other configurations.. well.. they will be supported but

[2016-03-28 16:45] Eilon commented on #105
@oryol there is still that separation, and Kestrel *is* generally always used, whether it's a standalone server, running behind nginx, or running under AspNetCoreModule on IIS. It is not the case that IIS is the "main" server, but it's certainly the recommended server when running on Windows. I am not aware of anything that was officially stated by Microsoft that would lead anyone to believe that

[2016-03-28 19:04] aL3891 commented on #105
I have a feeling i know the answer but there isn't anything specific to _kestrel_ in the AspNetCoreModule is there? it will work the same with any server based on the Asp.net hosting model?

Also can you share (or point to issues) about the plans for the module down the road? What kind of features you're looking to add or what kind of perf improvement you're looking to make? i Agree with others he

[2016-03-28 21:47] Tratcher commented on #105
No, there's nothing Kestrel specific in AspNetCoreModule, it should work with other Asp.Net servers.

We are evaluating some performance improvements that will only help if both sides support them like enabling [Fast TCP Loopback](https://github.com/aspnet/IISIntegration/issues/29).

One feature on the backlog is making the module compatible with Http.Sys based servers like WebListener (https://gi

[2016-03-29 15:49] mikes-gh commented on #105
Can I use this with IIS express with dotnet and aspnetcore.module.  It seems httpplatformhandler is built in ie there is no separate module to uninstall.

Or what are the steps to debug with kestrel?

[2016-03-29 17:08] Tratcher commented on #105
@mikes-gh The Visual Studio Asp.Net tooling deploys and registers HttpPlatformHandler for IIS Express. It is currently being updated to do the same for AspNetCoreModule. It can be done manually by adding the right entries in the applicationhost.config file (https://github.com/aspnet/ServerTests/commit/5840689f644858e08f84bf9c4afa54326df8f0f7) but I recommend waiting for VS.

What about Kestrel deb

[2016-03-29 19:03] grahamehorner commented on #105
What is the deployment story for NanoServer at present deployment of HTTP Platform Handler on NanoServer was at best a pain & a complete hack; will this new module be deployable via nugget and/or powershell installation ?

[2016-03-29 21:18] Tratcher commented on #105
@grahamehorner we're still working on Nano. The same HttpPlatformHandler instructions should apply for now. There will be a separate installer for Nano by the time Nano releases.

[2016-03-29 23:29] mikes-gh opened #107 "Aspnetcore IIS module and process lifetime."
I have deployed the new module.  If I stop the is application pool the dotnet process eg somewebsite.exe stays alive.  I have to kill it to do a publish.  I would expect stoping the application pool to also shutdown or kill the process or am I missing something?

[2016-03-30 16:06] moozzyk opened #109 "publish-iis needs to understand portable vs. self contained apps"
Currently publish-iis always sets `processPath` attribute to the exe - e.g. (`processPath="..\myapp.exe"`). If the application is using the shared runtime there will be no .exe and the config file should look differently - `processPath="dotnet" arguments="..\myapp.dll"`

Note that IIS runs using its own account and dotnet may not be on the path/accessible - we will probably need some guidance abou

[2016-03-30 16:57] pan-wang commented on #107
How did you stop the application pool? The child process should be terminated automatically by the OS unless it was attached by the debugger or hold some resource. I could not repro this issue locally. Could you please share a simple repro for investigation.

[2016-03-30 19:09] mikes-gh commented on #107
By using the app pools node in IIS manager .
I will investigate further and come back.

[2016-03-30 21:59] Tratcher commented on #57
This should be fixed in AspNetCoreModule v0.8.
@pan-wang Assigning this to you for verification in Azure.

[2016-03-30 22:46] mikes-gh commented on #107
Sorry Guys.
Happy to report it was because when I recreated the app it defaulted to "Default app pool" and not the one it was previously using which was the one I was restarting.  No wonder it wasn't affecting the process.
Assigning the app to the correct app pool solved the issue.
Please close.

[2016-03-30 22:47] #107 closed

[2016-03-31 15:26] raymak23 opened #110 "IIS virtual directory browsing"
Hello,

I have an application that is written in ASP.NET 5 and it is configured at site level and it is pointing to wwwroot directory (`c:\inetpub\websites\{app}\wwwroot`). The site name is default web site. In that site, I created new virtual directory called healthcheck and it is pointing to (`d:\healthcheck\`). In that path, I have some static content like html files. When I browse `http://loca

[2016-03-31 16:23] mikes-gh opened #111 "Running behind ARR causes redirect loop for [RequireHttps] with default settings"
Though I'd add this to hopefully help someone else.

This took me a few hours to resolve.

A default rewrite rule in ARR does not insert X-FORWARDED-PROTO into the request.

Due to recent changes here the middleware only accepts sets of values

https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNetCore.HttpOverrides/ForwardedHeadersMiddleware.cs

This causes

[code]

Fortunately b

[2016-03-31 16:41] pan-wang commented on #110
under the vdir "healthcheck", you can add a web.config which remove the asp.net core handler defined in the site web.config.

[2016-03-31 16:45] Tratcher commented on #111
You can configure the ForwardedHeaderOptions in Startup.ConfigureServices like this:
[code]
https://github.com/aspnet/IISIntegration/blob/dev/samples/IISSample/Startup.cs#L19

[2016-03-31 18:50] dallancarr opened #112 "Browser hangs indefinitely."
Deploying multiple websites accidently hard coded server.urls using localhost:5001 inside both web.config. Second site hangs indefinitely. Is this intended behavior? rc1 update-1 1.2

[2016-03-31 18:54] Tratcher commented on #112
How did you define server.urls in web.config?

[2016-03-31 19:05] dallancarr commented on #112
Just standard vs template rc1 update1 web command
--server.urls http://localhost:5001

[2016-03-31 19:19] Tratcher commented on #112
server.urls should never be defined in the web.config. HttpPlatformHandler/AspNetCoreModule specify the port to listen on via an environment variable.

[2016-03-31 19:23] dallancarr commented on #112
Sorry slight confusion I specified inside the project.json file. It is just the behaviour as I wasn't immediately aware that is was issue inside the app.

[2016-03-31 19:32] Tratcher commented on #112
Ah. This should not be a problem in RC2 because the urls in the command line and config will be superseded by the the ones in the AspNetCoreModule environment variables.

[2016-03-31 19:41] dallancarr commented on #112
Thought as much. So conflicts are mitigated in RC2.

[2016-03-31 19:42] Tratcher commented on #112
Right, the two sites should get unique ports.

[2016-03-31 19:46] dallancarr commented on #112
Interesting behaviour nonetheless. ☺

[2016-03-31 19:46] #112 closed

[2016-03-31 20:41] bruceyclee commented on #105
@Tratcher I'm working on XML schema update of web.config for this element. As you mention above that HttpPlatformHandler instructions should apply for now, does aspNetCore have the exact same schema just like what httpPlatformHandler has ?

[2016-03-31 20:59] Tratcher commented on #105
@bruceyclee The schema is available in `c:\Windows\System32\inetsrv\config\schema\aspnetcore_schema.xml`. It is slightly expanded from HttpPlatformHandler.

[2016-04-01 17:30] naveedahmed1 commented on #105
@Tratcher so, as per my currently understanding there isn't any way to run ASP.Net 5 / MVC6 without adding a new module to IIS. In previous releases it required HttpPlatformHandler and now its ASP.NET Core Module.

As @poke suggested it would be better to eventually merge the functionality of ASP.NET Core Module directly in IIS itself so that we don't need an additional module to host ASP.Net 5 ap

[2016-04-01 17:44] davidfowl commented on #105
The problem there is that IIS is a Windows component and any updates to the component would require a Windows update. That's not great for agile bug fixes etc.

[2016-04-01 17:44] Tratcher commented on #105
@naveedahmed1 That's correct.

[2016-04-01 18:30] naveedahmed1 commented on #105
Any possibility of coming up with a solution that reduces the dependence on hosting providers, may be something like bin deployment or any other option. Currently we will have to wait for hosting provider to  add support for ASP.NET Core Module.

[2016-04-01 18:57] Tratcher commented on #105
We've looked into it, but they all have trade offs. With IIS you can only bin deploy managed modules, not native ones, which would leave us dependent on the full framework and System.Web.

[2016-04-01 21:11] mikes-gh commented on #111
Thanks @Tratcher that worked great.
I think the defaults set below should belong in UseIIS()

https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNetCore.HttpOverrides/ForwardedHeadersOptions.cs

You may want setup ForwardHeaderOptions for scenarios where the loopback address is not applicable.

[2016-04-01 21:14] naveedahmed1 commented on #105
I see, this makes sense. So the dependence on ASP.NET Core Module is the final or should we expect more changes to the hosting model before the final release?

[2016-04-02 15:33] Tratcher opened #113 "502 when hosting a managed WebApi site in IIS as a sub-app under a unmanaged site running on kestrel"
_From @larswise on April 2, 2016 12:6_

When hosting a asp.net mvc 6 site in iis, running kestrel, with a sub app below running in managed mode the sub app fails with a 502 - Web server received an invalid response while acting as a gateway or proxy server.

Structure:
Default Web site -> (SubApp) ASPNETMVC6/Kestrel, Unmanaged -> (SubSubApp) WebApi .NET 4.6 Managed

Don't know if this is by design

[2016-04-02 15:33] Tratcher commented on #113
_From @larswise on April 2, 2016 12:25_

[code]
on the webapi site did not seem to solve it.

[2016-04-04 00:15] panesofglass commented on #105
Is HttpPlatformHandler already OSS? If so, could you provide a link? If not, would it be possible to publish it? I am interested in picking this up and helping maintain it.

[2016-04-04 00:19] panesofglass commented on #105
Or am I misunderstanding the change described above?

[2016-04-04 00:27] davidfowl commented on #105
The HttpPlatformHandler isn't open source but the ASP.NET Core Handler will be.

[2016-04-04 03:47] Tratcher commented on #105
@panesofglass [I was referring to](https://github.com/aspnet/IISIntegration/issues/105#issuecomment-201874234) the Asp.Net packages that integrate with HttpPlatformHandler. `Microsoft.AspNetCore.IISPlatformHandler` and `dotnet-publish-iis`.

[2016-04-04 14:54] panesofglass commented on #105
@Tratcher gotcha; ignore me then. :)

[2016-04-05 16:47] glennc opened #115 "Move web.config to root"
In order to make us more reliable on IIS we are going to move the web.config into the root of the published output instead of the web root.

@muratg

[2016-04-05 16:50] muratg commented on #115
@Tratcher

[2016-04-05 16:51] muratg commented on #115
@moozzyk

[2016-04-05 18:41] Tratcher commented on #115
@BillHiebert FYI

[2016-04-05 21:55] muratg commented on #113
Let's investigate post RC2.

[2016-04-05 23:01] ciel commented on #105
Is there some trick to making this work? Even using the sample projects on the MVC repo, it doesn't seem to work. Are there docs for it anywhere?

[2016-04-06 03:42] GuardRex commented on #115
A hair of guidance for RC2-nightly folks ...

1. Copy `web.config` from `wwwroot` to the app base.
2. Edit the file and change paths for `processPath` and `stdoutLogFile`. Simply remove a dot from each ... for example go from `processPath="..\my_app.exe"` to `processPath=".\my_app.exe"`. Save the file.
3. Stop the AppPool.
4. Re-point the Physical path in IIS to the app base in Basic Settings.
5.

[2016-04-06 03:54] Tratcher commented on #115
@GuardRex what changes did you need to make in app code?

[2016-04-06 04:10] GuardRex commented on #115
@Tratcher ... None ... there is some debate right now on JabbR whether or not I'm playing with a full deck of cards. The "he's not" group is in the majority! :smile:

When I said "app code," I only meant in the project ... I didn't mean actual "application code." Sorry. When you see the :beer: emoji, that means you should take me even less seriously than usual.

Good news is that these configurati

[2016-04-06 09:57] jlahteen commented on #105
Is there a way to use ASP.NET Core Module with the RC1 version? Since RC2 is delayed we are planning to go live with RC1 but client certificates are required by the application.

[2016-04-06 16:24] Tratcher commented on #105
@jlahteen You could cobble something together. There are two key parts:
A) Reading the environment variables at startup and setting the urls. In RC1 you should be able to do this in Startup and set the urls on the IServerAddressesFeature in IApplicationBuilder.ServerFeatures.
B) Creating the middleware that reads the special headers and applies them to the request.

You should be able to borrow mo

[2016-04-06 17:23] moozzyk commented on #115
Does this affect templates as well? I remember adding wwwroot to the content section in project.json just to make sure that web.config is copied. Now we should probably leave it to the user because by default we will not have anything to copy so we should not add wwwroot to the content section in project.json. /cc @rustd

Also the publish iis tool looks for the config file in the wwwroot folder an

[2016-04-06 17:24] muratg commented on #115
Yes, this would impact templates. @JunTaoLuo should send a PR there once we have this ready.

[2016-04-06 19:16] Tratcher commented on #105
@ciel What issues have you had? I'd recommend starting with the sample in this repo. You'll need to update the web.config to point to the exe after you publish (the publish tooling isn't complete yet).

[2016-04-06 19:29] pan-wang commented on #35
I could NOT repro the crash with aspnetcoremodule on server2008R2 machine. Ivan, could you please try the new aspnetcoremodule? could you please share the repro steps if you can repro the crash

[2016-04-06 19:45] ciel commented on #105
Well the sample app you guys have here won't even compile unless you change the framework to `netstandard1.5` and remove `net451` from it completely. You get this error.
[code]

`dnu publish` doesn't work with it, either.

and on the MvcSandbox application from the asp.net mvc repo, I only get 503.2 Bad Gateway errors.

[2016-04-06 19:48] ciel commented on #105
I can't find any web.config for the sample on this repo.

[2016-04-06 19:52] ciel commented on #105
So I point `processPath` to the `dnx.exe` under `/.dnx/` in my users folder? I'm confused - what exe are you talking about?

[2016-04-06 20:33] Tratcher commented on #105
@ciel for RC2 you need to stop using dnx and dnu. Use `dotnet publish` to build and publish. That should produce an IISSample.exe, so you set processPath to `.\IISSample.exe`

@JunTaoLuo is making some updates to the sample: https://github.com/aspnet/IISIntegration/pull/106/files

[2016-04-06 20:40] ciel commented on #105
I am using `dotnet publish`. It does not produce an exe.

here is the directory listings.

[code]

[code]

[code]

[code]

That's all it's got. No `wwwroot`. no `approot`, no `web.config`, no `exe`.

[2016-04-06 20:51] moozzyk commented on #105
It's now a portable app so it does not create an .exe but .dll. You run it with dotnet IISSample.dll. The sample does not have publish-iis tool configured hence there is no web.config. (Even if publish-iis was configured it wouldn't create a valid config file since it was not updated to handle portable apps yet - https://github.com/aspnet/IISIntegration/issues/109)

[2016-04-06 20:53] ciel commented on #105
so does all of that go in the root directory, or do I put it in an `approot` directory, with the `web.config` outside of that? The documentation on directory structure on docs.asp.net is a bit outdated, so I'm not clear on the structure to use.

[2016-04-06 21:16] ciel commented on #105
Lovely, that gives me a whole new error!

#HTTP Error 500.21 - Internal Server Error
###Handler "aspNetCore" has a bad module "AspNetCoreModule" in its module list

[2016-04-06 21:18] moozzyk commented on #105
Currently publish-iis tool would create a wwwroot folder (if it's not already there) and place the web.config there. As per https://github.com/aspnet/IISIntegration/issues/115 this is changing. However, because you can't use the tool you can choose either as long as the paths match. If you decide to use wwwroot folder you need to set ASPNETCORE_CONTENTROOT variable similarly to what we did before:

[2016-04-06 21:19] moozzyk commented on #105
Have you installed the AspNetCoreModule? The post contains links to the installers.

[2016-04-06 21:22] JunTaoLuo commented on #115
@davidfowl you have been nominated by @Tratcher to write the announcement for this change.

[2016-04-06 21:22] #115 closed

[2016-04-06 21:28] ciel commented on #105
Yeah, I installed it. Not sure why it's balking at me here.

[2016-04-06 22:29] ciel opened #118 "samples require additional dependencies to compile."
The current version of the samples still will not compile "as is".

In order to make it run, you have to change the FTM to `netstandard1.5` (instead of netstandardapp), remove `net451` from the FTM, and add the following dependency;

[code]

this is the only way I've managed to get it to run at all.

This runs when executed from the command line with `dotnet run`; I'm still working at trying to ma

[2016-04-06 23:04] Tratcher opened #119 "aspNetCore processsPath must start with ./"
`processPath="./IISSample.exe"` works, processPath="IISSample.exe" doesn't. There is probably a path combine happening that does not add the optional slash. stdoutLogFile has a similar limitation, we should be able to set it to empty and have it write to the current directory.

[2016-04-06 23:26] ciel commented on #105
Unfortunately after deploying a new server, reinstalling everything from scratch, rebuilding the entire thing, and installing the module - I still get the same errors.

Error:
![error](http://i.xomf.com/pvnhl.jpg "Error 502.3 Bad Gateway")

[2016-04-06 23:33] GuardRex commented on #105
@ciel I just updated the `dotnet cli` publish folder structure (for standalone apps) here for reference: https://github.com/dotnet/cli/issues/937#issuecomment-186737388

... and I think you know at this point, it's the `publish` folder that goes to the server. With https://github.com/aspnet/IISIntegration/issues/115, I show the correct positions of `web.config` in the issue comment (I'm using that

[2016-04-06 23:34] ciel commented on #105
How long ago was that update? I literally just installed the latest cli about 20 minutes ago.

[2016-04-06 23:36] ciel commented on #105
This is the `web.config` I'm using right now.

[code]

[2016-04-06 23:36] GuardRex commented on #105
@ciel Are you referring to me? If so, that's not a code/`dotnet cli` update ... you asked earlier about what the output folder structure would be for publishing, and I keep that updated over there for reference.

[2016-04-06 23:36] ciel commented on #105
Oh, I see what you mean now. Thank you, that does clear it up a bit.

[2016-04-06 23:37] GuardRex commented on #105
@ciel Add `.\` to the path. Make it `processPath=".\IISSample.dll"` and do the same for `stdoutLogFile` if you turn on the log.

[2016-04-06 23:40] GuardRex commented on #105
@ciel ... wait wait ... hold on a sec. That's not the correct `processPath` ... the DLL would be the argument to calling `dotnet` in the `processPath` ... you should use the `cli-samples` repo ... https://github.com/aspnet/cli-samples ... work from those samples. What you have above is off in a few ways. Start over with a fresh, good cli-sample app.

[2016-04-06 23:47] moozzyk commented on #105
shouold be <aspNetCore processPath="{fullpath to dotnet}" arguments="IISSample.dll" stdoutLogEnabled="false" />

This:
`
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_CONTENTROOT" value="." />
      </environmentVariables>
`
should go under aspNetCore. httpPlatform element should be removed.

[2016-04-06 23:49] GuardRex commented on #105
I also think you should enable the log with a path. You'll likely need that for troubleshooting if you go forward with your current app.

[2016-04-06 23:54] ciel commented on #105
Unfortunately the cli-samples do not yield any better results. :( I can compile and manually run them just fine, but when put under IIS I get the __403.14__ error.

[2016-04-06 23:57] ciel commented on #105
I've tried enabling the logs; It does not generate any.

[2016-04-07 00:00] GuardRex commented on #105
@ciel The issues aren't the best spot for a running discussion. Would you like to join us at JabbR, and we'll try to get you some help? https://jabbr.net/#/rooms/AspNetCore

[2016-04-07 00:02] ciel commented on #105
Sure, thank you.

[2016-04-07 01:26] #118 closed

[2016-04-07 15:28] escobar5 commented on #111
Hi @mikes-gh, I'm having the same problem and I'm new to ARR, can you tell me where you put HTTP_X_FORWARDED_PROTO = https?

Also, I have my ARR and sites in the same server, do I need to configure the IP of the server on KnownProxies?

Thanks

[2016-04-07 16:57] dml5 commented on #113
When will that be?  Not being able to create a sub site under a MVC6 site has been an issue for months.  None of the solutions I have tried work.

[2016-04-07 17:15] DamianEdwards opened #121 "Rename UseIIS() to UseIISIntegration()"
It looks strange to have `UseIIS()` and `UseKestrel()` in the same call chain when this is really about integrating with IIS while still using Kestrel. Plus it means the name lines up with the package name, etc.

[2016-04-07 17:16] davidfowl commented on #121
/cc @Tratcher

[2016-04-07 17:40] Tratcher opened #122 "Remove old packages"
These packages have been replaced. We left the existing ones until we could get tooling support and covert projects over. Remove these packages before RC2 ships, after https://github.com/aspnet/Coherence-Signed/issues/222.
`Microsoft.AspNetCore.IISPlatformHandler`
`dotnet-publish-iis`
And associated tests.
@Eilon @muratg

[2016-04-07 18:07] dallancarr commented on #121
It seems that integration is tied to kestrel anyway or will there be future different combinations.

[2016-04-07 18:24] Tratcher commented on #121
Kestrel is replaceable. WebListener isn't compatible with AspNetCoreModule right now but we'd like to make it work in the future. You can also plug in 3rd party servers.

[2016-04-07 19:04] Tratcher commented on #105
Minor update: `UseIIS()` has been renamed to `UseIISIntegration()`. See https://github.com/aspnet/IISIntegration/issues/121

[2016-04-07 19:05] JunTaoLuo commented on #121
Create an announcement.

[2016-04-07 19:06] Tratcher commented on #121
Updated the prior announcement.

[2016-04-07 20:10] Tratcher commented on #121
@phenning FYI

[2016-04-08 02:51] GuardRex commented on #105
@Tratcher Prob not very important here, but do you want to take in recent updates for paths and drop the log extension? ... `processPath="..\MySite.exe" ` to `processPath=".\MySite.exe"` and `stdoutLogFile="..\logs\stdout.log"` to `stdoutLogFile=".\logs\stdout"`.

[2016-04-08 05:39] GuardRex opened #125 "Shared framework & web.config configuration question"
@Tratcher I thought something might be wrong with `dotnet cli`, but @davidfowl suggested that perhaps I just have my `web.config` improperly configured for the shared framework (on 2012R2).
[code]
The `processPath` and `arguments` I set manually, because I thought that `dotnet run .\myapp.dll` was the way these shared framework apps were supposed to be run .... at least until `dotnet myapp.dll` wo

[2016-04-08 06:01] GuardRex commented on #125
Probably will run with `dotnet testshared.dll`: `processPath="dotnet"` and `arguments="testshared.dll"`. My bad :monkey: ... but your `dotnet-publish-iis` tool obscures what will actually end up in the file when publishing samples (i.e., you can't see the actual command in sample `web.config` files in the `cli-samples` repo), and I'm not using the tool and using my own sample for testing with othe

[2016-04-08 06:15] Eilon commented on #121
@Tratcher close?

[2016-04-08 15:17] toastermagic opened #126 "aspnet-core site unresponsive - "Access is Denied." message in stdout.log"
I have published a dnx451 application to IIS 8.0 on Windows Server 2012.

IIS is configured to direct requests on port 80 to the wwwroot folder.

When I attempt to browse localhost:80 on the server, there is no response ('waiting for localhost').

In the logs folder is a file (stdout.log_5428_201648135647.log) with the single entry 'Access is Denied.'

Access denied to what? Clearly at least one o

[2016-04-08 15:58] muratg commented on #126
@toastermagic I assume you meant `dnvm --list` for the last one.

What do you mean by this?  Did you manually do this?

[2016-04-08 15:58] muratg commented on #126
@Tratcher

[2016-04-08 16:15] moozzyk commented on #125
publish-iis can't be run in this repo - at least for now (https://github.com/dotnet/cli/issues/1215). I believe the right mix is `processPath="%PROGRAMFILES\dotnet\dotnet,exe%" arguments=".\myapp.dll"`

[2016-04-08 16:56] toastermagic commented on #126
It's an edit. I originally set it up on port 8080, but then later changed and tried on 80. Nothing special about the IIS binding.I think the port number is irrelevant here.

[2016-04-08 17:45] Tratcher commented on #121
@Eilon There's still a few repos to clean up. Templates, Performance, cli-samples, etc..

[2016-04-08 18:16] GuardRex commented on #125
Yes, except the app in question here is my own homebrew test app ... not a sample from a repo.

It would be sufficient even if I don't use the dotnet command all by itself and hardcode the path, because what I'm doing right now is just working on the Publish to IIS doc. I just need the darn thing to run, but it was good to see the behavior when the path is wrong.

I think you'll agree that post-RT

[2016-04-08 18:44] moozzyk opened #127 "AspNetCoreModule AVs if the processPath contains forward slashes"
If my web.config file contains backwards slashes like this:

[code]
things work fine.
As soon as I change slashes in the `processPath` to forward slashes:
[code]

I get this:

[code]

I also wonder if this is only forward slashes or some class of characters that is causing the issue.

/cc @pan-wang

[2016-04-08 18:46] moozzyk commented on #104
This is not a test issue. We need to update code for this - dotnet can't handle forward slashes on Windows (https://github.com/dotnet/cli/issues/2373) and AspNetCoreModule crashes on forward slashes in the `processPath` attribute (#127).

[2016-04-08 19:02] moozzyk commented on #125
I pointed it out only because I know for a fact that bare `dotnet` won't work. I don't expect that everyone will have/use tooling so yes, we will need to have samples that show you how things should be set up. (And I just tried a couple things and it :boom: https://github.com/aspnet/IISIntegration/issues/127 :boom:)

[2016-04-08 19:17] mikes-gh commented on #111
@escobar5 I'll post a screen shot monday.

[2016-04-08 19:22] GuardRex commented on #125
I'm glad u said so. Every tip helps. I'm going to see if the pic will
attach to the issue by email, because I'm landscaping right now because I
refuse to work in MVC4 and sometimes working with Core and landscaping have
something in common. :smile:
On Apr 8, 2016 2:02 PM, "Pawel Kadluczka" <notifications@github.com> wrote:

[2016-04-08 19:43] #121 closed

[2016-04-08 23:59] dml5 commented on #110
Thank you. Thank you. Thank you.  I have been trying for days to figure out how to get my web application subsite working in IIS under a MVC6 application.

[2016-04-09 00:00] GuardRex commented on #125
@moozzyk Well ... can't respond via E-mail to GH with an image. Ok. The landscaping actually went better than the testing. Here's what I have thus far ...

`processPath="dotnet" arguments="testshared.dll"` yields ...
[code]
`processPath="dotnet" arguments=".\testshared.dll"` yields ...
[code]
... and that's not happening (at least) because this is what's actually there ...

![capture](https://clou

[2016-04-09 02:52] GuardRex commented on #125
Thought if I tried to sync the `Microsoft.NETCore.App` package better it might work. Published with -2296, and the .NET Core Installer for -2296 gave me a shared framework with `Microsoft.NETCore.App 1.0.0-rc2-3002338`. Published output from `"Microsoft.NETCore.App": { "type": "platform", "version": "1.0.0-rc2-*"}` resolved to `Microsoft.NETCore.App 1.0.0-rc2-3002306`, which was already on the ser

[2016-04-09 03:52] Tratcher commented on #105
@GuardRex Updated the log path. I'll hold off on the other changes until finish that work and write formal guidance.

[2016-04-11 07:48] mikes-gh commented on #111
@escobar5

Add it to your server variables as below

![rewrite rule](https://cloud.githubusercontent.com/assets/16208742/14420128/1ac72554-ffc2-11e5-9ec4-abb463ddc28a.png)

[2016-04-11 13:42] escobar5 commented on #111
thanks @mikes-gh, I'm going to try

[2016-04-11 16:09] muratg commented on #122
I guess this consists of removing these from the build script for now? GitHub and CI changes can probably come in later.

Don't forget to update [packages.csv](https://github.com/aspnet/Coherence/blob/dev/packages/packages.csv) :)

[2016-04-11 16:21] Tratcher commented on #122
I'd rather remove the sources before RC2 ships to avoid confusion of what shipped. We should be ready this week.

[2016-04-11 16:43] toastermagic commented on #126
I have worked around this issue by changing the AppPool identity to an account with LocalAdmin. This workaround will not be possible in production.

[2016-04-11 17:22] moozzyk commented on #125
Can you share your project?

[2016-04-11 17:32] GuardRex commented on #125
@moozzyk

https://github.com/GuardRex/sharedapp

I was going to wait until Thursday/Friday to give them time to gel a few things; but if you think I have a shot at it working today, then I'll try again later this afternoon with it.

[2016-04-11 18:49] Tratcher commented on #119
This appears to be documented behavior: http://www.iis.net/learn/extensions/httpplatformhandler/httpplatformhandler-configuration-reference
"As of v1.2 relative paths are supported, if the path begins with '.' the path is considered to be relative to the site root."
It's still confusing though.

[2016-04-11 20:56] pan-wang commented on #57
I tested in a private stamp and did see the log file was created and information was logged correctly.

[2016-04-11 21:23] #110 closed

[2016-04-11 23:05] moozzyk commented on #125
I changed the NuGet.config file like this:
https://github.com/GuardRex/sharedapp/compare/master...moozzyk:pawelka/nuget
and am able to run the app on:

[code]

[2016-04-11 23:07] GuardRex commented on #125
@moozzyk Ok ... thanks. I'll give it a go again this evening and close this when it runs.

[2016-04-11 23:26] pan-wang commented on #113
I could not repro this issue with AspNetCore Module. Here is my app structure: DefaultWebSite ->AspNetCore App (subApp)-->WebApi App (subsubApp).  AspNetCore App uses apppool 'aspnetcore' which is set to no managed code; WebApi App uses apppool 'webapi' which is set to .Net Clr v4.0. In the web.config of WeebApi App, I did add the following  changes as suggested by @Tratcher
_<system.webServer>

[2016-04-12 00:07] moozzyk opened #128 "publish-iis should pick up the actual app name"
dotnet now supports specifying outputName in which case the name of the application executable/dll might be different from the package name. In this case using just [`Project.Name`](https://github.com/aspnet/IISIntegration/blob/dev/src/dotnet-publish-iis/PublishIISCommand.cs#L83) is not enough.

[2016-04-12 02:59] GuardRex commented on #125
@Tratcher @moozzyk Working ... but ?

When I first loaded it up, I left the ...
[code]
I received a `Error -4092 EACCES permission denied`, because (apparently) the port was in conflict with the binding in IIS. I removed the string, leaving ...
[code]
... but the exception persisted. It wasn't until I removed the `.UseUrls()` extension completely that it sprang to life.

What is the guidance here?

[2016-04-12 04:49] Tratcher commented on #125
Right, UseUrls is for self-host, don't use it in IIS where the public binding is managed for you.

In theory you can put UseUrls before UseIISIntegration and the value will be overwritten if the IIS environment variables are detected. This would enable the app to run in self-host and IIS.

[2016-04-12 05:39] moozzyk commented on #125
What @Tratcher said.

With regards to `.UseContentRoot` - isn't it the same discussion we already had about views when developing the application? For IIS it was being overridden with an environment variable. This was removed when we moved the web.config to the app folder (https://github.com/aspnet/IISIntegration/commit/7a923d1d6fd105a3a7bb1bd992499716958f23bd#diff-3ffcd9a9b2c5202aadac411be113a50b

[2016-04-12 09:11] mikes-gh commented on #121
@Tratcher

Rename UseIIS() to UseIISIntegration()

It seems that this change is in rc3 Package is that intentional?

1.0.0-rc2-20383 UseIIS()
1.0.0-rc3-20540 UseIISIntegration()

[2016-04-12 09:13] davidfowl commented on #121
It's in both, release is at rc2-20539

[2016-04-12 09:15] mikes-gh commented on #121
Ah I see I am only picking up 20383 on cidev
Thanks

[2016-04-12 09:22] mikes-gh commented on #121
Looks like I should be moving to the vnext feed for the buildup to rc2 now?

[2016-04-12 09:38] mikes-gh commented on #121
As far as I can see vnext is the latest package for rc2 currently
at
1.0.0-rc2-20466

[2016-04-12 10:07] davidfowl commented on #121
You should use aspnetcirelease if you're tracking the RC2 packages.

[2016-04-12 10:22] mikes-gh commented on #121
Got it thanks now at 20539.  There might be other like me who want to track rc2 to release.  If there is no announcement maybe an issue post in Home?

[2016-04-12 13:52] Tratcher commented on #121
@mikes-gh I mentioned this on an existing announcement and updated the sample code. https://github.com/aspnet/IISIntegration/issues/105#issuecomment-207051587

[2016-04-12 14:37] mikes-gh commented on #121
@Tratcher  thanks
Actually I was referring to an announcement for the change of feeds to continue using updated rc2 packages
There is an article of feeds but I hadn't realised release was now the active branch (and others might not also).

[2016-04-12 16:46] Tratcher commented on #113
Full config for AspNetCoreModule:
[code]

Or httpPlatform for HttpPlatformHandler:
[code]

[2016-04-12 16:47] #113 closed

[2016-04-12 16:56] GuardRex commented on #105
@Tratcher What's the status on getting the AspNetCoreModule on Azure? Folks are asking on JabbR.

[2016-04-12 17:05] Tratcher commented on #105
@GuardRex In progress, no ETA yet.

[2016-04-12 18:35] #57 closed

[2016-04-12 21:44] pan-wang commented on #127
this is by design. ANCM internally just passes the processPath value as lpCommandLine vale to CreateProcess(). CreateProcess does not accept forwardslash and thus causes failure. ANCM does NOT valid or normalize the processPath value. User should make sure the value is valid.

[2016-04-12 21:45] Tratcher commented on #127
Is crashing w3wp from user input really the user experience we want?

[2016-04-12 21:55] moozzyk commented on #127
@pan-wang - are you saying this AV is inside the `CreateProcess`? In other words if I call `CreateProcess(L"%TEMP%/myapp.exe", ...)` it will cause an AV? Knowing win32 apis I don't expect them to fail like that. Rather I would expect CreateProcess returns 0 as the result if the path was invalid indicating that the process could not be started...

[2016-04-13 01:45] GuardRex commented on #125
@moozzyk Have you seen this one? ... just cropped up with a fresh shared framework publish of my test app ...
[code]
I used the same `dotnet cli` version for both the publish and the .NET Core Installer for the server.
[code]

[2016-04-13 03:04] GuardRex commented on #125
@moozzyk Discussing this now in https://github.com/dotnet/cli/issues/2452

[2016-04-13 16:32] Tratcher commented on #127
By AV he means we are seeing w3wp crashes that show up in the event logs. Bad user input should not cause w3wp crashes, we should get ANCM event logs and an IIS error page instead.

[2016-04-13 16:41] moozzyk commented on #127
I guess the behavior should be the same as if the name was just not correct. Hopefully if you just misspelled the name (without using special characters) it does not crash the process with Access Violation...

[2016-04-13 16:47] moozzyk commented on #125
@GuardRex delete the $env:LocalAppData\Microsoft\Dotnet dir

[2016-04-13 16:49] GuardRex commented on #125
@moozzyk Ok, but Senthil said this was part of a broader design issue to address.

I'll (hopefully) be returning to this this evening. I'll try your suggestion. Thanks.

[2016-04-13 17:04] moozzyk commented on #125
@GuardRex - possibly. But if you need to unblock yourself now this is what you could do. (At least I had to do this yesterday after I moved to a later cli - not that the path was like that because it was in our build which installs dotnet there)

[2016-04-13 17:09] GuardRex commented on #125
He said to manually set the version of `Microsoft.NETCore.App` in my `testshared.runtimeconfig.json` file of the published output. When I did that, it sprang right to life. I just set the version to whatever it was asking for, and I guess since that version was in the `shared` folder, it :sparkles: just worked :sparkles:.

Either way, I'll give it a go again this evening. Right now, I'm fighting t

[2016-04-13 19:41] pan-wang commented on #127
Just want to clarify that "by-design" meant we did not support forward slash. AV should not happen and should be a bug in ANCM.

[2016-04-13 19:58] moozzyk commented on #127
@pan-wang - Agreed. I already sent a PR to get it fixed: https://github.com/aspnet/IISIntegration/pull/132

[2016-04-13 22:48] GuardRex commented on #125
@moozzyk Nah ... still not working.

The app runs locally if I make the workaround change that Sunthil suggested last night, but moving the app to the server breaks it.

The module does establish a log file (empty). The browser immediately gets a 502.3. The Application log shows `Process '0' failed to start. Port = 29151, Error Code = '-2147024894'.`, which might be a file not found exception.

I

[2016-04-14 16:47] moozzyk commented on #104
Fixed in 7f7742577d4a65aebd180277d7c0790d6c2e0207

[2016-04-14 16:47] #104 closed

[2016-04-14 17:23] LeandroPT opened #133 "dotnet publish-iis: Could not load file or assembly 'Newtonsoft.Json, Version=7.0.0.0"
Hey,

Using the "Microsoft.AspNetCore.Server.IISIntegration.Tools" the following error occurs:

`D:\DEV>dotnet publish-iis  -p "D:\Lixo\oo"
Configuring the following project for use with IIS: 'D:\Lixo\oo'
No web.config found. Creating 'D:\Lixo\oo\web.config'
Could not load file or assembly 'Newtonsoft.Json, Version=7.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependenci

[2016-04-14 17:36] moozzyk commented on #133
This tool is not in a functioning state at the moment. I am working on fixing it but it may take a few days.

[2016-04-14 17:57] LeandroPT commented on #133
I want to deploy this to Azure [AppService]... I am totally dying here!!!

Unsuccessfully tried aspnet/Hosting#672 which miserably fails with HTTPS....
Also believe aspnet/KestrelHttpServer#698 adds to the mix...

Any lights or assistance?

[2016-04-14 18:47] natemcmaster commented on #133
cc @davidfowl

[2016-04-14 18:49] natemcmaster commented on #133
@LeandroPT can you share your project.json? This may be related to a nuget bug in "imports". cref https://github.com/aspnet/EntityFramework/issues/5022#issuecomment-209704617

[2016-04-14 18:51] victorhurdugaci commented on #133
We have a repro project here: https://github.com/aspnet/dotnet-watch/issues/72

[2016-04-14 18:53] victorhurdugaci commented on #133
@LeandroPT you can manually generate the web.config file, without publish-iis. Here's a sample file https://github.com/victorhurdugaci/projectk-build-stats/blob/master/src/BuildDashboard.Server/wwwroot/web.config

[2016-04-14 21:11] GuardRex commented on #133
@victorhurdugaci nit: The log extension (with timestamp) will be added automatically.

`stdoutLogFile="..\logs\stdout.log"` to `stdoutLogFile="..\logs\stdout"`

... but it won't break the way you have it.

[2016-04-14 21:31] LeandroPT commented on #133
A little context:

I already have this running on RC1, what i did was to create a brand new project and use the CIDev bits with RC2.

project.json is attached....[project.json.txt](https://github.com/aspnet/IISIntegration/files/219986/project.json.txt)

Startup

[code]

[2016-04-14 21:34] GuardRex commented on #133
Won't work with HPH on Azure. You need the AspNetCoreModule on Azure Apps ... they're working on it according to @Tratcher with no ETA.

[2016-04-14 21:39] LeandroPT commented on #133
HPH?

[2016-04-14 21:40] GuardRex commented on #133
HttpPlatformHandler ...sry ... acronyms everywhere :smile:

[2016-04-14 21:55] LeandroPT commented on #133
It's like i said: Unsuccessfully tried aspnet/Hosting#672 which miserably fails with HTTPS....

The thing is that i see alot of focus on Linux and other things... but on RC2 the latest bits allows me to use it, some required things got fixed from RC1, however i cannot run it either on Azure....

That is the only single little thing right now i urgently need [EF tools i can manage...] and that anno

[2016-04-14 22:08] GuardRex commented on #133
You can run on an Azure VM/IIS with ACM (AspNetCoreModule). At least when the module rolls out on Azure Apps, it would be a simple matter to just deploy it with no or minimal changes.

[2016-04-14 22:09] LeandroPT commented on #133
Yeah Rex, i could even build a container... And pay a bunch of money...

[2016-04-15 15:51] GuardRex commented on #125
Shared is **working** for me now on -2394. :tada: :smile: Thanks @moozzyk  ..... now I hope the server gods grant minimal regressions :pray:. Thanks again for your help.

[2016-04-15 15:51] #125 closed

[2016-04-15 17:30] moozzyk commented on #127
Assigning to myself to try to reproduce it again with the latest version of AspNetCoreModule.

[2016-04-15 22:26] moozzyk commented on #127
I can no longer reproduce the crash with forward slashes. I can however create a crash/AV if dotnet returns an error. I will close this and open a new bug for this issue.

[2016-04-15 22:27] #127 closed

[2016-04-15 22:34] moozzyk opened #137 "Access Violation in AspNetCoreModule if dotnet exits with error"
If the application is misconfigured so that it is not able to start w3wp may crash with AV.

If I run my application from command line like this dotnet exits with an error code:
[code]
If I configure IIS to run the same way:
[code]

I get this:

![image](https://cloud.githubusercontent.com/assets/1438884/14576577/1a47a77e-031f-11e6-8021-e4050a03aa12.png)

[code]

[code]

[2016-04-15 22:56] moozzyk commented on #109
Fixed in 1410a5a096efbd1ef2a0c6cd7205a56729900319

[2016-04-15 22:56] #109 closed

[2016-04-16 00:54] #122 closed

[2016-04-16 01:06] JunTaoLuo commented on #95
@moozzyk did you make an announcement for the renaming of the tools package?

[2016-04-16 02:28] moozzyk commented on #95
Not yet - so far only publish-iis was renamed and started working end-to-end today. I talked to @NTaylorMullen and they would like to rename to happen after they finish all feature work. He suggested to talk to other teams who have tools to check if they are fine with that. I think the rename will happen late next week.

[2016-04-16 06:48] NTaylorMullen commented on #95
Just to add some clarification: The desktop support for ef, scaffolding and dotnet-razor-tooling is in progress. I'm not 100% familiar with what it'll take to do the rename but if it'll potentially cause massive merge conflicts among the tools I'd like to push it off until the desktop support is in. If not, then go for it :smile:

[2016-04-18 16:57] pan-wang commented on #126
if you can workaround the issue by set Apppool identity to LocalAdmin, it usually meant your application tried to access some resources which were not granted to default apppool identity. You can use process monitor to check which resources were accessed by your application.

[2016-04-18 18:51] moozzyk opened #139 "Discussion for: Changes to the publish-iis tool"
Discussion for https://github.com/aspnet/Announcements/issues/169

[2016-04-18 20:34] GuardRex commented on #139
Could you clarify what you mean by "framework," in this context ... not the TFM, correct? Could you show one `project.json` that the tool will respect for a shared version of `web.config` and a `project.json` that will be respected for standalone `web.config` output?

I thought it was the presence of `"type": "platform"` on the `Microsoft.NETCore.App` package that determined if an app will publish

[2016-04-18 21:06] moozzyk commented on #139
The thing to pass as the `--framework` is the full target framework name (e.g. .NETCoreApp,Version=v1.0). In reality you almost never will have to pass anything manually since you will run the tool as a postpublish script and it will use the parameters passed by the publish command. You can see it here:

[code]

This is true that whether the application is portable or stand alone is decided based

[2016-04-18 21:54] LeandroPT commented on #133
Found out the problem... Had old Tools and multiple versions installed.

It seems that cli does a First()..

Cleared tools folder, restored and no errors.

[2016-04-18 22:03] LeandroPT commented on #139
The postpublish script works fine and we.config is generated.

However i am hitting #137

[2016-04-18 22:20] moozzyk commented on #133
@LeandroPT - [this](https://github.com/dotnet/cli/issues/2540)?

[2016-04-18 22:27] LeandroPT commented on #133
@moozzyk Nope. Apparently on "my machine" it uses the 1st version of the tool.

[2016-04-18 22:36] GuardRex commented on #139
No, I was just confused and not taking into account the post-publish nature of the way it runs (apparently `"postpublish"` wasn't clear enough to me :smile: orf!). It makes sense now. Thanks for the clarification.

[2016-04-18 22:39] moozzyk commented on #133
Did you have `-*` in the version? Did you restore packages in this app (i.e. are you sure the project.lock.json was not stale - if you restore the new version of the tool in a different project then you would end up a new package version in the cache but project with older project.lock.json files would continue to use the old version since lock file contains specific versions).

[2016-04-18 22:40] LeandroPT commented on #133
@moozzyk

Yep :smile: .. It is proved... Very lazy

[2016-04-19 01:36] LeandroPT opened #140 "Azure WebApp: Scheme not set to HTTPS, breaks RequireHttps and OAuth/OIDC"
I have an RC2 Application running on Azure Web App Role.

on the browser side:
https://mydummycisiteci.azurewebsites.net redirected you too many times.

On the stdout log for aspnetcoremodule:
[code]
The most interesting fact is that if if download a resource (image for example)

`info: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
      Request starting HTTP/1.1 GET http://mydummycisite.azurew

[2016-04-19 01:39] LeandroPT commented on #139
Working just fine.

However, i find the output structure weird...

Why has the approot / www structure been abandoned?

[2016-04-19 05:56] rmja commented on #105
@Tratcher sorry for bothering you with this question again, but any news on getting the module out on Azure?

[2016-04-19 07:59] mikes-gh commented on #139
@LeandroPT
I believe approot has been abandoned.
Everything that was in approot is moved down one  level.
wwwroot still exists as a sub folder at the new level..
Rather than pointing your IIS web application to the approot you will need to point it to the new level (one down).
web.config has also moved down to allow for this
That's how its working for me.

[2016-04-19 12:03] LeandroPT commented on #139
I did all sort of experiences... Works anyway you want... that is the beauty of this thing

[2016-04-19 12:06] LeandroPT commented on #105
I did a test run yesterday after latest CI Build.. The module apparently runs but the response from kestrel does not reach the browser... #140

[2016-04-19 16:16] muratg commented on #140
I don' think AspNetCoreModule is available on Azure App Service yet.  @shirhatti?

[2016-04-19 16:25] LeandroPT commented on #140
@muratg @shirhatti

It didn't complain about the module... As you can see by the log file... and process explorer shows it running dotnet.exe...

[2016-04-19 16:28] moozzyk commented on #140
This is fishy... If AspNetCoreModule had not been installed the application would not have been started... You would get 502 or something to this effect.

[2016-04-19 16:41] muratg commented on #140
Ah, perhaps the App Service roll out is completed after all.

[2016-04-19 16:49] LeandroPT commented on #140
@moozzyk @muratg

Yeah, but why no response to browser? Request get to kestrel, response is return from kestrel... why no reach the browser? Will @shirhatti  have an idea?

[2016-04-19 16:59] muratg commented on #140
@BrennanConroy is giving this a try... @LeandroPT I assume you're using a simple HelloWeb or HelloMvc app?

[2016-04-19 17:13] LeandroPT commented on #140
@muratg

No.. My RC2 MVC app. But you guys can check with those, all i need is confirmation that is ready. As you saw by the posts in this, i assumed it was not installed too.

I tested with both netcoreapp1.0 (the config above) and a net451 .exe
Both have the same outcome.

[2016-04-19 17:16] JunTaoLuo commented on #105
@shirhatti do you have an idea on what the ETA is for this?

[2016-04-19 18:56] shirhatti commented on #105
@JunTaoLuo Azure Web sites performs a rolling deployment. I believe they are currently in the process of rolling out ANCM. YMMV till they finish their deployment.

[2016-04-19 18:59] shirhatti commented on #140
@muratg  Azure App Service performs a rolling deployment. I believe they are currently in the process of rolling out ANCM. YMMV till they finish their deployment.

[2016-04-19 19:45] LeandroPT commented on #140
@shirhatti

You abbreviations almost killed med... Where can that progress be tracked?

[2016-04-19 20:21] mikes-gh commented on #139
Latest tooling template shown on aspnet community standup missing --framework in project.json
[code]
When I didnt have the --framework option it didnt work for me

[2016-04-19 20:39] moozzyk commented on #139
@mikes-gh - these changes went in last Friday - so after the standup.

[2016-04-19 21:48] mikes-gh commented on #139
I believe standup was live today. Scott using latest tooling drop just out.
Template here note no framework switch
https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/StarterWeb/project.json

[2016-04-19 21:52] moozzyk commented on #139
Changes to templates were merged only today so they probably were not in the build they showed. (And looks like I missed the standup...)

[2016-04-20 10:49] vfportero commented on #105
@shirhatti how can we know if the deployment it's done on all machines?

[2016-04-20 13:10] rmja commented on #105
For anyone interrested, I can confirm that RC2 bits now can be hosted on an Azure Web Àpp.

Here are the steps that I used to get it working:
- Delete any `web.config` in the project if there is one. It will be generated later.
- Make sure that the `content` section in `project.json` includes the `wwwroot` and `Views` folder.
- In `project.json`, have a `platform` dependency on `Microsoft.AspNetCo

[2016-04-20 13:42] LeandroPT commented on #105
@rmja

Yep, that is what i did... and got the result.

Can you tell me on which datacenter you did that? I am wondering @vfportero question too..

[2016-04-20 14:01] rmja commented on #105
@LeandroPT I am running on the north europe datacenter, and it is a http only site.

[2016-04-20 14:55] GuardRex commented on #105
@rmja :+1: Excellent!

That would be for a shared framework app. Here are the changes one would make if they wanted a standalone (self-contained) application:

1 Remove the `"type": "platform"` from `Microsoft.NETCore.App` and use either ...
[code]
... OR ...
[code]
... OR ...
[code]
2 Modify the `web.config` to point to an executable in the `processPath` and remove the `arguments` (unless you are

[2016-04-20 17:13] moozzyk commented on #105
`publish-iis` modified only published output. It does read the project.json file to figure out the name of the application and whether it is a portable or standalone but it does not modify the project (i.e. it does not add web.config to the content section). If you don't have any custom settings in the web.config file it does not matter - publish-iis will create a web.config in the publish output

[2016-04-20 19:28] BrennanConroy commented on #140
What is your actual issue?
ANCM is being deployed so some Web Apps may have it and others might not. In your case you have it 👍

[2016-04-20 19:50] muratg commented on #105
Just a reminder to folks that are trying this on Azure App Service... App Service roll-out with the AspNetCoreModule is still underway, so some of the regions would not have it yet.

[2016-04-20 20:59] blowdart opened #141 "Add optional feature to reject requests without IIS token"
This would prevent requests on the same machine bypassing auth/path authorization provided by IIS.

Should default to false though.

[2016-04-20 21:01] Tratcher commented on #141
Why default to false? Is there a mainstream scenario where you wouldn't want it on?

[2016-04-20 21:35] Tratcher commented on #141
Offline dicussion: On by default, no option to turn it off. The middleware is only added to the pipeline if the AspNetCoreModule environment variables are detected at startup, so enabling this will not affect self-host scenarios.

[2016-04-20 21:45] muratg opened #142 "Update publish-iis to set the dll location to home\site\wwwroot\app.dll instead of home\site\app.dll when deploying to App Service"
For Antares (App Service) deployments, approot is wwwroot.

cc @BrennanConroy

[2016-04-20 22:26] moozzyk commented on #142
[code]

[2016-04-21 00:23] muratg commented on #142
Looks good!

[2016-04-21 00:24] GuardRex commented on #142
This is confusing given the (philosophical) direction things have gone with `wwwroot`. It's come to be truly for static file serving. Is this still where Azure Apps will look for `web.config`? I thought that would be changed (i.e., backed out a level, then searched recursively down folders).

I was looking at what @rmja put up in https://github.com/aspnet/IISIntegration/issues/105#issuecomment-212

[2016-04-21 00:33] moozzyk commented on #142
@rmja - pushed his app with ftp and therefore he controlled where the application went.
Webdeploy apparently deploys to `wwwroot` and if your app has another `wwwroot` in your app they will be nested.
Unless it can be changed in webdeploy we don't have much choice and need to set the path so that the app can be found.

[2016-04-21 00:33] muratg commented on #142
@GuardRex Perhaps I should have called this in the issue... the `wwwroot` in the web.config is not the one that holds your app's static files, but an App Service location.

\home\site\wwwroot is your "application root" in Azure App Service.

So
[code]
Naming is unfortunate. Internally we're talking about changing the default name of the second one.

Hope this makes sense.

[2016-04-21 00:36] muratg commented on #142
@davidfowl FYI. Unfortunately .\app.dll doesn't seem to work (unless something changed in dotnet CLI and make this work)

[2016-04-21 00:41] GuardRex commented on #142
Exactly. You detected the same thing I did. If it isn't redesigned, it will cost MS some real support money down the road.

However, I don't think the problem is the second one ... the one we're leaning on for static assets in ASP.NET Core projects ... it's the way Azure Apps is setup to host the apps in the first place. If the second (internal) `wwwroot` name is changed for static assets, it will

[2016-04-21 04:00] davidfowl commented on #142
@muratg Why can't we just use `.\app.dll`, why do we need the full path?

[2016-04-21 04:06] rmja commented on #142
I agree with @GuardRex, it is the first wwwroot that is causing confusion. That is why I published the app in the example to site\root instead of site\wwwroot being served on mydomain/. This allows for other apps, say an api, to be put in site\api and being served on mydomain/api.

[2016-04-21 04:31] muratg commented on #142
@davidfowl @moozzyk can you elaborate why we can't use .\app.dll?

[2016-04-21 05:26] GuardRex opened #144 "Feature request for publish-iis tool: Ability to override default attributes on the aspNetCore element"
@moozzyk

[Opened as an issue instead of rolled into the https://github.com/aspnet/IISIntegration/issues/139 discussion b/c I hope it is important enough to merit its own focus.]

One of the nicest things about the tool is its ability to generate a `web.config` for a project. This means one less trivial file lying around in projects.

I noticed though that it hardcodes values for the attributes th

[2016-04-21 05:30] GuardRex commented on #139
I opened a feature request as a separate issue b/c I'm hoping that it gets some :heart: and could at least land on the backlog: https://github.com/aspnet/IISIntegration/issues/144

[2016-04-21 07:04] moozzyk commented on #144
The publish-iis tool touches only `processPaths` and `arguments` (for portable apps). Anything else (if exists) is intact. `stdoutLogFile` and `stdoutLogEnabled` are only added (if they don't already exist) to make it easy to turn on logging. `startupTImeLimit` is obsolete in AspNetCoreModule and is going away (I already made change to not add this attribute locally). For any other setting (be it

[2016-04-21 07:21] GuardRex commented on #144
Ok, but it begs the question: "What good is it for anything but the most trivial apps?"

At the minimum, having the ability to enable the log and set the log path would probably be widely used. I can also see the `processPath` override and `arguments` thing being a big hit: There will be a lot of devs who would like to override or add-to any argument the tool supplies for a tool-generated file. Ye

[2016-04-21 08:00] Bartmax commented on #144
Does the tool pick a web.config from project folder (not bin) and use that as a base ? Sounds like a more reasonable approach to that situation instead of having params for everything.

[2016-04-21 08:14] GuardRex commented on #144
@Bartmax Yes and no. It will mod the `processPath` and `arguments` of your existing file,, and that's fine for those people who want to keep the file in their projects. What I'd like to do is drop the file completely from my projects and have the tool generate it for me, but I need more control over the attributes when it does that.

[2016-04-21 08:17] Bartmax commented on #144
@GuardRex what is the reason for you to want to drop the file from your project? If you want to support IIS in a custom (non-default) configuration I think it's valid to assume you can have that file on your project, unless I'm missing something.

[2016-04-21 08:17] mikes-gh commented on #142
+1  This is really confusing.
Please don't change the second wwwroot.  That would be a bad idea IMHO.

[2016-04-21 08:24] GuardRex commented on #144
It would result in one fewer trivial files cluttering up my projects that I think a tool like this should be able to generate on-the-fly for published output.

[2016-04-21 09:39] mikes-gh opened #145 "Consider decoupling dotnet publish-iis from project.json to enable cross publishing"
Currently dotnet publish-iis needs dotnet publish to run first. and the default is a post publish entry in project.json.

It would be nice to decouple dotnet publish-iis  from the project.json

**For IIS**
`dotnet publish-iis -o  \\server\approot`
(implicit content entry for web.config)

This would run dotnet publish followed by the current dotnet publish-iis
I realise this can be achieved by runn

[2016-04-21 11:47] nil4 opened #146 "Support XDT Web.config transforms when publishing"
Application-specific configuration values that differ per-environment are supported well through the ASP.NET Core configuration system. For many applications, the IIS hosting configuration defined in `Web.config` also needs to be adapted to the target deployment environment (at a minimum, to distinguishing between development and production scenarios).

ASP.NET tooling in Visual Studio historicall

[2016-04-21 16:16] GuardRex commented on #144
Amazming how powerful this stuff is. I was able to clone and mod the tool to ...
- default enable the log output to `true`
- set the log filename prefix to the `appName` (sans the extension)

... in **15 minutes** by changing two lines of code in the tool. **Nice!** :+1:
[code]
[code]
[code]
[code]

No other comments have come in; and with this being so easy to do and no @moozzyk :heart: for it, I

[2016-04-21 16:16] #144 closed

[2016-04-21 16:28] moozzyk opened #147 "publish-iis should not blindly overwrite arguments"
For portable apps if there are any existing arguments we should try to preserve them.

[2016-04-21 16:29] moozzyk commented on #144
I actually was thinking about not blindly overwriting arguments for portable apps for a while. Filed an issue to track this https://github.com/aspnet/IISIntegration/issues/147

[2016-04-21 16:33] GuardRex commented on #144
That's cool ... but I want to get rid of `web.config` from my apps on a permanent basis. After looking more careful at how this thing works, I think it would be trivial to mod it for script command line arguments to override the default values for the file. I don't need to take it that far ... what I did above in two lines solves my immediate problems. I'm just shocked at how quick and easy it was

[2016-04-21 17:23] moozzyk commented on #142
@BrennanConroy tried `.\app.exe` and it worked so we should be able to remove the absolute path.

[2016-04-21 22:07] moozzyk commented on #145
What's in the `content` section in project.json is being copied blindly. This is done by dotnet cli and I don't think there is a way to prevent this based on the name of the file.
Postpublish scripts can actually know what platform the project was published for by reading the %publish:Runtime% variable. What you could do is to write a script that checks the target platform and delete the web.confi

[2016-04-21 23:51] moozzyk opened #150 "Remove %LAUNCHER_ARGS% for standalone apps"
By default templates will create a web.config `//aspNetCore/@arguments` set to `%LAUNCHER_ARGS%`. publish-iis only touches the processPath attribute. As a result the web.config looks like this:

[code]
On full IIS the arguments are passed verbatim to .MyApp.exe and the app does not start.

[2016-04-22 15:25] PinpointTownes commented on #141
Why not providing an option to disable this feature? What happens if I want to host my app on various environments? (e.g behind IIS on a Windows machine, behind nginx on a Linux-based machine).

[2016-04-22 18:09] moozzyk commented on #150
Fixed in 4d24efc

[2016-04-22 18:09] #150 closed

[2016-04-22 18:11] moozzyk commented on #142
Fixed in b034849

[2016-04-22 18:11] #142 closed

[2016-04-22 20:26] #141 closed

[2016-04-22 23:02] BrennanConroy commented on #140
No reply, closing

[2016-04-25 07:52] mikes-gh commented on #145
@moozzyk
Publishing to dev and production might be a common scenario. where you might use one project.json.
I think it would be good if dotnet publish-iis was a one step command incorporating dotnet publish.  It just seems more natural to me.  Otherwise you  have to explain that dotnet publish-iis doesn't publish the project but only the web.config.  It seems a misnomer.

Or it may even be better

[2016-04-25 13:16] alejodg commented on #35
I have the same issue on Windows 2008 R2 Enterprise, IIS 7.5.
I created multiple sample projects from VS 2015 from dnx-clr-win-x64.1.0.0-beta6, beta 8 to 1.0.0-rc1-update1, with the latest httpPlatformHandler 1.2 and the sites are just a blank page crashing on w3wp.exe.

I didn't notice this problem before because I deployed my solution on a VM with Windows 2008 R2 Standard, so now when I want to

[2016-04-25 15:08] GuardRex commented on #145
... or do what I did: Clone the tool and hack away. It's easy to mod to one's liking. I hacked it to set the default for log output to `true` and name the log file prefix to the application name in 15 minutes! :smile:

:+1: It isn't named according to what the tool actually does, which would be something like "configure-web.config," "configure-for-iis," or something along those lines.

[2016-04-25 15:43] mikes-gh commented on #145
`dotnet publish-iis -o \\server\approot  -c release -f nettcoreapp1.0`

To me that makes more sense and easier to explain to users.

[2016-04-25 15:47] muratg commented on #35
@alejodg @theryjo did you guys get a chance to try it with the AspNetCoreModule (instead of HttpPlatformHandler)? HttpPlatformHandler is being replaced by AspNetCoreModule in RC2.

[2016-04-25 16:25] leak commented on #35
Is AspNetCoreModule supposed to work with RC1?

[2016-04-25 16:27] GuardRex commented on #35
@leak No ... won't work. I and another dev tested that scenario. You'll need to upgrade the app for it.

[2016-04-26 17:19] muratg commented on #147
Let's consider in 1.0.0.

[2016-04-26 17:22] muratg commented on #146
publish-iis tool and web.config are mainly IIS concepts. ASP.NET Core apps can run directly on Kestrel, or behind nginx too.

You could write a tool (similar to publish-iis) to make web.config transformations that can run as part of your post-publish scripts.

[2016-04-26 17:22] #146 closed

[2016-04-26 17:22] muratg commented on #133
@LeandroPT Looks like this one is resolved. Please file another issue if you still have problems.

[2016-04-26 17:22] #133 closed

[2016-04-26 17:23] muratg commented on #126
@toastermagic I assume this is some file/folder permission issue. Let us know if you were able to figure it out. If you are able to repro on a "clean" machine, please file another one.

[2016-04-26 17:23] #126 closed

[2016-04-26 17:39] toastermagic commented on #126
Hi, I did find out the problem - the AppPool user needed permission to connect to SQL Server.

It was just difficult to find because the message was so general and I didn't twig that a connection would be attempted during the bootstrap process (i.e. before any connection to the site was made).

My apologies for not updating & closing this issue myself sooner.

[2016-04-26 19:19] nil4 commented on #146
I will give it a try, using the code from https://git01.codeplex.com/xdt as a starting point.

[2016-04-26 20:03] GuardRex commented on #146
@nil4 It was a breeze using `publish-iis` as a template by cloning `Microsoft.AspNetCore.Server.IISIntegration.Tools` from https://github.com/aspnet/IISIntegration/tree/dev/src/Microsoft.AspNetCore.Server.IISIntegration.Tools. It took me 15 minutes to hack up my changes ... https://github.com/aspnet/IISIntegration/issues/144#issuecomment-212991722

[2016-04-26 23:36] nil4 commented on #146
@GuardRex thanks, that's pretty cool! My use case is a bit different though: we have multiple apps that each use slightly different IIS settings per-environment (e.g. URL rewrite rules, authentication configuration, request limits, etc.) We are comfortable using XDT transforms so I would prefer to have a general-purpose tool that can customize each app's Web.config at publish time. As a bonus, I h

[2016-04-27 00:06] GuardRex commented on #146
It's a command line application, so you have a `Program:Main` and the ability to read command line arguments passed in when you call it with `postpublish` in the parent project ... and really anything else anywhere in the parent project files (via parsing them) or in the published output ... and info on the environment (e.g., machine name, env vars, etc.).

Therefore, all you need to do is pickup

[2016-04-27 11:45] LeandroPT commented on #140
@BrennanConroy

The issue still remains and the answer to your question is on the 1st post, and my life is already complicated to have you set me SLA's for replies.

I did some more tests and this is what i found out:

Picked project IISSamples on this repository as of TODAY, tweaked the project.json
[project.json.txt](https://github.com/aspnet/IISIntegration/files/238547/project.json.txt)

:

Run

[2016-04-27 16:17] Tratcher commented on #140
I see your issue now. You have two entries in X-Forwarded-For and only one in X-Forwarded-Proto. Our x-fowarded logic requires that there be the same number of entries in each of these headers.

You can override it by disabling x-forwarded-for like this:
[code]

@pan-wang can you investigate why there are two x-fowarded-for entries with the same value in Azure?

[2016-04-27 19:21] danroth27 opened #158 "Discussion for: Publish for IIS changes to web.config location"
Discussion for https://github.com/aspnet/Announcements/issues/173

[2016-04-27 19:37] tuespetre commented on #158
Does this mean `contentLibPath` or whatever that was introduced in Web Deploy 3.6 will eventually be deprecated?

[2016-04-27 19:58] Kukkimonsuta commented on #158
I'm a bit concerned about this change. I was pretty happy seeing that IIS points directly to `wwwroot` because then even if I mess up there is no way IIS would serve logs, configs or other items if I use the default structure that seem to be look like:

[code]

Now to be 100% sure that iis will under no circumstances serve these files, we need to go back to blocking various path segments or extens

[2016-04-27 20:06] tuespetre commented on #158
The module for ASP.NET core completely takes the request from IIS so there is no chance it would be served unless you configured IIS to specifically serve them.

[2016-04-28 07:03] GuardRex opened #159 "32-bit app will not run on IIS with 32-bit AppPool mode enabled"
32-bit app will not run on IIS with 32-bit AppPool mode enabled ... or .... **"I'm doing it wrong!"**

![doingitwrong](https://cloud.githubusercontent.com/assets/1622880/14877818/16bff4ba-0ce5-11e6-90c3-3a1837bb21bd.png)

In testing various breakage scenarios, I've tried to set up a standalone app with `"platform": "x86"` in `compilationOptions` and publishing with `win81-x86`. I enabled 32-bit on

[2016-04-28 08:51] davidfowl commented on #158
Yes

[2016-04-28 10:50] Kukkimonsuta commented on #158
@tuespetre I understand how it works in "well configured" scenarios, but imagine the deployment fails somewhere and for some reason deletes web.config. Now you have IIS with default configuration pointed in your directory with configs, logs and possibly other private data and IIS will be happy to serve them.

I agree, that this is scenario that's just not supposed to happen, but in real life these

[2016-04-28 10:53] davidfowl commented on #158
@Kukkimonsuta this is our new default because of the technology and ecosystem we've built around web hosting in IIS. If you control everything, you can certainly move the `web.config` back into the `wwwroot` folder and point IIS there.

[2016-04-28 15:31] GuardRex commented on #158
Yeah ... This is kind'a serious (logs prob wouldn't have the right extension to pass, but JSON and XML is cool with IIS). If you don't have a `web.config` (or perhaps a malformed `web.config`), you might end up serving sensitive data from the allowed file extensions.

Just to demo this, I removed `web.config` from a test proj on the server and requested `teststandalone.runtimeconfig.json`, `testst

[2016-04-28 15:46] blowdart commented on #158
Oh believe me I've already expressed my reservations about this change.

However a malformed web.config will just error out, and nothing gets past that.

[2016-04-28 16:13] GuardRex commented on #158
@blowdart Almost true .... The schema will match and pass if the `<aspNetCore>` node is missing. If I merely change the file to this ...
[code]
It will not error out and IIS will serve all of that content. Of course, that's an unlikely scenario.

It's much more likely that the file will just be absent or accidentally renamed. Once, I saw a `web.config` accidentally get moved on a server that compl

[2016-04-28 16:22] moozzyk commented on #159
32-bit?

C:\_APPLICATIONS\teststandalone\bin\Release\netcoreapp1.0\win81-**x64**\publish\teststandalone.exe

[2016-04-28 16:32] GuardRex commented on #159
@moozzyk AH! Thx ... stand-by. .... man this stuff can catch you off-guard. :smile: Let me re-check ... brb.

[2016-04-28 16:40] blowdart commented on #158
I think we could go further in documentation, and at least walk people through how to configure IIS not to serve .json files

[2016-04-28 16:42] GuardRex commented on #159
@moozzyk ... good :eyes: ... and as @DamianEdwards pointed out last night, a 32-bit app does not require 32-bit to be enabled for the AppPool, because the AppPool is running a 64-bit `AspNetCoreModule`.

What's worse than a big 'ole face-palm ... how about :boy: :gun: DOE! BART!

[2016-04-28 16:42] #159 closed

[2016-04-28 17:39] GuardRex commented on #158
It could complicate matters if the app is supposed to serve dev-sanctioned JSON files to enforce a blanket extension filter; as you know, IIS would stop all such requests dead in their tracks.

It feels like you almost end up having to tell server admins to make an IIS server-wide change and add these sensitive known filenames of known config files to the `Hidden Segments` of `Request Filtering` .

[2016-04-28 17:43] tuespetre commented on #158
- Nothing really changed with logs. The target location of the logs needed to be configured to point outside of the `wwwroot` folder to avoid being served anyways, even before this change. The default was to just spit them out right there in the `wwwroot` folder.
- Would the team consider changing `wwwroot` back to a default name of `Content` since it's not truly a 'wwwroot folder' anymore? This w

[2016-04-28 23:36] LeandroPT commented on #140
@Tratcher

Your "hack" works perfectlly. I have made it using an appsettings switch, so as soon @pan-wang  has news, please let me know.

[2016-04-29 15:52] Eilon commented on #140
@Tratcher @muratg is there anything left for RC2 here?

[2016-04-29 15:57] Tratcher commented on #140
I've asked @pan-wang to investigate why there are duplicate X-Forwarded-For headers, but that can wait. Moving to 1.0.0

[2016-05-01 11:37] benaadams opened #160 "[AspNetCoreModule] Use HttpResponse.PushPromise"
To more fully utilize http/2 where available, if response includes `Link` header with a local path and `rel` of  `preload` add `PushPromise` for that path.

This will enable the reverse-proxy (IIS) to "value add" more http/2 features to Kestrel when used in that configuration. (e.g. Win10, Server 2016, nano server)

e.g.
[code]
Add
[code]
Or
[code]
Add
[code]

IIS PushPromise as per http://blogs.i

[2016-05-01 14:43] dopare commented on #160
Really must have feature.

Thanks @benaadams

[2016-05-02 21:01] tuespetre opened #161 "[AspNetCoreModule] consider an 'auto-start' option"
With a 'traditional' ASP.NET application, IIS could be configured to have the app pool "Always Running", which would trigger `Application_Start` or a `Startup` class, giving developers a chance to schedule recurring background tasks and trust that they ran as long as IIS and the app pool were running. This was great for simple, small-scale deployment scenarios.

HttpPlatformHandler was not as frie

[2016-05-05 01:16] pranavkm opened #163 "Publish tool does not account for outputName in project.json"
[code]

produces a web.config
[code]

Similar issue with standalone applications.

[2016-05-05 01:21] moozzyk commented on #163
Dupe of https://github.com/aspnet/IISIntegration/issues/128

[2016-05-05 01:21] #163 closed

[2016-05-06 00:57] GuardRex opened #164 "Head-check on moving `web.config` back to `wwwroot`"
@JunTaoLuo @Tracher @moozzyk

[Opened outside of the discussion on the announcement so that I can link/find it easier.]

Coming off of [Publish for IIS changes to web.config location (Announcements/#173)](https://github.com/aspnet/Announcements/issues/173) and [concern over accidental renaming or moving of `web.config` that would leak sensitive files](https://github.com/aspnet/IISIntegration/issue

[2016-05-06 01:19] Aequoris commented on #164
I second this. I too will be moving it back to be similar to RC1.

[2016-05-06 01:23] GuardRex commented on #164
Just to clarify one more point. I recall the conversations with @moozzyk on paths. I'm not asking about dev/test, where debugging might not like that `.UseContentRoot("../")` ... One could easily program around that. I'm asking about on the IIS server in production.

[2016-05-06 01:23] muratg commented on #164
@GuardRex did you get a chance to test it on Azure Websites?

[2016-05-06 01:25] GuardRex commented on #164
@muratg No. I only ran an IIS Local test. It would be good to know if this will break in Azure Apps.

[2016-05-06 04:06] davidfowl commented on #164
`Use .UseContentRoot("../")` Seems non portable. It'll only ever work if always hosting on IIS, self host will fail.

[2016-05-06 04:13] GuardRex commented on #164
Very interesting ... It works self-host if you double-click the `.exe`, but it fails if you run the `.exe` through the command line???? What's up with that?

[2016-05-06 04:19] GuardRex commented on #164
Spoke too soon. I was in the wrong dir. I wasn't in the `publish` directory. Kestrel runs it from the command line or double-clicking the `.exe` ...

![capture](https://cloud.githubusercontent.com/assets/1622880/15064247/d9d65c68-1317-11e6-990a-d29a07fd1cc4.PNG)

[2016-05-06 04:34] GuardRex commented on #164
It fails in VS Code debug ...
[code]
... but if you simply change the `../` to `Directory.GetCurrentDirectory()`, of course, it runs in debug.

@Bartmax might be testing this config in Azure Apps soon.

[2016-05-06 13:30] tuespetre opened #165 "[AspNetCoreModule] Forwarding the 'userinfo' URI component"
This is somewhat dependent on: https://github.com/aspnet/HttpAbstractions/issues/628

Currently there appears to be no way to obtain the userinfo component of the original request URI when running behind IIS. Userinfo is not necessarily always going to be provided in the Basic scheme or format, so if anything is done here I would imagine it should be an extension header along the lines of `X-Forwa

[2016-05-06 14:25] #165 closed

[2016-05-06 17:25] moozzyk opened #167 "Publishing default ASP.Net Core Web app template to azure doesn't modify the log location in web.config, resulting in no logs being produced #540"
With the project created from templates the log path is set to be `.\logs\stdout`. If the user turns on logging but does not modify the path or delete the attribute the path will be used as is (publish-iis does not change path as it might have been set by the user). When publishing this project for Azure the path won't be correct and no logs are written.

More details:
See: https://github.com/aspn

[2016-05-07 00:50] moozzyk commented on #57
Related https://github.com/aspnet/Tooling-Internal/issues/548 ?

[2016-05-07 00:51] muratg commented on #57
@moozzyk Seems related. @pan-wang could you take a look?

[2016-05-07 00:54] moozzyk commented on #57
I linked because I remember a discussion about what log streaming is really supposed to be. I think this is fixed - in the other bug @maumar said that streaming works once the path is set correctly.

[2016-05-07 01:06] maumar commented on #57
It works from VS if you set the log location to LogFiles//application, but using CLI it works for more cases, e.g. "default" LogFiles.

[2016-05-07 04:45] moozzyk commented on #164
@GuardRex - I actually think it could be possible to contain all the changes to `web.config`. Instead of changing the content root in the application you could try setting it as an environment variable (`ASPNETCORE_CONTENTROOTKEY`) in web.config. You would need to ensure that configuration is reading environment variables.

[2016-05-07 05:02] GuardRex commented on #164
@moozzyk There would be no effect on the app for debugging that way :+1:, so that sounds very good. That would also be easy to roll into my `GuardRex.AspNetCore.Server.IISIntegration.Tools` <--- **malware** :smile:. I'll test this approach on Saturday. Thx. /cc @Aequoris

[2016-05-07 16:12] GuardRex commented on #164
@moozzyk @Aequoris

#### Env Var Approach
I didn't fully implement it b/c I could see along the way that it was something I wasn't interested in using, but it was shaping up along the lines of the following. Please correct the pseudo-code for others. I actually stopped cold with what you see here ...
[code]
[code]
`web.config` to be placed in `wwwroot` ...
[code]

Nah ..... It's not called the "CR

[2016-05-07 19:50] GuardRex commented on #164
@Bartmax @Aequoris Were either/both going to test for `web.config` in `wwwroot` for Azure Apps? I'm getting ready to close this, because I'm going to go with the `Hidden Segments` approach and just leave `web.config` in my content root (full explanation is below).

#### Modding `dotnet-publish-iis` tooling to include `Hidden Segments`

I have a tooling version that will do this now :sparkles: auto

[2016-05-07 23:47] Bartmax commented on #158
3 words:

lazy, stupid and non-sense.

[2016-05-08 01:03] davidfowl commented on #158
Nope, it is the wwwroot folder as IIS still isn't responsible for servicing static files.

It was a hack and didn't work well with most hosters configuration. With the new layout things were being dumped one folder up from the wwwroot. We looked at a few options but ultimately this one had the best set of trade offs and on the plus side required no server side changes to web deploy.

[2016-05-08 01:09] buraktamturk commented on #158
@davidfowl but this way we can't really ensure the hosting provider's IIS config, therefore it's more possible to serve the code or the config as static files than the old way. It is fairly possible to a broken IIS extension, that would try to serve our private files to public, could be installed to the hosting.

I agree with your point, but every option has some advantages and disadvantages in Co

[2016-05-08 01:12] GuardRex commented on #158
Referencing other issue for moving the `web.config` file back to `wwwroot` or using `Hidden Segments` of `Request Filtering` to stop IIS from serving sensitive files: https://github.com/aspnet/IISIntegration/issues/164

[2016-05-08 03:55] davidfowl commented on #158
I you control the hosting environment, then as @GuardRex mentions, you'll be able to go back to the former model which is safer as IIS never sees anything but the wwwroot folder.

Yep, we chose the best one given the trade offs. This is what we do everyday (as you mentioned).

[2016-05-08 04:11] Bartmax commented on #158
why the @GuardRex approach (if it works) cannot be the default?

[2016-05-08 04:17] davidfowl commented on #158
@Bartmax because we can't change every hoster and IIS server that exists on the planet. When you host node on IIS it's the same idea (and it sucks) but that's just how IIS runs.

[2016-05-09 06:31] Challagolla opened #168 "Question: what is the correct framework to use for aspnetcore web applications to host them correctly in IIS?"
Hi Team,

Could someone educate me on what are the framework that a web application built using latest aspnet core rc2 packages should use to host it correctly in IIS?  does IIS supports running the net451 version?  or do we need to port to netcoreapp1.0 ?  can we find some documentation anywhere regarding the usage of the target frameworks that we need to use to host the applicaitons correctly ?

[2016-05-09 06:40] ibrmohammed opened #169 "Hosting the Mvc.Server project on IIS with net451 not working"
## project
https://github.com/openiddict/openiddict-core
This project has sample MVC.Server which i am trying to host on IIS

## Actual Behaviour
when i publish with netcoreapp1.0 as a target framework and host on IIS it works fine.
But when i publish with net451 as a target framework and  host on IIS it doesn't.

For More info about this
https://github.com/openiddict/openiddict-core/issues/105

[2016-05-09 15:13] Tratcher commented on #169
Please do not open the same bug in multiple repos.
https://github.com/aspnet/Hosting/issues/744

[2016-05-09 15:13] #169 closed

[2016-05-09 16:33] GuardRex commented on #168
@Challagolla Docs are on the way and a WIP right now. This week is a particularly transitional period, as they are trying to put out RC2 release by "mid-May." There are a multitude of doc updates that will hit when RC2 releases, because there were so many updates for RC2. Here are some links that may be of help: https://github.com/dotnet/cli/issues/2135#issuecomment-212692267. You'll want to pay p

[2016-05-09 18:12] PinpointTownes commented on #137
FYI, I'm seeing a similar error when stopping an app pool (hosting a working vNext app).
I assume this is caused by the same root cause.

[2016-05-09 18:37] GuardRex commented on #137
@PinpointTownes That's interesting ... I thought stopping the AppPool would result in a 503 with no Application log entry.

[2016-05-09 19:06] PinpointTownes commented on #137
@GuardRex a 503 response is indeed what I'd get if I tried to reach the website *after* shutting down the app pool. The exception (and the debug window) appears just after stopping the app pool using the IIS manager. Are you seeing a similar thing?

![image](https://cloud.githubusercontent.com/assets/6998306/15124753/c35a5e8e-1629-11e6-8c32-cc0e87a3f78e.png)

[2016-05-09 19:21] moozzyk commented on #137
@PinpointTownes - this should not be happening. I guess it would be useful if you could provide @pan-wang with a dump.

[2016-05-09 20:24] PinpointTownes commented on #137
Sure:

[code]

[code]

[2016-05-09 21:26] muratg commented on #167
@moozzyk  is the change in publish-iis command or the templates?

@Eilon @DamianEdwards do we want to fix this for RC2?

cc @danroth27 @glennc

[2016-05-09 21:40] moozzyk commented on #167
I don't think it can be done in templates (or only in templates). When the application is being created you don't know whether it's going to be published for Azure or IIS. When publish-iis is invoked we know if we are publishing for Azure or not. This is when we have a chance to react. The question is how we should know whether to react. One option is to not put stdoutPath to the web.config by def

[2016-05-09 21:57] Tratcher commented on #167
The other alternative is to have the templates set the log path to %LOG_PATH% like we do for the app and args. Then it publish-iis could check for this default and replace it for normal or azure publish.

[2016-05-09 22:08] DamianEdwards commented on #167
If we can make a very simple fix (aka extremely-low-risk) to the templates ASAP then I'm OK with this for RC2. Otherwise, we should revisit this in RTM.

[2016-05-12 08:02] mikes-gh commented on #161
Shouldn't the application lifetime be controlled at the IIS app pool level as it is now?

[2016-05-12 15:54] GuardRex commented on #161
@mikes-gh It is, @tuespetre is calling attention to the startup nature of the app. Take a Windows Service, for example. When you start that service and set it to automatically start, you know that your service is going to fire right up and always run when the server restarts. We don't have that for IIS apps, and I think this is a great idea.

[2016-05-12 16:38] mikes-gh commented on #161
@Guardrex Being devils advocate :smile: I'm not sure web.config could control the app pool process lifetime variables such as "Always Running" ?  The app pool might have more than one app in which case you might have 2 settings fighting each other.  Unless we change the model to one app pol per app.
If @tuespetre is saying lets replace Application Initialization with a new mechanism in AspnetcoreM

[2016-05-12 16:58] GuardRex commented on #161
@mikes-gh AFAIK that's a non-starter b/c they issued earlier guidance: one app for one AppPool ... but that may have changed. I don't recall a more recent discussion on it.

I wasn't really too concerned about `web.config` setting it up; although, I believe you can set Idle Time-out with the `<processModel>` and the Always Running with `applicationInitialization` in `web.config`, but I've never do

[2016-05-12 21:48] shawnwildermuth opened #170 "Not using IISPlatformHandler in Azure AppService causes 301 loop"
It looks like IISPlatformHandler went away in RC2, but just in case...any idea why removing IISPlatformHandler would cause a site in Azure AppService to just loop 301 (redirect)? The only redirect I'm using is to go to https but no code changed except removing the IISPlatformHandler (which I thought was only to support Windows Auth).

[2016-05-12 21:54] Tratcher commented on #170
Because it was applying the x-forwarded-proto header to your Scheme so you knew the request was HTTPS. Otherwise the request appears to be HTTP because that's what's used between the module and back-end process.

[2016-05-12 22:00] Tratcher opened #171 "Disable shutdownTimeLimit when the debugger is attached"
Similar to how startupTimeLimit is ignored while the debugger is attached to enable debugging startup, shutdownTimeLimit should also be ignored to help debug shutdown.

[2016-05-12 22:05] shawnwildermuth commented on #170
Again, not sure what happens in RC2, but in this case we need IISPlatformHandler whenever we're IIS hosted, not just in Windows Auth scenarios (since redirect to https is such a common case). Right?

[2016-05-12 23:02] Tratcher commented on #170
Right. In RC2 this has moved to Main where you call UseIISIntegration and it hooks up the dynamic port and middleware. https://github.com/aspnet/IISIntegration/blob/dev/samples/IISSample/Startup.cs#L79

[2016-05-13 16:56] Tratcher opened #173 "Disable requestTimeout when the debugger is attached"
Similar to how startupTimeLimit is ignored while the debugger is attached to enable debugging startup, requestTimeout should also be ignored to help debug requests.

[2016-05-13 18:04] rustd commented on #140
Due to this all https scenarios are broken with Azure Web Apps.
All of the ASP.NET templates for Work & School Accounts are also broken as follows:
- Create a Web App with Work & School Account
- Publish to Azure Web Apps
- Browse to the site and login
- Login fails

[2016-05-13 18:13] pan-wang commented on #140
You can see ARR is enabled at Azure. I suspect the additional X-Forward-For header is added by ARR which also does the request forwarding. Will verify it with private test.

[2016-05-13 18:32] moozzyk commented on #128
Fixed in f58641b

[2016-05-13 18:32] #128 closed

[2016-05-13 18:50] Tratcher commented on #140
This causes redirect based login flows like OIDC and OAuth to fail because the redirect url must be pre-registered with the provider (AAD), and login fails if it does not match.

[2016-05-13 21:17] Tratcher commented on #140
From what we can see the individual pieces are all working as expected, they just have different expectations from each other. We'll need to decide which component needs to change.

Flow:
ARR adds X-Forwarded-For
ANCM adds X-Forwarded-For and X-Forwarded-Proto
ForwardedHeadersMiddleware reads X-Forwarded-For and X-Forwarded-Proto and rejects then because the entry count does not match.

What does

[2016-05-13 21:24] shirhatti commented on #140
For Nginx you have explicitly set what headers you want in your config file, e.g.,

[code]

[2016-05-13 21:27] Tratcher commented on #140
Yeah, I found this sample which seems like a common recomendation: https://www.digitalocean.com/community/tutorials/how-to-set-up-nginx-load-balancing-with-ssl-termination

[2016-05-13 23:23] moozzyk opened #174 "app_offline does not work if app_offline.htm is empty"
If you drop/create an empty app_offline.htm the application is not getting stopped and the app_offline.htm is not served.

[2016-05-14 17:28] giggio commented on #158
The `wwwroot` name makes absolutely no sense, now, as it is not the site's root, anymore.
Now that the name is meaningless, change this directory name to `public`, which is what everyone else uses. You are already moving people from `Content`, why not move them to the proper name used by all other stacks?

[2016-05-14 18:04] GuardRex commented on #158
@giggio I did a search, and it looks like that particular design decision was made in **ancient** times. It would be interesting to hear the history and reasoning on `wwwroot`. I get the `approot` ... `webroot` play on `root`, but it definitely could have been `approot` ... `public` or `publicroot` back then. It's very webbish today! (maybe toooo webbish)

[2016-05-14 18:21] buraktamturk commented on #158
@davidfowl That was should to be said when HttpPlatformHandler was introduced (and AspNetCoreModule).

[2016-05-15 01:29] GuardRex opened #175 "IISIntegration (dotnet/iis) Gitter Room?"
@Tratcher @JunTaoLuo @moozzyk @pranavkm

I asked at http://forums.dotnetfoundation.org/t/i-could-really-use-an-iisintegration-gitter-room/1632 ... but prob better to ask over here. Can we have an IISIntegration Gitter room?

It would provide a quiet place to chat with devs on IIS issues and troubleshoot issues. JabbR is almost :skull: dead :skull:, and Slack has a sign-up barrier to meet with devs

[2016-05-15 22:40] GuardRex commented on #144
Custom `publish-iis` tooling example based on the official tooling: https://github.com/GuardRex/GuardRex.AspNetCore.Server.IISIntegration.Tools

Four differences for this custom version:

1. This project produces a self-contained standalone execuable application.
2. The `stdout` log is enabled by default.
3. The `stdout` log filename is prefixed with the application name.
4. Hidden Segments are ge

[2016-05-16 19:04] Tratcher opened #176 "Creating .NET Core web app that includes 'web' or 'app' in the name silently fails to launch in VS (it just hangs on launch)"
_From @BillHiebert on May 10, 2016 23:51_

Create a new Empty .NET Core Web app in VS
Call it "web"

Hit F5 (to launch under IIS Express)

Actual:
It fails to launch (spinning Edge icon waiting for it to load) - there are not even an IIS Express logs to debug the issue

What's happening is kestrel is throwing the following exception. It only repros with projects named "web" and when hosted in iise

[2016-05-16 19:04] Tratcher commented on #176
_From @benaadams on May 10, 2016 23:54_

The error means the port Kestrel is trying to listen on already has something listening on it

[2016-05-16 19:04] Tratcher commented on #176
_From @halter73 on May 11, 2016 0:3_

@benaadams Agreed that that is the most likely explanation. @cesarbs Said he was able to repro and that he would debug it.

[2016-05-16 19:04] Tratcher commented on #176
_From @cesarbs on May 11, 2016 0:47_

@benaadams I'm not sure. When you try to listen on a port that's already in use you normally get an `EADDRINUSE`.

[2016-05-16 19:04] Tratcher commented on #176
_From @cesarbs on May 16, 2016 19:1_

Interesting find here. Look what happens to the address Kestrel tries to bind to when the project is named "web":

![image](https://cloud.githubusercontent.com/assets/924164/15300460/ad5fdd82-1b5d-11e6-8eea-a70e95dd7b02.png)

Compare to any other project:

![image](https://cloud.githubusercontent.com/assets/924164/15300511/efa9d738-1b5d-11e6-9545-2e7468084762.

[2016-05-16 19:04] Tratcher commented on #176
_From @cesarbs on May 16, 2016 19:1_

cc @Tratcher

[2016-05-16 19:04] Tratcher commented on #176
Specifically, the ASPNETCORE_APPL_PATH is set to `ROOT/WEBHOST/WEB` for some reason. Is `WEB` a reserved site name in IIS/Express?

[2016-05-16 21:12] Tratcher commented on #175
@DamianEdwards, @Eilon?

[2016-05-16 21:29] Eilon commented on #175
BTW there is already a Gitter room listed at https://github.com/aspnet/Home

* https://gitter.im/aspnet/Home?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge