[2018-02-14 18:05] jkotalik commented on #586
I believe this can apply to both scenarios. Though setting up a well known server behind ANCM for out of proc will be a bit trickier (would need to create the equivalent of UseIISIntegration in the web server), it can be done. For starters, I would like to have pretty basic websocket tests using kestrel for out of proc and inprocess.

[2018-02-14 18:10] Tratcher commented on #586
Regarding layering: most middleware repoes, including WebSockets, depend on IISIntegration for test and sample dependencies. This makes development much easier. Only BasicMiddleware excludes this dependency because IISIntegration depends on forwarded headers.

[2018-02-14 18:20] muratg commented on #433
Bringing back to triage...

[2018-02-14 18:29] Tratcher commented on #586
Most of the WebSocket implementation has been moved to CoreFx. It wouldn't be hard for IISIntegration to add some WebSocket tests using the CoreFx libraries directly.

[2018-02-14 20:04] HB-2012 commented on #448
@geirsagberg I just ran into this issue because I disabled the option "Launch browser". This results in an address being printed in the output window, but that address is actually incorrect. You have to use the address that is configured in the "App URL".

You can get to these settings through Project Properties > Debug

[2018-02-14 21:09] shirhatti commented on #587
EDIT: Updated incorrect image

[2018-02-15 05:33] dexterhussain commented on #227
Dear NetStep,

I solved this issue. Can you Please tell me what OS are you using?

On Wed, Feb 14, 2018 at 10:49 PM, Murat Girgin <notifications@github.com>
wrote:

--
Muzzammil Hocane
May Allah Grant you Ease and Help you to distribute Ease

[2018-02-15 07:45] Netstep commented on #227
Hi,
0: OS - 2012R2, References - where to look them?   I have the issue only on production server. Running Kestrel - "dotnet    myproject.dll"
1: I don't know... How to check this?
2:  We don't use hostnames yet, IP address only, here is how it's configured in the project:

[code]
appsettings.json:

[code]

[2018-02-15 09:17] JTOne123 opened #590 "[ERROR?] VaryByHeader rewrite by IIS (tested on 8.5 and 10) but ok for Kestrel and Azure"
I have next code in my app

[code]

When I run it locally on Kestrel or Azure everything is fine.
Response header is "Vary:locale,Accept-Encoding"

But when it runs in IIS, I'm getting only "Vary:Accept-Encoding"

I did a workaround via web.config, but it's not an ideal solution
[code]

Ideas?

[2018-02-15 18:03] Tratcher opened #591 "[In-proc] Unhandled request exception results in an empty 200 response"
I intentionally commented out some of my auth settings in appsettings.json which causes the auth middleware to throw an exception per request. The exception handler middleware sets the status to 500, retries, and throws again. Hosting logs the request completed with a 500 status, but the browser reports it as an empty 200.

It appears that when in-proc catches an unhandled request exception it doe

[2018-02-15 18:23] muratg commented on #227
Re scripts: If you're an admin on the machine, you should be able to run the powershell script. If not, you can check with the administrator.  Re: references, you can paste your .csproj file.

[2018-02-15 19:19] Netstep commented on #227
Here is my csproj file:
[code]
But script has a parameter:
[string] $appPoolName
what value should I pass ?

[2018-02-15 22:06] muratg commented on #227
@Netstep Perhaps DefaultAppPool (if you're not configuring others?)  Please check out the doc for more complete/correct information on that.

[2018-02-16 01:31] jimmyca15 opened #592 "MOF file needed for ANCM"
Going forward ANCM will have a Trace Provider registered with IIS. The trace provider will be accompanied by a mof file to be consumed by WMI.

We should make sure to check in the mof file so that the installer and any other interested parties can place it as needed.

[2018-02-16 03:54] jkotalik commented on #584
@anurse for the inproc and out of proc scenarios, they are both on a per request basis? Therefore,the IISHttpContext should be the one to remove the IHttpUgradeFeature?

[2018-02-16 16:49] anurse commented on #584
IIS should be modifying the request features yes. However, it's certainly the case that the decision to allow the upgrade feature can be made once per process, since it's not possible to enable the WebSockets module or upgrade the OS while the process is running ;). So yeah, it would be in the `IISHttpContext` that you would remove the feature, but you could use a global static variable to determi

[2018-02-16 18:37] Tratcher opened #593 "[In-proc] An absolute path for dotnet.exe is detected as .NET Framework"
`processPath="C:\Program Files\dotnet\dotnet"` works but `processPath="C:\Program Files\dotnet\dotnet.exe"` fails with an event log `Application 'C:\inetpub\wwwroot\' was compiled for .NET Framework. Please compile for .NET core to run the inprocess application or change the process mode to out of process. ErrorCode = '0x8027025b'.`

Justin says the issue is here:
https://github.com/aspnet/IISInte

[2018-02-16 18:54] Tratcher opened #594 "[in-proc] x86 app pools on x64 machines don't work"
Version: dev
OS: 2016 x64

Setting the application pool to 32bit prevents my application from running. The site hangs for a while and I may get a 500.0 error. No event logs are produced.

It works if I revert to the RTM aspnetcore.dll (out-of-proc), or if I remove `hostingModel="inprocess"` and go back to out-of-proc. Running the app from the command line with the x86 dotnet.exe also works.

[2018-02-16 20:33] Tratcher commented on #594
Justing thinks this is related to how the path is search for the right bitness. Workaround: Re-ordering the system path environment so that x86 dotnet is higher than x64 dotnet. However, this prevents x64 form working.

[2018-02-16 21:21] jkotalik commented on #593
This is only an issue on dev.

[2018-02-16 22:55] jkotalik commented on #593
I also should check the bitness of the hostfxr.dll loaded (for dev).

[2018-02-16 23:16] jkotalik commented on #226
We did some internal investigation on this issue. From what I can tell, ANCM does not hold any files/handles in the deployed application. It seems to be an issue with webdeploy itself, and it flakily fails deployment. I never had it consistently fail to deploy the application after retrying a few times once app_offline was dropped.

[2018-02-16 23:17] Tratcher commented on #593
Confirmed, preview1 works fine, my issues were on dev. Preview1 can do either `C:\Program Files\dotnet\dotnet` or `C:\Program Files\dotnet\dotnet.exe`.

[2018-02-16 23:28] guardrex commented on #226
Adding a quick PowerShell side note to that: The lock on the app's assembly is always released ... I've never had a problem (*yet!* lol).

@bpetersen1 ... Your "staging" approach has the sweet side effect of offering a quick rollback option if the new deployment flakes out. That should be easy to script if needed.

[2018-02-17 00:21] Tratcher opened #596 "[in-proc] Standalone doesn't work"
For preview1-28285 standalone published apps are not loading in ANCM/IIS, you get a 500.0 error and the following logs:
- Application '/LM/W3SVC/1/ROOT' with physical root 'C:\inetpub\wwwroot\' failed to load clr and managed application, ErrorCode = '0x8027025b.
- Application '/LM/W3SVC/1/ROOT' with physical root 'C:\inetpub\wwwroot\' hit unexpected managed background thread exit, ErrorCode = '0x0

[2018-02-17 01:32] jkotalik commented on #596
Fixed on dev already. Investigated in preview1 branch and all arguments to hostfxr look correct. Will investigate in the coming days.

[2018-02-19 21:06] Xacron opened #598 "Configure AspNetCoreModule to Only Capture Requests Behind a Specified Relative Url"
I have an ASP.NET Core site (API only, no content) targeting .NET Framework 4.7.1 with IIS Integration enabled in Visual Studio 2017.

I am trying to restrict the AspNetCoreModule handler to only handle requests below a specified path, "api/*". Here is the web.config excerpt:

[code]
Unfortunately, the dotnet.exe process fails to start with a 405 error, which is actually coming from IIS Static Fil

[2018-02-20 06:05] Tornhoof commented on #598
@RickStrahl hast a Blog Post in how to configure it. https://weblog.west-wind.com/posts/2017/Apr/27/IIS-and-ASPNET-Core-Rewrite-Rules-for-AspNetCoreModule

[2018-02-20 14:02] bharathpbk commented on #14
Hi when i deploy asp.net core 2.0 with IIS Windows authentication I am getting Cors Error with angular. Please suggest any example

[2018-02-20 14:53] Xacron commented on #598
@Tornhoof thanks for link, I have actually read Rick's post the key difference is that he is trying to maintain handling all requests by ASP.NET Core and redirecting only specific static files so that IIS serves those. However, I am trying to setup ASP.NET Core to only handle requests directed to api/* paths and for some reason this does not seem to be possible. I do not need ASP.NET Core involved

[2018-02-20 17:46] Tornhoof commented on #598
I honestly don't know. I set my static file handling up like Rick describes it. In another post https://weblog.west-wind.com/posts/2017/Mar/16/More-on-ASPNET-Core-Running-under-IIS he basically says the API/* approach does not work, because the content root is now in wwwroot and not in Root anymore.

[2018-02-20 17:56] Xacron commented on #598
My content is actually not under wwwroot, one more reason why I do not want the ANCM handling all requests. I only need it to handle api/* requests, but the tooling doesn't seem to like changing the path for the ANCM handler to api/*

I can actually change the path to "*." and that works fine except then I'd have to still do a url rewrite to map "/" to "/index.html"

It seems like if I only want t

[2018-02-21 11:31] nxplus commented on #467
I have the same issue when trying to deploy to a windows server 2008 machine, I have another cause of the error:
![dotnet_cmd](https://user-images.githubusercontent.com/17198037/36477503-b0263100-1701-11e8-8e54-f2c06615bceb.jpg)

This will only be apparent when you manually try to run "dotnet" on the server machine.
(and maybe with the hint in the event log: "failed to start process with commandli

[2018-02-21 18:40] jhkimnew opened #599 "ANCM: warning message which happens when failing to create log directory is ambigous"
1.	Enable logging
2.	Create a file named logs on the root directory to make ANCM fails to create logs directory
3.	Send a request and check the message of event warning #1004

EXPECTED:

The warning message include the information that ANCM fails to create the "logs" directory path.

ACTUAL:

The below warning message is shown. The actual reason of the failure is to fail to create log directory bu

[2018-02-21 19:27] TomCJones commented on #467
I never was able to solve it on a move from 2.0.2 to 2.0.5 The only way I got out was to delete the account on azure and reinstall. And that took most of a day for one reason or another

[2018-02-21 21:52] pan-wang commented on #592
pull request #603 https://github.com/aspnet/IISIntegration/pull/603

[2018-02-22 00:42] jhkimnew opened #604 "ANCM: INPROCESS: stack overflow error on Microsoft.AspNetCore.Server.IISIntegration.dll module"
When I tried to download a large htm file (123 MB), I got exception error from Microsoft.AspNetCore.Server.IISIntegration.dll, stackoverflow.
@jkotalik  Please take a look at this issue.

[2018-02-22 00:47] jkotalik commented on #604
https://support.microsoft.com/en-us/help/932909/by-default-the-maximum-stack-size-of-a-thread-that-is-created-in-a-nat
Seems to be pretty small... this also may be an issue with using the send file feature.

[2018-02-22 01:39] jhkimnew opened #605 "ANCM: configuration change is not immediately notified until active requests are completed"
REPRO STEP
1. download a large file, which takes a long time
2. while downloading the file, change configuration

EXPECTED:

The configuration change is notified to ANCM and it should recycle app

ACTUAL:

The configuration change is not notified to ANCM until the file downloading is finished. This is because we use GLOBAL_MODULE::OnGlobalApplicationStop instead of GLOBAL_MODULE::OnGlobalApplicati

[2018-02-22 08:48] HarelM commented on #226
This is still externally annoying... we have decided to look into a docker solution in order to leave IIS behind.

[2018-02-22 17:35] jkotalik commented on #596
@muratg As this only applies to preview 1 and was fixed in dev, can we close?

[2018-02-22 17:57] #536 closed

[2018-02-22 18:57] muratg commented on #596
@jkotalik 👍

[2018-02-22 18:57] #596 closed

[2018-02-22 19:39] jhkimnew opened #606 "ANCM: Setup: The description for ANCM Events cannot be found."
All ANCM events show the description not found error as the following example.

[code]

[2018-02-22 19:46] jkotalik commented on #606
@pan-wang didn't you say this would be fixed by adding version numbers to the file?

@jhkimnew can you check that the latest build of dev has this problem still?

[2018-02-22 19:52] jhkimnew opened #607 "ANCM: Setup: Msi files are not signed"
Files in MSI installer program are signed. But the MSI installer program itself is not signed.

[2018-02-22 20:18] jkotalik commented on #607
@jimmyca15

[2018-02-22 20:31] jhkimnew commented on #606
@jkotalik I checked the latest ancm for iisexpress. The file version is still empty. And the event description issue sill reproducible.

[2018-02-22 20:52] muratg commented on #542
@jhkimnew will verify again, because @pan-wang thinks this is fixed.

[2018-02-22 20:52] #542 closed

[2018-02-22 20:55] muratg commented on #557
@jhkimnew will verify the behavior is as expected.

[2018-02-22 20:59] muratg commented on #594
Fixed in dev.

[2018-02-22 20:59] #594 closed

[2018-02-22 20:59] muratg commented on #592
Just fixed in dev.

[2018-02-22 20:59] #592 closed

[2018-02-22 21:21] jhkimnew commented on #604
@jkotalik Please set Milestone for this issue. I have no permission to set Milestone.

[2018-02-22 22:10] jimmyca15 commented on #607
I'll sync up with @natemcmaster on how we can get this done.

[2018-02-22 22:45] natemcmaster commented on #607
Dup of https://github.com/aspnet/Coherence-Signed/issues/778. @muratg is currently assigned to take a look at this.

[2018-02-22 23:05] muratg commented on #607
Pinging @jimmyca15

[2018-02-22 23:38] #607 closed

[2018-02-23 00:01] jkotalik commented on #607
Closing as dup.

[2018-02-23 01:53] jhkimnew opened #608 "ANCM: The configuration value change of the shutdownTimeLimit is not applied if we don't restart IISExpress"
Repro steps:

1.	Prepare aspnetcore app putting sleep time 10 seconds when it exits.
2.	Configure 1 second for shutdownTimeLimit as the following example:
<aspNetCore processPath="dotnet" shutdownTimeLimit="1" …
3.	Start IISExpress with the app and send a request to the app
4.	Chage the value with 20 second for shutdownTimeLimit as the following example:
<aspNetCore processPath="dotnet" shutdownTi

[2018-02-24 00:18] jkotalik opened #609 "Inproc: Arguments must not include "exec" if exec was already in the launcher arguments"
@BillHiebert and I ran into two issues when we parse arguments from the "arguments" section of web.config.
- Bill was supplying the "exec" parameter in the arguments section, which we added too, and it was causing hostfxr to not start. For now, I think we can just not add "exec" as it isn't necessary.
- There is no guarantee on which arguments is the path to the application dll, which we need to m

[2018-02-24 00:27] muratg commented on #609
👍 but what's the risk?

cc @shirhatti

[2018-02-24 00:32] jkotalik commented on #609
Risk is Bill would need to custom provide arguments for inprocess to not have exec there. Also people who supply their own arguments in web.config could run into issues. I need to talk with the core-setup team about diagnosiblity of this issue because we don't get logs for invalid arguments.

[2018-02-26 14:54] joshmouch opened #611 "Request hangs intermittently for no logged reason"
Several times a day, there are requests in our Azure Web App that hang for 10 minutes before logging an error from AspNetCoreModule to our FREB logs.   This is a "relatively" quick request, and usually takes between 150ms to 1.5s.  So 10 minutes is definitely a problem.

10 minutes is what we have the "requestTimeout" property set to on the AspNetCoreModule, so put another way, the request hangs f

[2018-02-26 22:15] shirhatti commented on #460
@jhkimnew Can you test this? This should be complete right now

[2018-02-26 22:16] #439 closed

[2018-02-26 22:25] shirhatti commented on #605
Dupe of #608

[2018-02-26 22:25] #605 closed

[2018-02-26 22:26] shirhatti commented on #599
I believe this fixed by #602
@jhkimnew Can you confirm and close?

[2018-02-26 22:31] shirhatti commented on #590
Moving to discussion milestone since this is an IIS issue and not an ANCM issue.

[2018-02-26 22:31] shirhatti commented on #590
@bariscaglar Thoughts?

[2018-02-26 22:33] #588 closed

[2018-02-26 22:35] shirhatti commented on #587
@mcy94w Do you think you'll be able to capture packet information?

[2018-02-26 22:38] shirhatti commented on #540
@pan-wang Can you confirm and close?

[2018-02-26 22:42] shirhatti commented on #528
Currently, this works for out-of-proc and has **never** worked for in-proc.
The in-proc work is already tracked by #556

[2018-02-26 22:42] #528 closed

[2018-02-26 22:44] #525 closed

[2018-02-26 22:45] shirhatti opened #614 "Update the global module to listen on the global preload event"
Will be the first step towards #507

[2018-02-26 22:46] shirhatti commented on #506
Done

[2018-02-26 22:46] #506 closed

[2018-02-26 22:50] shirhatti commented on #491
Closing since it looks like @Coruscate5 issue has been resolved. Feel free reopen if the issue persists.

[2018-02-26 22:50] #491 closed

[2018-02-26 22:53] shirhatti commented on #487
We've updated our tests not to publish multiple times.
However, it would be great to find out why this is happening

[2018-02-26 22:55] shirhatti commented on #485
@jkotalik Can you please update this issue tittle?

[2018-02-26 22:55] shirhatti commented on #483
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-26 22:55] #483 closed

[2018-02-26 22:58] shirhatti commented on #481
@Tratcher This sounds like pathBase issue. Does this ring a bell?

[2018-02-26 23:00] shirhatti commented on #479
This was a temporal issue when Azure App Service had not updated to 2.0.3. This should no longer be an issue

[2018-02-26 23:00] #479 closed

[2018-02-26 23:01] shirhatti commented on #474
Hi. We're closing this issue as no response or updates have been provided   in a timely manner and we have been unable to reproduce it. If you have more   details and are encountering this issue please add a new reply and re-open   the issue.

[2018-02-26 23:03] shirhatti commented on #466
This has already been checked into dev

[2018-02-26 23:03] #466 closed

[2018-02-26 23:45] jhkimnew opened #615 "ANCM: Inprocess: When applications starts/stop, we should show events like in outofprocess mode"
When applications starts(1001)/stop(1006)/shutdonwFailure(1005), we should show events like in outofprocess mode.

[2018-02-27 10:18] Smile4ever commented on #368
I fixed it by installing DotNetCore.1.0.5_1.1.2-WindowsHosting:
https://go.microsoft.com/fwlink/?linkid=848766

Source https://stackoverflow.com/questions/47349608/how-to-fix-microsoft-netcore-app-version-1-1-2-was-not-found

[2018-02-27 15:13] Jamie-Vangeysel opened #616 "failed to start process with commandline ErrorCode = '0x80070002 IIS"
failed to start process with commandline 'dotnet v2.dll', ErrorCode = '0x80070002 : 0.

Running the command in cmd gives no error
C:\Websites\Deploy\api.groupclaes.be\secure>dotnet .\v2.dll
Hosting environment: Production
Content root path: C:\Websites\Deploy\api.groupclaes.be\secure
Now listening on: http://localhost:5000
Application started. Press Ctrl+C to shut down.

In order to have a better

[2018-02-27 20:40] Tratcher commented on #598
Are you starting it under the debugger (F5) or not (CTL+F5)? The debug tooling sends a DEBUG requests to warm up the application.

[2018-02-27 22:32] jkotalik commented on #616
Do you have any logs in your windows event viewer? The error you are getting is a FILE_NOT_FOUND from ANCM. Confirm your web.config has the correct paths to dotnet.exe?

[2018-02-27 23:14] pakrym opened #617 "Reenable ApiCheck when fixed"
https://github.com/aspnet/BuildTools/issues/592

[2018-02-28 06:36] Jamie-Vangeysel commented on #616
Yes, The first line is from The event viewer,
This is my web.config:
`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\v2.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
  </

[2018-02-28 06:47] Jamie-Vangeysel commented on #616
@jkotalik `processPath="C:\Program Files\dotnet\dotnet.exe"` seems to do the trick, thanks ;)

[2018-02-28 06:47] #616 closed

[2018-02-28 15:22] Xacron commented on #598
I'm starting it under debugger (F5) and this is exactly what I'm running into, some initial request that isn't correctly handled when ANCM is restricted to handling only api/* requests.

Does this mean I cannot use F5 debugging unless the ANCM handles all requests?

[2018-02-28 17:00] Tratcher commented on #598
No, it means you need to configure one of your handlers to accept the DEBUG verb. This worked for me:
[code]

[2018-02-28 17:16] Tratcher commented on #481
I expect it would work if you left off the leading slash. E.g. if `/dist/f4...` was `dist/f4...`. The leading slash tells the browser it's an absolute path, not relative to the current path.

[2018-02-28 18:50] Xacron commented on #598
Awesome, this works great! My resulting web.config is below.

Can you explain what's happening with the DEBUG verb request, is it being ignored now or is it actually being handled by the same instance of the ANCM?

[code]

[2018-02-28 18:53] Tratcher commented on #598
It's being handled here:
https://github.com/aspnet/IISIntegration/blob/71b90a31a9dc72054d3ab1ba5123945e629fb74d/src/Microsoft.AspNetCore.Server.IISIntegration/IISMiddleware.cs#L88-L93

[2018-02-28 19:01] Xacron commented on #598
With this web.config definition is there still just a single instance of ANCM or does multiple handler entries create multiple ANCM instances to handle requests?

I expect of course that this should be cleaned up when publishing for production.

[2018-02-28 19:05] Tratcher commented on #598
@pan-wang would this get you a single instance or multiple?

[2018-02-28 22:18] pan-wang commented on #598
The module will be singleton. IIS jus put the module reference into the pipeline. IIS should chose the right handler based on the configuration and only one handler should be picked up at MapHandler. FREB log should be able to confirm it. If it is not the case, please let me know. It would be a bug in IIS.

[2018-02-28 23:45] bariscaglar commented on #590
Is this the line that adds the header? Is the claim then IIS somehow removes this header? I don't see any reason why. Are we certain this is an IIS issue?

[2018-03-01 01:19] jhkimnew opened #621 "ANCM: Doc: IISExpress should restart after switching hostingModel from inprocess to outofprocess"
We need to update DOC to inform this limiation regarding IISExpress.

Unlike full IIS, IISExpress should restart after switching hostingModel from inprocess to outofprocess because it does not use WAS service.

[2018-03-01 04:33] haifengwang commented on #238
This issue has been closed and there seems to be no solution. 😭

[2018-03-01 16:08] Xacron commented on #598
Thanks for resolution and the extra info.

[2018-03-01 16:08] #598 closed

[2018-03-01 23:49] Tarhesabz opened #623 "failed to start process with commandline 'dotnet .\CVC.dll', ErrorCode = '0x80070002 : 0."
This is my first attempt at deploying ASP.NET Core on our server that's running a ASP.NET Web App on .NET Frameword 4.6.1. I created a new project in Visual Studio 2017 and published it using webdeploy. After browsing to the page I get the following error:

**HTTP Error 502.5 - Process Failure**

Common causes of this issue:
The application process failed to start
The application process started b

[2018-03-02 00:14] rezord commented on #623
Try to install on your local IIS computer and your local servers to test what is wrong with that server!

[2018-03-02 02:15] Tarhesabz commented on #623
I did and it works fine on our local server. I have this problem on a VPS server. Win Server 2012 R2 with IIS 8.5

[2018-03-02 02:57] Tarhesabz commented on #623
In my case, it was the permission issue. I went to application pools, advanced settings and changed the identity to LocalStstem, and that fixed the problem.

[2018-03-02 02:57] #623 closed

[2018-03-02 18:08] jkotalik commented on #623
@Tarhesabz we are actively working on improving diagnostics for why your application didn't start. We know it is frustrating to run into 502.5 errors like this. Did you look at the Windows Event Log on your computer? Did you see any messages from the IIS AspNetCore Module?

[2018-03-02 19:06] Tratcher commented on #460
@jkotalik why wouldn't it work? You only need to ensure the env var is added like out-of-proc does.

[2018-03-02 19:07] jkotalik commented on #460
You are correct. I am not sure why I thought this originally. We just need to verify it.

[2018-03-03 23:29] Tarhesabz commented on #623
Yes, I did. I pasted the results in my original post. basically saying "failed to start process with commandline 'dotnet .\CVC.dll', ErrorCode = '0x80070002 : 0"
and my app would run if I went to command prompt and entered "dotnet .\CVC.dll", it's just IIS didn't have the right permissions to do it itself. and I wasn't getting proper error message to be aware of that issue.
But since I used Plesk

[2018-03-04 01:06] jhkimnew opened #625 "404 error for static files in inprocess mode."
UseResponseCaching() does not work with inprocess mode. 404 error happens with static files on wwwroot directory.

Here is the example code of UseResponseCompression() and I attached the error message in log file when it fails.

<><><>
public void Configure(IApplicationBuilder app, ILoggerFactory loggerFactory)
{
            app.UseResponseCompression();
            app.UseResponseCaching();

[2018-03-04 01:42] jhkimnew opened #626 "ANCM: Inprocess: a websocket connection is closed without waiting for the backend app's graceful shutdown when app_offline.htm is put"
Under inprocess mode, a websocket connection is closed without waiting for the backend app's graceful shutdown when app_offline.htm is put.

[2018-03-04 02:17] jhkimnew opened #627 "ANCM: Inprocess: 502.5 error is not shown when app fails to start because of wrong process/argument path"
Under inprocess mode, 502.5 is not shown when app fails to start because of wrong process/argument path.

[2018-03-04 02:48] Tratcher commented on #625
It says the response finished with a 404, it couldn't find the default file. This does not look like an issue with response compression.

[2018-03-04 23:47] jhkimnew commented on #625
The reason of the problem seems to be on others.
Even without using the UseResponseCaching(), I got 404 error.
The 404 error happens only with inprocess mode.
The static file is placed on wwwroot folder. There is no problem if I use outofprocess mode.

[2018-03-05 00:04] Tratcher commented on #625
I wonder if the content root / current directory is wrong.

[2018-03-05 00:19] jhkimnew commented on #625
Ah, probably that is the reason of the problem. I put test app binary files on a different directory path. I will  check that part again and make the repro step more clear.

[2018-03-05 00:51] jhkimnew commented on #625
With testing again in inprocess mode, I confirmed this issue only happens with UseResponseCaching() and app.UseResponseCompression().

FYI,
I tested this again after putting the test app binary files on the same path of the IIS root path and the issue still happens. I also tested after copying the static files of wwwroot on the test app binary directory but the problem still happens.

[2018-03-05 06:29] jkotalik commented on #625
@jhkimnew we can investigate if the site root path is being set correctly in managed. I currently set it to be the physical path to the application.

[2018-03-05 07:16] phxvyper opened #628 "ANCM Isnt producing any logs for IIS Site serving 503 Error"
my ANCM-enabled site is serving a 503 Error and isn't producing any logs, at all.

**I have:**

- an EC2 instance running Windows Server 2016,
- the .NET Web Host Bundle installed (including the .NET Core 2 SDK),
- the AspNetCoreModule installed,
- a site in IIS10 and an app pool with no managed code,
- the following `BuildWebHost`:

[code]
- this web.config for ASP.NET Core 2 MVC in the sites roo

[2018-03-05 15:49] Tratcher commented on #628
Anything in the event viewer?

This is a new machine setup, correct? Was the hosting bundle installed before or after IIS? If the bundle was installed first then you need to repair it after installing IIS.

[2018-03-05 16:30] phxvyper commented on #628
Hey!

No errors in the event viewer, some warnings about not being able to delete a CFG file.

The bundle was installed post-IIS setup, yes. I've reinstalled the bundled multiple times just to make sure, no luck :/

I've followed microsoft's documentation on setting up this server pretty much to the tee, but I feel like I'm probably missing something ridiculously simple lol.

[2018-03-05 16:32] phxvyper commented on #628
Heads-up, this error was a 500 Error because I had a malformed web.config.

Its actually a 503 Service Unavailable error now. The response from the server has minimal headers and no body - no information about the error and no logs other than a W3SVC log that the 503 occurred.

[2018-03-05 17:54] AdrianPT commented on #406
I my case was a .Net framework that was not installed in the IIS server.

My project have the .Net Framework 4.6.1 as target... so I install the .Net Framework 4.6.1 in the server and the problem is solved.

[2018-03-05 18:33] jhkimnew commented on #626
@jkotalik  I tested again with the latest commit of panwang/configchange. I got below CLR exception.

[code]

[2018-03-05 19:10] jkotalik commented on #627
Are you suggesting this should be a 500?

[2018-03-05 19:11] jhkimnew commented on #625
@jkotalik He was able to reproduce this issue. This issue happens because we use ".UseContentRoot(Directory.GetCurrentDirectory())" as the following.
For some reasons, it works with outofprocess mode but it does not work with inprocess mode.

                    host = WebHost.CreateDefaultBuilder(args)
                        .UseConfiguration(config)
                        .UseContentRoot(Direc

[2018-03-05 19:14] jhkimnew commented on #627
I am suggesting the same behavior when we use outofprocess.

[2018-03-05 19:53] jkotalik commented on #625
The issue is UseContentRoot(Directory.GetCurrentDirectory()) will point to the w3wp folder. We would need to set the current directory to be the application path before starting dotnet. We may be able to set the current working directory before calling hostfxr_main, however who knows what that could mess with with IIS.

[2018-03-05 19:53] jkotalik commented on #625
The issue is UseContentRoot(Directory.GetCurrentDirectory()) will point to the w3wp folder. We would need to set the current directory to be the application path before starting dotnet. We may be able to set the current working directory before calling hostfxr_main, however who knows what that could mess with with IIS.

[2018-03-05 20:27] Tratcher commented on #625
The good news is that you don't need to call UseContentRoot. CreateDefaultBuilder and UseIISIntegration both set it for you.

[2018-03-05 23:11] shirhatti commented on #547
Closing as dupe

[2018-03-05 23:11] #547 closed

[2018-03-05 23:18] shirhatti commented on #460
I'll help @jhkimnew verify this

[2018-03-05 23:23] shirhatti commented on #627
Can you share repro `web.config` and what you observed in the event log?

[2018-03-05 23:30] shirhatti commented on #625
I'll create a doc bug to track this. Looks like there's no product change

[2018-03-05 23:32] shirhatti commented on #621
This issue was moved to aspnet/Docs#5599

[2018-03-05 23:32] #621 closed

[2018-03-05 23:33] shirhatti commented on #615
Sounds good. Will track as part of https://github.com/aspnet/IISIntegration/issues/581

[2018-03-05 23:34] Tratcher commented on #625
Unless @jkotalik can change the way coreclr is launched to make GetCurrentDirectory point to the application directory.

[2018-03-05 23:39] shirhatti commented on #611
@joshmouch From the information you've provided there's nothing to indicate erroneous behavior. It sounds like a request is actually taking 10 minutes and hitting the request time out.

Can you provide some more information? Could you perhaps capture a dump of dotnet.exe process during this "hung" request.

[2018-03-05 23:39] #599 closed

[2018-03-05 23:42] shirhatti commented on #481
@neojg Did this fix the problem for you?

[2018-03-05 23:42] #474 closed

[2018-03-06 01:35] jhkimnew commented on #626
This issue is solved with the last commit from Justin.

[2018-03-06 01:35] #626 closed

[2018-03-06 01:36] jhkimnew commented on #627
This issue turns out to be a known issue. Closing this issue as duplicated issue.

[2018-03-06 01:36] #627 closed

[2018-03-06 20:30] jkotalik opened #629 "Flaky test: SynchronousReadAndWriteTests"
Seeing this failing sporadically local and on our CI. Disabling for now as I debug.

[code]

[2018-03-06 22:11] jhkimnew commented on #540
This issue is already fixed. I don't see any AV with the repro scenario.

[2018-03-06 22:11] #540 closed

[2018-03-06 22:12] jhkimnew commented on #557
The repro scenario of this issue is not valid anymore. I did that temporary to find any leak issue. We have better test coverage. So, closing this issue.

[2018-03-06 22:12] #557 closed

[2018-03-06 22:14] phxvyper commented on #628
I moved over to an apache proxy instead of using IIS, but I still want to know what the solution to this problem is for future reference. Any ideas so far?

[2018-03-06 23:16] pan-wang commented on #234
ANCM does not add X-Original-Forwarded-For. there must be a proxy between client and IIS

[2018-03-06 23:17] jhkimnew opened #631 "ANCM: Inprocess: aspnetcore app fails to start in inprocess mode because of backward compatibility issue of resolving directory path"
aspnetcore app fails to start in inprocess mode because of backward compatibility issue.

[2018-03-07 01:07] jhkimnew opened #632 "ANCM: Inprocess: Application recycling under IISExpress does not happen when there is configuration change or app_offline is put"
Application recycling under IISExpress does not happen when there is configuration change or app_offline is put.

@pan-wang or @jkotalik Please take a look at this issue.

Repro:

1. Start aspnetcore app in inprocess mode with IISExpress
2. Start a websocket connection and keep the connection active
3. Put app_offline.htm on the root path of the app

EXPECTED:

The websocket connection is graceful

[2018-03-07 18:15] jkotalik opened #636 "OutOfProcess application should not create a log file ever if logging is disabled."
Currently we create a log file when logging is disabled to capture stdErr. If we want to capture startup errors, we need to use a pipe like we did with Inprocess.

cc/ @pan-wang @BillHiebert

[2018-03-07 19:07] muratg commented on #436
This is done.

[2018-03-07 19:07] #436 closed

[2018-03-07 19:07] muratg commented on #580
This is done.

[2018-03-07 19:07] #580 closed

[2018-03-07 19:55] natemcmaster opened #638 "Address build warnings and enable warnings as errors for the C++ projects"
The compiler currently emits the following warnings for a release build.
[code]

We should (1) address these and (2) make warnings errors.
cc @jkotalik

cref https://github.com/aspnet/Coherence-Signed/issues/601

[2018-03-07 19:59] jkotalik commented on #638
The warnings are from the IISLib that was originally ported from IIS. We currently treat warning as error for the other projects, like AspNetCore and RequestHandler. I am fine with updating the IISLib code to remove the warning, even though it is legacy code. @pan-wang thoughts?

[2018-03-08 00:16] #636 closed

[2018-03-08 19:01] #609 closed

[2018-03-08 19:03] #638 closed

[2018-03-08 19:04] jkotalik commented on #632
Fixed by #637

[2018-03-08 19:43] muratg commented on #609
🎉

[2018-03-08 20:19] shirhatti opened #643 "Port collision issue"
This is an uber issue to track multiple port collisions issue that we've been seeing with ANCM out-of-process.
Often times, Kestrel is unable to bind to the port specified by ANCM as LibUV throws a `Error -4091 EADDRINUSE address already in use` error.

For e.g., see aspnet/KestrelHttpServer#2125

[2018-03-08 20:21] shirhatti commented on #643
As **NOT** recommended workaround is to force a static port assignment by setting the ASPNETCORE_PORT environment variable. Feel free to use this if you're can guarantee that the ephemeral port you chose will always be available.

[2018-03-08 20:21] jkotalik commented on #632
Can you verify?

[2018-03-08 20:21] halter73 commented on #643
More context:

https://github.com/aspnet/AspNetCoreModule/issues/64
https://github.com/aspnet/AspNetCoreModule/issues/226
https://github.com/aspnet/AspNetCoreModule/issues/260

[2018-03-08 20:45] jhkimnew commented on #632
Yes, this is fixed. Verified with test automation.

[2018-03-08 20:45] #632 closed

[2018-03-08 20:50] jkotalik opened #644 "Enable test automation for native tests on the commandline"
The SignalR cpp client enabled tests like this: https://github.com/SignalR/SignalR-Client-Cpp/blob/dev/Build/build.msbuild#L71-L78 with gtest. I need to see if there is an equivalent for the microsoft cpp test framework. If we need to switch over to gtest, I would need to update all of our agents to have gtest, so I would prefer to use the built in testing framework.

[2018-03-08 22:58] jhkimnew opened #645 "Under stress, calling into hostfxr_get_native_search_directories can AV."
For stress testing purpose, I did connect/close websocket repeatedly and noticed connecting websocket fails. After the problem happens, if we recycle IIS worker process, I got CLR exception error.

@jkotalik Please take a look at this issue.

[2018-03-09 17:57] #584 closed

[2018-03-09 18:40] jkotalik opened #648 "Skip websocket tests on Win7 and Win Server 2008."
There is no websocket feature on win7, so we should expect the tests to fail on there.

[2018-03-09 20:33] #648 closed

[2018-03-09 22:08] jkotalik commented on #645
I did the same repo scenario on my machine and I didn't see any issues. Can you try and debug attach and get a dump of why the connection is not being processed? I would set a break point in the OnExecuteReqeustHandler in proxymodule.cxx and see if once the server is in an invalid state (requests are rejected), if we enter the OnExecuteRequestHandler at all.

[2018-03-12 19:35] SteveFarnaby opened #653 "Installing DotNetCore.2.0.5-WindowsHosting.exe fails with error Error 0x80070643: Failed to install MSI package."
I am installing DotNetCore.2.0.5-WindowsHosting.exe on Windows 10 but the install keeps failing with:

Error 0x80070643: Failed to install MSI package.

The relevant exert from the log file is below:

`[0F9C:7164][2018-03-12T21:09:11]i370: Session begin, registration key: SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{f32a4623-b701-4982-87a1-508db47d1133}, options: 0x7, disable resume: No
[0

[2018-03-12 19:43] Tratcher commented on #653
@joeloff

[2018-03-12 20:05] joeloff commented on #653
@SteveFarnaby there should be a log for ANCM itself in your %temp% folder. Could you perhaps share that as well?

[2018-03-12 20:09] SteveFarnaby commented on #653
@joeloff, the requested log file is attached
[dd_DotNetCoreWinSvrHosting__20180312210906_000_AspNetCoreModule_x64.log](https://github.com/aspnet/IISIntegration/files/1804378/dd_DotNetCoreWinSvrHosting__20180312210906_000_AspNetCoreModule_x64.log)

Regards

Steve

[2018-03-12 20:16] joeloff commented on #653
That's a very short log that just shows there was an error. I've seen this before in other products where things like security software or AV kicks in and shut down the install immediately.

Couple of questions...

- Did the installer prompt for elevation when you ran it?
- When you lunch the EXE, before clicking install, can you see whether this file exists?

_C:\ProgramData\Package Cache\{49FDA0

[2018-03-12 20:27] SteveFarnaby commented on #653
Hi

The installer did prompt for elevation.

The file you mentioned does not exist: below is a list of the mentioned directory with the files (folders) for today highlighted - none contain the msi file you mentioned:
![image](https://user-images.githubusercontent.com/37309543/37307703-75410cca-2644-11e8-8fc1-74a65bdf2d01.png)

Regards

Steve

[2018-03-12 21:10] joeloff commented on #653
Looks like the path I pasted had a missing \, but I see you sorted by date. The folder should have been created when you tried to install the first time. Could you try running the install through until the error shows up and see if it shows in the cache? According to the log that's where the MSI is executed. I just installed on a clean Win10 VM and the file was extracted to

`C:\ProgramData\Packag

[2018-03-12 21:18] SteveFarnaby commented on #653
I ran the install again and nothing new created in c:\ProgramData\Package Cache\ - it is exactly as before

[2018-03-12 21:24] shirhatti commented on #604
@jkotalik will verify and close. Also, permalinks :trollface:

[2018-03-12 21:28] shirhatti opened #654 "Indicate to IIS that a response can be kernel cached"

[2018-03-12 21:32] Tratcher commented on #654
You can copy the logic from HttpSys for this.

[2018-03-12 21:32] shirhatti commented on #481
Hi. We're closing this issue as no response or updates have been provided   in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-12 21:32] #481 closed

[2018-03-12 21:49] #606 closed

[2018-03-12 21:52] shirhatti commented on #643
@pan-wang Can you verify that we log the port when we fail to bind?

[2018-03-13 02:44] jhkimnew commented on #631
@jkotalik
After narrowing down the issue, this issue seems to be caused by throw exception by the application. See the attached problematic code. It throws exception if file not found.
BTW, if there is a throw error, I think we should pass the thrown error but I was not able to see any error. Would you check if this is a known issue or not?
If this is not a known issue, please create a new issue a

[2018-03-13 03:05] jhkimnew opened #657 "ANCM: Inprocess: Usability: Need to write an event error about that standard log file can't be generated if IISExpress is started with console window"
According to the below code, we don't support the standard log feature when IISExpress is started with console window. I think we should add an warning event when this happen so that users can figure out why the standard log file is not generated.

[code]

[2018-03-13 05:06] SteveFarnaby commented on #653
Not sure what the issue was, but I rebooted my machine and it now installs fine.  Thanks for the help.

Regards

Steve

[2018-03-13 09:16] pan-wang commented on #643
In some cases,  we did not.  Will update the logging code.

[2018-03-13 16:44] jkotalik commented on #629
There is an underlying IIS issue here that may make it difficult to fix this issue.

[2018-03-13 17:04] blowdart opened #658 "Microsoft Security Advisory CVE-2018-0808: ASP.NET Core Denial Of Service Vulnerability"
# Microsoft Security Advisory CVE-2018-0808: ASP.NET Core Denial Of Service Vulnerability

## Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in public ASP.NET Core 1.0, 1.1 and 2.0. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of a security vulnerability in a

[2018-03-13 17:32] janpieterz commented on #658
Running 2.0.6 installer on Server 2016 with only 2.0.5 installed results in:
`0x80070001 - Incorrect function.`
Bundle looks suspiciously small too compared to previous ones (500KB, usually 93MB).
Does register in Apps & Features as installed, but ProductVersion stays at `7.1.1989`
[code]

[2018-03-13 17:34] Tratcher commented on #658
@joeloff

[2018-03-13 17:34] jhkimnew opened #659 "ANCM: Inprocess: throwing an exception error from application causes AV to IISexpress mode"
When application starts from IISExpress with inprocess mode and it throws exception, IISExpress process crashes with AV. The exception error should be handled by ANCM and that shouldn't crash the IISExpress.

Attached the stack of AV.

[code]

[2018-03-13 17:40] Tratcher commented on #659
Where was the exception thrown from? Program.Main?

[2018-03-13 17:40] jhkimnew commented on #659
Yes

[2018-03-13 17:46] pan-wang commented on #657
does the ANCM log the error if IISExpres was started as background process?

[2018-03-13 18:05] jkotalik commented on #657
I think this is expected behavior. If you are running IIS Express in the foreground (in a terminal), then std logs should be printer there.

[2018-03-13 18:11] joeloff commented on #658
Yup. On it. The bundle engine was uploaded, not the full bundle

[2018-03-13 19:19] jhkimnew opened #662 "ANCM: Inprocess: AV when recycling IIS apppool after sending websocket connection without installing IIS websocket module"
@jkotalik Would you take a look at this issue?

1. Uninstall IIS WebSocket module or remove WebSocketModule from applicationhost.config
2. Send a websockect connection to an websocket aspnetcore app which is running in inprocess mode, which is supposed to fail because there is IIS Websocket module
3. Recycle IIS worker process

EXPECTED:

No AV

ACTUAL:

Below AV happens to w3wp.exe process.

0:05

[2018-03-14 00:52] jhkimnew opened #664 "ANCM: Inprocess: ANCM does not use shutdownTimeLimit for inprocess mode"
@jkotalik Please take a look at this issue.

We forced to shutdown the app with killing dotnet.exe if it does not shutdown by the time of shutdownTimeLimit  for the out-of-process mode.
However, in the inprocess mode, shutdownTimeLimit is not used.

1. Deploy app to IIS server
2. Set shutdownTimeLimit with 5 seconds and enable inprocess mode
3. Update the app with putting 20 seconds sleep time bef

[2018-03-14 10:04] davidfowl commented on #604
@jkotalik  @davidfowl do you still think we need to chunk writes when directly writing to IIS? yes. We can look at changing how we flush as an alternative as well. Talk to me about this tomorrow.

[2018-03-14 10:20] davidfowl commented on #226
I'm going to experiment with a solution. Stay tuned.

[2018-03-14 18:01] yosbeleg89 commented on #252
I have the same issue after upgrading to AspNetCore 2.0.6, I removed the wwwroot folder, excluded the web.config and still the same in Azure.

[2018-03-14 18:05] guardrex commented on #252
@yosbeleg89 Did you run down the steps in the troubleshooting topic? https://docs.microsoft.com/aspnet/core/host-and-deploy/azure-apps/troubleshoot

That's a fairly new topic, and I'd be happy to hear your feedback on if the steps outlined in the topic lead to uncovering the problem with your deployment.

[2018-03-14 18:14] Tratcher commented on #252
The 2.0.6 deployment to Azure hasn't finished yet. See https://github.com/Azure/app-service-announcements/issues/92

[2018-03-14 18:18] guardrex commented on #252
I wonder if it makes sense to deploy a new release to Azure first, then announce that the new release is available.

[2018-03-14 18:22] jhkimnew commented on #608
This issue is fixed.

[2018-03-14 18:22] #608 closed

[2018-03-14 18:31] davidebbo commented on #252
@guardrex unfortunately that's not really feasible. There is a bit of a chicken and egg problem, with things not fully working in Azure until the symbols are published by the Core team, and that doesn't happen until it's announced.

Deployment to App Service should normally be complete in a couple of days. You can test it now in West US 2 if you'd like.

That being said, I'm not sure that relates

[2018-03-14 18:34] jhkimnew opened #666 "ANCM: Inprocess: ANCM does not use disableStartUpErrorPage for inprocess mode"
In outofprocess mode, disableStartUpErrorPage is used to determine whether built-in error page or IIS error page. In outofprocess, the built-in error page is not used and so disableStartUpErrorPage is of no use.

[2018-03-14 18:56] ilmax opened #667 "Question: how can I ensure the app is running in process?"
Hi, I've read the blog post about [preview1](https://blogs.msdn.microsoft.com/webdev/2018/02/28/asp-net-core-2-1-0-preview1-improvements-to-iis-hosting/) and I decided to give it a try, so I installed everything and created a web api project, configured in IIS and fired up `wrk` (installed in the same machine via WSL) to have a look at the perf.
The blog post says your findings are that in process

[2018-03-14 18:58] Tratcher commented on #667
You can check for server variables, those are only supported in-proc.
https://github.com/aspnet/IISIntegration/blob/810c4bcb0a29fb5f273a0c2b26b37e4ee431d05c/samples/NativeIISSample/Startup.cs#L67-L72

[2018-03-14 19:14] jkotalik commented on #667
From those perf numbers and the fact that dotnet.exe is starting, my guess is you are still running of of process. Can you confirm inside of your published application that the hostingModel="inprocess" is set?

[2018-03-14 19:23] ilmax commented on #667
What's in the gist under "IIS ANCM 2.1 preview1 hosting in process" have **hostingModel="inprocess"** and "IIS ANCM 2.1 preview1 hosting out of process" doesn't have the hostingModel attribute at all

[2018-03-14 19:39] jkotalik commented on #667
You can also specify the hostingModel="outofprocess" to work with out of process. If no hostingModel is specified, we default to outofprocess. This is for backwards compatibility with older web.config files.

@BillHiebert I think we should default to having the hostingModel="outofprocess" for generated web.config files rather than it being empty. Thoughts?

[2018-03-14 19:40] Tratcher commented on #667
That would fail on hosts with outdated schemas.

[2018-03-14 19:45] ilmax commented on #667
I will look into this tomorrow morning.
Do you think it's reasonable to expect a noticeable improvements when running in-process?

[2018-03-14 19:46] jkotalik commented on #667
Yes. If you don't see noticeable gains, we need to investigate why.

[2018-03-14 19:52] ilmax commented on #667
Great, because I'm experimenting perf to replace an old WCF service with a brand new shiny asp.net core web api :)
So I started measuring perf of the old WCF vs the new asp.net core web api and turned out that asp.net core hosted in Kestrel outperforms WCF hosted in IIS Express (+1139%) but when hosted in IIS, asp.net core is actually slower (don't remember now how much slower, but if you are inte

[2018-03-14 20:57] Tratcher commented on #667
That's odd, you shouldn't get that much variation between IIS and IIS Express.

[2018-03-14 21:05] ilmax commented on #667
I'll get back with more numbers tomorrow, btw @Tratcher what do you think about a ~5 times drop from Kestrel to IIS out of process?

[2018-03-14 22:34] tmakin commented on #476
I think I have just run into this with the release of the 2.0.6 runtime. For anyone else struggling to work out exactly what packages are installed on App Service you can inspect the contents of the package store via kudu `D:\Program Files (x86)\dotnet\store\x86\netcoreapp2.0`

For example:
[code]

So I can clearly see that my host VM is not up to date yet, as my project references 2.0.2.

[2018-03-14 23:53] jhkimnew opened #670 "ANCM: Inprocess: Unexpected exception issue caused by in-complete cleanup on IN_PROCESS_APPLICATION::ShutDown()"
1.	Set inprocess mode
2.	Set argument value with an invalid such as bogus
3.	Send requests a lot
4.	Set argument value with the correct value

EXPECTE:

No error

ACTUAL:

Below error happens

[code]

[2018-03-15 04:21] pakrym commented on #662
@jhkimnew  Are there any managed stacks?

[2018-03-15 05:12] tim-elvidge commented on #476
Well I updated two local IIS installations with DotNetCore.2.0.6-WindowsHosting.exe and encountered the same issue. Even after repairing and reinstalling the 2.0.2 directories in the store at C:\Program Files\dotnet\store\x64\netcoreapp2.0 were missing - luckily was able to merge them from my development machine and everything started working again.

Did not enjoy the lost hour and the WTF experie

[2018-03-15 15:19] ilmax commented on #667
Looks like `context.GetIISServerVariable` is not available in my version of `Microsoft.AspNetCore.Server.IISIntegration`. it's a bit strange because I can see the extension method on the repo but definitely not in my dll (checked with ILSpy).

The project file looks like this:

[code]

Any idea of what am I missing?

[2018-03-15 17:27] muratg commented on #476
@tmakin I think the patch release is still being rolled out on Azure. What datacenter are you deployed to?

@tim-elvidge I'm sorry for the experience. There was an issue with DotNetCore.2.0.6-WindowsHosting.exe  that was fixed just this morning. It should be fixed now.

[2018-03-15 17:42] pan-wang commented on #667
@ilmax Do you test with IIS or IISExpress/VS? For IIS, could you please check whether aspnetcorerh.dll exists under %windir%/system32/inetsrv folder?

[2018-03-15 17:47] jhkimnew commented on #662
@pakrym  Sorry but I don't know about how to get the managed stack. I can show you the issue you in person and you can get what you want. Or, please explain how to get the managed stack.

[2018-03-15 17:49] ilmax commented on #667
@pan-wang I'm not able to make the code compile because the method `context.GetIISServerVariable` is not available

[2018-03-15 17:54] Tratcher commented on #667
@ilmax sorry, I just realized GetIISServerVariable wasn't added until preview2 https://github.com/aspnet/IISIntegration/pull/562

[2018-03-15 17:58] jkotalik commented on #667
Try checking the current name of the running process: https://stackoverflow.com/questions/616584/how-do-i-get-the-name-of-the-current-executable-in-c
If it is w3wp or iisexpress, you are running inprocess.

[2018-03-15 17:58] ilmax commented on #667
ok, will re-try to run the benchmark tomorrow. One last question: do the dotnet.exe process should be up & running when hostingModel is in-process?

[2018-03-15 17:59] jkotalik commented on #667
No, it shouldn't be present.

[2018-03-15 18:02] jkotalik opened #671 "Investigate app_offline AV when shutting down application."
I remember running into an AV when we set the m_pApplication to null in the ApplicationInfo. I'm going to do a quick investigation to verify that either the AV is gone or there is still an issue.

[2018-03-15 18:03] ilmax commented on #667
Thanks, so the numbers make sense because when I was measuring perf with hostingmodel in-process, dotnet.exe was running, this means it wasn't running in-process and explains why I got almost same results.

[2018-03-15 18:50] tmakin commented on #476
@muratg I'm in uk south. The update has not made it there yet.

[2018-03-15 19:02] pakrym opened #672 "Restart server for every request but cache publish output"
It would allow us to observe shutdown failures in tests.

[2018-03-15 19:04] Tratcher commented on #672
Or write some shutdown specific tests.

[2018-03-15 19:05] pakrym commented on #672
The more coverage we get the better, restarting IIS Express is fast enough.

[2018-03-15 19:07] pakrym commented on #662
In windbg:

[code]

[2018-03-15 19:08] Tratcher commented on #672
The tests used to take 10-20s each. Is it publishing that was slow?

[2018-03-15 19:10] pakrym commented on #672
Yes, most of the time is taken by publish.

[2018-03-15 19:15] jkotalik opened #674 "Make it easier to detect if the application deployed is running inprocess."
There have been some issues (#667) regarding detection of running inprocess or out of process. Current means are fairly arbitrary (detecting the IServerVariableFeature, checking current process name). I would like there to be a clear way of discovering which mode you are running as in managed code.

[2018-03-15 19:24] jkotalik commented on #671
@pan-wang @jhkimnew I couldn't reproduce any issues with app_offline. Do you two remember what situation caused app_offline to AV?

[2018-03-15 19:36] #629 closed

[2018-03-15 20:02] pan-wang commented on #671
Jeong hit this issue with your private repro which had old code. I don't think it repro with the new code. Jeong can confirm it

[2018-03-15 20:23] jkotalik opened #675 "Managed tests don't run when calling build.cmd on command line."
174a52e5cdc40da7a24afa9a3c30a38943831344 seemed to make it so build.cmd only runs native tests rather than both native and managed tests on the command line.
cc @pakrym

[2018-03-15 20:23] Eilon commented on #476
From @preetikr in https://github.com/dotnet/core/issues/1341#issuecomment-373508095:

[2018-03-15 20:53] jhkimnew commented on #662
@pakrym Here is the copy of the screenshot after executing the  commands you told.

[code]

[2018-03-15 21:19] jkotalik commented on #498
Going to reenable Out of proc tests now.

[2018-03-15 21:52] jhkimnew commented on #671
This issue is already fixed.

[2018-03-15 21:52] #671 closed

[2018-03-15 23:17] Tratcher commented on #674
Careful, we don't want to add something like a IFeature that specifically says InProc. What's the simplest, most definitive way to detect in proc? The process name approach sounds reliable.

[2018-03-15 23:53] jkotalik commented on #498
Done pending the web.config generation issue.

[2018-03-16 04:34] haydenhancock commented on #406
Does Azure support Microsoft.AspNetCore.All (2.0.6) yet? I am having the same issue when deploying a newly created project from Visual Studio 2017 15.6.2. Microsoft.AspNetCore.All (2.0.6) is what ships with this version of Visual Studio 2017. The issue can easily be reproduce by following these steps:

1. Open **Visual Studio**.
2. Click **File** > **New** > **Project**.
3. Select **.NET Core** an

[2018-03-16 05:36] Tratcher commented on #406
The deployment is not complete, see https://github.com/Azure/app-service-announcements/issues/92

[2018-03-16 05:41] #670 closed

[2018-03-16 07:25] NGancevich opened #680 "ru-by is an invalid culture identifier exceptions on iis"
It's working on my local machine but doesn't on IIS server 2012 r2. I have asp.net core 2.0.6 . It's also valid culture according to microsoft https://msdn.microsoft.com/en-us/library/cc233982.aspx

[2018-03-16 07:56] tmakin commented on #476
@muratg Still no sign of the update on my uk south instance. Is there are recommended procedure for manual update via kudu? or do I just need to sit tight and wait?

[2018-03-16 10:10] kieronlanning commented on #476
Getting a little fed up of this.

Same problem this-morning.

Complaining about .NET Core 2.1-preview something or other having missing dependencies.

I've never touched .NET Core 2.1. There was some extension installed in App Services that was updated to a preview version.

Removed that. Now I have this issue about missing AntiForgeryToken in the 2.0.6 store.

It shouldn't be this hard.

[2018-03-16 13:28] kinetiq commented on #476
It was working fine in US East, but then it actually stopped working... The workaround got me going.

I was in the middle of troubleshooting an unrelated issue, so this threw me way off track.

[2018-03-16 14:46] ilmax commented on #667
@pan-wang  No, looks like it's not here! I've just have aspnetcore.dll

[2018-03-16 15:23] ilmax commented on #667
Ok, sorted it out, it was an install issue. I've updated the gist with real numbers and looks like the inprocess version on my machine is **342%** faster on my machine

[2018-03-16 15:37] davidebbo commented on #406
The deployment is now complete.

[2018-03-16 15:52] haydenhancock commented on #406
@davidebbo Thanks for the update. I will attempt another deployment when I am able and let you know the result.

Any reason, that you are aware of, that would cause downgrades of Microsoft.AspNetCore.All to cause build issues with Visual Studio 2017 15.6.2?

[2018-03-16 16:36] davidebbo commented on #406
@haydenhancock I think it would be best to open a new issue to discuss. This one looks like it's been already used for various unrelated issues (even if they all happen to end up with a Process Failure), and it's been closed for a while. Also, please include a [sample repo](https://github.com/projectkudu/kudu/wiki/Using-a-git-repo-to-report-an-issue) to make it easier to investigate. Thanks!

[2018-03-16 16:54] haydenhancock opened #681 "Unable to publish to Azure with HTTP Error 502.5 - Process Failure"
I am having issues deploying to Azure, even though the publish "succeeded." [This](https://github.com/haydenhancock/WebApplication4) repository can be used as an example. ~~I've had similar issues on multiple version of Visual Studio 2017 (include 15.6.2 and 15.5.2) using the default ASP.NET Core templates.~~

The issue only seems to be related to the latest version of Visual Studio 2017, which is

[2018-03-16 16:58] muratg commented on #476
Hey folks, Azure rollout should be complete by now: https://github.com/Azure/app-service-announcements/issues/92

If you are still having issues, please let us know.

[2018-03-16 17:00] haydenhancock commented on #406
@davidebbo Done #681. Thanks!

[2018-03-16 17:07] davidebbo commented on #681
Is this a scenario where you are git pushing to Azure (i.e. build on Azure), or you are deploying from VS via WebDeploy (i.e. build locally)?

Also, when you say "cause the build to fail", can you provide to complete error that you are getting?

[2018-03-16 17:15] davidebbo commented on #681
I just tried git pushing this repo to a clean new Azure Web App, and everything works fine. It builds without errors, and I can then access `/api/values` in the running app.

[2018-03-16 17:18] haydenhancock commented on #681
@davidebbo I am deploying directly through Visual Studio using the Publish menu.

This repository was built and published with the older version of Visual Studio (15.5.2) that seems to work fine (which is why I put a line through the "multiple versions of Visual Studio" sentence).

This issue could be related to Microsoft.AspNetCore.All (2.0.6) not being available on Azure until today. I will upgr

[2018-03-16 17:27] jkotalik commented on #667
That's much more expected. I think our tests were running on beefier hardware. IIRC we saw ~30k req/sec for out of process, and 135k req/sec for in proc.

[2018-03-16 17:30] ilmax commented on #667
Great! Thank you guys for your help!

[2018-03-16 17:32] ilmax commented on #667
Great! Thank you guys for your help!

[2018-03-16 17:32] #667 closed

[2018-03-16 17:32] davidebbo commented on #681
I'll let core experts like @Tratcher comment on some of this. My expectation is that the build artifact produced by VS cannot be influenced by the version of Core that happens to be on Azure. Instead, it will produce whatever artifacts it thinks are right for the project, and will deploy that. Then how that **runs** on Azure can depend on what's available.

[2018-03-16 18:15] pakrym opened #682 "Add benchmarks support for IIS"

[2018-03-16 18:51] haydenhancock commented on #681
Updated Visual Studio 2017 to 15.6.2; created a new API project using ASP.NET Core Web Application and published to Azure without issue. In addition, I attempted to downgrade Microsoft.AspNetCore.All to 2.0.5 and rebuilt without issue.

I am going to run a repair on my other installation of Visual Studio and see if that resolves the issues I was seeing yesterday. I am closing this issue.

Thanks f

[2018-03-16 18:51] #681 closed

[2018-03-16 19:12] #498 closed

[2018-03-16 19:53] #675 closed

[2018-03-16 21:06] kieronlanning commented on #476
@muratg The issue isn't if the rollout has finished or not, the issue is one of down time.

I'm not sure how, as the team responsible, anyone can justify any downtime over a preview upgrade. Or any upgrade for that matter in a way that leaves us usually clueless as to what in the hell is happening.

[2018-03-16 22:03] jhkimnew opened #686 "Invalid hostfxr path/arguments should be considered when checking backup location for dotnet."
@pan-wang Can you take a look at this issue?

STEPS TO REPRO:

1. Set bogus value for processPath and arguments and set inprocess mode as the following web.config example:

[code]

2. Start app with IISExpress
3. Send a request to the app

EXPECTED:

No crash

ACTUAL:

IISExpress process is crashed with the below AV

[code]

[2018-03-16 22:12] jkotalik opened #687 "SynchronousReadAndWriteTests.ReadAndWriteEchoTwice"
[code]

[2018-03-16 23:41] ryanbrandenburg commented on #687
[Example](http://aspnetci/viewLog.html?buildId=423753&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win10Universe#testNameId8842195102458810528).

[2018-03-16 23:42] jkotalik commented on #687
From that example, I think Flush is actually doing the wrong behavior.

[2018-03-17 00:07] pan-wang commented on #664
@jkotalik it proves we call managed layer shutdown which doe snot have timeout setting. We need to call managed shutdown in another thread and terminate the thread at timeout.

[2018-03-17 01:10] jkotalik commented on #686
This isn't an AV, right? Seems like the coreclr is willingly throwing an exception.

[2018-03-17 01:13] jhkimnew commented on #686
This is AV. IISExpress process crashes because of this issue.

[2018-03-17 01:48] jkotalik opened #690 "Flaky test: dotnet publish sometimes fails saying the dll is locked"
[code]

[2018-03-17 01:50] jkotalik opened #691 "Flaky tests: Port collision issues."
Https and NTLM tests still use static ports, which causes arbitrary tests to fail: https://github.com/aspnet/IISIntegration/blob/dev/test/IISIntegration.FunctionalTests/OutOfProcess/HttpsTest.cs#L31

[2018-03-17 19:16] jhkimnew opened #692 "ANCM: Globalization: Log file should be saved in unicode encoding"
Currently the log file is saved in ANSI, not Unicode encoding. Because of the problem, the Unicode characters which is used as Uri path can't be logged correctly.

STEPS TO REPRO:
1. Create a new WebApplication and deploy aspnetcore app in inprocess
2. Put 𠀀𠀁𠀃𠀄𠀅.htm file on the wwwroot directory of the app
3. Enable stdoutLogEnabled true and give the full permission to the worker process
4. Send a

[2018-03-17 22:25] jhkimnew opened #693 "ANCM: Inprocess app does not log Event 1024"
When app_offline.htm is removed, 1024 event ID is logged only for out-of-process mode app.

[2018-03-17 22:27] jhkimnew opened #694 "ANCM: Event 1024 does not contain application path unlike Event 1012"
Event 1024 message does not include app path unlike Event 1012.

Here is the 1024 Event message:

[code]

[2018-03-18 22:15] jhkimnew opened #695 "ANCM: Inprocess: CLR exception happens when recycline IIS worker process after running an websocket app"
1. make websocket connection and send data and then close websocket connection to aspnetcore app deployed to IIS server with inprocess mode
2. recycle IIS apppool in which the aspnetcore app is running

EXPECTED:

No CLR exception

ACTUAL:

Following CLR exception happens and w3wp.exe crashed.

[code]

[2018-03-18 22:58] jhkimnew commented on #460
@shirhatti  @jkotalik  a sample aspnetcore app of the lightup method is verified in inprocess mode.

[2018-03-18 22:58] #460 closed

[2018-03-19 13:45] evil-shrike commented on #476
hi.
Is this the same issue that people massively experiencing here - https://github.com/dotnet/coreclr/issues/13542 ?
Could someone please comment on the status: what actual problem is and what should we do in 2.0 project?

ps:
I easily reproduced the issue when I build and run a sample app in Docker:
[code]
for a project with reference:
[code]

[2018-03-19 15:49] JunTaoLuo commented on #476
@natemcmaster can you take a look at the docker issue mentioned above?

[2018-03-19 16:38] #604 closed

[2018-03-19 16:53] natemcmaster commented on #476
@evil-shrike this issue is closed. If you still have problems, can you open a separate issue? Please include enough details to reproduce your error.

[2018-03-19 17:46] ryanbrandenburg commented on #687
Future instances of this issue will show up [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:EchoTwice,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-19 17:59] jhkimnew commented on #662
@pakrym, @jkotalik  This issue is still reproducible on my machine even though I used the latest aspnetcore.dll and aspnetcorerh.dll.

[2018-03-19 18:00] jhkimnew commented on #695
This issue seems to be caused by the same reason of https://github.com/aspnet/IISIntegration/issues/662.

[2018-03-19 19:13] pakrym opened #697 "Add commit info to native modules"

[2018-03-19 21:20] shirhatti commented on #631
By design. Use ContentRoot instead of GetCurrentDirectory

[2018-03-19 21:20] #631 closed

[2018-03-19 21:29] shirhatti opened #698 "Disable loading RH from inetsrv for in-proc"

[2018-03-19 21:35] #593 closed

[2018-03-19 21:44] shirhatti commented on #438
Covered by #461

[2018-03-19 21:44] #438 closed

[2018-03-19 21:49] shirhatti commented on #695
@pakrym will verify and close

[2018-03-19 21:53] shirhatti commented on #693
Can't do this

[2018-03-19 21:53] #693 closed

[2018-03-19 22:05] shirhatti commented on #686
We should be returning 500 not AVing here.

[2018-03-19 22:06] #674 closed

[2018-03-19 22:16] shirhatti commented on #657
This is a doc bug.

[2018-03-19 22:55] muratg commented on #690
This issue was moved to aspnet/Hosting#1357

[2018-03-19 22:55] #690 closed

[2018-03-19 22:55] muratg commented on #691
This issue was moved to aspnet/Hosting#1358

[2018-03-19 22:55] #691 closed

[2018-03-20 17:11] ryanbrandenburg opened #702 "Flaky test: UpgradeFeatureDetectionDisabled_InProcess_IISExpress_CoreClr_x64_Portable"
Sometimes this test [fails](http://aspnetci/viewLog.html?buildId=424509&buildTypeId=XPlat_Windows_Win8_Universe) with:
[code]

Future instances of this failure will be listed [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:DllInUse,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-20 17:21] jkotalik commented on #702
Dup of https://github.com/aspnet/Hosting/issues/1357

[2018-03-20 17:21] #702 closed

[2018-03-20 18:03] jkotalik commented on #687
Underlying issue: https://github.com/dotnet/corefx/issues/28251. Will reenable once fixed.

[2018-03-20 18:36] lillo42 opened #704 "Get IIS Version"
Hi,

Is possible get IIS version? How can I get this information?

[2018-03-20 18:38] Tratcher commented on #704
Not with the out-of-process model ANCM uses today. What do you need it for?

Note the IIS version is coupled to the OS version, so you could infer it.

[2018-03-20 21:05] lillo42 commented on #704
In my company we are create a web applications monitor and one of these information is IIS Version, but I think is better get Kestral Version.

How could I infer it?

[2018-03-21 10:07] samcov opened #706 "Question: IIS Reverse Proxy(AAR) vs ANCM"
Do both work equally as well, with the main ANCM advantage being the ability to restart your process?

[2018-03-21 11:30] mihaj opened #707 ""HTTP Error 502.5 - Process Failure" asp.net core error in Azure From VSTS"
I have a problem with deploying from VSTS to Azure Web App for NET CORE 2.0 app (my app use 2.0.6.). I get the well known HTTP Error 502.5 - Process Failure. **Funny thing is that it works if I deploy from Visual Studio.** And it's installed in West Europe region.

The Kudu shows this:

If I try to run:

I tried re-deployment, compared web.config, deps.json file, appSettings.json and all looks ok.

[2018-03-21 17:10] Tratcher commented on #706
ANCM also has tighter integration for things like WindowsAuth, forwarders, etc.. With ARR you would need to do more manual configuration of the back-end app.

[2018-03-21 18:06] jkotalik commented on #686
This requires a change to the shim.

[2018-03-21 20:52] shirhatti commented on #707
![vsts-enable-appoffline](https://user-images.githubusercontent.com/4734691/37736765-00010c72-2d0f-11e8-9b9a-2902f1f9e1f2.png)

Have you enabled the app_offline rule?

[2018-03-21 21:12] mihaj commented on #707
I have this in my deploy:

![image](https://user-images.githubusercontent.com/557954/37737711-f15fd130-2d54-11e8-8cc4-ae6368464e90.png)

[2018-03-21 21:43] jkotalik opened #709 "Check exit code from calling hostfxr_main"
Currently we don't check this inside of the inprocess application.

[2018-03-21 21:53] shirhatti commented on #707
The fact you don't have the Publish using Web Deploy chosen is throwing me off. Are you using WebDeploy?

[2018-03-21 22:05] pakrym commented on #695
[code]

[2018-03-21 22:49] jhkimnew commented on #695
Thanks for the information. That means the CLR exception caused by the app. I confirmed this issue is gone after fixing the app bug. The app bug is that I forgot to clean up websocket object and mistakenly tried to close websocket connection with them in the application shutdown event handler. FYI, @pan-wang @bangbingsyb

[2018-03-21 22:53] pakrym commented on #695
`async void` method was throwing causing app to crash.

[code]

[2018-03-21 22:54] #695 closed

[2018-03-21 23:32] #682 closed

[2018-03-21 23:33] pakrym commented on #662
Did this go away after fixing https://github.com/aspnet/IISIntegration/issues/695?

[2018-03-22 00:11] pakrym commented on #659
No repro by me or @jhkimnew

[2018-03-22 00:11] #659 closed

[2018-03-22 08:01] mihaj commented on #707
I turned it ON, but still no luck. I compared the two zipps, and the one build with VSTS has more DLLs in than the one from VS2017.

Here is my publish step:
![image](https://user-images.githubusercontent.com/557954/37758200-a14ed334-2daf-11e8-8050-601e63bed157.png)

[2018-03-22 08:09] mihaj commented on #707
Just fixed this issue. I have to add "Path to projects(s)" csproj file of the exact project. Then it worked, because all test projects were not included in the publish!

[2018-03-22 08:09] #707 closed

[2018-03-22 18:35] jhkimnew commented on #664
This issue is fixed

[2018-03-22 18:35] #664 closed

[2018-03-22 18:53] jhkimnew opened #717 "ANCM: Inprocess: Usability issue: No helpful error message when inprocess mode is used to old apps which does not support inprocess mode"
@jkotalik Please take a look at this issue.

@pan-wang found a usability issue yesterday. As far as I remember, the issue Pan found is like this.

1.	Deploy an app which used .NetCore v2.0 in out-of-process
2.	Verify it works
3.	Switch to inprocess mode
4.	Send a request

EXPECTED:

Users should be able to get a meaningful error to troubleshoot the issue.
Maybe we should add a new event that the a

[2018-03-22 19:24] jhkimnew opened #720 "ANCM: Inprocess: Active websocket TCP connections should be terminated after shutdownTimeLimit"
@pan-wang Please take a look at this issue.

1.	Deploy Aspentcore app in Inprocess mode
        NOTE: Put artificial delay time such as 90 seconds in the graceful shutdown
2.	Set shutdownTimeLimit with 5 seconds to make app to be terminated after 5 seconds
3.	Send websocket requests and keep the connection active
4.	Recycle IIS worker process

EXPECTED:

W3wp.exe is recycled after 5 seconds

ACTUA

[2018-03-22 21:02] pakrym opened #721 "Make sure we return HRESULT from all native exports and check them on managed side"
To avoid things like https://github.com/aspnet/IISIntegration/pull/719

[2018-03-22 22:03] jkotalik commented on #721
Dup of #458, but I can close that in favor of this.

[2018-03-22 22:04] #721 closed

[2018-03-23 14:28] Tornhoof opened #725 "Weird AppDomain.CurrentDomain.BaseDirectory path in "InProcess" mode"
If you run your application "inprocess" in 2.1-preview1-final, ``AppDomain.CurrentDomain.BaseDirectory`` return ``\\?\C:\InProcess`` which apparently breaks file loading in e.g. xmldocument. In my Code there is a File.Exist before that, which works, but then it fails in the doc.Load.

In outofprocess mode it still returns ``c:\InProcess``.

Repro:
run the following snippet in an inprocess web appl

[2018-03-23 15:21] evil-shrike commented on #476
@natemcmaster sure, could you point me to the right place for creating an issue that is happening inside Docker?

[2018-03-23 16:28] natemcmaster commented on #476
https://github.com/aspnet/aspnet-docker

[2018-03-23 16:30] evil-shrike commented on #476
thanks!
My issue was caused by explicit version "2.0" for image inside Dockerfile: `FROM microsoft/aspnetcore:2.0`. As I removed the version the error has gone.

[2018-03-23 17:26] Tratcher commented on #725
Sure, but is there a way to suppress the `\\?\` prefix?

[2018-03-23 17:29] jkotalik commented on #725
Oh, we can remove the \\?\ portion.

[2018-03-23 18:10] Tornhoof commented on #725
Yeah, please remove the prefix, that's all I need I think, I did that manually and at least my app started and loaded the files.
I still have some issues I need to figure out, but I'm one step further now.

[2018-03-23 18:15] jkotalik commented on #725
@pan-wang

[2018-03-23 19:01] pan-wang commented on #725
the prefix is for  extended-length path and UNC. https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247%28v=vs.85%29.aspx.

[2018-03-23 22:43] #591 closed

[2018-03-23 23:18] pan-wang commented on #720
this is fixed by #726

[2018-03-23 23:18] #720 closed

[2018-03-24 00:06] pan-wang commented on #628
could you please check whether you had app_offline.htm file inside the application folder? if you browser the application from the server using localhost, the error page will give more details about the root cause.

[2018-03-26 11:10] Tornhoof opened #727 "Differences between "inprocess" and "outprocess" hostingModel"
This is partially just a list of differences I noticed, partially this might result in bug reports (or already did, but I don't know if they are all really bugs):
**1.**
``.UseContentRoot(Directory.GetCurrentDirectory())`` blocks App from staring with no errors in "inprocess"
 Solution: Remove it

**2.**
[code]
blocks App from staring with no errors in "inprocess"
Solution: Remove it
**3.**
``Appd

[2018-03-26 14:22] Tornhoof opened #728 "Request Stream is not always correct in inprocess mode in 2.1.0-preview1-final"
I noticed during my load tests, that my batch middleware sometimes returned 500, after a few hours of trying to reproduce it, I think that the Request Streams sometimes is missing data in the middle of the stream (maybe at the boundary of a buffer?)

Steps to reproduce:
[BadRequestStream.zip](https://github.com/aspnet/IISIntegration/files/1848129/BadRequestStream.zip)
1. Run the App from the zip a

[2018-03-26 15:43] Tratcher commented on #727
inprocess is intended to be indistinguishable from outofprocess, the goal is that we should not need a migration guide. Can you post the rest of Program.cs for cases 1 and 2? It's possible these are ordering issues we need to address.

[2018-03-26 15:44] Tratcher commented on #727
UseContentRoot https://github.com/aspnet/IISIntegration/issues/625

[2018-03-26 15:46] Tratcher commented on #727
UseKestrel: https://github.com/aspnet/KestrelHttpServer/blob/8b13ab8485b26a67d6923498142f94cb89fe8408/src/Kestrel/WebHostBuilderKestrelExtensions.cs#L35

Likely an ordering issue with the IServer's replacing eachother.

[2018-03-26 16:08] Tornhoof commented on #727
My program.cs for both 1,2 is:
[code]
It starts fine after removing the UseKestrel and UseContentenRoot part.

[2018-03-26 16:54] jkotalik commented on #727
I'll investigate why the UseKestrel is interfering with UseIISIntegration. I will also remove the \\\\?\\ string in the content root.

[2018-03-26 16:54] davidfowl commented on #727
Can you do some research into what System.Web does here?

[2018-03-26 17:24] jkotalik opened #729 "Ordering issues with calling UseIISIntegration and UseKestrel (or other server implementations)"
Today, UseIISIntegration() can only be called once and will be overwritten by other calls that add an IServer implementation. So for example, the following code will break and use Kestrel instead of IISHttpServer:

[code]

CreateDefaultBuilder will call UseKestrel() and then UseIISIntegration(). Then, by calling UseKestrel again, we will override UseIISIntegration. The next call to UseIISIntegrati

[2018-03-26 19:08] Tornhoof commented on #728
I had to change the port and ``result.EnsureSuccessStatusCode();`` does not show the exception
if I change it to
[code]
It shows the error immediately. With a slightly different error text, probably because Postman adds additional tracking headers.

[2018-03-26 19:10] #662 closed

[2018-03-26 21:18] muratg commented on #729
Triage: we decided to go with (1) -- we'll identify the mode we're in, probably by detecting the request handler's existence.

[2018-03-26 21:20] Tratcher commented on #729
That's a weak fix, it assumes IISIntegration is called twice.

[2018-03-26 21:38] muratg commented on #687
New CoreFX would bring Pavel's fix. 🤞

[2018-03-26 21:43] muratg commented on #568
The main issue we're seeing often is the missing/corrupt/old/invalid Schema file.  We're not trying to identify other issues in this case.

[2018-03-26 21:48] muratg commented on #727
We have issues tracking (2) and (3). @jkotalik will investigate why (1) happens.

@Tornhoof just curious, what's the app that doesn't start because of this?  Our default templates do not hit this issue, so I'd like to understand how you're hitting "failed to start with no errors" case.

[2018-03-26 21:51] muratg commented on #725
This is tracking the core-setup bug that @davidfowl linked above.

[2018-03-26 21:56] muratg commented on #709
@jkotalik will do this after preview2.

[2018-03-26 22:12] Tratcher commented on #727
We know why (2) UseKestrel prevents it from starting, it's replacing the IIS server.

(1) would cause your static files and views to be missing, but the site should come up in some half-broken state. Do you see an application exception logged in this scenario?

[2018-03-26 23:16] Tornhoof commented on #727
I just tried to repro 1.) independently without 2.) and yeah a repro app starts. As I did most of those tests last week it's quite probable that I didn't experience 1.) independently, but only in combination with 2.) and/or 3.) or just assumed that the app didn't load, because I didn't see index page (which fits your describtion of the problem)
Disabling 1.) was one of the first steps last week, a

[2018-03-27 15:55] pakrym commented on #728
@Tornhoof can you please try https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1 build.

We had a large refactoring in related area post preview1 and my tests show that issue doesn't reproduce in later builds.

[2018-03-27 17:07] Tratcher commented on #704
The IIS version is linked to the OS version: https://en.wikipedia.org/wiki/Internet_Information_Services

Getting the kestrel version is more interesting. You could get it from the assembly attribute AssemblyInformationalVersion.

[2018-03-27 17:10] Tornhoof commented on #728
Ok, I think it's fixed, I'll try tomorrow with the full application, this is just my repro, just for reference what I did:
- Install the SDK and ASP.NET Runtimes from https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1
- Changed to .\install-ancm.ps1 to use the myget feed (the changed ps1 (renamed txt) is attached)
- Edited the PackageReferences in my project t

[2018-03-27 17:22] Tornhoof commented on #727
Not my Blog.  Tagging @BerserkerDotNet as he wrote it.

[2018-03-27 17:55] jkotalik commented on #698
I'm going to first investigate the viability of doing a deps file rewrite before running the application such that we don't need this feature flag.

[2018-03-27 18:23] shirhatti commented on #729
Justin and I spoke about how UseIISIntegration() gets added regardless of whether you call it because of HostingStartup. Adding this comment here, so it doesn't get forgotten during our design meeting.

[2018-03-27 19:32] lillo42 commented on #704
Thanks,

[2018-03-27 19:32] #704 closed

[2018-03-27 20:06] shirhatti commented on #704
Just wanted to add that if you're running in-proc, you have access to IIS Server Variables.
The `SERVER_SOFTWARE` server variables will have what you want

[2018-03-27 21:24] muratg commented on #729
Do we need a design meeting for this? @shirhatti  could you add a label / scheule the meeting if so?

[2018-03-28 00:33] jkotalik opened #734 "Investigate test flakiness on AppVeyor"
Tests return 500 occasionally, like https://ci.appveyor.com/project/aspnetci/iisintegration/build/1.0.577#L749. We need to see if tests fail like this on CI or locally and find why it is happening.

[2018-03-28 01:20] Eilon commented on #734
Also consider switching to dotnet-ci and avoid AppVeyor (though the test might be just as flaky there).

[2018-03-28 08:53] Tornhoof commented on #728
I'm sorry, I can't test the full application, as it does not work anymore with the recent build version, it dies on startup at with the following exception:
[code]
I don't yet know what that error is.

[2018-03-28 09:11] Tornhoof commented on #728
Looks like it fails because of #725
The Uri Parser can't handle that extended length filename stuff
Repro:
[code]

[2018-03-28 09:17] Tornhoof commented on #725
This now breaks fully on a more recent preview2 version, I tried to see if #728 is fixed:
[code]
Repro you can try yourself:
[code]
Just wondering do you actually have Inprocess tests with MVC applications?
Because as far as I see, the code in the exception is part of ``services.AddMvcCore();`` which is called for every MVC application.
From my side it looks like there are quite a few tests for th

[2018-03-28 10:12] davidfowl commented on #725
If I had to guess I'd say it's to do with the \\?\ path.

[2018-03-28 16:57] jkotalik commented on #725
Yeah it is due to the \\\\?\\ path.
@davidfowl we decided on waiting for corefx to fix this, correct?

[2018-03-28 16:59] pakrym commented on #725
Lets workaround this in our code. It would unblock enabling MusicStore tests and when we get a fix we would have what to validate it against.

[2018-03-28 17:25] Tratcher commented on #725
@jkotalik is this prefix on the path you pass in when initializing the app?

[2018-03-28 17:27] jkotalik commented on #725
Yes. I was going to make a PR for this, however it seemed like we wanted this to be fixed in the CoreClr rather than by us. I'd rather fix this though.

[2018-03-28 17:31] Tornhoof commented on #725
I did not open any bug on corefx as my repro shows the same problems on netfx, so I thought it's probably simply unsupported.

[2018-03-28 19:59] jkotalik commented on #729
https://github.com/aspnet/KestrelHttpServer/issues/2440

[2018-03-28 21:34] Tratcher commented on #729
@jkotalik file the matching HttpSys bug and close this issue.

[2018-03-28 22:07] jkotalik opened #737 "Make In-Proc detect that the correct IServer is registered in the IISSetupFilter."

[2018-03-28 23:55] pakrym commented on #728
I'm closing this because request corruption seems to be addressed, we are tracking path issue and workaround separately.

[2018-03-28 23:55] #728 closed

[2018-03-29 10:40] Tornhoof commented on #728
I can confirm that the error is gone with the latest ANCM (2.1.0-preview2-30500) and a fairly recent sdk (yesterday or the day before). I can run my load test without any of the errors above.

I can't say for performance differences specifically for the inprocess/outprocess mode, because the sdk was quite different too, anyway (both on the same Azure Environment, same JMeter test script):

- NetFX

[2018-03-29 16:30] phxvyper commented on #628
@pan-wang unfourtunately I can't really check on this issue for a while. When some stuff slows down I'll be able to revisit this but for now I'm going to close my issue <3

[2018-03-29 16:30] #628 closed

[2018-03-29 19:00] #686 closed

[2018-03-30 03:31] #737 closed

[2018-03-30 03:42] pakrym opened #741 "Make UseIISIntegration override IServer on every call"
Same behavior as other servers.

[2018-03-30 04:15] pakrym commented on #725
Workaround merged on our side, tracking https://github.com/dotnet/core-setup/issues/3896

[2018-03-30 15:42] Tratcher commented on #729
This will be addressed by https://github.com/aspnet/IISIntegration/issues/741.

[2018-03-30 15:42] #729 closed

[2018-03-30 15:43] Tratcher commented on #741
Also ContentRoot. See https://github.com/aspnet/IISIntegration/issues/727

[2018-03-30 15:54] pakrym commented on #741
I would argue that we should let it fail and allow customers to discover that CurrentDirectory is not what they expected when running inproc.  Also, document this in migration guide.

[2018-03-30 15:57] Tratcher commented on #741
Assigning @pakrym all future in proc bug reports for ContentRoot....

[2018-03-30 16:03] pakrym commented on #741
@Tratcher what if we add a warning log to our startup filter that would check if the content root is set to current directory?

[2018-03-30 16:14] Tratcher commented on #741
Feel free to log it, so long as you fix it as well.

[2018-03-30 19:49] jhkimnew opened #743 "ANCM: Inprocess App fail to start if a request is sent before switching hostingModel from out-of-process is completed"
STEPS TO REPRO:

1.	Set outofprocess mode
2.	Send a request which takes 10 seconds to finish
FYI, you can use /aspnetcoreapp/DoSleep10000 if you use our test app. Or, you can put 10 seconds sleep to the aspnetcore app when program exits.
3.	Before the request of the step 2 is completed, switch hostingModel to inprocess and then send a new request

EXPECTED:

No error

ACTUAL:

Inprocess app can’t

[2018-03-31 02:42] guardrex opened #746 "Hosting bundle installer for the 1.1.7 (and earlier) downloads pages"
@tommy-hansen asks ...

The hosting bundle installer doesn't appear on runtime pages earlier than 2.0.5.

[2018-03-31 16:38] rducom opened #747 "ANCM slow perf - 2 times worst than net461 ?"
Just tried some very minimal project to evaluate aspnet core 2 perf. With a really minimal controller returning json :

[code]

Tested on a i7-6700HQ with wrk on localhost

Net461 on IIS : 10 000 r/s and 40ms latency :

![image](https://user-images.githubusercontent.com/5228175/38165276-5501c572-3511-11e8-8b53-b36d5ed1e5e3.png)

NetCore2 on kestrel : 33 300 r/s and 12ms latency :

![image](https:/

[2018-03-31 17:15] bangbingsyb commented on #747
Question: the test was for ANCM in-proc or out-of-proc mode?

There is a big problem of the minimum module configuration used in the test, and only including AnonymousAuthenticationModule and the ANCM will make the performance much worse than the default applicationHost.config in a synthetic benchmark using a very simple app.

The reason is the missing of UriCacheModule in this configuration. UriC

[2018-03-31 18:01] rducom commented on #747
It's with asp.net core 2.0 so outt of proc (as far as I know, only asp.net core 2.1.0-preview1 has the in-proc setting). I have made these test With and Without all the other modules.
With the minimal modules : 5034 r/s
With all modules : 4758 r/s (the provided screenshot)

So only leaving the 2 mentioned modules give a little gain, and doesn't make perf worse.

[2018-03-31 18:05] rducom commented on #747
After checking the modules, I didn't find any "UriCacheModule" in my IIS 10 modules....

[2018-03-31 18:18] rducom commented on #747
Ok, so this module is not present by default. (this should really be documented, or better, installed automatically with ANCM).
I have had to add it via the IIS root -> modules -> configure native modules.

After adding this module, removing all the others except "anonymous auth" and ANCM, I've done another benchmark :

Here are the results :
![image](https://user-images.githubusercontent.com/5228

[2018-03-31 19:47] bangbingsyb commented on #747
I would say it is expected that the out-of-proc mode of  kestrel+IIS with ANCM is slower than Net461 on IIS due to the fundamental architecture difference. For the our-of-proc mode,  IIS + ANCM essentially form a reverse proxy for the app server, and the communication between the two parties goes through the entire network stack four times even they are both on the same machine. For example, ANCM

[2018-03-31 19:53] bangbingsyb commented on #747
BTW: because of dominant overhead of extra round-trips through network stacks, adding UriCacheModule in your our-of-proc test only boosts the perf for about 10%.

In our initial perf test for in-proc mode: https://github.com/aspnet/benchmarks/pull/428#issuecomment-376364339

The minimal configuration without UriCacheModule gives almost half of the throughput with respective to the test with the de

[2018-03-31 20:49] bangbingsyb commented on #747
I also checked the default IIS installation on Win10 -  by just selecting and enabling "Internet Information Services" without further expanding the features. Here is the default global module list and it does include UriCacheModule:

        <globalModules>
            <add name="HttpLoggingModule" image="%windir%\System32\inetsrv\loghttp.dll" />
            <add name="UriCacheModule" image="%win

[2018-03-31 21:03] rducom commented on #747
About this module, it was installed, yes, but not present by default in the active ISS modules. Have had to add it. Maybe a pb on my side, but I doubt, since native modules are locked by default, and I didn't unlocked any module until today to delete it. So....

About the inprocess mode, and the IIS performances lower than net462 atm, I think I don't get the point for windows hosts :

How are we s

[2018-04-01 01:20] #687 closed

[2018-04-02 12:52] tommy-hansen commented on #746
@guardrex, it was me reporting that issue. We need this for an update against [CVE-2018-0875](https://github.com/dotnet/announcements/issues/62):

[2018-04-02 13:17] guardrex commented on #746
@tommy-hansen I see ... I ran the hosting bundle installer and checked the logs. I *don't* see a mention of 1.1.7 in the logs. I presume you could run both the hosting bundle installer and the 1.1.7 runtime installer. The engineers will let us know. If the correct path is to run both installers, I'll update the topic with that instruction.

[2018-04-02 13:29] tommy-hansen commented on #746
@guardrex, you ran what bundle installer obtained from where? We use IIS integration and my assumption is we'll need an installer corresponding to `DotNetCore.1.0.8_1.1.5-WindowsHosting.exe` (an earlier version I happened to have). Just to be clear that this is the file I'm looking for and don't see in 1.1.6 or 1.1.7.

[2018-04-02 13:43] guardrex commented on #746
There's only one ASP.NET Core Module. Running the hosting bundle installer from the 2.0.6 runtime page will provide it. When I ran that, I saw runtime installs for 2.0.5 and 2.0.6 but nothing for 1.1.7. I think what you could do is run both ...

Server Hosting Installer from here: https://www.microsoft.com/net/download/dotnet-core/runtime-2.0.6
x64 Installer (1.1.7) from here: https://www.microsof

[2018-04-02 13:52] tommy-hansen commented on #746
Thanks @guardrex, I can try that in dev but would like confirmation that this is what we're supposed to do. It's a change from having a dedicated bundle installer and not obvious from the docs?

[2018-04-02 15:40] guardrex commented on #746
ping @joeloff

[2018-04-02 18:30] Eilon commented on #568
@pan-wang / @muratg / @jkotalik - Is this a must-have for Preview2? If not, let's move to RC1.

[2018-04-02 18:43] Eilon commented on #698
@shirhatti / @jkotalik / @muratg - is this a must-have for Preview2? If not, let's move to RC1.

[2018-04-02 18:45] Eilon commented on #741
@muratg / @pakrym / @Tratcher - is this a must-have for Preview2? If not, let's move to RC1.

[2018-04-03 02:09] John0King opened #748 "IIS not reponse after add "app_offline.htm" and remove"
My app env: net461 + asp.net core
IIS env: IIS 8.5 on win server 2012 R2 + ANCM 7.1.1990

I recently update AspNetCore Server Hosting to lasted version (2.0.6-1), and then when I add a "app_offline.htm" then update my app, then remove the "app_offline.htm" ,  IIS just won't  response. ps: not my app's problem, if I run it from cmd, it will start in 10 s.

In previous version of ANCM, if `app_offli

[2018-04-03 03:02] pan-wang commented on #568
this error happens during test due to mismatched schema file. This will not happen for real setup scenario

[2018-04-03 12:38] andreymir opened #749 "Fail to start two Kestrel servers"
I want to start two Kestrel servers in one binary. One should use IIS Integration and another should not. When I run as console application everything work as expected. I have two servers running on different ports. But when I start via IIS both servers attempt to use the same port and the second server fails to start.

[2018-04-03 15:00] joeloff commented on #746
For 1.1.7, you can try this [link](https://download.microsoft.com/download/1/4/1/1416E22E-A1C5-48E3-81EF-AFE86CDA9C78/DotNetCore.1.0.10_1.1.7-WindowsHosting.exe)

[2018-04-03 15:16] guardrex commented on #746
@tommy-hansen I'm opening an internal issue to ask about adding that installer to the appropriate .NET Download runtime pages. Thanks for your help.

[2018-04-03 16:45] jkotalik commented on #749
Do you expect to have one Kestrel server going through IIS and the other server directly listening on a port?

[2018-04-03 16:47] Tratcher commented on #749
That's going to be tricky. The IIS support is a lit up based on environment variables. You'd have to suppress them between the first and second servers starting.

https://github.com/aspnet/IISIntegration/blob/346315f5c0f5f6ea064fb4f0fffe930d3717d91c/src/Microsoft.AspNetCore.Server.IISIntegration/WebHostBuilderIISExtensions.cs#L42-L47

[2018-04-03 17:45] jkotalik commented on #487
This is fixed via disabling parallel publish.

[2018-04-03 17:45] #487 closed

[2018-04-03 18:47] andreymir commented on #749
Yes, that right. One server suppose to serve a public web site through IIS and another will expose endpoint for based monitoring. It should not be accessible from public and the port should not change between application restarts.

I do not call UseIISIntegration for the second server. It is not clear why second server uses settings provided by IIS.

[2018-04-03 18:48] Tratcher commented on #749
Are you calling CreateDefaultBuilder? It includes UseIISIntegration.

[2018-04-03 18:52] jkotalik commented on #749
@Tratcher also UseIISIntegration can be called via HostingStartup. Can you change configuration to remove the environment variable before the HostingStartup calls UseIISIntegration?

[2018-04-03 18:57] jkotalik opened #751 "Make ANCM easier to test and add native test components"
Though writing native tests is hard, I think the benefits outweigh the painpoints when we want to assure ANCM works.

Here are some initial changes I would like to consider:

- [ ] Abstract Windows Apis/ Function into a class which implements an interface, allowing us to mock them. For example, if I call CreateFile, ReadFile, etc in native but I don't want to actually call those functions, I can m

[2018-04-03 19:52] andreymir commented on #749
Thanks for your help! Now it works. I create WebHostBuilder from scratch and override IIS configuration parameters:
[code]

The key is this three lines. Not sure if I need to override them all.
[code]

[2018-04-03 19:54] andreymir commented on #749
Still, it is not very obvious that ASPNETCORE_PORT and ASPNETCORE_TOKEN environment variables used even if we don't call UseIISIntegration while configuring WebHost.

[2018-04-03 21:29] Tratcher opened #753 "Investigate HTTP/2 behavior for RequestAborted and Abort"
For Http/1.x RequestAborted is used to detect early disconnects and Abort is used to force them.

For HTTP/2 requests can be multiplexed over a single connection and it's possible to terminate individual requests while leaving the connection active. Investigate how Http.Sys/IIS surfaces this behavior and if RequestAborted and Abort can be adapted accordingly. We may also need to introduce a lower

[2018-04-03 22:20] pakrym opened #754 "Finalize installer story for 2.1"
2. How are we delivering these binaries to WindowsHostingBundle universe build step??
3. Where are installers produced by WindowsHostingBundle universe step delivered and who consumes them?
4. Are we going to produce preview installer? As part of universe? Naming?

[2018-04-03 22:45] pakrym opened #755 "Decide how are we branching for inproc ANCM"
We need to decide how are we going to develop new ANCM and continue supporting/testing shipping ANCM in terms of branching, build configurations and universe.

Some requirements:

1. We need to run functional tests against shipping ANCM
1. We want to continue running CI for new ANCM
1. We want to be able to make cross repo changes that involve net ANCM (add ServerTests that would run inproc) and c

[2018-04-04 03:14] Anduin2017 opened #757 "Could not redirect to correct path using RequireHttpsAttribute and IIS with IISIntegration."
dotnet core version:
[code]

Visual Studio Version
[code]

1, Create a new asp.net core project using Visual Studio.
2, Click the property of the project and enable https in IIS debug settings.
3, Create a RequireHttpsAttribute on Home controller.
4. Start the web application.

You will be redirected to `https://localhost` and get a 404 error.

[2018-04-04 03:15] Anduin2017 commented on #757
I guess this was a problem in the IISIntegration for our web application could not realize that it was not running in the 443 port.

[2018-04-04 03:59] Tratcher commented on #757
RequireHttpsAttribute isn't aware of the ports your system is running on, it defaults to 443. There is a buried option where you can set the port.
https://github.com/aspnet/Mvc/blob/8e323a8e1e78b520e9a1c2a5a5f64139d5c210d0/src/Microsoft.AspNetCore.Mvc.Core/MvcOptions.cs#L355

We're working to replace this in 2.1 with a middleware that is more aware of your environment and redirects to the correct

[2018-04-04 04:00] Tratcher commented on #757
@BillHiebert our 2.1 Https everywhere story doesn't include full IIS debugging does it?

[2018-04-04 05:25] #757 closed

[2018-04-04 08:27] KnarrlyCoder commented on #406
If anyone happens to get this far in the comments and is having the same issue, check to see if the correct .NET SDK is installed on the server you are publishing to.

In my case, all I had to do was install the .NET Core 2 SDK and the API started working after my upgrade.

[2018-04-04 14:58] BillHiebert commented on #757
You need to configure the certificate manually using inetmgr

[2018-04-04 17:40] guardrex commented on #746
The fix is live now. Thanks @tommy-hansen for pointing this out.

[2018-04-04 17:40] #746 closed

[2018-04-04 18:44] pan-wang opened #758 "SxS story for ANCM"
ANCM current is global singleton. Theoretically we can ship multiple versions of ANCM and configure IIS with different module name or condition (as webengine for different .net version). If we choose this direction, the requesthandler assembly then can be part of application no matter of in-process or out of process.

[2018-04-04 18:47] Tratcher commented on #758
See https://github.com/aspnet/specs/issues/154

[2018-04-05 13:40] Kimserey opened #760 "Why it is needed to remove then add the aspNetCore handler for sub application?"
In order to make ASP.NET Core sub application of another ASP.NET Core application accessible, the web.config must remove then add the aspNetCore.

[code]

If the handler is not removed, I will get a 500 internal error while if the handler is removed without adding back aspNetCore after, I would get a 403 Forbidden access.

I did not find any explanation in the documentation. Could someone provide

[2018-04-05 15:01] norachuga opened #761 "Windows Authentication Events"
It would be nice if the AuthenticationHandler provided an event or events.

These are available on most, if not all, of the other AspNetCore authentication providers. This feature was also available in the old .NET: [WindowsAuthenticationModule.Authenticate Event](https://msdn.microsoft.com/en-us/library/system.web.security.windowsauthenticationmodule.authenticate(v=vs.110).aspx)

This would enabl

[2018-04-05 15:12] Tratcher commented on #761
Interesting idea. Your comments about a one time action confuse me though. Windows Auth happens on every request*, it's not a one time event like OAuth or forms auth. What kind of action did you plan to take?

 * technically windows auth can happen once per connection and be recycled on each request, but that information isn't surfaced to us, we don't know if this is the first request or 10th on a

[2018-04-05 15:15] Tratcher commented on #761
Note the description of the old WindowsAuthentication_OnAuthenticate method implies it's also invoked per request.

[2018-04-05 17:31] Tratcher commented on #760
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?tabs=aspnetcore2x#sub-application-configuration

Because web.config settings are inherited from from the root application to sub applications, and adding  the handler twice isn't allowed by IIS.

[2018-04-05 19:46] pakrym commented on #672
@muratg consider for MQ work

[2018-04-06 00:45] Kimserey commented on #760
I read the documentation but it only states that I either need to **add** OR **remove** hence my question why do I need to do both?

[2018-04-06 00:48] Kimserey commented on #760
Could you just confirm my understanding, it is because to be able to add the `aspNetCore` pointing to the `dll` for my sub-application, I need to remove the parent (inherited `aspNetCore` handler originally pointing to the `dll` of the parent application) then add the module for my current application.

Is that the way the configuration works?

[2018-04-06 04:06] Tratcher commented on #760
Not exactly, your dll isn't in the `handlers` section. IIS just doesn't want any two registered handlers to use the same `name`. The remove and re-add pattern is the verbose, foolproof version that should work in any scenario. The docs have simpler versions that either remove or skip adding the handler as needed for specific scenarios.

[2018-04-06 06:32] Kimserey commented on #760
But this is what I meant, none of the two solutions in the documentation work for hosting an ASP.NET Core sub application under another ASP.NET Core application.

1. The following config yield a 403 forbidden:

[code]

2. The following config also yield a 403 forbidden:

[code]

3. The following config yield a 500 Internal server error:

[code]

Only removing and adding together would make it work

[2018-04-06 15:10] norachuga commented on #761
Well that's embarrassing! I apologize, I am in the process of porting something from WS-Federation to Windows Auth, and it's my first time working with it.

If there was an event, I would have quickly figured out how often it authenticates ;)

Having it per-request actually works fine with how I plan to use it. It could still be duplicated with custom middleware, but it would be more logical to be

[2018-04-06 15:14] Tratcher commented on #761
IClaimsTransformation is one way of doing this. It's run by the UseAuthentication middleware after authentication. @HaoK do you have a quick doc or sample for this?

[2018-04-06 17:59] HaoK commented on #761
https://github.com/aspnet/AuthSamples/tree/dev/samples/ClaimsTransformation

[2018-04-09 14:45] norachuga commented on #761
Thank you, @Haok. This seems to be what I'm looking for, but I'm having a little bit of trouble.

TransformAsync never gets called when Anonymous Authentication is enabled. If anonymous authentication is disabled, it will work.

Can you explain why that would be the case? I would expect TransformAsync to still be called on requests where [Authorize] is involved.

[2018-04-09 17:51] jkotalik opened #765 "Port ANCM current to IISIntegration."
- [x] Move ANCM code current to IIS Integration
- [x] Change produced dll names for ANCM next
- [x] Configure CI to create/sign msi for ANCM current and ANCM next.
- [x] Re-Add ANCM current functional tests across our stack (via duplication).

[2018-04-09 19:14] ryanbrandenburg opened #766 "Flaky test: SynchronousReadAndWriteTests"
# Likely Root Cause
https://github.com/aspnet/IISIntegration/commit/22a865b83237cd50bdb7b764a87c28a3ec046afa

# Test History
* Individual Test Case: http://aspnetci/project.html?projectId=AspNetEf&testNameId=-8781713674742420153&tab=testDetails
* All IISIntegration flaky tests: http://aspnetci/project.html?projectId=AspNetEf&tab=flakyTests&buildTypeId=Lite_IISIntegration
  * Many `SynchronousReadA

[2018-04-09 20:04] jkotalik commented on #766
Test seems to only be failing on Win7 (other failures were due to publishing). I have a hunch why it may be flaky on Win7.

[2018-04-09 21:55] HaoK commented on #761
AnonymousAuthentication = true means don't do authentication so as a result claims transformation won't run since its run after a successful Authenticate

[2018-04-10 14:28] norachuga commented on #761
I don't know what issue I was having yesterday, but while fiddling with something else, it began working. I'm also able to get it to work fine in the ClaimsTransformation AuthSample. Sorry!

However, there's another quirk with IClaimsTransformation that is proving a bit problematic. I am injecting IHttpContextAccessor into the constructor in order to access Session. TransformAsync gets called 2-4

[2018-04-10 15:40] sinanilyas commented on #476
I've fixed this issue just by updating dotnet. I've installed the latest dotnet SDK (2.1.104) and the problem was solved!

[2018-04-10 15:48] Tratcher commented on #761
That sounds like a Startup ordering issue. Session is not available until after the UseSession middleware. That said, beware of storing any auth information in session.

It's likely that the first call happens in the IISIntegration middleware, the second in the auth middleware. No idea about 3 and 4, are you sure those are the same request and not a parallel request for something like favicon.ico?

[2018-04-10 16:49] Tratcher commented on #760
Yes, case 1 should work. @jkotalik, @pan-wang?

[2018-04-10 17:15] norachuga commented on #761
You're right about the further calls, they are for CSS/JS components. Those then get cached, which explains the inconsistency in number of calls. Don't worry, I'm not storing auth information into session. I just need to make use of the session ID.

As for the first two calls, I don't believe it's a startup ordering issue.

I am testing this using the provided sample. The only changes I have made

[2018-04-10 17:27] dmumladze opened #769 "Any reason why IISIntegration module does't forward all available headers to Kestrel?"
Is it meant to work this way, or why does IISIntegration module not forward all available headers to Kestrel?

There're few headers that IIS receives from the external reverse proxy, but it does not forward them over to Kestrel.

Setup is as follows:

**[Browser]** `<-->` **[External Reverse Proxy]** `<-->` **[IIS Integration (AspNetCoreModule)]** `<-->` **[Kestrel]**

First request goes to the **

[2018-04-10 17:31] Tratcher commented on #761
Yes, this is still an ordering issue but it might not be one you can fix. IISIntegration calls AuthenticateAsync before any other middleware in Configure.
https://github.com/aspnet/IISIntegration/blob/6e54256fca6f2ae25525bfbc0a7ca966e0d1780d/src/Microsoft.AspNetCore.Server.IISIntegration/IISMiddleware.cs#L133-L137

Hmm, AutomaticAuthentication isn't checked early enough to prevent this, nor can we

[2018-04-10 17:32] Tratcher commented on #769
Any examples?

[2018-04-10 17:33] blowdart commented on #769
(As an aside there are always going to be headers that will never be forwarded, as they're set by the module themselves, and their presence would indicate an attempt to hijack some internal workings)

[2018-04-10 17:44] dmumladze commented on #769
I have few headers one of which is ‘x-portal-loginid’ but Kestrel isn’t receiving it.

Any chance that it can allow certain headers per configuration settings?

[2018-04-10 17:46] Tratcher commented on #769
It shouldn't be filtering a header like that... @jkotalik can you repro?

[2018-04-10 18:30] codyskidmore opened #770 "Web.config appsettings visible in ASP.NET Core?"
I am researching the question in this StackOverflow article.

https://stackoverflow.com/questions/49069722/nested-appsettings-jsons-with-asp-net-core

Is is possible to access app settings in the parent web.config under IIS through AspNetCoreModule?

The goal is to allow ASP.NET Core applications to access the tenant's connection string (in a multi-tenant environment) from the parent web.config fi

[2018-04-10 18:33] Tratcher commented on #770
No, there's no first class mechanism for this.

[2018-04-10 18:39] pan-wang commented on #760
case 1 should work. I just tested with my app.
The recommendation is to use  "location" tage with setting inheritInChildApplications=" false"    as discussed in  https://stackoverflow.com/questions/782252/avoid-web-config-inheritance-in-child-web-application-using-inheritinchildapplic. I am pushing this setting as part of web.config template

[2018-04-10 18:41] pan-wang opened #771 "potential event log issue for SxS"
In side by side scenario, both modules will register provide name aspnetcore but different assembly name. We need to verify whether there is any issue

[2018-04-10 18:44] codyskidmore commented on #770
What about setting the connection string in an environment variable in the parent web.config?
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module#setting-environment-variables

[2018-04-10 19:18] Tratcher commented on #770
No. The ANCM environment variable web.config settings don't inherit well.

[2018-04-10 19:27] codyskidmore commented on #770
Thanks.

[2018-04-10 19:27] #770 closed

[2018-04-10 22:02] #769 closed

[2018-04-10 22:03] dmumladze commented on #769
No issues, apparently there's another custom module installed on IIS that's removing the headers.

[2018-04-12 13:33] Kimserey commented on #760
Thanks for the confirmation! I just re-tested and it actually works as expected. Not sure where I somehow saw the 403 forbidden. Thanks!

[2018-04-12 13:33] #760 closed

[2018-04-12 17:59] jkotalik opened #772 "ANCM event viewer logs render strings incorrectly on win7."
String from STRUs when logged to the windows event viewer seem malformed.

Ex:
```Application '臰ĺ' with physical root 'Application '%s' with physical root '%s' failed to load clr and managed application, ErrorCode = '0x%x.' failed to load clr and managed application, ErrorCode = '0x60c.```

[2018-04-13 00:17] pan-wang opened #774 "set request timeout and shutdown timeout to infinite if debugger attached"
When the backend process is debugger attached, ANCM should set those timeout value to infinite in order to not interrupt the debugging.

[2018-04-13 21:07] pan-wang opened #775 "ANCM SxS schema files"
AS part of ANCM SxS, different version of schema files may get dropped.  I did some manual tests
1)	Dropping  another version of ANCM schema file with different name but same content. Asp.Net core application still works.
2)	Dropping another version of  ANCM schema file with reduced content (no matter the file name). Asp.Net core application still works
3)	Dropping another version of ANCM schema f

[2018-04-15 20:53] niico100 commented on #226
I'm also having this issue using FTP.

[2018-04-16 07:24] sepehr1014 opened #778 "Unable to bind to the underlying transport for [PORT]. The IP Listen-Only list may contain a reference to an interface which may not exist on this machine."
We're using ASP.NET Core 2.1 Preview2 Final with IIS on Windows Server 2016. Once or twice a week, there comes a time when all request get `502 - Web server received an invalid response while acting as a gateway or proxy server. There is a problem with the page you are looking for, and it cannot be displayed. When the Web server (while acting as a gateway or proxy) contacted the upstream content s

[2018-04-16 07:36] davidfowl commented on #226
Drop an appoffline.htm file, then ftp then remove it.

[2018-04-16 08:03] benzhi2011 commented on #226
@davidfowl  Yes,that is what i am doing right now with a batch file. It takes few seconds for IIS to release the lock and the copy the files over.

[2018-04-16 09:31] benzhi2011 commented on #226
@niico100 Basically, the batch file just copy the files to the project directory, and I make a backed folder first before doing that. Before copy the files, put the appoffline.htm to the project folder.
Cause the file locking problem, the copying will make a retry. I am using robcopy
https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/robocopy

[2018-04-16 19:41] pakrym opened #779 "Harden callbacks agains exception leaking from manged to native"
https://github.com/aspnet/IISIntegration/pull/767 happened to fix a bug where throwing in create context would crash the server.
We need to check and wrap all other places in try-catch-log

[2018-04-18 03:27] Mgoul opened #780 "w3wp.exe crashed when rename app_offline.htm on Win10 X86 machine."
There are many w3wp.exe unhanding exception when running test on X86 machine. I check the event logs, there are many Application error about W3WP.

Machine build: 10.0.17133.1.x86fre.rs4_release.180323-1312 X86
Error messages:
     Faulting application name: w3wp.exe, version: 10.0.17109.1000, time stamp: 0xd6e38087
Faulting module name: ntdll.dll, version: 10.0.17109.1000, time stamp: 0x9cc51555

[2018-04-18 05:38] John0King commented on #748
close this issure, I use `app_offline.htm`  without problem yesterday.  Maybe there are someting wrong with my server.

[2018-04-18 05:38] #748 closed

[2018-04-18 06:30] sepehr1014 commented on #778
We're severely impacted by this issue. Any workarounds?

[2018-04-18 12:27] oyvindo opened #781 "string replace"

[2018-04-18 12:39] Tornhoof opened #782 "Publish new asp.net core module on nuget for preview2"
The current module on nuget is still 2.1.0-preview1-final https://www.nuget.org/packages/Microsoft.AspNetCore.AspNetCoreModule/2.1.0-preview1-final.
You should publish a new one, the old one is not compatible (some exception about missing method for get server variable if I remember correctly).
The one from myget works instead.

[2018-04-18 14:45] #781 closed

[2018-04-18 16:29] muratg commented on #780
cc @pan-wang

[2018-04-18 18:33] RodrigoFCampos commented on #493
I'm trying to download the "Hosting Bundle Installer" from here:

https://www.microsoft.com/net/download/dotnet-core/runtime-2.0.7

But when I click on the link:

https://download.microsoft.com/download/A/9/F/A9F8872C-48B2-41DB-8AAD-D5908D988592/DotNetCore.2.0.7-1-WindowsHosting.exe

I got the following response:

This site can’t be reached

:)

[2018-04-18 18:40] joeloff commented on #493
I'm following up with a few folks. The reported download size on that link also seems incorrect. It shows as 1.2KB - it should be ~99MB

[2018-04-18 18:52] pan-wang commented on #780
this is an build issue due to the change of compiler as part of moving code from source depot to git. Working on the fix

[2018-04-18 20:39] muratg commented on #493
cc @leecow

[2018-04-19 00:04] jhkimnew commented on #780
@Mgoul Pan fixed to Dev branch with https://github.com/aspnet/IISIntegration/pull/783.
Please verify this issue is fixed. Please rebuild aspnetcore.dll after pulling Dev branch.

[2018-04-19 21:51] shirhatti opened #785 "Remove dependency on VC++ redist"
Consider statically linking instead of having a dependency on VC++ redist.
aspnet/WindowsHostingBundle#13

[2018-04-19 22:25] joeloff commented on #493
Please try https://download.microsoft.com/download/A/9/F/A9F8872C-48B2-41DB-8AAD-D5908D988592/DotNetCore.2.0.7-WindowsHosting.exe

[2018-04-23 19:01] israellot opened #788 "Azure WebApp and inprocess"
How to enable inprocess mode on azure web apps?
Trying to deploy I still see two process, include the dotnet.exe one.

[2018-04-23 19:26] israellot commented on #788
Thanks

[2018-04-23 19:26] #788 closed

[2018-04-23 19:31] pakrym commented on #755
We did.

[2018-04-23 19:31] #755 closed

[2018-04-23 21:09] shirhatti commented on #785
Won't fix since dotnet has a dependency on Universal CRT.
https://github.com/dotnet/core/blob/851184b864923dd49dfcb099932e30c431856ba7/release-notes/1.0/1.0.0-known-issues.md#universal-c-runtime-dependency-on-windows

[2018-04-23 21:09] #785 closed

[2018-04-23 21:10] #780 closed

[2018-04-23 21:24] shirhatti commented on #771
Related https://github.com/aspnet/IISIntegration/issues/771

[2018-04-23 21:37] shirhatti commented on #761
@Tratcher What's the verdict here? Something we can fix in IISIntegration?

[2018-04-23 21:52] Tratcher commented on #761
Adding events would be doable, but their value would be pretty limtied. You could add events for AuthenticateAsync, ChallengeAsync, and ForbidAsync, but I'm not sure how much you could do in those scenarios.
https://github.com/aspnet/IISIntegration/blob/3761667e3611dd07c1be9e2ea113a21a3df15e29/src/Microsoft.AspNetCore.Server.IISIntegration/AuthenticationHandler.cs

Recommend backlog for the events

[2018-04-23 22:11] shirhatti opened #789 "Separate in-proc and out-of-proc request handler into separate files"

[2018-04-23 22:49] jhkimnew opened #790 "ANCM: the global aspnetcorerh.dll should not be used for inprocess mode even though after switching process model from out-of-process mode"
STEPS TO REPRO:

0.	Make sure aspnetcorerh.dll is *not* placed on SDK folder (nor application folder) first so that only the global aspnetcorerh.dll exists
1.	Copy aspnetcore.dll and aspnetcorerh.dll of V2 on %windir%\system32\inetsrv
2.	Send a request to an aspnetcore app which is running in out-of-process mode
3.	Switch the hosting model to inprocess for the aspnetcore app
4.	Send the same reque

[2018-04-23 23:38] pan-wang commented on #778
do you have an IIS site bind to port 53362?  The port range 49152–65535 (215 + 214 to 216 − 1) is used for private or customized services, for temporary purposes, and for automatic allocation of ephemeral ports. Have  you tried other port?

[2018-04-24 11:11] niico100 opened #791 "Environment Variables from IIS auto added to web.config cause 502 when .net core 2 MVC app deployed"
Create a new ASP.net Core 2 MVC template app. Set it up to use full IIS locally, add an environment variable;  (I need to do this for AWS), the app runs fine locally on full IIS.

Publish to a server with IIS (Win Server 2012 R2 in my case, the web.config contains said environment variables). You get a 502, no stdout log or Event in Event Viewer is created. No helpful error message anywhere.

To g

[2018-04-24 18:45] jhkimnew commented on #772
This is fixed.

[2018-04-24 18:45] #772 closed

[2018-04-24 22:28] jhkimnew opened #795 "V2: Inprocess: Diagnostic: Wrong event when an invalid path is used"
STEPS TO REPRO:
1. Use V2 inprocess mode
2. Set a bogus process path to verify that we shows the right error event log
3.  Send a request and check the new ANCM event log generated after that

EXPECTED:

The event log should say that the process path was wrong or something similar information when we got in the out-of-process mode.

NOTE:

Below event is shown, which is wrong information and makes

[2018-04-24 23:32] pan-wang opened #796 "Expose IHttpResponse::SuppressHeaders"
In some advanced scenarios, user may want to write raw http response. IIS API SuppressHeaders allows users to remove all http headers. https://msdn.microsoft.com/en-us/library/ms689172(v=vs.90).aspx

[2018-04-25 02:29] pan-wang commented on #796
One scenario I know recently is that user wants to force HTTP 1.0 in response for comparability purpose.

[2018-04-25 02:32] davidfowl commented on #796
Yea, we shouldn't expose obscure APIs like this unless somebody wants it.

[2018-04-25 08:01] sepehr1014 commented on #778
@pan-wang We do not have any site bound to that port and I checked `netstat`, no other program was listening to that port either. How can I try another port? I thought it automatically chooses an arbitrary port on startup since when I kill the worker process and it starts again, everything's fine.

[2018-04-25 19:00] jhkimnew commented on #790
I found another issue which seems to be fixed together when we fix this issue. So, when this issue is fixed, we need to verify the new issue is fixed also.

The repro step of the new issue.
1. Send a request
2. Switch the process mode from inprocess to outofprocess
3. Send a request
4. Switch the process mode from outofprocess to inprocess

EXPECTED:
There is no 500 error

ACTUAL:
500 error happen

[2018-04-25 21:39] pan-wang commented on #778
ANCM only picks up the port number between 1024 and 48000. In the case of failure, could you please check whether the backend Kestrel was started and the application events with source "IIS AspnetCore Module" in windows event log?

[2018-04-26 00:44] senpost opened #797 "How to generate IISExeLauncherArgs.txt?"
I hope this the right place to ask, if not please point me in the right direction.

We have bunch of Asp.Net Core webapps hosted in local IIS. We have a script that builds all these projects so developers don't have to open these solutions one by one in Visual Studio and build them.

After successful build, we can't navigate to these apps because `bin\IISSupport` folder in not created by msbuild.

[2018-04-26 03:30] MogulHuang opened #798 "Websocket connection fails on in-process mode with SDK 2.1.300-preview3-008646 build"
Repro Steps:
1.	Connect the test machine, create the ANCM test aspnetcoreapp named aspnetcoreapprc
2.	Open IE and browse http://localhost/aspnetcoreapprc/chatplus.html
3.	Type ws://localhost/aspnetcorerc/websocket  onto “WebSocket Server URL:” text box
4.	Click “Connect” button

EXPECTED: Websocket connection succeeded.
ACTAUL:You will see it fails.

NOTE:
This issue happens only with in-process m

[2018-04-26 15:12] Tratcher commented on #798
Can you share the app code?

[2018-04-26 15:13] Tratcher commented on #797
@BillHiebert

[2018-04-26 17:06] jhkimnew commented on #798
Here you are . https://github.com/aspnet/AspNetCoreModule/tree/dev/test/AspNetCoreModule.TestSites.Standard

[2018-04-26 18:01] Tratcher opened #799 "Broken test: StartupTests.ExpandEnvironmentVariableInWebConfig"
This test is consistently failing on the CI but only for Win2008R2 and Win8 which is pretty strange since they're not even the same base OS. Maybe it's an agent issue.

http://aspnetci/project.html?branch_XPlat=__all_branches__&buildTypeId=&tab=testDetails&projectId=XPlat&testNameId=4521903448995518762&itemsCount=50&order=TEST_STATUS_DESC&page=2

It has failed consistently since April 12th.

[code

[2018-04-26 18:31] stumpykilo commented on #476
@sinanilyas Where did you install the latest dotnet SDK? I'm having this issue when I deploy to an Azure Virtual Machine with 2.0.7. I've tried adding the `<PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>` but that doesn't seem to help.

[2018-04-27 07:56] sinanilyas commented on #476
@stumpykilo I was facing this same problem on the server I manage myself. It wasn't on Azure. So, I installed the lastest dotnet SDK on my own server.

[2018-04-27 12:49] peterdeme commented on #476
+1 to @evil-shrike
modifying `FROM microsoft/aspnetcore:2.0` to `FROM microsoft/aspnetcore:2.0.5` fixed our issue.

[2018-04-27 18:56] thewitian commented on #227
When I start the application from the iis, I get this error

![captura](https://user-images.githubusercontent.com/38794166/39380018-b36636e0-4a22-11e8-9cc6-efb7713c7aae.PNG)

[2018-04-27 19:50] prenaut41 opened #800 "UnauthorizedAccessException"
I'm using asp.net core 2.0 MVC for a web application and am trying to set up windows authentication.

I keep getting a System.UnauthorizedAccessException thrown by calls to get_AuthenticationType() when trying to request my web application's home page, which is a Razor page that includes a Razor template.  The application involves mostly SPA front-end javascript stuff, but the entry point is a Raz

[2018-04-27 20:16] prenaut41 commented on #800
Ah!  I just realized that a while back that I had actually slipped @User.Identity.AuthenticationType into  my Razor template while debugging and had forgotten about that.
That's what the problem was.

[2018-04-27 20:16] #800 closed

[2018-04-27 23:09] jhkimnew opened #801 "Usability: If app fails to start in process, users should restart worker process manually"
Once app fails with inprocess mode with a small mistake and in that case users will try again with fixing the problem. However, users will still see the app still show 5XX error. This is currently because we have a global flag which indicates the initial failure and once the failure happens, ANCM does not try again even the app is changed.

Work-around is to recycle IIS worker process (w3wp.exe) w

[2018-04-30 15:25] csharmath opened #802 "aspnetcore.dll crashing w3wp.exe"
Hi,

not sure where to report this, but this seemed like a logical place to submit.
(note: the blogs, etc should provide some feedback link options)

So following this announcement, I've done my setup based on that ps1 script on a Server 2012R2.
https://blogs.msdn.microsoft.com/webdev/2018/02/28/asp-net-core-2-1-0-preview1-improvements-to-iis-hosting/

But things does not look great for me as w3wp

[2018-04-30 18:15] Tornhoof commented on #802
The nuget package is outdated, see #782
You can this Script, where i modified the url https://github.com/aspnet/IISIntegration/files/1859669/install-ancm.txt

[2018-04-30 19:35] Tratcher commented on #799
This test needs to be re-designed. It's explicitly testing that dotnet.exe is available in the user profile location. https://github.com/aspnet/IISIntegration/blob/47c7c1ad8ff46a87b9163e4096c4b583808b069e/test/IISIntegration.FunctionalTests/Inprocess/StartupTests.cs#L30

The CI isn't supposed to install the runtime in that location, but due to some bug it has installed it for most of the agents ex

[2018-04-30 19:36] Tratcher commented on #799
@pakrym did you write this test?

[2018-04-30 21:35] jkotalik commented on #799
@Tratcher Agreed, this assumption was invalid.

[2018-04-30 22:50] Tratcher commented on #799
Purging the %USERPROFILE%\.dotnet\ folder has cleared up the issue on both agents. @natemcmaster you proposed adding this to the agent cleanup steps? Where do you want a bug filed for that?

[2018-05-01 14:16] csharmath commented on #802
yep, works with the myget versions so thanks for that.

[2018-05-01 16:28] #799 closed

[2018-05-01 16:38] pakrym commented on #799
Isn't test still wrong?

[2018-05-01 16:41] Tratcher commented on #799
It's not as bad as I thought it was. It falls back to the CI specified location.

Feel free to come up with another way to test this feature that will get better coverage on the CI.

[2018-05-01 17:32] ryanbrandenburg opened #804 "Flaky test: UpgradeFeatureDetectionEnabled_OutOfProcess_IISExpress_CoreClr_x64_Portable"
This test [fails](http://aspnetci/viewLog.html?buildId=458524&buildTypeId=XPlat_Windows_Win8_Universe) occasionally with the following error:
[code]

[2018-05-01 17:51] jkotalik commented on #801
This is by design. If there is a small mistake with the application, it usually means we have called hostfxr_main already. You cannot call hostfxr_main multiple times in the same process, so at that point we require the worker process to be recycled. If the application failed on Startup (before the request hits the server), we do not recycle the worker process, as that can be an attack vector and

[2018-05-01 18:47] jhkimnew commented on #801
@jkotalik If so, please add the information to the event error message that users should restart worker process with inetmgr.exe after fixing the problem. Otherwise users will be very confused why the app does not work if they did not know about this.

[2018-05-02 22:16] pakrym opened #807 "Remove in process source code from 2.1 IISIntegration package"

[2018-05-02 22:17] pakrym opened #808 "Move inproces managed server implementation into Server.IIS assembly"

[2018-05-02 23:54] jkotalik opened #810 "Make IIS tests only use the netcoreapp2.1 as the client."
Currently tests run with netcoreapp2.0, 2.1 and net461. However, theses tests are only for the client, while the deployed result is always the same. We should just make all tests use netcoreapp2.1 and remove duplication of test coverage. The same thing was done by @Tratcher in server tests: https://github.com/aspnet/ServerTests/commit/53564567662a09adb3c8d4c5ecbd5b4cfada1351

[2018-05-03 18:14] jkotalik opened #812 "Reduce configuration parsing in shim."
Instead of parsing the entire aspnetcore_config in the shim, we should parse only the configuration necessary to the shim and then parse the rest of the configuration in the request handler.

[2018-05-04 16:30] Tratcher opened #815 "WebSocket test regression"
http://aspnetci/project.html?projectId=XPlat&buildTypeId=&tab=testDetails&testNameId=1201716353821780817&order=TEST_STATUS_DESC&branch_XPlat=__all_branches__&itemsCount=50

This test started failing yesterday on Win7 & 2008 R2. It looks like some OS detection regressed.

[code]

cc @ryanbrandenburg

[2018-05-04 17:02] #765 closed

[2018-05-04 17:10] jkotalik opened #816 "Split inprocess and out of process request handlers."
- Handler names.
- Removing inprocess request handler from ANCM msis

[2018-05-04 17:43] jkotalik opened #817 "Move Inprocess managed code into the M.A.S.IIS namespace."
To be able to OOB the server, we need it to be entirely separated from the M.A.S.IISIntegration namespace, so we can easily iterate on it. We would also need to change the way the server is instantiated via a new method on the webhostbuilder, like ```UseIISServer()```.

[2018-05-04 18:29] #808 closed

[2018-05-04 18:33] shirhatti commented on #754
Related https://github.com/aspnet/WindowsHostingBundle/issues/18

[2018-05-04 18:36] shirhatti commented on #754
and https://github.com/aspnet/WindowsHostingBundle/issues/1

[2018-05-04 18:36] #754 closed

[2018-05-04 18:43] shirhatti commented on #804
Find and close as dupe

[2018-05-04 18:54] shirhatti commented on #791
Which variable is breaking you?

[2018-05-04 18:57] shirhatti commented on #790
This shouldn't be a concern after we app local load the out of process request handler.

[2018-05-04 18:58] #789 closed

[2018-05-04 18:59] shirhatti commented on #778
Hi. We're closing this issue as no response or updates have been provided   in a timely manner and we have been unable to reproduce it. If you have more   details and are encountering this issue please add a new reply and re-open   the issue.

[2018-05-04 19:00] #774 closed

[2018-05-04 19:03] shirhatti commented on #761
@Tratcher I'm assuming we won't be able to do it since it's a breaking change, right?

[2018-05-04 19:05] #751 closed

[2018-05-04 19:08] shirhatti commented on #734
Given that we're moving off Appveyor, I'm closing this

[2018-05-04 19:08] #734 closed

[2018-05-04 19:10] #653 closed

[2018-05-04 19:11] shirhatti commented on #645
Only thing left to do here is verify that it's already been fixed.

[2018-05-04 19:12] #644 closed

[2018-05-04 19:13] shirhatti commented on #758
Tracked elsewhere

[2018-05-04 19:13] #758 closed

[2018-05-04 19:13] #625 closed

[2018-05-04 19:15] shirhatti commented on #611
Hi. We're closing this issue as no response or updates have been provided   in a timely manner and we have been unable to reproduce it. If you have more   details and are encountering this issue please add a new reply and re-open   the issue.

[2018-05-04 19:15] #611 closed

[2018-05-04 19:25] shirhatti commented on #553
We need to agree upon the scope of this feature

[2018-05-04 19:29] niico100 commented on #791
ANY env variable will stop the project working on the sever. Try it.

[2018-05-04 19:44] jkotalik commented on #804
Dup of #815

[2018-05-04 19:44] #804 closed

[2018-05-04 21:04] shirhatti commented on #791
Just so I understand correctly. If you set a system environment variable and then set the same environment variable in your web.config, then you're broken?

[2018-05-05 11:59] niico100 commented on #791
If I set an env variable in IIS on my dev machine (as detailed in my original comment), an environment variable is put in the web.config automatically. If you just then publish the site - the env variables are still in the published web config web.config.

Having env variables in the web.config breaks the site on the server. When you delete them - the site then works.

Visual Studio 2017 also puts

[2018-05-05 13:18] guardrex commented on #791
@niico100 Show them the *web.config* you showed me that was breaking you that had the two env vars in it with the values redacted.

[2018-05-05 14:47] niico100 commented on #791
Here is a web.config that was generated by VS (after env variables added to IIS) - it causes a 502:

[code]

Having any env variables in the web.config causes this.

[2018-05-05 15:04] guardrex commented on #791
... and IIRC during troubleshooting, we whittled down the `aspNetCore` element to just ...

[code]
... and it was still throwing until @niico100 removed those env vars.

[2018-05-05 15:46] niico100 commented on #791
Hi

Done - please change the name of the app to MyApp.dll on github - not a big deal I just forgot to change it.

Thanks man.

Sent from my iPhone

[2018-05-07 16:48] mayconpires commented on #146
I have a problem like that:

The Visual Studio add automatically the nodes inside  <environmentVariables>:

`<environmentVariable name="DOTNET_ADDITIONAL_DEPS" value="C:\Program Files\dotnet\additionalDeps\Microsoft.AspNetCore.ApplicationInsights.HostingStartup" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.ApplicationInsights.HostingStartup

[2018-05-07 19:11] shirhatti commented on #817
I'm assuming this issue also tracks re-targeting from latest to 2.1?

[2018-05-07 19:12] shirhatti opened #820 "Update ANCMv2 installer to install to ProgramFiles instead of inetsrv"

[2018-05-07 20:04] jhkimnew opened #821 "ANCM v1 installer build should be higher than v2.1.1991"
The current v1 installer version is set to v.2.0.18123 which is lower than the latest released build and caused a failure to upgrade installation.

[2018-05-07 20:05] muratg commented on #146
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2018-05-07 20:49] #815 closed

[2018-05-07 21:54] VictorioBerra commented on #476
Just updated All metapackage to 2.0.8 today and getting this issue on our IS server with `package: 'Microsoft.AspNetCore.Antiforgery', version: '2.0.3'`. I installed `Microsoft .NET Core 2.0.7 - Windows Server Hosting Bundle` and this did not fix my issue.

[2018-05-07 21:58] Tratcher commented on #476
@VictorioBerra check back tomorrow.

[2018-05-07 23:27] upta opened #822 "Server.MapPath in AspNetCore"
My company's website's (MVC 5) architecture uses a bunch of IIS sub-applications to organize/sub-divide pieces of the site and we have a couple of components that rely on IIS Server.MapPath functionality to figure out what folders those sub-applications are pointed towards.

I know this sort of thing isn't exactly a high priority, but is there any chance we might see something along the lines of t

[2018-05-08 00:17] muratg commented on #476
@davidebbo, are you guys planning to post an Announcement issue to track May patch deployment?

[2018-05-08 00:32] davidebbo commented on #476
@muratg I responded internally.

[2018-05-08 01:33] muratg commented on #476
I'll update once we have an announcement issue about Antares deployment plans!

[2018-05-08 03:54] kkdawkins commented on #476
We are also seeing this issue with the 2.0.8 meta package... is this a known problem?

[2018-05-08 10:06] kieronlanning commented on #476
Have you try @stumpykilo's comment? It worked for me with the last update, not tried updating to the current bits yet - https://github.com/aspnet/IISIntegration/issues/476#issuecomment-384744896

[2018-05-08 13:48] VictorioBerra commented on #476
@kieronlanning We should not have to add that flag to our projects.

The real problem is that this seems to be a reoccurring issue where the metapackage is updated but the IIS hosting bundle for Windows lags behind.

[2018-05-08 16:12] kieronlanning commented on #476
@VictorioBerra I completely agree with you, 100%.

However, faced with not being able to deploy vs. waiting, I'll take the flag for now until the problem is (once again) resolved.

[2018-05-08 16:17] VictorioBerra commented on #476
@kieronlanning Or you could just roll `Microsoft.AspNetCore.All` back from 2.0.8 to 2.0.7 and not add random flags to your .csproj files.

[2018-05-08 16:25] Tratcher commented on #822
We didn't re-implement the MapPath API because it's based on outdated assumptions. However, there are likely other ways to achieve what you're after. E.g. IHostingEnvironment.ContentRootPath points the the application root for each application.

Are you trying to find an application's root from within that app, or externally from another application? Any examples?

[2018-05-08 16:49] upta commented on #822
I can 100% understand why it's not a main-line thing since ASP.Net is no longer tightly coupled to IIS, which is why the whole Windows Compatibility pack thing got me curious if a similar sort of "add-on" would be possible for IIS-specific scenarios where cross-platform wasn't a concern.

Trying to find the path for an application from within within a different application, which is the crux of my

[2018-05-08 17:18] Tratcher commented on #822
That's going to be rough. I don't think that's even possible for us to implement in the current reverse-proxy architecture. You're going to have to maintain a manual mapping table.

For the new in-proc architecture we're working on we would have to provide an API that dug into the IIS routing and at least gave you the application hierarchy and their various app dirs.

[2018-05-08 17:56] shirhatti commented on #782
@Tornhoof We've made the decision that in-proc support is not yet ready for public consumption. There are still many issues we're working through. As a consequence, we will ship support for in-process after the 2.1 release. Given this change in plans, we haven't shipped a 2.1-preview2 or 2.1-rc package for the AspNetCoreModule
I'll create an announcement in the announcements repo with all the deta

[2018-05-08 17:56] #782 closed

[2018-05-08 18:39] pakrym commented on #817
Yes

[2018-05-08 18:52] shirhatti commented on #791
@niico100 There was an issue in Visual Studio where it modified your web.config. That has since been fixed in Visual Studio 2017 Update 15.7
https://developercommunity.visualstudio.com/content/problem/220371/webconfig-modified-startuptimelimit3600-requesttim.html

This should no longer happen.

[2018-05-08 18:53] shirhatti commented on #791
I'm going to go close this issue. Please feel free to re-open if you continue to this behavior or if I misunderstood what you said. Thanks!

[2018-05-08 19:31] upta commented on #822
Totally makes sense that it would require the in-proc architecture.  I appreciate you guys considering it as an option; it would definitely help some of us move bigger sites over to Core without having to completely change our server architecture at the same time!

[2018-05-08 20:28] robertmuehsig commented on #493
Is the above link "stable"? I try to use the link in a install script for our software and want to make sure that this link is not a temporary one. @muratg

[2018-05-08 20:59] joeloff commented on #493
@robertmuehsig yes, that link should be stable.

[2018-05-08 23:02] niico100 commented on #791
This addresses part of the issue - but the environment variables issue remains and isn't addressed by this update.

[2018-05-09 00:31] niico100 commented on #791
Also - we need to be clear about where the issue is here. Is the issue that the env variables are added to the web.config - or is the issue that having env variables in the web.config stops the app running on the server? (probably the latter?).

[2018-05-09 00:33] jkotalik commented on #791
Let's try to repro this on the latest build ANCM. @niico100 what verison of the aspnetcore.dll is being used on the server? You can check this in the C:\Windows\System32\inetsrv folder for the dll. @pan-wang has there ever been an issue with ANCM having issues with environment variables?

[2018-05-09 00:36] niico100 commented on #791
I actually just tried that (in VS 15.7.1) - but I got a different error () and have had to switch back to some other urgent work for now.

(for what it's worth here's the new error, though it's probably not very relevant to this issue:

[2018-05-09 00:39] jkotalik commented on #791
Yeah that seems like an issue with your application rather than ANCM. Running in VS will use IISExpress with a different aspnetcore.dll than the one used by IIS. When you get the chance, can you check the versions of aspnetcore.dll in C:\Windows\System32\inetsrv and C:\Program Files\IIS Express\

[2018-05-09 00:40] niico100 commented on #791
So right click C:\Windows\System32\inetsrv\aspnetcore.dll - and go to details / file version?

7.1.1990.0

I'm not using IIS Express locally I'm using full IIS (with env variable set)

[2018-05-09 00:41] niico100 commented on #791
locally its 8.2.1991.0

[2018-05-09 01:25] guardrex commented on #791
btw @niico100 ... WRT that error. Try rolling your `All` package reference back to 2.0.7 in the app. U might be hitting a snag with the `All` 2.0.8 package. Discussion is on a [docs issue](https://github.com/aspnet/Docs/issues/6281#issuecomment-387531675) and an [IIS Integration repo issue](https://github.com/aspnet/IISIntegration/issues/476#issuecomment-387256782).

[2018-05-09 07:40] kieronlanning commented on #476
@VictorioBerra That release is a security update to prevent a DoS attack based on the processing of XML documents.

So I wouldn't recommended it, but it's your choice of course.

[2018-05-09 18:24] shirhatti opened #824 "Move ANCM setup strings from IIS-Setup to ANCM-Installer project"
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_git/IIS-Setup?path=%2Fiisca%2Fwix%2Fsetupstrings.wxl&version=GBmaster&_a=contents&line=247&lineStyle=plain&lineEnd=252

[2018-05-09 18:35] xs2bharat commented on #778
for me. the solution was here for above issue. https://programmingflow.com/2015/08/28/solved-iis-express-failed-to-register-url-access-is-denied.html

[2018-05-09 21:31] natemcmaster commented on #476
This should be fixed by downloading [this update](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.200-sdk-download.md#server-hosting) to the Windows Server Hosting bundle. The bundled was updated yesterday to include the 2.0.8 metapackage (and its dependencies). See https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.200-sdk-download.md#asp

[2018-05-09 21:35] shirhatti opened #825 "Drop support for processesPerApplication"
There's a fair amount of cruft around the usage of `processesPerApplication`. We should remove it completely and even considering removing this attribute from ANCMv2 schema.

[2018-05-09 21:50] dhabierre commented on #476
Fixed with:

- [DotNetCore.2.0.7-WindowsHosting.exe](https://download.microsoft.com/download/E/F/7/EF7302FE-4F84-4529-9E3A-893450F76501/DotNetCore.2.0.7-WindowsHosting.exe)
- [AspNetCore.2.0.8.RuntimePackageStore_x64.exe](https://download.microsoft.com/download/E/F/7/EF7302FE-4F84-4529-9E3A-893450F76501/AspNetCore.2.0.8.RuntimePackageStore_x64.exe) (or [AspNetCore.2.0.8.RuntimePackageStore_x86.exe

[2018-05-10 02:23] MogulHuang opened #826 "V2 ANCM for IISExpress build number should be the same to V2 ANCM for Full IIS"
The version of ANCM V2 Microsoft ASP.NET CoreModule for IIS Express is 2.1.18124 but the version of Microsoft ASP.NET CoreModule is 1.0.18124. V2 ANCM for IISExpress build number should be the same to V2 ANCM for Full IIS

[2018-05-10 02:41] Jinjin2Ma opened #827 "Microsoft ASP.NET CoreModule for IIS Express(V1) disappeared in ARP during the installation of VS but related files are not gone"
Description:  Microsoft ASP.NET CoreModule for IIS Express(V1) disappeared in ARP during the installation of VS but related files are not gone.
Repro steps:
1.Install  V1 version for both IIS/IISExpress
2.Install V2 for both IIS/IISExpress
3.Install VS2017
Expected:The ANCM for IIS Express(V1) in ARP shows as normal.
Actually: The ANCM for IIS Express(V1) disappeared in ARP during install VS2017

[2018-05-10 02:45] Jinjin2Ma opened #828 "The ANCM V2 cannot work after uninstall V1 and the aspnetcore app got "HTTP Error 500.19" error"
Description: The ANCM V2 cannot work after uninstall V1, The aspnetcore app got "HTTP Error 500.19" error. It's because the aspNetCore section also has been deleted when uninstall ANCM V1.

section name="**aspNetCore**" overrideModeDefault="Allow"

Repro steps:
1.Install ANCM V1 and V2 on machine.
2.Create an AspNetCoreApp used AspNetCoreModuleV2 module in web.config(D:\_ANCMTest\publishPathOutput

[2018-05-10 05:33] Tratcher commented on #827
It's considered a bundled component of VS/WTE, correct?

[2018-05-10 05:38] JoeDurand3 opened #829 "ANCM doesn't do anything"
Deployed an Asp.net core 2.0 project to IIS10 with the module and runtime installed, and I get no indication that the app has been started or otherwise.

Navigating to the url gives me a 'this page cannot be displayed' error.

Things I've attempted:
- checked application logs in Event Viewer. no mention of this particular app.
- enabling logs in web.config / created log folder. logs never get writ

[2018-05-10 05:39] Tratcher commented on #829
What was the full error page?

[2018-05-10 05:58] JoeDurand3 commented on #829
Looked at the response in the browser more closely. Turns out there was an A record problem, so the request never made it to the site and app pool.

[2018-05-10 05:58] #829 closed

[2018-05-10 06:50] PrzemekGawron commented on #311
In my case it appeared to be a really nasty bug in my code. I was getting 502.3 errors on random endpoints however after a while I noticed that the preceding request was always the same. After further investigation it appeared that some async code was not awaited so:
* the request finished with 200 but
* async code threw exception when trying to use already disposed scope dependency
* there were n

[2018-05-10 15:45] sguryev commented on #476
Could you please provide some estimation when it will be fixed on Azure App Services?

[2018-05-10 16:02] sguryev commented on #476
@bradleypatton just tried the solution from https://github.com/aspnet/IISIntegration/issues/476#issuecomment-384744896 and it works fro me.
Please make sure that you have pasted it to the right place. You can find it in the DUMP from this comment: https://github.com/aspnet/IISIntegration/issues/476#issuecomment-345057120

[2018-05-10 16:12] VictorioBerra commented on #476
Upon installing the new bundle provided by https://github.com/aspnet/IISIntegration/issues/476#issuecomment-387881946 on 5/8 I now see microsoft.aspnetcore.antiforgery 2.0.3 in my package store (confirming the install of runtime 2.0.8

I have yet to deploy my app with the latest metapackage but I am almost certain it would work now.

[2018-05-10 16:16] sguryev commented on #476
I'm seeing the `Microsoft.AspNetCore.Antiforgery 2.0.3` in the `Microsoft.AspNetCore.All 2.0.8` as well. But issue is still presented in the Azure

[2018-05-10 16:26] VictorioBerra commented on #476
Yeah that's a big deal, it seems that they have difficulty reacting and moving Azure when vulnerabilities are found which is troubling. The speed at which the vuln was patched and fixed was nice, metapackage was ready almost immediately. But that does not help when we have to wait for hosting environment bundles, or managed hosting environments to catch up unless we disable features that are enabl

[2018-05-10 17:31] natemcmaster commented on #476
I am working with the Azure App Services team to get the 2.0.8 package store installed. We expect to have this available next week. We're also working with the Azure App Services to reduce the gap between rollout to NuGet.org and Azure App Services.

For those concerned about exposure to [this vulnerability in System.Security.Cryptography.Xml](https://github.com/dotnet/announcements/issues/67), yo

[2018-05-10 19:47] jhkimnew commented on #827
@Jinjin2Ma. When ANCM is installed as a bundled component, we should not show in ARP, which is by design. Please check if the expected files are still remained. The expected files are higher version comparing between the standalone V1 and the ANCM bundled in VS. After verifying that, please test one more thing. When VS is uninstalled, the ANCM should be uninstalled together.

[2018-05-10 22:05] rockerinthelocker commented on #824
While you guys are at it, please make sure the installer no longer removes custom settings from applicationHsot.config, such as

`<aspNetCore lockAllAttributesExcept="processPath,arguments,stdoutLogEnabled,stdoutLogFile,forwardWindowsAuthToken,disableStartUpErrorPage,hostingModel" />`

, during install. Thank you!

[2018-05-10 22:49] rockerinthelocker commented on #820
Historically, IIS modules are located under 'inetsrv' and you guys should keep it that way -- and there a lot good reasons for it. Sure, feel free to reinvent the wheel and learn lessons the hard way. Thank you!

[2018-05-10 23:02] jkotalik commented on #820
@rockerinthelocker I agree with you. From a purity and organization standpoint, keeping it in inetsrv is a better decision. The only benefit I saw is we can version based on the folder name rather than the dll name. Do you happen to know other good reasons for keeping it in inetsrv?

@pan-wang @shirhatti I'm not convinced that moving it to Program Files will help more than it will hurt. Changing a

[2018-05-10 23:19] pan-wang commented on #820
The trend for IIS oob is to install the binaries under program folder instead of instant,  e.g., ARR.  The reason is that we saw a lot of issues for Windows upgrade as the inetsrv folder get reset during upgrade  and IIS upgrade code have to specially treat the OOB modules in a known list, e.g., urlrewrite module.  Moving away from inetsrv folder helps in the upgrade scenario as windows will prese

[2018-05-11 00:25] muratg commented on #311
Thanks @PrzemekGawron!

[2018-05-11 00:30] rockerinthelocker commented on #775
Why not simply using a single schema file? Since IIS merges schema files, the outcome would be the same.

[2018-05-11 00:46] Leon99 commented on #479
This happened again with 2.0.8. Is there a schedule of Azure App Service rollouts that we can follow to know when it's OK to upgrade Microsoft.AspNetCore.All?

[2018-05-11 01:34] pan-wang commented on #775
@rockerinthelocker  Schema file does not have version control. Considering the scenario that user has V2 installed which has some new schema elements first and then install V1, the schema file will be replaced by V1
s and cause issue for V2 runtime. Similar uninstallation could also be problematic.

[2018-05-11 04:16] rockerinthelocker commented on #820
@jkotalik , Simply adding a folder to 'inetsrv' with version folders underneath (i.e. aspnetcore\v2, aspnetcore\v3, etc.) should do the trick. Sure, there are some reasons. All-in-one-place experience, hassle-free (scripted/XCopy) deployment/restore of modules, no need to extend AV folder-exclusion lists, no need to update maintenance/monitoring scripts, you name it. Thank you!

@pan-wang , It's u

[2018-05-11 04:18] rockerinthelocker commented on #775
@pan-wang , Well, only the existing v1 installer is not smart enough and customers (server administrators) simply repair the latest post-v1 ANCM module, or restore the latest schema file from backup, to resolve any such issue caused by the v1 installer. Going forward, post-v1 installers should simply not replace the schema file on install/repair if a newer ANCM version is installed. On uninstall,

[2018-05-11 06:26] #827 closed

[2018-05-11 08:05] FrancescoBonizzi commented on #479
Same here!

[2018-05-11 17:07] henrychang99 commented on #681
Hello - I am encountering this issue with VS2017 15.7.1 Enterprise.  I have created a .net core 2.0 mvc project.  made some cosmetic changes to it and published to azure.  the publish was successful but got 502.5 error.

i have tried the wwwroot wipe and not successful.

in the log, i got this
8000808c.100010Keywords1129163281ApplicationRD00155DFE9F35Application 'MACHINE/WEBROOT/APPHOST/DEVARCOSAC

[2018-05-11 17:15] henrychang99 opened #830 "502.5 error - VS 2017 15.7.1; .net core 2.0.8 mvc"
Hello - I am encountering the same issue posted earlier #681 with VS2017 15.7.1 Enterprise. I have created a .net core 2.0 (AspNetCore 2.0.8) mvc project. made some cosmetic changes to the default template and published to azure app service. the publish was successful but got 502.5 error when viewing it.

i have tried the wwwroot wipe, and it was not successful.

In the event log, i got the follow

[2018-05-11 17:18] Tratcher commented on #830
2.0.8 hasn't been made available on Azure yet. Expect an announcement next week.

[2018-05-11 17:33] henrychang99 commented on #830
@Tratcher, thank you for the information.  I will try to downgrade it and redeploy.

[2018-05-11 17:58] shirhatti commented on #820
Some of us here are part of the Windows team 😄.

Deploying bits inside the Windows directory has ramifications and needs custom logic to handle Windows upgrade scenarios.
We've been burned by mistakes we've made here in the past. We would be none the wiser to ignore that. While it deploying native modules outside inetsrv might seem jarring to you, we've successfully employed with other IIS modules

[2018-05-11 19:12] henrychang99 commented on #830
Downgraded to 2.0.3;
closed my VS 2017;
cleaned the solution;
redeployed and it was successful.

[2018-05-11 21:10] jhkimnew commented on #798
@shhsu Would you verify this? After that, our test should be updated with newer SDK version which contains this bug fix.

[2018-05-11 21:44] kamilzzz commented on #725
So is it somehow possible to run aspnetcore 2.1.0-rc1 in InProcess mode or we have to wait for fix?

Have been unsuccessfully trying to run InProcess for about 3 hours...

[2018-05-11 21:46] Tratcher commented on #725
InProcess support was cut from 2.1.0-rc1. We'll revisit in for 2.2.

[2018-05-11 22:48] Tratcher opened #831 "V2 Standalone Out-of-proc broken"
When I re-enabled the net461 tests after https://github.com/aspnet/websdk/pull/322, I found that all standalone apps (net461 and netcoreapp) no longer worked for out-of-proc V2. They still work for V1. I'll disable them again with a reference to this issue.

It looks aspnetcorerh.dll is published in the wrong location. It's in the app root dir rather than in the x64 subdirectory with aspnetcorev2.

[2018-05-11 23:28] #830 closed

[2018-05-11 23:28] #824 closed

[2018-05-12 00:12] Luis-Palacios commented on #476
I'm on the same boat here, Updated to 2.0.8 very happy in local when we deployed to azure kabum 502.5 my error on kudu is:

[code]

Definitly waiting on solution to the mismatch between runtimes  @natemcmaster

[2018-05-12 00:29] Luis-Palacios commented on #476
Sure, I'll create one App Service on that region and test the release I have on 2.0.8. I'll let you know

[2018-05-12 00:37] Luis-Palacios commented on #476
I can confirm the App with 2.0.8 works on the App service that is on *West US 2* @davidebbo

[2018-05-12 00:42] davidebbo commented on #476
Thanks @Luis-Palacios, this is helpful to the team to have some user validation in addition to our own. Much appreciated!

It should be everywhere by Tuesday if we don't hit any issues (same for 2.1 RC1).

[2018-05-12 01:25] shirhatti commented on #479
Unfortunately, there's not much I can offer in terms of guidance here to mitigate these temporal issues.
Azure App Service posts announcements when they start new deployments and it doesn't hurt to keep a finger on the place- https://github.com/Azure/app-service-announcements/issues/107

[2018-05-12 13:12] rockerinthelocker opened #832 "ANCM Installer Removes Custom Settings"
The ANCM installer removes custom settings, such as

`<aspNetCore lockAllAttributesExcept="processPath,arguments,stdoutLogEnabled,stdoutLogFile,forwardWindowsAuthToken,disableStartUpErrorPage,hostingModel" />`

, from applicationHost.config during installation. Of course, this breaks things.
 #824

[2018-05-12 13:29] rockerinthelocker commented on #820
@coolcsh , Quite a number of custom and OOB IIS modules are stored under 'inetsrv' so abusing the Program Files folder as container for a couple of DLLs is highly questionable, right? Also, there is no guarantee that a Windows Upgrade (Web hosts certainly will block upgrades on production servers) will not break anything installed under Program Files. Thank you!

[2018-05-14 12:36] terzano commented on #830
I ran into this problem multiple times in the past. Where can we find out the current versions supported on Azure? I am yet to find documentations on the versions supported.

[2018-05-14 14:13] davidebbo commented on #476
@NikolaosWakem @Luis-Palacios 2.0.8 is now available on App Service.

[2018-05-14 15:30] davidebbo commented on #476
This is a big thread that it seems has many topics happening in parallel. My previous comment relates exclusively to the deployment to App Service, and the best place to discuss that further is https://github.com/Azure/app-service-announcements-discussions/issues/47.

Any anything else, I'll let the ASP.NET folks jump in.

[2018-05-14 16:43] NikolaosWakem commented on #830
https://github.com/aspnet/IISIntegration/issues/476

[2018-05-14 20:40] #617 closed

[2018-05-14 22:45] chrarnoldus opened #836 "Failed to start process on Azure App Service, ErrorCode = '0x80004005 : c0020043"
We have a web app on Azure App Service that sometimes fails to start with the following error message:

[code]

The error is intermittent; the app usually starts successfully a few minutes later. Requests will stall or timeout in the meantime, resulting in noticeable downtime.

Does anyone know what this error means or how to find out what it means? It does not seem to be documented [here](https:/

[2018-05-15 03:35] davidfowl commented on #822
Assume we offer the API in process, nothing in ASP.NET Core would use it by default. I’m not sure how you intend to use it but it’s likely you’ll have to plumb it everywhere manually.

[2018-05-15 04:40] upta commented on #822
Seems reasonable to me and totally makes sense in the greater Core context; would just be nice to have a little bit of deeper hook into underlying IIS site structure for those of us that don't need cross-platform and are trying to migrate large sites from older architectures :)

[2018-05-15 04:52] davidfowl commented on #822
I'm just trying to figure out the next stage, we give you MapPath and you can resolve a physical path from a virtual path based on IIS rules. Nothing works that way by default, how much do you have to plumb through? What places will break? Do we have the right hooks? Is it even feasible?

That's what I'm thinking about

[2018-05-15 16:39] Tratcher commented on #798
The scheme is supposed to be http/s. ws/s is only used on the client side, it's not transmitted as part of the request. IsWebSocketRequest must be failing for another reason, such as incorrect headers.

[2018-05-15 16:42] Tratcher commented on #798
Can you capture a fiddler or wireshark trace of the request?

[2018-05-15 18:17] shhsu commented on #798
Turns out it's IIS configuration issue. sorry for the false alarm

[2018-05-15 18:17] #798 closed

[2018-05-15 21:04] shirhatti commented on #797
@senpost What are you trying to achieve? VSIISExeLauncher is just an artifact of how VS attaches the debugger to your ASP.NET Core application.

I'm going out on limb and guessing the `web.config` file that you're referencing was accidentally checked into source control. It looks like you've made no changes to the web.config generated via the websdk. Your best bet is to not include the web.config,

[2018-05-15 22:55] pakrym opened #840 "Investigate out of process handler app local loading."

[2018-05-15 23:00] jkotalik commented on #840
🤞

[2018-05-15 23:16] rockerinthelocker opened #841 "Typo: IsWebSocketAvailible"
See https://github.com/aspnet/IISIntegration/blob/34c797a46b28569415db5f3ab10b2c762489a852/src/Microsoft.AspNetCore.Server.IIS/Core/IISHttpServer.cs#L42

[2018-05-16 00:21] jkotalik opened #842 "Remove IHttpContext and ExePath from CreateApplication Api"
Once we split the inprocess and out of process request handlers (#839), we can remove the IHttpContext and ExePath from the CreateApplication, moving the creation of the config after newing up an application.

[2018-05-16 00:21] jkotalik opened #843 "Remove setting hostfxr configuration in the aspnetcore_shim_config or requesthandler_config."
Logically, all hostfxr settings/configuration should be in a different class than the configuration. Configuration should only contain things obtained from the web.config or applicationhost.config, and overloading it was done as a way to pass less state between the shim and configuration. As we now have configuration in the request handler, we can cleanly separate them.

[2018-05-16 00:21] jkotalik opened #844 "Remove storing ASPNETCORE_SHIM_CONFIG in module container"
In refactoring the aspnetcore_config into two configurations, we can remove using the Module Container context on the IHttpContext. This gives us more control of when the config is disposed.

[2018-05-16 16:41] jkotalik commented on #826
@pan-wang has this been fixed?

[2018-05-16 16:43] #817 closed

[2018-05-16 20:29] muratg commented on #836
@chrarnoldus Any chance you could share your csproj file?

- Does your app work well on your dev box? And only fail on App Service?
- Does your app ever succesfully return results on App Service, or zero `200`s?

I wondering if it's a mismatch between the runtime you target and the runtime App Service has.

[2018-05-16 20:52] Memnarch commented on #476
Just stumbled uppon this issue myself. I published a selfcontained app for Ubuntu(Windows works fine).
using this cli:
`dotnet publish -c Release -r ubuntu.14.04-x64`
or
`dotnet publish -c Release -r ubuntu-x64`
![grafik](https://user-images.githubusercontent.com/1398184/40143409-a70b0aea-595b-11e8-9195-a0b5c9f034b0.png)
ANd i don't understand why it tries to look in `/lib/*`
All files seem to be

[2018-05-16 20:55] ryanbrandenburg opened #848 "Split samples, test apps and benchmarks"
Currently this repo uses the samples projects as samples, test apps AND benchmarks. This, in addition to being gross, has put us in an awkward situation. We don't want to change the TFM's of benchmark projects so that our data remains applicable, but we also need to more our tests (and thus their testapps) to `netcoreapp2.2`. For right now we've just gone ahead and moved to 2.2 to unblock everythi

[2018-05-16 20:58] chrarnoldus commented on #836
Project file is here: https://gist.github.com/chrarnoldus/584439e0656c250231dee27a7bd8014a

I've never seen the error on a devbox at least.

Yes, in fact it works fine most of the time, but sometimes requests start timing out and we find that line in the application events. The app will recover by itself in a few minutes.

Not to derail, but we've seen other weird issues like `InvalidProgramExcept

[2018-05-16 20:59] natemcmaster commented on #476
Can you open a separate issue for that on https://github.com/aspnet/Home? The original issue should have been fixed, and the behavior you are seeing may be unrelated.

[2018-05-16 21:07] Memnarch commented on #476
Ok

[2018-05-16 23:57] Tratcher commented on #836
This looks related: https://support.microsoft.com/en-us/help/312544/you-may-receive-an-invalidprogramexception-error-message-when-you-run
It gives some possible debugging steps.

To debug this on our side we'd need a full application that reproduces the issue.

[2018-05-17 00:17] muratg commented on #836
@chrarnoldus Yeah, your project file seems fine.  And my initial suspicion (possible runtime mismatch) was wrong.

@pan-wang any ideas?

[2018-05-17 01:09] DamianEdwards commented on #836
Could this be the port exhaustion issue again?

[2018-05-17 01:44] pan-wang commented on #836
@DamianEdwards  it could be. However, the process exit code 0x43 looks different. @chrarnoldus where did you see this InvalidProgramExceptions thrown? how many events did you saw in the failure case? have you tried enabling stdout log to capture the failure?

[2018-05-17 04:29] maria-lau commented on #476
Hi there,

I attempted to deploy a .NET app from Visual Studio to the Google Cloud App Engine (flex) and repeatedly got the error below:

"An assembly specified in the application dependencies manifest (<insert app name>.deps.json) was not found:
package: 'Microsoft.AspNetCore.Antiforgery', version: '2.0.3'
path: 'lib/netstandard2.0/Microsoft.AspNetCore.Antiforgery.dll'

This assembly was expected

[2018-05-17 15:35] chrarnoldus commented on #836
https://gist.github.com/chrarnoldus/37a60f018e33983c1a7ac410c124d637

https://gist.github.com/chrarnoldus/e2e3a1651648a1a98c3a32b7e8911425

In both cases these exceptions would be continuously thrown on every request until the process restarted.

I doubt these are related to the error code (I just mentioned them because I thought they could be a symptom of running on an incompatible runtime). I co

[2018-05-17 15:38] chrarnoldus commented on #836
I don't have code that reproduces the exception consistently. I do have memory dumps captured by the Application Insights collector when they occurred.

[2018-05-17 15:47] Tratcher commented on #836
Dumps might be interesting.

[2018-05-17 15:59] Tratcher commented on #344
It's an IList, call Add, Remove, Clear, etc..

[2018-05-17 16:35] chrarnoldus commented on #836
@Tratcher Can I share them securely? There's probably connection strings and private keys in there.

[2018-05-17 16:38] Tratcher commented on #836
Sure, you can put it in OneDrive or similar and share it with the e-mail in my profile.

[2018-05-17 17:25] #812 closed

[2018-05-17 17:28] jkotalik opened #849 "Capture stderr logging from corehost and unhandled exceptions"
Though we do capture stderr logs when logging is disabled in the windows event viewer, we don't capture errors from corehost trace or unhandled exceptions.

[2018-05-17 22:02] pakrym commented on #848
Changing TFM of benchmark project is fine.

[2018-05-17 22:10] #810 closed

[2018-05-17 22:10] pakrym commented on #810
Done

[2018-05-18 00:32] BKlippel commented on #245
Apparently windows sucks, try Linux, where .net core can run up to 20x faster...

[2018-05-18 09:02] bencgreen commented on #476
[MattJeanes](https://github.com/aspnet/IISIntegration/issues/476#issuecomment-388856883) is spot on - from the thread he references I re-downloaded the 2.0.7 hosting package twice, to no avail - but using his link works.  The primary download link needs to be updated to the correct package before this becomes a bigger problem.

[2018-05-18 16:27] natemcmaster commented on #476
@maria-lau I'm not sure how Google Cloud hosts your apps, but if you're seeing this error, there is a good chance Google hasn't updated their shared hosting environments to include the ASP.NET Core 2.0.8 runtime package store yet.

I've pinged our marketing team again to update the links on our download page. These are the proper links for the ASP.NET Core 2.0.8 (May 2018 patch) package runtime st

[2018-05-19 20:27] sepehr1014 commented on #778
We're also seeing

[code]

We're using web sockets. Might that be related? Maybe they're not successfully disconnected and the port status is waiting ...

[2018-05-20 21:05] pakrym commented on #741
Done, https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IIS/WebHostBuilderIISExtensions.cs#L38

[2018-05-20 21:05] #741 closed

[2018-05-21 10:30] muzzammilhussain commented on #227
@AdamAnandUS  I would request you to use Ubuntu instead of IIS . IF you want to use IIS then when you publish add Asp.net.core.all dll in that and also when you publish add specific runtimes with that like
dotnet publish --runtime ubuntu.16.04-x64
it makes possible for all the dlls to move ahead

[2018-05-21 15:34] #816 closed

[2018-05-21 21:02] Tratcher commented on #836
Taking a closer look at your dependencies, I do see a mismatch.
`Include="Microsoft.ApplicationInsights.AspNetCore" Version="2.2.1"` depends on `Microsoft.AspNetCore.Hosting (>= 1.0.2)`, but you're using `Include="Microsoft.AspNetCore.All" Version="2.0.7"`. @pakrym do you know what the right AI package to use here is?

[2018-05-21 22:44] DamianEdwards commented on #836
That's normal, the AI packages target the lowest supported version.

[2018-05-22 22:33] shirhatti opened #854 "TCP/IP failed to establish an outgoing connection because the selected local endpoint was recently used to connect to the same remote endpoint"
_From @sepehr1014 on May 9, 2018 11:49_

Using .NET Core 2.1 RC1 on Windows Server 2016, we occasionally get this error and from then on, everything returns HTTP 502.5 error.

`TCP/IP failed to establish an outgoing connection because the selected local endpoint was recently used to connect to the same remote endpoint. This error typically occurs when outgoing connections are opened and closed at

[2018-05-22 22:33] shirhatti commented on #854
_From @Tratcher on May 9, 2018 13:10_

Context? Where is that error reported?

[2018-05-22 22:33] shirhatti commented on #854
_From @sepehr1014 on May 9, 2018 13:17_

@Tratcher It's not an uncaught exception in my code. From a point forward, all requests yield 502.5 error and that's the only error we found in system event viewer. I'm not exactly sure what causes this error. We're using web sockets if it's related. I also took a dump of the worker process if it helps ...

[2018-05-22 22:33] shirhatti commented on #854
_From @Tratcher on May 9, 2018 13:56_

@pan-wang

[2018-05-22 22:33] shirhatti commented on #854
_From @pan-wang on May 10, 2018 21:13_

502.5 means the application failed to start. When did this 502.5 error happen? If the application suddenly returns 502.5, it means the backend process crashed. From the Windows security event logs, you should be able to see some process crash report. ANCM should also log a event in Application log. Could you please check windows event logs?

[2018-05-22 22:33] shirhatti commented on #854
_From @sepehr1014 on May 11, 2018 18:52_

@pan-wang We also get this:

`Tcpip: A request to allocate an ephemeral port number from the global TCP port space has failed due to all such ports being in use.`

But no other event logs related to this error.

[2018-05-22 22:33] shirhatti commented on #854
_From @muratg on May 15, 2018 22:29_

Looks like an ephemeral port exhaustion issue here. Do you have any clue why that may be? Are you able to create a simple repro app?  Anything else interesting going on on the machine?

[2018-05-22 22:33] shirhatti commented on #854
_From @pan-wang on May 15, 2018 22:51_

@sepehr1014 I need a full picture about this port issue. 1) did client receive 502.5 or other response? if 502.5, ANCM must log an error in windows event log, and have you try the workaround of set a static port using environmental variable 2) if there any windows log showing the crash of the backend process? 3) the high memory usage is just IIS worker proce

[2018-05-22 22:33] shirhatti commented on #854
_From @sepehr1014 on May 16, 2018 9:49_

@muratg The only thing I can think of is the fact that we use web sockets and there are 200+ active connections at a time. Maybe closed sockets (that didn't send a close frame) are not disconnected properly and are in waiting status. Since when the app pool is recycled every couple of hours, we don't face this issue ...

[2018-05-22 22:33] shirhatti commented on #854
_From @sepehr1014 on May 16, 2018 9:58_

@pan-wang
1. Yes, it received 502.5 but no other errors are logged in windows events. I haven't tried setting a static port. To dodge this issue, we have set IIS to recycle if private memory reaches 3GB. It seems to work for now but it's far from an ideal solution since we heavily depend on memory cache ...
2. I couldn't find any
3. Just the IIS worker proc

[2018-05-23 22:00] pakrym commented on #842
How do we pass `ExePath` then?

[2018-05-23 22:30] jkotalik commented on #766
cc @pakrym, this is probably due to your refactoring for websockets.

[2018-05-23 23:53] shirhatti opened #856 "Invent a way to find 64-bit dotnet.exe for out-of-process"

[2018-05-24 13:56] DanJ210 opened #857 "Web.Config works on IIS 10 but gives error on IIS 8"
I can host an asp.net core 2 site on my Windows 10 machine no problem. Works straight from publish. But when I try to host the same thing on a VM within the company I get an error stating my web.config has invalid entries. I can't open certain configurations in IIS as I'm told the web.config is invalid.

I did come across this link, https://github.com/aspnet/IISIntegration/issues/105, and I instal

[2018-05-24 19:07] shirhatti opened #859 "ANCM Request Handler versioning spec"
ANCM v2 will be installed to `%ProgramFiles%\IIS\AspNetCoreModule`

[code]

In the happy path, the user doesn't have to specify a version of the out-of-process requestHandler. By default the latest stable version wins. As an aside, if the `handlerVersion` is ignored when `hostingModel="inprocess"`

[code]

If you don't want to be transparently upgraded you can either pin to a specific version or s

[2018-05-24 19:07] shirhatti commented on #859
@pakrym Thoughts?

[2018-05-24 20:01] wdspider opened #860 "hostingModel="InProcess" does not seem to work with ASP.NET Core 2.1 targeting .NET Framework 4.7.1"
I followed the steps listed here:
https://blogs.msdn.microsoft.com/webdev/2018/02/28/asp-net-core-2-1-0-preview1-improvements-to-iis-hosting/
using this hosting module: dotnet-hosting-2.1.0-rc1-final-win.exe
so that I could run my .NET Core WebAPI in the w3wp.exe IIS process rather than its own.

My web.config file looks like this:
[code]
However, this does not seem to achieve the desired results

[2018-05-24 21:46] Tornhoof commented on #860
In process was removed from 2.1 for now. It's not yet ready.

[2018-05-24 21:55] Tratcher commented on #860
And no, .NET is not supported for InProc, only .NET Core.

[2018-05-24 22:21] jkotalik opened #861 "Stop checking for E_OUTOFMEMORY after calling new."
Since VS2005, the new operator will no longer return null. We can reduce some code bloat by removing the check after any call with new.

[2018-05-25 13:17] wdspider commented on #860
Just to confirm my understanding of the above 2 responses:

InProcess in not currently in .NET Core 2.1 RC1 as it's not ready yet.

Once it gets added back, InProcess will only support .NET Core apps that target .NET Core 2.1 and higher. InProcess will not support .NET Core apps that target .NET Framework.

Is this understanding correct?

[2018-05-25 13:52] Tratcher commented on #860
That's correct. Expect additional details after 2.1.

[2018-05-25 14:09] wdspider commented on #860
It probably would have helped to have a blurb about this in the RC1 Release Notes, but thank you for clearing up my confusion. As such, I'm going to go ahead and close this.

[2018-05-25 14:09] #860 closed

[2018-05-25 14:44] Tratcher commented on #859
I was expecting something more like:
[code]
Leaving more room for the eventual v3.

[2018-05-25 14:49] Tratcher commented on #859
How does handlerVersion apply to our testing environment? Requiring an exact version for nightlies would be painful.

[2018-05-25 15:49] pakrym commented on #859
having 1.0 request handler under v2 ANCM doesn't make sense, let's keep major the same.

I think it's fine except that `1.0` means `>=1.0` everywhere else

[2018-05-25 17:06] #861 closed

[2018-05-25 17:27] jkotalik commented on #860
@shirhatti did you post an announcement for punting inproc to a later release? Sorry for the confusion @wdspider

[2018-05-25 17:31] pakrym commented on #859
Additionally I would prefer not to produce 2 dlls with the same name and different contents `aspnetcore.dll`

[2018-05-25 18:10] pakrym opened #866 "Reenable TestServer tests on Windows7"

[2018-05-25 18:15] Tratcher commented on #866
http://aspnetci/project.html?projectId=XPlat&testNameId=1219862045376325550&tab=testDetails

[2018-05-25 18:32] pakrym opened #867 "Fix Jenkins tests"
They are very flaky.

[2018-05-25 18:36] pakrym opened #868 "Refactor native logging infrastructure"
We have 4 copies of `debugutil.h` and the only way to enable logging is to set a registry key. We need to get to a better place so we can add more logging and simplify CI failure debugging, having only HRESULT is not enough.

[2018-05-25 18:42] pakrym commented on #867
@jkotalik  thinks this is caused by absent `.\tools\update_schema.ps1` call.

[2018-05-25 19:14] jkotalik commented on #859
I don't like that we match version numbers with dotnet. If we need to ship a rapid update to azure, things will be misaligned if we don't have patch versions.

[2018-05-25 19:18] pakrym commented on #859
I don't think we are matching to dotnet for outofproc, but we are matching to the shim version.

[2018-05-25 19:48] jkotalik commented on #867
https://ci3.dot.net/job/aspnet_IISIntegration/job/dev/job/windows-Configuration_Release_prtest/26/console

[2018-05-25 20:02] pakrym commented on #859
We should use `handlerSettings` for this and avoid updating schema again.

[2018-05-25 21:59] rockerinthelocker commented on #859
@coolcsh , Shared hosting providers (and control panel vendors) will be amused and simply may not offer ASP.NET Core hosting beyond ASP.NET Core 2.0. In fact, nobody in the shared hosting industry is going to update control panel software and servers every few months because Microsoft released just another ASP.NET Core handler version for IIS. This update frenzy adds more complexity and maintenanc

[2018-05-25 22:18] jkotalik opened #873 "Create a one off build of ANCM-inprocess."
For partners to try. It will target 2.1.

[2018-05-25 23:09] pakrym opened #875 "Tests failing with framework not found"
https://github.com/aspnet/IISIntegration/pull/872

[code]

https://github.com/aspnet/IISIntegration/pull/865

[code]

[2018-05-25 23:11] Tratcher commented on #875
Primarily Win7/2008R2 http://aspnetci/project.html?projectId=XPlat&testNameId=-5755570781948725031&tab=testDetails

[2018-05-25 23:11] #867 closed

[2018-05-26 01:22] jkotalik opened #876 "Fix ANCM-Setup msi creation"
Current failing on CI to sign the msis. @pan-wang I think your change caused it to start failing.

[2018-05-26 01:45] pan-wang commented on #876
Let me take a look at the build log first

[2018-05-26 01:47] jkotalik commented on #876
```C:\b\w\a5d1ced7d2322198\sign.msbuild(15,5): error MSB4044: The "SubmitCodeSignJob" task was not given a value for the required parameter "DisplayName". [C:\b\w\a5d1ced7d2322198\sign.msbuild.teamcity]```

[2018-05-26 02:40] pan-wang commented on #876
the MSIs were generated correctly. I don't think I touched sign.msbuild. SubmitCodeSignJob is a passed in parameter and is defined in build/sign.props.

[2018-05-29 16:24] #840 closed

[2018-05-30 04:43] jkotalik commented on #842
we can pass via a better designed key/value mapping from shim to request handler.

[2018-05-30 07:04] jkotalik opened #879 "Add Win7 and Win8 agents to pull requests"
As there are many OS specific nuances with IISIntegration, we should enable win7 and win8 jenkins agents for PR builds.

[2018-05-30 16:28] jkotalik opened #880 "Make gtest and gmock a submodule"
See https://github.com/aspnet/SignalR/commit/508e66ece657938d3d3fdba990175c5ba1c38603 for how signalR did it.

[2018-05-30 18:13] jkotalik commented on #859
Few questions that need to be resolved:
- By allowing people to specify the version of the request handler, it puts strain on both the customer and the hoster for knowing which version of the request handler will be on the machine.
- Installing a specific version of the out of process request handler isn't possible unless the msi contains all previous versions of the request handler.

[2018-05-30 20:41] pan-wang commented on #859
why should we add a subfolder "requestHandler" instead of using .net core version directly. Can we ask hostfxr to return the version of .net core for an given app? if possible, we then can put inprocess and outof process under the same folder.  This version folders will make setup a little bit complicated as we have to pass in the version string to the build

the configuration should looks like

<

[2018-05-31 17:39] sepehr1014 commented on #854
We're still having this issue on 2.1 final. Any solutions?

[2018-05-31 22:36] #873 closed

[2018-05-31 23:29] Tratcher commented on #672
We've re-worked the depoyers so that many test scenarios can be run without publishing. This cut test time from 10s to 3s in most cases. Those remaining 3s are for ANCM and dotnet to start the site on first request.

IISIntegration has also worked around this by using a test fixture that publishes once and runs most of the in-proc tests.

I don't know if we still need this work item.

[2018-05-31 23:32] enginaar commented on #406
This just started happening out of nowhere and a quick investigation revealed that it's having trouble finding the Microsoft.AspNetCore.Antiforgery library which I don't use. I don't have any problems on my dev env, this is only happening on the staging server.

I have found a couple of workarounds but what I care about right now if anybody knows why this is happening. I'm about to go live with a

[2018-06-01 05:39] jkotalik commented on #875
Found the root cause of this. It's a null ref on the application exe. Will make a PR tomorrow.

[2018-06-01 06:14] jkotalik commented on #876
This was fixed due to a bad assumption on the location of other files.

[2018-06-01 06:14] #876 closed

[2018-06-01 07:01] sepehr1014 commented on #778
@shirhatti @pan-wang We're still having this issue. Please reopen. The only log we have is:

`Unable to bind to the underlying transport for [::]:63883. The IP Listen-Only list may contain a reference to an interface which may not exist on this machine.  The data field contains the error number.`

The port number (63883) is different in each log obviously.

[2018-06-01 16:50] shirhatti commented on #778
@halter73 Does the Sockets stack trace above ring a bell?

[2018-06-01 17:46] halter73 commented on #778
@shirhatti I haven't seen either of these errors before.

@sepehr1014 I see the SocketException is coming from TcpClient. Is this error coming from a client?

[2018-06-01 18:32] shirhatti commented on #859
Takeaways from today's meeting
- No more version ranges. Only exact version matches
- Based on engineering risk, we might eliminate previews based additional cost since we're trying to avoid feature creep
- No schema change to add handlerVersion, instead we'll use the handlerSettings section

[2018-06-01 18:39] shirhatti opened #883 "ANCM Request Handler versioning setup work"

[2018-06-01 18:42] #725 closed

[2018-06-01 18:48] #842 closed

[2018-06-01 19:01] jkotalik commented on #875
@shirhatti moving this into next week too (as it may not be done by EOD).

[2018-06-01 23:22] jkotalik opened #886 "Revert ANCM out of process new null checks; link in nothrownew.obj"

[2018-06-04 21:42] #880 closed

[2018-06-04 22:08] jkotalik commented on #875
Will continue monitoring CI for failures on Win7 (if failures persist, will investigate further).

[2018-06-05 00:41] jkotalik commented on #875
Things still on fire and I started getting this failure locally. Seems flaky, but most likely a product issue.

[2018-06-05 08:44] sepehr1014 commented on #778
@halter73 No, but we use a HttpClient to send requests to google FCM and some other services ...

[2018-06-05 16:57] shirhatti commented on #778
@sepehr1014 This doesn't sound like a server issue. Given that you're using HttpClient, I suspect you're disposing it too frequently. This sounds like an ephemeral port exhaustion issue.

[2018-06-05 18:19] sepehr1014 commented on #778
Quite the contrary. We're using only one static HttpClient so it's actually
never disposed. I suspect it has something to do with the disposal of
WebSockets since we heavily use them for our messaging features. BTW there
are no other web apps on this server.

On Tue, Jun 5, 2018, 9:27 PM Sourabh Shirhatti <notifications@github.com>
wrote:

[2018-06-05 23:53] jkotalik opened #888 "Investigate flaky startup failures"
Few examples on CI:
http://aspnetci/viewLog.html?buildId=481259&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win10Universe#testNameId-5755570781948725031
http://aspnetci/viewLog.html?buildId=480840&tab=buildResultsDiv&buildTypeId=Lite_MusicStoreTest

Seems to either be:
- A race condition
- Using a pointer to an already freed variable

Thoughts on narrowing down the issue:
- Added logging in ANCM

[2018-06-06 00:02] jkotalik commented on #875
Follow up issue filed #888 . This issue seems to be resolved.

[2018-06-06 00:02] #875 closed

[2018-06-06 00:15] jkotalik commented on #888
COR_E_EXECUTIONENGINE is the failure in the event log.

[2018-06-06 02:41] jkotalik commented on #859
I propose we add patch version to the handlerVersion for a few reasons:
1. Makes parsing significantly easier (fx_ver_t would match up exactly)
2. Follows the versioning style of dotnet.

[2018-06-06 05:34] shirhatti commented on #859
If we're doing x.y.z, I'm assuming we'd version as x.0.z (since technically ever release is a patch release). Is it that what you had in mind?

[2018-06-06 13:06] nikodemrafalski opened #890 "Loopback connection"
Hi, I raise this issue to ask about something I don't understand and cannot found any explanation in ms docs.

What are the loopback connections? Are they connection of IIS making to my dotnet.exe process?
It's always growing until I restart my application. What could be the cause, is that an issue at all?
My application is an web api, and additionally it allows web sockets connection. Outbound tr

[2018-06-06 13:29] chrarnoldus commented on #836
I've created a separate issue for the InvalidProgramExceptions here: https://github.com/dotnet/coreclr/issues/18323. Because they are, as far as I can tell, unpredictable and all over the place I suspect the problem is in the runtime and not in ASP.NET Core.

[2018-06-06 13:32] chrarnoldus commented on #836
I must say I find the experience of debugging startup issues through the ASP.NET Core module a bit lacking, as many of the error codes don't seem to be documented and if you want the extra info provided by stdout logging you basically have to predict the error upfront, so you can turn it on in time.

[2018-06-06 16:25] jkotalik opened #891 "Move aspnetcorev2_schema.xml to VS and Azure"
Now that the schemas have diverged, we need to get the v2 schema everywhere possible. This includes getting it on azure and in Visual studio. VS uses another schema besides the one installed by the MSI for xml tag verification.

edit (@muratg): VS => VS editor intellisense

[2018-06-06 17:55] jkotalik opened #894 "Package pdbs in Microsoft.AspNetCore.AspNetCoreModule packages"
For debugging purposes.

[2018-06-06 18:08] shirhatti commented on #859
Notes from today:
- MSIs will never install preview versions

[2018-06-06 18:19] shirhatti commented on #844
We may not end up doing this. Pan will continue to investigate.

[2018-06-06 19:02] pakrym commented on #836
@chrarnoldus  we are currently looking into improving diagnostic experience.

[2018-06-06 19:22] pakrym commented on #891
Are we going to revert changes from V1 schema?

[2018-06-06 20:35] shirhatti commented on #801
Just so I understand correctly, a configuration change will trigger a process recycle right which should alleviate this concern. So when exactly does this become a concern?

[2018-06-06 21:14] jhkimnew commented on #801
A configuration change won't trigger a worker process (w3wp.exe) recycle.
For example, the w3wp.exe process won't be recycled when you update the processPath of aspNetCore section of the web.config in the application root path with a different value, supposing the old value was wrong in inprocess mode and the new value was set to fix the problem. In that case, the problem won't be fixed until user

[2018-06-06 21:58] shirhatti commented on #717
I'm closing this issue, since the expectation is that all 2.2 apps support in-process, so there shouldn't really be a usability concern any longer.

[2018-06-06 21:58] #717 closed

[2018-06-07 01:01] shirhatti commented on #890
When you host behind IIS, the ASP.NET Core Module (native IIS module) uses the loopback network to proxy requests over to your dotnet application which serves requests with it's own application server(Kestrel).

That being said, the number of loopback connections you observe do not grow unbounded. Are you observing any degradation in performance that has you concerned about the number of loopback

[2018-06-07 14:42] gthelp opened #896 "Virtual Sub-Application running Framework 4.5 and log4Net 2.0.8 will not write log files"
On IIS 8 - have asp.net core application with following web.config and running under unmanaged application pool - works great

I created a virtual sub-application under it with web.config setup to remove aspnetcore and use net4log.
The sub application works fine, and trace tells me log4net is loading up, but never writes even with all write permissions enabled. I think their might be some other co

[2018-06-07 16:09] Tratcher commented on #896
What happens if you remove aspnetcore from the parent site?

[2018-06-07 16:42] gthelp commented on #896
I removed the handler and aspnetcore tag from web.config in parent core app and it worked fine. I recycled app pools to make sure. Core app worked fine. fired with sub application and it worked fine, but log4net did not write again. I turned to trace write to log folder and .net app wrote to log folder fine, but not log4net component.
<?xml version="1.0" encoding="utf-8"?><configuration>    <syste

[2018-06-07 17:11] jkotalik opened #897 "Flaky test: LoggingTests.CheckStdoutLogging"
This is questionably a product bug. Needs more investigation. Will disable for now as they fail frequently enough.

[2018-06-07 17:32] jkotalik commented on #843
This is already done via using hostfxr_options.

[2018-06-07 17:32] #843 closed

[2018-06-07 18:15] jkotalik opened #899 "Invoke solution build on all native components rather than running msbuild .vcxproj"
Right now, we build each invoke msbuild to build each c++ project, like:

[code]

Ideally, this shouldn't be necessary. We should just be able to build the solution, which will build the vcxproj files. I tried this locally, and it continued saying the $(VCTargetsPath) was empty on command line, while in VS it was defined. VCTargetsPath is defined via a reg key. Seems like a bug.

cc/ @Tratcher

@p

[2018-06-07 18:20] shirhatti commented on #899
Unless I'm mistaken, it's because invoking sln build via the dotnet cli couldn't build native projects since it didn't have the required targets.

[2018-06-07 18:21] shirhatti commented on #899
Let me check, but I think we copied it off the SignalR cpp client.

[2018-06-07 18:23] shirhatti commented on #899
IIRC @pranavkm suggested it

[2018-06-07 21:16] #849 closed

[2018-06-08 21:16] muratg commented on #778
@pan-wang is talking to @sepehr1014 over email on this issue, so assigning this as an investigate item to him.

[2018-06-08 21:19] muratg commented on #791
@BillHiebert I was told that you implemented a workaround for this on tooling. What's it?

[2018-06-08 21:19] muratg commented on #791
cc @pan-wang please sync up with @BillHiebert on this.

[2018-06-08 21:19] #821 closed

[2018-06-08 21:24] muratg opened #901 "Validate the new installer"
## Scenarios to cover:
Needs to be verified on both x64 and x86 operating systems.
### Standalone scenarios (ANCM not installed on machine)
-  ANCM msi
   - [x] apphost.config file to be updated with aspnetcore section and ANCM module
   - [x] aspnetcore.dll dropped in inetsrv
-  ANCMV2 msi
   - [x] apphost.config file to be updated pointing ANCMV2 to ProgramFiles/IIS
   - [x] aspnetcorev2.dll in

[2018-06-08 21:34] muratg commented on #832
This is a general concern in IIS with other module installers as well. I'm leaving this open to gather more feedback, but we won't do anything on it yet.

[2018-06-08 21:37] muratg commented on #848
@ryanbrandenburg benchmarks project targets 2.2 now. Do you think we should multi-target, or is this good?

[2018-06-08 21:39] muratg commented on #854
Putting this as an investigate in 2.2.0 and assigning to @pan-wang.  Pan is on email with @sepehr1014

[2018-06-08 21:42] muratg commented on #857
Did you install ANCM on the VM?  (You need to do it after IIS installation.)

You can check and see if `c:\windows\system32\inetsrv\aspentcore.dll` exists.

[2018-06-08 21:48] muratg commented on #890
@shirhatti could you take another look?

[2018-06-08 21:51] muratg commented on #891
@pakrym are you talking about https://github.com/aspnet/IISIntegration/blob/dev/src/AspNetCoreModuleV1/AspNetCore/aspnetcore_schema.xml#L26?  This would be breaking, no?

Unless you have a good reason, we're unlikely to change V1 schema from now on.

[2018-06-08 22:06] muratg commented on #899
@shirhatti Could you take a look?

[2018-06-08 22:08] muratg commented on #828
This is fixed now.

[2018-06-08 22:08] #828 closed

[2018-06-08 22:17] ryanbrandenburg commented on #848
I would still prefer that we separate samples test apps and benchmarks, but now that it's not a technical issue I won't be too broken up if we kill this issue.

[2018-06-09 15:54] kanadaj opened #903 "Bad Gateway on AspNetCoreModule with ErrorCode 2147954552 on Azure"
Hi,

I'm trying to install an ASP.NET Core 2.1 application on an Azure App Service which uses .NET Framework 4.7.2 and EntityFramework 6.

The application starts up as expected, with the following stdout:
[code]

At which point the application seems to receive no new requests, and the page returns

Looking into the FREB logs, the process stops at

[code]

This happens on both controller actions an