[2017-06-14 16:37] cvetyab commented on #384
@GuardRex thank you, however I am still getting the same error running the updated version you posted

[2017-06-14 16:37] GuardRex commented on #384
Is the downloaded executable named `DotNetCore.1.0.4_1.1.1-WindowsHosting.exe`?

[2017-06-14 16:38] GuardRex commented on #384
I used the link that we have there that leads to `https://go.microsoft.com/fwlink/?linkid=844461`

[2017-06-14 16:41] cvetyab commented on #384
Sorry for the stupid question but do I need to put that executable in some specific folder or run it first?

[2017-06-14 16:43] GuardRex commented on #384
No specific folder AFAIK. You probably need to run it as an administrator, but one of the dev team members would know for sure if that could be a blocker. I always do the install as an admin, so I'm not sure if it will :boom: if you're logged in as an ordinary user.

[2017-06-14 16:43] cvetyab commented on #384
@GuardRex never mind I figure it out the exe was in a different folder. Thank you!

[2017-06-14 16:44] GuardRex commented on #384
AH ... very good. Thanks again for point this problem out with the doc!! :smile: :+1:

[2017-06-15 20:47] mikaelm12 commented on #371
Can this be removed from the Cookies sample now https://github.com/aspnet/Security/blob/dev/samples/CookieSample/Startup.cs#L17-L21 @Tratcher

[2017-06-15 20:49] Tratcher commented on #371
True, but the sample is more helpful if we leave it in.

[2017-06-16 04:24] cihadsevim commented on #381
Any update on issiue?

[2017-06-16 10:23] sabiland commented on #311
Damn in my case calls to Redis started to timeout (2 minutes) after 30 minutes...

[2017-06-16 14:40] wags commented on #369
Hi @Tratcher, do you know anyone else that might be able to point me in the right direction?

[2017-06-16 16:12] pan-wang commented on #369
error code 0x800705b4 means "This operation returned because the timeout period expired". it indicates the backend did not response on time (default timeout value is 2 minutes). You can confirm this timeout by enabling IIS FREB log (only log 502.x error).  I can take a look at the FREB log if you need help.
You application seems to have scalability issue. You may want to turn on Kestrel log to see

[2017-06-16 17:50] wags commented on #369
@pan-wang thank you for the tip! I will set up that IIS FREB log and try to pinpoint exactly where it is failing. Part of the app retrieves data from an API and I have noticed some occasional extreme latency on its responses. There might be a pattern there.

[2017-06-16 19:29] Tratcher commented on #381
@cihadsevim One likely issue with your redirects is that IIS Express uses non-default ports for https (e.g. 44300-44399). Your redirect appears to send the client to http://localhost/, which uses the default 443 port.  When you start your app under the debugger it sends a request to test if your site is up, but it gets redirected to http://localhost:443/ which IIS Express isn't listening on so it

[2017-06-19 00:12] cihadsevim commented on #381
I'll try and feedback it.

[2017-06-19 00:12] #381 closed

[2017-06-19 13:36] armitagemderivitec commented on #111
@1amirjalai did you find a solution to this. I am using AWS Cloudfront and experienced the same issue because the x-forward-proto header is removed. Any insights you've had would be appreciated.

Thanks

[2017-06-19 13:52] 1amirjalai commented on #111
@armitagemderivitec

the answer is  [here ](https://stackoverflow.com/questions/43492923/asp-net-core-parameter-count-mismatch-between-x-forwarded-for-and-x-forwarded-pr/44632440#44632440) at stackoverflow

I found a solution just add this code on you configureservices

[code]
and the on your basecontroller or somewhere else use this code for getting real ip address if you are behind cloudflare an

[2017-06-22 22:33] Tratcher opened #385 "Handle ANCM's graceful shutdown request"
See https://github.com/aspnet/AspNetCoreModule/issues/115, aspnet/Hosting#846

[2017-06-22 22:35] Tratcher commented on #385
@muratg recommended for 2.0.

[2017-06-22 23:03] Eilon commented on #385
I talked to @Tratcher and we definitely want this in 2.0.0. The work on our side should be fairly small (0.5 days).

[2017-06-23 13:36] Kuqd commented on #226
👍

Not supporting overlapped recycling is a regression.

[2017-06-26 20:26] muratg commented on #332
@zemien 1.0.1 NetCore.App is no longer supported. Could you try 1.0.5 or 1.1.2 instead?   Also, it would be useful to try this with VS2017 templates instead.

[2017-06-26 20:27] muratg commented on #339
@ofersagi could you provide a simple repro app and post it on GitHub?

[2017-06-26 20:30] muratg commented on #361
Closing as this was done in preview1.

[2017-06-26 20:30] #361 closed

[2017-06-26 20:33] muratg commented on #365
@Tratcher could you please summarize the issue?

[2017-06-26 20:37] muratg commented on #374
Could be any of the reasons. Did you install AspNetCoreModule on IIS for example? (It comes with Windows Server Hosting Bundle which you can find at https://www.microsoft.com/net/download/core#/runtime)

[2017-06-26 23:02] tkalayci commented on #332
I am having a similar issue. I have published a NetCore console app to an Ubuntu host. However I am getting an "invalid runtimeconfig.json" error when I try to run the application

runtimeconfig.json file content is:

{
  "runtimeOptions": {
    "framework": {
      "name": "Microsoft.NETCore.App",
      "version": "1.1.2"
    }
  }
}

and dotnet --info  is:

NET Command Line Tools (1.0.4)
Product

[2017-06-27 20:21] #385 closed

[2017-06-27 20:23] JunTaoLuo opened #387 "Add functional test coverage for ANCM shutdown"
Following up to https://github.com/aspnet/IISIntegration/issues/385. Once the ANCM changes for https://github.com/aspnet/AspNetCoreModule/issues/115 are available, we should add a functional test for ANCM shutdown.

[2017-06-28 08:22] toburger opened #389 "Azure Web App: Environment variables provided in the arguments attribute aren't interpreted anymore"
I use the following library to host my web application: https://github.com/SuaveIO/Suave.IIS

The hosting port gets provided via:
`arguments="%ASPNETCORE_PORT%"`

Since yesterday everything worked normally. The port was parsed and the app worked flawlessly.
But suddenly I've got the dreaded 502 gateway error.

After some debugging I found the reason of the error:
The environment variable doesn't g

[2017-06-28 11:07] Tratcher commented on #389
This issue was moved to aspnet/AspNetCoreModule#117

[2017-06-28 11:07] #389 closed

[2017-06-28 12:15] IonRobu commented on #272
I have Windows Server 2012 x64 (no R2, no SP), i tried to install Windows Server Hosting 1.0.5&1.1.2, but i received "Error 0x80072ee7: Process returned error: 0x2ee7". I have installed vc_redist.exe already, being administrator on that machine. It seems to install AspNetCoreModule, but not runtime. Any ideas?

[2017-06-28 16:16] joeloff commented on #272
@IonRobu The runtime install in the bundle will attempt to detect the VC redist. There was an issue with a VC redist release around the time of VS2015 Update 3 RC where the registry keys it wrote were absent, causing the runtime to think that vc_redist wasn't present and then attempting to install an older version of it. That is most likely the reason for the failure.

Two asks
1. There should be

[2017-06-29 10:06] IonRobu commented on #272
@joeloff You're right, i pre-installed vc_redist 14.0.23026, but runtime 1.0.5-1.1.2 requires 14.0.24215 version. Because was not there, it tried to download it during install -> i have no internet on that machine -> setup failed. Questions: 1. is it possible to embed vc_redist in runtime setup? or 2. is it possible to display explicit error messages when setup fails?

Thanks!

[2017-06-29 14:57] joeloff commented on #272
@IonRobu In 2.0.0 we've removed the vc redist dependency, but for 1.0.0 there's unfortunately not much we can do unless we ship a rebuild (that's very unlikely). The big problem with surfacing a decent error message is that it's coming from a nested bundle (the redist is nested into the runtime which in turn is nested into the server host).

The error you received is from the runtime trying to go

[2017-06-29 16:11] IonRobu commented on #272
Oh, but this is enough, to eliminate vc_redist dependency! It's a good thing! So, this effort, to solve the problem in 1.x, probably has no sense, since 2.0 is knocking on the door.

[2017-06-30 10:34] johnstaveley commented on #269
How did you find out the issue? I have the same problem but with nothing useful in either stdout or the event log I have no idea how to debug this?

[2017-07-03 23:42] PinpointTownes opened #390 "IISMiddleware shouldn't do automagical authentication"
Another oddity I discovered when torturing my ASOS port: `IISMiddleware` automagically populates `HttpContext.User` for every request (and you can't even disable it).

It's extremely weird, 'cause it's something that is already done by `AuthenticationMiddleware`, so there's really no reason to do that again in the IIS integration stuff.

/cc @Tratcher @HaoK

[2017-07-03 23:52] PinpointTownes opened #391 "Add an option allowing to configure the scheme/display name associated with the Windows scheme"
`IISMiddleware` registers the `Windows` scheme using the hardcoded `null` display name. Yet, there are cases where you want to specify a display name so the scheme appears in the external schemes list.

Please add an option to make the display name configurable (and maybe the scheme name too).

https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IISIntegration/IISMidd

[2017-07-05 10:11] razzemans commented on #365
Meanwhile I was able to do a Memory dump on Azure. I have tried analyzing it myself but can't seem to get that to work. @Tratcher is there anyway someone can have a look and if yes, can I share it privately?

[2017-07-05 12:36] razzemans commented on #365
So I'm a bit further and below is the output of using !analyze -v. I will try to get more info but I'm not experienced in using Windbg.

[code]

[2017-07-05 14:50] raRaRa commented on #365
Any of you using Azure Storage? My app was failing because I had over 700 threads running at the same time, causing some kind of deadlock.

In my memory dump I found out that the Azure storage calls were causing it. The Azure Storage package is dependent on OData, which isn't asynchronous yet. I had to write my own Azure storage table client to get it fixed.

[2017-07-05 17:41] Tratcher commented on #390
It has always done this and so has WebListener, disabling it now would cause regressions. The hosts have been treated a bit different in that the identity is available for you from the very beginning of the request. You don't even need the auth middleware for this host auth to work (in most cases).

[2017-07-05 17:50] PinpointTownes commented on #390
With a **fundamental** difference: you could disable it in 1.x: https://github.com/aspnet/IISIntegration/blob/1.0.0/src/Microsoft.AspNetCore.Server.IISIntegration/IISOptions.cs#L17.

... in 2.0, you can't.

And if it did that, it was because of the inherent design of the authentication middleware, that all used to set `HttpContext.User` when active authentication was enabled.

Now that this concep

[2017-07-06 03:18] TechHome-fuyanwen opened #392 "running aspnetcore app to azure app service suddenly return 502.5"
Development environment:
dotnet version 1.0.0-preview2-003131
VS2015

A few days ago my application was normal，suddenly，service return HTTP Error 502.5 . I re-built an app service in azure, and deploy  the default VS2015 webapp template, but the error still exists。

I use KUDU to view the log, the error is as follows:
In Eventlog.xml:
      `Application 'MACHINE/WEBROOT/APPHOST/TECLINK' with physi

[2017-07-06 03:43] Tratcher commented on #392
It shouldn't be trying to bind to http://localhost:5000 in azure/IIS.

Why are you still using 1.0 previews? We'll need you to repro this on released 1.0 or 1.1 bits before we can investigate.

[2017-07-06 03:56] TechHome-fuyanwen commented on #392
@Tratcher hi, i use  the default VS2017 webapp template and dotnet sdk version is 1.1, but the problem still exists; then i try deploy the webapp to other azure account ,it's work ok!

[2017-07-06 04:14] Tratcher commented on #392
Are the logs much different?

[2017-07-06 04:58] TechHome-fuyanwen commented on #392
@Tratcher there are some different place,;
the normal one :
`warn: Microsoft.AspNetCore.Server.Kestrel[0]
      Unable to bind to http://localhost:30464 on the IPv6 loopback interface: (Error -4090 EADDRNOTAVAIL address not available)
Hosting environment: Production
Content root path: D:\home\site\wwwroot
Now listening on: http://localhost:30464
Application started. Press Ctrl+C to shut down.`

th

[2017-07-06 05:28] Tratcher commented on #392
@halter73 port conflicts?

[2017-07-06 13:24] PinpointTownes commented on #390
@Tratcher any chance this could be fixed in 2.0? It would surely be a blocker for me, as I only use WIA with passive authentication (it's way too risky to enable automatic authentication).

[2017-07-06 21:19] danobri commented on #227
@muratg - I am running into this issue in a SPA on a server where I have created the recommended "registry hive" for the app pool.  If a user is inactive on the site for some period of time they get this error when making an API call that requires an AntiForgeryToken.  If the user refreshes the page, the issue goes away.   This is a brand new test site that very few users have access to, so not cl

[2017-07-06 21:55] muratg commented on #227
@danobri Are you on 1.x or 2.x?  Could you make a simple repro app with instructions and push on a github repo for us to investigate?

[2017-07-06 22:17] danobri commented on #227
I'm on 1.x.  However, it occurred to me that I had not reset IIS after running the script to create the registry entries, so tried that, and have not been able to reproduce since.  So seems like the registry entries resolved the issue after all, but I needed to reset IIS to take the changes.  If the problem resurfaces I'll create a new issue and provide a repo for reproducing.  Thanks!

[2017-07-06 22:27] muratg commented on #227
@danobri sounds good and happy that you've worked it through!

[2017-07-07 04:50] Tratcher commented on #390
We're almost out of time for 2.0. We looked at this today and decided requiring the auth middleware for windows auth to work wasn't a regression we're willing to make.

At best we could put AutomaticAuthentication back to toggle setting HttpContext.User, but it's worth noting WebListener never had that option.

[2017-07-07 06:59] mikebridge commented on #252
I'm getting this error too in a `.NETCoreApp 1.1` application deployed to an App Service on Azure , and I've enabled every debugging thing I can find and I still can't see what's going on.  This was working until I redeployed it.

After executing `dotnet publish` I edited this line in "web.config":
    <aspNetCore processPath="dotnet" arguments=".\Api.dll" stdoutLogEnabled="true" stdoutLogFile="%h

[2017-07-07 07:01] razzemans commented on #365
Forget about my dump, that one is from an instance that was working fine according to Azure support. Guess I accidentally made a dump from the wrong instance :(

@raRaRa let me check with my team. I know we use it for DataProtection but I think that is run only once on startup. Thanks for the information.

[2017-07-07 09:54] raRaRa commented on #252
@mikebridge I see this error for my apps as well. I don't think it's an actual issue. My apps are running fine on Azure with this initial error.

I would recommend adding more logging, e.g. in the Startup process to find out if something might be going on there.

[2017-07-07 10:08] PinpointTownes commented on #390
Then I'll boycott 2.0 for apps using WIA as the non-primary authentication mode (typically, any ASOS-based authorization server allowing users to connect via WIA or another provider).

I'll never take the risk of seeing a XSRF attack made possible in an API controller because of this insane design decision. You realize that it will set `HttpContext.User` even if you configure a totally different s

[2017-07-07 10:18] PinpointTownes commented on #390
And BTW, it really makes no sense: automatic authentication will be always enforced, but not automatic challenge that will require manually setting `DefaultScheme` or `DefaultSignOutScheme` :trollface:

I know 2.0 is really near, but that's not a reason for adopting a wrong design. You must consider the security and functional aspects of this decision (and optionally, take consistency into account

[2017-07-07 12:56] davidfowl commented on #390
This is too big of s breaking change to make this late. I agree that it should be fixed but windows auth has worked like this  since forever. Do think it's worth migrating people to do things the right way by putting the middleware in but the old behavior needs to stay the same for now

[2017-07-07 13:05] PinpointTownes commented on #390
So you were fine breaking tons of cool scenarios that used to be possible with the authentication middleware in 1.0 (e.g branching) but asking folks that want to use WIA to add `app.UseAuthentication()` is totally unacceptable? :sweat_smile:

At this point, wouldn't that be simpler if `AuthenticationMiddleware` was automatically registered in the pipeline?

[2017-07-07 13:08] davidfowl commented on #390
Yes.

Yea, it would be, but that's a change that's needs discussing as well. We could do it in the `WebHost.CreateDefaultBuilder` uber method but that leads to discussions around what if you want to run before it. We'll see if it makes sense in 2.1.

[2017-07-07 13:09] PinpointTownes commented on #390
At the very least, we need an option to disable the automatic authentication. It's too risky.

[2017-07-07 13:16] davidfowl commented on #390
Seems like something we could add in 2.1. The default windows principal isn't new behavior.

[2017-07-07 13:18] PinpointTownes commented on #390
Read the first posts, you could disable it in 1.0. It's clearly a regression.

[2017-07-07 13:31] davidfowl commented on #390
@Tratcher we should add the AutomaticAuthentication flag back since IISIntegration and WebListener are special in this regard WRT windows authentication.

/cc @muratg @Eilon

[2017-07-07 13:39] PinpointTownes commented on #390
I'd be fine with a flag, even if that's not consistent with the rest of the stack. But as I said, it won't really work as you expect. The Negotiate dance won't be automatically started so you'll always get a null identity until you update the default schemes OR explicitly call `ChallengeAsync("Windows")`.

[2017-07-07 13:43] davidfowl commented on #390
I think the issue is the windows auth itself isn't consistent with the rest of how the auth stack was changed to work.

I think that's well understood. Isn't that what you're asking for?

Obviously, this flag would be true by default...

[2017-07-07 16:23] Tratcher opened #395 "Microsoft.AspNetCore.Server.IISIntegration missing baseline and breaking change files"
Needed for the 2.0 sign-off.
@muratg

[2017-07-07 18:20] halter73 commented on #392
The -4090 EADDRNOTAVAIL IPv6 failure is expected for app services.

Normally in the case of port conflicts, we would expect an -4091 EADDRINUSE, but in the case the port has already been reserved for something else by netsh or similar, we have seen -4092 EACESS [in the past](https://github.com/aspnet/KestrelHttpServer/issues/1265).

[2017-07-07 18:31] #390 closed

[2017-07-08 01:19] moozzyk commented on #252
EADDRNOTAVAIL for IPv6 on Azure is benign/informational and there are changes in 2.0 to not log the stack trace. See more details here: https://github.com/aspnet/KestrelHttpServer/issues/1001

[2017-07-08 05:39] TechHome-fuyanwen commented on #392
last day , i buy a Technical Support from azure , he said : the version on which my application is running is 2.0 preview version, which is only supported over github/forums. my issue is seems to be because of runtime version of the application, but they can not downgrade to older version. so they could not troubleshoot the issue further.

[2017-07-08 06:34] mikebridge commented on #252
@raRaRa & @moozzyk thanks, that at least eliminates some of the potential issues.

I found this opaque error but no idea what it means:

[code]

Maybe [this](https://stackoverflow.com/questions/43902658/asp-net-core-web-app-http-error-502-5-process-failure-on-visual-studio-15-2).

Running `dotnet --info` from the azure portal console log gives me this:

[code]

In development I'm running 1.0.4---i

[2017-07-08 06:57] mikebridge commented on #252
Ok, the issue is that I need to explicitly modify the reference in `.csproj` from `netcoreapp1.1` to `netcoreapp1.1.2`:
[code]
This seems to bring up the site with no errors.

[2017-07-08 07:46] dallancarr commented on #392
That command line seems a little suspect
[code]

[2017-07-08 19:19] robertmclaws commented on #252
I'm experiencing the same issue in Azure on a ASP.NET Core 2.0 Preview 2 app, and this is the error I'm getting in STDOUT:
[code]
First thing that jumps out is that this version was installed using a MacOS/Linux manifest, but I've confirmed that this running on Windows.

I should point out that my .csproj file shows: `<TargetFramework>netcoreapp2.0</TargetFramework>`

Any ideas?

[2017-07-08 20:23] robertmclaws commented on #252
**UPDATE:** I solved the problem by setting my RuntimeIdentifier to the same runtime as my Azure Web App, (`<RuntimeIdentifiers>win10-x64</RuntimeIdentifiers>`) and redeployed. This did a full XCOPY deployment to Azure, which executed just fine.

I'm not sure that this solves the core underlying issue in Azure, but at least my code is working.

As an aside, it seems obvious that VS2017.3 should de

[2017-07-08 20:38] davidebbo commented on #252
@robertmclaws some possibly related discussion on https://github.com/Azure/app-service-announcements-discussions/issues/2

[2017-07-08 22:27] robertmclaws commented on #252
Thanks @davidebbo!

[2017-07-10 08:41] MarcusKohnert opened #398 "ANCM sends 502.3 StatusCodes"
__Problem:__
ASP.NET Core Module sends 502.3 Status Codes. The behaviour is not constantly reproducible. The same request sometimes works, sometimes fails with 502.3.
This behaviour is observable on different machines in the same network.

ModuleName: AspNetCoreModule
Notification: EXECUTE_REQUEST_HANDLER
HttpStatus: 502
HttpReason: Bad Gateway
HttpSubStatus: 3
ErrorCode: Access is denied. (0x8007

[2017-07-10 12:11] wags commented on #369
After digging into this one further, and with some luck, I believe the culprit was the antivirus solution on the server. The web server is a VM and the antivirus solution is running at the VMware host level.

[2017-07-10 13:04] Tratcher commented on #398
That impersonation approach doesn't work. See https://github.com/dotnet/corefx/issues/9996#issuecomment-307870746. There is no support for async impersonation.

[2017-07-10 13:36] MarcusKohnert commented on #398
So this will work then?

WindowsIdentity.RunImpersonated(
    windowsIdentity.AccessToken,
    () => { next.Invoke(context); }
);

[2017-07-10 13:57] Tratcher commented on #398
That's worse, you're invoking next without waiting for the result. You'd have to do `next.Invoke(context).Wait();`, but that would cause other terrible things to happen to your app. Consider moving the impersonation to where you need it rather than trying to impersonate for the entire pipeline.

[2017-07-10 15:04] MarcusKohnert commented on #398
Ok, thanks for your help!

So if I rethink the issue...
* The executing Thread is required to call the database on behalf of the authenticated windows user (integrated security)
* Async impersonation is not yet working
* --> So all my database calls (EF core) must be sync
* --> All my database calls must be wrapped in WindowsIdentity.RunImpersonated()

Is that the correct conclusion?

[2017-07-10 15:51] Tratcher commented on #398
Yes, that covers it.

[2017-07-10 17:41] #395 closed

[2017-07-13 16:52] PinpointTownes commented on #391
@Tratcher not having this option will be blocking for me for at least 3 projects. Is it too late to send a PR adding a `DisplayName` property to `IISOptions`? (and optionally, an `AuthenticationScheme` property)

[2017-07-13 17:13] Tratcher commented on #391
If you're blocked go ahead and send the PR. We'll see if we can get it approved.

[2017-07-13 17:13] Tratcher commented on #391
rel/2.0.0 branch

[2017-07-13 17:16] PinpointTownes commented on #391
Okay, will do that tonight.

[2017-07-13 17:32] MJomaa commented on #390
Does that mean that the 2.0 RTM release is near? Q3 is still until 30th of September.

[2017-07-13 18:02] Tratcher commented on #391
Tentatively approved, I'll do the PR today.

[2017-07-13 22:37] #391 closed

[2017-07-13 22:38] Tratcher commented on #391
Let me know if you have a compelling reason to set the auth scheme, but not for 2.0.

[2017-07-13 22:41] PinpointTownes commented on #391
@Tratcher haha no, I can live with the scheme not being configurable :trollface:

Do you plan to port the fix to WebListener?

[2017-07-13 23:04] Tratcher commented on #391
Not sure. It wasn't configurable before, and we still have an open item (that I can't find at the moment) about making WebListener work with individual schemes like it used to. Any plans to use WebListener?

[2017-07-14 17:18] Eilon commented on #390
@MJomaa - very near! We're mostly spending time doing verification on the 2.0 RTM release, and only taking absolutely critical fixes (such as bad crashes, inadvertent breaking changes, etc.).

[2017-07-17 14:56] saf-itpro opened #401 "Cannot connect to Db after publishing ASP.NET Core to IIS"
1. **Application**: From this [Official ASP.NET tutorial][1]
 2. **Published** to IIS 7.5 on Windows 7 (64bit): Using this [Official ASP.NET doc][2]
 3. **Db used**: `SQL Server EXPRESS 2012` (instead of LocalDb)
 4. App works fine inside `VAS2017`
 5. Both `VS2017`, Db, and published app are on the same machine
 6. Db Connection string is using **windows Authentication** and works fine when runni

[2017-07-17 15:45] Tratcher commented on #401
Logs? https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core-module
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging

[2017-07-20 12:52] omerv2 commented on #365
Same here! When I publish my app on prod config, after a while the program crashes randomly and starts to respond with 50x erros, I got stuck. Thanks

[2017-07-22 20:54] robertmclaws commented on #252
Did this issue ever get fixed in production?

[2017-07-24 11:00] KG1805 opened #403 "Can't install .NET Core Windows Server Hosting bundle (DotNetCore.1.0.5_1.1.2-WindowsHosting.exe) in windows server 2008 R2"
I tried to install the .NET Core Windows Server Hosting bundle on one of our windows server 2008 r2 servers. The install failed; I suspect it is because the server does not have access to the internet.

1. I already installed "vc_redist.x64.exe" (ver: 14.0.23026.0) still having issue to install.

2. windows server hosting is installed and I can view in the program and features

3. .net core run ti

[2017-07-24 15:47] Tratcher commented on #403
@joeloff ?

[2017-07-24 15:50] joeloff commented on #403
Thanks, I'll take a look at the logs and report back

[2017-07-24 16:37] joeloff commented on #403
.It appears that the .NET Core runtime redist failed:

**[053C:073C][2017-07-21T18:54:50]i319: Applied execute package: DotNetRedistLts_x64, result: 0x80072ee7, restart: None**

@KG1805 there should be another log for the .NET Runtime installer that should have more details. The likely failure (without seeing the runtime log) is that the runtime will try to download the VC 14.x redist and if it do

[2017-07-24 17:54] joeloff commented on #403
@KG1805 I noticed your comment from earlier about the VC redist. There was an issue around the time of VS2015 Update 3 RC where the copy of the redist that shipped with VS actually failed to write a registry key that's needed to detect if it's installed. What we've seen in a few instances is that .NET Core runtime installer would think that the redist is missing, when in fact a newer version is in

[2017-07-25 02:22] TechHome-fuyanwen commented on #392
I changed my app service, and it's worked fine!

[2017-07-25 02:22] #392 closed

[2017-07-25 09:11] davidebbo commented on #252
I don't remember all the details on this issue, but I think Azure production is fully deployed with all known fixes.

[2017-07-25 10:29] KG1805 commented on #403
@joeloff I have attached the .NET runtime log and server hosting log.
Please check.

[dd_DotNetCoreWinSvrHosting__20170721185409.log.docx](https://github.com/aspnet/IISIntegration/files/1172834/dd_DotNetCoreWinSvrHosting__20170721185409.log.docx)
[dd_DotNetCoreWinSvrHosting__20170721185409_000_AspNetCoreModule_x64.log.docx](https://github.com/aspnet/IISIntegration/files/1172836/dd_DotNetCoreWinSvr

[2017-07-25 16:23] joeloff commented on #403
@KG1805 Thanks for the logs. The .NET Runtime log confirms that it failed to download the required VC redist:

[1120:0624][2017-07-21T18:54:50]e000: Error 0x80072ee7: Failed attempt to download URL: 'https://download.microsoft.com/download/1/F/0/1F01DD22-748C-41A7-89DE-54D64355CDA6/vc_redist.x64.exe' to: 'C:\Users\ADMINI~1\AppData\Local\Temp\2\{1828EDAF-686E-4E7C-B48F-308C84597DCD}\VC_redist.x64.e

[2017-07-28 13:20] JD-Robbs commented on #392
@TechHome-fuyanwen Can you provide some more details, please? I am facing the same issues.

[2017-07-28 22:03] jcmrva commented on #368
I encountered this issue today - adding <RuntimeFrameworkVersion>1.1.1</RuntimeFrameworkVersion> to *.csproj took care of it.

Not sure which link I followed to get the file originally, but DotNetCore.1.0.4_1.1.1-WindowsHosting.exe is still floating around.

[2017-07-31 08:11] KG1805 commented on #403
1. After uninstalled all my old components (redist & serverhosting)
2.  Downloaded and Install redist (14.0.24215.1), e.g http://go.microsoft.com/fwlink/?LinkID=615460&amp;clcid=0x409
3. Install window server hosting (DotNetCore.1.0.5_1.1.2-WindowsHosting.exe)

My issues are resolved.

@joeloff. Thank you for all your assistance.

[2017-07-31 10:04] #403 closed

[2017-08-08 08:12] PraisyA opened #405 "HTTP Error 500.19 - Internal Server Error The request page cannot be acessed because the related configuration data for the page is invalid"
Hello there ,
 I face a problem when publish the project into local IIS 10.0 .
Issue :
   I have develop a sample **Angular 4 and Webapi** project in VS2017 , when i run the project from Visual studio its working fine even Azure also working . I publishing this app and try to run this from localhost with different port number and i set the **DefaultAppPool is Non manage code**  . Then i run the ap

[2017-08-08 13:13] Tratcher commented on #405
You don't need runAllManagedModulesForAllRequests. I assume those backticks around configuration aren't in the original?
You'll get this error of the module isn't installed, like if you installed your tooling before installing iis. Try a repair on the tooling.

[2017-08-08 13:27] PraisyA commented on #405
Hello Tracher , thank you for your reply .
i have manually added that   **runAllManagedModulesForAllRequests="true"**  i removed this and tried but same issue came.

What tooling i have to repair? can you please tell me that .

Thanks.

[2017-08-08 14:08] Tratcher commented on #405
A full repair of VS 2017 would be the simplest.

[2017-08-08 14:16] PraisyA commented on #405
Hello Tratcher ,
 It is working in developer machine , but when publish this project to another machine ( which is does not have visual studio  just like client machine ) for testing , there it is not working .  have to install any components in client machine ?

Thanks.

[2017-08-08 14:20] Tratcher commented on #405
Yes, you need the Windows Server Hosting installer from https://www.microsoft.com/net/download/core#/runtime

[2017-08-08 14:36] PraisyA commented on #405
Hi,
After install Windows Server Hosting installer i am getting different Error . See below pic.
![erroriis](https://user-images.githubusercontent.com/30825040/29077121-f275c4d0-7c74-11e7-856c-eec5eb885e95.png)

Thanks.

[2017-08-08 15:25] Tratcher commented on #405
What do the event logs say?

[2017-08-09 08:52] PraisyA commented on #405
That error is 👍

**Application 'MACHINE/WEBROOT/APPHOST/BIZSIGHTN' with physical root 'C:\inetpub\TestSite\' failed to start process with commandline '"dotnet" .\sample.dll', ErrorCode = '0x80070002 : 0.**

Thanks

[2017-08-09 10:17] PraisyA commented on #405
Hello Tratcher ,
Application is running fine now , i just restart the client machine after installing the Windows Server Hosting installer . Thank you for your Wonder full support ...

Thanks
Victor.A

[2017-08-11 04:15] jchadwick commented on #252
I'm running into this issue, too, although I'm trying to use the .NET Core 2.0 RTM (26423) bits.
Logs show this error:

  An assembly specified in the application dependencies manifest (MyApp.deps.json) was not found:
    package: 'Microsoft.ApplicationInsights.AspNetCore', version: '2.1.1'
    path: 'lib/netstandard1.6/Microsoft.ApplicationInsights.AspNetCore.dll'
  This assembly was expected to

[2017-08-11 05:19] Tratcher commented on #252
The 2.0 RTM Azure deployment has only just started. https://github.com/Azure/app-service-announcements-discussions/issues/6

[2017-08-11 13:43] jchadwick commented on #252
Figured that was the case.  Thanks for the update - will watch that thread.

[2017-08-16 15:25] CharlBest opened #406 "HTTP Error 502.5 - Process Failure" asp.net core 2 error in Azure"
![image](https://user-images.githubusercontent.com/6147400/29370954-3927974a-82a7-11e7-8a9c-e762e64ed078.png)

I updated my projects from .NET Core 1.1 to .NET Core 2.0.
I then deploy my API app and Web app via Visual Studio 2017 15.3 web deploy and now have these errors when visiting my apps.

I have tried the possible fix mentioned in this Stack Overflow post but it doesn't seem to work. https:/

[2017-08-16 17:44] pan-wang commented on #406
@CharlBest  Could you please turn on logging from web.config and collect Windows event log? Those logs will give the hint on why the failure happens.

[2017-08-16 18:14] CharlBest commented on #406
@pan-wang how would I do that? Firstly I don't have a web.config file in my solution and secondly not sure what code to write. Can you please specify?

[2017-08-16 18:20] degrootsde commented on #256
Maybe completely off topic, but I encountered this same issue when I added a Dotnet Core host as an existing website to a solution. VStudio interpreted is as an .Net 2.0 application.
It should be added as an existing project. Maybe this helps anyone looking for the 0x80070002 : 0 exception code.

[2017-08-16 18:23] CharlBest commented on #406
@pan-wang I got this from my Log Stream on Azure. Hope it helps
![image](https://user-images.githubusercontent.com/6147400/29378813-bdc42b3a-82c0-11e7-9c3c-4ed060fd9f25.png)

[2017-08-16 18:25] JunTaoLuo commented on #406
The web.config is produced by the publish step if none is provided in the solution. You need to modify the `stdoutLogEnabled` value in the line line
[code]
to `true` and make sure the directory specified in `stdoutLogFile` exists.

[2017-08-16 18:32] davidebbo commented on #406
More specifically, you'll need to use Kudu Console (https://{yourapp}.scm.azurewebsites.net/), go to site\wwwroot, and edit the web.config you see in there.

[2017-08-16 18:35] CharlBest commented on #406
Thanks @davidebbo. I used the new awesome App Service Editor (Preview). Really really nice. Feels like VS Code on the web. Very impressed. Anyway got this message in my logs:

Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'Microsoft.AspNetCore.Hosting.Abstractions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The located assembly's manifes

[2017-08-16 18:37] JunTaoLuo commented on #406
This could be potentially a problem with the runtime store containing mismatching binaries. Let me see if I can reproduce the issue.

[2017-08-16 18:38] CharlBest commented on #406
Ok cool. Thanks @JunTaoLuo Let me know if I can do something :)

[2017-08-16 18:41] davidebbo commented on #406
See https://stackoverflow.com/questions/44550096/asp-net-core-2-0-on-azure-results-in-a-502-5. That issue relates to having old things leftover from previous 1.x deployment. Can you try wiping out wwwroot and deploying clean?

[2017-08-16 19:04] CharlBest commented on #406
Yayyyyy @davidebbo Its working. Thank you.
First I couldn't understand why you would want me to wipe the wwwroot folder as it only contains static web stuff. Then I saw that all die dll are also in a folder called wwwroot.
Secondly I removed the wwwroot folder (not emptying it and leaving the empty folder) and got a deployment error.
But it looks like its working now. Tested with my API app and wi

[2017-08-16 19:57] davidebbo commented on #406
Awesome! @pan-wang, we can probably close this, and hopefully others running into it will find the issue.

Unfortunately, it's more an msdeploy issue (leaving dirty files) then an Azure or Core issue.

[2017-08-16 19:58] #406 closed

[2017-08-17 01:38] mxa0079 commented on #231
This is also happening with EF based identity, when calling `SignInManager.IsSignedIn(ClaimsPrincipal)` specifically when accesing the `ClaimsPrincipal.Identities` property. Is this a know issue? It seems that the cause is the same, but the solution provided does not apply.

[2017-08-18 15:11] Gabee01 commented on #176
In my case, changing the port I was using fixed it.. maybe that port was already busy

[2017-08-22 13:16] wags commented on #369
It is safe to close this issue. The problem was definitely on my end, and it was due to an outdated version of antivirus on the server that was incompatible with my VMware environment. I have not seen the problem since that got updated. Thanks!

[2017-08-22 13:16] #369 closed

[2017-08-22 13:18] PinpointTownes commented on #369
@wags glad you finally found the root cause of your issue!

Curious: what's the antivirus you're using? (you can PM me if you prefer)

[2017-08-22 15:44] danjohnso opened #407 "IIS Development Time Support not working for .NET Core 2"
Did you read the documentation? **Yes**
Did you include the snippet of broken code in the issue? **N/A**
What package versions are you using (you can see these in the project.json file)? **microsoft.aspnetcore.server.iisintegration 2.0.0**
What operating system are you using? **Windows 10 x64 (Version 1703, OS Build 15063.483)**
What version of IIS are you using? **10.0.15063.0**

I am running VS

[2017-08-22 20:01] Tratcher commented on #231
@mxa0079 please open a new issue in the Identity repo.

[2017-08-22 23:23] shirhatti commented on #407
cc @BillHiebert

[2017-08-22 23:31] BillHiebert commented on #407
VS sends a request with the Debug verb to have IIS start your process (via ANCM). It sounds like there isn't a handler for this verb. @shirhatti  - does IIS log any information which could be used to track this down?

[2017-08-23 01:39] dazhuangtage opened #408 "Asp.net core2.0 released to iis 7.5 do not run up"
Asp.net core2.0 released to iis 7.5 do not run up
Memory hurricane
Error message:
Application 'MACHINE / WEBROOT / APPHOST / Test.COM' with physical root 'D: \ wwwroot \ Test.com \' failed to start process with commandline 'dotnet. \ Test.Web.dll', ErrorCode = '0x80004005: 8000808c.
Error application name: w3wp.exe, version: 7.5.7601.17514, timestamp: 0x4ce7a5f8
Error module name: iisfcgi.dll, ver

[2017-08-23 02:00] danjohnso commented on #407
Tried that, nothing is generated by failed request tracing.  Tried for All Content, status codes 400-520.  Any other ideas?

[2017-08-23 04:13] shirhatti commented on #407
Try all status codes (100-999)

[2017-08-23 05:35] Tratcher commented on #408
Was this machine working before? Did you reboot it after the install?

[2017-08-23 05:41] dazhuangtage commented on #408
The server is running properly, IIS is running normally, did not upgrade to the Core2.0 program to run up no problem.

[2017-08-23 05:53] jkotalik commented on #408
Just to clarify, was the previous application working on an earlier version of ASP.NET core? For example 1.0 or 1.1?

[2017-08-23 06:36] dazhuangtage commented on #408
Did not upgrade to 2.0 before there is no problem.

[2017-08-23 12:12] wags commented on #369
@PinpointTownes Thanks!

We are using antivirus from Sophos. We were originally using their _Sophos Antivirus for VMware vShield_ product. As newer versions of VMware were released (6.0+), Sophos rolled out an entirely new solution called `Sophos for Virtual Environments`. In fact, the previous solution is facing end of life fairly soon, if not already.

After we did the upgrade to Sophos for Virt

[2017-08-23 13:54] paulirwin commented on #223
I am getting this with ASP.NET Core 1.1, .NET Framework 4.6.2, and IIS Express. After seeing the tip from @radenkozec about checking the event logs, it had this message:

```FailedRequestTracing module failed to create directory '\\?\C:\Users\Paul\Documents\IISExpress\TraceLogFiles\Docio\'. No logs will be generated until this condition is corrected. The problem happened at least 18 times in the l

[2017-08-23 14:31] danjohnso commented on #407
Now I get a trace.  I do see the DEBUG verb right away, but the ANCM is getting a 302 back from Kesterel so I can authenticate (OIDC).  Is DEBUG command getting lost because of that?  I can't upload the trace here, but I can send it to you if you want to see the whole thing.

[2017-08-23 15:24] tom-cognify opened #409 "Publish to IIS issue after upgrade to 2.0"
I upgraded a ASP.NET CORE 1.1 app that targets the full framework 4.6.2. Everything works fine in development running under IIS Express on win10. When I publish to our Windows 2012 R2 servers, the app fails to start and I'm getting this error in the sdout logs.

Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'System.Runtime.InteropServices.RuntimeInformation, Ver

[2017-08-23 15:44] Tratcher commented on #409
Can you run the published app from the command line?

[2017-08-23 15:46] tom-cognify commented on #409
no, I get the same error if I try to run at the command line

[2017-08-23 21:56] fpizarro commented on #406
Hi guys, today I had the same problem. My approach was specify Release X86 in the settings tab in the publish form in Visual Studio 2017.

I did this because the assemblies for deployment are stored in the local path for x86, you can find it on your machine: cd "%ProgramFiles(x86)%\dotnet\store"
![image](https://user-images.githubusercontent.com/7059843/29640300-e98d2dda-8823-11e7-8f40-db0e43ac4f4

[2017-08-24 17:03] Tratcher commented on #409
What does your csproj look like?

[2017-08-25 14:40] ddobric commented on #406
Hi all,

1. where is the physical path of '.\logs\stdout' ? Under LogFiles? Wher we have to create the folder stdout?

2. Previously we have used
UseSetting("detailedErrors", "true")
CaptureStartupErrors(true)
to output errors. Now this does not work anymore.

Thanks

[2017-08-25 15:36] danjohnso commented on #407
@BillHiebert @shirhatti any other ideas?  Would the trace be helpful?  Its odd the VS error box says it receives a 500 error back, but the trace is capturing a 302, seems like the error is happening somewhere else than in IIS or maybe the tool is mis-reporting

[2017-08-25 19:32] ddobric commented on #406
Thanks.

[2017-08-25 20:50] danjohnso commented on #407
Wow so it magically started working after I was messing around with publish settings for deploying to our staging environment.  Not sure what triggered it, but the web.config was updated to to use this path and arguments in the module:
processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt"

Before it was getting set to the .exe in the bin folder directory wit

[2017-08-25 21:02] dallancarr commented on #406
Should be from the approot. stout is generated automatically.

[2017-08-25 21:28] BillHiebert commented on #407
VS writes those values when you press F5 as this is the linkage between the ANCM module in IIS and your .net core application (via an intermediate process which VS owns). Odd that they weren't there before

[2017-08-29 06:03] Allann commented on #223
Thanks @paulirwin that helped me too.  And totally agree that this should be addressed.

[2017-08-30 16:04] jrmcdona opened #410 "Publish .NET Core 2.0 to Azure App Service - HTTP Error 502.5 - Process Failure"
Hello-
Cannnot seem to get past this error.

HTTP Error 502.5 - Process Failure

I have seen some other people mention it but nothing so far has worked.  I never had a 1.1 version of the app installed on this server.

Error from events.xml.
[code]

My csproj looks like this:

[code]

My web.config.   All of the stdout log files are empty.
[code]

Anything else you need to help me find the underlyi

[2017-08-30 16:08] Tratcher commented on #410
Your published web.config is wrong, it should not contain `%LAUNCHER_PATH% %LAUNCHER_ARGS%`. We need to figure out why the publish tool did not replace those.

[2017-08-30 16:09] Tratcher commented on #410
It should look like this: https://github.com/aspnet/IISIntegration/blob/1297798546b6aed8f591d1e1548a4374bc5b6613/samples/IISSample/web.config#L18

[2017-08-30 16:26] jrmcdona commented on #410
Oh man, I really thought that was going to be it.

It failed, error below.  I have my own web.config in the project fyi.  I am using a VSTS build definition.

Should I delete web.config and let the publish tool generate it?

[code]

[2017-08-30 16:30] Tratcher commented on #410
no, your web.config looks fine. there was an error on startup, you should run it under the debugger or enable logs in web.config.

[2017-08-30 16:44] jrmcdona commented on #410
In VS Code debugger it launches fine.

Enabled log files.  This is the error:
The application to execute does not exist: 'D:\home\site\wwwroot\Ambassadors.Web.Client.dll'

Seems the web.config arguments wants a better path to the DLL.

[2017-08-30 17:36] jrmcdona commented on #410
Ok, this particular issue seems to be resolved by the new web.config.   I now see the logs correctly which show my other issues.  Thanks

[2017-08-30 17:36] #410 closed

[2017-08-31 09:48] tomerisr commented on #409
Hi, Make sure you have all config files in the directory. I was having the same issue with the deployment of a windows service.

[2017-08-31 16:52] Tratcher commented on #223
@shirhatti where should this IIS Express issue be filed? https://github.com/aspnet/IISIntegration/issues/223#issuecomment-324339617

[2017-09-01 15:46] brentschmaltz opened #411 "Is SignInManager.GetUser() called cross process?"
The call below parses a value to obtain the handle to an NT resource. Can this be called cross process or cross machine?

https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IISIntegration/AuthenticationHandler.cs#L36

[2017-09-01 16:07] davidfowl commented on #411
The IIS module duplicates then handle into the child process it launches and passed the value via a header. There's no cross process call here if that's what you're asking...

[2017-09-01 16:30] brentschmaltz commented on #411
@davidfowl thanks, that's what I was looking for. Handles are unique within a process.

[2017-09-01 16:30] #411 closed

[2017-09-02 18:02] scionwest opened #412 "Running ASP.net Core 2.0 in a server cluster with IIS and Shared Configuration"
We are working towards deploying an ASP.Net Core 2.0 project onto our existing server cluster in AWS. The cluster uses IIS Shared Configuration and has _n_-App Pools. While reading [the documentation](https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core-module#aspnet-core-module-with-an-iis-shared-configuration), we found this little nugget of information that is a little vague.

Does

[2017-09-02 18:05] guardrex commented on #412
@Tratcher I'll open a doc issue if we need a topic revision when this is resolved.

[2017-09-02 20:21] Tratcher commented on #412
This issue was moved to aspnet/AspNetCoreModule#145

[2017-09-02 20:21] #412 closed

[2017-09-04 11:32] antonGritsenko commented on #201
Just small addition, we have application installed on many customers envs (more than 50 I think), but only one of them have a 502.3 issue with same symptoms as above: just error, nothing in event log. So looks like so env-related issue.

[2017-09-05 16:56] vamsimalla commented on #247
Thanks a Million that solved my issue :) :1st_place_medal:

[2017-09-07 17:45] danjohnso commented on #407
I think something is still broken in the tooling here.  I can't get the web.config to get the correct values written if I change the launch option between IISExpress and IIS.  It updates for changing to IIS Express, but not when going back to IIS.  I also have some projects which will not launch with this error:

![image](https://user-images.githubusercontent.com/852995/30177032-10fcac18-93ca-11e7

[2017-09-07 18:05] BillHiebert commented on #407
How have you configured your application pool? There is a bug (since fixed) in handling the authentication of the application pool. If it is configured to run a specific user, network service, or local service it exposes a bug in VS and you get that (unhelpful) error message

[2017-09-07 18:19] danjohnso commented on #407
Yes I do have it running as a specific user, is there another issue tracking that or a fix available?

[2017-09-07 18:31] BillHiebert commented on #407
The issue tracking it is here: https://developercommunity.visualstudio.com/content/problem/94448/error-when-using-development-type-iis-support.html

This fix is slated for the upcoming 15.4 release, I am not sure which preview build has it.

[2017-09-08 13:08] subprime opened #413 "CORS preflight for Authorization Header failed with IIS"
# Current situation
I'm running an ASP.NET Core 1.1 application as an API Backend and React application as an client frontend. For authentication and authorization i use OpenIdDict and jwt. The Bearer token is send in the Authorization Header.

Locally it works, but when i try to use the backend behind IIS the preflight request is made but the GET request failed with 500 response.

I The following

[2017-09-08 13:15] Tratcher commented on #413
What's in the application logs for your 500 responses?

[2017-09-08 13:21] subprime commented on #413
@Tratcher Nothing. It seems that behind IIS the Kestrel is never reaced with Authorization Header

[2017-09-08 16:18] evil-shrike commented on #14
Hi,
previously on full .net there was `System.Web.Hosting.HostingEnvironment.ApplicationVirtualPath` which returned virtual dir/app name.
Having `HttpContext.PathBase` is very nice, but it exists only during request handling, which `ApplicationVirtualPath` was available in `IHttpModule.Init` for example.

Is there any way to get base path before on starup/configure (before request processing)?

[2017-09-08 16:28] davidfowl commented on #14
@evil-shrike why do you need it?

[2017-09-08 16:52] evil-shrike commented on #14
@davidfowl I'm migrating some app/lib onto core from mvc5 and there I have some global singleton config  (let's call it XConfig) which is available via DI for other components. I put the base path from ApplicationVirtualPath into that XConfig on start.
Then for example some View calls its Model's method, which returns some html markup, for this it uses other injected component which only has XConf

[2017-09-08 17:03] mmillican commented on #403
@joeloff

I encountered this error while trying to install the 2.0 hosting bundle on a server which already had 1.1 installed.   I tried installing the VC redist, restarted the machine and still receiving the error.

I see this in my logs:

[code]

Any ideas?

[2017-09-08 17:11] joeloff commented on #403
@mmillican There should be a separate log for the individual MSI that will contain more detail on the failure. The hosting bundle log usually just contains a summary of each package. Can you attach the MSI log? It should be in your %temp% folder

[2017-09-08 17:37] mmillican commented on #403
@joeloff Ah, I found that and it pointed to my problem.  It's a disk space issue on one of the drives :|

[2017-09-08 21:10] shirhatti commented on #413
@subprime Could you share FREB logs in IIS for the 500?

[2017-09-09 19:10] subprime commented on #413
@shirhatti Sure but. what do you mean with FREB Logs? I get no errors for the 500 response from IIS. Thats my big problem. I dont know what happens inside..

[2017-09-11 08:33] sanjaycedti opened #414 "Does Kestrel server keep running when IIS / App pool craches"
Does Kestrel server keep running even after IIS or app pool crashes because I want to make sure that if there is any operation that is in progress does not get impacted when IIS or app pool crashes?

[2017-09-11 14:42] elevate-andrewlock opened #415 "How to host an ASP.NET Core app as sub-application of ASP.NET app in IIS"
I've been trying to host an ASP.NET Core 2.0 app as a sub application of an ASP.NET app but I'm getting the following error when I try and browse the .net core site:

[code]

I can reproduce this with the "empty" .NET Core web app template.

I have installed installed the [.NET Core 2.0 Hosting bundle](https://aka.ms/dotnetcore.2.0.0-windowshosting), I have the .NET Core 2.0 SDK installed, and I'm

[2017-09-11 15:00] alex-erygin commented on #392
Hot works for me

[2017-09-11 17:04] Tratcher commented on #414
This issue was moved to aspnet/AspNetCoreModule#149

[2017-09-11 17:04] #414 closed

[2017-09-11 17:14] Tratcher commented on #415
This issue was moved to aspnet/AspNetCoreModule#150

[2017-09-11 17:14] #415 closed

[2017-09-12 05:59] subprime commented on #413
Can you help me to provide the logs?

[2017-09-12 17:24] shirhatti commented on #413
https://docs.microsoft.com/en-us/iis/troubleshoot/using-failed-request-tracing/troubleshooting-failed-requests-using-tracing-in-iis

[2017-09-13 07:10] razzemans commented on #365
@muratg @Tratcher Any update on this issue since it has a "Working" label? The last 2 days we've run into massive 503 errors on production during peak load. Rebooting our instances would only help for maybe 5 minutes and then they would return. Yesterday it started with errors in Application Insights regarding Redis:

`No connection is available to service this operation: GET; It was not possible

[2017-09-13 12:30] subprime commented on #413
@shirhatti Thanks for the link! After a while of trying to install the TRACE-Addon it works now 👍

I tried to study the logs ([IIS_Trace_500_Logs.zip](https://github.com/aspnet/IISIntegration/files/1299385/IIS_Trace_500_Logs.zip)) but i doesnt know why...

[2017-09-13 16:12] Tratcher commented on #365
@razzemans please have your azure support rep contact me directly so we can coordinate our analysis.

[2017-09-13 16:19] Tratcher commented on #365
@1amirjalai I've been reviewing this thread and your issue looks different from the original post. I do think you should change to PartialAsync as originally suggested. Having that sync method in the middle of your async chain is causing threads to get blocked.

[2017-09-13 16:27] Tratcher commented on #365
@razzemans the reason connection exhaustion issues present errors in this way for ASP.NET Core is that we're using a reverse proxy approach and tunnel requests from IIS to a back-end process. If you've exhausted your connections then IIS can't even connect to your app and you're stuck with an ugly IIS error page.

What's causing the connection/port exhaustion is another matter. That's what I want

[2017-09-13 16:30] Tratcher commented on #378
@Eilon who's the best person to look at this?

[2017-09-13 19:24] razzemans commented on #365
I appreciate the reply. I will ask my support engineer to contact you.
Meanwhile, do you have any idea for a workaround? Obviously rebooting does not fix the issue correctly. My best guess it that on a TCP level sockets are being kept open and restarting the Azure instance does not help as that won't close them. If that is the cause, that is understandable, and fine even as long as we have a good

[2017-09-13 20:34] Tratcher commented on #365
No, we don't understand enough about the problem to suggest workarounds. The OS reserves closed sockets for a given time period before they can be reused and that makes recovering after the fact quite difficult. Practical workarounds need to focus on preventing the exhaustion, and to do that we need to know which component to blame.

[2017-09-13 21:08] Eilon commented on #378
@Tratcher I emailed you the internal email alias for Antares+ASP.NET Core questions/discussions.

[2017-09-15 09:59] JesseXia commented on #392
I'm having the same exception here. Can you give more details, please?

[2017-09-15 12:57] Tratcher commented on #392
@JesseXia please open a new issue with your details.

[2017-09-15 14:40] wstllc commented on #252
Hi all,

Apologies up front, I am basically new to .NET. I read this discussion top to bottom, as I am encountering the same error message. Open to thoughts if anyone has any. Here is what I figured out in *my* situation. I have .NET Core 2.0 API. If I remove web.config and publish to Azure, the API works. Inside the web.config file in my project (yes, on recompile it reappears), I have

<?xml ver

[2017-09-15 14:46] wstllc commented on #252
Hi all,

Apologies up front, I am basically new to .NET. I read this discussion top to bottom, as I am encountering the same error message. Open to thoughts if anyone has any. Here is what I figured out in *my* situation. I have .NET Core 2.0 API. If I remove web.config and publish to Azure, the API works. Inside the web.config file in my project (yes, on recompile it reappears), I have
[code]
Aft

[2017-09-15 16:24] Tratcher commented on #252
@wstllc Yeah, that looks like a tooling bug. Please report it to the tooling team via the VS "Send Feedback" tool.

[2017-09-15 20:07] wstllc commented on #252
Thx for thoughts, Tratcher, but before I bother them, here's what I figured out. (Bug? Feature? I'm too new to know...)

What I worked out did not involve removing the web.config file, so let that thought be. In below comments, presume file remains and is never deleted.

It turns out that if I do the following steps, publishing will succeed:
1) Use IIS Express profile
2) *RUN* it locally first, an

[2017-09-15 21:23] Tratcher commented on #252
Definitely a bug. You should never end up with VSIISExeLauncher in your process path after publish. Please report it to VS.

[2017-09-15 21:40] wstllc commented on #252
Did so -- thx for feedback

[2017-09-18 21:28] Tratcher commented on #365
@razzemans I spoke with your support rep and they said they have been making some progress with you recently. They will continue to investigate and work with us as needed.

[2017-09-19 07:20] subprime commented on #413
@Tratcher / @shirhatti Any idea why this error is thrown?

[2017-09-19 16:54] evil-shrike opened #416 "VSIISExeLauncher hangs"
I have a project on asp.net core 2 target netcore2.
I configured the project to run under IIS, create an application for it in IIS.

web.config:
[code]

Inside my project folder `bin\IISSupport\VSIISExeLauncher.exe` was depliyed (by VS I guess).
I open the app in the browser and see that lots of instances of VSIISExeLauncher.exe spaw. It looks like that for every request a new instance of VSIISExe

[2017-09-19 16:56] Tratcher commented on #416
@BillHiebert

[2017-09-19 22:15] shirhatti commented on #413
Looking at your FREB logs.
Pre-flights request succeeds and responds with a 204.
The actual GET request is forwarded to your backend that responds with a 500 after ~2 seconds.

There isn't enough information in the FREB logs to ascertain why it's failing. App logs are your best bet

[2017-09-20 12:36] razzemans commented on #365
@Tratcher I think we have found the root cause of the CGI exception. Somewhere in our code we accidentally added the async modifier to the `Process` method of a taghelper, resulting in an `async void` method. Here is code to reproduce:

[code]

Calling this taghelper will crash the dotnet process:

`<foobar></foobar>`

If `TagHelperOutput.GetChildContentAsync()` throws an exception, it will also c

[2017-09-20 14:07] Tratcher commented on #365
I'm not aware of any possible fix for misuse of async void. As a rule we tell people not to use it. At best we could provide a static analyzer flagging it as a warning.

[2017-09-20 14:48] razzemans commented on #365
I understand that, but surely there must be some way of handling this better? Preventing it from dotnet crashing?
One tiny mistake in a taghelper bringing down a 20 instance Azure production environment and having no real way of recovering from it. That's huge. Even more as it is seemingly extremely hard to debug in a large codebase.

[2017-09-20 15:06] Tratcher commented on #365
That's a runtime 'feature'. async void pulls you out of the request execution flow and onto a background thread. .NET Core 2.0 brought back AppDomain.UnhandledException so you can see exceptions from background threads, but I'm not aware of a way to handle them.
https://github.com/dotnet/corefx/pull/11275/files#diff-e17a6ed29a0800366d75c1548f5bbd5fR17

[2017-09-20 16:09] Tratcher commented on #365
@davidfowl any suggestions accidental async void methods and unhandled exceptions on background threads? (only today's comments above are relevant).

[2017-09-20 17:46] BillHiebert commented on #416
@evil-shrike
There should only be one instance of VSIISExcLauncher spawned and its lifetime is governed by the lifetime of the dotnet.exe process that is hosting your application. Is there anything interesting in the ASP.NET Web Server output window (VS collects console output from asp.net core and dumps it into this window)

[2017-09-20 18:02] evil-shrike commented on #416
@BillHiebert
I run it via full IIS (not from IISExpress and not from VS), just target an IIS app to my folder and open in the browser.

[2017-09-20 18:14] BillHiebert commented on #416
@evil-shrike
If you open your browser and make a request, is dotnet.exe still running (or if you are running full framework your projectname.exe)? It should be. It sounds to me like the app is starting and then immediately failing. If this is the case, every request will cause ANCM to restart the application.

What happens if your Ctrl-F5 from Visual Studio? Do you get the same failures?

[2017-09-20 19:49] evil-shrike commented on #416
I open a page in the browser, get main page (it's SPA app), it loads tons of scripts, most of them load with 200 (successfully). At this time I can see how new processes start and die.
![image](https://user-images.githubusercontent.com/1203230/30660892-058afe76-9e4b-11e7-8613-730a0b304eae.png)
Then at some script (always different) server stops responding - at that time a single VSIISExcLauncher p

[2017-09-20 20:28] BillHiebert commented on #416
This should just work. Which version of VS do you have installed. We made a lot of fixes to this area in 15.3

[2017-09-20 22:28] evil-shrike commented on #416
15.3.5

[2017-09-21 15:55] mihirdilip commented on #252
I came across the similar issue when I deployed asp.net core 2.0 on Azure. I fixed it by removing ` -argFile IISExeLauncherArgs.txt` from below
[code]
so it looks like
[code]

I also tried by adding a dummy _IISExeLauncherArgs.txt_ file but it didn't work. Removing it worked for me. I hope this helps someone..

[2017-09-21 23:36] #339 closed

[2017-09-21 23:38] #405 closed

[2017-09-22 06:26] obstler42 opened #420 "asp net core 2.0 hosting on IIS returns blank page with error 500"
I'm trying to deply an ASP NET Core 2.0 full framework app to IIS in Windows Server 2012 R2 and keep on failing. The app runs fine locally in VS2017 and also works on the server when I manually run the EXE and connect to the kestrel server on localhost:5000. However trying to host in IIS always results in an error 500 from IIS.

I've followed the instructions on https://docs.microsoft.com/en-us/as

[2017-09-22 06:28] jkotalik commented on #420
Does the folder path exist for .\logs\stdout?

[2017-09-22 06:36] obstler42 commented on #420
yes -- the stdout log is where the error ""Unrecognized configuration section runtime." is logged

[2017-09-22 07:00] jkotalik commented on #420
Ahh yeah my bad, you did mention that. The file not existing is a super common issue.
I believe this should work. Just to confirm, the same application when run on server 2008r2 environment worked?

I can't see why the <runtime> section would be invalid in configuration. @Tratcher thoughts?

[2017-09-22 07:04] obstler42 commented on #420
yeah, I installed it on a 2008r2 test server in exactly the same way and it works in IIS there.

[2017-09-22 15:54] thshr opened #421 "ASP.NET Core 2.0 IApplicationLifetime not working on IIS"
When registering IApplicationLifetime callbacks in ASP.NET Core 2.0 hosted in IIS, they are not triggered i.e. Stopped and Stopping registered delegates are not being fired when the app pool is recycled on IIS.

They are triggered only when ASP.NET Core app is launched as an executable and stopped with CTRL-C

sample app: [https://github.com/thshr/AspNetCoreIAppLifetimeIIS](url)
output from logger

[2017-09-22 16:12] Tratcher commented on #421
This issue was moved to aspnet/AspNetCoreModule#166

[2017-09-22 16:12] #421 closed

[2017-09-22 17:42] Tratcher commented on #420
I haven't seen this. Here are a few things to try:
- Change the app pool user identity to a normal user like yourself.
- Set the app pool to "No managed code"
- Compare version of .NET that your app targets to the one installed on the server. The serer should have the same or higher version.

[2017-09-22 17:57] obstler42 commented on #420
Tried changing app pool user identity to my user, same result as when it is set to "ApplicationPoolIdentity"

app pool is set to "No managed code"

The server has .net 4.7 installed, "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full\version" is "460805"

The app targets net461 runtime win7-x86 (only option available in the publish profile of the aspcore2 template in vs2017). w

[2017-09-23 02:46] techaimail commented on #409
I have the same error and configuration:

Windows 2012 R2 with iis and Microsoft .NET Core 2.0.0 - Windows Server Hosting (and .net core runtime 2.0.0), running a web app using c# over .NET 4.6.2 compiled using visual studio 2017 enterprise all with lastest updates.

![image](https://user-images.githubusercontent.com/20078603/30769478-bf261f7a-9fde-11e7-9e08-fc7de34d1da1.png)

That error does not

[2017-09-23 08:45] tomerisr commented on #409
Removing *codegen* reference from csproj also solves a similar issue.

[2017-09-25 20:35] techaimail commented on #409
When I remove these lines all work fine for web projects .net for mvc6 (but the same lines work fine with other web projects with .net core for mvc6)

[code]

[2017-09-27 21:21] bplus0 commented on #406
I have followed all the directions in this thread, and i'm still getting the same error. I enabled the web.config to write out the stdout log, but it never writes anything. Is there a way to force it to write? Does the file name need to be "stdout.log"? or "stdout" or "stdout.txt"? My app runs perfect on local, and I cannot hunt it down

[2017-09-28 14:49] saf-itpro opened #423 "Installing DotNetCore.1.0.5_1.1.2-WindowsHosting fails with error 0x80072f0d"
I'm installed the  DotNetCore.1.0.5_1.1.2-WindowsHosting  on Windows Server 2012 on a VM, but it keeps failing with:

` 0x80072f0d - Unspecified error.
`

I'm logging on to the server as admin, using the regular remote desktop. But when I go to the Installed Programs window, I can see the program is in the list of installed program as shown below. When we publish an `ASP.NET MVC Core `test app to

[2017-09-28 16:38] Tratcher commented on #423
@joeloff Do we have a public wiki for installer issues and debugging steps? We seem to be getting very similar questions repeatedly.

[2017-09-28 16:50] joeloff commented on #423
Not really. For the hosting bundle, the .NET Core runtime bundle is embedded. So if the runtime fails (which appears to be the case since that's the only EXEPackage type it carrries), the hosting bundle log will only report a general error, but the detail of the failure will actually be in the .NET Core runtime log (e.g. for 1.x .NET Core runtime might try to download the VCRedists, or one of the

[2017-09-28 17:03] Tratcher commented on #406
@bplus0 can you show that line of your web.config?
Also, what do you get in your event logs?

[2017-09-28 18:01] muratg commented on #423
Moving to Discussions milestone.  We can continue to discuss the setup issue here, but the actual fix would go elsewhere (if there's a bug.)

[2017-09-28 18:13] joeloff commented on #423
Yup, I'd like to see the logs first because this could be the runtime failing. We've seen some issues with 1.x because the VCRedist is actually downloaded by the runtime installer and if the hosting bundle is executed on a machine that's not connected, it will fail to download the redist.

[2017-09-28 18:45] jkotalik opened #424 "Consume ANCM as a nuget package rather than requiring installation for In-Process"
As the mirror isn't up, we can't use the ANCM pulled from the nuget package for in-process testing.

[2017-09-28 19:14] saf-itpro commented on #423
@joeloff Per your request, following is the entire log file content:

[code]

[2017-09-28 21:19] joeloff commented on #423
@saf-itpro that's the hosting bundle log. Can you see if there's a log file for the runtime installer. The log will be in %temp% and should look something like Microsoft_.NET_Core_1.0.5_-_Runtime_(x64)_20170928141746.log. That's the log that will tell us why the runtime is failing to install as part of the hosting bundle

[2017-09-29 00:04] saf-itpro commented on #423
@joeloff I did not find the `....log` file you are referencing. Following is the only relevant file I could find. This file does show some error message such as installing .NET 4.5.1 first. But we already have `Microsoft .NET Framework 4 Multi-Targeting Pack` by default on the server. Our other Windows 2012 Server (not R2) also has only `Microsoft .NET Framework 4 Multi-Targeting Pack` installed w

[2017-09-29 03:05] bplus0 commented on #406
@Tratcher  Hey - here is the entire web.config, This was made completely from my publish, I don't have any web.config in my solution.

[code]

Can you elaborate a little more on what you mean by event logs? I haven't been able to find anything relevant in the folders I submitted in my previous post.

If you want more info in a PM I can provide that - (I don't know the rules on long threads on GitH

[2017-09-29 15:53] joeloff commented on #423
Based on the hosting bundle log, the runtime was extracted to the package cache. What happens when you manually run C:\ProgramData\Package Cache\907CA9E70413C3E3110156E37A1506E5835CBC78\packages\DotNetCore.1.0.5-Runtime-x64.exe

That should also create the log file I mentioned earlier in %temp%

[2017-09-29 16:23] Tratcher commented on #424
So the tests are currently disabled...

[2017-09-29 17:14] jkotalik opened #426 "Remove DuplexStream from in-process ANCM"
Redundant with https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Core/Internal/Http/HttpUpgradeStream.cs and https://github.com/aspnet/HttpSysServer/blob/dev/src/Microsoft.AspNetCore.Server.HttpSys/RequestProcessing/OpaqueStream.cs. We should choose one to replace it with.

[2017-09-29 17:15] jkotalik commented on #426
@muratg can you add an in-process label to this repo? 😄

[2017-09-29 17:44] Tratcher commented on #406
Ok, the `.\logs\` seems to exist. I wonder if there's a permissions problem preventing it from writing the logs there.

Those look like FREB logs, and all they tell us is that you got a 502.5 error.

I meant the windows event logs. Though looking at your screen shots I realize that you're on some public hoster? They may not expose those to you. I know Azure copies them to a log folder in your app.

[2017-09-29 18:05] jkotalik opened #427 "Distinguish between Path and PathBase"
Right now we always set the PathBase to empty and the Path to be the whole path. This property needs to be read from IISConfig, either through a native pInvoke to ANCM, by https://msdn.microsoft.com/en-us/library/system.web.hosting.iprocesshostsupportfunctions.getapplicationproperties(v=vs.110).aspx, or by some other means.

[2017-09-29 19:01] jkotalik opened #428 "Authentication and Windows Auth support"
In general any support for Authentication needs to be added. Also, as we are running with ANCM, we can support Windows Auth. This is a lower priority issue but should be in by 2.1.

[2017-09-29 19:09] jkotalik opened #429 "Consider merging UseNativeIIS() and UseIISIntegration()"
Currently, we specify that we are in-process by calling:
[code]
We should consider merging this call with UseIISIntegration(), where we can somehow specify we want to run in-process:
[code]
or
[code]

[2017-09-29 19:10] Tratcher commented on #429
`.UseIISIntegartion(hostingModel: "inprocess");` doesn't work, that can only be set in the web.config.

[2017-09-29 19:38] jkotalik opened #430 "React to ANCM changes for NativeMethods pInvoke layer."
Parallel issue to https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Core/Internal/Http/HttpProtocol.FeatureCollection.cs#L97-L101. With Pan's changes ( to the native ANCM and recognition that we need to expose more pInvoke methods, we will need to react to these appropriately.

[2017-09-29 19:45] jkotalik opened #431 "Mock ANCM for testing purposes"
In Kestrel, we currently [mock libuv](https://github.com/aspnet/KestrelHttpServer/blob/dev/test/Kestrel.Transport.Libuv.Tests/TestHelpers/MockLibuv.cs) for testing purposes. We should consider doing this for ANCM, as it would ease identifying if there were bugs in IISIntegration or ANCM. This could also be shared to Kestrel/ANCM to verify behavior behind it.

[2017-09-29 20:02] jkotalik opened #432 "Profile ANCM for performance"
I have been prioritizing correctness over performance for the implementation so far. One we get the in-process mode to a more correct state, we need to do a sweep to reduce allocations. @davidfowl

[2017-09-29 23:52] saf-itpro commented on #423
I got the file you were asking for. By the way we moved to another VM (still Win Server 2012 R2) to see if changing the VM will help - but still the exact same issue. Following is the file like Microsoft_.NET_Core_1.0.5_-Runtime(x64)_20170928141746.log from %temp%:

[0C50:0BC0][2017-09-29T19:17:52]i001: Burn v3.10.2.2516, Windows v6.3 (Build 9600: Service Pack 0), path: C:\Users\ADMINI~1\AppData\L

[2017-09-29 23:57] joeloff commented on #423
Thanks. It's what I suspected. The .NET runtime cannot download the VC14 redist:

[0C50:0650][2017-09-29T19:17:56]e000: Error 0x80072f0d: Failed to send request to URL: https://download.microsoft.com/download/1/F/0/1F01DD22-748C-41A7-89DE-54D64355CDA6/vc_redist.x64.exe, trying to process HTTP status code anyway.

Does this machine have internet access? Another option would be to try and download t

[2017-09-30 14:43] bplus0 commented on #406
Its a 'cheaper' solution than azure. I'm working with them to see if they  are the issue. I do have one thing for you though -

if you see the screen shots above. There are no 'Views', 'refs', or 'runtime' directories. When i publish the 1.1 version of the same app everything goes with. Did something change in core 2.0 regarding publishing all files? Does that make sense?

[2017-10-02 17:09] Tratcher commented on #406
2.0 uses pre-compiled views by default so those files no longer need to be published.

[2017-10-02 18:38] jkotalik opened #433 "Verify response content length in IISHttpContextOfT"
Code is currently commented out. Based on https://github.com/aspnet/KestrelHttpServer/blob/a31d1e024ca86a4a9053e0be105fde17c5ccae10/src/Kestrel.Core/Internal/Http/HttpProtocol.cs#L454.

[2017-10-02 18:53] enterpub commented on #416
Hi, I have same issue. This happens when I merge some branch into my branch => this causes change of files => by some reason visual studio can not process them correctly and then I see VSIISExeLauncher process uses about 15-20% CPU.
The only workaround I found is restart the VS (unload and reload the solution does not help). I have VS 15.3.5

[2017-10-02 19:07] jkotalik commented on #433
@muratg Lower priority, but something that needs to happen before 2.1 release.

[2017-10-02 19:08] davidfowl commented on #433
We should verify that's IIS doesn't already do this.

[2017-10-02 19:12] saf-itpro opened #434 "Internal Server Error when hosting ASP.NET Core on IIS"
Deployed ASP.NET MVC `Core 1.1.1` on `Windows 2012 Server R2`. Followed [this][1] ASP.NET article (installed DotNetCore.1.0.5_1.1.2-WindowsHosting bundle etc). App runs fine as localhost on the server if we follow the following steps:

 1. In cmd from root dir of the app, ran: dotnet MyWebapplication.dll
 2. Noticed that application is running and waiting for responses on localhost:5000.
 3. Opene

[2017-10-02 19:34] jkotalik opened #435 "Make IISHttpRequestBody and IISHttpResponseBody consistent in reading and writing"
Currently, ReadAsync on IISHttpRequestBody does contains the read logic in its class, but WriteAsync in IISHttpResponseBody contains the write logic in HttpProtocol. These should be consistent in code flow.

[2017-10-02 19:38] jkotalik opened #436 "IISHttpServer does not drain pending requests"
When the server stops, all pending requests should be drained. Currently there is just a TODO there, not using the cancellation token or doing any actions.

[2017-10-02 20:45] muratg commented on #433
@jkotalik please check if IIS support this.

[2017-10-02 22:16] natemcmaster commented on #424
The mirror is up now. You can get a new version of ANCM by updating this:     <ExternalDependency Include="Microsoft.AspNetCore.AspNetCoreModule" Version="1.0.0-pre-10134" Source="$(AspNetCoreModuleFeed)" Private="true" Mirror="true" />

[2017-10-02 22:41] saf-itpro commented on #434
The issue was that although I had installed DotNetCore.1.0.5_1.1.2-WindowsHosting bundle but the ASPNETCore was not showing up in `IIS->Modules`. So, I uninstalled the bundle and the restarted the machine, installed the bundle again, restarted the machine (as precaution).

[2017-10-02 22:42] #434 closed

[2017-10-03 02:14] jkotalik opened #438 "Implement Abort in HttpProtocol"
Currently left as a TODO. See https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Core/Internal/Http/HttpProtocol.cs#L406 for the logic needed.

[2017-10-03 02:25] jkotalik opened #439 "Add logging to file for in process"
Add logging to the file specified in web.config for the managed application. In the out of process scenario, we currently clone the logging file handle for both ANCM and the managed application. I believe we technically don't need to clone the file handle across native and managed, but it may cause difficulties for closing the handle and guaranteeing no extra writes occur.

[2017-10-03 02:29] jkotalik opened #440 "Finalizing In-process ANCM."
Checklist:

### P0:
- [ ] React to ANCM changes for pInvoke layer https://github.com/aspnet/IISIntegration/issues/430
- [ ] Incorrect response body on large responses. https://github.com/aspnet/IISIntegration/issues/442

### P1:
- [x] Merging UseNativeIIS and UseIISIntegration https://github.com/aspnet/IISIntegration/issues/429 - Fixed with #443
- [ ] Have IIS Integration consume ANCM from nuget p

[2017-10-03 02:53] jkotalik opened #441 "Find any functional differences between in-process mode and Kestrel for main request/response logic."
Though this may involve a bit of code duplication for now, the main control flow of the in-process mode matches Kestrel's HttpProtocol. We should find any function differences and fix them! 😄

[2017-10-03 03:13] davidfowl commented on #441
This isn't a great bug, it's more like a personal check list

[2017-10-03 03:14] davidfowl commented on #435
Is this actually fixing anything or is it just code cleanup?

[2017-10-03 03:35] #441 closed

[2017-10-03 05:54] jkotalik commented on #435
I believe this is just clean up.

[2017-10-03 13:28] bplus0 commented on #406
@Tratcher  Thanks Chris. By the way - I reached out to the hosting service. They had to change something on their end to let .NET Core 2.0 run. I'm good to go, and I think the help listed here had something to do with it. Thanks again!

[2017-10-03 15:53] saf-itpro commented on #423
@joeloff I first want to thank you for walking along with us to help our ASP.NET Core website work on IIS. For now we've resolved the issue as follows: "DotNetCore.1.0.5_1.1.2-WindowsHosting"  was  not installing successfully , if the VM is on workgroup. We joined to the domain & successfully installed the bundle. Tested our ASP.NET Core app on IIS and it worked. We then moved back  the VM to work

[2017-10-03 15:53] #423 closed

[2017-10-03 20:16] jkotalik commented on #440
@muratg based on our meeting I think I arranged these in priority order.
@davidfowl also requested I make a task called "find bugs".

[2017-10-03 21:42] jkotalik commented on #429
After further investigation, I definitely think we need to do this. The single switch for turning on inprocess vs out of process should be in web.config's hostingModel. IISIntegration will need to pick up that we are running in "inprocess".
By having the "UseNativeIIS()" call, if people call this and say they are using hostingModel="outofprocess", their app will fail to load because IISIntegration

[2017-10-03 22:54] muratg commented on #424
@jkotalik Any update on the agents required?  I assume each Windows agent with IIS should have the schema change, right?

[2017-10-03 23:50] jkotalik commented on #424
I have updated all agents that run ANCM and IISIntegration. I'll need to confirm that other repos (ServerTests and I guess Music store) have updated schema files.
I have also provided a fix that will remove the AV if ANCM doesn't have the schema change.

[2017-10-04 01:56] SenenFernandez commented on #256
Check if [Visual C++ 2015 Redistributable][1] is installed =)

  [1]: https://my.visualstudio.com/Downloads?pid=2082

[2017-10-04 08:49] razzemans commented on #365
@Tratcher @davidfowl

Shameless bump. The Azure support engineer replied to me and said the .NET Core team rejected this issue as this is by design.

Needless to say, I disagree with this decision. I think that accidentally adding a single keyword (`async`) to a void method should not be able to crash the whole process and causing such an ugly error page in production. It might work for weeks at a

[2017-10-04 17:20] jkotalik opened #442 "Large ResponseBodies are cut short if using Static and Dynamic compression"
Repro example:
Run the template MVC application. When navigating to the homepage, the Jquery.js file will sometimes lose a chunk of data, causing the file to be unusable. We should investigate why this is happening, which could either be in native or managed.

[2017-10-04 21:13] naveedahmed1 commented on #204
@Tratcher is it possible to add Retry-After header as well when serving app_offline.htm since search engines suggest adding it https://webmasters.googleblog.com/2011/01/how-to-deal-with-planned-site-downtime.html

[2017-10-04 21:40] Tratcher commented on #204
@naveedahmed1 that's an interesting idea. Please open a new issue in https://github.com/aspnet/AspNetCoreModule/issues

[2017-10-04 22:27] pan-wang commented on #204
where does the value of 'Retry-After" come from?  Host has no clue about it.

[2017-10-04 23:14] jkotalik commented on #442
Seems to be possibly be caused by the Dynamic and Static compression modules in IIS. When running an MVC application with a applicationhost.configfile, all file responses came back as chunked and encoded. Disabling these fixed the issue from what I can tell. We should eventually verify that the Static and Dynamic compression modules work with in-process.

[2017-10-05 07:27] davidfowl commented on #365
It unfortunately can't be detected in cases like you specified above. One thing that might help is logging appdomain unhandled exceptions in the hosting layer. That *might* help. For things we invoke dynamically, it might be possible to detect an async void bad pattern (like controller actions) but when we provide an abstract base class with a virtual thats overridden we just call the method expec

[2017-10-05 13:35] Tratcher commented on #442
Those modules should be transparent to you, and they're on by default. Disabling them is not a sufficient workaround. Keep working on this.

[2017-10-05 13:42] davidfowl commented on #442
I think that’s why the issue *isn’t* closed 😁

[2017-10-05 13:48] Tratcher commented on #442
He said 'eventually'. There is no 'eventually' about data corruption. There should be no more feature work until we get this figured out.

[2017-10-05 13:52] davidfowl commented on #442
I don’t want to not pick on those details. It’s a known issue and @jkotalik made some progress. The issue will be resolved just like all of the other ones.

[2017-10-05 16:33] jkotalik commented on #442
Sorry poor word choice. I'm still working on this right now.

[2017-10-05 17:25] davidebbo commented on #252
See related issue https://github.com/aspnet/websdk/issues/242

[2017-10-05 19:28] mlawand commented on #252
i am facing the same issue, and i have tried all of the solutions in the thread but its not working.

i have a asp.net core 2.0 application which was working perfectly today it stopped suddenly and i am getting the issue

502 - Web server received an invalid response while acting as a gateway or proxy server.
There is a problem with the page you are looking for, and it cannot be displayed. When th

[2017-10-05 19:44] guardrex commented on #252
@mlawand ... Can u paste in there the *web.config*, *Program.cs*, and *Startup.cs* (if you aren't using `WebHost` extensions for startup)? .... or put up a small GH repro project that we can see.

Also if you haven't seen it, we have an extensive troubleshooting section at: https://docs.microsoft.com/en-us/aspnet/core/publishing/iis?tabs=aspnetcore2x#troubleshooting-tips

[2017-10-05 19:51] mlawand commented on #252
@guardrex I have updated the post with web.config startup and program.cs i saw the link and went trough it

[2017-10-05 19:52] guardrex commented on #252
ok ... let me run an :eye: eye over it and see if anything jumps out.

[2017-10-05 19:55] mlawand commented on #252
@guardrex Thank you very much, i am hosting the application on Azure Web Apps With a standard S1 service plan

[2017-10-05 20:00] guardrex commented on #252
Anything in the logging in the Azure Portal? I don't think they enable it automatically; you probably need to activate it in the portal for the Azure App. It should then light-up and provide logging that describes where/how the app is choking.

[2017-10-05 20:01] mlawand commented on #252
@guardrex i updated the error log

[2017-10-05 20:04] guardrex commented on #252
I'm so used to hosting ASP.NET Core apps now with VM's under full IIS that I'm not so familiar with the Azure Apps portal. You probably saw that down in the *Diagnostics Logs* area that they have several logging options. Of course, they don't match the phrase "stdout logging," so I'd be inclined to switch them all on for troubleshooting, then shut them all off afterward.

![capture](https://user-i

[2017-10-05 20:05] guardrex commented on #252
Next tab down is *Log stream*, and you should get *something* helpful there. You really just need the stdout logging piped through. It should give some indication what the app is choking on.

[2017-10-05 20:06] guardrex commented on #252
Prob *Application Logging (Filesystem)* and *Detailed error messages* should do it.

[2017-10-05 20:07] mlawand commented on #252
@guardrex i updated the original post with the stdout logging

[2017-10-05 20:15] guardrex commented on #252
Has a localization/culture 🐞 bug feeling to it. I'm not an expert in those areas (only dabble here and there when needed). Personally, I'd confirm that by disabling the code for localization. If the error goes away, then you know for sure that there's a problem there. Once you know for sure, I'd hit up the devs on Slack to see if anyone has some tips on troubleshooting the problem. Many devs there

[2017-10-05 20:17] mlawand commented on #252
@guardrex Thank you very much will sign up and ask there much appreciated

[2017-10-05 22:04] natemcmaster opened #444 "Tests fail on .NET Framework 4.6.1: IIS Express fails to start"
To repro:
`build.cmd`

**Error**
[code]
[code]

**OS**
Windows 10.0.16299 (Windows insiders build)
.NET Framework version: 4.7.1

Let me know if you want more logs or info to try and repro.

[2017-10-05 22:51] jkotalik commented on #444
I'm not seeing this test fail locally. @Tratcher though it is most likely an AMCM dependency, have you ever run into tests failures when running on full framework?

[2017-10-05 22:55] jkotalik commented on #442
Alright after further investigation, it seems that the call to IIS WriteEntityChunks works normally if no compression module is enabled. However, when enabled, if the response body grows above ~65KB, it will only write up to that much to that call, even if more than 65Kb of data is provided. Without the module enabled, it works in both the chunked and content-length scenarios.
@pan-wang is current

[2017-10-06 05:16] pan-wang commented on #442
This is seems to be by design.  In duplex mode, the callback is registered on io completion, it this returns the number of bytes sent of first chunk. I think we can ignore the number as long as it is not zero.  Once the callback is called,  we can assume the chunk is handled by IIS correctly.   In case of failure,  nothing we can do here as some byte already sent to the client.

[2017-10-06 16:05] jkotalik commented on #442
Seems we can't use WriteEntityChunks for any use because the dynamic and static compression modes have a configurable chunk size. Because of this, we cannot reliably limit the size from managed to chunking below the buffer limit.  Per discussion with @pan-wang, we should probably avoid using IHttpResponse2::WriteEntityChunks. Moving this to ANCM.

[2017-10-06 20:12] ferrancg opened #445 "Web app went idle after few days, even have "Always on" turned on"
I have an app running on Azure Web App, and I turned on the "Always on" in App Settings. After 5 days, the app went idle, and when I browse the web again, it will start up itself.
There is no exception or error message in the log, so I assume the server or IIS shut it down. The following is the last entry of the log before shutdown:

[code]

Any ideas what's going on? Thanks!

[2017-10-06 20:20] Tratcher commented on #445
This issue was moved to aspnet/AspNetCoreModule#182

[2017-10-06 20:20] #445 closed

[2017-10-07 06:02] saf-itpro opened #446 "Deployment to IIS working under Default Website but not under a Custom Webiste"
**Machine**: Windows Server 2012 R2 with IIS 8.5 on a company network.

**Following** [this][1] tutorial

 1. **Success**: In IIS, deployed a published folder of an `ASP.NET MVC Core 1.1.1` app to an Application Folder under `Default Website`. From a desktop on the same network, browsed to the URL `http://IP Address/MyPublishedFolder`. The app successfully displayed its home page.
 2. **Failure**:

[2017-10-08 16:47] saf-itpro commented on #446
Our server team that had setup the website and had given us the url `http://CompanyName/AppName` had `AppName` as a Virtual Directory. Once we converted that from Virtual Directory to Application, it started working. But we still have `IE11 Document Mode 7` issue that does not seem to be related to .NET Core. App works fine on Chrome browser.

[2017-10-08 16:47] #446 closed

[2017-10-08 17:15] TomCJones commented on #215
I found the same solution  dotnet nuget.exe locals --Clear all
worked for me in moving from aspnetcore 1.1 to 2.0

[2017-10-09 09:00] razzemans commented on #365
Ok, after we upgrade to 2.0 I will try and log AppDomain unhandled exceptions and see how that goes. Note that we still have random 500 CGI errors where are whole application becomes unavailable, caused by (apparently) another issue (https://github.com/dotnet/corefx/issues/24421).

[2017-10-09 19:31] Tratcher commented on #444
The old tests were working fine on full framework.

[2017-10-11 02:49] deadlydog commented on #226
Are there plans to revisit this feature and put it on the road map? It's very inconvenient/unfriendly to force everybody using a .Net Core website to have to manually implement a staging-slot strategy in order to support zero downtime deployments, especially when it's the "happy path" and not even an edge case scenario.

[2017-10-11 20:39] AdrienTorris opened #448 "MS-ASPNETCORE-TOKEN error hosting an ASP.NET Core 2.0 Web API on IIS 8"
I have some trouble hosting an ASP.NET Core 2.0 Web API on IIS 8.

I have this error : fail: Microsoft.AspNetCore.Server.IISIntegration.IISMiddleware[0]
      'MS-ASPNETCORE-TOKEN' does not match the expected pairing token 'SOME_GUID_HERE', request rejected.

[2017-10-11 21:25] Tratcher commented on #448
That's a first. This check is to prevent the application from accepting requests from anywhere but the IIS reverse proxy. It sounds like something is trying to access the app directly via localhost. Is this error for requests you are making or are you only seeing these in your logs?

[2017-10-12 11:44] AdrienTorris commented on #448
Ok I fixed it.
I had a problem with my configuration file, the one who defined the server.urls value. It takes me 4 or 5 hours I think but it's working now, sorry to disturbed you.

[2017-10-12 13:14] #448 closed

[2017-10-12 23:33] #429 closed

[2017-10-14 20:00] jkotalik commented on #435
Will be part of #447

[2017-10-17 15:38] ajeckmans commented on #226
We would like to know as well. Putting a app_offline.htm inside the applications directory does not work.

[2017-10-17 18:05] jkotalik opened #451 "Reduce closure allocations in Task.ContinueWith for async operations."
From @davidfowl
We need to remove the closure allocations here. ContinueWith takes a state object. You may need to store the amount read and the length in a field. This is what the pattern looks like:

[code]

Will link the specific lines once merged in.

[2017-10-17 22:31] Tratcher commented on #378
@razzemans you resolved this with your support rep, correct?

[2017-10-18 06:34] razzemans commented on #378
@Tratcher no, not this issue. I haven't run into this issue again though, so unless you want to take some additional action, go ahead and close this.

[2017-10-18 06:35] razzemans commented on #365
I think this is now a duplicate of https://github.com/dotnet/corefx/issues/24421 and if nobody objects I will close this one.

[2017-10-18 09:00] Tornhoof opened #452 ".NET 4.7x Framework pages are started with Workstation GC"
In the old DNX the pages were started with Server.GC, due to an issue with https://github.com/dotnet/project-system/issues/2896 the appropriate project setting is ignored for netfx.
It might be more useful to have the default GC set to server as it was in the old DNX.

# Steps to reproduce:
1. Create Webpage for ASP.NET Core 2.0 and target Framework 4.7.x
2. Run in IIS
3. Log the GC type
# Expecte

[2017-10-18 13:18] razzemans commented on #378
@Tratcher well you wouldn't believe it, but today I changed a setting in the Azure Portal for our web application, clicked 'Restart', and boom, my application crashed. The stdout log showed:

[code]

So this still happens...

[2017-10-18 15:14] razzemans commented on #252
I have the exact same error as @mlawand. I opened the issue here: https://github.com/dotnet/corefx/issues/24718

Also, after reverting to our .NET Core 1.2 version, I also get the same 502.5 error. Logs show:

[code]

I cannot get this error fixed! Looks like the whole server is broken now. Help is appreciated.

[2017-10-18 16:00] #365 closed

[2017-10-18 16:55] Tratcher commented on #452
GC is an app configuration, it's unrelated to IIS / the launcher. The default is controlled by the runtime, though perhaps it could be influenced by the SDK.

Adding an app.config file to your project with the following should help.
https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcserver-element

This should be included in the template.

[2017-10-18 17:13] Tratcher commented on #452
This issue was moved to aspnet/templating#73

[2017-10-18 17:13] #452 closed

[2017-10-18 22:48] mlawand commented on #252
@razzemans please let me know if you find any solution for this issue

[2017-10-19 04:24] jkotalik commented on #438
#453

[2017-10-19 09:35] razzemans commented on #252
@mlawand I fixed this by going to Kudu of my web app, clicking Site Extensions, and removing the Application Insights Extension.

[2017-10-19 12:09] mlawand commented on #252
@razzemans i fixed my issue by creating a brand new application and migrating each part of the project to it. its a very lengthy process

[2017-10-20 16:44] Tratcher commented on #378
@razzemans was this also fixed by removing AI?
https://github.com/aspnet/IISIntegration/issues/252#issuecomment-337854142

[2017-10-20 19:40] maxisam commented on #420
maybe you wanna share how you config your program.cs and startup.cs. If you config it incorrectly, it might lead to 500 error as well but run fine on localhost. For example appsettings.json doesn't get copied to the server.

[2017-10-20 20:26] obstler42 commented on #420
the exact same app / config (the whole folder copied to the other systems) works just fine on two other, systems -- a server2008r2, and a new test VM with server 2016; so this seems to be something machine specific, probably some .NET issue.

the three files you asked for are below, in case it helps to figure out the issue...

appsettings.json:

`{
  "Logging": {
    "IncludeScopes": false,
    "L

[2017-10-20 20:32] maxisam commented on #420
you might wanna double check if you have `appsettings.json` on the server after you deployed.

[2017-10-20 22:21] Tratcher opened #455 "Inprocess: NativeIISSample fails to start with outofprocess mode"
_From @jhkimnew on October 20, 2017 21:54_

Try to start NativeIISSample with setting outofprocess mode and you will get this error.

C:\inetpub\wwwroot\NativeIISSample>dotnet .\NativeIISSample.dll
Application startup exception: System.InvalidOperationException: No service for type 'Microsoft.AspNetCore.Hosting.Server.IServer' has been registered.
   at Microsoft.Extensions.DependencyInjection.Ser

[2017-10-21 00:33] jkotalik opened #456 "Switching between inprocess and outofprocess still needs to call UseKestrel()"
As part of merging [UseIISIntegration() ](https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IISIntegration/WebHostBuilderIISExtensions.cs#L29) to support in-process and out-of-process, I didn't recognize that UseIISIntegration() does not call UseKestrel() in the out of process scenario. Therefore, if we switch the web.config from "inprocess" to "outofprocess", we ge

[2017-10-21 00:34] jkotalik commented on #455
Closing in favor of #456

[2017-10-21 00:34] #455 closed

[2017-10-21 00:39] Tratcher commented on #456
WebHost.CreateDefaultBuilder already takes care of that:
https://github.com/aspnet/MetaPackages/blob/fcdd25635c8174a0c8a7a0853a6f3d8620448839/src/Microsoft.AspNetCore/WebHost.cs#L151
Thus far we've voided adding a direct call from UseIISIntegration to UseKestrel as the server is theoretically replaceable.

[2017-10-21 00:44] jkotalik commented on #456
Yeah definitely replacing Kestrel in the future :trollface: . Is it required that UseIISIntegration is called after UseKestrel? If so, then for anyone that is calling CreateDefaultBuilder or UseKestrel before IISIntegration and wants to run in-process, Kestrel will be replaced by the IIS Server.

[2017-10-21 01:44] Tratcher commented on #456
We were discussing the ordering issue on a different thread that I can't find at the moment. CreateDefaultBuilder currently calls UseKestrel and UseIISIntegration in the correct order, allowing iis to replace kestrel if in-process. If someone reversed those manually then their in-process apps would break. Out-of-proc does not have a problem because IIS lightup is dynamic.

[2017-10-21 21:18] jkotalik commented on #456
My main issue with the current switch in web.config for the in process mode is discoverability. If someone calls UseKestrel(), it would be confusing if the server ended up not being Kestrel without an explicit .
If a user wanted to explicitly use the in process mode, it should be a replacement for UseKestrel(). We may be overloading UseIISIntegration() as that is currently a switch between running

[2017-10-23 07:01] razzemans commented on #378
@Tratcher no, this is a separate issue. We don't have the AI site extension running on this particular application.

[2017-10-24 01:32] jkotalik commented on #439
@pan-wang for etw and event logs, we will just expose pInvokes which call etw and event logs, correct? For aspnetcore logs, it will be a bit more interesting (log to a file or something else).

[2017-10-24 04:34] pan-wang commented on #439
.net core has windows event log implementation, https://www.nuget.org/packages/Microsoft.Extensions.Logging.EventLog/
I don't think we need pinvoke.  For file logging, I. E.,  user enabled stout in configuration,  ANCM can pass a file handle,  manage layer needs to use that handle.

[2017-10-24 07:30] jkotalik opened #458 "Make sure all HRESULT values are checked in managed"
Our error handling after calling any NativeMethod is lacking. We need to add checks after all calls to NativeMethods and check Marshal.GetExceptionForHR().

[2017-10-24 09:51] taoli0124 opened #459 ".net core 2.0 hosting iis is very very slow on high traffic"
I use jmeter as a test tool，if my site hosting iis ,200 concurrent，per second 20+，but not use iis per second 300+.

Who can tell me why?

Many thanks

[2017-10-24 15:47] Tratcher commented on #459
@sebastienros

[2017-10-24 16:12] Tratcher commented on #456
The web.config setting is a deployment setting, it shouldn't require an app code change / recompile. This is similar to our IIS integration lightup today, you can run the same app in IIS or self-host without recompiling. There has been a little confusion around if Kestrel is still in use in the IIS out-of-proc scenario, especially around url config, but it hasn't been a major blocker for people.

[2017-10-24 16:38] sebastienros commented on #459
Just to be sure I understand the problem, you are hosting your website on Windows, and you tried with IIS and without IIS (Kestrel only). And you see a worse performance with IIS?

Can you be more specific about the numbers you get, what is the unit of "20+" and "200+"

[2017-10-24 18:07] shirhatti commented on #456
I'm with Chris on this. Ability to switch modes without recompiling takes higher precedence than being more explicit.

Here's what I assumed setting up WebHostBuilder would look like, essentially unchanged.
[code]
@jkotalik I'm assuming your concern here is that Kestrel won't be used despite an explicit call to `UseKestrel()`?

[2017-10-24 22:26] jkotalik commented on #456
Yeah that sums up the issue. The main issue is before the in-process mode, UseIISIntegration didn't add its own server implementation. Now that it does, it could be considered a breaking change to change all server defaults from out of process to in process.
To be very clear about the options for handling this:

**Option A: (what is currently implemented)**
[code]
This will remove Kestrel when inp

[2017-10-24 22:32] jkotalik commented on #451
This will be part of removing pipes and the task queue from IISHttpServer.

[2017-10-24 22:39] shirhatti commented on #456
To further distill down the crux of your argument, we're introducing a behavior change in what `.UseIISIntegration()` does in a minor release, but semver doesn't allow us to do that. So we should create a new extension method (name is up for discussion) that hangs of WebHostBuilder that does what UseIISIntegration does in option A, but has a different name.

@muratg @DamianEdwards  Any thoughts on

[2017-10-24 22:40] jkotalik commented on #440
Closing in favor of the project checklist ( @Eilon  asked me to a while ago) 😄

[2017-10-24 22:42] #440 closed

[2017-10-24 22:44] jkotalik commented on #430
Closing issue as this will be reactionary rather than an actual fix through this issue.

[2017-10-24 22:44] #430 closed

[2017-10-24 23:35] jkotalik opened #460 "In-process mode may not work with current lightup method."
For the out of process scenario, we created a [backdoor](https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IISIntegration/IISHostingStartup.cs) to allow us to inject the startup assembly for lightup. In the in process scenario though, we will not have control of the process lifetime, therefore we can't inject the Microsoft.AspNetCore.Server.IISIntegration.IISHosting

[2017-10-25 00:12] jkotalik opened #461 "Implement IHttpLifetimeFeature"
Currently the abort logic only works for managed to native. When native sends a signal for ClientDisconnected, we need to stop reading and writing and cleanup the connection once fired.

[2017-10-25 02:02] taoli0124 commented on #459
Forgive me please,my english is so bad.
I create a default project with visual studio 2017.Write some code

![qq 20171025094243](https://user-images.githubusercontent.com/18223429/31976258-ff8838ca-b968-11e7-9eea-af5ef557151a.png)

I use ab test.It's my result.

with IIS
![qq 20171025094728](https://user-images.githubusercontent.com/18223429/31976388-daae7144-b969-11e7-9eb3-31f3dec6a442.png)

with

[2017-10-25 02:46] Tratcher commented on #460
Why not? We just need an environment variable set and ANCM in proc can still do that.

[2017-10-25 02:51] Tratcher commented on #456
The behavior is opt-in based on a user provided web.config flag. That's not a breaking change.

[2017-10-25 08:26] dallancarr commented on #459
Is this production code? Check your use of httpclient maybe.

[2017-10-25 16:20] muratg commented on #456
@shirhatti What's some of the important scenarios that may be breaking if we keep the name of the extension?

[2017-10-25 23:51] #427 closed

[2017-10-25 23:51] #442 closed

[2017-10-25 23:51] #435 closed

[2017-10-26 01:21] taoli0124 commented on #459
@dallancarr
I also found httpclient has problem,but i can't solve.

[2017-10-26 01:34] sebastienros commented on #459
Do you have the same issue is you remove the call to HttpClient and just use a constant text value instead?

[2017-10-26 03:32] taoli0124 commented on #459
If i  remove the call to HttpClient and the performance is ok.

[2017-10-26 18:48] dallancarr commented on #459
That should work. Just don't new it up in the controller or lazy load it. There are certain patterns of use around this object which have come to love recently.

[2017-10-27 10:26] DipeshMitthalal commented on #272
I am still facing the problem when i try to install ANCM 2.0 bundle on Winserver 2016 which has ANCM 1.1.0 installed.

[2017-10-27 10:30] DipeshMitthalal opened #463 "Installing ANCM (DotNetCoreWindows-2.0.0 WindowsHosting) fails on Win2016 Server which has 1.1.0 installed"
Error 0x80070643: Failed to install MSI package
[dd_DotNetCoreWinSvrHosting__20171027141752.log](https://github.com/aspnet/IISIntegration/files/1421715/dd_DotNetCoreWinSvrHosting__20171027141752.log)
[dd_DotNetCoreWinSvrHosting__20171027141752_000_AspNetCoreModule_x64.log](https://github.com/aspnet/IISIntegration/files/1421716/dd_DotNetCoreWinSvrHosting__20171027141752_000_AspNetCoreModule_x64.log

[2017-10-27 13:52] Tratcher commented on #463
@pan-wang @joeloff

[2017-10-27 16:47] pan-wang commented on #463
ANCM MSI got renamed to aspnetcoremodule_x64_en_preview1_142.msi. I believe the version already installed on your box is 1982. The new bundle tried to install the same version but different MSI file name and thus failed. This is a mistake in bundle authoring.  unfortunately I don't see an easy fix without another new bundle.

[2017-10-27 16:50] pan-wang commented on #463
@shirhatti

[2017-10-27 16:54] joeloff commented on #463
No, that's not it @pan-wang

The MSI logs show that 1970 is installed

[1F2C:65A8][2017-10-27T14:17:52]i103: Detected related package: {42C46B8A-86A1-4B94-9E9C-06B4BD6D8737}, scope: PerMachine, version: 1.0.1970.0, language: 0 operation: MajorUpgrade

But the upgrade fails very abruptly during the InstallValidateAction:

Action start 14:18:10: InstallValidate.
MSI (s) (6C:8C) [14:18:10:978]: PROPE

[2017-10-27 17:24] joeloff commented on #463
@DipeshMitthalal Can you manually run the MSI for ANCM. It should be available in C:\ProgramData\Package Cache\{6ABBB033-6281-4B81-A451-A3C8299C9BA7}v1.0.1982\packages\aspnetcoremodule_x64_en_preview1_142.msi

I suspect that there is an error being reported, but it won't be shows because the MSI itself is run in non-UI mode by the bundle.

[2017-10-27 17:34] DipeshMitthalal commented on #463
@joeloff  That is an interesting problem as i do not find that msi package. I have no clue where the name of the package coming from

[2017-10-27 17:40] joeloff commented on #463
I got that file path from the bundle log you originally attached, though it's possible it might have cleaned the local cache when the installed failed. Another option might be to launch the EXE, wait for the UI to show up and then check the cache to see if the MSI appears in **C:\ProgramData\Package Cache\{6ABBB033-6281-4B81-A451-A3C8299C9BA7}v1.0.1982\packages\**

[2017-10-27 17:50] DipeshMitthalal commented on #463
@joeloff  Yes. What i meant is why this installation(2.0.0) is refering to that package(preview 1_142) which i do not find in package cache but however i see it in log file.

Anyways i managed to get that msi from another source and ran it on the server.
[aspnetcoremodule_x64_en_preview1_142_instal_log.log.log](https://github.com/aspnet/IISIntegration/files/1422952/aspnetcoremodule_x64_en_preview1

[2017-10-27 17:52] joeloff commented on #463
When you ran the MSI manually was there anything in dialog from the UI that reported an error?

[2017-10-27 17:56] DipeshMitthalal commented on #463
@joeloff
![installation_fails screenshot](https://user-images.githubusercontent.com/5830519/32118135-ecb1ebd0-bb50-11e7-93b6-a70bdf0a1396.png)
Setup wizard ended prematurely is the error i get

[2017-10-27 17:58] joeloff commented on #463
Thanks, this does help. The step at which the MSI is failing is called InstallValidate. It typically runs after costing and in the majority of cases it usually reports issues with things like disk space. I'm trying to see if I can find more details from the logs.

[2017-10-27 18:03] DipeshMitthalal commented on #463
@joeloff Appreciate your help. Also i pulled this MSI (preview 1_142) from another development server where i had all pre relase and LTS versions installed. This MSI (preview 1_142) is not extracted or created on servers where i am facing problem (i.e where i am upgrading ANCM from version 1.0.5/1.1.2 to 2)
The installation of ANCM 2.0 goes fine on servers which doesnot have any previous version o

[2017-10-27 18:07] joeloff commented on #463
It does. The MSI should be able to upgrade from previous versions. We shipped varies copies of ANCM (1.0.1970, 1.0.1979, 1980, 1982). But it seems this upgrade is getting stuck. I'm busy setting up a machine to see if I can repro the upgrade issue.

[2017-10-27 18:15] DipeshMitthalal commented on #463
@joeloff
In order to help you in reproduce the issue,
I tried installtion again once more on another unpolluted server. I have attached all log files of our previous installation(1.0.5 & 1.1.2) and present installation (2.0.0)
[Logs of ANCM installation.zip](https://github.com/aspnet/IISIntegration/files/1423006/Logs.of.ANCM.installation.zip)
Also, here is the msi of preview version which i found

[2017-10-27 18:23] DipeshMitthalal commented on #463
@joeloff One of our engineers suggested to stop IIS and try upgrading again but i havent tried that one yet as the servers are live in production.

[2017-10-27 18:27] joeloff commented on #463
Let see if we can get a more verbose log. On the machine where it fails, can you try to run the MSI using the following command: **msiexec /i <PATH TO THE MSI> /l*v msi.log**

And then send me the msi.log file. I'm hoping the verbose logging returns more information

[2017-10-27 18:30] DipeshMitthalal commented on #463
Sadly, aspnetcore_windowshosting2.0 is not a valid msi package. Its an exe
file and msiexec is not able to proceed with this!

On Fri, 27 Oct 2017 at 20:27, Jacques Eloff <notifications@github.com>
wrote:

--
Best Regards,

Dipesh Mitthalal

[2017-10-27 18:37] joeloff commented on #463
I meant the ANCM MSI: aspnetcoremodule_x64_en_preview1_142.msi

[2017-10-27 18:51] DipeshMitthalal commented on #463
Please find attached the ANCM msi package as well as the log file  for the box where upgrade is failinf
[aspnetcoremodule_x64_en_preview1_142.zip](https://github.com/aspnet/IISIntegration/files/1423100/aspnetcoremodule_x64_en_preview1_142.zip)

Please note I am not sure if this is a valid MSI package as it is not found in package cache on the  server where dotnetcore 2.0.0 hosting bundle installat

[2017-10-30 21:18] VictorioBerra commented on #368
It sounds to me like if `<RuntimeFrameworkVersion>` is missing (which when creating a new project with the latest dotnet CLR it **is**) then it will automatically target 1.1.2 which is crazy to me, why is it like this?

## I was able to fix mine by adding:

[code]

[2017-10-31 17:27] Tratcher opened #466 "Add a target file to the IISIntegration package so VS can detect support for the new InProc mode"
InProc support is new in 2.1 and requires changes in ANCM, IISIntegration, and VS. VS is going to add a checkbox for in-proc that maps to the web.config setting, but it only wants to show the checkbox for projects with the right dependency versions. It could try to inspect package versions, but it would be cleaner to add a targets file to the package to advertise the support.

@BillHiebert will su

[2017-11-01 16:11] joeloff commented on #463
So far I'm unsuccessful in reproducing the failure. I created a Win 2016 VM, enabled IIS, installed the 1.1.0 hosting bundle, followed by the 2.0.0 hosting bundle. ANCM is upgrading correctly.

We need to get a verbose log from the machine that's failing. Something to try is to set the machine logging policy to verbose. You can do this by editing the registry: "HKEY_LOCAL_MACHINE\Software\Policies

[2017-11-01 18:37] apis3445 opened #467 "HTTP Error 502.5 - Process Failure"
Hi! I have a .net core 2.0 app I try to publish to IIS 10
 I have my webconfig like this
[code]

I review and I have the dotnet.exe in this path, if I try in console dotnet Core.dll runs correctly in localhost:5000 but in IIS I geth this error

HTTP Error 502.5 - Process Failure
and in the event viewer I get this error

Application 'MACHINE/WEBROOT/APPHOST/DEFAULT WEB SITE' with physical root  'C:

[2017-11-01 21:04] jkotalik commented on #467
How are you publishing the application to IIS? Through Visual studio, commandline, etc? Based on that scenario, check [our sample web.config](https://github.com/aspnet/IISIntegration/blob/dev/samples/IISSample/web.config) as an example.

[2017-11-01 21:09] apis3445 commented on #467
with visual studio with the folder path option I Have the webconfig like the sample and withd comand line runs correctly the user of the application pool and iste in iis has privileges

[2017-11-01 21:55] anurse opened #468 "Add EventSource/EventCounter tracing and metrics for ANCM In-Proc"
Some of the events/counters to add (some may already exist, others may be valuable too, discuss below):

* Requests - These should probably be emitted by default, when the source is enabled (Information Level).
  * `RequestStarted` event & counter - Triggered when a request is started
  * `RequestCompleted` event & counter - Triggered when a request is completed (includes response status code)
  *

[2017-11-01 21:56] natemcmaster commented on #444
This is still consistently failing for me. Have you seen this on other machines in the last month? If not, it might be bad machine state.

[2017-11-01 22:49] jkotalik commented on #444
I haven't still. I am not sure what is causing this regression. I have seen it on my machine in the past.

[2017-11-06 06:40] taoli0124 commented on #459
The issue is that asp.net core module in IIS doesn't forward calls faster to the application. Any idea?

[2017-11-06 18:09] jkotalik commented on #466
Could this checkbox in VS set an environment variable which is then mapped to the web.config setting?
cc/ @DamianEdwards @glennc as we were discussing this.

[2017-11-07 17:16] firemanwayne commented on #252
@damccull Your solution end a painful day and a half stent of moving to Https for me. His solution resolved my 502.5 error after publishing to Azure with .netcore2.0

[2017-11-07 17:27] gcsuk commented on #252
I solved this issue by excluding web.config from my project.
This means that when publishing, it creates default files as VS thinks there is no web.config, so Azure is happy, whilst the web.config is still on disk and available to local IIS.

[2017-11-07 17:48] arufolo commented on #420
Ever find a solution to this issue? I am having the same problem. DeveloperExceptionPage is working, but outside of a development environment I am getting blank pages for 500 error

[2017-11-07 22:11] jkotalik commented on #439
Ongoing work with https://github.com/aspnet/AspNetCoreModule/pull/232. Will react once requirements are determined.

[2017-11-10 19:42] pakrym opened #472 "HelloWorldTests, HttpsTest, NtlmAuthenticationTests broken on CI."
[code]

[2017-11-10 19:46] Tratcher commented on #472
The dll path was changed recently. @jkotalik did you get everything updated yet?

[2017-11-10 19:55] jkotalik commented on #472
Should be fixed by https://github.com/aspnet/Hosting/pull/1258

[2017-11-14 22:12] sballarati opened #474 ".NET Core 1.1.4 0x80070003 the system cannot find the path specified"
Microsoft .NET Core 1.0.7 & 1.1.4
Windows Server 2008 R2 SP1
Burn v3.10.3.3007, Windows v6.1 (Build 7601: Service Pack 1)

Visual C++ 2015 installed. Unfortunately this solution from #179 did not work for me.

Attaching the log:

[dd_DotNetCoreWinSvrHosting__20171114215006.log](https://github.com/aspnet/IISIntegration/files/1472702/dd_DotNetCoreWinSvrHosting__20171114215006.log)

Thoughts? Anythin

[2017-11-14 22:14] Tratcher commented on #474
@joeloff

[2017-11-14 23:08] joeloff commented on #474
@sballarati do you have the installation log from the .NET Core runtime? It will be in your %temp% folder and be named something like Microsoft_.NET_Core_1.0.7_-_Runtime_(x64)_nnnnnn.log

[2017-11-15 10:04] ysmoradi opened #475 "ASP.NET Core module runs app twice"
I've multiple **ASP.NET Core 1.1** apps with **.NET 4.6.1 as a sdk target** and **.NET 4.7 as a runtime** on **Windows server 2012 R2 (6.3.9600)**.

I've also installed **ASP.NET Core 1.1 hosting module** for an **unmanaged/integrated application pool**.

**Max worker process = 1**

IIS structure:
     App pools >> MainAppPool, AppPool1, AppPool2, AppPool3, AppPool4, AppPool5
     Web Site >> Main

[2017-11-15 11:51] Tratcher commented on #475
This issue was moved to aspnet/AspNetCoreModule#247

[2017-11-15 11:51] #475 closed

[2017-11-15 14:00] ysmoradi commented on #475
@Tratcher Thanks. Sorry for my bad.

[2017-11-15 19:26] alaminut opened #476 "HTTP Error 502.5 - Microsoft.AspNetCore.Antiforgery.dll"
I've deployed my Asp.Net Core 2.0 app to a new Azure Web App from Visual Studio 2017 publish tool.

When I open up my application it gives me 502.5 error and does not start, I enabled logging and found out this error is logged:

Application works perfectly fine on local development environment, and just in case I added above dependency as a seperate NuGet package - it is normally included in Micro

[2017-11-15 20:05] dallancarr commented on #476
2.0.3 has only been published for a day....kudo in and attempt a restore.

[2017-11-15 21:38] alaminut commented on #476
Sorry I didn't understand what you mean by restore?

[2017-11-15 22:11] dallancarr commented on #476
If you attempt a dotnet restore/build up in Azure you might be able to isolate the issue.

[2017-11-15 22:29] dallancarr commented on #476
https://github.com/aspnet/Home/issues/2254

[2017-11-16 00:06] MitchellNZ commented on #476
Running into the same issue myself..

Error I'm getting from Kudu when trying to manually _dotnet run_ is:
[code]

I am using the _Microsfot.AspNetCore.All_ package (which appears to include this package mentioned above).
I have also tried manually including the package.. But no luck.

I am out of ideas now.. if anyone could point me in the right direction, would be much appreciated.
Thanks!

[2017-11-16 00:46] robpearson commented on #476
I hit this as well and I fixed it by following the instructions in this [comment](https://github.com/aspnet/Home/issues/2254#issuecomment-343526213).

The problem is the ASP.NET web app is using the host server package store and the Azure one hasn't been updated as needed. The solution is to add `    <PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>` to your  `csjpro

[2017-11-16 09:35] alaminut commented on #476
Fixed this issue with @robpearson's suggested solution. Running dotnet restore on Kudu did not solve it. Any ETA on when will Azure package store be updated?

[2017-11-16 09:51] #476 closed

[2017-11-16 15:22] jrmcdona opened #477 "AspNetCoreModule spinning up and failing on a .NET Framework project"
Hey All,

Using IISExpress.

I am running a project locally that is .NET 452.  I also have a .NET Core 2 project that is unloaded and not running.

But after running the .NET Core 2 project I cannot seem to run my .NET 452 project anymore, they currently use the same port because that is where the AAD reply URL points too.

I am gettnig 502 Bad gateway on tons of static files.

Is something cached

[2017-11-16 16:53] jrmcdona commented on #477
There was a hidden applicationHost config file I couldn't find until I opened up the IISExress app which showed me the location.  I deleted it and restarted VS and it is working now.

[2017-11-16 16:53] #477 closed

[2017-11-16 19:07] #472 closed

[2017-11-16 20:46] sebastianbk commented on #476
I am still having this issue when publishing to Azure Web Apps. I followed @robpearson's advice and adding the `PublishWithAspNetCoreTargetManifest` property and setting it to `false`. However, when navigating to my Azure Web App, I still see the 502.5 error. What else could be wrong?

Here is a dump of my `csproj` file: https://pastebin.com/1CfNKcRb

@Eilon, can you maybe help out on this one? It

[2017-11-16 20:58] Eilon commented on #476
@muratg - do you know the status of getting Azure apps working with this? Also cc @JunTaoLuo in case you know about this.

[2017-11-16 21:05] sebastianbk opened #479 "HTTP Error 502.5 on Azure Web App, even with PublishWithAspNetCoreTargetManifest set to false"
I am running my ASP.NET Core app in Azure Web Apps and recently upgraded to version 2.0.3 due to some bugs in v2.0.0. However, now when I deploy to Azure, I get an error (HTTP 502.5), which other users have also encountered (e.g., #476).

I have tried setting the `PublishWithAspNetCoreTargetManifest` property to `false`, cleaned up the `wwwroot` folder in my Azure Web App and then redeployed. Thou

[2017-11-16 21:21] muratg commented on #476
@sebastianbk What does your publish output look like when you set that property and do a restore?  It should have a lot of assemblies with the property set to false.

Also, what's your deployment mechanism to App Service?

[2017-11-16 21:32] sebastianbk commented on #476
Hi @muratg. Here is the output of `dotnet publish -c Release`: https://pastebin.com/FJS5z8hP

I have both tried using Web Deploy from Visual Studio (15.4.4) as well as dragging and dropping in all the files via Kudu.

[2017-11-16 23:17] muratg commented on #476
Files seem to be present in your publish output.  @JunTaoLuo Any thoughts?

[2017-11-16 23:21] JunTaoLuo commented on #476
@sebastianbk would you be able to share your logs with us? You can turn it on by modifying the web.config by setting `stdoutLogEnabled` to `true` and creating the `logs` directory adjacent to your application dll
[code]

[2017-11-16 23:31] jkotalik commented on #456
I think we intend on keeping the behavior the same. If a user wants to swap between in process and out of process, the will have to call UseKestrel and UseIISIntegration, and UseIISIntegration will replace Kestrel for in process.

[2017-11-16 23:31] #456 closed

[2017-11-17 03:08] Tratcher commented on #476
https://github.com/Azure/app-service-announcements/issues/61

[2017-11-17 07:50] sebastianbk commented on #476
@JunTaoLuo, here is what I see in my event log (via Kudu):

[code]

However, I am not getting any logs in my `logs` folder (placed in `wwwroot` along with my app DLL) after setting `stdoutLogEnabled` to `true`. I tried republishing (both `Debug` and `Release`) as well as restarting the site from the management portal. Is there something obvious here that I am doing wrong?

[2017-11-17 18:38] acquire16 commented on #479
Getting exact same issue here.  Just updated from 2.0.0 to 2.0.3 and after publishing getting a 502.5.

[2017-11-17 18:44] JunTaoLuo commented on #476
@sebastianbk from what I gather, you have updated to the 2.0.3 patch? It looks like the deployment hasn't completed yet so running a platform dependent app will not work at the moment. For now if you want to deploy, you will need to do a standalone publish. Run a command like `dotnet publish -c Release -r <RID>` where you choose an appropriate RID. That will publish the runtime along with your app

[2017-11-17 21:34] MikahB commented on #479
Same issue here, much the same troubleshooting as well.  I'm going to revert back to "last known good" and see if I can get it going again, but all day today so far been dead in the water.

[2017-11-23 18:12] mrkemaltas commented on #476
@alaminut
The source of this problem is that the dotnet version on your local computer and the dotnet version on the server are different
Example
Server 2.0.2
Local  2.0.3

[2017-11-27 11:40] cinaradem commented on #311
How do you know that it is welded on redis, the same problem occasionally gives 502.3 error.

[2017-11-27 15:09] softsan commented on #368
I've updated VS 2017 to 15.4.4 Yesterday and then one of my app targeting to 1.1 was not working anymore. I tried adding `<RuntimeFrameworkVersion>1.1.1</RuntimeFrameworkVersion>`
but it didn't help much.

So I went back to VS installer and found that VS has installed .net core 2.0 and put 1.1 in optional category. So i have to re-install that version.

<img width="1245" alt="vs-update" src="https

[2017-11-27 23:04] neojg opened #481 "Font-Awesome woff files css url rewriting missing."
# Scenario

1. Generate the Angular SPA template based application.
2. Add Font-Awesome package
3.  Add some arbitrary fa into home.component.html like: `<i class="fa fa-spinner fa-spin"></>`
4. Limit the webpack url-loader to some small number e.g. 1000
5. build the project
6. Create the Debug profile to run on local IIS (Windows 10) with app URL: http://localhost/WebApplication1
7. Run the proje

[2017-11-29 15:37] ndreisg commented on #467
I had the same issue today. I found out, that my Azure Web App automatically updated the .net Core runtime to 2.0.3 so my 2.0.0 deployment didn't work anymore.
I had to update my local installed .net Core SDK to 2.0.3 too (https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.3.md)

I also updated the NuGet Package "Microsoft.AspNetCore.All" to 2.0.3

Hope this helps :)

*

[2017-11-29 15:46] apis3445 commented on #467
hi thank you I reinstall iis and works but today I have the same issue I update the project last week and yesterday the deploy has an error with the .net core version maybe in the future the team can works and don't mark a 503 error by the exact version of the .net core

[2017-11-29 17:15] Tratcher commented on #467
@davidfowl

[2017-11-29 17:23] davidebbo commented on #406
@ndreisg the upgrade to 2.0.3 should not be causing any deployment failures. If you think you have a case where it does, please open a separate issue so we can investigate that specifically. And please make it clear whether the problem happened as a result of *deploying*, or whether the app that was running suddenly broke with no deployments on your end (but not here, in a separate issue please).

[2017-11-29 20:05] sballarati commented on #474
[Microsoft_.NET_Core_1.0.7_-_Runtime_(x64)_20171114215721.log](https://github.com/aspnet/IISIntegration/files/1515352/Microsoft_.NET_Core_1.0.7_-_Runtime_.x64._20171114215721.log)

@joeloff thanks for looking into it.

[2017-11-29 20:53] joeloff commented on #474
Looks like it's not able to access the URL for downloading the VC redist. Do you have internet access from the machine? I've seen instances where servers on which the hosting bundle was installed could not access outside items.

In .NET Core 1.0 runtime, it still depends on the C++ redists and those are downloaded dynamically, which I know defeats the purpose of having a selfcontained bundle that

[2017-11-29 21:41] sballarati commented on #474
Thanks for your help! Actually, the VC redist was installed before running the bundle, I found this file in the temp folder too:

[dd_vcredist_amd64_20171114220611.log](https://github.com/aspnet/IISIntegration/files/1515630/dd_vcredist_amd64_20171114220611.log)

[2017-11-29 22:07] joeloff commented on #474
Ah, so the catch is that with bundles, even if they fail to install they will still create an entry in ARP. They will also fail to install anything else after the initial failure. If the runtime was installed there should also be an entry in ARP for the 1.0.7 and the 1.1.4 runtimes themselves? Do you see those?

[2017-11-30 09:40] ndreisg opened #482 "HTTP Error 502.5 - Process Failure - 2.0.0 Deployment in Azure Web App with 2.0.3 Runtime"
As @davidebbo stated in #406 I create a new Issue here for my Problem with 2.0.0 deployment on 2.0.3 Azure Web App.

My 2.0.0 deployment broke when the .net Core Runtime of my Azure Web App was updated to 2.0.3.
A HTTP Error 502.5 - Process Failure was displayed.

**The app that was running suddenly broke with no deployments.**
I then tried to redeploy my 2.0.0 App but the error stayed.
After I up

[2017-11-30 13:22] Tratcher commented on #482
Was this targeting 2.0.0 or 2.0.0-preview2 as implied by the manifest errors?
Can you share your deps.json?

[2017-11-30 17:54] davidebbo commented on #482
It looks like it's targeting 2.0.0, but has references to pre-release assemblies which only existed in the pre-release runtime store. So it got broken when 2,0 prerelease was removed from [App Service](https://github.com/Azure/app-service-announcements/issues/35), and not because 2.0.3 was deployed.

So I think this is by design.

[2017-12-01 09:06] Julien-Mialon opened #483 "IPv4 loopback interface: port already in use After Azure WebApp restart"
Last night our Azure web app restarted (automatically) and didn't come back online as usual.

It failed with an IOException because it can't bind to the IPV4 address because the port is already in use. Generally we saw this error only on IPV6 address and do not stop the app working correctly but tonight, it never bound to IPV4 nor IPV6.

Below the exception in our application log file :
[code]

An

[2017-12-01 09:46] DaleMckeown commented on #226
I've only just realised this 'feature' after moving a host of sites ove to AspNetCore. I can't believe it's deemed to be acceptable to take your sites offline for a few minutes every time you want to publish!

This is bad enough for me as a leader of a small team - are those practicing continuous integration on a large scale shunning AspNetCore?

[2017-12-01 09:54] davidfowl commented on #226
Are you deploying use FTP or xcopying? Or are you using webdeploy?

[2017-12-01 09:59] DaleMckeown commented on #226
I'm publishing via webdeploy to IIS.

[2017-12-01 10:06] ajeckmans commented on #226
We are currently working around this issue by just deleting the web.config first (effectively killing the application), but this is not really an acceptable solution in the long run.

@DaleMckeown ideally with a continuous integration workflow you'd have multiple servers behind a load balancer. You'd then pull one server, update it, put it back en move on to the next. Ofcourse this is not always p

[2017-12-01 10:12] davidfowl commented on #226
@DaleMckeown

There are a few options that can be used to make deployment using webdeploy work well (it supports renaming locked files and dropping app offline automatically). Is that the case by default @shirhatti ?

@ajeckmans

Does that mean you're doing xcopy deployment?

[2017-12-01 10:16] DaleMckeown commented on #226
Thanks David - sounds better than what I am currently doing (manually stopping the site & app pool in IIS). Can you point to some resources so I can investigate the implications of these approaches?

[2017-12-01 10:49] davidfowl commented on #226
@DaleMckeown some info untilI find the source of truth https://github.com/Microsoft/vsts-tasks/issues/5259#issuecomment-346202503

[2017-12-01 11:32] ajeckmans commented on #226
@davidfowl We're using webdeploy to deploy to our testserver (which btw never gives us problems), from there we copy the files to our live servers using robocopy

[2017-12-01 12:16] ndreisg commented on #482
I think this explains it.
Thank you. Can be closed.

[2017-12-01 13:35] #482 closed

[2017-12-01 16:03] guardrex commented on #226
@ajeckmans

When the *web.config* is removed from the deployment, IIS will serve sensitive files from the deployment. An attacker could simply request files continuously day and night until your 30s window opens up.

@DaleMckeown

Following @ajeckmans advice if you ever want to get into the weeds a bit with a PS approach to do that, you can script the process to drop AppPools one at a time for dep

[2017-12-01 17:50] ryanbrandenburg commented on #444
This fails in the same way on our Win10 agent, so I think we have strong evidence for a "bad machine state" problem.

[2017-12-01 18:15] natemcmaster commented on #444
What version of Win 10 is that agent using? I wonder if this is related to the fall creator update?

[2017-12-01 18:25] jkotalik commented on #444
It is using the fall creators update, though I believe I saw this fail before locally on my machine. It's an issue with either dotnet publish or the IISExpress deployer in hosting.

[2017-12-01 20:22] halter73 commented on #483
It is expected that this can happen rarely during server restarts because ANCM selects a random port without first checking if it's in use.

This is usually benign though since the error only happens on server startup and ANCM should restart the process up to ten times in a row after it crashes. Is that not happening in this case?

[2017-12-01 21:52] ajeckmans commented on #226
@guardrex you're right. We copy an app_offline.htm to the dir first, then we remive the web.config, copy over the application, put back the web.config and remove the app_offline (all with a script ofc). Unfortunately just placing the app_offline file in the websites directory does not break the lock on the dlls. We need to remove the web.config, an action we don't need to do for the older asp.net

[2017-12-01 23:10] guardrex commented on #226
@ajeckmans That shouldn't work. When the *web.config* file is removed, IIS picks that change up immediately, so it should default requests over to the Static File Module and start serving files. Try it and see if that's what happens ...

1. Add *app_offline.htm*.
2. Confirm that the site serves *app_offline.htm*.
3. Pull the *web.config* out.
4. Request a sensitive file (e.g., `http://localhost:<P

[2017-12-01 23:22] guardrex commented on #226
I guess I should add a note of sympathy to that ... it did raise a few eyebrows from a security perspective. When that deployment layout change was made, it was discussed, including putting the file back into `wwwroot`, see ...

[Discussion for: Publish for IIS changes to web.config location (IISIntegration 158](https://github.com/aspnet/IISIntegration/issues/158)
[Head-check on moving `web.config

[2017-12-02 14:15] DaleMckeown commented on #226
This leaves me even more confused about what we should be doing in this situation.

What's the current recommendation for publishing AspNetCore sites to IIS via web deploy in a way that can avoid file locks?

[2017-12-02 16:37] Julien-Mialon commented on #483
No in our case, It hasn't restarted after this error. We had to manually restart the webapp from azure portal to make it restart correctly.

[2017-12-05 10:32] ianrathbone commented on #368
@softsan thanks this helped me!

[2017-12-05 13:22] Julien-Mialon commented on #483
@halter73 After checking some others webapp, the AppService on azure have restarted multiple of our application at the same moment and 3 of them had the port already used error and did not restart correctly.

[2017-12-07 06:02] SamShekhovtsov commented on #368
guys, this thing is completely crazy. Visual Studio updater is removing the current dotnet framewrok version. Are we sick? where the world is going to.

[2017-12-07 18:11] muratg commented on #368
@softsan @ianrathbone @SamShekhovtsov the VS issue is not directly related to the issue discussed here, though. Could you guys give the feedback through VS feedback tool?

[2017-12-08 00:45] jkotalik commented on #444
Issue fixed with https://github.com/aspnet/Hosting/commit/9f1e6607dd1b3d15bc6c42146629677c6b455fd0 because of net471 issues (net471 implementation of IsOS64bit is incorrect for some reason).

[2017-12-08 00:45] #444 closed

[2017-12-08 01:29] jkotalik opened #485 "Investigate populating IServerAddressesFeature for In-Process."
This is mostly to keep the HTTPS experience consistent, but if there is a way to populate IServerAddressesFeature from IIS binding information.

[2017-12-08 23:32] ryanbrandenburg opened #487 "Flaky test: Https_HelloWorld_CoreCLR_X64_Portable"
As seen [here](http://aspnetci/viewLog.html?buildId=364650&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win2008r2_Universe#testNameId5317390463002800083).

[code]
Sounds like a file that is used in registering a URL has contention.

[2017-12-09 03:34] bigo92 commented on #406
azure not suport dotnet 2.0.3 runtime
you fix: open file xxx.csproj
`<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.3" />` => errror 502 deploy
relapce code
`<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />` => done

[2017-12-09 04:38] davidebbo commented on #406
@bigo92 that is not correct. Azure App Service has had 2.0.3 for several weeks.

[2017-12-12 03:45] 68681395 commented on #368
There is the same problem with my project, the workaround to resolve it successfully is that remove the item 'C:\Program Files (x86)\dotnet' from the Path of Environment Variable because I found I did not install the right netcore version under X86.  I have not tried to install the proper version with x86,  appreciate that you tell me if you have done that test.

[2017-12-12 15:05] JasonRodman commented on #226
I would like to know as well. This is becoming a major roadblock to .net core adoption at my organization.

[2017-12-13 00:54] ravikumarsureshbabu opened #489 "ASP Net Core vs WCF performance"
Hello,

I upgraded a WPF application to be a ASP NET CORE 2 application. I am running  ASP NET CORE 2 application using IIS + Kestrel.   ASP NET CORE 2 application has application insights and authentication middleware with empty handler, while WPF dont.
Excluding all the time it takes to process the business logic in the application, ASP application takes approximatly 150ms more than WPF applicat

[2017-12-13 02:30] Tratcher commented on #489
The IIS + Kestrel scenario does have some known latency overhead. In the short term the best alternatives are to use Kestrel or HttpSys directly. In the future we're working on a direct IIS option that will address this.

[2017-12-14 16:54] plutosolutions commented on #406
Hi, Can you fix it ?
Here is the solution https://youtu.be/rAA1FVA0fog

[2017-12-19 22:34] shahjay748 commented on #226
When my .net core web application is running and I am trying to publish a new build, it gives me error that DLLs are in use. So I have to Stop the app pool, then update the DLLs and start the App Pool.

**Is there any workaround in .Net Core by which I can publish the new Build/DLLs without stopping the App Pool ?**

This is by default supported in .Net framework using shadow copy mechanism. Unfor

[2017-12-19 22:41] shahjay748 commented on #238
When my .net core web application is running and I am trying to publish a new build, it gives me error that DLLs are in use. So I have to Stop the app pool, then update the DLLs and start the App Pool.

Is there any workaround in .Net Core by which I can publish the new Build/DLLs without stopping the App Pool ?

This is by default supported in .Net framework using shadow copy mechanism. Unfortuna

[2017-12-19 22:52] Coruscate5 opened #491 ".NET Core 2.0 - IIS integration only functions with "forwardWindowsAuthToken=true""
As far as I can tell, I shouldn't need to use this old config anymore:

[code]

However, I tried for many days to get Kestrel to just "work" normally with my Angular 4 front-end making requests to the .NET Core 2.0 WebApi backend. Regardless of what I change the ASPNETCORE_IIS_HTTPAUTH env var to, it was still failing.

Regardless of the authentication/authorization middleware added, including all

[2017-12-19 23:08] Tratcher commented on #491
ForwardWindowsAuthentication is internal in 2.0. It's used only for infrastructure purposes. ASPNETCORE_IIS_HTTPAUTH is also only for infrastructure and you should not need to set it.
https://github.com/aspnet/IISIntegration/blob/d2fba28272759f9c59ca9e08fd9d4373576a919d/src/Microsoft.AspNetCore.Server.IISIntegration/IISOptions.cs#L24

forwardWindowsAuthToken=true is the default value unless you ha

[2017-12-19 23:20] Coruscate5 commented on #491
I was getting these:

`2017-12-19 11:17:19.6104 [EventId:13] [Thread:12] Microsoft.AspNetCore.Server.Kestrel [ERROR] - Connection id "0HLA72JND95HL", Request id "0HLA72JND95HL:00000002": An unhandled exception was thrown by the application. Object reference not set to an instance of an object.`

These were coming about I think because I was trying to access the user identity in HTTPContext (which

[2017-12-19 23:25] Coruscate5 commented on #491
Installing the new 2.0.3 .NET Core web hosting bundle from here (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/aspnet-core-module?tabs=aspnetcore2x) did the trick - the auth handshake is doing normal things again.

Ugh & thanks!!

[2017-12-20 08:44] ajeckmans commented on #226
@guardrex it is indeed scary to break the app to get IIS (or whatever is holding the lock) to release the dll's, however it is even scarier to not be able to push hotfixes to a product. For the time being breaking the app is the only thing we can do, but we're ofc looking into other more modern approaches to handling this :)

@shahjay748 don't hold your breath. If I were te redo the process here,

[2017-12-20 12:15] joshkrak commented on #416
Has anyone found a workaround to this? My VSIISExeLaunch eats up an entire core (25%). Even after reboot, no VS open, as soon as I make the first request to the site, VSIISExeLaunch starts up and takes up 25% CPU.

[2017-12-20 14:00] dexterhussain commented on #227
Same error coming on Kestrel For Ubuntu. Previously , it was working fine as soon as I added new things from development machine rebuilt it and ran it this issue starts coming no issues on development machine,

: Microsoft.AspNetCore.Antiforgery.Internal.DefaultAntiforgery[7]
      An exception was thrown while deserializing the token.
System.InvalidOperationException: The antiforgery token could

[2017-12-20 15:33] BillHiebert commented on #416
@joshkrak, @enterpub - can one of you capture a dump of VSIISExeLaunch process while it is in this state, or an ETL trace? I've never been able to reproduce it.  Thanks.

[2017-12-20 16:37] tmmueller commented on #252
@razzemans Thank you! Removing the Application Insights extension worked for me as well. I removed it in the Azure portal rather than Kudu.

[2017-12-20 17:41] enterpub commented on #416
I'm now on VS 15.5.2 and have not experienced this issue yet, fortunately. If it comes up again, I'll try to have a dump

[2017-12-20 17:47] muratg commented on #227
@dexterhussain What version are you using (what does your csproj look like)?

[2017-12-21 03:59] dexterhussain commented on #227
@muratg  I am making a project on windows based machine using Visual Studio and running it on ubuntu after getting it build. Previously same code was running on Ubuntu now after new build it gives error

[2017-12-21 04:21] dexterhussain commented on #227
@muratg Btw I am using Asp net core 2.0

[2017-12-21 08:56] tkallsen opened #493 "ASP.NET Core Module 1.1 not installed in IIS on Windows 2016"
I'm not able to get the ASP.NET Core Module 1.1 installed in IIS on Windows 2016. I have tried three different 2016 servers, but it's the same problem with all of them.

Installation goes ok as far as I can see after scanning the logs, but the aspnetcore.dll is not installed under C:\Windows\system32\inetsrv, and there is no entry in the IIS Module list.

I'm using the Server Hosting Bundle (https

[2017-12-21 11:29] antonGritsenko opened #494 "IISIntegration and static files in asp.net core 1.x"
Hello all

I have IIS integration enabled as usual:
[code]
and static files in default configuration:
`app.UseStaticFiles();`

Everything located in wwwroot (defaults folder for static files) with such config will require authentication.
Not sure if it's a bug or just misunderstanding, but from my point this is at least weird behavior, because the doc of static file clearly mentioned (https://docs

[2017-12-21 16:02] Tratcher commented on #494
Do you mean that you've configured IIS to require windows auth for all requests? And now you want to exclude your static files from that?

See Allow anonymous in https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?tabs=aspnetcore2x
In short, you need to enable anonymous and windows in IIS and then configure Authorization on your various restricted resources.

[2017-12-21 16:33] antonGritsenko commented on #494
@Tratcher thanks for quick response.
And I'm using Kestrel, not a WebListner. But in any case, I think I have found my problem. Anonymous access must be enabled on site's root, not on subfolder as it was before (with regular ASP.NET and IIS).
I will re-open this item in case if it's not a case.

[2017-12-21 16:33] #494 closed

[2017-12-21 16:43] Tratcher commented on #493
@pan-wang @joeloff

[2017-12-21 17:02] pan-wang commented on #493
This is a known issue due to a bug in bundle. We are rebuilding the bundle and will release it soon.  As workaround, you can uninstall the problematic bundle and install an older one.

[2017-12-21 18:42] muratg commented on #227
@dexterhussain could you create a simple repro app which reproduces the problem on a github repo, and share it in a new bug so that we can investigate further? Thanks.

[2017-12-22 00:13] tkallsen commented on #493
Ok, the 1.1.4 bundle (https://download.microsoft.com/download/6/F/B/6FB4F9D2-699B-4A40-A674-B7FF41E0E4D2/DotNetCore.1.0.7_1.1.4-WindowsHosting.exe) worked, as you said. Do you have an ETA for "soon"? ;)

[2017-12-22 22:54] jkotalik opened #495 "IIS Functional tests should try multiple ports if one is already being used."
Currently many ports are hard coded to a certain value, like https://github.com/aspnet/IISIntegration/blob/dev/test/IISIntegration.FunctionalTests/NtlmAuthentationTest.cs#L31. I had an application on the same port, which caused the test to always fail. We should have a port count that we will continue to increment and allow tests to try multiple ports, like in HttpSys: https://github.com/aspnet/Ht

[2017-12-22 23:49] Tratcher commented on #495
This applies to ServerTests and MusicStore as well.

[2017-12-27 17:38] jkotalik commented on #493
See https://github.com/aspnet/AspNetCoreModule/issues/275 for more information. We are working on repackaging it as soon as possible.

[2017-12-28 11:13] bigo92 commented on #406
thank you! demo is verry good

On Thu, Dec 14, 2017 at 11:54 PM, Pluto Solutions <notifications@github.com>
wrote:

[2017-12-28 11:36] road42 commented on #193
The issue is about one year old and was a duplicate as written. The problem was fixed one release later.

[2017-12-28 12:36] plutosolutions commented on #406
You are welcome.

[2017-12-29 10:16] manishbupadhyay commented on #247
Hi @Tratcher Where is .vs folder can you please specify the location ?

[2017-12-29 13:12] Tratcher commented on #247
In your solution root directory.

[2017-12-30 01:56] jkotalik opened #498 "IISIntegration functional tests are currently failing"
We are now using ANCM as an internal dependency in IISIntegration. Tests seem to either be all passing or failing. I will disable for now and investigate issues this weekend/next week.

[2018-01-02 17:48] jkotalik commented on #498
We will either need to wait on hostfxr changes to re-enable these or find a way to specify the request handler globally. When loading the aspnetcore.dll (shim), it will look for the corresponding aspnetcorerh.dll(request handler) in the application, and then looking in a global location. The problem is there is no way for our tests to specify the global location of the request handler, and without

[2018-01-02 17:59] jkotalik commented on #498
Looks like we will go with the assumption that the request handler will be side by side with the shim (in the same folder).

[2018-01-03 15:37] Julien-Mialon commented on #483
@halter73 Do you have any update on this issue ?

[2018-01-04 19:17] jkotalik commented on #498
New issue: E2E tests seem to be hanging in some scenarios, responding with 400 status codes. Causes tests to timeout eventually. This seems like an issue with the OutOfProcess implementation. @pan-wang I'll try to gather more information.

[2018-01-05 02:07] jkotalik opened #506 "Increment aspnecore.dll and aspnetcorerh.dll file versions based on build version."
We need to modify the version.h file and the ANCM file version to reflect the build version number.  See: https://github.com/aspnet/IISIntegration/blob/dev/src/RequestHandler/version.h and https://github.com/aspnet/IISIntegration/blob/bcc10d3012f6e48a5ed4e5d639331bf874ba5fb5/version.props

[2018-01-05 02:09] shirhatti opened #507 "startMode="AlwaysRunning" for inProcess ANCM"
There was an earlier issue asking for this (https://github.com/aspnet/AspNetCoreModule/issues/29) which we declined to do when ANCM was only out of process.

At the minimum, we need to ensure ANCM doesn't break with AlwaysRunning for 2,1. I suspect it might **just work**, but @jkotalik and @pan-wang know better.

[2018-01-08 18:03] pan-wang commented on #507
AlwaysRunning just let WAS start w3wp.exe.  Customer's true ask is about "Application_Start" or a "Startup" class in asp.Net core. I don't think asp.net core emit such notification. @davidfowl  @Tratcher  can you confirm it?

[2018-01-08 21:41] asbjornu commented on #507
I'm with @pan-wang in that the requirement here might be two or even threefold. Solving the IIS worker process recycle mechanism isn't a real solution, at least not to me. Microsoft has managed to make this very complicated and hard to understand by having three different related and similar features for "keeping an IIS application warm" (which I believe is what most developers want):

1. Implemen

[2018-01-09 15:51] M-Yankov commented on #176
Thanks for the comments.
For anyone who has the same issue, check whether you are hosting an application on the same port in IIS.
That solved my problem.

[2018-01-10 05:32] tuespetre commented on #507
@shirhatti @asbjornu my original request was basically this: when the application pool starts I want the app to also start. I don’t want it to wait for a request to start.

[2018-01-10 11:53] alrz commented on #467
For my case the issue was rather silly but I had the same error. Make sure that the application is under "Default Web Site" in IIS console.

[2018-01-10 15:28] sergioadh commented on #507
I participated in the previous thread and I was asking for what @tuespetre said as well

[2018-01-10 20:03] nokturnal commented on #467
@ndreisg totally solved my issue...

[2018-01-10 20:51] shirhatti commented on #507
Yup, we're on the same page here. Forgive my rather ambiguous issue title

[2018-01-10 22:10] #424 closed

[2018-01-10 22:24] jkotalik opened #515 "Enable In Process tests once latest ANCM schema is added to Visual Studio"
ANCM in process tests have to be disabled until we add the updated ANCM schema to Visual studio. The 1985 build of ANCM was supposed to have the schema change (current build on VS), however it was actually in the 1986 build of ANCM. We need this schema change to run in process tests because adding the new hostingModel="inprocess" to your web.config will fail at schema validation. As we rely on IIS

[2018-01-10 22:31] shirhatti commented on #515
😭

[2018-01-11 16:25] mdevreeze commented on #467
We've run into this issue too, several times.
I do think the errors thrown are not really helpful in explaining what is going on. A simply SDK check should take place which reports when there is a mismatch.

[2018-01-12 20:46] jkotalik opened #516 "Clean up exception strings across managed inprocess code."
- Centralized exception string location, like https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Core/CoreStrings.resx
- Any TODOs related.

[2018-01-13 02:28] halter73 commented on #483
@Julien-Mialo .NET Framework v4.7.1 was rolled out to Azure App Services within the last 5 days or so. Have you seen this issue at all in the last 5 days?

[2018-01-14 21:32] #145 closed

[2018-01-14 21:32] davidfowl commented on #145
There's no longer a dotnet-publish-iis

[2018-01-17 17:46] mockjv opened #518 "IISIntegration (via hosting bundle) appears to require VC++ 2010 Redis?"
I'm in the process of producing an installer that helps place all of the appropriate pre-reqs on a destination system using Wix.  I ran into a bit of an oddity in that if either Web Deploy 3.5 (with the SQL components) or VC++ 2010 Redis is not installed, I receive 500.19 errors if I published the project without a specific runtime (e.g.  dotnet publish -f netcoreapp2.0).  Once either one of those

[2018-01-17 17:58] #518 closed

[2018-01-17 17:59] mockjv commented on #518
Closing because I just realized I placed this in the wrong repo.

[2018-01-17 22:44] enginaar commented on #420
I'm having the same issue on Windows 7, IIS 7.5. Any solutions?

[2018-01-17 23:03] jhkimnew opened #519 "ANCM: Inprocess: 500 error when 32 bit dotnet installation path is set before 64 bit's installation path for the PATH environment variable"
1. Configure PATH environment variable to put the path of 32 bit dotnet.exe before 64 bit path.
Ex.) %SystemRoot%\system32;%SystemRoot%;%SystemRoot%\System32\Wbem;%SYSTEMROOT%\System32\WindowsPowerShell\v1.0\;C:\Program Files (x86)\dotnet;C:\Program Files\dotnet;
2. Restart IIS services to apply the change
3. Configure inprocess mode and set relative path for dotnet.exe, not full path
4. Send a re

[2018-01-17 23:08] jhkimnew opened #520 "ANCM: Inprocess: Logic problem of handling file path of dotnet.exe in GetHostFxrParameters()"
If users configure dotnet.exe file path without file extension such as "c:\program files\dotnet\dotnet”, the file path is considered not existing file inside of the GetHostFxrParameters() function.

[2018-01-17 23:10] jhkimnew opened #521 "ANCM: Inprocess: Exception error in 32 bit mode"
If users switch IIS apppool to 32bit mode, it does not work and the worker process crashes.
I got the stack information when the first chance of exception happen and attached it below.

FYI, adding one link regarding the error: https://stackoverflow.com/questions/3914750/hows-rtc-checkesp-implemented

0:005:x86> kn
# ChildEBP RetAddr
00 00ebf6e4 6b49fbb9 aspnetcorerh!failwithmessage+0x1ea
01 00ebf

[2018-01-18 01:37] jhkimnew opened #522 "ANCM: Inprocess: 500 error after switching to inprocess from outofprocess mode"
REPRO STEPS:
1. Set hostingMode with outofprocess or empty value (default value is outofprocess)
2. Send a request and you can see w3wp.exe is started
3. Set hostingMode with inprocess
4. Send a request

EXPECTED:

No error

ACTUAL:

500 error

NOTE:

1. In the aspnetcorerh!IN_PROCESS_APPLICATION::ExecuteApplication function, LoadLibraryW(m_pCOnfig->QueryHostFxrFullPath()) returns false and that's

[2018-01-18 14:56] Looooooka commented on #507
So is there a solution or do we have to have a separate pool and a classic app which is going to do all this for us(by calling .čnet core website urls?)

[2018-01-18 20:21] muratg commented on #521
cc @jkotalik @pan-wang

[2018-01-18 20:23] muratg commented on #522
Workaround is manually recycling the process after changing the config.

[2018-01-18 22:46] jkotalik commented on #507
I think we need to keep the current AlwaysRunning functionality the same as before. If we want to support "when the application pool starts I want the app to also start," we should design a different feature. For example, @BillHiebert wanted to use "AlwaysRunning" to allow VS to debug attach to w3wp.exe before the first request comes in.

[2018-01-18 22:53] shirhatti commented on #507
I disagree. The semantic meaning of the feature is not just to start w3wp.exe, but rather start your application as well. This is what happens with a system.web app today.
Just because we got we never got around to doing it in ANCM thus far, we don't have to preserve that status quo.

Designing it is a new feature is not a viable option since we can't modify IIS schema to add another attribute to

[2018-01-18 23:01] jkotalik commented on #507
Will this be any different from the app warmup module https://blogs.msdn.microsoft.com/bryang/2011/04/29/iis-application-warm-up-module/ ?

[2018-01-18 23:28] jkotalik commented on #521
From what I can tell, the request still succeeds. Seems to be some sort of interop issue between C# and C++ code.

[2018-01-19 00:37] jhkimnew opened #525 "ANCM: Parent level configuration change should recycle applications in child level"
This is a regression issue.

STEPS TO REPRO:

1. Create an IIS web application with an aspnetcore app
2. Send a request to the app
3. Change any configuration from the site level

EXPECTED:

The application should be recycled after the configuration change

ACTUAL:

The application is not recycled.

[2018-01-19 00:49] jhkimnew opened #526 "ANCM: DCR: requestTimeout granularity should be changed from 60 seconds to something else 1 or 10"
The requestTimeout granularity is 60 and that makes to test the configuration difficult (waiting for 60 seconds). So, it would be nice we can reduce the value with a smaller number to make it easy.

[2018-01-19 02:16] jhkimnew opened #528 "ANCM: disableStartUpErrorPage does not work"
STEPS TO REPRO:

1.	Update web.config of Aspnetcore app with the following content.

[code]

2.	Put custom502-3.htm and custom502-5.htm on the root path
3.	Send a request

EXPECTED:

Custom error message is shown

ACTUAL:

Custom error message is *not* shown

[2018-01-19 20:41] #522 closed

[2018-01-19 20:41] shirhatti opened #531 "Add ProjectCapability for ANCM In-process hosting"
See https://github.com/aspnet/Universe/issues/790

[2018-01-19 22:20] jhkimnew opened #534 "ANCM: Inprocess: stdoutLogEnabled: w3wp.exe crashed when it is being recycled if stdoutLogEnabled is set to true"
The repro step of the crash issue.
1. Set inprocess for hostingModel
2. Set true for stdoutLogEnabled.
3. Send a request
4. Recycle the IIS AppPool that is used by the application

Expected:

W3wp.exe is recycled with no error.

Actual:

W3wp.exe gets crashed.

[2018-01-19 23:59] jkotalik commented on #534
#535

[2018-01-19 23:59] #534 closed

[2018-01-22 21:10] jhkimnew opened #536 "ANCM: Inprocess: environmentVariables does not work"
1. Configure environmentVariables  for inprocess mode as the following example web.config:

[code]

2. Send a request to the aspnetcore app

EXPECTED:

The configured environment variables are available in the application process

ACTUAL:

The configured environment variables are not available in the application process

[2018-01-22 21:56] jhkimnew opened #537 "ANCM: Inprocess: Appverifier error "Waiting on a thread handle in DllMain""
When recycling an IIS worker process where inprocess aspnetcore application is running, the below appverifer error happens.

[code]
NOTE: here are related articles on this issue

1) https://stackoverflow.com/questions/35828004/waitforsingleobject-for-thread-object-does-not-work-in-dll-unload
2) https://msdn.microsoft.com/en-us/library/windows/desktop/dn633971.aspx

Part of the "1)" article copied

[2018-01-22 22:27] jkotalik commented on #536
This should be a quick fix, @pan-wang we decided on appending environment variables rather than overwriting them, correct?

[2018-01-22 22:39] Tratcher commented on #536
Yes please

[2018-01-22 23:06] jhkimnew opened #538 "ANCM: Inprocess: forwardWindowsAuthToken does not work"
1. Enable NTLM authentication for an aspnetcore app which is running in inprocess
2. Send a request to the aspnetcore app

EXPECTED:

The request headers should contain the following headers:

MS-ASPNETCORE-TOKEN
MS-ASPNETCORE-WINAUTHTOKEN

ACTUAL:

The request headers does not have the expected request headers.

[2018-01-22 23:12] Tratcher commented on #538
No, this flag has no function for the in-process scenario. The MS- auth headers are not required for in-proc, we can query the IIS data structures directly.

[2018-01-22 23:13] Tratcher commented on #538
Note the schema default was changed to `true` some time ago. The more interesting question here is if we defined some suppression behavior for `false`.

[2018-01-23 00:06] jhkimnew commented on #538
@Shirhatti, @pan-wang  I think we should ignore forwardWindowsAuthToken for inprocess mode.
Would you confirm? The current behavior is that we don't do anything when the forwardWindowsAuthToken is false in inprocess.

[2018-01-23 00:07] jkotalik commented on #536
@muratg let's put this in preview 2. There are work arounds by setting the environment variables directly on the w3wp process. The question is if we are okay with the web.config environment variable settings affecting the rest of the IIS pipeline's environment variables.

[2018-01-23 00:08] Tratcher commented on #536
Vs. having consistent behavior for in and out of proc.

[2018-01-23 00:15] muratg commented on #536
@shirhatti FYI

[2018-01-23 00:55] jhkimnew commented on #536
BTW, the work-around is only available recent OS build. For example, on Windows 2012 R2, users can add additional environment variable to IIS worker process.

[2018-01-23 01:51] jhkimnew opened #540 "ANCM: _ASSERT(... *phWaitHandle == NULL) failure"
1. Put a sleep time with 10 seconds and configure startupTimeLimit with 5
2. Send a request

EXPECTED:

No assertion failure

ACTUAL:

Assertion failure happens from the line of "_ASSERT(... *phWaitHandle == NULL)".

Attached the call stack below

[code]

Eventually, I got this exception error
[code]

[2018-01-23 02:40] jhkimnew opened #542 "ANCM: Inprocess: No event information for startup and graceful shutdown"
1. Send a request to an aspnetcore app in inprocess
2. Recycle IIS worker process where the application was running
3. Look at Windows Events

EXPECTED:

There must be events of starting/stopping applications

ACTUAL:

No event.

[2018-01-23 08:37] geirsagberg commented on #448
@AdrienTorris Having a similar problem, only with IIS Express; what was your solution?

[2018-01-23 19:15] jhkimnew commented on #540
The assertion failure can be fixed with reinitializing m_hProcessWaitHandle with NULL value on the StartProcess() as the following:

[code]
However, after fixing the assertion failure issue, when I retried the same scenario, I ran into this AV.
Please take a look at this AV issue as well.

Attached the stack of the AV.

[code]

[2018-01-23 20:31] PRElias commented on #467
Having same issue. Already tried to update .Net Core to 2.0.3

[2018-01-23 22:58] jkotalik commented on #531
Closed by 10f0f7b2ee56855c27ef578556c3b47c4beba39b

[2018-01-23 22:58] #531 closed

[2018-01-23 22:59] jkotalik commented on #528
@jhkimnew to confirm, this doesn't work for in-process and out-of-process, correct?

[2018-01-23 23:04] jhkimnew commented on #528
That's correct.

[2018-01-23 23:11] jkotalik commented on #528
Seems like the out of process code wasn't ported correctly here: https://github.com/aspnet/AspNetCoreModule/blob/1.0.1985/src/AspNetCore/Src/forwardinghandler.cxx#L1387-L1424 to the forwarding handler: https://github.com/aspnet/IISIntegration/blob/dev/src/RequestHandler/outofprocess/forwardinghandler.cpp#L333. For in-process, I believe we can support the same behavior, though the statusCode for ea

[2018-01-23 23:21] jkotalik commented on #538
We don't need to forward the windows auth token at all because we can always access it in inprocess. Maybe if we are running in process, we can log that the windows auth token doesn't do anything. Otherwise I would say this is a non issue.

[2018-01-23 23:27] shirhatti commented on #538
Shouldn't the right behavior here be to suppress the windows auth token if `forwardWindowsAuthToken` is explicitly set to false. My motivation is to preserve as much parity in behavior between in-process and out-of-process.
If we don't suppress an app that works perfectly with in-process will break when you switch to out-of-process if it relied on this idiosyncratic behavior.

[2018-01-23 23:36] Tratcher commented on #538
The equivalent would be suppressing HttpContext.User, which could be possible.

[2018-01-24 00:51] jhkimnew opened #547 "ANCM: Inprocess: Exception error when app_offline.htm is put while Websocket connection is opened"
1. Open websocket connection to an aspnetcore app which is running in inprocess mode
2. Put app_offline.htm to the application

EXPECTED:

No error

ACTUAL:

Following exception error is detected by AppVerifier

[code]

[2018-01-24 00:54] jhkimnew opened #548 "ANCM: Inprocess: Appverifier error "A heap allocation was leaked. " when recycling IIS apppool while Websocket connection is opened"
1. Open websocket connection to an aspnetcore app which is running in inprocess mode
2. Recycle IIS worker process where the application was running

EXPECTED:

No error

ACTUAL:

Following AppVerifier error is shown.

[code]

[2018-01-24 18:44] jhkimnew commented on #548
It seems that there is an issue with shutdown events under inprocess mode in general. I ran into similar issue with a pending request scenario instead of using the original repro scenario.

For the pending request scenario, I put 20 seconds sleep time in the aspnetcore app before sending response and put app_offline.htm before the pending request is completed.

[2018-01-24 20:05] jhkimnew opened #550 "ANCM: Inprocess: If App fails becasue hostfxr.dll does not exist, we should make error event that the hostfx file not found"
1. Rename hostfxr.dll with a different file name such as C:\Program Files\dotnet\host\fxr\2.1.0-preview1-26110-02\_hostfxr.dll

2. Send a request

EXPECTED:

There is an windows event error which explains the hostfx.dll file not found.

ACTUAL:

There is an error event but that does not explain the root cause.
For example, I got this error but this does not give any hint on the root cause.

Applic

[2018-01-24 20:12] jkotalik commented on #550
Will be fixed by #533.

[2018-01-24 21:01] jhkimnew opened #551 "ANCM: Setup: Freb traceProviderDefinitions should be updated"
We need to add a new entry for ANCM Freb to the traceProviderDefinitions  configuration section like this:

[code]

[2018-01-24 22:12] jhkimnew opened #552 "ANCM: There should be better error handling for hostingModel value"
Currently the hostingModel value is a string value. So, users can do set a wrong value by mistake.
If the wrong value is configured, we show 500 error.
I checked Freb log but there was no hint on the root cause.

Here is the example scenario.

1. Set "bogusvalue" instead of "inprocess" for the hostingModel
2. Send a request to the application

EXPECTED:

Users should get some specific error in eit

[2018-01-24 22:34] jhkimnew opened #553 "ANCM: Inprocess: We don't show any additional information in Freb log unlike outofprocess mode"
We don't show any additional information in Freb log unlike outofprocess mode.
We have to show some useful information for inprocess mode as well so that users can utilize FREB log for troubleshooting.

[2018-01-25 01:18] #526 closed

[2018-01-25 12:28] rockerinthelocker commented on #507
This thread is somewhat confusing because IIS Application Initialization already works well with ASP.NET Core (via startMode="AlwaysRunning" and preloadEnabled="true" settings) to 'warm up' an ASP.NET Core application (i.e. via 'Configure' method). Can anyone shed some light on this? Thank you!

[2018-01-25 14:23] sergioadh commented on #507
AlwaysRunning and preloadEnabled control the application pool but not the ASP.NET Core app, which shuts down somehow. Even though the app pool is "warmed-up" the first requests will take a long time since the ASP.NET Core app is not "warmed-up".

[2018-01-25 15:18] tuespetre commented on #507
@jkotalik @rockerinthelocker:

The difference between this proposed feature and using the warmup/initialization module is that this proposed feature would not require a 'sentinel' web request to be issued to kick off the application. Additionally, when an application running under ANCM 'crashes', ANCM will simply wait until another request is issued to start up the application again. This is funda

[2018-01-25 19:10] pan-wang opened #555 "Grant requestTimeout for InProcess scenario"
For OutOfProcess case, ANCM grants the requestTimeout in configuration by setting WinHttp connection timeouts. For InProcess, we grant this timeout setting by flowing it to the managed layer.

[2018-01-25 19:14] #521 closed

[2018-01-25 19:15] pan-wang opened #556 "New error page for inprocess application start failure"
For OutOfProcess scenario, if ANCM failed to start the backend process, it will sent a special 502.5 page to the client with some diagnose hints,  if disableStartUpErrorPage is configured as FALSE (default). We should consider a similar page for inprocess scenario to help user debug the failure.

[2018-01-25 21:58] jhkimnew opened #557 "ANCM: APPLICATION::DereferenceApplication is used without using APPLICATION::ReferenceApplication"
1. Attach debugger to w3wp to put following break points

bp aspnetcore!APPLICATION::ReferenceApplication ".echo ReferenceApplication; g"
bp aspnetcore!APPLICATION::DereferenceApplication ".echo DereferenceApplication; g"

2. Recycle aspnetcore applications

EXPECTED:

The break points hit for both APPLICATION::DereferenceApplication() and APPLICATION::ReferenceApplication().

ACTUAL:

The break p

[2018-01-26 09:47] bpetersen1 commented on #226
What i do (Not sure if it's a proper way of doing it), is upload the site to another directory and switch paths in iis

[2018-01-26 18:30] rockerinthelocker commented on #507
@sergioadh , Well, it's up to the application developer to implement 'warm up' tasks to be executed on application start. There is no magic the ASP.NET Core module can do for developers.

@tuespetre , If it were possible to implement such a feature, no hosting provider would install the ASP.NET Core module on shared servers. Just imagine thousands of sites hosted on a server would 'warm up' on eac

[2018-01-26 20:59] Looooooka commented on #507
I realoy don't see what the problem is here. The module literally allows you to set a start url which is called when the pool is started. All you need to do is handle it and preload whatever you want.

[2018-01-26 22:39] sergioadh commented on #507
That's ok and good but the Kestrel server goes down even though the ApplicationPool is up, so when the app pool recycles it will send the request and we can get everything up and running but then Kestrel goes down and if a request comes in it takes a while to respond.

[2018-01-27 05:48] pan-wang commented on #507
@sergioadh I got your point now. This is doable. ANCM does listen on the process exit of Kestrel server. If the backend is down, ANCM can immediately start another one. We need a configure flag to allow user to tune the behavior. This can be feature for next release.

[2018-01-28 08:23] rockerinthelocker commented on #507
@pan-wang @jkotalik @Tratcher @muratg @coolcsh @davidfowl @DamianEdwards @halter73 , Simply restarting an application that might be unhealthy is certainly not the proper course of action; and probably not the job of the ASP.NET Core module anyway.

However, looking at how things are handled during application pool start/recycle/stop and site (application) start/restart/stop, it seems they are not

[2018-01-28 17:55] davidfowl commented on #507
I'm confused by this. A recycle is a stop then a start. Can you clarify what you mean here? What are you expecting?

Site starting in IIS AFAIK is just removing and adding bindings. There's no process activity associated with sites, just application pools (since those *are* the processes).

[2018-01-29 05:50] natemcmaster opened #565 "Reduce duplicate code in ANCM in-process tests"
Follow up to #562

 - Update tests to use the same collection fixture to reduce duplication
 - Figure out how to forward logging from a test fixture using ApplicationDeployer to ITestOutputHelper. Fixture currently uses `NullLoggerFactory`. This probably requires capturing the logs during fixture setup and duplicating it to the ITestOutputHelper when tests actually run.

cc @jkotalik

[2018-01-29 07:44] #537 closed

[2018-01-29 07:59] jkotalik opened #566 "Remove static application instance in inprocessapplication"
https://github.com/aspnet/IISIntegration/blob/dev/src/RequestHandler/inprocess/inprocessapplication.h#L104 is not needed anymore as we can reference the application through the inprocesshandler we pass in.

[2018-01-29 11:48] rockerinthelocker commented on #507
@davidfowl , Sure, the proper order of 'events' logged should be

2. Application Pool Recycle

Executing ApplicationStopping() event handler...
Executing ApplicationStopped() event handler...
Start executing Configure()...
Register event handlers for IApplicationLifetime.ApplicationStarted, IApplicationLifetime.ApplicationStopping, IApplicationLifetime.ApplicationStopped...
Finished executing Conf

[2018-01-29 17:42] jkotalik opened #568 "Improve configuration error messages when there is an invalid config."
- Log windows event log message when parsing a portion of configuration fails.  Make sure to put a fwlink in the event log message.

[2018-01-29 18:02] ryanbeaz commented on #467
Same here...any ideas?

[2018-01-29 18:10] jkotalik commented on #467
@mdevreeze interesting idea. I wonder if we can call "dotnet.exe --info" to check that.

@PRElias @ryanbeaz what is the error you are seeing from the windows event log? I believe the latest dotnet version is 2.0.5.

[2018-01-29 18:27] ryanbeaz commented on #467
Hey @jkotalik! I'm seeing:

failed to start process with commandline 'dotnet .\NameofDLL.dll', ErrorCode = '0x800004005 : 8000808c.

[2018-01-29 18:28] PRElias commented on #467
In my case it was the Identity used in the pool. The Default does not work

[2018-01-29 20:52] #515 closed

[2018-01-29 20:53] natemcmaster opened #569 "Allow enumerating all server variables"
Add a managed interface for enumerating all server variables.

Follow up to #562 which added a managed interface for fetching one server variable.

[2018-01-29 20:54] natemcmaster commented on #568
FYI - current error message looks like this: https://rawgit.com/natemcmaster/75850119721330b49e466154edc285b4/raw/43b58b1b89939649c1761108fb4d25c22e98ae86/error.html

[2018-01-30 01:52] jkotalik opened #572 "Add logging back in for ANCM inprocess tests."
- Deployer needs to have an ILoggerFactory to capture deployment errors.
- Each test needs to either use the same factory or create their own factory to log errors.

The main painpoint is the current logging providers are done through the ITestOutputHelper, which are injected in the constructors of the tests. The test fixture will run before the constructor of the test, so we need another way to c

[2018-01-30 17:17] davidfowl commented on #507
@rockerinthelocker can you update your logs to print the process ID prefixed on each of the lines?

[2018-01-30 19:32] rockerinthelocker commented on #507
@davidfowl , Thanks for the heads up! Indeed, the overlapped application pool recycle caused the confusion here. So, just the issue with site start is left.

[2018-02-01 16:10] Seakone commented on #368
Happened to me and solved adding this line as @wags troubleshooting. Dunno but this line missed in my *.csproj.

<RuntimeFrameworkVersion>1.1.1</RuntimeFrameworkVersion>.

[2018-02-01 20:47] praeclarum opened #575 "Cannot use routes that contain %2B"
I have the following routes:

[code]

This works great for urls like `/packages/foo/1/net`

However, if the `targetFramework` contains an escaped `+` as in: `/packages/foo/1/net%2Bother` then IIS (hosted as an Azure web app) says:

And it never runs my code. You can see it in action here: http://fuget.org/packages/sqlite-net-pcl Just click the yellow button.

The same URL works fine on Kestrel.

I

[2018-02-01 20:51] Tratcher commented on #575
What do you see in the application logs for that request?

[2018-02-01 20:55] jkotalik commented on #575
I think IIS Request Filtering will filter out '%2b': https://blogs.iis.net/nazim/use-of-special-characters-like-in-an-iis-url.

[2018-02-01 20:56] praeclarum commented on #575
Applog says:

[code]

[2018-02-01 20:58] praeclarum commented on #575
@jkotalik my god that's terrible. How do you turn all that off?

[2018-02-01 21:05] praeclarum commented on #575
I ended up creating a web.config file and put this in it:

[code]

It would be nice if Kestrel and IIS had the same defaults. I can't test on IIS and getting these deployment surprises isn't nice.

[2018-02-01 21:05] #575 closed

[2018-02-01 21:40] arunprasathv commented on #406
is there a different command to do Framework Dependent Deployment. Its recommended.

[2018-02-01 21:51] narind3rs commented on #420
The solution is to install Microsoft Visual C++ 2015 Redistributable Update 3 on the server. It can be downloaded from: https://www.microsoft.com/en-us/download/details.aspx?id=53840

Somehow, the Windows Server Hosting fails to install this. If you have already installed dot net core windows server hosting, you may need to reinstall after install Visual C++ update.

[2018-02-04 20:56] mfbasha commented on #420
Hi
I think you have to copy "Views" folder to the published project folder aside with WWWroot folder
in general if you stuck at any point you can use the following code at Program.cs

 WebHost.CreateDefaultBuilder(args)
             //.UseKestrel(options => {
             //    options.Listen(IPAddress.Loopback, 62145);
             //})
            .UseKestrel()
            .UseApplicationInsight

[2018-02-05 18:25] muratg commented on #519
@jkotalik close?

[2018-02-05 18:36] #519 closed

[2018-02-05 19:23] mduey opened #579 "Web API returns 404"
I am using Visual Studio 17 (v 15.3.5) to create a .NET Core **Web API** and a **Web Application**.  For both projects, I used the defaults without changes and they both run fine on my workstation.

I then publish them (using Folder option) to my Windows 2008 SP2 server with IIS.  I have installed the .NET Core Windows Server Hosting bundle on the server following instructions from [https://docs.m

[2018-02-05 19:35] enginaar commented on #420
@narind3rs reinstalled it even though there was a new version already installed. It didn't make any difference. Actually, Microsoft Visual C++ 2017 removes 2015 when installing and you cannot install 2015 if 2017 is already installed so, I'm not sure what changed.

@mfbasha I'm using error logging, thanks. UseIISIntegration is also being called, I'm not seeing anything else in your builder that co

[2018-02-05 20:52] Eilon commented on #461
@muratg / @jkotalik - anything to do here for preview1?

[2018-02-05 20:53] jkotalik commented on #461
Push this to preview2. I have a WIP branch to implement this but I need to do a bit of redesign.

[2018-02-05 21:06] Eilon commented on #461
I'll let @muratg do the honors.

[2018-02-05 21:14] jkotalik commented on #498
An update on this, we are only seeing failures for out of process tests. We can push this to preview2, however I would like to try fixing this asap.

[2018-02-05 21:25] shirhatti commented on #536
@jkotalik / @pan-wang Has it been verified that appending the environment variables will work? @BillHiebert is relying on this feature to work for tooling

[2018-02-05 21:57] Tratcher commented on #579
Why do you think it would work without `/api/values`? What outer values were you expecting to work?

[2018-02-05 22:17] muratg commented on #569
Triage decision: We won't really need this.

[2018-02-05 22:17] #569 closed

[2018-02-05 22:20] enginaar commented on #420
Same files on Windows Server 2012 with IIS 8.5 and there is no error message logged anymore. I even went ahead and everyone all the permission to write to website folder with no luck of figuring out why it's not logging anymore.

Am I making a huge mistake using .net core for production?

[2018-02-05 22:20] #565 closed

[2018-02-05 22:21] muratg commented on #557
@pan-wang could you check if this is done and close it accordingly? Thanks.

[2018-02-05 22:24] muratg commented on #556
@shirhatti Could you check with @blowdart?

[2018-02-05 22:26] blowdart commented on #556
I'm going to need to know what is in the page, what circumstances send it, and if it's available to anyone on a crash, or just, say, to people accessing localhost

[2018-02-05 22:30] muratg commented on #555
@jkotalik will sync up with @Tratcher on this regarding http.sys features around this. That may mitigate the need for this one.  Tentatively putting this in preview2, but we may move it out.

[2018-02-05 22:30] Tratcher commented on #556
![image](https://user-images.githubusercontent.com/1821173/35832181-1f274bda-0a81-11e8-9734-fffaf83fe392.png)

[2018-02-05 22:33] Tratcher commented on #555
Http.Sys has no matching feature. It has request header parsing timeouts and rate limiting, but there's no timeout on application request processing like ANCM had.

[2018-02-05 22:35] muratg commented on #553
@shirhatti to look into this a bit more.

[2018-02-05 22:43] muratg commented on #551
@pan-wang Could you move this to the internal setup repo and close this one? Thanks.

[2018-02-05 22:44] muratg commented on #550
@jkotalik #533 is merged. Please verify if this can be closed.

[2018-02-05 22:45] #493 closed

[2018-02-05 22:45] muratg commented on #493
@tkallsen If you're still seeing issues, please let me know.

[2018-02-05 22:47] #495 closed

[2018-02-05 23:12] muratg commented on #555
@Tratcher I think this was about header parsing timeout.

[2018-02-05 23:21] Tratcher commented on #555
No, https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module.

The in-proc corollary is waiting for the application to process the request.

[2018-02-05 23:54] blowdart commented on #556
Oh just static? With nothing else? That's fine then.

[2018-02-06 01:06] mduey commented on #579
I don't expect other URL values to work, I was just noting that it returns a 404 when I do and that my original problem does not stem from the fact that I was using the wrong URL.

One more  new item to note is that if I add the following app.Run() statement after the app.UseMvc():

`app.UseMvc();`
` app.Run(async (context) =>`
      ` {`
          ` await context.Response.WriteAsync("MVC did not

[2018-02-06 01:12] Tratcher commented on #579
@mkArtakMSFT can you redirect this?

[2018-02-06 08:30] zoamer commented on #420
@enginaar Same issue, same question...

[2018-02-06 15:21] enginaar commented on #420
@zoamer

I found the solution in adding a singleton instance of HttpContextAccessor to services in ConfigureServices method of Startup class. Strangely this is not needed when debugging.

`services.AddSingleton<IHttpContextAccessor, HttpContextAccessor>();`

[2018-02-07 06:51] zoamer commented on #420
@enginaar Thanks for reply!

Somehow i found out that this line of code was already existing in my solution, as this is also needed for the NLog.Net NuGet package.

For me the application was also running fine in debugger. On server after publishing i got 500 error.
Found out that the dotnet run command was working fine in the console, without any errors... So i **updated Node.js** on both build a

[2018-02-08 03:24] jkotalik commented on #436
Will be done by #576

[2018-02-12 14:32] juggleking commented on #311
I could bypass the issue by putting my staticfileshosting in the startup on no-cache,no-store.

[2018-02-12 22:16] #426 closed

[2018-02-12 22:21] muratg commented on #556
This is for cases where the app failed to load. Otherwise, if the app is working, Developer Exception Page could be used instead.

[2018-02-12 22:23] blowdart commented on #556
Oh, I missed "today".

OK, so what information, and under what circumstances? Would the environment affect the information displayed?

[2018-02-12 22:32] shirhatti commented on #556
We're still designing this. Thinking out loud we want to control it via [web.config](https://github.com/aspnet/IISIntegration/blob/dev/src/AspNetCore/aspnetcore_schema.xml#L27) or an env variable.

[2018-02-12 22:34] muratg commented on #555
Per triage, we won't be doing this.

[2018-02-12 22:34] #555 closed

[2018-02-12 22:34] #550 closed

[2018-02-12 22:35] #548 closed

[2018-02-12 22:36] muratg commented on #536
@BillHiebert @jkotalik will be working on this soon.

[2018-02-12 22:38] muratg commented on #520
This is not a high impact issue. Closing.

[2018-02-12 22:38] #520 closed

[2018-02-12 22:39] muratg commented on #433
HTTP.SYS already provides this. No need to do it on ANCM level.

[2018-02-12 22:40] muratg commented on #373
@jkotalik is assigned another issue tracking this.

[2018-02-12 22:40] #373 closed

[2018-02-12 22:42] muratg commented on #433
@jhkimnew Could you verify what the behavior here is? @pan-wang has some concerns about the case where app sets a content length header.

[2018-02-12 22:43] muratg commented on #350
Done

[2018-02-12 22:43] #350 closed

[2018-02-12 22:44] Tratcher commented on #433
HTTP.SYS doesn't provide this. Does IIS? Is an error surface to the application code when they've written too many or too few bytes?

[2018-02-12 22:45] muratg commented on #579
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-12 22:45] #579 closed

[2018-02-12 22:46] muratg commented on #551
Done

[2018-02-12 22:46] #551 closed

[2018-02-12 22:47] Tratcher commented on #556
What's changed from when we designed this a few years ago and decided a static page was the only possible safe content?

[2018-02-12 22:49] muratg commented on #413
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-12 22:49] #413 closed

[2018-02-12 22:50] muratg commented on #378
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-12 22:50] #378 closed

[2018-02-12 22:50] muratg commented on #387
There are other bugs tracking this.

[2018-02-12 22:50] #387 closed

[2018-02-12 22:51] muratg commented on #401
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-12 22:51] #401 closed

[2018-02-12 22:51] #407 closed

[2018-02-12 22:51] muratg commented on #407
Done

[2018-02-12 22:52] muratg commented on #408
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-12 22:52] #408 closed

[2018-02-12 22:53] muratg commented on #409
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-12 22:53] #409 closed

[2018-02-12 22:56] muratg commented on #420
@pan-wang @shirhatti

[2018-02-12 22:57] muratg commented on #431
Won't be doing this.

[2018-02-12 22:57] #431 closed

[2018-02-12 22:59] #451 closed

[2018-02-12 23:00] muratg commented on #458
cc @shirhatti who will collect this and related bugs in a uber diagnostics-features list.

[2018-02-12 23:01] muratg commented on #459
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-12 23:01] #459 closed

[2018-02-12 23:03] muratg commented on #460
This should work, but we'll need to test this.

Related #306

[2018-02-12 23:03] muratg commented on #463
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-12 23:03] #463 closed

[2018-02-13 00:01] shirhatti commented on #538
@Tratcher What should we do here? I don't feel strongly enough about it one way orthe other.

Option 1: Do nothing. You cannot suppress HttpContext.User
Option 2:  Suppress HttpContext.User based on your web.config

[2018-02-13 00:08] Tratcher commented on #538
Brock or Dominick wanted the ability to suppress HttpContext.User as it messes you up if you're trying to do some other kind of auth for some endpoints. Today they do it with IISOptions.AutomaticAuthentication = false, and we should preserve an in-code equivalent.

I'd only preserve forwardWindowsAuthToken as an effort to make in-proc and out-of-proc consistent and compatible. I.e. for users alrea

[2018-02-13 00:15] shirhatti commented on #556
Think developer exception page, but for startup failures instead.

Off by default, but makes it way easier to diagnose startup failures than having to look at event logs and redirecting stdout logs.

[2018-02-13 00:18] Tratcher commented on #556
So the equivalent of ASPNETCORE_CAPTURESTARTUPERRORS and ASPNETCORE_DETAILEDERRORS in Hosting? Better use the same settings.

[2018-02-13 01:26] jkotalik opened #580 "Uber issue for Server Shutdown"
Associated issue for PR #576.

Will fix many AV issues on requests and responses. Will also allow for recycle and app_offline to work when there is a pending request.
Issues that will be resolved:

- [x] #436
- [x]  #548
- [x]  #542
- [x]  #547

[2018-02-13 01:33] jkotalik opened #581 "Uber issue for Diagnostics"
- [ ] #568
- [ ] #556
- [ ] #553
- [ ] #552
- [ ] #542
- [ ] #516
- [ ] #593
@shirhatti if you find any others please edit the issue.

[2018-02-13 01:41] shirhatti commented on #581
I've been adding a diagnostics label. I'll cross-check against that later

[2018-02-13 02:10] jkotalik commented on #487
I ran into this issue when publishing multiple applications via dotnet publish:
[code]

[2018-02-13 04:53] jkotalik commented on #432
@muratg unassigning as we won't do this for preview2.

[2018-02-13 04:55] jkotalik commented on #466
@BillHiebert @shirhatti is this complete through the project capability?

[2018-02-13 05:25] jkotalik commented on #536
@pan-wang @Tratcher we need to confirm if any environment variables need to be modified from their original values. The out of process code does manipulation on the auth environment variables, but features like hostingstartup may need to be modified.

[2018-02-13 05:33] Tratcher commented on #536
List the variables and values you're concerned about.

[2018-02-13 05:49] jkotalik commented on #536
Here are the ones I can find.
[code]

[2018-02-13 06:09] Tratcher commented on #536
The IIS_AUTH variables are not interesting, we can handle those in directly.

For HOSTING_STARTUP_ASSEMBLIES we could keep adding IISIntegration if we wanted. Low priority.

[2018-02-13 06:14] pan-wang commented on #536
For out of process,  as we don't allow user to set those values, we have to check and replace the value. For in process, the authentication value is not read from environment variable, you can just filer them out.

[2018-02-13 07:58] agnimitra commented on #467
I ran through the same issue today and have fixed by changing web.config file.
[https://stackoverflow.com/questions/38624453/asp-net-core-1-0-on-iis-error-502-5/48761913#48761913](https://stackoverflow.com/questions/38624453/asp-net-core-1-0-on-iis-error-502-5/48761913#48761913)

[2018-02-13 08:29] agnimitra commented on #406
I ran through the same issue today and have fixed by changing web.config file.
[https://stackoverflow.com/questions/38624453/asp-net-core-1-0-on-iis-error-502-5/48761913#48761913](https://stackoverflow.com/questions/38624453/asp-net-core-1-0-on-iis-error-502-5/48761913#48761913)

[2018-02-13 20:55] anurse opened #584 "Disable HTTP Upgrade feature when WebSockets are not available"
## Out-of-proc

* ANCM sets `ASPNETCORE_WEBSOCKETS_SUPPORTED` environment variable to `true` if WebSockets module is installed **and** OS Version > Windows 7. Or `false` otherwise
* IIS Integration middleware reads this environment variable (defaults to `true` if not present)
* If `ASPNETCORE_WEBSOCKETS_SUPPORTED` = `false`: Remove the `IHttpUpgradeFeature` from the request features
* Else: do not

[2018-02-13 20:57] anurse commented on #584
/cc @muratg for pre-triaged visibility

[2018-02-14 00:08] jhkimnew commented on #433
I checked the current IIS code how it handles content-length. Here is a simplified algorithm.

1. If there is a single response (no more data to send), IIS simply the content-length header if it is not HEAD request. That means http.sys should set content-length.
2. If the response is not a single response (more data left to complete the response), IIS does not delete header trusting application se

[2018-02-14 07:30] davidfowl commented on #433
It's interesting that IIS doesn't have this check. I wonder why... Also I wonder if ASP.NET handled this at all.

[2018-02-14 07:31] shirhatti opened #586 "Test ANCM websockets against the Autobahn Test Suite"
See [this](https://github.com/aspnet/WebSockets/tree/dev/test/Microsoft.AspNetCore.WebSockets.ConformanceTest) for reference

[2018-02-14 07:59] shirhatti opened #587 "TCP packet size too small causing poor throughput"
Originally reported by @mateanticevic

AspNetCore MVC 1.1.1 ~675kB ~11500 packets ~2s download

![image](https://user-images.githubusercontent.com/4734691/36193084-4d097278-1119-11e8-9e06-9b76c455648c.png)

Web forms ~675kB ~750 packets ~200ms download

![image](https://user-images.githubusercontent.com/4734691/36193087-50509790-1119-11e8-95a0-f12cec786a24.png)

[2018-02-14 08:02] shirhatti commented on #587
@mcy94w Is it possible to capture packet sizes and number of packets in a one-off run as part of your ANCM perf tests?

[2018-02-14 08:03] jkotalik commented on #586
File this issue for Websockets. See: https://github.com/aspnet/WebSockets/blob/dev/test/AutobahnTestApp/Program.cs and https://github.com/aspnet/Home/issues/2865.
@anurse do we already test ANCM with Autobahn?

[2018-02-14 09:20] shirhatti opened #588 "Add retrying counters to avoid creating too many ASPNETCORE_APPLICATIONS"
_From @jkotalik on September 15, 2017 18:28_

In the in process scenario, if we fail to create an ASPNETCORE_APPLICATION, we should only retry a few times before always rejecting it completely. @pan-wang

_Copied from original issue: aspnet/AspNetCoreModule#159_

[2018-02-14 09:20] shirhatti commented on #588
_From @muratg on October 2, 2017 16:59_

@shirhatti Is there anything in IIS or its ecosystem that can handle this type of scenario?

[2018-02-14 09:20] shirhatti commented on #588
@muratg Rapid failure protection in IIS only kicks in if you're crashing the process. Since this is gracefully handled, this according to IIS is no different from a bad request.

[2018-02-14 10:56] Netstep commented on #227
I have the same issue, ASP.NET core 2.0

[2018-02-14 12:13] mateanticevic commented on #587
Thank you for opening this issue.
I noticed you've copied the wrong image for the Web forms example.

[2018-02-14 16:20] pan-wang commented on #588
Out of process already has this rapid failure protection mechanism. In process,  the behavior should be to response 500 error and let user manually reconfigure it instead of crashing w3wp which will lead to site disabling.

[2018-02-14 17:49] muratg commented on #227
@Netstep

0) What OS are you running on? What does your references look like? Is your Kestrel an edge server or are you running it under IIS/nginx/etc?

1) If Windows/IIS: did you run the dataprotection provisioning script on the server? [(Docs)](https://docs.asp.net/en/latest/hosting/dataprotection.html), [(script)](https://github.com/aspnet/DataProtection/blob/dev/Provision-AutoGenKeys.ps1)

2)

[2018-02-14 18:00] anurse commented on #586
Is this about in-proc or out-of-proc? When I originally asked for ANCM to run autobahn it was about having ANCM use a known-good WebSocket server (perhaps ours, but perhaps even just a well-known existing server in Node, or the Autobahn Python-based server itself) and run the Autobahn suite against ANCM in that configuration. The goal was to be able to ensure ANCM didn't regress any WebSocket supp

[2018-02-14 18:03] anurse commented on #586
I also suggested testing the "WebSocket Module" itself in a way that was as isolated from ANCM/ASP.NET Core as possible. Basically just looking for ANCM/IIS to have a suite of compatibility tests running for it's various WebSocket scenarios.

https://github.com/aspnet/AspNetCoreModule/issues/80#issuecomment-291252474